@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.GinasLoad
@import ix.ginas.exporters.ExportMetaData
@import ix.core.util.EntityUtils.EntityWrapper

@(job: ExportMetaData, poll: String = "false")

<div class="panel panel-default sub-list">
    <div class= "panel-body list-item">
    	<div ng-controller="ExportJobController" ng-init="init(@EntityWrapper.of(job).toFullJson(), @poll)">
    	<div class="panel-heading sub-title">
	        <div class = "row">
	            <div class = "col-md-10">
	                <h3><a href="@ix.ginas.controllers.routes.GinasApp.downloadView(job.id)" target="_self">@job.getDisplayFilename()</a></h3>
	            </div>
	            <div class = "col-md-2 prot-approvID">
	                <h4 class= "text-right"><a href="@ix.ginas.controllers.routes.GinasApp.downloadView(job.id)" target="_self"><code>{{state.status}}</code></a></h4>
	            </div>
	        </div>
	    </div>
        <div class = "row">
            <div class = "col-md-3">
                <div class ="row">
                    <div class = "col-md-8 col-md-offset-1 text-center">
                          <div ng-if="!state.complete">
                                <i class="fa fa-cog fa-5x fa-spin"></i>
                                <div>Processing export ... </div>
                          </div>
                          <div ng-if="state.complete">
                                <a href="{{state.downloadUrl}}" target="_self">
                                <i class="fa fa-download fa-5x"></i>
                                <div>(click to download)</div>
                                </a>
                          </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-7">
                <div class = "row">
	                 <div class = "col-md-12">
                        Number of Records: <h6>{{state.numRecords}}</h6>
                    </div>
                </div>
                <div ng-if="state.originalQuery">
                <div class = "row">
	                 <div class = "col-md-12">
                        Original URL: <h6><a href="{{state.originalQuery}}" target="_self">{{state.originalQuery}}</a></h6>
                    </div>
                </div>
                </div>
                
                
            </div>
            <div class = "col-md-2">
                <div class = "row">
                    <div class = "col-md-12">
                        Date started: <h6>{{moment(state.started)}}</h6>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                        Date ended: <h6>{{moment(state.finished)}}</h6>
                    </div>
                </div>
            </div>
        </div>
    
    	</div>
    
    </div>
    
</div>
