@(home: String)

<div class="hidelink"><a href="#content1" tabindex="1">Skip to main content</a></div>
   <!-- BANNER AND MENU -->
    <div class="navbar">
        <div class="navbar-pad">
            <div class="container-fluid" style="padding:0px;">
                <div class="ribbon"></div>
                <div class="ribbon-art">
                   <a href="http://www.hhs.gov" target="new"> <img
						src='@routes.Assets.at("images/hhs.png")'
						alt="U.S. Department of Health &amp; Human Services eagle logo" /></a> <a
						href="http://www.hhs.gov"
						title="U.S. Department of Health &amp; Human Services"
						target="new">U.S. Department of Health & Human Services </a> <img
						src='@routes.Assets.at("images/divider.png")' alt="" /> <a
						href="http://www.nih.gov" target="new"> <img
						src='@routes.Assets.at("images/nih-ribbon.png")'
						alt="National Institutess of Health" /></a> <a
						href="http://www.nih.gov" title="National Institutess of Health"
						target="new">National Institutes of Health</a> <img
						src='@routes.Assets.at("images/divider.png")' alt="" /> <a
						href="http://www.nih.gov" target="new"> <img
						src='@routes.Assets.at("images/nih-ribbon.png")'
						alt="National Center for Advancing Translational Sciences" /></a> <a
						href="http://www.ncats.nih.gov"
						title="National Center for Advancing Translational Sciences"
						target="new">National Center for Advancing Translational
						Sciences</a>
</div>
                </div>
           <!--       <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                
                    <div class="row-fluid jumbotron" id="banner">
                        <div class="col-md-3">
                            <a href="http://www.ncats.nih.gov" target="new"><img class="NCATSimg" src='@routes.Assets.at("images/NIH_NCATS_Master_Logo.png")' alt="National Center for Advancing Translational Sciences" />
                            </a>

                        </div>
                        <div class="col-md-8">
                            <div id = "brand">
                                <h1></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>