@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp

@(sub: ix.ginas.models.v1.ChemicalSubstance)


@structureImage(s: Structure, size: Integer) = {
    <img class="struc-thumb img-responsive" alt="Structure of @sub.getName" title="Structure of @sub.getName"
    src='@ix.ncats.controllers.routes.App.structure(s.id, "svg", size)'>
}

@makeTable(s: Structure, stype: String) = {
    <table class="table @stype-Table">
        <thead>
            <tr>
                @if(stype == "moiety") {
                    <th>Moiety Structure</th>
                    <th>Moiety Count</th>
                    <th>Moiety StereoChemistry</th>
                    <th>Moiety Optical Activity</th>
                    <th>Moiety Additional Stereochemistry</th>
                }
                <th>Molecular Formula</th>
                <th>Molecular Weight</th>
                <th>Defined Stereocenters</th>
                <th>EZ Centers</th>
                <th>Charge</th>
                <th>Reference</th>

            </tr>
        </thead>
        @fillTable(s, stype)
    </table>
}

@fillTable(s: Structure, stype: String) = {
@if(stype == "structure") {
    <tr>
        <td>@s.formula</td>
        <td>@s.mwt</td>
        <td><span class="badge">@s.definedStereo / @s.stereoCenters</span></td>
        <td><span class="badge">@s.atropisomerism</span></td>
        <td><span class="badge">@s.charge</span></td>
        @referencetable(GinasApp.getStructureReferences(s), "hi", 6)
    </tr>
}
@if(stype == "moiety") {
    @for(m <- sub.moieties) {
        <tr>
            <td>@structureImage(m.structure, 150)</td>
            <td><span class="badge badge-primary">@m.count</span></td>
            <td><span class="badge">@m.structure.stereoChemistry</span></td>
            <td><span class="badge">@m.structure.opticalActivity.toValue()</span></td>
            <td><span class="badge">@m.structure.atropisomerism</span></td>
            <td>@m.structure.formula</td>
            <td>@m.structure.mwt</td>
            <td><span class="badge">@m.structure.definedStereo / @m.structure.stereoCenters</span></td>
            <td><span class="badge">@m.structure.atropisomerism</span></td>
            <td><span class="badge">@m.structure.charge</span></td>
            @referencetable(GinasApp.getStructureReferences(m.structure), "hi", 6)
        </tr>
    }
}
}
@substancedetails(sub) {
    <div class = "row">
        <div class = "col-md-9">
            <h4>Chemical Substance</h4>
        </div>
    </div>
    <div class="row info" id="structureDetails">
        <h3>
            <span class="label label-primary label-offset" id = "struc-label">Structure</span>
        </h3>
        <div class="col-md-5">
            <div class = "row">
            @structureImage(sub.structure, 400)
            </div>
            <div class = "row">
                <div class = "col-md-6 col-md-offset-6">
                    <ul class= "form-inline pull-right list-unstyled" id = "exportSave">
                        <li><button type="button" class="btn navbar-btn btn-primary" id = "strucExport"
                        data-toggle="modal"
                        data-target="#structureExport">Export</button></li>
                        <li>

                            <button type="button" class="btn navbar-btn btn-primary" id = "strucSearch"
                            data-toggle="modal"
                            data-molurl='@ix.ncats.controllers.routes.App.structure(sub.structure.id, "mol")'
                            data-target="#strucModal"><span class="fa fa-search"></span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">@makeTable(sub.structure, "structure")</div>
    </div>
    @if(sub.moieties.length > 0) {
        <div class="row info" id="moieties">
            <button class="btn btn-primary label-offset det">
                Moieties&nbsp;<span class="badge"> @sub.moieties.length</span></button>
            <div class="col-md-12">@makeTable(sub.structure, "moiety")</div>
        </div>
    }
    @molexport(sub.structure.molfile, sub.getName(), sub.approvalID)
}