@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp

@(sub: ix.ginas.models.v1.ChemicalSubstance)


@structureImage(s: Structure, size: Integer, showstereo: Boolean = false) = {
    <img class="struc-thumb img-responsive" alt="Structure of @sub.getName" title="Structure of @sub.getName"
    src='@ix.ginas.controllers.routes.GinasApp.structure(s.getId(), "svg", size)'>
    @if(showstereo){
     <table class="table">
        <thead>
            <tr>
                    <th>Stereochemistry</th>
                    <th>Optical Activity</th>
                    <th>Additional Stereochemistry</th>
            </tr>
        </thead>
    <tr>
    <td><span class="badge">@s.stereoChemistry</span></td>
            <td><span class="badge">
            @if(s.opticalActivity!=null){
                @s.opticalActivity.toValue()
            }else{
                @s.opticalActivity
            }
            </span></td>
            <td><span class="badge">@s.atropisomerism</span></td>
            </tr>
            </table>
    }
    
}

@makeTable(s: Structure, stype: String) = {
    <div class="table-responsive">
    <table class="table @stype-Table">
        <thead>
            <tr>
                @if(stype == "moiety") {
                    <th>Moiety Structure</th>
                    <th>Moiety Count</th>
                    <th>Moiety Stereochemistry</th>
                    <th>Moiety Optical Activity</th>
                    <th>Moiety Additional Stereochemistry</th>
                }
                <th>Molecular Formula</th>
                <th>Molecular Weight</th>
                <th>Defined Stereocenters</th>
                <th>EZ Centers</th>
                <th>Charge</th>
                @if(stype != "moiety") {
                    <th>Reference</th>
                }
            </tr>
        </thead>
        @fillTable(s, stype)
    </table>
        </div>
}

@fillTable(s: Structure, stype: String) = {
@if(stype == "structure") {
    <tr>
        <td>@s.formula</td>
        <td>@s.mwt</td>
        <td><span class="badge">@s.definedStereo / @s.stereoCenters</span></td>
        <td><span class="badge">@s.atropisomerism</span></td>
        <td><span class="badge">@s.charge</span></td>
        @referencetable(GinasApp.getStructureReferences(s), "hi", 6)
    </tr>
}
@if(stype == "moiety") {
    @for(m <- sub.moieties) {
        <tr>
            <td>@structureImage(m.structure, 150)</td>
            <td><span class="badge badge-primary">@m.count</span></td>
            <td><span class="badge">@m.structure.stereoChemistry</span></td>
            <td><span class="badge">
            @if(m.structure.opticalActivity!=null){
                @m.structure.opticalActivity.toValue()
            }else{
                @m.structure.opticalActivity
            }
            </span></td>
            <td><span class="badge">@m.structure.atropisomerism</span></td>
            <td>@m.structure.formula</td>
            <td>@m.structure.mwt</td>
            <td><span class="badge">@m.structure.definedStereo / @m.structure.stereoCenters</span></td>
            <td><span class="badge">@m.structure.ezCenters</span></td>
            <td><span class="badge">@m.structure.charge</span></td>
        </tr>
    }
}
}
@substancedetails(sub){
    <li role="presentation"  class="active"><a href="#structureDetails" prevent-default="" ng-click="scrollTo('structureDetails')">Structure</a></li>
    @if(sub.moieties.length>0){
        <li role="presentation"><a href="#moieties" prevent-default=""  ng-click="scrollTo('moieties')" >Moieties <span class="badge">@sub.moieties.length</span></a></li> }
} {
    <div class="row info" id="structureDetails">
        <h3>
            <span class="label label-primary label-offset" id = "struc-label">Structure</span>
        </h3>
        <div class="col-md-5">
            <div class = "row">
            @structureImage(sub.structure, 400,true)
            </div>
            <div class = "row">
                <div class = "col-md-6 col-md-offset-6">
                    <ul class= "form-inline pull-right list-unstyled" id = "exportSave">
                        <li  class = "padded"> <export-button structureid ="'@sub.structure.id'" ></export-button></li>
                        <li class = "padded"><a ng-href="@ix.ginas.controllers.routes.GinasFactory.structuresearch()" target="_self" ng-click=passStructure('@sub.structure.id')" class="btn btn-primary" aria-label="Structure Search"> <span class="fa fa-search chem-button"></span></a>
                        </li>
                        <li class = "padded">
                            <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(sub))"  target="_self" class="btn btn-primary" aria-label="Edit Substance"> <span class="fa fa-wrench chem-button"></span></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">@makeTable(sub.structure, "structure")</div>
    </div>
    @if(sub.moieties.length > 0) {
        <div class="row info" id="moieties">
            <button class="btn btn-primary label-offset det">
                Moieties&nbsp;<span class="badge"> @sub.moieties.length</span></button>
            <div class="col-md-12">@makeTable(sub.structure, "moiety")</div>
        </div>
    }
}

