@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.ChemicalSubstance



@(chem: ChemicalSubstance)

<div class = "col-md-3 thumb-col">
    <div class="panel panel-default">
        <div class="panel-heading">

            <p class="text-right" data-toggle="tooltip" title="Approval ID">
                <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(chem))" target="_self">
                    <code>@chem.approvalID</code></a></p>
        </div>
        <div class="panel-body struc-img">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(chem))" target="_self">
                <img class = "struc-thumb img-responsive" alt="Structure of @chem.getName()"
                src='@ix.ncats.controllers.routes.App.structure(chem.structure.getId, "svg", 200)'>
            </a>
            <div class = "row stereo">
                <div class = "col-md-10">
                    @if(chem.structure.stereoChemistry == Structure.Stereo.ACHIRAL) {
                        <span class="label label-primary label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.ABSOLUTE) {
                        <span class="label label-success label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.RACEMIC) {
                        <span class="label label-info label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.MIXED) {
                        <span class="label label-default label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.EPIMERIC) {
                        <span class="label label-warning label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.UNKNOWN) {
                        <span class="label label-danger label-offset">@chem.structure.stereoChemistry</span>
                    }

                </div>

            </div>
        </div>
        <div class = "panel-footer nameDiv" data-toggle="tooltip" title="@chem.getName()">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(chem))" target="_self">
            @GinasApp.truncate(chem.getName())
            </a>
            <div class = "row">
                <div class = "col-md-12">
                    <ul class= "list-inline pull-right list-unstyled">
                        <li><export-button structureid ="'@chem.structure.id'" ></export-button>
                          </li>

                        <li><a ng-href="@ix.ginas.controllers.routes.GinasFactory.structuresearch()" target="_self" ng-click="ginasCtrl.passStructure('@chem.structure.id')" class="btn btn-primary" aria-label="Structure Search"> <span class="fa fa-search chem-button"></span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!--END panel panel-primary-->
