@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.ChemicalSubstance



@(chem: ChemicalSubstance)

<div class = "col-md-3 thumb-col">
    <div class="panel panel-default">
        <div class="panel-heading">

            <p class="text-right" data-toggle="tooltip" title="Approval ID">
                <a href="@ix.ginas.controllers.routes.GinasApp.chemical(GinasApp.getId(chem))">
                    <code>@chem.approvalID</code></a></p>
        </div>
        <div class="panel-body struc-img">
            <a href="@ix.ginas.controllers.routes.GinasApp.chemical(GinasApp.getId(chem))">
                <img class = "struc-thumb img-responsive" alt="Structure of @chem.getName()"
                src='@ix.ncats.controllers.routes.App.structure(chem.structure.id, "svg", 200)'>
            </a>
            <div class = "row stereo">
                <div class = "col-md-10">
                    @if(chem.structure.stereoChemistry == Structure.Stereo.ACHIRAL) {
                        <span class="label label-primary label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.ABSOLUTE) {
                        <span class="label label-success label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.RACEMIC) {
                        <span class="label label-info label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.MIXED) {
                        <span class="label label-default label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.EPIMERIC) {
                        <span class="label label-warning label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.UNKNOWN) {
                        <span class="label label-danger label-offset">@chem.structure.stereoChemistry</span>
                    }

                </div>

            </div>
        </div>
        <div class = "panel-footer nameDiv" data-toggle="tooltip" title="@chem.getName()">
            <a href="@ix.ginas.controllers.routes.GinasApp.chemical(GinasApp.getId(chem))">
            @GinasApp.truncate(chem.getName())
            </a>
            <div class = "row">
                <div class = "col-md-12">
                    <ul class= "list-inline pull-right list-unstyled">
                        <li>
                            <button type="button" class="btn btn-default btn-sm"
                            data-toggle="modal"
                            data-target="#@chem.approvalID-mol"><i class="fa fa-external-link chem-button"></i></button></li>
                        @molexport(chem.structure.molfile, chem.getName(), chem.approvalID)
                        <li><button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                        data-molurl='@ix.ncats.controllers.routes.App.structure(chem.structure.id, "mol")'
                        data-target="#strucModal"><span class="fa fa-search chem-button"></span></button>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!--END panel panel-primary-->
