@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.Substance
@import ix.ginas.models.v1.ChemicalSubstance
@import ix.ginas.models.v1.ProteinSubstance
@import ix.ncats.controllers.App.FacetDecorator



@(current: Int, rows: Int, total: Int, pages: Array[Int],

        facets: Array[FacetDecorator], substances: List[ChemicalSubstance])

@content("Substances", "ix.ginas.models.v1.Substance", ix.ginas.controllers.routes.GinasApp.chemicals().url,
    current, rows, total, pages, facets) {
    @menu()
} {
    <div></div>
} {

    <div class= "panel-body">
        <div class = "row collapse hidden-xs" id ="grid">
            @for(sub <- substances){
                @sub match{
                    case chem:ChemicalSubstance=>{
                        @chemthumb(chem)
                    }

                    case _ =>{

                    }
                }


            }

        </div>
        <div class = "row collapse in" id ="list">
        @for(sub <- substances){
            @sub match{
                case chem:ChemicalSubstance=>{
                    @chemlist(chem)
                }

                case _ =>{

                }
            }


        }

        </div>
    </div>
}

