@import ix.ginas.controllers.v1.CVFactory;
<div class = "row" ng-controller="CodeController as CodeCtrl" >
    <button class="btn btn-primary label-offset det">
                        Codes&nbsp;<span class="badge" ng-show="substance.codes.length>0">
                        {{substance.codes.length}}</span> </button>
    <a ng-show="!addingCodes" ng-click="addCodes()" aria-label="Add Codes"><i class = "fa fa-plus fa-2x success"></i></a>
    <div class="col-md-12">
        <table class="table table-striped" id="codesTable">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Reference ID</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="code in substance.codes">
                <td>
                                    {{code.code}}
                </td>
                <td>
                                    {{code.type.display}}
                </td>
                <td>
                                    {{code.description}}
                </td>
                <td>
                    {{code.references.id}} {{code.references.citation}}

                </td>
                <td>
                    <a ng-show="!isEditingCode" ng-click="setEditedCode(code); toggleEditCode();" aria-label="Edit"><i class="fa fa-pencil-square-o fa-2x success"></i></a>
                </td>
                <td>
                    <a ng-show="!isEditingCode" ng-click="removeCode(code)" aria-label="Remove"><i class="fa fa-times fa-2x danger"></i></a>
                </td>
            </tr>
            <tr ng-show="isEditingCode">
                <form class="form-horizontal" name="editCodeForm" id = "add-code" role="form" ng-submit="updateCode(editCode)" novalidate>
                    <h4 ng-show="isEditing">Editing {{editCode.code}}</h4>
                    <td><input class="form-control" ng-model = "editCode.code" placeholder="Code" title="Code" id="code" required/></td>
                    <td> <select class="form-control" title="Came Type" id="code-type" ng-model = "editCode.type" ng-options="r.display for r in @CVFactory.getField("CODE_TYPE") track by r.display" required>
                                    </select></td>
                    <td><input class="form-control" ng-model = "editCode.description" placeholder="Description" title="Description" id="description" /></td>
                    <td><select class="form-control" title="Reference" id="reference" ng-model = "editCode.references" ng-options="ref.id for ref in substance.references" required>
                    </select>
                    </td>
                    <td><a id ="name-submit" ng-show="editCodeForm.$valid" ng-click="updateCode(editCode)" arial-label="Save">
                        <i class="fa fa-floppy-o fa-2x success"></i></a>
                    </td>
                    <td><a type="submit" ng-click="toggleEditCode();" aria-label="Cancel">
                        <i class="fa fa-ban fa-2x danger"></i></a>
                    </td>
                </form>
            </tr>
            <tr ng-show="!isEditingCode && addingCodes">
                <form class="form-horizontal" name="codeForm" id = "add-code" role="form" ng-submit="validateCode(code)" novalidate>
                    <td><input class="form-control" ng-model = "code.code" placeholder="Code" title="Code" id="code" required/></td>
                    <td> <select class="form-control" title="Code Type" id="code-type" ng-model = "code.type" ng-options="r.display for r in @CVFactory.getField("CODE_TYPE") track by r.display" required>
                                    </select></td>
                    <td><input class="form-control" ng-model = "code.description" placeholder="Description" title="Description" id="description" /></td>
                    <td><select class="form-control" title="Reference" id="code-reference" ng-model = "code.references" ng-options="ref.id for ref in substance.references" required>
                    </select>
                    </td>
                    <td><a ng-click="clear()" aria-label="Clear">
                        <i class="fa fa-eraser fa-2x danger"></i></a>
                    </td>
                    <td><button class="btn btn-default" type="submit" ng-show="codeForm.$valid">
                                        Validate</button>
                    </td>
                </form>
            </tr>
        </table>
    </div>
    <button class = "btn btn-primary pull-right" ng-show="addingCodes &&!isEditing" ng-click="addCodes()">
                        Done</button>
</div>
