
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.Code


@(codes: List[Code])
<button class="btn btn-primary label-offset det">Codes&nbsp;<span class="badge"> @codes.length</span></button>
<div class="col-md-12">
    <table class="table table-striped" id="codesTable">
        <thead>
            <tr>
                <th>Code</th>
                <th>Code System</th>
                <th>Type</th>
                <th>Description</th>
                <th>References</th>
            </tr>
        </thead>
        @for(c <- codes) {
            <tr>
                @if(c.url){
                <td><a href="@c.url" target="_self">@c.code</a></td>
                    }else{
                    <td>@c.code</td>
                    }
                <td>@c.codeSystem</td>
                <td>@GinasApp.getCV.getDisplay("CODE_TYPE",{c.`type`})</td>
                <td>@c.comments</td>
                @referencetable(c.getReferences(), c.code, 4)
            </tr>
        }
    </table>
</div>
