@import ix.ginas.controllers.GinasApp

@import ix.ginas.models.v1.Substance
@(sub: Substance)

<div class="panel panel-default sub-list">
    <div class="@sub.getApprovalIDDisplay()"></div>
    <div class="panel-heading sub-title">
        <div class = "row">
            <div class = "col-md-10">
                <h3> <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" target="_self">@sub.getName()</a></h3>
            </div>
            <div class = "col-md-2 prot-approvID">
                <h4 class= "text-right">
                    <info-button path= codes mark='exclaim' type ="@sub.getApprovalIDDisplay()" info="concept"></info-button>
                    <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" target="_self"><code @if(sub.isSubstanceVariant()){
					class="subconcept"
                }
                >@sub.getApprovalIDDisplay()</code>
                    <info-button path= codes style='exclaim'></info-button>
                </a></h4>
            </div>
        </div>
    </div>
    <div class=""></div>
    <div class= "panel-body list-item">
        <div class = "row">
            <div class = "col-md-3 text-center">
                <div class = "row">
                        <i class="fa fa-cloud fa-4x "></i>
                </div>
            </div>
            <div class = "col-md-7">
            @if(sub.names.size()>0) {
                <div class = "row">
                    <div class = "col-md-3">
                        <h5>Other Names:</h5>
                    </div>
                    <div class = "col-md-9">
                        <h5>@ix.ginas.controllers.GinasApp.namesList(sub.names)</h5>
                    </div>
                </div>
            }
                @if(sub.codes.size()>0){
	                <div class = "row">
	                    <div class = "col-md-3">
	                        <h5>Codes:</h5>
	                    </div>
	                    <div class = "col-md-9">
	                        <h5>@ix.ginas.controllers.GinasApp.codesList(sub.codes)</h5>
	                    </div>
	                </div>
                }
            </div>
            <div class = "col-md-2">

               
                <div class = "row">
                    <div class = "col-md-12">
                        Last modified: <h6>{{moment(@sub.approved.getTime())}}</h6>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                        <code>@sub.getDisplayStatus()  version: @sub.version</code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
