@import ix.ncats.controllers.App
@import ix.ncats.controllers.App.FacetDecorator
@import ix.core.search.FieldFacet
@import ix.core.models.Structure
@import ix.ncats.controllers.App.SearchResultContext

@(title: String, kind: String,
        resetAction: String, 
        current: Int, rows: Int, total: Int,
        pages: Array[Int], 
        facets: Array[FacetDecorator], 
        ctx : SearchResultContext = null
        )(header: Html)(content: Html)

    @ginas(title, kind) {
        @header
    }{
        @defining(	ctx!= null && 
        		  	"Running".equals(ctx.getStatus().toString()) &&
                	request().getQueryString("q") != null){searchFlag =>
    	<div class="row">
            @if(total > 0 && facets.length > 0) {
                <div class="col-md-3" id="facet-col">
            <div class="btn btn-primary hidden-md hidden-lg" ng-show="isCollapsed" ng-click ='isCollapsed = !isCollapsed'>
              <i class="fa fa-filter"></i> Show Filters
            </div>
                    <div class="btn btn-primary hidden-md hidden-lg" ng-hide="isCollapsed" ng-click ='isCollapsed = !isCollapsed'>
                        <i class="fa fa-filter"></i> Hide Filters
                    </div>
            		<div uib-collapse="isCollapsed" class="panel-group">
                        @filters(facets, searchFlag)
                    </div>
                </div>



                <div class="col-md-9">
                } else {
                <div class="col-md-12">
                }
            @defining(App.getUnspecifiedFacets(facets)) { unspecf =>
                @if(request().getQueryString("q") != null || !unspecf.isEmpty()) {
                    <div
                        @if(total > 0) {
                            class="alert alert-success alert-dismissible"
                        } else {
                            class="alert alert-danger alert-dismissible"
                        }
                    role="alert">
                             
                        <button type="button" class="close" 
                        onclick="location.assign('@ix.ginas.controllers.routes.GinasApp.substances().url')"
                        aria-label="Clear Query">
                            <span aria-hidden="true"><i class="fa fa-eraser"></i></span>
                        </button>
                        @defining(flash().remove("qStructureID")) { qStructureID =>
                        @request().getQueryString("type") match {
			    		    case "sequence" => {
			    		  	  <span><h4>Sequence Query:&nbsp;
							  <a target="_self" href='@ix.ginas.controllers.routes.GinasFactory.sequence(request().getQueryString("q"))'><code>@ix.ginas.controllers.GinasFactory.getSequence(request().getQueryString("q"), 15)</code></a></h4>
			     		      </span> <div id="searching"></div>
			                }
                            case "Substructure" => {
                                <span><h4>Substructure Query:&nbsp; <a href="#"
                                data-toggle="popover"
                                data-animation="true"
                                data-placement="bottom"
                                data-trigger="click hover focus"
                                data-title=""
                                data-html="true"
                                data-content="<img src= '@ix.ginas.controllers.routes.GinasApp.structure(qStructureID, "svg", 150,null)'>"><code>@ix.ginas.controllers.GinasFactory.getSmiles(request().getQueryString("q"), 15)</code></a></h4>
                                </span> <div id="searching"></div>
                            }
                            case "Similarity" => {
                                <span><h4>Similarity Query:&nbsp; <a href="#"
                                data-toggle="popover"
                                data-animation="true"
                                data-placement="bottom"
                                data-trigger="click hover focus"
                                data-title=""
                                data-html="true"
                                data-content="<img src= '@ix.ginas.controllers.routes.GinasApp.structure(qStructureID, "svg", 150,null)'>"><code>@ix.ginas.controllers.GinasFactory.getSmiles(request().getQueryString("q"), 15)</code></a> &ge; @request().getQueryString("cutoff")</h4>
                                </span> <div id="searching"></div>
                            }
                            case "Exact" => {
                                <span><h4>Exact Structure Query:&nbsp; <a href="#"
                                data-toggle="popover"
                                data-animation="true"
                                data-placement="bottom"
                                data-trigger="click hover focus"
                                data-title=""
                                data-html="true"
                                 data-content="<img src= '@ix.ginas.controllers.routes.GinasApp.structure(qStructureID, "svg", 150,null)'>"><code>@ix.ginas.controllers.GinasFactory.getSmiles(request().getQueryString("q"), 15)</code></a></h4>
                                </span> <div id="searching"></div>
                            }
                            case "Flex" => {
                                <span><h4>Flex Structure Query:&nbsp; <a href="#"
                                data-toggle="popover"
                                data-animation="true"
                                data-placement="bottom"
                                data-trigger="click hover focus"
                                data-title=""
                                data-html="true"
                                 data-content="<img src= '@ix.ginas.controllers.routes.GinasApp.structure(qStructureID, "svg", 150,null)'>"><code>@ix.ginas.controllers.GinasFactory.getSmiles(request().getQueryString("q"), 15)</code></a></h4>
                                </span> <div id="searching"></div>
                            }
                            case _ => {
                                @if(request().getQueryString("q") != null) {
                                    <span><h4>Query:&nbsp;<code>@request().getQueryString("q")</code></h4></span>
                                } else {
                                    @for(f <- unspecf) {
                                        <span><h4>@f.substring(0, f.indexOf('/'))
                                            :&nbsp;<code>@f.substring(f.indexOf('/') + 1)</code></h4>
                                        </span>
                                    }
                                }
                            }
                        }
                        }
                    </div>
                }
                
                  @defining(flash().remove("warning")) { mesg =>
		             	@if(mesg != null) {
		             	 <div  class="alert alert-warning alert-dismissible" role="alert">
		             	 	<button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
		             	 		<span aria-hidden="true">&times;</span>
                        	</button>
	                    	<p class="warning-message">@mesg</p>
	                    	</div>
	                 	}
		          }
		          @if(ctx !=null){
		          	@defining(ctx.getFieldFacets()) { searchFacets =>
                  @if(searchFacets!=null && searchFacets.size()>0){
                           <div
                        @if(total > 0) {
                            class="alert alert-success alert-dismissible"
                        } else {
                            class="alert alert-danger alert-dismissible"
                        }
                    role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
                        </button>
                              <h4>Restrict query to field:</h4>
                              @searchFacets.groupBy(_.matchType).map {
                                    case (group, items) => {
                                        @if(group.toString() == "FULL"){
                                            <h5 style="font-style:italic">Exact Match:</h5>
                                        }else{
                                            <h5 style="font-style:italic">Contains Match:</h5>
                                        }
                                        <div class = "row fieldfacet">
                                        @items.map { item =>
                                        <a target="_self" href='@ix.ginas.controllers.routes.GinasApp.substances().url?q=@item.getLuceneQuery()'>
                                         <button class="btn btn-primary" >  
                                                  <div class = "col-md-4">
                                                  <div class = "row">
                                                    
                                                        
                                                            <span >
                                                                @item.getDisplayField()
                                                            </span>
                                                        
                                                        <span class="badge">@item.count</span>
                                                    </div>
                                                </div>
                                            </button>
                                            </a>
                                        }
                                        </div>
                                    }
                                }
                                            <div class="spacer">&nbsp;</div>
                    </div>
                          }
                          }
                  }
            }

			@if(total>=1){
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <div class="row">
	                        <div class = "col-md-9">
                               @ix.ginas.views.html.pagination(current, rows, total, pages, searchFlag)(HtmlFormat.empty)
							   
                               <div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-download" uib-tooltip="Download Results"></i>&nbsp; <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">

      @for(fmt <- ix.ginas.controllers.GinasApp.getAllSubstanceExportFormats()){
            <li><a target="_self" ng-href="@ix.ginas.controllers.routes.GinasApp.export(ix.ncats.controllers.App.getKeyForCurrentRequest() ,fmt.getExtension()).url">@fmt.getDisplayName()</a></li>
        }
    @*<li><a target="_self" ng-href="@ix.ginas.controllers.routes.GinasApp.export(ix.ncats.controllers.App.getKeyForCurrentRequest(),"sdf").url">SD File</a></li>*@
    @*<li><a target="_self" ng-href="@ix.ginas.controllers.routes.GinasApp.export(ix.ncats.controllers.App.getKeyForCurrentRequest(),"csv").url">Tab-delimited File</a></li>*@
  </ul>
</div>
	                        </div>
	                        <div class= "col-md-3 text-right hidden-xs">
	                            <form class="form" name="grid-select" id = "grid-select">
	                            <switch id="enabled" name="enabled" ng-model="gridView" ng-change="toggleGrid()" on='<i class="fa fa-th-list fa-2x"></i>' off='<i class="fa fa-th fa-2x"></i>'></switch>
	                            </form>
	                        </div>
	                    </div>
	                </div>
	                @content
	
	                <div class="panel-footer">
	                @if(pages.length > 1) {
	                    @ix.ginas.views.html.pagination(current, rows, total, pages, searchFlag)(HtmlFormat.empty)
	                }
	                </div>
	            </div>
            }else{
            	There are no results to show.
            }
        </div>
        </div>
        }

            <script>
function dismissQuery () {
    location.assign('@resetAction');
}

$(document).ready(function () {
   $(function () {
       $('[data-toggle="popover"]').popover();
   })
   @if(ctx!= null){
   		var firststatus=@Html(ctx.toJson());
   		firststatus.thisPage=@{current*rows};
   		firststatus.rowsPerPage=@{rows};
   		
   		if(!firststatus.finished){
   			//Only reload if this page isn't ready yet,
   			//OR total isn't determined at this time
   			if(firststatus.count < firststatus.thisPage || !firststatus.total){
    		 	firststatus.needsReload=true;
    		 	
    		 	if(firststatus.count < firststatus.thisPage){
    		 		$('#loading').modal('show');
    		 	}
    		}
    		$('#searching').html('<i class="fa fa-spinner fa-spin"></i> searching...');
    		var delay = 0;
         	var checkStatus;
         	
	 	 	var timer;

         	$('#loading').on('hidden.bs.modal', function (e) {
 	     		window.clearInterval(timer);
         	});
         	
         	var onDetermined = function () {
         				   window.clearInterval(timer);
                       	   $('#searching').html('');
                       	   
                           $('#loading').modal('hide');
                           if(firststatus.needsReload){
                            	$('#searching').html('Reloading search ...');
                           		location.reload(true);
                           }
         	};
         	
         	var onLoadedMore = function (data) {
         	 			// loading vs searching..
                       if (data.total) {
                           if (data.count > firststatus.thisPage || data.finished) {
                           	 if(firststatus.needsReload){
  	                         	location.reload(true); 
  	                         }
		           		   }
 		           		   var pct = Math.floor(100.0*data.count/ data.total+0.5);
 		           		   var pagepct = Math.floor(100.0*firststatus.thisPage/ data.total+0.5);
 		           		   var loadedPage=Math.floor(data.count/firststatus.rowsPerPage);
 		           		   var waitPage=Math.floor(firststatus.thisPage/firststatus.rowsPerPage);
 		           		   $('#loading-progress').html('<p align="right">('+data.count+'/'+data.total+')</p><div class="progress multi-progress">'+
 		           		   								'<div class="progress-bar background" role="progressbar" aria-valuenow="'+pagepct+'" aria-valuemin="0" aria-valuemax="100" style="width: '+pagepct+'%;"></div>'+
 		           		   								'<div class="progress-bar" role="progressbar" aria-valuenow="'+pct+'" aria-valuemin="0" aria-valuemax="100" style="width: '+pct+'%;">'+pct+'%</div>' + 
 		           		   								'</div><div>Waiting for page:' + waitPage + '</div><div>Processing page:' + loadedPage + '</div>');
                       }else {
                           $('#searching').html('<i class="fa fa-spinner fa-spin"></i> searching... '+data.count+' matches');
                       }
             };
         	
         	
         	
         	checkStatus = function () {
	     		if (delay == 0) {
		        	window.clearInterval(timer);
					delay = 500;
	        		timer = window.setInterval(checkStatus, delay);
	     		}
         		$.ajax(firststatus.url, {
	         		dataType: 'json',
	     		}).done(function(status) {
                 if (!firststatus.determined && status.determined) {
                 	onDetermined(status); 
                 } else {
                 	onLoadedMore(status);
                 }
              }).error(function () {
                  window.clearInterval(timer);
              });
         	};
	   
	     	timer = window.setInterval(checkStatus, delay);
         		
   		}
   	}
});
</script>
}
