@import ix.ncats.controllers.App
@import ix.ncats.controllers.App.FacetDecorator
@import ix.core.search.FieldFacet

@(title: String, kind: String,
        resetAction: String, current: Int, rows: Int, total: Int,
        pages: Array[Int], facets: Array[FacetDecorator], searchFacets : List[FieldFacet] = null)(header: Html)(content: Html)

    @ginas(title, kind) {
        @header
    }{
    
    	<div class="row">
            @if(total > 0 && facets.length > 0) {
                <div class="col-md-3" id="facet-col">
            <div class="btn btn-primary hidden-md hidden-lg" ng-show="isCollapsed" ng-click ='isCollapsed = !isCollapsed'>
              <i class="fa fa-filter"></i> Show Filters
            </div>
                    <div class="btn btn-primary hidden-md hidden-lg" ng-hide="isCollapsed" ng-click ='isCollapsed = !isCollapsed'>
                        <i class="fa fa-filter"></i> Hide Filters
                    </div>
            		<div uib-collapse="isCollapsed" class="panel-group">
                        @ix.ncats.views.html.filters(facets)                        
                    </div>
                </div>



                <div class="col-md-9">
                } else {
                <div class="col-md-12">
                }
            @defining(App.getUnspecifiedFacets(facets)) { unspecf =>
                @if(request().getQueryString("q") != null || !unspecf.isEmpty()) {
                    <div
                        @if(total > 0) {
                            class="alert alert-success alert-dismissible"
                        } else {
                            class="alert alert-danger alert-dismissible"
                        }
                    role="alert">
                             
                        <button type="button" class="close" data-dismiss="alert"
                        onclick="location.assign('@ix.ginas.controllers.routes.GinasApp.substances().url')"
                        aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @request().getQueryString("type") match {
			    case "sequence" => {
			      <span><h4>Sequence Query:&nbsp;
				  <a target="_self" href='@ix.ginas.controllers.routes.GinasFactory.sequence(request().getQueryString("q"))'><code>@ix.ginas.controllers.GinasFactory.getSequence(request().getQueryString("q"), 15)</code></a></h4>
			      </span> <div id="searching"></div>
			    }
                            case "Substructure" => {
                                <span><h4>Substructure Query:&nbsp; <a href="#"
                                data-toggle="popover"
                                data-animation="true"
                                data-placement="bottom"
                                data-trigger="click hover focus"
                                data-title=""
                                data-html="true"
                                data-content="<img src='@ix.ncats.controllers.routes.App.renderParam(request().getQueryString("q"), 150)'>"><code>@request().getQueryString("q")</code></a></h4>
                                </span> <div id="searching"></div>
                            }
                            case "Similarity" => {
                                <span><h4>Similarity Query:&nbsp; <a href="#"
                                data-toggle="popover"
                                data-animation="true"
                                data-placement="bottom"
                                data-trigger="click hover focus"
                                data-title=""
                                data-html="true"
                                data-content="<img src='@ix.ncats.controllers.routes.App.renderParam(request().getQueryString("q"), 150)'>"><code>@request().getQueryString("q")</code></a> &ge; @request().getQueryString("cutoff")</h4>
                                </span> <div id="searching"></div>
                            }
                            case _ => {
                                @if(request().getQueryString("q") != null) {
                                    <span><h4>Query:&nbsp;<code>@request().getQueryString("q")</code></h4></span>
                                } else {
                                    @for(f <- unspecf) {
                                        <span><h4>@f.substring(0, f.indexOf('/'))
                                            :&nbsp;<code>@f.substring(f.indexOf('/') + 1)</code></h4>
                                        </span>
                                    }
                                }
                            }
                        }
                    </div>
                }
                  @if(searchFacets!=null && searchFacets.size()>0){
                           <div
                        @if(total > 0) {
                            class="alert alert-success alert-dismissible"
                        } else {
                            class="alert alert-danger alert-dismissible"
                        }
                    role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
                        </button>
                              <h4>Restrict query to field:</h4>
                              @searchFacets.groupBy(_.matchType).map {
                                    case (group, items) => {
                                        @if(group.toString() == "FULL"){
                                            <h5 style="font-style:italic">Exact Match:</h5>
                                        }else{
                                            <h5 style="font-style:italic">Contains Match:</h5>
                                        }
                                        <div class = "row fieldfacet">
                                        @items.map { item =>
                                        <a target="_self" href='@ix.ginas.controllers.routes.GinasApp.substances().url?q=@item.getLuceneQuery()'>
                                         <button class="btn btn-primary" >  
                                                  <div class = "col-md-4">
                                                  <div class = "row">
                                                    
                                                        
                                                            <span style="color:white">
                                                                @item.getDisplayField()
                                                            </span>
                                                        
                                                        <span class="badge">@item.count</span>
                                                    </div>
                                                </div>
                                            </button>
                                            </a>
                                        }
                                        </div>
                                    }
                                }
                                            <div class="spacer">&nbsp;</div>
                    </div>
                          }
            }

			@if(total>=1){
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <div class="row">
	                        <div class = "col-md-9">
	                        @ix.ginas.views.html.pagination(current, rows, total, pages)(HtmlFormat.empty)
	                            <download-button method = "downloadData()"></download-button>
	                        </div>
	                        <div class= "col-md-3 text-right hidden-xs">
	                            <form class="form" name="grid-select" id = "grid-select">
	                            <switch id="enabled" name="enabled" ng-model="gridView" ng-change="toggleGrid()" on='<i class="fa fa-th-list fa-2x"></i>' off='<i class="fa fa-th fa-2x"></i>'></switch>
	                            </form>
	                        </div>
	                    </div>
	                </div>
	                @content
	
	                <div class="panel-footer">
	                @if(pages.length > 1) {
	                    @ix.ginas.views.html.pagination(current, rows, total, pages)(HtmlFormat.empty)
	                }
	                </div>
	            </div>
            }else{
            	There are no results to show.
            }
        </div>
        </div>
        
            <script>
function dismissQuery () {
    location.assign('@resetAction');
}

$(document).ready(function () {
    $(function () {
        $('[data-toggle="popover"]').popover()
    })

   @defining(App.checkStatus()) { status =>
   	
   
     @if(status != null) {
    	 @defining(App.checkStatusDirect()) { startstatus =>
    	 @if(startstatus != null){
    	 var firststatus=@Html(startstatus.toJson());
    	 console.log(firststatus);
    	 }else{
    		 var firststatus={};
    		 
    	 }
    	 }
    	 
    	 if(firststatus.count<@{current*rows}){
    		 window["needsreload"]=true;
    	 }
    	 
         console.log('status=@status');
         $('#searching')
	     .html('<i class="fa fa-spinner fa-spin"></i> searching...');
			
         var delay = 0;
         var checkStatus;
	 	 var timer;

         $('#loading').on('hidden.bs.modal', function (e) {
	     console.log('closing load dialog');
 	     window.clearInterval(timer);
	     //location.reload(true);
         });

	 checkStatus = function () {
	     if (delay == 0) {
	        console.log('Starting timer...');
		window.clearInterval(timer);
		delay = 2000;
	        timer = window.setInterval(checkStatus, delay);
	     }

	     var url = '@status'+'@App.queryString("cutoff")';
	     //console.log(url);
             $.ajax(url, {
	         dataType: 'json',
	     }).done(function(data) {
		    	 
                 console.log(data.status + ' '+data.count+' '+data.total);
                 if (data.status == 'Done' || data.status == 'Failed') {
                       	   window.clearInterval(timer);
                       	   $('#searching').html('');
                           $('#loading').modal('hide');
                           if(window["needsreload"]){
                           		location.reload(true);	
                           }
                       
                  } else {
		       // loading vs searhing..
                       if (data.total) {
 	                   		if (data.count < @{current*rows}) {
  	                      		$('#loading').modal('show');
  	                      		//window["needsreload"]=true;
  	                      		console.log("showing search");
		           			}else{
		           				if(window["needsreload"]){
		           					location.reload(true);
		           				}
		           			}

 		           		   var pct = Math.floor(100.0*data.count/ data.total+0.5);
 		           		   
                           $('#loading-progress').html('<p align="right">('+data.count+'/'+data.total+')</p><div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+pct+'" aria-valuemin="0" aria-valuemax="100" style="width: '+pct+'%;">'+pct+'%</div></div>');
                       }else {
                    	   window["needsreload"]=true;
                           $('#searching').html('<i class="fa fa-spinner fa-spin"></i> searching... '+data.count+' matches');
                       }
                  }
              }).error(function () {
                  window.clearInterval(timer);
              });
         };
	   
	 timer = window.setInterval(checkStatus, delay);
      }
   }
});
</script>
}
