@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.StructurallyDiverseSubstance

@(sub: StructurallyDiverseSubstance)

<div class = "col-md-3 thumb-col">
    <div class="panel panel-default">
        <div class="panel-heading">

            <p class="text-right" data-toggle="tooltip" title="Approval ID">
                <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" target="_self">
                    <code> @sub.approvalID</code></a></p>
        </div>
        <div class="panel-body struc-img diverse">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" target="_self">
                <img src="@routes.Assets.at("ginas/images/fa-puzzle.png")" alt ="Register a Substance" aria-label="Register a Substance" class=" struc-thumb img-responsive"/>
            </a>
            <div class = "row stereo">
                <div class = "col-md-10">
                    <span class="label label-primary label-offset">Structurally Diverse</span>
                </div>
            </div>
        </div>

        <div class = "panel-footer nameDiv" data-toggle="tooltip" title="@sub.getName()">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" target="_self">
            @GinasApp.truncate(sub.getName())
            </a>
            <div class = "row">
                <div class = "col-md-12">
                    <ul class= "list-inline pull-right list-unstyled">
                        <li><export-button  structureid ="''" ></export-button>
                        </li>

                        <li><a ng-href="@ix.ginas.controllers.routes.GinasFactory.structuresearch()" target="_self" ng-click="" class=" btn btn-primary" aria-label="Structure Search"> <span class="fa fa-search chem-button"></span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<!--END panel panel-primary-->