@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.v1.SubstanceFactory
@(sub: ix.ginas.models.v1.StructurallyDiverseSubstance)


@substancedetails(sub) {
    <li role="presentation" class="active"><a ng-click="scrollTo('definition')">Definition</a></li>
} {
    <div class = "row">
        <div class = "col-md-9">
            <h4>Structurally Diverse Substance</h4>
        </div>
        <div class = "col-md-3">
        @if(sub.isSubstanceVariant()) {
            <h3 class= "pull-right subconcept"> @sub.getApprovalIDDisplay()</h3>
        } else {
            <h3 class= "pull-right"> @sub.getApprovalIDDisplay()</h3>
        }

        </div>
    </div>
    <div class="row info" id="definition">
    	<div class="col-md-5">
    	<br>
    	<table class="table table-striped keyvalue">
    	@if(sub.structurallyDiverse.sourceMaterialClass != null && !sub.structurallyDiverse.sourceMaterialClass.equals("")) {<tr><td>Source Materials Class</td><td>@sub.structurallyDiverse.sourceMaterialClass</td></tr>}
        @if(sub.structurallyDiverse.sourceMaterialType != null && !sub.structurallyDiverse.sourceMaterialType.equals("")) {<tr><td>Source Materials Type</td><td>@sub.structurallyDiverse.sourceMaterialType</td></tr>}
        @if(sub.structurallyDiverse.sourceMaterialState != null && !sub.structurallyDiverse.sourceMaterialState.equals("")) {<tr><td>Source Materials State</td><td>@sub.structurallyDiverse.sourceMaterialState</td></tr>}
        </table>
        </div>
    </div>
    @if(sub.structurallyDiverse.parentSubstance != null) {
    <div class="row info" id="substances">
    	<div class="col-md-12">
            Parent Substance:<br>
            @subref(sub.structurallyDiverse.parentSubstance)
        </div>
    </div>
    }
    <div class="row info" id="details">
    	<div class="col-md-5">
    	<br>
    	<table class="table table-striped keyvalue">
	        @if(sub.structurallyDiverse.organismFamily != null && !sub.structurallyDiverse.organismFamily.equals("")) {<tr><td>Organism Family</td><td><a href="app/substances?facet=Family/@sub.structurallyDiverse.organismFamily" target="_self">@sub.structurallyDiverse.organismFamily</a></td></tr>}
	        @if(sub.structurallyDiverse.organismGenus != null && !sub.structurallyDiverse.organismGenus.equals("")) {<tr><td>Organism Genus </td><td><a href="app/substances?facet=Genus/@sub.structurallyDiverse.organismGenus" target="_self">@sub.structurallyDiverse.organismGenus</a></td></tr>}
	        @if(sub.structurallyDiverse.organismSpecies != null && !sub.structurallyDiverse.organismSpecies.equals("")) {<tr><td>Organism Species</td><td><a href="app/substances?facet=Species/@sub.structurallyDiverse.organismSpecies" target="_self">@sub.structurallyDiverse.organismSpecies</a></td></tr>}
	        @if(sub.structurallyDiverse.organismAuthor != null && !sub.structurallyDiverse.organismAuthor.equals("")) {<tr><td>Author</td><td>@sub.structurallyDiverse.organismAuthor</td></tr>}
	        @if(sub.structurallyDiverse.infraSpecificType != null && !sub.structurallyDiverse.infraSpecificType.equals("")) {<tr><td>Infraspecific Type</td><td>@sub.structurallyDiverse.infraSpecificType</td></tr>}
	        @if(sub.structurallyDiverse.infraSpecificName != null && !sub.structurallyDiverse.infraSpecificName.equals("")) {<tr><td>Infraspecific Name</td><td>@sub.structurallyDiverse.infraSpecificName</td></tr>}
	        @if(sub.structurallyDiverse.developmentalStage != null && !sub.structurallyDiverse.developmentalStage.equals("")) {<tr><td>Development Stage</td><td>@sub.structurallyDiverse.developmentalStage</td></tr>}
	        @if(sub.structurallyDiverse.partLocation != null && !sub.structurallyDiverse.partLocation.equals("")) {<tr><td>Part Location</td><td>@sub.structurallyDiverse.partLocation</td></tr>}
	        @if(sub.structurallyDiverse.part != null && sub.structurallyDiverse.part.size() > 0 && !sub.structurallyDiverse.getDisplayParts().equals("")) {
	        	<tr><td>Part</td><td>@sub.structurallyDiverse.getDisplayParts()</td></tr>
	        }                
	        @if(sub.structurallyDiverse.fractionMaterialType != null && !sub.structurallyDiverse.fractionMaterialType.equals("")) {
	        	<tr><td>Fraction Material Type</td><td>@sub.structurallyDiverse.fractionMaterialType</td></tr>      
	        }
	        @if(sub.structurallyDiverse.fractionName != null && !sub.structurallyDiverse.fractionName.equals("")) {
	        	<tr><td>Fraction Name</td><td>@sub.structurallyDiverse.fractionName</td></tr>
	        }
        </table>
        @if(sub.structurallyDiverse.hybridSpeciesMaternalOrganism != null) {
            Hybrid Maternal Organism:
           @subref(sub.structurallyDiverse.hybridSpeciesMaternalOrganism)
        }

        @if(sub.structurallyDiverse.hybridSpeciesPaternalOrganism != null) {
            Hybrid Paternal Organism:
           @subref(sub.structurallyDiverse.hybridSpeciesPaternalOrganism)
        }
        </div>
    </div>
}
