@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.v1.SubstanceFactory
@(sub: ix.ginas.models.v1.StructurallyDiverseSubstance)


@ginas(sub.getName, "ix.ginas.models.v1.StructurallyDiverseSubstance") {
    @menu()
} {
    <nav class="navbar navbar-default" id="breadcrumb">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-12">
                    <ul class="nav nav-pills" id="breadcrumb-list">
                        <li role="presentation" class="active"><a href="#structureDetails">Definition</a></li>

                        <li role="presentation"><a href="#names">
                            Names <span class="badge">@sub.names.size()</span></a></li>
                        @if(sub.codes.size() > 0) {
                            <li role="presentation"><a href="#codes">
                                Codes <span class="badge">@sub.codes.size()</span></a></li>
                        }
                        @if(GinasApp.resolveRelationships(sub.uuid.toString()).size() > 0) {
                            <li role="presentation"><a href="#relationships" id = "relation">
                                Relationships <span class="badge">@sub.relationships.size()</span></a></li>
                        }
                        <li role="presentation"><a href="#refs">
                            References <span class="badge">@sub.references.size()</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
} {
    <div class = "row">
        <div class = "col-md-9">
            <h1>@sub.getName()</h1>
        </div>
        <div class = "col-md-3">
            <h2 class= "pull-right"> @sub.approvalID</h2>
        </div>
    </div>
    <div class="row info" id="substances">
        @if(sub.structurallyDiverse.parentSubstance != null) {
            Parent Substance:
            @subref(sub.structurallyDiverse.parentSubstance)
        }

        @if(sub.structurallyDiverse.hybridSpeciesMaternalOrganism != null) {
            Maternal Organism:
           @subref(sub.structurallyDiverse.hybridSpeciesMaternalOrganism)
        }

        @if(sub.structurallyDiverse.hybridSpeciesPaternalOrganism != null) {
            Paternal Organism:
           @subref(sub.structurallyDiverse.hybridSpeciesPaternalOrganism)
        }
    </div>

    <div class="row info" id="details"><ul>
    	@if(sub.structurallyDiverse.sourceMaterialClass != null) {
        	<li>Source Materials Class: @sub.structurallyDiverse.sourceMaterialClass</li>
        }
        @if(sub.structurallyDiverse.sourceMaterialType != null) {<li>Source Materials Type: @sub.structurallyDiverse.sourceMaterialType</li>}
        @if(sub.structurallyDiverse.sourceMaterialState != null) {<li>Source Materials State: @sub.structurallyDiverse.sourceMaterialState</li>}
        @if(sub.structurallyDiverse.organismFamily != null) {<li>Organism Family: @sub.structurallyDiverse.organismFamily</li>}
        @if(sub.structurallyDiverse.organismGenus != null) {<li>Organism Genus : @sub.structurallyDiverse.organismGenus</li>}
        @if(sub.structurallyDiverse.organismSpecies != null) {<li>Organism Species: @sub.structurallyDiverse.organismSpecies</li>}
        @if(sub.structurallyDiverse.infraSpecificType != null) {<li>Infra Specific Type: @sub.structurallyDiverse.infraSpecificType</li>}
        @if(sub.structurallyDiverse.infraSpecificName != null) {<li>Infra Specific Name: @sub.structurallyDiverse.infraSpecificName</li>}
        @if(sub.structurallyDiverse.developmentalStage != null) {<li>Development Stage: @sub.structurallyDiverse.developmentalStage</li>}
        @if(sub.structurallyDiverse.partLocation != null) {<li>Part Location: @sub.structurallyDiverse.partLocation</li>}
        @if(sub.structurallyDiverse.part != null) {
        	<li>Part Location: @sub.structurallyDiverse.getDisplayParts()</li>
        }                
        
        
        @if(sub.structurallyDiverse.fractionMaterialType != null) {
        	<li>Fraction Material Type: @sub.structurallyDiverse.fractionMaterialType</li>      
        }
        @if(sub.structurallyDiverse.fractionName != null) {
        	<li>Fraction Name: @sub.structurallyDiverse.fractionName</li>
        }
        
        
        </ul>
    </div>


    <div class="row info" id="names">
    @names(sub.names)
    </div>

    @if(sub.codes.size() > 0) {
        <div class="row info" id="codes">
        @codes(sub.codes)
        </div>
    }
    @if(GinasApp.resolveRelationships(sub.uuid.toString()).size() > 0) {
        <div class="row info" id="relationships">
        @relationships(sub.relationships)
        </div>
    }



    <div class="row info" id="refs">
    @references(sub.references)
    </div>


}
