@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.v1.SubstanceFactory
@(sub: ix.ginas.models.v1.StructurallyDiverseSubstance)


@ginas(sub.getName, "ix.ginas.models.v1.StructurallyDiverseSubstance") {
    @menu()
} {
    <nav class="navbar navbar-default" id="breadcrumb">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-12">
                    <ul class="nav nav-pills" id="breadcrumb-list">
                        <li role="presentation" class="active"><a href="#structureDetails">Definition</a></li>

                        <li role="presentation"><a href="#names">
                            Names <span class="badge">@sub.names.size()</span></a></li>
                        @if(sub.codes.size() > 0) {
                            <li role="presentation"><a href="#codes">
                                Codes <span class="badge">@sub.codes.size()</span></a></li>
                        }
                        @if(GinasApp.resolveRelationships(sub.uuid.toString()).size() > 0) {
                            <li role="presentation"><a href="#relationships" id = "relation">
                                Relationships <span class="badge">@sub.relationships.size()</span></a></li>
                        }
                        <li role="presentation"><a href="#refs">
                            References <span class="badge">@sub.references.size()</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
} {
    <div class = "row">
        <div class = "col-md-9">
            <h1>@sub.getName()</h1>
        </div>
        <div class = "col-md-3">
            <h2 class= "pull-right"> @sub.approvalID</h2>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-9">
            <h4>Structurally Diverse Substance</h4>
        </div>
    </div>
    <div class="row info" id="substances">
        @if(sub.structurallyDiverse.parentSubstance != null) {
            Parent Substance:<br>
            @subref(sub.structurallyDiverse.parentSubstance)
        }

        @if(sub.structurallyDiverse.hybridSpeciesMaternalOrganism != null) {
            Maternal Organism:
           @subref(sub.structurallyDiverse.hybridSpeciesMaternalOrganism)
        }

        @if(sub.structurallyDiverse.hybridSpeciesPaternalOrganism != null) {
            Paternal Organism:
           @subref(sub.structurallyDiverse.hybridSpeciesPaternalOrganism)
        }
    </div>

    <div class="row info" id="details"><ul>
    	@if(sub.structurallyDiverse.sourceMaterialClass != null) {
        	<li>Source Materials Class: @sub.structurallyDiverse.sourceMaterialClass</li>
        }
        @if(sub.structurallyDiverse.sourceMaterialType != null) {<li>Source Materials Type: @sub.structurallyDiverse.sourceMaterialType</li>}
        @if(sub.structurallyDiverse.sourceMaterialState != null) {<li>Source Materials State: @sub.structurallyDiverse.sourceMaterialState</li>}
        @if(sub.structurallyDiverse.organismFamily != null) {<li>Organism Family: <a href="../substances?facet=Family/@sub.structurallyDiverse.organismFamily">@sub.structurallyDiverse.organismFamily</a></li>}
        @if(sub.structurallyDiverse.organismGenus != null) {<li>Organism Genus : <a href="../substances?facet=Genus/@sub.structurallyDiverse.organismGenus">@sub.structurallyDiverse.organismGenus</a></li>}
        @if(sub.structurallyDiverse.organismSpecies != null) {<li>Organism Species: <a href="../substances?facet=Species/@sub.structurallyDiverse.organismSpecies">@sub.structurallyDiverse.organismSpecies</a></li>}
        @if(sub.structurallyDiverse.organismAuthor != null) {<li>Author: @sub.structurallyDiverse.organismAuthor</li>}
        @if(sub.structurallyDiverse.infraSpecificType != null) {<li>Infraspecific Type: @sub.structurallyDiverse.infraSpecificType</li>}
        @if(sub.structurallyDiverse.infraSpecificName != null) {<li>Infraspecific Name: @sub.structurallyDiverse.infraSpecificName</li>}
        @if(sub.structurallyDiverse.developmentalStage != null) {<li>Development Stage: @sub.structurallyDiverse.developmentalStage</li>}
        @if(sub.structurallyDiverse.partLocation != null) {<li>Part Location: @sub.structurallyDiverse.partLocation</li>}
        @if(sub.structurallyDiverse.part != null) {
        	<li>Part: @sub.structurallyDiverse.getDisplayParts()</li>
        }                
        
        
        @if(sub.structurallyDiverse.fractionMaterialType != null) {
        	<li>Fraction Material Type: @sub.structurallyDiverse.fractionMaterialType</li>      
        }
        @if(sub.structurallyDiverse.fractionName != null) {
        	<li>Fraction Name: @sub.structurallyDiverse.fractionName</li>
        }
        
        
        </ul>
    </div>


     @if(sub.hasModifications()) {
      
            <div class="row info" id="mods">
                <button class="btn btn-primary label-offset det ">
                    Modifications&nbsp;<span class="badge head"> @sub.getModificationCount()</span></button>
                <div class="col-md-12">
                    @if(sub.modifications.agentModifications.length > 0) {
                        <div class = "row">
                            <div class="col-md-12">
                                Agent Modifications
                                <table class="table table-striped" id="agent-Table">
                                    <thead>
                                        <tr>
                                            <th>Modification Process</th>
                                            <th>Location Role</th>
                                            <th>Modification Type</th>
                                            <th>Amount</th>
                                            <th>Fragment Name</th>
                                            <th>Fragment ID</th>
                                        </tr>
                                        @for(m <- sub.modifications.agentModifications) {
                                            <tr>
                                                <td>@m.agentModificationProcess</td>
                                                <td>@m.agentModificationRole</td>
                                                <td>@m.agentModificationType</td>
                                                <td>amount</td>
                                                <td>@m.agentSubstance.refPname</td>
                                                <td>
                                                    <a href="@ix.ginas.controllers.routes.GinasApp.substance(m.agentSubstance.getLinkingID())">@m.agentSubstance.getLinkingID()</a>
                                                </td>
                                            </tr>
                                        }
                                    </thead>
                                </table>
                            </div>
                        </div>
                    }
                    @if(sub.modifications.physicalModifications.length > 0) {
                        <div class = "row">
                            <div class="col-md-12">
                                Physical Modifications
                                <table class="table table-striped" id="physical-Table">
                                    <thead>
                                        <tr>
                                            <th>Modification Role</th>
                                            <th>Parameter Name</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    @for(m <- sub.modifications.physicalModifications) {
                                    	@for(pm <- m.parameters) {
                                        <tr>
                                            <td>@m.physicalModificationRole</td>
                                            <td>@pm.parameterName</td>
                                            <td>@pm.amount.toString()</td>
                                        </tr>
                                        }
                                    }
                                 </table>
                            </div>
                        </div>
                   
                    }
                    @if(sub.modifications.structuralModifications.length > 0) {
                        <div class = "row">
                            <div class="col-md-12">
                                Structural Modifications
                                <table class="table table-striped" id="structural-Table">
                                    <thead>
                                        <tr>
                                            <th>Modification Type</th>
                                            <th>Location Site</th>
                                            <th>Location Type</th>
                                            <th>Residue Modified</th>
                                            <th>Extent</th>
                                            <th>Fragment Name</th>
                                            <th>Fragment Class</th>
                                            <th>Fragment Approval</th>
                                        </tr>
                                    </thead>
                                    @for(m <- sub.modifications.structuralModifications) {
                                        <tr>
                                            <td>@m.structuralModificationType</td>
                                            <td>@for(s <- m.sites) {
                                                [@{
                                                s.subunitIndex
                                            }_@s.residueIndex]
                                            }
                                            </td>
                                            <td>@m.locationType</td>
                                            <td>@m.residueModified</td>
                                            <td>@m.extent</td>
                                            <td>@m.molecularFragment.refPname</td>
                                            <td>@m.molecularFragment.substanceClass</td>
                                            <td><a href="@ix.ginas.controllers.routes.GinasApp.substance(m.molecularFragment.getLinkingID())">@m.molecularFragment.getLinkingID()</a></td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
    }

    <div class="row info" id="names">
    @names(sub.names)
    </div>

    @if(sub.codes.size() > 0) {
        <div class="row info" id="codes">
        @codes(sub.codes)
        </div>
    }
    @if(sub.hasChildConceptReferences()) {
        <div class="row info" id="variants">
        	@variantconcepts(sub)
        </div>
    }
    @if(GinasApp.resolveRelationships(sub.uuid.toString()).size() > 0) {
        <div class="row info" id="relationships">
        @relationships(sub.relationships)
        </div>
    }



    <div class="row info" id="refs">
    @references(sub.references)
    </div>


}
