@(Controller : String, editObject : String = "editObject",showCondition : String = "addingObject", validateMethod : String = "validateProperty", resetMethod : String = "reset");

@import ix.ginas.controllers.GinasApp;

<div class="col-md-1 pull-right" ng-show="@(showCondition)">
   <a ng-click="@(Controller).@(resetMethod)()" aria-label="Clear"><i class="fa fa-eraser fa-2x danger"></i></a>
   <a ng-click="@(Controller).@(validateMethod)(@(editObject))" ><i class="fa fa-floppy-o fa-2x success"></i></a>
</div>