@import ix.core.search.text.TextIndexer._
@import ix.ncats.controllers.App
@import ix.ncats.controllers.FacetDecorator
@import ix.utils.Util

@(facets: Array[FacetDecorator], searchflag:Boolean)

<script>
  var filters = {};
</script>

@facet(f: FacetDecorator) = {
<div class="panel panel-default" >
  <div class="panel-heading" ng-click="toggleFacet('@f.name.replace(' ', '-')-iscollapsed')">
    <h3 class="panel-title" >
        <i ng-cloak ="" ng-show="getToggleStatus('@f.name.replace(' ', '-')-iscollapsed')" class="fa fa-caret-right"></i>
        <i ng-cloak ="" ng-hide="getToggleStatus('@f.name.replace(' ', '-')-iscollapsed')" class="fa fa-caret-down"></i>
    @if(f.raw) {
      	@HtmlFormat.raw(f.name())
    } else {
        @f.name()
    }
    </h3>
  </div>
  <div class="panel-body" uib-collapse="getToggleStatus('@f.name.replace(' ', '-')-iscollapsed')">
    <ul class="list-group">
      @** move all selected filters upfront **@
      @for(i <- 0 until f.size()) {
        @if(App.hasFacet(f.facet,i)) {
	<div class="list-group-item checkbox row">
	  @defining(App.sha1(f.facet,i)) { id =>
	       <input type="checkbox" checked="true"
		      onclick="filterToggle(this)" 
		    	  class="col-md-2" 
		      aria-label="Toggle @f.facet.getLabel(i)"
		      id="@id"/>
	     <script>
	        filters['@id'] = {
	           checked: @App.hasFacet(f.facet,i),
                   name: '@App.encode(f.facet)',
	           value: '@App.encode(f.facet, i)'
	        };
	     </script>
		 @if(f.raw) {
            <label class="col-md-8" for="@id">@HtmlFormat.raw(f.label(i))</label>
         } else {
            <label class="col-md-8 text-capitalize" for="@id">@f.label(i)</label>
         }
           @if(f.raw) {
             <span class="col-md-2 badge" style="float:right;">@HtmlFormat.raw(f.value(i))@if(searchflag){+}</span>
           } else {
             <span class="col-md-2 badge" style="float:right;">@f.value(i)@if(searchflag){+}</span>
           }
           }
        </div>
        
        }
      }
      @for(i <- 0 until Math.min(f.max, f.size())) {
        @if(!App.hasFacet(f.facet,i)) {
	<div class="list-group-item checkbox row">
	  @defining(App.sha1(f.facet,i)) { id =>
	       <input type="checkbox"
		     	      onclick="filterToggle(this)" 
		    	  class="col-md-2" 
		      aria-label="Toggle @f.facet.getLabel(i)"
		      id="@id"/>
	     <script>
	        filters['@id'] = {
	           checked: @App.hasFacet(f.facet,i),
                   name: '@App.encode(f.facet)',
	           value: '@App.encode(f.facet, i)'
	        };
	     </script>
		 @if(f.raw) {
            <label class="col-md-8" for="@id">@HtmlFormat.raw(f.label(i))</label>
         } else {
            <label class="col-md-8 text-capitalize" for="@id">@f.label(i)</label>
         }
           @if(f.raw) {
             <span class="col-md-2 badge" style="float:right;">@HtmlFormat.raw(f.value(i))@if(searchflag){+}</span>
           } else {
             <span class="col-md-2 badge" style="float:right;">@f.value(i)@if(searchflag){+}</span>
           }
           }
        </div>
        }
      }
    </ul>
  </div>
</div>
}


<div class="panel-group">
  @for(f <- facets) {
    @if(!f.hidden) {
      @facet(f)
    }
  }
</div>

<script>
function filterToggle (el) {
  filters[el.id].checked = el.checked;
  var facet = "";
  for (var f in filters) {
    if (filters[f].checked) {
      if (facet.length > 0) {
         facet += '&';
      }
      facet += "facet="+filters[f].name + '/' + filters[f].value;
    }
  }
  var url = '@HtmlFormat.raw(App.url(facets, "page"))';
  if (facet.length > 0) {
    url += url.indexOf('?') < 0 ? '?' : '&';
    url += facet;
  }
  location.href = url;
}
</script>
