@import ix.ginas.controllers.GinasLoad
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler
@import play.api.Play.current
@import ix.ginas.controllers.GinasApp

<!--FOOTER-->

<div class="inxight-footer">
	<div class="container">
		<div class="item"><a target="_blank" href="https://www.nih.gov/">NIH</a></div>
		<div class="item"><a target="_blank" href="https://ncats.nih.gov/">NCATS</a></div>
		<div class="item"><a target="_blank" href="https://ncats.nih.gov/privacy">PRIVACY ACT</a></div>
		<div class="item"><a target="_blank" href="https://ncats.nih.gov/accessibility">ACCESSIBILITY</a></div>
		<div class="item-last"><a target="_blank" href="https://ncats.nih.gov/disclaimer">DISCLAIMER</a></div>
		<div class="statement">
			<div class="statement-desktop">
				If you have problems viewing PDF files, download the latest version of Adobe Reader
				<a href="http://get.adobe.com/reader/" target="_blank"
				title="Visit to download Adobe Reader">Adobe Reader</a> 
				<br>
				For <a href="http://edi.nih.gov/consulting/language-access-program/about" target="_blank" title="Read  the plan">language access</a> assistance, 
				contact the <a href="mailto:info@@ncats.nih.gov" title="Email Public Information Officer">NCATS Public Information Officer</a> 
				<br>
			</div>
			<div>
				National Center for Advancing Translational Sciences (NCATS), 
				<span class="mobile-statement-break"><br></span>
				6701 Democracy Boulevard, Bethesda MD 20892-4874 • 301-594-8966
				
			</div>
		</div>
	</div>
</div>