@(title: String, kind: String)(menu: Html)(breadcrumb: Html)(content: Html)

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if lte IE 9]>
	<style type="text/css">
#ie6msg{border:3px solid #c33; margin:8px 0; background:#fcc; color:#000;}
#ie6msg h4{margin:8px; padding:0;}
#ie6msg p{margin:8px; padding:0;}
#ie6msg p a.getie7{font-weight:bold; color:#006;}
#ie6msg p a.ie6expl{font-weight:bold; color:#006;}
</style>
	<div id="ie6msg">
	  <h4>Did you know that your browser is out of date?</h4>
	  <p>To get the best possible experience using this website it is recommended that you upgrade your browser to a newer version.
	  <p>You could also try some other popular browsers like <a class="ie6expl" href="http://mozilla.com">FireFox</a> or
	    <a class="ie6expl" href="https://www.google.com/chrome/S">Chrome</a>.</p>
	</div>
	<![endif]-->

    <title>@title</title>
    <link rel="stylesheet"
    href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel="stylesheet"
    href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
    <link rel="stylesheet"
    href='@routes.Assets.at("ncats/css/jquery.treegrid.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("ncats/css/footer.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("ginas/css/ginas.css")'>
    <script
    src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'
    type='text/javascript'></script>
    <script
    src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <script
    src='@routes.WebJarAssets.at(WebJarAssets.locate("typeahead.bundle.min.js"))'></script>
    <script
    src='@routes.WebJarAssets.at(WebJarAssets.locate("handlebars.min.js"))'></script>
    <script
    src='@routes.WebJarAssets.at(WebJarAssets.locate("bloodhound.min.js"))'></script>
    <script src='@routes.Assets.at("javascripts/jquery.treegrid.js")'></script>
    <script
    src='@routes.Assets.at("javascripts/jquery.treegrid.bootstrap3.js")'></script>
    <script
    src='@routes.WebJarAssets.at(WebJarAssets.locate("html2canvas.js"))'></script>


    @screengrab()
    @filereader()

</head>
<body data-spy="scroll" data-target="#breadcrumb" data-offset="230">
        <div class="container-fluid" id="logo-banner">
        <div class="row-fluid" id="main-banner">
            <div class="col-md-2">
                <img src="@routes.Assets.at("ginas/images/logo.png")" class="img-responsive" id="logo" height="50"/>
            </div>
            <div class="col-md-2 hidden-xs" id="version">
                <code data-toggle="tooltip"
                title="Built on @ix.ncats.views.txt.build()"
                data-placement="bottom"><small>alpha version 0.0.2</small></code>
            </div>
        </div>
        <div class="row-fluid" id="main-menu">@menu </div>
        <div class="row-fluid" id="main-breadcrumb">@breadcrumb</div>
    </div>
    <div class="container" id="content">
    @content
    </div>

    <script>
  $(document).ready(function(){
	  //Hide protein count numbers
		$('#numbers').click(function() {
			$( ".count" ).toggle();
		});
		//show/hide list view
		$('#view-select').click(function() {
			$("#list").toggle();
			$("#grid").toggle();
		});
	  //activate tooltips for proteins
		  $('[data-toggle="tooltip"]').tooltip();
		  $('[data-toggle="popover"]').popover();

	 //start JSDRAW 
  	var sketch = new JSDraw("sketcher");
  		
  	//structure drawer	
	  $('#strucModal').on('shown.bs.modal', function (ev) {
	     var button = $(ev.relatedTarget);
	     var url = button.data('molurl');
	     if (url) {
	       $.get(url, function (moldata) {
			console.log("MOLFILE:" + moldata);
 			sketch.setMolfile(moldata);
		 });
	     }
	  });
	  
	  $('#strucModal').on('hidden.bs.modal', function (e) {
			sketch.setMolfile("");
	       $('#structure').val("");
		}); 
// $('#loading').modal('hide');

  });


  </script>

</body>

