@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp

@(sub: ix.ginas.models.v1.SpecifiedSubstanceGroup1Substance)


@substancedetails(sub){
                        @if(sub.specifiedSubstance.size() > 0) {
                            <li role="presentation"><a href="#components">
                                Mixture Components <span class="badge pull-right">@sub.specifiedSubstance.size()</span></a></li>
                        }
}{
    <div></div>
    }{
    <div class="row info" id="components">
    @specsubcomponents(sub.specifiedSubstance.constituents)
    </div>

    <div class="row info" id="names">
    @names(sub.names)
    </div>

    @if(sub.codes.size() > 0) {
        <div class="row info" id="codes">
        @codes(sub.codes)
        </div>
    }
    @if(GinasApp.resolveRelationships(sub.uuid.toString()).size() > 0) {
        <div class="row info" id="relationships">
        @relationships(sub.relationships)
        </div>
    }



    <div class="row info" id="refs">
    @references(sub.references)
    </div>


}
