@ginas("ginas", "null") {
    @menu()
} {
    <h3></h3>
} {
    <div class="container">
        <div class="row" id="pub-history">
            <div class="col-md-8 col-md-offset-2">
                <div class="row" id="icons">
		  <a href="@ix.ginas.controllers.routes.GinasApp.substances()"> 
                        <div class="col-md-4">
                            <h2>Browse Substances</h2>
                            <img src="@routes.Assets.at("ginas/images/sketcher.png")" class="img-responsive" id="" />
                        </div>
		  </a>

                    <a href="@ix.ginas.controllers.routes.GinasFactory.register()">
                        <div class="col-md-4 col-md-offset-4">
                            <h2>Register a Substance</h2>
                            <img src="@routes.Assets.at("ginas/images/aminoacid.png")" class="img-responsive" id="" />
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!--END panel panel-primary-->

}
