@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@ginas("g-srs", "null") {
     @menu()
}{
    <div class="container">
        <div class="row" id="icons">
            <a href="@ix.ginas.controllers.routes.GinasApp.substances()" target="_self">
                <div class="col-md-4 col-md-offset-1 box">
                    <img src="@routes.Assets.at("ginas/images/browse-off.svg")" alt ="Browse Substances" aria-label="Browse Substances" class="img-responsive off" id="browse off" />
                    <img src="@routes.Assets.at("ginas/images/browse-on.svg")" alt ="Browse Substances" aria-label="Browse Substances" class="img-responsive on" id="browse on" />
                </div>
            </a>

            @dynamic(name = IxDynamicResourceHandler.CAN_REGISTER, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                                <a href="@ix.ginas.controllers.routes.GinasFactory.register()" target="_self">

                    <div class="col-md-4 col-md-push-2 box" style="padding-top : 6 px ;">
                        <img src="@routes.Assets.at("ginas/images/register-off.svg")" alt ="Register a Substance" aria-label="Register a Substance" class="img-responsive off" id="register off" />
                        <img src="@routes.Assets.at("ginas/images/register-on.svg")" alt ="Register a Substance" aria-label="Register a Substance" class="img-responsive on" id="register on" />
                    </div>
                </a>
            }
        </div>
    </div>
    <!--END panel panel-primary-->

}
