@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

     <!-- Register Panel -->
     <div class="col-md-8">
         <div class="panel panel-primary" id="myBox">
             <div class="panel-heading mypanelheading-register">
                 <h3 class="paneltitle">Register (Login to Register)</h3>
             </div>
             <div class="panel-body mypanelbody-register">
                 <br>
                 <img src="@routes.Assets.at("ginas/images/icon_registersubstance.png")" alt="Register a substance" height="30px" width="40px" />&nbsp;&nbsp;&nbsp;
                 Register a Substance
                 <br>
                 <table class="marginleft60px">
                     <tr>
                         <td>
                             <img src="@routes.Assets.at("ginas/images/bullet.gif")" alt="Register a chemical" height="13px" width="13px" />
                             &nbsp;&nbsp;&nbsp;Chemical&nbsp;&nbsp;&nbsp;
                         </td>
                         <td>
                             <img src="@routes.Assets.at("ginas/images/bullet.gif")" alt="Register a proteins" height="13px" width="13px" />
                             &nbsp;&nbsp;&nbsp;Protein&nbsp;&nbsp;&nbsp;
                         </td>
                         <td>
                             <img src="@routes.Assets.at("ginas/images/bullet.gif")" alt="Register a nucleic acids" height="13px" width="13px" />
                             &nbsp;&nbsp;&nbsp;Nucleic Acid&nbsp;&nbsp;&nbsp;
                         </td>
                         <td>
                             <img src="@routes.Assets.at("ginas/images/bullet.gif")" alt="Register a polymers" height="13px" width="13px" />
                             &nbsp;&nbsp;&nbsp;Polymer&nbsp;&nbsp;&nbsp;
                         </td>
                     </tr>
                     <tr>
                         <td>
                             <img src="@routes.Assets.at("ginas/images/bullet.gif")" alt="Register a structurally diverse" height="13px" width="13px" />
                             &nbsp;&nbsp;&nbsp;Structurally Diverse&nbsp;&nbsp;&nbsp;
                         </td>
                         <td>
                             <img src="@routes.Assets.at("ginas/images/bullet.gif")" alt="Register a mixture" height="13px" width="13px" />
                             &nbsp;&nbsp;&nbsp;Mixture&nbsp;&nbsp;&nbsp;
                         </td>
                         <td>
                             <img src="@routes.Assets.at("ginas/images/bullet.gif")" alt="Register a concept" height="13px" width="13px" />
                             &nbsp;&nbsp;&nbsp;Concept&nbsp;&nbsp;&nbsp;
                         </td>
                     </tr>
                 </table>
                 <hr class="margin10pxauto">
                 <img src="@routes.Assets.at("ginas/images/icon_specifiedsubstance.png")" alt="Register a specified substance group 1" height="30px" width="35px" />&nbsp;&nbsp;&nbsp;
                 Specified Substance Group 1

                 &nbsp;&nbsp;&nbsp;&nbsp;
                 <img src="@routes.Assets.at("ginas/images/icon_specifiedsubstance.png")" alt="Register a specified substance group 2" height="30px" width="35px" />&nbsp;&nbsp;&nbsp;
                 Specified Substance Group 2

                 <hr class="margin10pxauto">
                 <img src="@routes.Assets.at("ginas/images/icon_specifiedsubstance.png")" alt="Register a specified substance group 3" height="30px" width="35px" />&nbsp;&nbsp;&nbsp;
                 Specified Substance Group 3

                 &nbsp;&nbsp;&nbsp;&nbsp;
                 <img src="@routes.Assets.at("ginas/images/icon_specifiedsubstance.png")" alt="Register a specified substance group 4" height="30px" width="35px" />&nbsp;&nbsp;&nbsp;
                 Specified Substance Group 4

                 <hr class="margin10pxauto">
                 <img src="@routes.Assets.at("ginas/images/icon_product.png")" alt="Register a product" height="30px" width="35px" />&nbsp;&nbsp;&nbsp;
                 Product

                 <hr class="margin10pxauto">
                 <img src="@routes.Assets.at("ginas/images/icon_application.png")" alt="Register a application" height="30px" width="35px" />&nbsp;&nbsp;&nbsp;
                 Application

                 <hr class="margin10pxauto">
                 <img src="@routes.Assets.at("ginas/images/icon_application.png")" alt="Register a Biomarker" height="30px" width="35px" />&nbsp;&nbsp;&nbsp;
                 Biomarker

                 <hr class="margin10pxauto">
                 <img src="@routes.Assets.at("ginas/images/icon_application.png")" alt="Register a Indication" height="30px" width="35px" />&nbsp;&nbsp;&nbsp;
                 Indication
                 <br><br>


             </div> <!-- panel-body -->
         </div> <!-- panel-info -->
     </div> <!-- col-md-8 -->
