<div class="inxight-footer">
	<div class="container">
		<div class="item"><a target="_blank" href="https://www.nih.gov/">NIH</a></div>
		<div class="item"><a target="_blank" href="https://ncats.nih.gov/">NCATS</a></div>
		<div class="item"><a target="_blank" href="https://ncats.nih.gov/privacy">PRIVACY ACT</a></div>
		<div class="item"><a target="_blank" href="https://ncats.nih.gov/accessibility">ACCESSIBILITY</a></div>
		<div class="item-last"><a target="_blank" href="https://ncats.nih.gov/disclaimer">DISCLAIMER</a></div>
		<div class="statement">
			<div class="statement-desktop">
				For <a href="http://edi.nih.gov/consulting/language-access-program/about" target="_blank" title="Read  the plan">language access</a> assistance, 
				contact the <a href="mailto:info@@ncats.nih.gov" title="Email Public Information Officer">NCATS Public Information Officer</a> 
				<br>
			</div>
			<div>
				National Center for Advancing Translational Sciences (NCATS), 
				<span class="mobile-statement-break"><br></span>
				6701 Democracy Boulevard, Bethesda MD 20892-4874 • 301-594-8966
				
			</div>
		</div>
	</div>
	<div class=" hidden-xs hidden-sm" id="version">
		<code uib-tooltip="Built on @ix.BuildInfo.TIME (commit: @ix.BuildInfo.COMMIT)"
		tooltip-placement="auto"
		tooltip-append-to-body="true">
			<small>version 1.0</small>
		</code>
	</div>
</div>