<!-- BANNER AND MENU -->
<nav class="navbar navbar-default">
    <div class="container-fluid" id="full">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#menubar">
                <span class="sr-only">Toggle Navigation</span> <i class="fa fa-bars"
            id="menuicon"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-default" id="menubar">
            <ul class="nav navbar-nav pull-left">
                <li><a href="@ix.ginas.controllers.routes.GinasFactory.index()" target="_self"><span>Home</span></a></li>
                <li><a href="http://ginas.hres.ca/ginas/#view=register"><span>Register Substance</span></a></li>
                <li><a href="http://tripod.nih.gov/pub/ginasISO/"><span>Download</span></a></li>
                <li><a id = "bug-link" data-toggle="modal" data-target="#screenshot" role="button">Report a Bug</a></li>
                @*<li><button type="button" class="btn navbar-btn btn-default"
                data-toggle="modal"
                data-target="#strucModal">Structure Search</button> &nbsp;
                </li>*@
                <li><a ng-href="@ix.ginas.controllers.routes.GinasFactory.structuresearch()" ng-click="ginasCtrl.clearStructure()" target="_self"><span>Structure Search</span></a></li>
               
            </ul>
            <div class="nav navbar-nav pull-right" id ="menu-login">
                <ul class="nav navbar-nav pull-right">
                    @if(!play.Play.isProd()) {
                        <li><a href= "@ix.ginas.controllers.routes.GinasLoad.load()" id ="load-button" target="_self"><button class="btn btn-default">
                            Load Data</button></a></li>
                    }
                <li><a href= "@ix.ginas.controllers.routes.GinasFactory.login()" id ="login-button" target="_self"><button class="btn btn-default">Login</button></a></li>
                </ul>
            </div>
        </div>
            <!-- close input group  -->
    </div>
    @ix.ncats.views.html.typeahead(Array("Name", "Substance_Class"))
    @screenshot()
    @report()


</nav>
