<div class = "row info" ng-controller="StructureController as StructureCtrl">
  <button class="btn btn-primary label-offset det">
                      Moieties </button>
  @*<a ng-show="!addingStructure" ng-click="addStructure()" aria-label="Add Structure"><i class = "fa fa-plus fa-2x success"></i></a>*@
  @*<div ng-show="addingStructure">*@
  <div>
    <div class="col-md-12" id="structureSearcher">

        <div class ="row header-row">
            <div class="col-md-1"><strong>Moiety Structure</strong></div>
            <div class="col-md-1"><strong>Moiety Count</strong></div>
            <div class="col-md-1"><strong>Stereo Chemistry</strong></div>
            <div class="col-md-1"><strong>Optical Activity</strong></div>
            <div class="col-md-1"><strong>Additional Stereochemistry</strong></div>
            <div class="col-md-1"><strong>Formula</strong></div>
            <div class="col-md-1"><strong>Molecular Weight</strong></div>
            <div class="col-md-1"><strong>Defined Stereocenters</strong></div>
            <div class="col-md-1"><strong>EZ Centers</strong></div>
            <div class="col-md-1"><strong>Charge</strong></div>
            <div class="col-md-1"><strong>References</strong></div>
            </div>
<div ng-repeat="submoiety in ginasCtrl.substance.chemical.moieties">
            <moiety m="submoiety"></moiety>
    </div>
         @* <div class = "col-md-3"><strong>Molecular Formula</strong></div>
         <div class = "col-md-3"><strong>Molecular Weight</strong></div>
         <div class = "col-md-2"><strong>Defined Stereocenters</strong></div>
         <div class = "col-md-1"><strong>EZ Centers</strong></div>
         <div class = "col-md-1"><strong>Charge</strong></div>
         <div class = "col-md-2"><strong>Reference ID</strong></div>
         </div>
         <div class ="row" >
         <div class = "col-md-3">
         {{structure.formula}}
         </div>
         <div class = "col-md-3">
         {{structure.mwt}}
         </div>
         <div class = "col-md-2">
         {{structure.definedStereo}}/{{structure.stereoCenters}}
         </div>
         <div class = "col-md-1">
         {{structure.ezCenters}}
         </div>
         <div class = "col-md-1">
         {{structure.charge}}
         </div>
         <div class = "col-md-2">
         {{nameVar.references.id}} {{nameVar.references.citation}}
         </div>
         </div>
         </form>
         </div>
         </div>
         <div class="modal fade export" id="molexport" tabindex="-1" role="dialog" aria-labelledby="myModalLabelExport" aria-hidden="true">
         <div class="modal-dialog">
         <div class="modal-content">
         <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabelExport">Export Mol File</h4>
         </div>
         <div class="modal-body">
         <div class = "row">
         <textarea class="col-md-12" id = "inputExport">
         {{structure.molfile}}
         </textarea>
         </div>
         <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary" onclick="" data-dismiss="modal">Save</button>
         </div>
         </div>
         </div>
         </div>
         </div>
         <!-- Modal -->
         <div class="modal fade" id="structureimport" tabindex="-1" role="dialog" aria-labelledby="myModalLabelimport" aria-hidden="true">
         <div class="modal-dialog">
         <div class="modal-content">
         <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabelimport">Structure Import</h4>
         </div>
         <div class="modal-body">
         <form class="form" role="import" method="GET"
         action="" id = "filereader">
         <div class="form-group">
         <div class = "row">
         <div class="col-md-3">
         <div class="form-group">
         <label for="exampleInputFile">Load File</label>
         <input type="button" value="Choose File" onclick="window.FileContentsGrabber.append('mol-sequence')" id="exampleInputFile">
         <p class="help-block">or</p>
         </div>
         </div>
         </div>
         <div class = "row">
         <div class="col-md-12">
         <label for="description-det">Enter molfile, smiles or systematic name:</label>
         <textarea class="form-control" rows="10" ng-model="structure.molfile" ng-change=" " id="mol-sequence"></textarea>
         </div>
         </div>
         </div>
         <div class="modal-footer">
         <button type="button" class="btn btn-default" ng-click="structure.molfile=null;" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary" ng-click="StructureCtrl.resolveMol(structure)" data-dismiss="modal">Import</button>
         </div>
         </form>
         </div>*@
         </div>
         </div>
         </div>
</div>
