<div class = "row info" ng-controller="StructureController as StructureCtrl">
    <button class="btn btn-primary label-offset det">
                      Moieties&nbsp;<span class="badge" ng-show="ginasCtrl.substance.chemical.moieties.length>0">
                        {{ginasCtrl.substance.chemical.moieties.length}}</span>  </button>
    @*<a ng-show="!addingStructure" ng-click="addStructure()" aria-label="Add Structure"><i class = "fa fa-plus fa-2x success"></i></a>*@
    @*<div ng-show="addingStructure">*@
    <div>
        <div class="col-md-12" id="structureSearcher">

            <div class ="row header-row">
                <div class="col-md-1"><strong>Moiety Structure</strong></div>
                <div class="col-md-1"><strong>Moiety Count</strong></div>
                <div class="col-md-1"><strong>Stereo Chemistry</strong></div>
                <div class="col-md-1"><strong>Optical Activity</strong></div>
                <div class="col-md-1"><strong>Additional Stereochemistry</strong></div>
                <div class="col-md-1"><strong>Formula</strong></div>
                <div class="col-md-1"><strong>Molecular Weight</strong></div>
                <div class="col-md-1"><strong>Defined Stereocenters</strong></div>
                <div class="col-md-1"><strong>EZ Centers</strong></div>
                <div class="col-md-1"><strong>Charge</strong></div>
                <div class="col-md-1"><strong>References</strong></div>
            </div>
            <div ng-repeat="submoiety in ginasCtrl.substance.chemical.moieties">
                <moiety m="submoiety"></moiety>
            </div>
        </div>
    </div>
</div>
