@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.Name
@import ix.ginas.models.v1.Substance

@(names: List[Name],substance: Substance = null)

<button class="btn btn-primary label-offset det">Names&nbsp;<span class="badge"> @names.length</span></button>
<div class="col-md-12">
    <table class="table table-striped" id="namesTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Language</th>
                <th>Preferred</th>
                <th>References</th>
            </tr>
        </thead>
        @for(n <- names) {
            <tr>
                <td>@n.name
                
                @for(l <- n.getLocators(substance)) {
                    <span class="badge">@GinasApp.getCV.getDisplay("LOCATOR", l)</span> &nbsp;
                	
                	}
                </td>
                <td>@GinasApp.getCV.getDisplay("NAME_TYPE",{n.`type`})</td>
                <td>@for(l <- n.languages) {
                    @GinasApp.getCV.getDisplay("LANGUAGE", l.term) &nbsp;
                }
                </td>
                
                
                <td>@if(n.preferred == true) {<i class="fa fa-check fa-2x success"></i> } else {}</td>
                @referencetable(n.references, n.uuid.toString(), 5)
            </tr>
        }
    </table>
</div>

