@import ix.ginas.controllers.v1.CVFactory;
<div class = "row info" ng-controller="NameController as NameCtrl">
    <button class="btn btn-primary label-offset det">
                        Names&nbsp;<span class="badge" ng-show="substance.names.length>0">
                        {{substance.names.length}}</span> </button>
    <a ng-show="!addingNames" ng-click="NameCtrl.addNames()" aria-label="Add Names"><i class = "fa fa-plus fa-2x success"></i></a>
    <div class="col-md-12">
        <div class = "row header-row">
            <div class = "col-md-2">
                <strong>Name</strong>
            </div>
            <div class = "col-md-1">
                <strong>Type</strong>
            </div>
            <div class = "col-md-1" ng-show="ofType">
                                    <strong>Domain</strong></div>
            <div class = "col-md-1" ng-show="ofType">
                                    <strong>Jurisdiction</strong></div>
            <div class = "col-md-1" ng-show="ofType">
                                    <strong>Naming Org.</strong></div>
            <div class = "col-md-2">
                <strong>Language</strong>
            </div>
            <div class = "col-md-1">
                <strong>Preferred</strong>
            </div>
            <div class = "col-md-2">
                <strong>Reference ID</strong>
            </div>
            <div class = "col-md-1">

            </div>

        </div>
        <div class = "row" ng-repeat="name in ginasCtrl.substance.names">
            <div class = "col-md-2">
                                    {{name.name}}
            </div>
            <div class = "col-md-1">
                                    {{name.type.display}}
            </div>
            <div class = "col-md-1" ng-show="ofType">
                                    {{name.domain.display}}</div>
            <div class = "col-md-1" ng-show="ofType">
                                    {{name.jurisdiction.display}}</div>
            <div class = "col-md-1" ng-show="ofType">
                                    {{name.nameOrgs.org}}</div>
            <div class = "col-md-2">
                                    {{ name.languages.display}}
            </div>
            <div class = "col-md-1 text-center">
                <i ng-show="name.preferred===true" class="fa fa-check fa-2x success"></i>
            </div>
            <div class = "col-md-1">
                    {{name.references.id}} {{name.references.citation}}
            </div>
            <div class = "col-md-1 pull-right">
                <a ng-show="!isEditing" ng-click="NameCtrl.setEditedName(name); NameCtrl.toggleEdit();" aria-label="Edit"><i class="fa fa-pencil-square-o fa-2x success"></i></a>
                <a ng-show="!isEditing" ng-click="NameCtrl.removeName(name)" aria-label="Remove"><i class="fa fa-times fa-2x danger"></i></a>
            </div>

        </div>
        @*<div class="row form-row" ng-show="isEditing">*@
            @*<form class="form-horizontal" name="editNameForm" id = "add-name" role="form" ng-submit="NameCtrl.updateName(editName)" novalidate>*@
                @*<h4 ng-show="isEditing">Editing {{editName.name}}</h4>*@
                @*<div class="col-md-2 err-check" show-errors>*@
                    @*<input type="text" class="form-control" ng-model = "editName.name" title="Name" id="name" name = "edit-name" required/>*@
                    @*<p class="help-block" ng-if="editNameForm.editName.$error.required">Substance name is required</p>*@
                    @*<p class="help-block-duplicate" ng-if="editNameForm.editName.$error.required">Duplicate name exists</p>*@
                @*</div>*@
                @*<div class="col-md-2 err-check" show-errors>*@
                    @*<select class="form-control" title="Name Type" id="type" name = "edit-type" ng-model = "editName.type" ng-change="NameCtrl.typeCheck()" ng-options="r.display for r in @CVFactory.getField("NAME_TYPE") track by r.display" required>*@
                        @*</select>*@
                    @*<p class="help-block" ng-if="editNameForm.editName.$error.required">*required</p>*@
                @*</div>*@
                @*<div class="col-md-2 err-check" show-errors>*@
                    @*<select class="form-control" title="Language" id="language" name="edit-language" ng-model = "editName.languages" ng-options="r.value for r in @CVFactory.getField("LANGUAGE") track by r.display" required>*@
                        @*</select>*@
                @*</div>*@
                @*<div class="col-md-1">*@
                    @*<input type = "checkbox" ng-model = "editName.preferred" placeholder="Preferred" title="Preferred" id="preferred"/>*@
                @*</div>*@
                @*<div class="col-md-2 err-check" show-errors>*@
                    @*<select class="form-control" title="Reference" id="reference"  name = "edit-reference" ng-model = "editName.references" ng-options="ref.citation for ref in substance.references" ></select>*@
                    @*<p class="help-block" ng-if="editNameForm.editName.$error.required">*required</p>*@
                @*</div>*@
                @*<div class="col-md-2  pull-right">*@
                    @*<a id ="name-submit" ng-show="editNameForm.$valid" ng-click="NameCtrl.updateName(editName)" arial-label="Save">*@
                        @*<i class="fa fa-floppy-o fa-2x success"></i></a>*@
                    @*<a type="submit" ng-click="NameCtrl.toggleEdit();" aria-label="Cancel">*@
                        @*<i class="fa fa-ban fa-2x danger"></i></a>*@
                @*</div>*@
            @*</form>*@
        @*</div>*@
        <div class="row form-row" ng-show="!isEditing && addingNames">
            <form class="form-inline" name="nameForm" id = "add-name" role="form" ng-submit="NameCtrl.validateName(name)" novalidate>
                <div class="col-md-2 err-check" id="name-div" show-errors>
                    <input type="text" class="form-control text-uppercase" ng-model = "name.name" title="Name" id="name" name = "subName" duplicate required/>
                    <ul class="error-msgs" ng-messages="nameForm.subName.$error">
                        <li ng-message="required">Substance name is required</li>
                        <li ng-message="duplicate">Name already exists in Ginas</li>
                    </ul>
                </div>
                <div class="col-md-1 err-check" show-errors>
                    <select class="form-control" title="Name Type" id="type" name = "type" ng-model = "name.type" ng-change="NameCtrl.typeCheck()" ng-options="r.display for r in @CVFactory.getField("NAME_TYPE") track by r.display" required>
                        </select>
                    <p class="help-block" ng-if="nameForm.name.$error.required">*required</p>
                </div>
                @*<div class = "col-md-1" ng-show="name.type.value=='of'"><select class="form-control" title="Domain" id="domain" name = "domain" ng-model = "name.domain" ng-options="r.display for r in @CVFactory.getField("NAME_DOMAIN") track by r.display" >*@
                @*</select>*@
                @*</div>*@
                @*<div class="col-md-1" ng-show="name.type.value=='of'" ><select class="form-control" title="Jurisdiction" id="jurisdiction" name = "jurisdiction" ng-model = "name.jurisdiction" ng-options="r.display for r in @CVFactory.getField("JURISDICTION") track by r.display" >*@
                @*</select>*@
                @*</div>*@
                @*<div class = "col-md-1" ng-show="name.type.value=='of'"><select class="form-control full-width" title="Naming Organization" id="name-org" name="name-org" ng-model = "name.nameOrgs.nameOrg" ng-options="r.display for r in @CVFactory.getField("NAME_ORG") track by r.display" >*@
                @*</select>*@
                @*</div>*@
                @*<div class="col-md-2 err-check" show-errors>*@
                    @*<select class="form-control full-width" title="Language" id="language" name="language" ng-model = "name.languages" ng-options="r.display for r in @CVFactory.getField("LANGUAGE") track by r.display" required>*@
                        @*</select>*@
                @*</div>*@
                @*<div class="col-md-1">*@
                    @*<input type = "checkbox" ng-model = "name.preferred" placeholder="Preferred" title="Preferred" id="preferred"/>*@
                @*</div>*@
                @*<div class="col-md-1 err-check" show-errors>*@
                    @*<select class="form-control" title="Reference" id="reference" name = "reference" ng-model = "name.references" ng-options="ref.citation for ref in substance.references" ></select>*@
                    @*<p class="help-block" ng-if="nameForm.name.$error.required">*required</p>*@
                @*</div>*@
                <div class="col-md-1  pull-right">
                    <a ng-click="NameCtrl.reset()" aria-label="Clear"><i class="fa fa-eraser fa-2x danger"></i></a>
                    <button class="btn btn-default" type="submit">Validate</button>
                </div>
            </form>
        </div>
        @*</tr></table>*@
        @*</tr>*@
        @*</table>*@
    </div>
    <button class = "btn btn-primary pull-right" ng-show="addingNames &&!isEditing" ng-click="NameCtrl.addNames()">
                        Done</button>
</div>
