@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.Name

@(names: List[Name])

<button class="btn btn-primary label-offset det">Official Names&nbsp;<span class="badge"> @names.length</span></button>
<div class="col-md-12">
    <table class="table table-striped" id="namesTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Domain</th>
                <th>Jurisdiction</th>
                <th>Naming Org</th>
                <th>Language</th>
                <th>Preferred</th>
                <th>References</th>
            </tr>
        </thead>
        @for(n <- names) {
            <tr>
                <td>@n.name</td>
                <td>
                @for(d <- n.domains) {
                    @GinasApp.getCV.getDisplay("NAME_DOMAIN", d.term) &nbsp;
                }
                </td>
                <td>
                @for(j <- n.nameJurisdiction) {
                    @GinasApp.getCV.getDisplay("JURISDICTION",j.term) &nbsp;
                }</td>
                <td>@for(org <- n.nameOrgs) {
                    @GinasApp.getCV.getDisplay("DOMAIN", org.nameOrg) &nbsp;
                }</td>
                <td>@for(l <- n.languages) {
                    @GinasApp.getCV.getDisplay("LANGUAGE", l.term) &nbsp;
                }
                </td>
                <td>@if(n.preferred == true) {
                    <i class="fa fa-check fa-2x success"></i>
                } else {}</td>
                @referencetable(n.references, n.uuid.toString(), 5)
            </tr>
        }
    </table>
</div>
@* <div class="col-md-3" ng-show="ofType">
<div class ="row">
<div class = "col-md-4">
{{name.domain.display}}</div>
<div class = "col-md-4" ng-show="ofType">
{{name.jurisdiction.display}}</div>
<div class = "col-md-4" ng-show="ofType">
{{name.nameOrgs.org.display}}</div>
</div>
</div>*@