@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp

@(sub: ix.ginas.models.v1.PolymerSubstance)

@substancedetails(sub){
    <li role="presentation" class="active"><a href="#structureDetails">Definition</a></li>


}  {
    
     <div class = "row">
        <div class = "col-md-9">
            <h4>Polymer Substance</h4>
        </div>
         <div class = "col-md-3">
         @if(sub.isSubstanceVariant()) {
             <h3 class= "pull-right subconcept"> @sub.getApprovalIDDisplay()</h3>
         } else {
             <h3 class= "pull-right"> @sub.getApprovalIDDisplay()</h3>
         }

         </div>
    </div>

    <div class="row info" id="names">
   		<div class = "col-md-9">
            <i>Not Implemented yet</i>
        </div>
    </div>
}
