@import ix.ginas.controllers.GinasApp

<div class = "row info" ng-controller="PropertyController as PropertyCtrl" >
    <button class="btn btn-primary label-offset det">
                        Properties&nbsp;<span class="badge" ng-show="substance.properties.length>0">
                        {{substance.properties.length}}</span> </button>
    <a ng-show="!addingProperties" ng-click="PropertyCtrl.addProperties()" aria-label="Add Properties"><i class = "fa fa-plus fa-2x success"></i></a>
    <a ng-show="addingProperties" ng-click="PropertyCtrl.addProperties()" aria-label="Done"><i class = "fa fa-minus fa-2x danger"></i></a>
    <div class="col-md-12">
        <div class = "row header-row">
             <div class = "col-md-2">
                <strong>Property Type</strong>
            </div>
            <div class = "col-md-2">
                <strong>Property Name</strong>
            </div>
           
            <div class = "col-md-3">
                <strong>Property Value</strong>
            </div>
            <div class = "col-md-2">
                <strong>Parameters</strong>
            </div>
            <div class = "col-md-1">
                <strong>Defining</strong>
            </div>
            <div class = "col-md-2">
                <strong>Reference ID</strong>
            </div>
        </div>

        <div class = "row" ng-repeat="obj in ginasCtrl.substance.properties">
             <div class = "col-md-2">
               	{{obj.propertyType.display}}
            </div>
            <div class = "col-md-2">
               	{{obj.name.display}}
            </div>
           
            <div class = "col-md-3">
                {{obj.value}}
            </div>
            <div class = "col-md-2">
                {{obj.parameters}}
            </div>
            <div class = "col-md-1">
                {{obj.defining}}
            </div>
             <div class = "col-md-2">
                    {{obj.references.id}} {{obj.references.citation}}
            </div>
            <div class = "col-md-1 pull-right">
			   <a ng-show="!isEditing" ng-click="PropertyCtrl.setEditedProperty(obj); PropertyCtrl.toggleEditProperty();" aria-label="Edit"><i class="fa fa-pencil-square-o fa-2x success"></i></a>
			   <a ng-show="!isEditing" ng-click="PropertyCtrl.removeProperty(obj)" aria-label="Remove"><i class="fa fa-times fa-2x danger"></i></a>
			</div>
        </div>
        
        
        
        <div class="row form-row" ng-show="isEditingProperty">
            <form class="form" name="editPropertyForm" id = "edit-propertyForm" role="form" ng-submit="PropertyCtrl.validateProperty(editProperty); PropertyCtrl.addProperties()" novalidate>
                <div class ="row">
                    <div class="col-md-2 err-check" id="property-div" show-errors>
                        <select class="form-control" title="Property Type" id="type" name = "type" ng-model = "editProperty.type" ng-options="r.display for r in @GinasApp.getCV.getField("PROPERTY_TYPE") track by r.display" required>
                        </select>
                    </div>
                    <div class="col-md-2 err-check" id="property-div" show-errors>
                        <select class="form-control" title="Property Name" id="name" name = "name" ng-model = "editProperty.name" ng-options="r.display for r in @GinasApp.getCV.getField("PROPERTY_NAME") track by r.display" required>
                        </select>
                    </div>
                    
                   
                    @referenceselectorform("editPropertyForm","editProperty")
                    @editcontrolsform("PropertyCtrl","editProperty","toggleEditProperty","updateProperty","addingProperties")
                    
                </div>
            </form>
        </div>

        <div class="row form-row" ng-show="!isEditingProperty && addingProperties">
            <form class="form-horizontal" name="propertyForm" id = "add-property" role="form" novalidate>
                <div class="col-md-2 err-check" id="property-div" show-errors>
                	<select class="form-control" title="Property Type" id="name" name = "name" ng-model = "property.type" ng-options="r.display for r in @GinasApp.getCV.getField("PROPERTY_TYPE") track by r.display" required>
                	</select>
				</div>
                <div class="col-md-2 err-check" id="property-div" show-errors>
                	<select class="form-control" title="Property Name" id="name" name = "name" ng-model = "property.name" ng-options="r.display for r in @GinasApp.getCV.getField("PROPERTY_NAME") track by r.display" required>
                	</select>
				</div>
				
                
                <div class="col-md-2 err-check" show-errors>
                    <a ng-show="!ginasCtrl.substance.references" data-toggle="modal" data-target="#addref" role="button" aria-label="Add a reference"><i class="fa fa-plus fa-2x success"></i></a>
                    <p class="danger" ng-if="!ginasCtrl.substance.references && propertyForm.reference.$error">*required</p>
                    <select class="form-control" title="Reference" id="reference" name = "reference" ng-hide="!ginasCtrl.substance.references" ng-init= "property.references = ginasCtrl.substance.references[0]" ng-model = "property.references" ng-options="ref.citation for ref in  ginasCtrl.substance.references"></select>
                    <ng-messages for="propertyForm.reference.$error" ng-if="propertyForm.reference.$pristine">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                @editcontrolsdirectform("PropertyCtrl","property","addingProperties","validateProperty","reset")
            </form>
        </div>
    </div>
</div>

