
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.ProteinSubstance

@(prot: ProteinSubstance)

<div class = "col-md-3 thumb-col">
    <div class="panel panel-default">
        <div class="panel-heading">

            <p class="text-right" data-toggle="tooltip" title="Approval ID">
                <a href="@ix.ginas.controllers.routes.GinasApp.protein(GinasApp.getId(prot))">
                    <code> @prot.approvalID</code></a></p>
        </div>
        <div class="panel-body struc-img">
            <a href="@ix.ginas.controllers.routes.GinasApp.protein(GinasApp.getId(prot))">
                <img src="@routes.Assets.at("ginas/images/proteinHolder.png")" class="img-responsive" id="" />
            </a>
        </div>
        <div class = "panel-footer nameDiv" data-toggle="tooltip" title="@prot.getName()">
            <a href="@ix.ginas.controllers.routes.GinasApp.protein(GinasApp.getId(prot))">
            @GinasApp.truncate(prot.getName())
            </a>
        </div>
    </div>
</div>
<!--END panel panel-primary-->
