@import ix.core.models.Structure
@import ix.ginas.models.v1.ProteinSubstance
@import ix.ginas.models.v1.Protein
@import ix.ginas.models.v1.Glycosylation
@import ix.ginas.controllers.GinasApp

@(sub: ix.ginas.models.v1.ProteinSubstance)

@structureImage(s: Structure, size: Integer) = {
    <img class="struc-thumb" alt="Structure of @sub.getName()"
    src='@ix.ginas.controllers.routes.GinasApp.structure(s.getId, "svg", size)'>
}

@substancedetails(sub) {
    <li role="presentation" class="active"><a href="#subunits">Subunits
        <span class= "badge">@sub.protein.subunits.length</span></a>
    </li>
    @defining(sub.protein.disulfideLinks.length) { count =>
        @if(count > 0 ){
            <li role="presentation"><a href="#disulfide">Disulfide Links
                <span class= "badge">@count</span></a>
            </li>
        }
    }
    @defining(GinasApp.getCount(sub.protein.glycosylation)) { count =>
        @if(count > 0 ){
            <li role="presentation"><a href="#glyco">Glycosylation
                <span class= "badge">@count</span></a>
            </li>
        }
    }
} {
    <div class="row info" id="subunits">
        <div class = "row">
            <div class="col-md-4">
                <button class="btn btn-primary label-offset det">
                    Subunits&nbsp;<span class="badge head"> @sub.protein.subunits.size()</span></button>
            </div>
            <div class = "col-md-2 pull-right">
                <form class="form" name="numbers-select" id = "numbers-select">
                    <switch id="numbers" name="numbers" ng-model="numbers" on='<i class="fa fa-list-ol fa-2x"></i>' off='<i class="fa fa-bars fa-2x"></i>'></switch>
                </form>
            </div>
        </div>
        <div class = "col-md-12">
        @for(i <- 0 until sub.protein.subunits.size()) {
            @for(s <- sub.protein.subunits) {
                @if(s.subunitIndex == i + 1) {
                    <div class="panel panel-default subunit-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Subunit @s.subunitIndex</h3>
                        </div>
                        <div class="panel-body">
                            <div class = "row">
                            @defining(s.sequence.toArray) { sequence =>
                                @defining(s.sequence.length) { length =>
                                    @for(j <- 0 until (length / 10)) {
                                        <div class = "col-md-2 aaBlock">
                                            <div class = "row">
                                                <div class = "col-md-12 text-right">
                                                    <span class = "count" ng-hide="numbers">@((j + 1) * 10)</span>
                                                </div>
                                            </div>
                                            <div class = "row">
                                                <div class = "col-md-12 string">
                                                @defining(s.sequence.subSequence((j * 10), ((j + 1) * 10))) { subArr =>
                                                    @for(k <- 0 until subArr.length) {
                                                        @defining(k + (j * 10) + 1) { index =>
                                                            <span class = "highlight @GinasApp.siteCheck(sub.protein, s.subunitIndex, index)" tooltip="@s.subunitIndex-@index @subArr.charAt(k):@GinasApp.getAAName(subArr.charAt(k))">@subArr.charAt(k)</span>
                                                        }
                                                    }
                                                }
                                                </div>
                                            </div>
                                        </div>
                                    }

                                <div class = "col-md-2 aaBlock">
                                    <div class = "row">
                                        <div class = "col-md-12 text-right">
                                            <span class = "count" ng-hide="numbers">@length</span>
                                        </div>
                                    </div>
                                    <div class = "row">
                                        <div class = "col-md-12 string">
                                        @defining(s.sequence.subSequence((length - length % 10), (length))) { subArr =>
                                            @for(k <- 0 until subArr.length) {
                                                @defining(length - length % 10) { index =>
                                                    <span class = "highlight @GinasApp.siteCheck(sub.protein, s.subunitIndex, (index + k + 1))" tooltip="@s.subunitIndex-@(index + k + 1) @subArr.charAt(k):@GinasApp.getAAName(subArr.charAt(k))">@subArr.charAt(k)</span>

                                                }
                                            }
                                        </div>
                                        }

                                </div>
                                </div>
                                </div>
                        </div>
                    </div>

                }
                }
                }

            }
        }
        </div>
    </div>

    @defining(sub.protein.disulfideLinks.length) { count =>
        @if(count > 0) {
            <div class="row info" id="disulfide">
                <button class="btn btn-primary label-offset det">
                    Disulfide Links&nbsp;<span class="badge head"> @count</span></button>
                <div class="col-md-12">
                    <table class="table table-striped" id="disulfide-Table">
                        <thead>
                            <tr>
                                <th>Residue Index</th>
                            </tr>
                        </thead>
                        @for(disLink <- sub.protein.disulfideLinks) {
                            <tr>
                            @for(s <- disLink.getSites()) {

                                <td>@s.subunitIndex _ @s.residueIndex</td>
                                <td></td>
                            }
                            </tr>
                        }

                    </table>
                </div>
            </div>
        }
    }

    @defining(sub.protein.otherLinks.length) { count =>
        @if(count > 0) {
            <div class="row info" id="otherLinks">
                <button class="btn btn-primary label-offset det">
                    Other Links&nbsp;<span class="badge head"> @count</span></button>
                <div class="col-md-12">
                    <table class="table table-striped" id="otherLinks-Table">
                        <thead>
                            <tr><th>Linkage Type</th>
                                <th>Residue Index</th>
                            </tr>
                        </thead>
                        @for(otherLink <- sub.protein.otherLinks) {
                            <tr>
                                <td>@otherLink.linkageType</td>
                            @for(s <- otherLink.getSites()) {

                                <td>@s.subunitIndex _ @s.residueIndex</td>
                                <td></td>
                            }
                            </tr>
                        }

                    </table>
                </div>
            </div>
        }
    }


@*    @defining(GinasApp.getCount(sub.protein.glycosylation)) { count =>
        @if(count > 0) {*@
            <div class="row info" id="glyco">
                <button class="btn btn-primary label-offset det">
                    Glycosylation&nbsp;<span class="badge head"> </span></button>
                <div class="col-md-12">
                    @if(sub.protein.glycosylation.glycosylationType != null) {
                        Glycosylation Type: @sub.protein.glycosylation.glycosylationType
                    }
                    <table class="table table-striped" id="glycoC-Table">
                        <thead>
                            <tr>
                                <th>Linkage Type</th>
                                <th>Subunit Index</th>
                                <th>Residue Index</th>
                            </tr>
                        </thead>
                        @for(s <- sub.protein.glycosylation.getCGlycosylationSites()) {
                            <tr>
                                <td>C</td>
                                <td>@s.subunitIndex</td>
                                <td>@s.residueIndex</td>
                            </tr>
                        }
                        @for(s <- sub.protein.glycosylation.getNGlycosylationSites()) {
                            <tr>
                                <td>N</td>
                                <td>@s.subunitIndex</td>
                                <td>@s.residueIndex</td>
                            </tr>
                        }
                        @for(s <- sub.protein.glycosylation.getOGlycosylationSites()) {
                            <tr>
                                <td>O</td>
                                <td>@s.subunitIndex</td>
                                <td>@s.residueIndex</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
@*        }
    }*@
   


}
