@ginas("ginas", "null") {
    @menu()
} {
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-3 col-md-3 box text-left">
                <a href= "@ix.ginas.controllers.routes.GinasApp.wizard("chemical")" target="_self">
                    <div class="rounded" id="chemical">
                        <img src="@routes.Assets.at("ginas/images/chemical.svg")" height="160px" width="160px" alt="Register a chemical" class = "img-responsive"/>
                        <h4>Register a Chemical</h4>
                    </div>
                </a>
            </div>
            <div class="col-xs-3 col-md-3 box text-left">
                <a href= "@ix.ginas.controllers.routes.GinasApp.wizard("protein")" target="_self">
                    <div class="rounded" id="protein">
                        <img src="@routes.Assets.at("ginas/images/protein.svg")" height="160px" width="160px" alt="Register a protein" class = "img-responsive"/>
                        <h4>Register a Protein</h4>
                    </div>
                </a>
            </div>
            <div class="col-xs-3 col-md-3 box text-left">
                <a href= "@ix.ginas.controllers.routes.GinasApp.wizard("structurallyDiverse")" target="_self">
                    <div class="rounded" id="struc">
                        <img src="@routes.Assets.at("ginas/images/structurally-diverse.svg")" height="160px" width="160px" alt="Register a Structurally Diverse Substance" class = "img-responsive"/>
                        <h4>Register a Structurally Diverse Substance</h4>
                    </div>
                </a>
            </div>
            <div class="col-xs-3 col-md-3 box text-left">
                <a href= "@ix.ginas.controllers.routes.GinasApp.wizard("polymer")" target="_self">
                    <div class="rounded" id="polymer">
                        <img src="@routes.Assets.at("ginas/images/polymer.svg")" height="160px" width="160px" alt="Register a Polymer" class = "img-responsive"/>
                        <h4>Register a Polymer</h4>
                    </div>
                </a>
            </div>
        </div>  <!-- row -->

        <div class="row text-left">
            <div class="col-xs-3 col-md-3 box text-left">
                <a href= "@ix.ginas.controllers.routes.GinasApp.wizard("nucleicAcid")" target="_self">
                    <div class="rounded" id="nucleicAcid">
                        <img src="@routes.Assets.at("ginas/images/nucleic-acid.svg")" height="160px" width="160px" alt="Register a Nucleic Acid" class = "img-responsive"/>
                        <h4>Register a Nucleic Acid</h4>
                    </div>
                </a>
            </div>
            <div class="col-xs-3 col-md-3 box text-left">
                <a href= "@ix.ginas.controllers.routes.GinasApp.wizard("mixture")" target="_self">
                    <div class="rounded" id="mixture">
                        <img src="@routes.Assets.at("ginas/images/mixture.svg")" height="160px" width="160px" alt="Register a Mixture Substance" class = "img-responsive"/>
                        <h4>Register a Mixture</h4>
                    </div>
                </a>
            </div>
            <div class="col-xs-3 col-md-3 box text-left">
                <a href= "@ix.ginas.controllers.routes.GinasApp.wizard("concept")" target="_self">
                    <div class="rounded" id="concept">
                        <img src="@routes.Assets.at("ginas/images/concept.svg")" height="160px" width="160px" alt="Register a Concept" class = "img-responsive"/>
                        <h4>Register a Concept</h4>
                    </div>
                </a>
            </div>
            <div class="col-xs-3 col-md-3 box text-left">
                <a href= "@ix.ginas.controllers.routes.GinasApp.wizard("specifiedSubstanceG1")" target="_self">
                    <div class="rounded" id="g1ss">
                        <img src="@routes.Assets.at("ginas/images/g1ss.svg")" height="160px" width="160px" alt="Register a Group 1 Specified Substance" class = "img-responsive"/>
                        <h4>Register a Group 1 Specified Substance</h4>
                    </div>
                </a>
            </div>
        </div> <!-- row -->
    </div>
}
