@ix.ncats.views.html.main("Register") {
    @menu()
} {
    <h3></h3>
} {
    <div class = "container">
        <div class="row">
            <div class ="col-md-9 col-md-offset-3">
                <div class = "row pad">
                    <div class="col-xs-4 col-sm-3 box">
                        <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("chemical")"  target="_self">
                            <div class="rounded" id="chemical">
                                <img src="@routes.Assets.at("ginas/images/chemicals_active.png")" alt="Register a chemical" class = "img-responsive on"/>
@*
                                <img src="@routes.Assets.at("ginas/images/chemicals.png")" alt="Register a chemical" class = "img-responsive off"/>
*@
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3 box">
                        <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("protein")"  target="_self">
                            <div class="rounded" id="protein">
                                <img src="@routes.Assets.at("ginas/images/proteins_active.png")" alt="Register a protein" class = "img-responsive on"/>
@*
                                <img src="@routes.Assets.at("ginas/images/proteins.png")" alt="Register a protein" class = "img-responsive off"/>
*@
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3 box">
                        <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("nucleicAcid")"  target="_self">
                            <div class="rounded" id="nucleic">
                                <img src="@routes.Assets.at("ginas/images/nucleicacids_active.png")" alt="Register a nucleic acid" class = "img-responsive on"/>
@*
                                <img src="@routes.Assets.at("ginas/images/nucleicacids.png")" alt="Register a nucleic acid" class = "img-responsive off"/>
*@
                            </div>
                        </a>
                    </div>
                </div>
                @*<div class = "row pad">
                    <div class="col-xs-4 col-sm-3 box">
                        <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("polymer")"  target="_self">
                            <div class="rounded" id="polymer">
                                <img src="@routes.Assets.at("ginas/images/polymers_active.png")" alt="Register a polymer" class = "img-responsive on"/>
                                <img src="@routes.Assets.at("ginas/images/polymers.png")" alt="Register a polymer" class = "img-responsive off"/>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3 box">
                        <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("structurallyDiverse")"  target="_self">
                            <div class="rounded" id="diverse">
                                <img src="@routes.Assets.at("ginas/images/strucdiverse_active.png")" alt="Register a structurally diverse substance" class = "img-responsive on"/>
                                <img src="@routes.Assets.at("ginas/images/strucdiverse.png")" alt="Register a structurally diverse substance" class = "img-responsive off"/>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3 box">
                        <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("Nucleic Acid")"  target="_self">
                            <div class="rounded" id="mixture">
                                <img src="@routes.Assets.at("ginas/images/nucleicacids_active.png")" alt="Register a nucleic acid" class = "img-responsive on"/>
                                <img src="@routes.Assets.at("ginas/images/nucleicacids.png")" alt="Register a nucleic acid" class = "img-responsive off"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class = "row pad">
                    <div class="col-xs-4 col-sm-3 box">
                        <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("Specified Substance 1")"  target="_self">
                            <div class="rounded" id="specified1">
                                <img src="@routes.Assets.at("ginas/images/chemicals_active.png")" alt="Register a Class 1 specified substance" class = "img-responsive on"/>
                                <img src="@routes.Assets.at("ginas/images/chemicals.png")" alt="Register a Class 1 specified substance" class = "img-responsive off"/>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3 box">
                        <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("Concept")"  target="_self">
                            <div class="rounded" id="concept">
                                <img src="@routes.Assets.at("ginas/images/proteins_active.png")" alt="Register a concept" class = "img-responsive on"/>
                                <img src="@routes.Assets.at("ginas/images/proteins.png")" alt="Register a concept" class = "img-responsive off"/>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3 box">
                        <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("Mixture")"  target="_self">
                            <div class="rounded" id="mixture">
                                <img src="@routes.Assets.at("ginas/images/proteins_active.png")" alt="Register a mixture" class = "img-responsive on"/>
                                <img src="@routes.Assets.at("ginas/images/proteins.png")" alt="Register a mixture" class = "img-responsive off"/>
                            </div>
                        </a>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
}
