@ginas("ginas", "null") {
    @menu()
} {
    <div class="container">
        <div class="row text-center">
            <h1>Demo registration forms:</h1>
            <div class="col-xs-4 col-md-4 box text-center">
                <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("chemical")" target="_self">
                    <div class="rounded" id="chemical">
                        <img src="@routes.Assets.at("ginas/images/Chemicals.svg")" alt="Register a chemical" class = "img-responsive"/>
                        <h3>Register a Chemical</h3>
                        @*
                        <img src="@routes.Assets.at("ginas/images/chemicals.png")" alt="Register a chemical" class = "img-responsive off"/>
                        *@
                    </div>
                </a>
            </div>
            <div class="col-xs-4 col-md-4 box text-center">
                <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("protein")" target="_self">
                    <div class="rounded" id="protein">
                        <img src="@routes.Assets.at("ginas/images/Proteins.svg")" alt="Register a protein" class = "img-responsive"/>
                        <h3>Register a Protein</h3>

                        @*
                        <img src="@routes.Assets.at("ginas/images/proteins.png")" alt="Register a protein" class = "img-responsive off"/>
                        *@
                    </div>
                </a>
            </div>
            <div class="col-xs-4 col-md-4 box text-center">
                <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("structurallyDiverse")" target="_self">
                    <div class="rounded" id="struc">
                        <img src="@routes.Assets.at("ginas/images/Structurally_diverse.svg")" alt="Register a Structurally Diverse Substance" class = "img-responsive"/>
                        <h3>Register a Structurally Diverse Substance</h3>

                        @*

                        <img src="@routes.Assets.at("ginas/images/nucleicacids.png")" alt="Register a nucleic acid" class = "img-responsive off"/>
                        *@

                    </div>
                </a>
            </div>
              <!-- POLMER -->
            
            <div class="col-xs-4 col-md-4 box text-center">
                <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("polymer")" target="_self">
                    <div class="rounded" id="polymer">
                        <img src="@routes.Assets.at("ginas/images/polymer.png")" alt="Register a Polymer" class = "img-responsive"/>
                        <h3>Register a Polymer</h3>
                    </div>
                </a>
            </div>
            
            <!-- Nucleic Acid -->
            <div class="col-xs-4 col-md-4 box text-center">
                <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("nucleicAcid")" target="_self">
                    <div class="rounded" id="polymer">
                        <img src="@routes.Assets.at("ginas/images/nucleicAcid.png")" alt="Register a Nucleic Acid" class = "img-responsive"/>
                        <h3>Register a Nucleic Acid</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-4 col-md-4 box text-center">
                <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("mixture")" target="_self">
                    <div class="rounded" id="concept">
                        <img src="@routes.Assets.at("ginas/images/mixture.png")" alt="Register a Mixture Substance" class = "img-responsive"/>
                        <h3>Register a Mixture</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-4 col-md-4 box text-center">
                <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("concept")" target="_self">
                    <div class="rounded" id="concept">
                        <img src="@routes.Assets.at("ginas/images/concept.png")" alt="Register a Concept" class = "img-responsive"/>
                        <h3>Register a Concept</h3>

                    </div>
                </a>
            </div>
            <div class="col-xs-4 col-md-4 box text-center">
                <a href= "@ix.ginas.controllers.routes.GinasFactory.wizard("specifiedSubstanceG1")" target="_self">
                    <div class="rounded" id="g1ss">
                        <img src="@routes.Assets.at("ginas/images/concept.png")" alt="Register a Group 1 Specified Substance" class = "img-responsive"/>
                        <h3>Register a Group 1 Specified Substance</h3>

                    </div>
                </a>
            </div>
          
        </div>


        <div class="row">
            <div class ="col-md-8 col-md-offset-2 text-center">
                <h1>The current ginas registration pages can be accessed here:</h1>
                <a href = "http://ginas.hres.ca/ginas/#view=register"><h1>GINAS</h1></a>
            </div>
        </div>
    </div>
}
