@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.v1.SubstanceFactory
@import ix.ginas.models.v1.{ChemicalSubstance, Relationship}




@(relationships: List[Relationship])
<button class="btn btn-primary label-offset det">
    Relationships&nbsp;<span class="badge"> @relationships.length</span></button>
<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                <th>Comments</th>
                <th>Interaction Type</th>
                <th>Qualification</th>
                <th>Amount</th>
                <th>References</th>
            </tr>
        </thead>
        @for(r <- relationships) {
            <tr>
                @if(SubstanceFactory.getFullSubstance(r.relatedSubstance) != null) {
                    @defining(SubstanceFactory.getFullSubstance(r.relatedSubstance)) { rs =>
                        @if(!rs.getClass.toString.equals("ix.ginas.models.v1.ChemicalSubstance")){
                        <td></td>

                    }else{
                        <td>
                            <img class="struc-thumb img-responsive" alt="Structure of @rs.getName()"
                            src='@ix.ncats.controllers.routes.App.structure(rs.asInstanceOf[ChemicalSubstance].structure.id, "svg", 150)'>
                        </td>
                            }
                        <td>
                            	<a href="@ix.ginas.controllers.routes.GinasApp.substance(r.relatedSubstance.getLinkingID())">@r.relatedSubstance.refPname</a>
                        </td>
                    }
                } else {
                    <td><i>Substance not yet imported</i></td>
                    <td>
                    @r.relatedSubstance.refPname
                    </td>
                }

            <td>@GinasApp.getType(r)</td>
            <td>@r.comments</td>
            <td>@if(r.interactionType != null) {
                @r.interactionType
            }</td>
            <td>@if(r.qualification != null) {
                @r.qualification
            }</td>
            <td>@if(r.amount != null) {
                @GinasApp.getType(r.amount) @r.amount.average @r.amount.units
            }</td>
                @if(r.references != null && r.references.size()> 0) {
                    @referencetable(r.references, "refs", 8)
                }
            </tr>

        }
    </table>
        </div>
