@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.v1.SubstanceFactory
@import ix.ginas.models.v1.{ChemicalSubstance, Relationship}




@(relationships: List[Relationship])

<button class="btn btn-primary label-offset det">
    Relationships&nbsp;<span class="badge"> @relationships.length</span></button>
<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                <th>Comments</th>
                <th>Interaction Type</th>
                <th>Qualification</th>
                <th>Amount</th>
                <th>References</th>
            </tr>
        </thead>
        @for(r <- relationships) {
            <tr>
                @if(SubstanceFactory.getFullSubstance(r.relatedSubstance) != null) {
                    
                    @defining(SubstanceFactory.getFullSubstance(r.relatedSubstance)) { ref =>
	                    <td>
			      @if(ref.getClass.toString.equals("class ix.ginas.models.v1.ChemicalSubstance")){
	                            	<img class="struc-thumb img-responsive" alt="Structure of @ref.getName()" title="Structure of @ref.getName()"
	                                src='@ix.ginas.controllers.routes.GinasApp.structure(ref.asInstanceOf[ChemicalSubstance].structure.getId, "svg", 150)'>
	                            }else{
	                             	@if(ref.getClass.toString.equals("class ix.ginas.models.v1.StructurallyDiverseSubstance")){
	                                   
	                                }else{
	                                	@if(ref.getClass.toString.equals("class ix.ginas.models.v1.ProteinSubstance")){
	                                		<img src="@routes.Assets.at("ginas/images/proteinHolder.png")" class="img-responsive" id="" />
	                                	}else{
		                                	@if(ref.getClass.toString.equals("class ix.ginas.models.v1.MixtureSubstance")){
		                                		<div class = "col-md-3">
									                <div class = "row">
									                    <div class = "col-md-1 pour">
									                        <i class="fa fa-flask fa-4x fa-rotate-90"></i>
									                    </div>
									                </div>
									                <div class ="row">
									                    <div class = "col-md-1 col-md-offset-1">
									                        <i class="fa fa-flask fa-4x"></i>
									                    </div>
									                </div>
									            </div>
		                                	}else{
		                                		@if(ref.getClass.toString.equals("class ix.ginas.models.v1.PolymerSubstance")){
			                                		
			                                	}else{
			                                		@if(ref.substanceClass.equals("concept")){
			                                			<i class="fa fa-cloud fa-4x "></i>
			                                		}
			                                	}	
		                                	}	
	                                	}
	                                } 
	                            }
	                    </td>
                    }
                } else {
                    <td><i>Substance not yet imported</i></td>
                    
                }
	    <td>
	      @defining(r.relatedSubstance) { sub =>
	         @if(sub != null && sub.getLinkingID() != null) {
            	   <a href="@ix.ginas.controllers.routes.GinasApp.substance(sub.getLinkingID())"  target="_self">
            	    @sub.refPname
            	   </a>
		  }
	      }
            </td>

            <td>@r.getDisplayType()</td>
            <td>@r.comments</td>
            <td>@if(r.interactionType != null) {
                @r.interactionType
            }</td>
            <td>@if(r.qualification != null) {
                @r.qualification
            }</td>
            <td>@if(r.amount != null) {
                @GinasApp.getType(r.amount) @r.amount.average @r.amount.units
            }</td>
                @if(r.references != null && r.references.size()> 0) {
                    @referencetable(r.references, "refs", 8)
                }
            </tr>
        }
    </table>
        </div>
