<!-- Modal -->
<div class="modal fade" id="screenshot" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Report a Bug</h4>
            </div>
            <div class="modal-body">
                <h5>This will need to be changed to post to submit the email</h5>

                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="screen-select">Would you like to take a
                                screenshot?</label> <a onclick="getScreenshot()" data-toggle="modal"
                        data-target="#screenshot" id="screen-cap"><button
                        class="btn btn-default">Yes</button>
                        </a> <a id="screen-skip"
                        data-toggle="modal" data-target="#report" role="button"><button
                        class="btn btn-default">No</button>
                        </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

