@import ix.ginas.models.v1.{ChemicalSubstance, ProteinSubstance}
@import ix.idg.models.Disease
@import ix.ncats.controllers.App
@import ix.ncats.controllers.App.FacetDecorator

@(query: String, total: Int, facets: Array[FacetDecorator],
        chemicals: List[ChemicalSubstance], totalChemicals: Int,
         proteins: List[ProteinSubstance], totalProteins: Int,
         diseases: List[Disease], totalDiseases: Int)

@ix.ncats.views.html.main("Search: " + query) {
    @menu()
} {
    <h1></h1>
} {
    <div class="container-fluid">
        <div class="row">
            @if(facets.length > 0) {
                <div class="col-md-3">
                @ix.ncats.views.html.filters(facets)
                </div>
                <div class="col-md-9">
                } else {
                <div class="col-md-12">
                }
            <div
                @if(total > 0) {
                    class="alert alert-success"
                } else {
                    class="alert alert-danger"
                }
            role="alert">
                <span><h4>Query:<code>@query</code></h4></span>
            </div>
            <div class="btn-group" role="group">
            @if(total == 1) {
                <h3><span class="label label-default">@total result found.</span></h3>
            } else {
                <h3><span class="label label-default">@total results found.</span></h3>
            }
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class = "row">
                        @chemicals.length
                        @total
                        @for(chem <- chemicals) {
                            @chemthumb(chem)
                        }

                    </div>
                    @if(chemicals.length < totalChemicals) {
                        <span><i class="fa fa-ellipsis-h"></i></span>
                    }
                </div>
                <div class="panel-footer">
                    <a href="@{
                        ix.ginas.controllers.routes.GinasApp.chemicals() + "?" + App.queryString(request().queryString())
                    }"  target="_self">@totalChemicals chemical(s)</a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Development Level</th>
                            <th>Topic</th>
                        </tr>
                        @for(lig <- proteins) {
                            <tr>
 	      </tr>
                        }
                    </table>
                    @if(proteins.length < totalProteins) {
                        <span><i class="fa fa-ellipsis-h"></i></span>
                    }
                </div>
                <div class="panel-footer">
                    <a href="@{
                        ix.ginas.controllers.routes.GinasApp.proteins() + "?" + App.queryString(request().queryString())
                    }"  target="_self"> @totalProteins protein(s)</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
        </div>
        </div>
        }

<script>
$(function () {
  $('[data-toggle="popover"]').popover();
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
