@(id: String)

    @ginas("Sequence Search", null) {
        @menu()
    } {
        <div class="container">
            <div class="row" id="pub-history">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Sequence Search</h1>

                    <form role="search" method="POST"
                    enctype="application/x-www-form-urlencoded"
                    action="@ix.ginas.controllers.routes.GinasApp.sequenceSearch"
                    id="search-bar">
                        <div class="form-group">
                            @**
                            <div class="row">
                            <div class="col-md-3">
                            <div class="form-group">
                            <!-- <label for="exampleInputFile">Load File</label> -->
                            <input type="button" value="Choose File"
                            onclick="window.FileContentsGrabber.append('nuc-sequence')"
                            id="exampleInputFile">

                            <!-- <input type="file" id="exampleInputFile"> -->
                            <p class="help-block">or</p>
                            </div>
                            </div>
                            </div>
                            **@
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="identity">Search Identity: </label>
                                    <input type="text" class="form-control" id="identity"
                                    name="identity" value="0.5">
                                </div>
                                <div class="col-md-4">
                                    <label for="identityType">Cutoff Type: </label>
                                    <select class="form-control" id="identityType" name="identityType" >
                                    	<option selected="selected" value="SUB">Contains Alignment Match</option>
                                    	<option value="GLOBAL">Global Alignment Match</option>
                                    	<option value="LOCAL">Local Alignment Match</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="identityType">Sequence Type: </label>
                                    <select class="form-control" id="seqType" name="seqType" >
                                        <option selected="selected" value="Protein">Protein</option>
                                        <option value="NucleicAcid">Nucleic Acid</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="sequence">Query Sequence:</label>
                                        <textarea class="form-control" rows="6" id="sequence"
                                        style="font-family: monospace"
                                        title="Search" name="sequence">@ix.ginas.controllers.GinasFactory.getSequence(id)</textarea>
                                    </div>
                                </div>
                            <div class="row">
                                <button type="submit" class="btn btn-default">Search</button>

                            </div>
                            </div>

                    </form>
                </div>
            </div>
        </div>
    }

