@ginas("Structure Search: ", null) {
    @menu()
} {
    <h1></h1>
} {
    <div class = "panel-default">
        <form class="form-inline"
        method="GET" action="@ix.ginas.controllers.routes.GinasApp.substances()" novalidate>
            <div class= "panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <sketcher ng-model="structure" structure="substance"></sketcher>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group col-md-2">
                            <label class="sr-only" for="search-selection">Search Type</label>
                            <select class="form-control" id="search-selection" name="type" ng-model ="type" >
                                <option ng-repeat="v in select" value="{{v}}">{{v}}</option>
                            </select>
                            <label class="sr-only" for="tanimoto-cutoff">Tanimoto threshold</label>

                            <input class="form-control col-md-2"
                            ng-if="type=='Similarity'" type="number" step=".1"
                            min="0" max="1"
                            name="cutoff"
                            id="tanimoto-cutoff"
                            data-toggle="tooltip"
                            title="Tanimoto threshold"
                            ng-model="cutoff"
                            >
                            <input type="text" class="form-control"
                            data-toggle="tooltip"
                            title="Query structure"
                            name="q"
                            ng-hide="true"
                            ng-model="substance.q"
                            id="structure">
                        </div>
                        <button type="submit" onclick="submitForm()"
                        class="btn btn-primary" id="search-btn">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="spinModal"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <center><img src='@routes.Assets.at("ncats/images/spinners/294.GIF")'></center>
            </div>
        </div>
    </div>

}
