
@(mol: String)

@ginas("Structure Search: ", null, true) {
    @menu()
} {
    <div class="row info">
        <div class="row">
            <form-header type="Draw Structure"></form-header>
        </div>
        <div class="col-md-12">
            <form class="form-inline"
            method="POST" action="@ix.ginas.controllers.routes.GinasApp.structureSearchPost()" novalidate>
                <div class="row form-row">
                    <div class="col-md-12">
                        <sketcher parent = substance ng-model=parent.structure.molfile ajax="false" 
                        	@if(mol != null) {
                        		load="@mol"
                        	}
                        ></sketcher>

                    </div>
                </div>
                <div class="row form-row">

                    <div class ="col-md-1">
                        <button
                        class="btn btn-primary" id="search-btn"><i class = "fa fa-search"></i> Search</button>
                    </div>
                    <div class="col-md-2">
                    <label class="sr-only" for="search-selection">Search Type</label>
                        <select class="form-control" id="search-selection" name="type" ng-model = "type" >
                            <option value="Substructure" selected>Substructure</option>
                            <option value="Similarity">Similarity</option>
                            <option value="Exact">Exact</option>
                            <option value="Flex">Flex</option>
                        </select>
                        </div>
                <div class="col-md-2" ng-if="type=='Similarity'">
                <label class="sr-only" for="tanimoto-cutoff">Tanimoto threshold</label>
                        <input class="form-control"
                        type="number" step=".1"
                        min="0" max="1"
                        name="cutoff"
                        id="tanimoto-cutoff"
                        data-toggle="tooltip"
                        title="Tanimoto threshold"
                        ng-model="cutoff"
                        >
                    </div>
                    <div class="col-md-2" ng-if="type=='Exact'">
                    <input class="form-control"
                        type="number"
                        name="cutoff"
                        id="tanimoto-cutoff"
                        data-toggle="tooltip"
                        title="Tanimoto threshold"
                        ng-hide = "true"
                        ng-init ="cutoff = 1"
                        ng-model="cutoff"
                        >
                        </div>
                        <textarea type="text" class="form-control"
                        data-toggle="tooltip"
                        title="Query structure"
                        name="q"
                        ng-hide="true"
                        ng-model= substance.q
                        id="structure"></textarea>
                         
                    <div class="col-md-2 pull-right">
                        <modal-button class= "pull-right padded" type= "export" structureid = parent.structure.id format="sdf" ></modal-button>
                        <modal-button class= "pull-right padded" type= "import"></modal-button>
                    </div>
                    </div>
            </form>
        </div>
    </div>
    <div class = "row info">
        <div class="row">
            <form-header type="Get Structure from Name"></form-header>
        </div>
        <div class="col-md-12">

            <div style="margin-top:10px;">
            </div>
            <ng-form novalidate>


                <form>
                <div class ="col-md-2">
                    <input type = "text" ng-model="name" field="name" label="Name" />
                    <!--<gsrs-input type = "text" ng-model="name" field="name" label="Name"></gsrs-input>-->
                </div>
                <div class ="col-md-2">
                    <button class="btn btn-primary" id="resolverButton" ng-click="resolveName(name, 'structureSearch')" type = "submit" style="margin-left: 10px;">
                        Resolve Name</button>
                </div>

                </form>
            </ng-form>
        </div>
        <div class="col-md-12">
            <spinner name="structureSearchSpinner"><loading></loading><br/></spinner>
            <div class = "structureSearch" id ="structureSearch"></div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="spinModal"
    aria-label="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <center><img src='@routes.Assets.at("ncats/images/spinners/294.GIF")' alt ="loading..."></center>
            </div>
        </div>
    </div>
    
}
