@import ix.ginas.models.v1.{ChemicalSubstance, ProteinSubstance, MixtureSubstance, Substance}
@import ix.ncats.controllers.App.FacetDecorator
@import ix.ncats.controllers.App
@import ix.core.search.FieldFacet

@import ix.ginas.models.v1.StructurallyDiverseSubstance
@(current: Int, rows: Int, total: Int, pages: Array[Int],
        facets: Array[FacetDecorator], substancesList: List[Substance], searchFacets : List[FieldFacet] = null)

@content("Substances", "ix.ginas.models.v1.Substance", ix.ginas.controllers.routes.GinasApp.substances().url,
    current, rows, total, pages, facets,searchFacets) {
    @menu()
} {
    <div></div>
} {
    
        
    <div class= "panel-body">
        <div class = "row hidden-xs" ng-show="enabled" id ="grid">
        @for(sub <- substancesList) {
            @sub match {
                case chem: ChemicalSubstance => {
                    @chemthumb(chem)
                }
                case prot: ProteinSubstance => {
                    @proteinthumb(prot)

                }
                case mix: MixtureSubstance => {
                    @mixturethumb(mix)

                }
                case diverse: StructurallyDiverseSubstance => {
                    @diversethumb(diverse)

                }
                case concept: Substance => {
                    @conceptthumb(concept)

                }
                case _ => {

                }
            }


        }
        </div>

        <div class = "row in" ng-show="!enabled" id ="list">
        @for(sub <- substancesList) {
            @sub match {
                case chem: ChemicalSubstance => {
                    @chemlist(chem)
                }
                case prot: ProteinSubstance => {
                    @proteinlist(prot)

                }
                case mix: MixtureSubstance => {
                    @mixlist(mix)

                }
                case diverse: StructurallyDiverseSubstance => {
                    @diverselist(diverse)

                }
                case concept: Substance => {
                    @conceptlist(concept)

                }
                case _ => {

                }
            }
        }

        </div>
    </div>
}
