@import ix.ginas.controllers.GinasApp


@(sub: ix.ginas.models.v1.Substance)(breadcrumb: Html)(content: Html)


    @ginas(sub.getName, "ix.ginas.models.v1.StructurallyDiverseSubstance") {
        @menu()
    } {
        <nav class="navbar navbar-default" id="breadcrumb">
            <div class="container-fluid">
                <div class="row-fluid" >
                    <div class="col-md-6">
                        <ul class="nav nav-pills" id="breadcrumb-list">
                            @breadcrumb
                            <li role="presentation" ><a href="#names" prevent-default="" ng-click="scrollTo('names')">
                                Names <span class="badge">@sub.names.size()</span></a></li>
                            @defining(sub.getModificationCount()) { gcount =>
                                @if(gcount > 0 ){
                                    <li role="presentation"><a href="#mods" prevent-default="" ng-click="scrollTo('mods')">Modifications
                                        <span class= "badge">@gcount</span></a>
                                    </li>
                                }
                            }
                            @if(sub.codes.size() > 0) {
                                <li role="presentation"><a href="codes" prevent-default="" ng-click="scrollTo('codes')">
                                    Codes <span class="badge">@sub.codes.size()</span></a></li>
                            }
                            @if(GinasApp.resolveRelationships(sub.uuid.toString()).size() > 0) {
                                <li role="presentation" ><a href="#relationships" prevent-default="" ng-click="scrollTo('relationships')" id = "relation">
                                    Relationships <span class="badge">@sub.relationships.size()</span></a></li>
                            }
                            @if(sub.properties.size() > 0) {
                                <li role="presentation"><a href="properties" prevent-default="" ng-click="scrollTo('properties')">
                                    Properties <span class="badge">@sub.properties.size()</span></a></li>
                            }
                            @if(sub.notes.size() > 0) {
                                <li role="presentation"><a href="notes" prevent-default="" ng-click="scrollTo('notes')">
                                    Notes <span class="badge">@sub.notes.size()</span></a></li>
                            }
                            <li role="presentation"><a href="#refs" prevent-default="" ng-click="scrollTo('refs')">
                                References <span class="badge">@sub.references.size()</span></a></li>
                        </ul>
                    </div>
                    <div class = "col-md-4 text-right">
                        <h2 class="display-name"><em>@sub.getName()</em></h2></div>
                </div>
            </div>
        </nav>
    } {
@*        <div class = "row">
            <div class = "col-md-9">
                <h1>@sub.getName()</h1>
            </div>
            <div class = "col-md-3">
            @if(sub.isSubstanceVariant()) {
                <h2 class= "pull-right subconcept"> @sub.getApprovalIDDisplay()</h2>
            } else {
                <h2 class= "pull-right"> @sub.getApprovalIDDisplay()</h2>
            }

            </div>
        </div>*@
        @content

        @if(sub.hasModifications()) {

            <div class="row info" id="mods">
                <button class="btn btn-primary label-offset det ">
                    Modifications&nbsp;<span class="badge head"> @sub.getModificationCount()</span></button>
                <div class="col-md-12">
                    @if(sub.getModifications().agentModifications.length > 0) {
                        @agentmodifications(sub.getModifications().agentModifications)
                    }
                    @if(sub.getModifications().physicalModifications.length > 0) {
                        @physicalmodifications(sub.getModifications().physicalModifications)
                    }
                    @if(sub.getModifications().structuralModifications.length > 0) {
                        @structuralmodifications(sub.getModifications().structuralModifications)
                    }
                </div>
            </div>
        }
        <div class="row info" id="names">
        @officialnames(sub.getOfficialNames(), sub)
        </div>

        <div class="row info">
        @names(sub.getNonOfficialNames(), sub)
        </div>

        @if(sub.codes.size() > 0) {
            <div class="row info" id="codes">
            @codes(sub.codes)
            </div>
        }
        @if(sub.hasChildConceptReferences()) {
            <div class="row info" id="variants">
            @variantconcepts(sub)
            </div>
        }
        @if(GinasApp.resolveRelationships(sub.uuid.toString()).size() > 0) {
            <div class="row info" id="relationships">
            @relationships(sub.relationships)
            </div>
        }
    @if(sub.properties != null && sub.properties.size() > 0) {
        <div class="row info" id="properties">
        @properties(sub.properties)
        </div>
    }
        @if(sub.notes != null && sub.notes.size() > 0) {
            <div class="row info" id="notes">
            @notes(sub.notes)
            </div>
        }


        <div class="row info" id="refs">
        @references(sub.references)
        </div>


    }
