@import ix.ginas.models.v1.{ChemicalSubstance, ProteinSubstance, MixtureSubstance, PolymerSubstance, Substance}
@import ix.ncats.controllers.FacetDecorator
@import ix.ncats.controllers.App
@import ix.core.search.FieldedQueryFacet
@import ix.core.models.Structure
@import ix.core.search.SearchResultContext

@import ix.ginas.models.v1.StructurallyDiverseSubstance

@import ix.ginas.models.v1.NucleicAcidSubstance
@import ix.ginas.models.v1.SpecifiedSubstanceGroup1Substance
@(current: Int, rows: Int, total: Int, pages: Array[Int],
facets: Array[FacetDecorator], substancesList: List[Substance],
ctx: SearchResultContext = null)


@content("Substances", "ix.ginas.models.v1.Substance",
ix.ginas.controllers.routes.GinasApp.substances().url,
current, rows, total, pages, facets, ctx) {
    @menu()
}{
    
        
    <div class= "panel-body record-container">
        <div class = "row in" ng-show="!gridView" id ="list">
        @defining(if (ctx!=null) ctx.getId() else null) { ctxId =>

        @for(sub <- substancesList) {
            @sub match {
                case chem: ChemicalSubstance => {
                    @list.chemlist(chem, ctxId)
                }
                case prot: ProteinSubstance => {
                    @list.proteinlist(prot, ctxId)
                }
                case nucl: NucleicAcidSubstance => {
                    @list.nucleicacidlist(nucl)

                }
                case mix: MixtureSubstance => {
                    @list.mixlist(mix)
                }
                case diverse: StructurallyDiverseSubstance => {
                    @list.diverselist(diverse)

                }
                case polymer: PolymerSubstance => {
                    @list.polymerlist(polymer)

                }
                case g1ss: SpecifiedSubstanceGroup1Substance => {
                    @list.g1sslist(g1ss)

                }
                case concept: Substance => {
                    @list.conceptlist(concept)

                }
                case _ => {

                }
            }
        }

        </div>

        <div class = "row hidden-xs" ng-if="gridView" id ="grid">
        @for(sub <- substancesList) {
            @sub match {
                case chem: ChemicalSubstance => {
                    @thumbs.chemthumb(chem, ctxId)
                }
                case prot: ProteinSubstance => {
                    @thumbs.proteinthumb(prot, ctxId)
                }
                case nucl: NucleicAcidSubstance => {
                    @thumbs.nucleicacidthumb(nucl)
                }
                case mix: MixtureSubstance => {
                    @thumbs.mixturethumb(mix)

                }
                case diverse: StructurallyDiverseSubstance => {
                    @thumbs.diversethumb(diverse)

                }
                case polymer: PolymerSubstance => {
                    @thumbs.polymerthumb(polymer)

                }
                case concept: Substance => {
                    @thumbs.conceptthumb(concept)

                }
                case _ => {

                }
            }
        }
        }
        </div>
    </div>
}
