@import play.api.Play.current
@import ix.ginas.controllers.GinasFactory.EditLock
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler
@(kind: String, json: String, lock: EditLock)

    @wizardfields(kind: String) = {

    }

    @ginas("Register", kind, true,false, false) {
        @menu()
    } {

    <div class="loading"><h1>&nbsp;</h1></div>
        <div ng-cloak="" ng-init="form={}">
                <div class="row info" top-dock docked-class="docked-actions">
                        <div class="col-md-5">
                            <button class="btn btn-primary" ng-hide="show" ng-click="viewToggle()" id="showJSONBtn">
                                Show JSON
                            </button>
                            <button class="btn btn-primary" ng-show="show" ng-click="viewToggle()" id="hideJSONBth" >
                                Hide JSON
                            </button>
                            <button class="btn btn-primary" ng-click="validateSubstance()" id="validateBtn">
                                Validate</button>
                            <!-- <button class="btn btn-primary" ng-click="compare(); diff = true" id = "compareBtn">
                                Compare</button> -->
                        </div>
                    <div class = "col-md-4">
                        <div class="dropdown show">
                            <a class="btn btn-primary dropdown-toggle admin-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Advanced functions
                            </a>
                            <div class="dropdown-menu admin-functions" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" onclick="standardizeNames()">Standardize names</a>

                                @dynamic(name = IxDynamicResourceHandler. CAN_REGISTER, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {

                                    <a class="dropdown-item" onclick="resetDefRef()">Reset definitional References</a>
                                    <a class="dropdown-item" onclick="setDefinitionPrivate()">Set definition to private</a>
                                    <a class="dropdown-item" onclick="setDefinitionPublic()">Set definition to public</a>
                                    <a class="dropdown-item" ng-if="substance.substanceClass== 'polymer'"  onclick="restoreSRU()">Restore SRU amounts from previous version</a>
                                    <a class="dropdown-item" ng-if="substance.substanceClass== 'protein'"  onclick="disulfideLinks()">Predict disulfide links by protein type</a>
                                    <a class="dropdown-item" ng-if="substance.substanceClass== 'protein'"  onclick="predictSites()">Predict N-Glycosylation sites</a>

                                }

                                @dynamic(name = IxDynamicResourceHandler.IS_ADMIN, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {

                                    <a class="dropdown-item" onclick="changeClass()">Change substance class</a>
                                    <a class="dropdown-item" onclick="setStatusToPending()">Set status to pending</a>
                                    <a class="dropdown-item" onclick="setStatusToApproved()">Set status to approved</a>
                                    <a class="dropdown-item" onclick="mergeConcept()">Merge and deprecate subconcept record</a>
                                    <a class="dropdown-item" onclick="unapproveRecord()">Un-approve record (Remove approval ID)</a>
                                    <a class="dropdown-item" onclick="changeApproval()">Change approval ID</a>
                                    <a ng-if="substance.substanceClass== 'chemical'" class="dropdown-item" onclick="addFragment()">Add a fragment to CV</a>
                                    <a class="dropdown-item" ng-if="substance.substanceClass== 'polymer'"  onclick="addFragment()">Add a fragment to CV</a>
                                    <a class="dropdown-item" ng-if="substance.substanceClass== 'concept'"  onclick="conceptNonApproved()">Set concept status to non-approved</a>
                                    <a class="dropdown-item" onclick="definitionSwitch()">Switch primary with alternative definition</a>
                                }

                            </div>
                        </div>
                    </div>
                        <div class="col-md-3">
                            <div class="pull-right">
                                <button ng-if="substance.substanceClass!=='concept' && !substance.approvalID && substance.definitionType.value!=='ALTERNATIVE'" ng-disabled="!canApprove()" class="btn btn-primary" ng-click="approveSubstanceConfirm()">
                                    Approve
                                </button>
                                <button ng-disabled="validating" class="btn btn-primary" ng-click="submitSubstanceConfirm()">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
            <form class="form-horizontal" name ="substanceForm" role ="form" novalidate>
@*
                @wizardfields(kind)
*@

                @if(lock!=null){
                    <span class="warning" id="lockmessage">This record is currently being edited by another user, you may have difficulty saving changes.</span>
                }
                <header-form kind = "substance.substanceClass" parent = substance></header-form>
                <name-form ng-if = "substance.definitionType.value !='ALTERNATIVE'" parent = substance  iscollapsed="true" ng-cloak></name-form>


                @kind match {
                    case "chemical" => {
                        <structure-form parent = substance type="structure" path ="parent.structure"></structure-form>
                        <moiety-form ng-if="substance.moieties.length>1" parent = substance ng-cloak></moiety-form>
                    }
                    case "mixture" => {
                        <mixture-details-form parent = substance iscollapsed="true"></mixture-details-form>
                        <mixture-component-select-form parent = substance iscollapsed="true"></mixture-component-select-form>
                    }
                    case "protein" => {
                        <protein-details-form parent = substance iscollapsed="true"></protein-details-form>
                        <subunit-form referenceobj ="referenceobj" parent = substance iscollapsed="true"></subunit-form>
                        <div ng-if = "substance.protein.subunits.length>0">
                            <disulfide-link-form referenceobj ="referenceobj" parent = substance iscollapsed="true"></disulfide-link-form>
                            <other-links-form referenceobj ="referenceobj" parent = substance iscollapsed="true"></other-links-form>
                            <glycosylation-form referenceobj ="referenceobj" parent = substance iscollapsed="true"></glycosylation-form>
                        </div>
                    }
                    case "structurallyDiverse" => {
                        <diverse-source-form  parent = substance iscollapsed="true"></diverse-source-form>
                        <diverse-type-form parent = substance iscollapsed="true"></diverse-type-form>
                        <div ng-if="substance.$$diverseType=='part' || substance.$$diverseType=='whole'">
                            <diverse-organism-form ng-if="substance.$$diverseType=='whole'" ng-show="substance.structurallyDiverse.sourceMaterialClass.value =='ORGANISM'"
                            parent = substance iscollapsed="true"></diverse-organism-form>
@*
                            <diverse-plant-form ng-if="substance.structurallyDiverse.sourceMaterialClass.value =='ORGANISM' && substance.structurallyDiverse.sourceMaterialType.value == 'PLANT'" parent = substance></diverse-plant-form>
*@
                            <parent-form parent = substance iscollapsed="true"></parent-form>
                            <part-form ng-if="substance.$$diverseType=='part'" parent = substance iscollapsed="true"></part-form>
                        </div>

                    }
                    case "concept" => {
                        <div>Concepts have no defining information, but are collections of terms, codes and related information. They can be promoted to a defined substance at a later time, when appropriate.</div>
                        <div ng-if="substance.uuid">
                            <concept-upgrade-form parent = substance iscollapsed="true"></concept-upgrade-form>
                        </div>
                    }
                    case "polymer" => {
                        <polymer-classification-form parent=substance iscollapsed="true"></polymer-classification-form>
                        <polymer-monomer-form parent=substance iscollapsed="true"></polymer-monomer-form>
                        <structure-form type="idealizedStructure" path ="parent.polymer.idealizedStructure" parent = substance></structure-form>
                        <polymer-sru-form parent=substance iscollapsed="true"></polymer-sru-form>
                    }
                    case "nucleicAcid" => {
                        <nucleic-acid-details-form parent = substance iscollapsed="true"></nucleic-acid-details-form>
                        <subunit-form referenceobj ="referenceobj" parent = substance iscollapsed="true"></subunit-form>
                        <div ng-if = "substance.nucleicAcid.subunits.length>0">
                            <nucleic-acid-sugar-form referenceobj ="referenceobj" parent = substance iscollapsed="true"></nucleic-acid-sugar-form>
                            <nucleic-acid-linkage-form referenceobj ="referenceobj" parent = substance iscollapsed="true"></nucleic-acid-linkage-form>
                        </div>
                    }
                    case "specifiedSubstanceG1" => {
                        <ss-constituent-form parent = substance></ss-constituent-form>
                    }
                    case x => {
                        <h2>Unknown substance class: @kind</h2>
                    }
                }
                <div ng-if="substance.substanceClass !== 'chemical' && substance.substanceClass !== 'concept'">
                    <agent-modification-form referenceobj ="referenceobj" parent = substance iscollapsed="true"></agent-modification-form>
                    <structural-modification-form referenceobj ="referenceobj" parent = substance iscollapsed="true"></structural-modification-form>
                    <physical-modification-form referenceobj ="referenceobj" parent = substance iscollapsed="true"></physical-modification-form>
                </div>

                <code-form ng-if = "substance.definitionType.value !='ALTERNATIVE'" parent = substance iscollapsed="true" ng-cloak></code-form>
                <relationship-form parent = substance iscollapsed="true" ng-cloak></relationship-form>
                <note-form parent = substance iscollapsed="true" ng-cloak></note-form>
                <property-form parent = substance iscollapsed="true" ng-cloak></property-form>
                <reference-form parent = "substance"  iscollapsed="true" ng-cloak></reference-form>
                <div class = "row info" ng-if="substance.$$update">
                        <div class="col-md-4">
                            <gsrs-input type="text" name ="changeReason" required="true" label="Change Reason" ng-model="substance.changeReason"/>
                        </div>
                </div>
                <h1 ng-if ="substanceEqual" >{{substancesEqual}}</h1>
                @* <pre>Substance Form valid = {{ substanceForm.$valid | json }}</pre>*@
                <div id="errors-area">
                <div class = "row" ng-repeat="err in errorsArray track by $index">
                    <div class="col-md-12">
                        <div class="alert alert-{{::err.class}} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
                            </button>
                            <span><h4>{{::err.messageType}}</h4>
                                <span>{{::err.message}}</span>
                                <div ng-repeat="link in err.links track by $index">
                                    <a target = "_blank" href="{{::link.href}}">{{::link.text}}</a>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                </div>
            </form>
        </div>
        <div id="json-area">
        <div class ="row info" ng-show="show">
                <div class="col-md-12">
            <div>
                <span ng-show="viewStyle!=='text'">Showing JSON Object structure</span>
                <span ng-show="viewStyle=='text'">Showing Raw JSON </span>
            </div>
            <button class="btn btn-primary" ng-show="!raw" ng-click="angular.toJson(submitSubstance); raw=true" >
                Show Raw</button>
            <button class="btn btn-primary" ng-show="raw" ng-click="raw=false" >Show Object</button>
            <json-formatter ng-show="!raw" json=submitSubstanceView open="666"></json-formatter>
                    <textarea id="rawJson" ng-show="raw==true">{{submitSubstanceView | json }}</textarea>
            @*
            <pre ng-show="raw">{{subTest}}</pre>
            *@
                </div>
            </div>
        </div>
        <div ng-hide="diff==true">
            <div class="row info">
                <div class = "col-md-12">
                    <textarea class="form-control" rows="10" ng-model="paste" aria-label="paste substance JSON"></textarea>
                </div>
            </div>
            <div class ="row info">
                <button ng-click="submitpaster(paste); validate(substance)" id="pasteSubstanceBtn">paste</button>
            </div>
        </div>
        <div ng-if="diff==true">
            <div class ="row info">
                <div class = "col-md-6">
                    <label>from form</label>
                    <textarea class="form-control" rows="10" ng-model="left"></textarea>
                </div>
                <div class = "col-md-6">
                    <label>from api</label>
                    <textarea class="form-control" rows="10" ng-model="right"></textarea>
                </div>
            </div>
            <div class ="row info">
                <div class ="col-md-12">
                    <h2>processingDiff</h2>
                    <pre class="textdiff diff" processing-diff left-obj="left" right-obj="right"></pre>
                </div>
            </div>
        </div>

        <script>
	        	
                var loadjson = @Html(json);
                @if(!"{}".equals(json) && json != null) {
	        		window.setInterval(function(){
	        			$.ajax({
	        				url: baseurl + "lock?uuid=" + loadjson.uuid, 
	        				success: function(result){
	        		        	if(result.hasLock){
	        		        		$("#lockmessage").hide();
	        		        	}else{
	        		        		$("#lockmessage").show();
	        		        	}
	        		    	}
	        			});
	        			
	        			},20000);
	        	}

                window.onload = function(){


                    var importID = getUrlVars()['importUUID'];
                    var importType = getUrlVars()['importType'];
                    if(importID){

                        function callback(substance) {
                            function scrub(oldraw) {
                                function guid() {
                                    function s4() {
                                        return Math.floor((1 + Math.random()) * 0x10000)
                                            .toString(16)
                                            .substring(1);
                                    };
                                    return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                                        s4() + '-' + s4() + s4() + s4();
                                };
                                var old = oldraw;
                                var uuidHolders = JSON.search(old, "//*[uuid]");
                                var map = {};
                                for (var i = 0; i < uuidHolders.length; i++) {
                                    var ouuid = uuidHolders[i].uuid;
                                    if (map[ouuid]) {
                                        uuidHolders[i].uuid = map[ouuid];
                                    } else {
                                        var nid = guid();
                                        uuidHolders[i].uuid = nid;
                                        map[ouuid] = nid;
                                    }
                                }
                                var refHolders = JSON.search(old, "//*[references]");
                                for (var i = 0; i < refHolders.length; i++) {
                                    var refs = refHolders[i].references;
                                    for (var j = 0; j < refs.length; j++) {
                                        var or = refs[j];
                                        if (typeof or === "object") continue;
                                        //console.log(or);
                                        refs[j] = map[or];
                                    }
                                }
                                JSON.search(old, "//*[uuid]");
                                _.remove(old.codes, {
                                    codeSystem: "BDNUM"
                                });
                                var createHolders = JSON.search(old, "//*[created]");
                                for (var i = 0; i < createHolders.length; i++) {
                                    var rec = createHolders[i];
                                    delete rec["created"];
                                    delete rec["createdBy"];
                                    delete rec["lastEdited"];
                                    delete rec["lastEditedBy"];
                                }
                                delete old.approvalID;
                                delete old.approved;
                                delete old.approvedBy;
                                old.status = "pending";
                                console.log(importType);
                                if ((importType) && (importType == 'definition')){
                                    old.names = [];
                                    old.codes = [];
                                    old.notes = [];
                                    old.relationships = [];
                                }
                                delete old["createdBy"];
                                delete old["created"];
                                delete old["lastEdited"];
                                delete old["lastEditedBy"];
                                delete old["version"];
                                delete old["$$update"];
                                delete old["changeReason"];


                                if(true){
                                	   var refSet = {};

                                	   var refHolders = JSON.search(old, "//*[references]");
                                       for (var i = 0; i < refHolders.length; i++) {
                                           var refs = refHolders[i].references;
                                           for (var j = 0; j < refs.length; j++) {
                                               var or = refs[j];
                                               if (typeof or === "object") continue;
                                               //console.log(or);
                                               refSet[or] = true;
                                           }
                                       }

                                       var nrefs=_.chain(old.references)
                                        .filter(function(ref){
                                       	 	if(refSet[ref.uuid]){
                                       	 		return true;
                                       	 	}else{
                                       	 		return false;
                                       	 	}
                                        })
                                        .value();

                                       old.references=nrefs;

                                }


                                return old;
                            };
                            var copyJSON = scrub(substance);
                            setJson(copyJSON);
                    $('.loading').animate({'opacity': 0},200, function() {
                        $('.loading').hide();
                        console.info('Loading complete.');
                    });
                };

                        var url = baseurl + "api/v1/substances("+ importID + ")?view=full";
                        $.ajax({
                            contentType: 'application/json',
                            url: url,
                            success: function (result) {
                                var substance = result;
                                callback(result);
                            },error: function(XMLHttpRequest, textStatus, errorThrown) {
                                alert("There was a problem importing substance data");
                            }
                        });
                    }else{
                    	  $('.loading').animate({'opacity': 0}, 200, function () {
                              $('.loading').hide();
                          });
                    }

                };

                function getUrlVars() {
                    var vars = {};
                    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                        vars[key] = value;
                    });
                    return vars;
                }
                //Child frame

                 function getJson(){
                    return angular.element(document.body).scope().substance.$$flattenSubstance();
                 }

                 function setJson(json){

                 var molChanger=angular.element(document.body).injector().get("molChanger");
                 var Substance= angular.element(document.body).injector().get("Substance");
                 var $scope=angular.element(document.body).scope();
                 Substance.$$setSubstance(json)
                 .then(function (data) {
                 $scope.substance = data;
                 if($scope.substance.substanceClass =="chemical"){
                 molChanger.setMol($scope.substance.structure.molfile);
                 }
                         if($scope.substance.substanceClass =="polymer"){
                             molChanger.setMol($scope.substance.polymer.displayStructure.molfile);
                         }
	                 	setTimeout(function(){
	                 	    var oldClass=$scope.substance.substanceClass;
	                 	    $scope.substance.substanceClass="concept";
	                 	    $scope.$apply();
	                 		setTimeout(function(){
	                 			$scope.substance.substanceClass=oldClass;
	                 			$scope.$apply();
	                 		},1);
	                 	},1);
                 });
                 }
        </script>
    }

