@import play.api.Play.current

@(kind: String, json: String)


@wizardfields(kind: String) = {

@if(kind == "chemical") {
    <div>@forms.structureform()</div>
    <div>@forms.moietyform()</div>
    <div>@forms.officialnameform()</div>
    <div>@forms.nameform()</div>
    <div >@forms.codeform()</div>
    <div>@forms.relationshipform()</div>
    <div>@forms.noteform()</div>
    <div>@forms.propertyform()</div>
    <div ng-show="substance.references">@forms.referenceform()</div>
    <!-- Modal -->
    @forms.referencemodalform()
    @forms.amountmodalform()
    @forms.parametermodalform()


} else {
    @if(kind == "mixture") {
        @forms.nameform()
        <div ng-show="uniqueName">@forms.codeform()</div>
        @forms.referenceform()
        @forms.referencemodalform()
    } else {
        @if(kind == "protein") {
            @forms.subunitform()
            @forms.proteindetailsform()
            <div >@forms.disulfideform()</div>
@*            <div >@forms.modificationform()</div>*@
            <div >@forms.glycosylationform()</div>
            @forms.nameform()
            <div >@forms.codeform()</div>
            <div ng-show="substance.references"> @forms.referenceform()</div>
            @forms.referencemodalform()
        } else {
            @if(kind == "polymer") {
                @forms.nameform()
                <div ng-show="uniqueName">@forms.codeform()</div>
                @forms.referenceform()
                @forms.referencemodalform()
            } else {
                @if(kind == "structurallyDiverse") {
                    @forms.diversesourceform()
                    <div ng-show="sourceMaterialType=='Organism'">  </div>
                    @forms.diverseorganismform()
                    @forms.nameform()
                    <div ng-show="uniqueName">@forms.codeform()</div>
                    @forms.referenceform()
                    @forms.referencemodalform()
                } else {
                    @if(kind.toLowerCase() == "concept") {
                        @forms.nameform()
                        <div ng-show="uniqueName">@forms.codeform()</div>
                        @forms.referenceform()
                        @forms.referencemodalform()
                    } else {
                        <h2>Unknown substance class: @kind</h2>
                    }
                }
            }
        }
    }
}

}

@ginas("Register", kind) {
    @menu()
} {
    <h3></h3>
} {
    <h3></h3>
    <script src="@play.api.Play.configuration.getString("application.context").getOrElse("/ginas/app")/api/v1/vocabularies/?top=100&callback=window.CV_REQUEST="></script>
    <div ng-cloak>
        @wizardfields(kind)
        <div class = "row info">
            <div class="col-md-4">
                <button class="btn btn-primary" ng-hide="showJSON" ng-click="showJSON=true" >Show JSON</button>
                <button class="btn btn-primary" ng-show="showJSON" ng-click="showJSON=false" >Hide JSON</button>
                <button class="btn btn-primary" ng-click="validateSubstance(substance)">Validate</button></div>
            <div class="col-md-1 pull-right">
                <button class="btn btn-primary" ng-click="submitSubstance(substance)">Submit</button>
            </div>
        </div>
        <div class = "row" ng-repeat="err in errorsArray">
            @*
            // <error-window error = error></error-window>
            *@
            <div class="col-md-12">
                <div class="alert {{err.class}} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
                    </button>
                    <span><h4>{{err.messageType}}</h4>&nbsp;{{err.message}} </span>
                </div>
            </div>

        </div>
    </div>
    <div class ="row info" ng-show="showJSON">
        <pre>{{substance | json}}</pre>
    </div>
    <div class="row info"><div class = "col-md-12">
        <textarea class="form-control" rows="10" ng-model="paste"></textarea>
    </div>
    </div>
    <div class ="row info">
        <button ng-click="submitpaster(paste)">paste</button>
</div>
        <script>
            @*var renderUrl = '@ix.ncats.controllers.routes.App.render/';*@
        var strucUrl = '@ix.ncats.controllers.routes.App.molinstrument';
        var envurl='@ix.ncats.controllers.routes.App.smiles';
        var loadjson = @Html(json);
    </script>

        <script type="text/ng-template" id="tag-template-script">
        <div class="tag-template" >
        <div tooltip="{{data.citation}}">
        <span>{{$getDisplayText()}}</span>
        <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
        </div>
        </script>

    @fileimport() @addnamelist()
}

