@(kind: String)


@wizardfields(kind: String) = {
    @if(kind == "Chemical") {
        <div ng-show="uniqueName">@structureform()</div>
        <div ng-show="ofType">@officialnameform()</div>
        @nameform()
        @*<div  ng-class="{disabled: !uniqueName}">@codeform()</div>*@
        <div ng-show="uniqueName">@codeform()</div>
        <div ng-show="refAdded">@referenceform()</div>
    }
    @if(kind == "Mixture") {
        @nameform()
        <div ng-show="uniqueName">@codeform()</div>
        @referenceform()
    }
    @if(kind == "Protein") {
        <div ng-show="uniqueName">@subunitform()</div>
       @proteindetailsform()
        <div ng-show="uniqueName">@disulfideform()</div>
        <div ng-show="uniqueName">@modificationform()</div>
        <div ng-show="uniqueName">@glycosylationform()</div>
        @nameform()
        <div ng-show="uniqueName">@codeform()</div>
        <div ng-show="refAdded"> @referenceform()</div>
    }
    @if(kind == "Polymer") {
        @nameform()
        <div ng-show="uniqueName">@codeform()</div>
        @referenceform()
    }
    @if(kind == "Structurally Diverse") {
        @nameform()
        <div ng-show="uniqueName">@codeform()</div>
        @referenceform()
    }
    @if(kind == "Concept") {
        @nameform()
        <div ng-show="uniqueName">@codeform()</div>
        @referenceform()
    }
}

@ginas("Register", kind) {
    @menu()
} {
    <h3></h3>
} {
    <h3></h3>
    <div ng-controller ="GinasCtrl as ginasCtrl">
    @wizardfields(kind)
    {{ginasCtrl.substance}}
        </div>
    <script>
        var envurl='@ix.ncats.controllers.routes.App.smiles';
    </script>


    @fileimport() @addnamelist()
}
