@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.ChemicalSubstance



@(chem: ChemicalSubstance, ctx: String = null)

<div class = "col-md-3 thumb-col">
    <div class="panel panel-default">
        <div class="panel-heading">

            <p class="text-right" data-toggle="tooltip" title="Approval ID">
                <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(chem))" uib-tooltip="view record details" target="_self">
                    <code>@chem.approvalID</code></a></p>
        </div>
        <div class="panel-body struc-img">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(chem))" uib-tooltip="view record details" target="_self">
                <img class = "struc-thumb img-responsive" alt="Structure of @chem.getName()"
                src='@ix.ginas.controllers.routes.GinasApp.structure(chem.structure.getId, "svg", 200, ctx)'>
            </a>
            <div class = "row stereo">
                <div class = "col-md-10">
                    @if(chem.structure.stereoChemistry == Structure.Stereo.ACHIRAL) {
                        <span class="label label-primary label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.ABSOLUTE) {
                        <span class="label label-success label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.RACEMIC) {
                        <span class="label label-info label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.MIXED) {
                        <span class="label label-default label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.EPIMERIC) {
                        <span class="label label-warning label-offset">@chem.structure.stereoChemistry</span>
                    }
                    @if(chem.structure.stereoChemistry == Structure.Stereo.UNKNOWN) {
                        <span class="label label-danger label-offset">@chem.structure.stereoChemistry</span>
                    }

                </div>

            </div>
        </div>
        <div class = "panel-footer nameDiv" data-toggle="tooltip" title="@chem.getName()">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(chem))" target="_self">
                @chem.getName()
            </a>
            <div class = "row">
                <div class = "col-md-12 text-center">
                    <ul class= "list-inline list-unstyled tools">
                        <li>
                            <modal-button type= "export" structureid ="'@chem.structure.id'" format="sdf" ></modal-button>
                        </li>
                        <li>
                            <a ng-href="@ix.ginas.controllers.routes.GinasFactory.structuresearch()" target="_self" ng-click= "passStructure('@chem.structure.id')" uib-tooltip="Structure Search" aria-label="Structure Search"> <span class="fa fa-search fa-2x success"></span></a>
                        </li>
                        <li>
                            <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(chem))" uib-tooltip="Edit" target="_self" aria-label="Edit Chemical Substance"> <span class="fa fa-pencil fa-2x success"></span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
