@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.StructurallyDiverseSubstance

@(sub: StructurallyDiverseSubstance)

<div class = "col-md-3 thumb-col">
    <div class="panel panel-default">
        <div class="panel-heading">

            <p class="text-right" data-toggle="tooltip" title="Approval ID">
                <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" target="_self">
                    <code> @sub.approvalID</code></a></p>
        </div>
        <div class="panel-body struc-img diverse">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" target="_self">
                <img src="@routes.Assets.at("ginas/images/structurally_diverse.svg")" alt ="Structurally Diverse Substance" aria-label="Structurally Diverse Substance" class="struc-thumb img-responsive" id="" />
            </a>
            <div class = "row stereo">
                <div class = "col-md-10">
                    <span class="label label-primary label-offset">Structurally Diverse</span>
                </div>
            </div>
        </div>

        <div class = "panel-footer nameDiv" data-toggle="tooltip" title="@sub.getName()">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" target="_self">
            @GinasApp.truncate(sub.getName())
            </a>
            <div class = "row">
                <div class = "col-md-12 text-center">
                    <ul class= "list-inline list-unstyled tools">
                        <li>
                            <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(sub))" uib-tooltip="Edit" target="_self" aria-label="Edit Structurally Diverse Substance"> <span class="fa fa-pencil fa-2x success"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--END panel panel-primary-->