@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.ChemicalSubstance
@import ix.ginas.models.v1.ProteinSubstance
@import ix.ginas.models.v1.MixtureSubstance
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(sub: MixtureSubstance)

<div class = "col-md-3 thumb-col">
    <div class="panel panel-default">
        <div class="panel-heading">

            <p data-toggle="tooltip" title="Approval ID">
                <a class="text-right" href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" uib-tooltip="view record details" target="_self">
                    <code> @sub.approvalID</code></a> <br>
                @if(sub.getRecordAccess().getAccess().size() > 0){
                    <code>Not a public record</code>
                }
            </p>
        </div>
        <div class="panel-body struc-img">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" uib-tooltip="view record details" target="_self">
                <img src="@routes.Assets.at("ginas/images/mixture.svg")" alt ="Mixture" aria-label="Mixture" class="struc-thumb img-responsive" id="" />
            </a>
            <div class = "row stereo">
                <div class = "col-md-10">
                    <span class="label label-primary label-offset">Mixture</span>
                </div>
            </div>
        </div>
        <div class = "panel-footer nameDiv" data-toggle="tooltip" title="@sub.getName()">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" target="_self">
            @sub.getName()
            </a>
            @dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <ul class= "list-inline list-unstyled tools">
                            <li>
                                <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(sub))" uib-tooltip="Edit" target="_self" aria-label="Edit Mixture"> <span class="fa fa-pencil fa-2x success"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--END panel panel-primary-->
