
@import ix.ginas.controllers.GinasApp

@import ix.ginas.models.v1.NucleicAcidSubstance
@(nuc: NucleicAcidSubstance, ctx: String = null)

<div class = "col-md-3 thumb-col">
    <div class="panel panel-default">
        <div class="panel-heading">

            <p class="text-right" data-toggle="tooltip" title="Approval ID">
                <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(nuc))" uib-tooltip="view record details" target="_self">
                    <code> @nuc.approvalID</code></a></p>
        </div>
        <div class="panel-body struc-img">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(nuc))" uib-tooltip="view record details" target="_self">
                <img src="@routes.Assets.at("ginas/images/nucleic-acid.svg")" alt ="Nucleic Acid" aria-label="Nucleic Acid" class="struc-thumb img-responsive" id="" />
            </a>
            <div class = "row stereo">
                <div class = "col-md-10">
                    <span class="label label-primary label-offset">Nucleic Acid</span>
                </div>
            </div>
        </div>
        <div class = "panel-footer nameDiv" data-toggle="tooltip" title="@nuc.getName()">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(nuc))"  target="_self">
            @GinasApp.truncate(nuc.getName())
            </a>
            <div class = "row">
                <div class = "col-md-12 text-center">
                    <ul class= "list-inline list-unstyled tools">
                        <li>
                            <modal-button type= "export" structureid ="'@nuc.getUuid()'" format="fas" ></modal-button>
                        </li>
                        <li>
                            <a href="@ix.ginas.controllers.routes.GinasFactory.sequence(nuc.nucleicAcid.getSubunits().get(0).sequence)" target="_self" uib-tooltip="Sequence Search" aria-label="Structure Search"> <i class="fa fa-search fa-2x success"></i></a>
                        </li>
                        <li>
                            <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(nuc))" uib-tooltip="Edit" target="_self" aria-label="Edit Nucleic Acid"> <span class="fa fa-pencil fa-2x success"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
