
@import ix.ginas.controllers.GinasApp

@import ix.ginas.models.v1.NucleicAcidSubstance
@(nuc: NucleicAcidSubstance, ctx: String = null)

<div class = "col-md-3 thumb-col">
    <div class="panel panel-default">
        <div class="panel-heading">

            <p class="text-right" data-toggle="tooltip" title="Approval ID">
                <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(nuc))"  target="_self">
                    <code> @nuc.approvalID</code></a></p>
        </div>
        <div class="panel-body struc-img">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(nuc))"  target="_self">
                <img src="@routes.Assets.at("ginas/images/nucleic-acid.svg")" alt ="Nucleic Acid" aria-label="Nucleic Acid" class="img-responsive" id="" />
            </a>
        </div>
        <div class = "panel-footer nameDiv" data-toggle="tooltip" title="@nuc.getName()">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(nuc))"  target="_self">
            @GinasApp.truncate(nuc.getName())
            </a>
        </div>
    </div>
</div>
