@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.PolymerSubstance
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(chem: PolymerSubstance, ctx: String = null)


<div class = "col-md-3 thumb-col">
    <div class="panel panel-default">
        <div class="panel-heading">

            <p data-toggle="tooltip" title="Approval ID">
                <a class="text-right" href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(chem))" uib-tooltip="view record details" target="_self">
                    <code>@chem.approvalID</code></a> <br>
                @if(chem.getAccess().size() > 0){
                    <code>Not a public record</code>
                }
            </p>
        </div>
        <div class="panel-body struc-img">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(chem))" uib-tooltip="view record details" target="_self">
                <img class = "struc-thumb img-responsive" alt="Structure of @chem.getName()"
                src='@ix.ginas.controllers.routes.GinasApp.structure(chem.polymer.displayStructure.getId, "svg", 200, ctx)'>
            </a>
            <div class = "row stereo">
                <div class = "col-md-10">
                   <span class="label label-primary label-offset">Polymer</span>
                </div>

            </div>
        </div>
        <div class = "panel-footer nameDiv" data-toggle="tooltip" title="@chem.getName()">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(chem))" target="_self">
                @chem.getName()
            </a>
            <div class = "row">
                <div class = "col-md-12 text-center">
                    <ul class= "list-inline list-unstyled tools">
                        <li>
                            <modal-button type= "export" structureid ="'@chem.polymer.displayStructure.id'" format="mol" format2="sdf" ></modal-button>
                        </li>
                        @dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                            <li>
                                <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(chem))" uib-tooltip="Edit" target="_self" aria-label="Edit Polymer"> <span class="fa fa-pencil fa-2x success"></span></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

