
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.ProteinSubstance

@(prot: ProteinSubstance, ctx: String = null)

<div class = "col-md-3 thumb-col">
    <div class="panel panel-default">
        <div class="panel-heading">

            <p class="text-right" data-toggle="tooltip" title="Approval ID">
                <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(prot))" uib-tooltip="view record details" target="_self">
                    <code> @prot.approvalID</code></a></p>
        </div>
        <div class="panel-body struc-img">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(prot))" uib-tooltip="view record details" target="_self">
                <img src="@routes.Assets.at("ginas/images/protein.svg")" alt ="Protein" aria-label="Protein" class="struc-thumb img-responsive" id="" />
            </a>
            <div class = "row stereo">
                <div class = "col-md-10">
                    <span class="label label-primary label-offset">Protein</span>
                </div>
            </div>
        </div>
        <div class = "panel-footer nameDiv" data-toggle="tooltip" title="@prot.getName()">
            <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(prot))"  target="_self">
            @GinasApp.truncate(prot.getName())
            </a>
            <div class = "row">
                <div class = "col-md-12">
                    <ul class= "list-inline list-unstyled tools">
                        <li>
                            <modal-button type= "export" structureid ="'@prot.getUuid()'" format="fas" ></modal-button>
                        </li>
                        
                        <li>
                            <a href="@ix.ginas.controllers.routes.GinasFactory.sequence(prot.protein.subunits(0).getUuid.toString())" target="_self" uib-tooltip="Sequence Search" aria-label="Structure Search"> <i class="fa fa-search fa-2x success"></i></a>
                        </li>
                        
                        <li>
                            <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(prot))"  target="_self" uib-tooltip="Edit" aria-label="Edit Protein Substance"> <i class="fa fa-pencil fa-2x success"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
