<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title>Marvin JS</title>
  <link type="text/css" rel="stylesheet" href='@routes.Assets.at("javascripts/marvin/gui/css/editor.min.css")' media="screen" />
  <script src='@routes.Assets.at("javascripts/marvin/gui/lib/es6-promise-2.0.1.min.js")'></script>
  <script src='@routes.Assets.at("javascripts/marvin/gui/gui.nocache.js")'></script>
	
  <script>
	window.addEventListener("message", function(event) {
		try {
			var externalCall = JSON.parse(event.data);
			marvin.onReady(function() {
				marvin.sketcherInstance[externalCall.method].apply(marvin.sketcherInstance, externalCall.args);
			});
		} catch (e) {
			console.log(e);
		}
	}, false);

		// called when Marvin JS loaded
	function sketchOnLoad () {
            if(marvin.Sketch.isSupported()) {
  	       marvin.Sketch.license('@routes.Assets.at("ncats/marvinjs-license.cxl")');
               marvin.sketcherInstance = new marvin.Sketch("sketch");
	       marvin.sketcherInstance.setServices({
	          "molconvertws": '@ix.ncats.controllers.routes.App.molconvert'
	       });
               var molchange = function(){
	           var mol = marvin.sketcherInstance.exportAsMol();
                   console.log('mol => '+mol);		   
	           if (mol) {
                       if (top.setQuery) {
 	                   top.setQuery(mol);
	               } else if (parent.setQuery) {
                           parent.setQuery(res);
                       }
	            } else {
	               alert ("Your browser doesn't seem to have proper support for Javascript. Please try another browser for sketching support or cut and paste your query directly into the text field below.");
	            }
	        };
		
		marvin.sketcherInstance.on("molchange",molchange);
		if (top.setMarvin) {
		   top.setMarvin(marvin.sketcherInstance, molchange);
		}
	     } else {
		alert("Cannot initiate sketcher. Current browser may not support HTML5 canvas or may run in Compatibility Mode.");
	     }
	}

  </script>
</head>
<body class="mjs-body">
  <noscript>
    <div>
      <p>Your web browser must have JavaScript enabled in order for this application to display correctly.</p>
    </div>
  </noscript>
  <div id="sketch"></div>
</body>
</html>
