@(title: String)(content: Html)

<!DOCTYPE html>

<html ng-app>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("ncats/css/cover.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))' rel='stylesheet' >
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))' type='text/javascript' ></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))' type='text/javascript' ></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))' type='text/javascript'></script>
    </head>
    <body>
        @content
    </body>
</html>
