@import play.Play;
@(message: String)

<div class = "alert"><h4>@message</h4></div>

@if(message.equalsIgnoreCase("No User Present")) {
    <div><a id="login" href="@Play.application().configuration().getString("application.context","")/login" target="_self"><button class="btn btn-default">Login Page</button></a></div>
} else {
    <div><a id="login" href="@Play.application().configuration().getString("application.context","/")" target="_self"><button class="btn btn-default">Go Home</button></a></div>
}