@import ix.ncats.models.Project 
@import ix.core.search.TextIndexer.Facet

@(facets: Array[Facet])

@main("Publications", "NCATS Publications") {
@for(f <- facets) {
@f.getName().replaceAll("MeSH","Keyword").trim()
 @for(i <- 0 until f.getValues().size()) {
     @f.getValues().get(i).getLabel()
     @f.getValues().get(i).getCount()
  }
}


<div class="row" style = "height:100px;">
<h1> NCATS PROJECTS</h1>
</div>

<div class="row" id="searching">

	<div class="col-md-6 col-md-offset-3">
		   <form class="main-search" role="search" method="GET"
				action="@ix.publications.controllers.routes.ReachApp.search(null)">
	      <div class="input-group">
		<input type="text" class="form-control typeahead" id="search"
		       title="Search" placeholder="Search..." name="q">
		<input type="hidden" name="kind" value="ix.ncats.models.Project" />
		<span class="input-group-btn">
		  <button class="btn btn-default" id="search" type="search"
			  value="submit">
		    <span class="fa fa-search"></span>
		  </button>
		</span>
	      </div>
	    </form>
			
		</div>
	</div>

<div class="row" id="pub-history">
	<div class="col-md-3 col-xs-4">@filters(facets)</div>
	<!--END panel panel-primary-->



	<div class="col-md-9 col-xs-8">
      <div class="row">
	<div class="col-sm-4 hex" >
	  <a href= "@ix.idg.controllers.routes.IDGApp.diseases()">
	    <div class="rounded" id="cancer">
              	  <img src="@routes.Assets.at("publications/images/cancer.svg")" alt="Sort by projects involving cancer" class = "off"/>
	  			  <img src="@routes.Assets.at("publications/images/cancer-on.svg")" alt="Sort by projects involving cancer" class = "on"/>
	      <span class="badge count">cancer</span>
	    </div>
	  </a>
	</div>
	<div class="col-sm-4 hex" >
	  <a href= "@ix.idg.controllers.routes.IDGApp.targets(null, 20, 1)">
	    <div class="rounded" id = "rare" >
          	  <img src="@routes.Assets.at("publications/images/rare.svg")" alt="Sort by projects involving rare diseases" class = "off"/>
	  <img src="@routes.Assets.at("publications/images/rare-on.svg")" alt="Sort by projects involving rare diseases" class = "on"/>
	      <span class="badge count">rare</span>
	    </div>
	  </a>
	</div>
	<div class="col-sm-4 hex" >
	  <a href= "@ix.idg.controllers.routes.IDGApp.targets(null, 20, 1)">
	    <div class="rounded" id = "infectious">
          	  <img src="@routes.Assets.at("publications/images/infectious.svg")" alt="Sort by projects involving infectious diseases" class = "off"/>
	  <img src="@routes.Assets.at("publications/images/infectious-on.svg")" alt="Sort by projects involving infectious diseases" class = "on"/>
	      <span class="badge count">infectious</span>
	    </div>
	  </a>
	</div>
      </div>
      
      <div class="row" style = "height:30px;">
</div>
      
      <div class= "row">
	<div class="col-sm-4 hex">
	  <a href= "@ix.idg.controllers.routes.IDGApp.ligands()">
	    <div class ="rounded" id = "nervous">
	     	 	  <img src="@routes.Assets.at("publications/images/nervous.svg")" alt="Sort by projects involving central nervous system diseases"class = "off"/>
	  			  <img src="@routes.Assets.at("publications/images/nervous-on.svg")" alt="Sort by projects involving central nervous system diseases" class = "on"/>
	      <span class="badge count">nervous</span>
	    </div>
	  </a>
	</div>
	<div class="col-sm-4 hex">
	  <a href= "@ix.idg.controllers.routes.IDGApp.ligands()">
	    <div class ="rounded" id = "metabolic">
	     	 	  <img src="@routes.Assets.at("publications/images/metabolic.svg")" alt="Sort by projects involving metabolic diseases" class = "off"/>
	  			  <img src="@routes.Assets.at("publications/images/metabolic-on.svg")" alt="Sort by projects involving metabolic diseases" class = "on"/>
      <span class="badge count">metabolic</span>
	    </div>
	  </a>
	  
	</div>
	<div class="col-sm-4 hex" >
	  <a href= "@ix.idg.controllers.routes.IDGApp.targets(null, 20, 1)">
	    <div class="rounded" id = "cardio">
	      	  <img src="@routes.Assets.at("publications/images/cardio.svg")" alt="Sort by projects involving cardiovascular diseases"class = "off"/>
	  <img src="@routes.Assets.at("publications/images/cardio-on.svg")" alt="Sort by projects involving cardiovascular diseases" class = "on"/>
	      <span class="badge count">cardio</span>
	    </div>
	  </a>
	</div>
      </div>
          <div class="row" style = "height:30px;">
</div>
      
      <div class= "row">
	<div class="col-sm-4 hex">
	  <a href= "@ix.idg.controllers.routes.IDGApp.ligands()">
	    <div class ="rounded" id = "technology">
	     	 	  <img src="@routes.Assets.at("publications/images/techno.svg")" alt="Sort by projects involving unique technologies" class = "off"/>
	  			  <img src="@routes.Assets.at("publications/images/techno-on.svg")" alt="Sort by projects involving unique technologies" class = "on"/>
	      <span class="badge count">64</span>
	    </div>
	  </a>
	</div>
	<div class="col-sm-4 hex">
	  <a href= "@ix.idg.controllers.routes.IDGApp.ligands()">
	    <div class ="rounded" id = "other">
	     	 	  <img src="@routes.Assets.at("publications/images/other.svg")" alt="Sort by projects that defy categorization" class = "off"/>
	  			  <img src="@routes.Assets.at("publications/images/other-on.svg")" alt="Sort by projects that defy categorization" class = "on"/>
      <span class="badge count">other</span>
	    </div>
	  </a>
	  
	</div>
	<div class="col-sm-4 hex" >
	  <a href= "@ix.idg.controllers.routes.IDGApp.targets(null, 20, 1)">
	    <div class="rounded" id = "all">
	      	  <img src="@routes.Assets.at("publications/images/all.svg")" alt="See all projects" class = "off"/>
	  <img src="@routes.Assets.at("publications/images/all-on.svg")" alt="See all projects" class = "on"/>
	      <span class="badge count">all</span>
	    </div>
	  </a>
	</div>
      </div>
      
            <div class="row" style = "height:30px;">
</div>

  
 }