@import ix.ncats.models.Project 
@import ix.core.search.TextIndexer.Facet

@(facets: Array[Facet])

@main("Projects", "NCATS Projects") {



<div class="row" style = "height:100px;">
<h1>NCATS PROJECTS</h1>
</div>

 @defining(facets.filter(_.getName().equalsIgnoreCase("category"))) { cat =>

<div class="row">
<div class = "col-sm-8 col-sm-offset-2">
<div class = "row">
<div class="col-sm-3 box">
	  <a href= "@{ix.publications.controllers.routes.ReachApp.projects()}?facet=Category/Cancer">
	    <div class="rounded" id="cancer">
	    <!--[if gte IE 10]><!-->
	    	  	 <img src="@routes.Assets.at("publications/images/cancer-on.svg")" alt="Sort by projects involving cancer" class = "back on"/>
	    		 <img src="@routes.Assets.at("publications/images/cancer.svg")" alt="Sort by projects involving cancer" class = "back off"/>
<!--<![endif]-->

<!--[if lte IE 9]>
 <img src="@routes.Assets.at("publications/images/cancer.png")" alt="Sort by projects involving cancer" class = "img-responsive off"/>
	  			  <img src="@routes.Assets.at("publications/images/cancer-on.png")" alt="Sort by projects involving cancer" class = "img-responsive on"/>
<![endif]-->
              	 
	      <span class="badge count">@cat(0).getCount("Cancer")</span>
	    </div>
	  </a>
	</div>
	<div class="col-sm-3 box" >
	  <a href= "@{ix.publications.controllers.routes.ReachApp.projects()}?facet=Category/Rare+Disease">
	    <div class="rounded" id = "rare" >
	    <!--[if gte IE 10]><!-->
	    		  <img src="@routes.Assets.at("publications/images/rare-on.svg")" alt="Sort by projects involving rare diseases" class = "back on"/>
	           	  <img src="@routes.Assets.at("publications/images/rare.svg")" alt="Sort by projects involving rare diseases" class = "back off"/>
			  <!--<![endif]-->
	  <!--[if lte IE 9]>
          	  <img src="@routes.Assets.at("publications/images/rare.png")" alt="Sort by projects involving rare diseases" class = "img-responsive off"/>
			  <img src="@routes.Assets.at("publications/images/rare-on.png")" alt="Sort by projects involving rare diseases" class = "img-responsive on"/>
<![endif]-->
	      <span class="badge count">@cat(0).getCount("Rare Disease")</span>
	    </div>
	  </a>
	</div>
	<div class="col-sm-3 box" >
	  <a href= "@{ix.publications.controllers.routes.ReachApp.projects()}?facet=Category/Infectious+Disease">
	    <div class="rounded" id = "infectious">
	    <!--[if gte IE 10]><!-->
	    	  <img src="@routes.Assets.at("publications/images/infectious-on.svg")" alt="Sort by projects involving infectious diseases" class = "back on"/>
	       	  <img src="@routes.Assets.at("publications/images/infectious.svg")" alt="Sort by projects involving infectious diseases" class = "back off"/>
	<!--<![endif]--> 
	<!--[if lte IE 9]>
          	 <img src="@routes.Assets.at("publications/images/infectious.png")" alt="Sort by projects involving infectious diseases" class = "img-responsive off"/>
	 		 <img src="@routes.Assets.at("publications/images/infectious-on.png")" alt="Sort by projects involving infectious diseases" class = "img-responsive on"/>
<![endif]-->
	      <span class="badge count">@cat(0).getCount("Infectious Disease")</span>
	    </div>
	  </a>
	</div>
      </div>
      
      <div class="row" style = "height:30px;">
      </div>
      
      <div class= "row">
	<div class="col-sm-3 box">
	  <a href= "@{ix.publications.controllers.routes.ReachApp.projects()}?facet=Category/Central+Nervous+System+Disease">
	    <div class ="rounded" id = "nervous">
	    <!--[if gte IE 10]><!-->
	      			  <img src="@routes.Assets.at("publications/images/nervous-on.svg")" alt="Sort by projects involving central nervous system diseases" class = "back on"/>
	         	 	  <img src="@routes.Assets.at("publications/images/nervous.svg")" alt="Sort by projects involving central nervous system diseases"class = "back off"/>
	      <!--<![endif]-->
	      <!--[if lte IE 9]>
	     	 	  <img src="@routes.Assets.at("publications/images/nervous.png")" alt="Sort by projects involving central nervous system diseases"class = "img-responsive off"/>
	  			  <img src="@routes.Assets.at("publications/images/nervous-on.png")" alt="Sort by projects involving central nervous system diseases" class = "img-responsive on"/>
<![endif]-->
	      <span class="badge count">@cat(0).getCount("Central Nervous System Disease")</span>
	    </div>
	  </a>
	</div>
	<div class="col-sm-3 box">
	  <a href= "@{ix.publications.controllers.routes.ReachApp.projects()}?facet=Category/Metabolic+Disorder">
	    <div class ="rounded" id = "metabolic">
	    <!--[if gte IE 10]><!-->
	      			  <img src="@routes.Assets.at("publications/images/metabolic-on.svg")" alt="Sort by projects involving metabolic diseases" class = "back on"/>
	         	 	  <img src="@routes.Assets.at("publications/images/metabolic.svg")" alt="Sort by projects involving metabolic diseases" class = "back off"/>
     <!--<![endif]-->
     <!--[if lte IE 9]>
	     	 	  <img src="@routes.Assets.at("publications/images/metabolic.png")" alt="Sort by projects involving metabolic diseases" class = "img-responsive off"/>
	  			  <img src="@routes.Assets.at("publications/images/metabolic-on.png")" alt="Sort by projects involving metabolic diseases" class = "img-responsive on"/>
<![endif]-->
      <span class="badge count">@cat(0).getCount("Metabolic Disorder")</span>
	    </div>
	  </a>
	  
	</div>
	<div class="col-sm-3 box" >
	  <a href= "@{ix.publications.controllers.routes.ReachApp.projects()}?facet=Category/Cardiovascular+Disease">
	    <div class="rounded" id = "cardio">
	    <!--[if gte IE 10]><!-->
	    	  <img src="@routes.Assets.at("publications/images/cardio-on.svg")" alt="Sort by projects involving cardiovascular diseases" class = "back on"/>
	       	  <img src="@routes.Assets.at("publications/images/cardio.svg")" alt="Sort by projects involving cardiovascular diseases"class = "back off"/>
	      <!--<![endif]-->
	      <!--[if lte IE 9]>
	      	  <img src="@routes.Assets.at("publications/images/cardio.png")" alt="Sort by projects involving cardiovascular diseases"class = "img-responsive off"/>
			  <img src="@routes.Assets.at("publications/images/cardio-on.png")" alt="Sort by projects involving cardiovascular diseases" class = "img-responsive on"/>
<![endif]-->
	      <span class="badge count">@cat(0).getCount("Cardiovascular Disease")</span>
	    </div>
	  </a>
	</div>
      </div>
          <div class="row" style = "height:30px;">
</div>
      
      <div class= "row">
	<div class="col-sm-3 box">
	  <a href= "@{ix.publications.controllers.routes.ReachApp.projects()}?facet=Category/Technology">
	    <div class ="rounded" id = "technology">
	    <!--[if gte IE 10]><!-->
	    	  			  <img src="@routes.Assets.at("publications/images/techno-on.svg")" alt="Sort by projects involving unique technologies" class = "back on"/>
	    	     	 	  <img src="@routes.Assets.at("publications/images/techno.svg")" alt="Sort by projects involving unique technologies" class = "back off"/>
	      <!--<![endif]-->
	      <!--[if lte IE 9]>
	     	 	  <img src="@routes.Assets.at("publications/images/techno.png")" alt="Sort by projects involving unique technologies" class = "img-responsive off"/>
	  			  <img src="@routes.Assets.at("publications/images/techno-on.png")" alt="Sort by projects involving unique technologies" class = "img-responsive on"/>
<![endif]-->
	      <span class="badge count">@cat(0).getCount("Technology")</span>
	    </div>
	  </a>
	</div>
	<div class="col-sm-3 box">
	  <a href= "@{ix.publications.controllers.routes.ReachApp.projects()}?facet=Category/Other">
	    <div class ="rounded" id = "other">
	    <!--[if gte IE 10]><!-->
	   			  <img src="@routes.Assets.at("publications/images/other-on.svg")" alt="Sort by projects that defy categorization" class = "back on"/>
	     	 	  <img src="@routes.Assets.at("publications/images/other.svg")" alt="Sort by projects that defy categorization" class = "back off"/>
	  			  
      <!--<![endif]-->
      <!--[if lte IE 9]>
	     	 	  <img src="@routes.Assets.at("publications/images/other.png")" alt="Sort by projects that defy categorization" class = "img-responsive off"/>
	  			  <img src="@routes.Assets.at("publications/images/other-on.png")" alt="Sort by projects that defy categorization" class = "img-responsive on"/>
<![endif]-->
      <span class="badge count">@cat(0).getCount("other")</span>
	    </div>
	  </a>
	  
	</div>
	<div class="col-sm-3 box" >
	  <a href= "@ix.publications.controllers.routes.ReachApp.projects()">
	    <div class="rounded" id = "all">
	    <!--[if gte IE 10]><!-->
	    	 	 <img src="@routes.Assets.at("publications/images/all-on.svg")" alt="See all projects" class = "back on"/>
	    	 	  <img src="@routes.Assets.at("publications/images/all.svg")" alt="See all projects" class = "back off"/>
	     <!--<![endif]-->
	     <!--[if lte IE 9]>
	     	 	 <img src="@routes.Assets.at("publications/images/all-on.png")" alt="See all projects" class = "img-responsive on"/>
	     	     <img src="@routes.Assets.at("publications/images/all.png")" alt="See all projects" class = "img-responsive off"/>
		<![endif]-->
	      <span class="badge count">@ix.publications.controllers.ReachApp.getProjectCount()</span>
	    </div>
	  </a>
	</div>
      </div>
      </div>
</div>
	    }
  <div class="row" style = "height:100px;">
</div>
  
 }
