@(title: String, kind: String)(content: Html)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@title</title>
    <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
    <link rel="stylesheet" href='@routes.Assets.at("ncats/css/footer.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("ncats/css/idg.css")'>  
    <link rel="stylesheet" href='@routes.Assets.at("publications/css/overwrite.css")'>  
    <link rel="stylesheet" href='@routes.Assets.at("publications/css/reach.css")'>  
     <!--[if lte IE 9]>
     <style>
     .count {
      margin-top:95%;
      margin-right:1%;
      }
      </style>
      <![endif]-->
      
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))' type='text/javascript'></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("respond.js"))'></script>
   <script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("typeahead.bundle.min.js"))'></script>
<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("handlebars.min.js"))'></script>
<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("bloodhound.min.js"))'></script>
@typeahead() 
  </head>
  <body>
  	<div class="container" style="height:200px;"></div>
    <div class="container">

    
    @content
</div>
  </body>
</html>
