@import ix.ncats.controllers.reach.ProjectFactory 
@import ix.ncats.models.Project 
@import ix.core.models.PubAuthor 
@import ix.ncats.models.NIHAuthor 
@import ix.core.search.TextIndexer.Facet
@import scala.collection.JavaConversions._ 


@(query: String, current:Int, rows: Int, total: Int, pages: Array[Int], facets: Array[Facet],
projects: List[Project]) 


 @main("Projects", "NCATS Projects") {
<div class="row" id="searching">

	<div class="col-md-6 col-md-offset-3">
		   <form class="main-search" role="search" method="GET"
				action="@ix.publications.controllers.routes.ReachApp.search(null)">
	      <div class="input-group">
		<input type="text" class="form-control typeahead" id="search"
		       title="Search" placeholder="Search..." name="q">
		<input type="hidden" name="kind" value="ix.ncats.models.Project" />
		<span class="input-group-btn">
		  <button class="btn btn-default" id="search" type="search"
			  value="submit">
		    <span class="fa fa-search"></span>
		  </button>
		</span>
	      </div>
	    </form>
			
		</div>
	</div>


<div class="row" id="pub-history">
	<div class="col-md-3 col-xs-4">@filters(facets)</div>
	<!--END panel panel-primary-->



	<div class="col-md-9 col-xs-8">
		<div class="panel panel-primary" id="projSlides">
			<div class="panel-heading">
				<h3 class="panel-title">Projects:</h3>
			</div>
			<!--END panel-heading-->
			<div class="panel-body" id="proj-main">
				<div>
								<ol class="breadcrumb" id="filters"></ol>
							</div>
				<div class="row pagination-list">
					@pagination(current, 12, total, pages)
				</div>
				<div class="row" id="allSlides">
					@for(p <- projects) {
					<div class="col-md-4">
						<div
							class="img-hover-parent img-hover-grow overlay-parent overlay-parent-slideup-title-black box ">
							<a href="projects/@p.id" title=""
								class="portfolio-entry-media-link">
								@if(!p.figures.isEmpty()){ <img src="@p.figures(1).getUrl()"
								class="img-responsive thumb" alt="@p.title"> }else{
								@p.title }
								<div class="overlay-slideup-title black clr">
									<span class="title">@p.title</span>
								</div>
							</a>
						</div>
					</div>
					}
				</div>
				<br/>
				<div class="row pagination-list">
					@pagination(current, 12, total, pages)

				</div>
			</div>
		</div>
	</div>
</div>
}
