<!-- Modal -->
<div class="modal fade" id="fileimport" tabindex="-1" role="dialog" aria-labelledby="myModalLabelimport" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabelimport">Record Import</h4>
      </div>
      <div class="modal-body">
       <form class="form" role="import" method="GET"
				action="" id = "filereader">
				<div class="form-group">
				<div class = "row">
					<div class="col-md-3">
						<div class="form-group">
    <label for="exampleInputFile">Load File</label>
    <input type="button" value="Choose File" onclick="window.FileContentsGrabber.append('json-sequence')" id="exampleInputFile">
    <p class="help-block">or</p>
  </div>
				</div>
				</div>
				<div class = "row">	
					<div class="col-md-12">
						<label for="description-det">Enter JSON objects:</label>
						<textarea class="form-control" rows="6" id="json-sequence"></textarea>
					</div>
				</div>
				</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Import</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>