@(title: String)(content: Html)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" ng-app="ginas">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>@title</title>
<link rel="stylesheet"
	href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
<link rel="stylesheet"
	href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
<link rel="stylesheet"
	href='@routes.WebJarAssets.at(WebJarAssets.locate("smoothness/jquery-ui.css"))'>
<link rel="stylesheet" href='@routes.Assets.at("ncats/css/footer.css")'>
<link rel="stylesheet" href='@routes.Assets.at("ncats/css/idg.css")'>
<link rel="stylesheet"
	href='@routes.Assets.at("publications/css/overwrite.css")'>
<link rel="stylesheet"
	href='@routes.Assets.at("ginas/css/ginas.css")'>

<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'
	type='text/javascript'></script>
<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
	<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.js"))'></script>
<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("typeahead.bundle.min.js"))'></script>
<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("handlebars.min.js"))'></script>
<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("bloodhound.min.js"))'></script>



<script>

     function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#thumb')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
     function other(value){
    	 if (value=="Other"){
    		 $('#def-group').show();
    	 }
    	 else{
    			$('#def-group').hide();
    	 }
     }
     function molimport(moldata){
    		console.log(moldata);
    		mol.setMolfile(moldata); 
    	 } 

</script>

@typeahead() 
@structuretypeahead()
@filereader()
@screengrab()

</head>

<body ng-controller="ChemicalController as chemical">
	<div class="container-fluid" id = "logo-banner">
	<div class = "row-fluid" >
	<div class = "col-md-2">
	<img src="@routes.Assets.at("ginas/images/logo.png")" class = "img-responsive" id = "logo" />
	</div>
	<div class ="col-md-2" id="version">
	<span>development 0.9513</span>
	</div>
	</div>
	</div>
@header()

	<div class="container">@content</div>
</body>

<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))'
	type='text/javascript'></script>

<script
	src='@routes.Assets.at("ginas/js/controllers.js")'
	type='text/javascript'></script>

<script>
function molchange(mol){
	//typea(mol.getSmiles());
	// $('.structuretypeahead').val(mol.getSmiles());
     $('.structuretypeahead').typeahead('val', '"'+mol.getSmiles()+'"');
     var smile = encodeURIComponent(mol.getSmiles());
     var turl='@ix.core.controllers.search.routes.SearchFactory.suggestField("Structure", "$SMILES", 10)';
     console.log(turl);
     $.ajax({
    	 url: turl.replace("%24SMILES",smile), 
 	success : function(data, status, xhr) {
 		console.log(data);
 	}
     });
     
     
	console.log("mol:" + mol.getMolfile());
	console.log("smi:" + mol.getSmiles());
	var smile = encodeURIComponent(mol.getSmiles());
	console.log(smile);
};
</script>
<script>

$(document).ready(function () {
	
		var mol = new JSDraw("chemSearch");
	     
	$('#def-group').hide();
$('.datepicker').datepicker();


});
</script>
</html>
