@(message: String) @main("Migrate") {
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="inner cover">
				<h1 class="cover-heading">NCATS Publication and Project
					Migration</h1>
				<form class="form-horizontal" role="form" method="POST"
					enctype="multipart/form-data"
					action="@ix.ginas.controllers.routes.GinasMain.migrate">
					<div class="form-group">
						<label for="ginasUrl" class="col-sm-2 control-label">GINAS
							URL</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="ginasUrl"
								id="ginasUrl" placeholder="Enter ginas Tripod URL">
						</div>
					</div>
					<div class="col-md-8">
						<h2>Migrate Multiple Records</h2>
						<div class="form-group">
							<label for="record-number" class="col-sm-4 control-label">total
								number of records</label>
							<div class="col-sm-6">
								<input type="number" class="form-control" name="record-number"
									id="record-number">
							</div>
						</div>
						<div class="form-group">
							<label for="skip-number" class="col-sm-4 control-label">number
								of records to skip</label>
							<div class="col-sm-6">
								<input type="number" class="form-control" name="skip-number"
									id="skip-number">
							</div>
						</div>
					</div>
					<div class="col-md-8">

						<h2>Load File</h2>
						<div class="form-group">
							<div class="col-sm-6">
								<input type="file" class="form-control" name="file" id="file">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Migrate</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>

}
