@import ix.ginas.controllers.GinasMain

@(current: Int, rows: Int, total: Int, pages: Array[Int])

@item(page: Int) = {

<li id = "results-badge"><a href="@GinasMain.page(rows,page)">
    <span aria-hidden="true">@page</span>
</a></li>
}
  <div class="btn-toolbar" role="toolbar" id = "paging-list">
    <div class = "col-md-1">
    <div class="btn-group" role="group" id="results-page">
    <h3 id = "results"><span class="label label-default">@total</span></h3>
      </div>
    </div>
    <div class ="col-md-11" >
    @if(pages.length > 1) {
    <div class="btn-group" role="group" id = "pages-right">
      <ul class="pagination">
    @if(current <= 1) {
       <li class="disabled">
         <a href='@GinasMain.page(rows,current)' aria-label="Previous">
           <span aria-hidden="true">&laquo;</span>
         </a>
       </li>
    } else {
       <li>
            <a href='@GinasMain.page(rows, current-1)' aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
       </li>
    }
    @for(i <- pages) {
        @if(i == 0) {
           <li class="disabled">
             <a href="#" aria-label="ellipsis"><i class="fa fa-ellipsis-h"></i></a>
           </li>
        } else {
           @if(i == current) {
              <li class="active">
                <a href='@GinasMain.page(rows,current)'>@current</a>
              </li>
           } else {
              @item(i)
           }
        }
     }
     @if(current >= pages(pages.length-1)) {                  
         <li class="disabled">
           <a href='@GinasMain.page(rows,current)' aria-label="Next">
             <span aria-hidden="true">&raquo;</span>
           </a>
         </li>
     } else {
         <li>
           <a href='@GinasMain.page(rows,current+1)' aria-label="Next">
             <span aria-hidden="true">&raquo;</span>
           </a>
         </li>
     }
  </ul>
  </div>
    </div>
    }      
  </div>
