@import ix.idg.models.Disease
@import ix.idg.models.Target
@import ix.core.models.Keyword
@import ix.core.models.Text
@import ix.idg.controllers.IDGApp 


@(d: Disease, targets: Array[Target], breadcrumb: List[Keyword])

@getsyn(t: Disease, label: String) = {
    @* We only consider the first DOID, even if there are alternates *@
    @for(kw <- t.synonyms.filter(_.label == label).take(1)) {
        @kw.term.stripMargin
    }
}

@getxrefs(t: Disease) = {

    @for(prop <- t.properties) {
        @{
            prop match {
                case x: Text => ""
                case x: Keyword => x.term
            }
        }
        <br>
    }
}

@tabrow(t: Target) = {
    <tr>
        <td><a href="@ix.idg.controllers.routes.IDGApp.target(IDGApp.getId(t))">@t.name</a></td>
        <td>@t.idgTDL</td>
        <td>@t.idgFamily</td>
    </tr>
}

@ix.ncats.views.html.main(d.name, d.getClass().getName()){
@menu(d.getClass().getName()){
<ul class="nav navbar-nav navbar-left">
  <li role="presentation" class="active"><a href="#">Diseases</a></li>
  <li role="presentation"><a href="@ix.idg.controllers.routes.IDGApp.targets(null,30,1)">Targets</a></li>
  <li role="presentation"><a href="@ix.idg.controllers.routes.IDGApp.ligands(null,8,1)">Ligands</a></li>
</ul>
}
}{
<ol class="breadcrumb">
  <li><a href="@ix.idg.controllers.routes.IDGApp.index()"><span class="fa fa-home"></span> Home</a></li>
  <li><a href="@ix.idg.controllers.routes.IDGApp.diseases()">Diseases</a></li>
  @for(kw <- breadcrumb) {
    <li><a href="@kw.href">@kw.term</a></li>
    }

    <li class="active">@d.name</li>
</ol>
    }{
    <div class="container-fluid">
      <div class="col-md-12">
	<div class="page-header">
	  <h1>@d.name</h1>
	</div>
        <div class="row">
          <div class="panel panel-default">
	    <div class="panel-body">
              <p>@if(d.getDescription() != null) {
		@d.getDescription().replace("_", " ")
		} else {}</p>
	      @for(syn <- d.synonyms) {
	         @if(syn.label.equals("DOID") && syn.href != null) {
			  <p>View more details at <a href="@syn.href">
			      Disease Ontology</a>, <a href="http://www.malacards.org/search/results/@syn.term">MalaCards</a>
		    }
	      }
              </p>
            </div>
	  </div>
	</div>
        <div class="row">
          <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                          <a href="#targets" aria-controls="targets" role="tab" data-toggle="tab">Targets (@targets.length)</a>
                        </li>
                        <li role="presentation" >
                          <a href="#molecules" aria-controls="molecules" role="tab" data-toggle="tab">Molecules</a>
                        </li>
                        <li role="presentation" >
                          <a href="#trials" aria-controls="trials" role="tab" data-toggle="tab">Clinical Trials</a>
                        </li>
                        <li role="presentation" >
                          <a href="#xrefs" aria-controls="xrefs" role="tab" data-toggle="tab">External References (@d.properties.size())</a>
                        </li>
            </ul>
	    
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="targets">
                <table class="table table-striped">
                  <tr>
                    <th>Name</th>
                    <th>Development Level</th>
                    <th>Target Family</th>
                  </tr>
                  @for(t <- targets) {
                            @tabrow(t)
                            }
                            </table>
              </div>
              <div role="tabpanel" class="tab-pane" id="molecules"></div>
              <div role="tabpanel" class="tab-pane" id="trials"></div>
              <div role="tabpanel" class="tab-pane" id="xrefs">@getxrefs(d)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
