@(kind: String)

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@ix.idg.controllers.routes.IDGApp.index()"
         style="padding: 0px 0px">
        <img height="50" alt="Pharos Logo"
             src='@routes.Assets.at("ncats/images/Pharos_Logo_Rd8.svg")'/>
      </a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-expanded="false">Visualization <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#kinome">Kinome Dendrogram</a></li>
            <li><a href="#novelty">Novelty Plot</a></li>
            <li class="dropdown-submenu">
              <a href="#network">Similarity Networks</a>
              <ul class="dropdown-menu">
                <li><a href="#network-celline">Cell line</a></li>
                <li><a href="#network-phenotype">Phenotype</a></li>
                <li><a href="#network-pathway">Pathway</a></li>
              </ul>
            </li>
          </ul>
        </li>
      <form class="navbar-form navbar-right" role="search" method="GET"
            action="@ix.idg.controllers.routes.IDGApp.search(kind)">
        <div class="form-group">
          <input type="text" id="search" name="q"
                 class="typeahead form-control" placeholder="Search..."/>
          @if(kind != null) {
             <input type="hidden" name="kind" value="@kind"/>
             }
        </div>
             <button type="submit" class="btn btn-default">
               <span class="fa fa-search" aria-hidden="true"></span>
             </button>
      </form>
      </ul> 
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
