@(title: String, diseases: Int, targets: Int, ligands: Int)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>@title</title>
<link rel="stylesheet"
	href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
<link rel="stylesheet" type="text/css"
	href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
<link rel="stylesheet" type="text/css"
	href='@routes.Assets.at("ncats/css/idg-landing-hex.css")'>
	 <!--[if lte IE 9]>
     <style>
     .count {
      margin-top:95%;
      margin-right:1%;
      }
      </style>
      <![endif]-->
      <!--[if lte IE 9]>
<style type="text/css">
#ie6msg{border:3px solid #c33; margin:8px 0; background:#fcc; color:#000;}
#ie6msg h4{margin:8px; padding:0;}
#ie6msg p{margin:8px; padding:0;}
#ie6msg p a.getie7{font-weight:bold; color:#006;}
#ie6msg p a.ie6expl{font-weight:bold; color:#006;}
</style>
<div id="ie6msg">
<h4>Did you know that your browser is out of date, and potentially poses a security risk?</h4>
<p>To get the best possible experience using this website it is recommended that you upgrade your browser to a newer version. 
<p>You could also try some other popular browsers like <a class="ie6expl" href="http://mozilla.com">FireFox</a> or
 <a class="ie6expl" href="https://www.google.com/chrome/S">Chrome</a>.</p>
</div>
<![endif]-->
<script	src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'
	type='text/javascript'></script>
<script	src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
<script	src='@routes.WebJarAssets.at(WebJarAssets.locate("typeahead.bundle.min.js"))'></script>
<script	src='@routes.WebJarAssets.at(WebJarAssets.locate("handlebars.min.js"))'></script>
<script	src='@routes.WebJarAssets.at(WebJarAssets.locate("bloodhound.min.js"))'></script>
@ix.ncats.views.html.typeahead(Array("Target","Disease","Gene","Ligand","MesH"))
</head>
<body>
  <div class="container vertical-center" id="main-box">
    <div class="row icons">
      <a href="@ix.idg.controllers.routes.IDGApp.diseases()">
	<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-3 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-2 hex" id="disease">
	  <div>
	    <!--[if gte IE 9]><!-->
	    <img src="@routes.Assets.at("ncats/images/diseases.svg")" alt="Explore diseases" class="off"/>
	    <img src="@routes.Assets.at("ncats/images/diseases-shadow.svg")" alt="Explore diseases" class="on"/>
	    <!--<![endif]-->
	    <!--[if lte IE 8]>
	    <img src="@routes.Assets.at("ncats/images/diseases.png")" alt="Explore diseases" class="img-responsive off"/>
	    <img src="@routes.Assets.at("ncats/images/diseases-shadow.png")" alt="Explore diseases" class="img-responsive on"/>
	    <![endif]-->	    
	  </div>
	  <span class="badge">@diseases</span>
	</div>
      </a>
    </div>
    
    <div class="row icons">
      <a href="@ix.idg.controllers.routes.IDGApp.targets(null, 30, 1)">
	<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-1  col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 hex" id="target">
	  <!--[if gte IE 9]><!-->
	  <img src="@routes.Assets.at("ncats/images/targets.svg")" alt="Explore targets" class = "off"/>
	  <img src="@routes.Assets.at("ncats/images/targets-shadow.svg")" alt="Explore targets" class = "on"/>
	  <!--<![endif]-->
	  <!--[if lte IE 8]>
          <img src="@routes.Assets.at("ncats/images/targets.png")" alt="Explore targets" class = "img-responsive off"/>
	  <img src="@routes.Assets.at("ncats/images/targets-shadow.png")" alt="Explore targets" class = "img-responsive on"/>
	  <![endif]-->	  
	  <span class="badge">@targets</span>
	</div>
      </a>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="logo">
		  <a href="@ix.idg.controllers.routes.IDGApp.about()">
	<img src='@routes.Assets.at("ncats/images/Pharos_Logo_Rd8.svg")' class = "img-responsive" id="pharos" />
			  </a>
	<div class="row" id="search-row">
	  <div class="col-sm-11 col-sm-offset-1">
	    <form class="main-search" role="search" method="GET"
		  action="@ix.idg.controllers.routes.IDGApp.search(null)">
	      <div class="input-group">
		<input type="text" class="form-control typeahead" id="search"
		       title="Search" placeholder="Search..." name="q">
		<span class="input-group-btn">
		  <button class="btn btn-default" id="search" type="search"
			  value="submit">
		    <span class="fa fa-search"></span>
		  </button>
		</span>
	      </div>
	    </form>
	  </div>
	</div>
      </div>
    </div>
    <div class="row icons">
      <a href="@ix.idg.controllers.routes.IDGApp.ligands()">
	<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-3 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-2 hex" id="ligand">
	  <!--[if gte IE 9]><!-->
	  <img src="@routes.Assets.at("ncats/images/ligands.svg")" alt="Explore ligands" class = "off"/>
	  <img src="@routes.Assets.at("ncats/images/ligands-shadow.svg")" alt="Explore ligands" class = "on"/>
	  <!--<![endif]-->
	  <!--[if lte IE 8]>
	  <img src="@routes.Assets.at("ncats/images/ligands.png")" alt="Explore ligands" class = "img-responsive off"/>
	  <img src="@routes.Assets.at("ncats/images/ligands-shadow.png")" alt="Explore ligands" class = "img-responsive on"/>
	  <![endif]-->	  
	  <span class="badge">@ligands</span>
	</div>
      </a>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3" id = "logo-hide">
		  <a href="@ix.idg.controllers.routes.IDGApp.about()">
	<img src='@routes.Assets.at("ncats/images/Pharos_Logo_Rd8.svg")'>
			  </a>
	<div class="row">
	  <div class="col-xs-12">
	    <form class="main-search" role="search" method="GET"
		  action="@ix.idg.controllers.routes.IDGApp.search(null)">
	      <div class="input-group">
		<input type="text" class="typeahead form-control" id="search"
		       title="Search" placeholder="Search..." name="q"/>
		<input  type="hidden" name="kind" value="" />
		<span class="input-group-btn">
		  <button class="btn btn-default" id="search" type="search"
			  value="submit">
		    <span class="fa fa-search"></span>
		  </button>
		</span>
	      </div>
	    </form>
	  </div>
	</div>
      </div>
    </div>
  </div>
 </body>
</html>
