@(kind: String)(nav: Html)

@ix.ncats.views.html.header{
<a class="navbar-brand" href="@ix.idg.controllers.routes.IDGApp.index"
   style="padding: 0px 5px; margin-left: 0px;">
  <img height="50" alt="Pharos Logo"
       src='@routes.Assets.at("ncats/images/Pharos_Logo_Rd8.svg")'/>
</a>
}{
@nav
<ul class="nav navbar-nav navbar-right">
  <form class="navbar-form navbar-right" role="search" method="GET"
        action="@ix.idg.controllers.routes.IDGApp.search(null)">
    <div class="form-group">
      <input type="text" id="search-header-field" name="q"
	     class="typeahead form-control" placeholder="Search..."/>
      <input type="hidden" name="kind" value="@kind">
    </div>
    <button type="submit" class="btn btn-default">
      <span class="fa fa-search" aria-hidden="true"></span>
    </button>
  </form>
</ul>
}

@**
** Specify all fields that you want to support autocomplete;
** Look at /api/v1/suggest/@fields
** for a list of fields that can be specified!
**@
@ix.ncats.views.html.typeahead(Array("Target","Disease","Ligand","Gene","MeSH"))
