<style>

#disease{
	background-image: url("@routes.Assets.at("ncats/images/diseases.svg")");
	background-repeat:no-repeat;
	height:263px;
}
#disease:hover{
	background-image: url("@routes.Assets.at("ncats/images/diseases-shadow.svg")");
		background-repeat:no-repeat;
	
}
#target{
	background-image: url("@routes.Assets.at("ncats/images/targets.svg")");
	background-repeat:no-repeat;
	height:263px;
}
#target:hover{
	background-image: url("@routes.Assets.at("ncats/images/targets-shadow.svg")");
		background-repeat:no-repeat;
	
}
#ligand{
	background-image: url("@routes.Assets.at("ncats/images/ligands.svg")");
	background-repeat:no-repeat;
	height:263px;
}
#ligand:hover{
	background-image: url("@routes.Assets.at("ncats/images/ligands-shadow.svg")");
		background-repeat:no-repeat;
	
}
</style>
