@import ix.idg.models.Target
@import ix.idg.controllers.IDGApp
@import ix.idg.controllers.Commons._
@import ix.ncats.controllers.App.FacetDecorator

@(current: Int, rows: Int, total: Int, pages: Array[Int], facets: Array[FacetDecorator], targets: List[Target])

@tabrow(t: Target) = {
    <tr id="row-@IDGApp.getId(t)">
        <td><a onclick="showLoadModal()"
	   href="@ix.idg.controllers.routes.IDGApp.target(IDGApp.getId(t))">@t.name</a></td>
        <td><span class="label label-@t.idgTDL.label" data-toggle="tooltip"
        data-html="true" title="<p align='left'>@t.idgTDL.desc</p>">@t.idgTDL.name</span></td>
        <td>@IDGApp.format(t.novelty)</td>
        <td>@t.idgFamily</td>
    </tr>
}

@ix.ncats.views.html.content("Targets", "ix.idg.models.Target",
    ix.idg.controllers.routes.IDGApp.targets().url,
    current, rows, total, pages, facets) {
    @menu("ix.idg.models.Target") {
        <ul class="nav navbar-nav navbar-left">
            <li role="presentation"><a href="@ix.idg.controllers.routes.IDGApp.diseases(null, 10, 1)">Diseases</a></li>
            <li role="presentation" class="active"><a href="#">Targets</a></li>
            <li role="presentation"><a href="@ix.idg.controllers.routes.IDGApp.ligands(null, 8, 1)">Ligands</a></li>
        </ul>
    }
} {
    <ol class="breadcrumb">
        <li><a href="@ix.idg.controllers.routes.IDGApp.index()"><span class="fa fa-home"></span> Home</a></li>
        @defining(request().queryString.get("facet")) { facets =>
            @if(facets != null) {
                <li><a href="@ix.idg.controllers.routes.IDGApp.targets()">Targets</a></li>
                @for(f <- facets) {
                    @if(f.startsWith(DTO_PROTEIN_CLASS)) {
                        @for(a <- IDGApp.getProteinAncestry(f)) {
                            <li><a href="@a.href">@a.term</a></li>
                        }
                        <li class="active">@f.substring(f.indexOf('/') + 1)</li>
		    }
		    @if(f.startsWith(PANTHER_PROTEIN_CLASS)) {
                        @for(a <- IDGApp.getAncestry(f, PANTHER_PROTEIN_ANCESTRY)) {
                            <li><a href="@a.href">@a.term</a></li>
                        }
                        <li class="active">@f.substring(f.indexOf('/') + 1)</li>
		    }
		    @if(f.startsWith(ChEMBL_PROTEIN_CLASS)) {
                        @for(a <- IDGApp.getAncestry(f, ChEMBL_PROTEIN_ANCESTRY)) {
                            <li><a href="@a.href">@a.term</a></li>
                        }
                        <li class="active">@f.substring(f.indexOf('/') + 1)</li>
		    }
                }
            } else {
                <li class="active">Targets</li>
            }
        }
    </ol>
} {
    <table id="target-table" class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Development Level</th>
            <th>Novelty</th>
            <th>Target Family</th>
        </tr>
        @for(t <- targets) {
            @tabrow(t)
        }
    </table>
} {
    <div id="tinx-map"></div>
    <p></p>
    <div id="word-cloud"></div>
}

<div class="modal fade" tabindex="-1" role="dialog" id="loadmodal"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <center><img src='@routes.Assets.at("ncats/images/spinners/294.GIF")'></center>
    </div>
  </div>
</div>


<head>
    <style type="text/css">
    .axis path,
    .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

    .axis text {
        font-family: sans-serif;
        font-size: 11px;
    }

    .point:hover {
        opacity: 0.5;
      }

    .tick text {
        visibility:inherit;
    }

    </style>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/d3.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/d3.layout.cloud.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/tinx.js")'></script>
</head>

<script>
$(function() {
   $('[data-toggle="popover"]').popover();
   $('[data-toggle="tooltip"]').tooltip ();
});

var tinx = function() {
    var accsInPage = [];
    @for(t <- targets) {
        accsInPage.push("@IDGApp.getId(t)");
    }

    tinx_plot("#tinx-map", accsInPage, highlightTargetTable, unhighlightTargetTable);

    $("#target-table tr" ).mouseover(function() {
        var id = $(this ).attr("id");
        if (id == undefined) return;
        var acc = id.split("-")[1];
        var pt = $("#point-"+acc);
        $(pt).attr("oldfill", $(pt ).css("fill"));
        $(pt).css("fill", "green");
    });
    $ ( "#target-table tr" ).mouseout ( function ( ) {
        var id = $ ( this ).attr ( "id" ) ;
        if ( id == undefined ) return ;
        var acc = id.split ( "-" )[ 1 ] ;
        var pt = $ ( "#point-" + acc ) ;
        $ ( pt ).css ( "fill", $ ( pt ).attr ( "oldfill" ) ) ;
    });
}

function wordcloud () {
  var fill = d3.scale.category20();
  var keywords = [
    {text: 'Complete proteome',
     size: 338},
    {text: 'Reference proteome',
     size: 338},
    {text: 'Polymorphism',
     size: 292},
    {text: 'ATP-binding',
     size: 268},
    {text: 'Nucleotide-binding',
     size: 268},
    {text: 'Kinase',
     size: 267},
    {text: 'Transferase',
     size: 267},
    {text: 'Phosphoprotein',
     size: 257},
    {text: 'Serine/threonine-protein kinase',
     size: 232},
    {text: 'Alternative splicing',
     size: 225},
    {text: '3D-structure',
     size: 182},
    {text: 'Cytoplasm',
     size: 176},
    {text: 'Membrane',
     size: 164},
    {text: 'Nucleus',
     size: 125},
    {text: 'Cell membrane',
     size: 119},
    {text: 'Metal-binding',
     size: 94},
    {text: 'Transmembrane',
     size: 92},
    {text: 'Transmembrane helix',
     size: 92},
    {text: 'Magnesium',
     size: 80},
    {text: 'Receptor',
     size: 78}
  ];
  d3.layout.cloud().size([300, 500])
  /*
      .words([
        "Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this"].map(function(d) {
        return {text: d, size: 10 + Math.random() * 20};
      }))
      */
      .words(keywords.map(function(d) {
        return {text: d.text, size: d.size/10};
      }))
      .padding(5)
      .rotate(function() { return ~~(Math.random() * 2) * 60; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select("#word-cloud").append("svg")
        .attr("width", 300)
        .attr("height", 500)
      .append("g")
        .attr("transform", "translate(100,100)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
}

$(document).ready(function () {
   jQuery('#content-tab a[href="#viz"]').click(function (e) {
      e.preventDefault()
      jQuery(this).tab('show');
      // Added this line to force NVD3 to redraw the chart
      //jQuery(window).trigger('resize');
      d3.select('svg').remove();
      tinx();
      //wordcloud();
      //window.dispatchEvent(new Event('resize'));
      console.log('tab shown: '+e.target);
   });
});

function showLoadModal () {
  $('#loadmodal').modal({
      keyboard: false,
      show: true,
      backdrop: 'static'
    });
}

$(window).unload(function () {
    $('#loadmodal').modal('hide');    
});
</script>
