@import ix.idg.models.Target
@import ix.idg.controllers.IDGApp
@import ix.idg.controllers.TcrdRegistry
@import ix.idg.controllers.ChemblRegistry
@import ix.ncats.controllers.App.FacetDecorator

@(current: Int, rows: Int, total: Int, pages: Array[Int],
     facets: Array[FacetDecorator], targets: List[Target])

@tabrow(t: Target) = {

<tr>
  <td><a href="@ix.idg.controllers.routes.IDGApp.target(IDGApp.getId(t))">@t.name</a></td>
  <td><span class="label label-@t.idgTDL.label" data-toggle="tooltip"
	    data-html="true" title="<p align='left'>@t.idgTDL.desc</p>">@t.idgTDL.name</span></td>
  <td>@IDGApp.novelty(t.getProperty(TcrdRegistry.TINX_NOVELTY))</td>
  <td>@t.idgFamily</td>
</tr>
}

@ix.ncats.views.html.content("Targets", "ix.idg.models.Target",
ix.idg.controllers.routes.IDGApp.targets().url,
current, rows, total, pages, facets){
@menu("ix.idg.models.Target"){
<ul class="nav navbar-nav navbar-left">
  <li role="presentation"><a href="@ix.idg.controllers.routes.IDGApp.diseases(null,10,1)">Diseases</a></li>
  <li role="presentation" class="active"><a href="#">Targets</a></li>
  <li role="presentation"><a href="@ix.idg.controllers.routes.IDGApp.ligands(null,8,1)">Ligands</a></li>
</ul>
}
}{
<ol class="breadcrumb">
  <li><a href="@ix.idg.controllers.routes.IDGApp.index()"><span class="fa fa-home"></span> Home</a></li>
  @defining(request().queryString.get("facet")) { facets =>
     @if(facets != null) {
      <li><a href="@ix.idg.controllers.routes.IDGApp.targets()">Targets</a></li>
       @for(f <- facets) {
          @if(f.startsWith(ChemblRegistry.ChEMBL_PROTEIN_CLASS)) {
	     @for(a <- IDGApp.getProteinAncestry(f)) {
	        <li><a href="@a.href">@a.term</a></li>
             }
	     <li class="active">@f.substring(f.indexOf('/')+1)</li>
	  }
       }
     } else {
       <li class="active">Targets</li>
     }
  }
</ol>
}{
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Development Level</th>
    <th>Novelty</th>
    <th>Target Family</th>
  </tr>
  @for(t <- targets) {
     @tabrow(t)
   }
</table>
}

<script>
$(function () {
  $('[data-toggle="popover"]').popover();
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
