@import ix.idg.controllers.TargetFactory
@import ix.idg.models.Target
@import ix.core.search.TextIndexer.Facet

@(current: Int, rows: Int, pages: Array[Int],
     facets: Array[Facet], targets: Array[Target])

@pageitem(page: Int) = {
<li><a href="?rows=@rows&page=@page">
    <span aria-hidden="true">@page</span>
</a></li>
}

@tabrow(t: Target) = {
<tr>
  <td><a href="@ix.idg.controllers.routes.IDGApp.target(t.id)">@t.name</a></td>
  <td>@t.idgClass</td>
  <td>@t.idgFamily</td>
  <td></td>
</tr>
}

@facet(f: Facet) = {
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">@f.getName()</h3>
  </div>
  <div class="panel-body">
  </div>
</div>
}

@main("Targets") {
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- facets -->
      @for(f <- facets) {
	@facet(f)
      }	
    </div>
    <div class="col-md-9">
      <nav>  
	<ul class="pagination">
	  @if(current <= 1) {
			 <li class="disabled">
			   <a href="?rows=@rows&page=@current" aria-label="Previous">
			     <span aria-hidden="true">&laquo;</span>
			   </a>
			 </li>
			 } else {
	  <li>
	    <a href="?rows=@rows&page=@{current-1}" aria-label="Previous">
	      <span aria-hidden="true">&laquo;</span>
	    </a>
	  </li>
	  }
	  @for(i <- pages) {
		    @if(i == 0) {
		    <li class="disabled">
		      <a href="#"><span><i class="fa fa-ellipsis-h"></i></span></a>
		    </li>
		    } else {
		    @if(i == current) {
          <li class="active"><a href="">@current</a></li>	      
	  } else {
	  @pageitem(i)
	  }
          }
	  }
	  @if(current >= pages(pages.length-1)) {		   
	    <li class="disabled">
	      <a href="?rows=@rows&page=@current" aria-label="Next">
		<span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	    } else {
	    <li>
	      <a href="?rows=@rows&page=@{current+1}" aria-label="Next">
		<span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	    }
	</ul>
      </nav>
      
      <div class="panel panel-default">
	<table class="table table-striped">
	  <tr>
	    <th>Name</th>
	    <th>IDG Class</th>
	    <th>Target Family</th>
	    <th>Disease</th>
	  </tr>
	  @for(t <- targets) {
             @tabrow(t)
          }
	</table>
      </div>
    </div>
  </div>
</div>
}
