<script>
$(document).ready(function () {
    var target = new Bloodhound({
        datumTokenizer: function(d) {
            return Bloodhound.tokenizers.whitespace(d.key);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          wildcard: 'QUERY',
          url: '@ix.core.controllers.routes.SearchFactory.suggestField("Target", "QUERY",10)'
        }
/*
remote: '/api/suggest/Target?q=%QUERY',
*/
    });
    var disease = new Bloodhound({
        datumTokenizer: function(d) {
            return Bloodhound.tokenizers.whitespace(d.key);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          wildcard: 'QUERY',
          url: '@ix.core.controllers.routes.SearchFactory.suggestField("Disease", "QUERY",10)'
        }
    });
    var gene = new Bloodhound({
        datumTokenizer: function(d) {
            return Bloodhound.tokenizers.whitespace(d.key);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          wildcard: 'QUERY',
          url: '@ix.core.controllers.routes.SearchFactory.suggestField("Gene", "QUERY",10)'
        }
});
    var drug = new Bloodhound({
        datumTokenizer: function(d) {
            return Bloodhound.tokenizers.whitespace(d.key);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          wildcard: 'QUERY',
          url: '@ix.core.controllers.routes.SearchFactory.suggestField("IDG_Drug", "QUERY",10)'
        }
    });

    var mesh = new Bloodhound({
        datumTokenizer: function(d) {
            return d.key.split(/\//);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: '@ix.core.controllers.routes.SearchFactory.suggestField("MeSH", "QUERY",10)'
    });
    
    target.initialize();
    disease.initialize();
    gene.initialize();
    mesh.initialize();
    drug.initialize();

    $('.typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 2
    }, {
        name: 'Target',
        displayKey: 'key',
        source: target.ttAdapter(),
        templates: {
        suggestion: Handlebars.compile('<p><img width="20" src="@routes.Assets.at("ncats/images/Target-badge-square.png")"/> {{key}}</p>')
        }       
    }, {
        name: 'Disease',
        displayKey: 'key',
        source: disease.ttAdapter(),
        templates: {
        suggestion: Handlebars.compile('<p><img width="20" src="@routes.Assets.at("ncats/images/Disease-badge-square.png")"/> {{key}}</p>')
        }
    }, {
        name: 'Gene',
        displayKey: 'key',
        source: gene.ttAdapter(),
        templates: {
            header: '<h4>Gene</h4>'
    }}, {
        name: 'Drug',
        displayKey: 'key',
        source: drug.ttAdapter(),
        templates: {
            header: '<h4>Drug</h4>'
        }
    }, {
        name: 'MeSH',
        displayKey: 'key',
        source: mesh.ttAdapter(),
        templates: {
/*suggestion: Handlebars.compile('<p><strong>{{key}}</strong></p>')*/
          header: '<p4>MeSH</p4>'
        }
    });

    $('.typeahead').on("typeahead:selected", function (evt, val, d) {
        console.log('typeahead selected: '+val+' type: '+d);

        for (var f in val) {
            console.log(f+' '+val[f]);
        }
        if (d == 'MeSH') {
            /* this is mesh term, so don't quote */
        }
        else {
            $('.typeahead').typeahead('val', '"'+val.key+'"');
        }
    });
    
    $('.typeahead').on("typeahead:closed", function (evt) {
        console.log('typeahead closed!');
    });
});
</script>
