<div ng-class="{'has-error' : formname[field].$invalid}">
    <label id="{{::field}}-label" class="text-capitalize">{{label || field}}<span ng-if="required==true" class = "danger"> *</span>
    </label>
    <br>
    <a ng-hide="obj.$editing || obj.display =='Other'" class="ng-hide" aria-hidden="true" ng-click="editing(obj);">{{obj.display}}</a>
    <span class= "float-right" ng-if="obj.changed==true">
        <a ng-click="undo()"><i class="fa fa-undo danger" aria-hidden="true" uib-tooltip="Undo"></i></a>
    </span>
    <select ng-show="obj.$editing || !obj.display  || !obj.display =='Other'"
            class="form-control"
            ng-model= obj
            ng-change="change();"
            ng-blur = "toggleEdit();"
            ng-options="r.display for r in values track by r.display"
            placeholder ="{{::field}}"
            title="{{::field}}"
            name="{{::field}}"
            id ="{{::field}}"
            aria-labelledby="{{::field}}-label"
            ng-required="required">
        <option class= "text-capitalize" value="" selected>{{label || field}}...</option>
    </select>
    <input type="text" class="form-control" name ="{{::field}}" ng-model=obj.new placeholder = "Add new value..." ng-blur ="makeNewCV();"
           aria-labelledby="{{::field}}-label" ng-if="obj.display=='Other'"/>
</div>