<div>
    <label id="{{::field}}-label" class="text-capitalize">{{label || field}}<span ng-if="required==true" class = "danger"> *</span></label><br>
    <a ng-hide="obj[field]._editing || obj[field].display =='Other'" class="ng-hide" aria-hidden="true" ng-click="editing(obj[field]);">{{obj[field].display}}</a>
        <select ng-show="obj[field]._editing || !obj[field].display  || !obj[field].display =='Other'" class="form-control" ng-model=obj[field] ng-change="obj[field]._editing=false;"
                ng-options="r.display for r in values track by r.display" placeholder ="{{::field}}" title="{{::field}}" name="{{::field}}" id ="{{::field}}" aria-labelledby="{{::field}}-label">
                <option class= "text-capitalize" value='' disabled selected>{{label || field}}...</option>
        </select>
    <input type="text" class="form-control" name ="{{::field}}" ng-model=obj[field].new placeholder = "Add new value..." ng-blur ="makeNewCV();" aria-labelledby="{{::field}}-label" ng-if="obj[field].display=='Other'"/>
</div>