<div>
    <label for="{{::field}}" class="text-capitalize">{{label || field}}</label><br>
            <span ng-repeat="tag in obj[field] track by $index">
            <a href="#" ng-hide="obj[field]._editing" ng-click="editing(obj[field]);"
               class="badge" uib-tooltip ="{{tag.display}}">
                {{tag.display}}</a>
        </span>
    <tags-input ng-show="obj[field]._editing || !obj[field] || obj[field].length == 0" custom-class="form-control" title="{{::field}}" placeholder="{{label || field}}"
                name="{{::field}}" id="{{::field}}"
                ng-model=obj[field] ng-blur="editing(obj[field]);" display-property="display" key-property="value" max-tags={{::max}}>
                <!--addFromAutocompleteOnly="true"-->

        <auto-complete source="loadItems($query)" min-length="1" debounce-delay="0"
                       load-on-empty="true" load-on-focus="true"
                       load-on-down-arrow="true"></auto-complete>
    </tags-input>
</div>