<div>
    <label id="{{::field}}" class="text-capitalize">{{label || field}}<span ng-if="required==true"
                                                                            class="danger"> *</span></label><br>
            <span ng-show="!edit && obj.length!=0" ng-click="edit = true;">
                            <span ng-repeat="tag in obj"  class="badge" uib-tooltip="{{tag.display}}">{{tag.display}} </span></span>
    <a ng-show="!edit && obj.length!=0" ng-click = "empty();"><i class="fa fa-trash danger" uib-tooltip="Clear List"></i></a>
    <tags-input
            ng-show="edit || !obj || obj.length == 0"
            custom-class="form-control"
            title="{{::field}}"
            placeholder="{{label || field}}"
            name="{{::field}}"
            id="{{::field}}"
            ng-model= obj
            ng-blur="edit = false"
            ng-change="changeFunction();"
            on-tag-removing="removetag($tag);"
            display-property="display"
            key-property="value"
            max-tags={{::max}}>
        <!--addFromAutocompleteOnly="true"-->
        <auto-complete source="loadItems($query)"
                       min-length="1"
                       max-results-to-show="1111"
                       debounce-delay="0"
                       load-on-empty="true"
                       load-on-focus="true"
                       load-on-down-arrow="true">
        </auto-complete>
    </tags-input>
</div>