<div>
    <div class="row form-row">
        <div class="col-md-6">
            <strong>
                Subunit {{index}}
            </strong>
            <div ng-if="view !== 'subunits'">
                <delete-button delete="obj" parent=parent path="{{parent.substanceClass}}.subunits" showlabel="false"
                               class="subunitButtons"></delete-button>
                <a ng-click="cleanSequence()" uib-tooltip="Clean sequence" class="subunitButtons"><i
                        class="fa fa-magic fa-2x success"></i></a>
                <a ng-click="toggleEdit()" uib-tooltip="Edit sequence" class="subunitButtons"><i
                        class="fa fa-pencil fa-2x"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3" ng-repeat="(index, chunk) in obj.subunitDisplay">
            <span class="pull-right count" ng-hide=numbers>{{($index+1)*10}}</span><br>
            <span ng-repeat="(index, aa) in chunk track by $index">
                <amino-acid acid=aa index = {{index}}></amino-acid>
            </span>
        </div>
        </div>
    <br>
    <div class="row">
        <div class="col-md-12" ng-show="!obj.subunitDisplay || edit">
            <gsrs-input type="text-box"
                        ng-model="obj.sequence"
                        validator="parseSubunit()"
                        field="sequence"
                        required=true
                        rows="7">
            </gsrs-input>
        </div>
    </div>
</div>