<div>
    <div class="row form-row">
        <div class="col-md-6">
            <strong>
                Subunit {{index}}
            </strong>
            <div ng-if="view !== 'subunits' && numbers">
                <delete-button delete="obj" parent=parent path="{{parent.substanceClass}}.subunits" showlabel="false"
                               class="subunitButtons"></delete-button>
                <a ng-click="cleanSequence()" uib-tooltip="Clean sequence" class="subunitButtons"><i
                        class="fa fa-magic fa-2x success"></i></a>
                <a ng-click="toggleEdit()" uib-tooltip="Edit sequence" class="subunitButtons" ng-if="!edit"><i
                        class="fa fa-pencil fa-2x"></i></a>

            </div>
        </div>
    </div>
    <div ng-hide="edit" class="row">
        <div class="col-md-12" ng-show=!numbers>
            <span class="pull-left">
                <pre>&gt;Subunit {{index}}
                    {{fastaview}}
                </pre>
       </span></div>
        <div class="col-lg-2 col-md-3 col-sm-3 subunit-chunk" ng-repeat="(index, chunk) in obj.$$subunitDisplay" ng-show=numbers>
            <span class="pull-right count">{{($index)*10 + chunk.length}} </span><br>
            <span ng-repeat="(index, aa) in chunk track by $index">
            	<span ng-switch on="isSelected(aa)">
            			<amino-acid ng-switch-when="true" class="selected-acid" acid=aa index = {{index}}></amino-acid>
            			<amino-acid ng-switch-default acid=aa index = {{index}}></amino-acid>
            	</span>

            </span>
        </div>
        </div>
    <br>
    <div class="row" ng-if="view !== 'subunits'">
        <div class="col-md-12" ng-show="!obj.$$subunitDisplay || edit">
        <textarea
                ng-show="edit"
                type="text"
                class="form-control sequence-edit"
                ng-model ="obj.$sequence"
                ng-required="required"
                placeholder="sequence"
                title="sequence"
                name="sequence"
                rows=10
        ></textarea>
            <button class="btn btn-primary align-right" ng-click="toggleEdit()">Ok</button>
        </div>
    </div>
</div>