    <div class="custom-popup-wrapper type-ahead-wrapper"
         ng-style="{top: position().top+'px', left: position().left+'px'}"
         style="display: block;"
         ng-show="isOpen() && !moveInProgress"
         aria-hidden="{{!isOpen()}}">
         
        <div ng-repeat="typet in $parent.types track by $index">
	        <h4><span class ="label label-warning">{{$parent.$parent.nameFor(typet)}}</span></h4>
	        <ul class="dropdown-menu"  role="listbox">
	            <li class="uib-typeahead-match" ng-if="match.model.k==typet" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
	                ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
	                <div uib-typeahead-match match="match" query="query"><hr></div>
	            </li>
	        </ul>
        </div>
    </div>
