<div>
    <label for="{{field}}" class="text-capitalize">{{field}}</label>
        <textarea class="form-control" rows="7" ng-blur = "stage = !stage" ng-model ="obj" name = "{{field}}" title="{{field}}" id="{{field}}" placeholder = "{{field}}"></textarea>

<!--        <ng-messages for="form[name].$error" ng-if="form[name].$touched">
                    <ng-message when="duplicate" class="help-block">Name already exists in Ginas</ng-message>
                    <ng-message when="required" class="help-block">Substance name is required</ng-message>
                </ng-messages>-->
</div>



