<div>
    <div>
        <label for="{{field}}" class="text-capitalize">{{label || field}}</label>
        <input type="text" class="form-control" ng-model=obj  title="{{field}}" id="{{field}}" placeholder = "{{label || field}}"
               name="{{field}}" required>
              <span class="error" ng-show="{{form}}$error.required">
       Required!</span>
        <ng-messages for="form.$error" ng-if="form.$touched">
                    <ng-message when="duplicate" class="help-block">Name already exists in Ginas</ng-message>
                    <ng-message when="required" class="help-block">Substance name is required</ng-message>
                </ng-messages>
    </div>
</div>



