<div>
    <label id="{{::field}}-label" class="text-capitalize">{{label || field}}</label><br>
    <a ng-click="edit= !edit" ng-show="!edit">{{obj[field]}}</a>
        <input ng-show="!obj[field] || edit" type="text" class="form-control" ng-model=obj[field] ng-init ="validatorFunction()" ng-change="validatorFunction()" ng-blur="edit = !edit" ng-model-options="{ debounce: 500 }"
               placeholder ="{{label || field}}" title="{{::field}}" id="{{::name}}-{{::field}}" name="{{::field}}" aria-labelledby="{{::field}}-label"/>
    <!--<ng-messages for="form[field].$error">-->
        <div ng-repeat="errorMessage in errorMessages">
            <!-- use ng-message-exp for a message whose key is given by an expression -->
<!--
            <div ng-message-exp="errorMessage.class" class="errorMessage.class">{{ errorMessage.text }}</div>
-->
            <div ng-class="errorMessage.class">{{ errorMessage.text }}</div>
        </div>
    <!--</ng-messages>-->
</div>



