<div ng-class="{'has-error' : formname[field].$invalid && formname.$flagged}">
<label id="{{::field}}-label" class="text-capitalize">{{label || field}}<span ng-if="required==true" class = "danger"> *</span></label><br>
    <a ng-click="edit= !edit" ng-show="!edit">{{obj}}</a>
        <input ng-show="edit || !obj"
               type="text"
               class="form-control"
               ng-model=obj
               ng-init ="validatorFunction()"
               ng-change="validatorFunction()"
               ng-blur="edit = !edit"
               ng-required="required"
               placeholder ="{{label || field}}"
               title="{{::field}}"
               id="{{::name}}-{{::field}}"
               name="{{::field}}"
               aria-labelledby="{{::field}}-label"/>
    {{formname[field]}}<br>
    {{formname}}

    <div ng-messages="formname[field].$error" role="alert">
        <div ng-message="required" class ="danger">required field</div>
        <div ng-repeat="errorMessage in errorMessages">
            <!-- use ng-message-exp for a message whose key is given by an expression -->
            <div ng-message-exp="errorMessage.type">{{ errorMessage.text }}</div>
        </div>
    </div>
    </form>
</div>



