@import ix.ncats.models.hcs.Reagent
@import ix.ncats.controllers.hcs.ReagentSelectionApp
@import ix.ncats.controllers.App.FacetDecorator

@(current: Int, rows: Int, total: Int, pages: Array[Int], facets: Array[FacetDecorator], reagents: List[Reagent])

@tabrow(r: Reagent) = {
<tr
   @r.color match {
     case "Blue" => {
       class="info"
     }
     case "Red" => {
       class="danger"
     }
     case "Green" => {
       class="success"
     }
     case "Orange" => {
       class="warning"
     }
     case _ => {
       class="active"
     }
   }
>
      <td>@r.celltype</td>
      <td>@r.apptype</td>
      <td>@r.color</td>
      <td>@r.application</td>
      <td>@r.name</td>
      <td>@r.excitation</td>
      <td>@r.emission</td>
      <td>@r.barcode</td>
    </tr>
}


@ix.ncats.views.html.content("Reagents", "ix.ncats.models.hcs.Reagent",
    ix.ncats.controllers.hcs.routes.ReagentSelectionApp.reagents().url,
current, rows, total, pages, facets){
@menu(HtmlFormat.empty)
}{@HtmlFormat.empty}{
    <table id="reagent-table" class="table table-striped table-hover">
      <tr>
	<th>Cell Type</th>
        <th>Application Type</th>
        <th>Color</th>
        <th>Application</th>
	<th>Name</th>	    
        <th>Excitation</th>
	<th>Emission</th>
	<th>Barcode</th>
      </tr>
      @for(r <- reagents) {
        @tabrow(r)
      }
    </table>
}{@HtmlFormat.empty}
