@import play.api.mvc.Call

@(method: String, action: Call)
<script src='@routes.Assets.at("marvin/js/marvinjslauncher.js")'></script>
<script>
/*
** global variables
*/
var sketcher; // sketcher

function setQuery (value) {
  console.log(value);
  $.ajax({
    type: "POST",
    url: '@ix.ncats.controllers.marvin.routes.Marvin.smiles',
    contentType: 'text/plain',
    data: value,
    success: function (data) {
       console.log(' => '+data);
       $('#structure').val(data);
    },
    error: function (xhr, status) {
       console.error("Can't convert to smiles");
    },
    dataType: 'text'
   });
}

function setMarvin (sk) {
   //console.log(sk);
   sketcher = sk;
}

function setStructure (struc) {
   console.log('current structure: '+struc);
}
</script>

<div class="modal fade" id="strucModal" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
		data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Structure Searching</h4>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" id="sketcher"
                  src="@ix.ncats.controllers.marvin.routes.Marvin.sketcher">
          </iframe>      
	</div>
      </div>
      <div class="modal-footer">
	<form class="form-inline" onchange="searchSelect()"
	      method="@method" action="@action">
	  <div class="form-group">
	      <select class="form-control" id="search-selection" name="type">
		<option>Substructure</option>
		<option>Similarity</option>
	      </select>
	      <input type="text" class="form-control" name="cutoff"
	      	     style="width: 50px"
		     id="tanimoto-cutoff" onkeyup="checkTanimoto(this)"
		     data-toggle="tooltip"
		     title="Tanimoto threshold"
		     disabled="true" value="0.8">
              <input type="text" class="form-control"
	             data-toggle="tooltip"
		     title="Query structure"
	      	     style="width: 300px" name="q" id="structure">
	    </div>
	  <button type="submit" onclick="submitForm()" 
		  class="btn btn-primary" id="search-btn">Search</button>
	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="spinModal"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <center><img src='@routes.Assets.at("ncats/images/spinners/294.GIF")'></center>
    </div>
  </div>
</div>

<script>
  function submitForm () {
   // console.log(el);
    $('#strucModal').modal('hide');  
    $('#spinModal').modal({
      keyboard: false,
      show: true,
      backdrop: 'static'
    });
    $("#search-btn").submit();
  }
  
  function searchSelect () {
     var selection = document.getElementById("search-selection");
     var text = document.getElementById("tanimoto-cutoff");
     var search = document.getElementById("search-btn");
     text.disabled = selection.value != 'Similarity';
     if (!text.disabled) {
        checkTanimoto (text);
     } else {
        search.disabled = false;
     }
  
     console.log(selection.value);
  }
  function checkTanimoto (el) {
      //console.log("tanimoto='"+el.value+"'");
      var search = document.getElementById("search-btn");
      try {
        var x = el.value.trim();
        search.disabled = x.length == 0 || isNaN(x) || x <= 0 || x > 1.;
      } catch (e) {
        search.disabled = true;
      }
  }
</script>
