<div class="row info">
    <button class="btn btn-primary label-offset det">
        Edit Terms
    </button>
    <span><i class="fa fa-question-circle fa-lg"></i></span>
    <div class="col-md-12">
        <ng-form name="termForm" id = "addCVTermForm" novalidate>
            <div class="row form-row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <text-input ng-model="term.value" field="value" name ="value"></text-input>
                </div>
                <div class="col-md-2">
                    <text-input ng-model="term.display" field="display" name ="display"></text-input>
                </div>
                <div class="col-md-2">
                    <text-input ng-model="term.description" field="description" name ="description"></text-input>
                </div>
                <div class="col-md-2">
                    <text-input ng-model="term.origin" field="origin" name ="origin"></text-input>
                </div>
                <div class="col-md-1">
                    <check-box ng-model="term.hidden" field="hidden"></check-box>
                </div>
                <div class="col-md-1">
                    <check-box ng-model="term.selected" field="selected"></check-box>
                </div>
                <div class  = "col-md-1">
                    <label>Filters</label><br>
                    <i class = "fa fa-filter fa-2x success" ng-click = "" uib-tooltip="Add filters"></i>
                </div>
                </div>
            <div class ="row">
                <div class  = "col-md-1 pull-right">
                    <label>Save</label><br>
                    <i class = "fa fa-floppy-o fa-2x success" ng-click = "addCV(term);" uib-tooltip="Update Term to database"></i>
                </div>
            </div>
        </ng-form>

        <div ng-repeat="(index, obj) in domain.terms track by $index">
            <div class="row">
                <hr>
                <div class="col-md-1">
                    <i class = "fa fa-times fa-2x danger" ng-click = "deleteCV(obj);" uib-tooltip="Delete Term"></i>
                </div>
                <div class="col-md-2">
                    <text-view-edit obj="obj" field="value"></text-view-edit>
                </div>
                <div class="col-md-2">
                    <text-view-edit obj="obj" field="display"></text-view-edit>
                </div>
                <div class="col-md-2">
                    <text-view-edit obj="obj" field="description"></text-view-edit>
                </div>
                <div class="col-md-2">
                    <text-view-edit obj="obj" field="origin"></text-view-edit>
                </div>
                <div class="col-md-1">
                    <check-box-view-edit obj = "obj" field="hidden" label="Hidden"></check-box-view-edit>
                </div>
                <div class="col-md-1">
                    <check-box-view-edit obj = "obj" field="selected" label="Selected"></check-box-view-edit>
                </div>
                <div class  = "col-md-1">
                    <label>Filters</label><br>
                    <i class = "fa fa-filter fa-2x success" ng-click = "" uib-tooltip="Add filters"></i>
                </div>
                </div>
            <div class ="row">
                <div class  = "col-md-1 pull-right">
                    <label>Save</label><br>
                    <i class = "fa fa-floppy-o fa-2x success" ng-click = "updateCV();" uib-tooltip="Update Term to database"></i>
                </div>
            </div>
            <div class = "row" ng-if="domain.vocabularyTermType=='ix.ginas.models.v1.FragmentControlledVocabulary'">
                <div class ="col-md-4">
                    <text-view-edit obj="obj" field="simplifiedStructure"></text-view-edit>
                </div>
                <div class ="col-md-4">
                    <text-view-edit obj="obj" field="fragmentStructure"></text-view-edit>
                </div>
            </div>
        </div>
    </div>
</div>