<div class="row info">
    <button class="btn btn-primary label-offset det">
        Edit CV
    </button>
    <span><i class="fa fa-question-circle fa-lg"></i></span>
    <div class="col-md-12">
        <ng-form name="termForm" id="addDomainForm" novalidate>
            <div class="row form-row">
                <div class="col-md-3">
                    <text-input ng-model="domain.domain" field="domain" name="domain"></text-input>
                </div>
                <div class="col-md-3">
                    <text-input ng-model="domain.vocabularyTermType" field="vocabularyTermType"
                                name="vocabularyTermType" label="Vocabulary Term Type"></text-input>
                </div>
                <div class="col-md-3">
                    <multi-select ng-model="domain.fields" field="fields" label="Form Fields"
                                  CV="CV_DOMAIN"></multi-select>
                </div>
                <div class="col-md-1">
                    <check-box ng-model="domain.editable" field="editable"></check-box>
                </div>
                <div class="col-md-1">
                    <label>Add Terms</label><br>
                    <i class="fa  fa-plus fa-2x success" ng-click="showTerms(domain, 'termForm');"
                       uib-tooltip="Add Terms"></i>

                </div>
                <div class="col-md-1 pull-right">
                    <label>Save</label><br>
                    <i class="fa fa-floppy-o fa-2x success" ng-click="addDomain(domain);"
                       uib-tooltip="Add cv to database"></i>
                </div>
            </div>
            <div class="termForm"></div>
        </ng-form>
        <div ng-repeat="obj in domains">
            <div class="row">
                <hr>
                <div class="col-md-3">
                    <text-view-edit obj="obj" field="domain"></text-view-edit>
                </div>
                <div class="col-md-3">
                    <text-view-edit obj="obj" field="vocabularyTermType" label="Vocabulary Term Type"></text-view-edit>
                </div>
                <div class="col-md-3">
                    <multi-view-edit obj="obj" field="fields" label="Form Fields" CV="CV_DOMAIN"></multi-view-edit>
                </div>
                <div class="col-md-1">
                    <check-box-view-edit obj="obj" field="editable"></check-box-view-edit>
                </div>
                <div class="col-md-1">
                    <label>Terms ({{obj.terms.length}})</label><br>
                    <i class="fa  fa-list-ul fa-2x success" ng-click="showTerms(obj);" uib-tooltip="View Terms"></i>

                </div>
                <div class="col-md-1 pull-right">
                    <label>Save</label><br>
                    <i class="fa fa-floppy-o fa-2x success" ng-click="updateCV(obj);"
                       uib-tooltip="Update Domain in database"></i>
                </div>
            </div>
            <div class={{obj.id}}></div>
        </div>
    </div>
</div>
