<div class="row info">
<button class="btn btn-primary label-offset det">
        Edit CV
    </button>
    <span><i class="fa fa-question-circle fa-lg"></i></span>

    <div class="col-md-12">
        <!--<form class="form-horizontal" name="cvEditForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-3">
                        <dropdown-select ng-model ="vocab" field="domain" cv = "CV_DOMAIN"></dropdown-select>
                    </div>
                <br>
                <a ng-click="getValues()" aria-label="Create" uib-tooltip="Create Domain"><i
                        class="fa fa-check fa-2x success"></i></a>

            </div>
        </form>-->
        <div ng-repeat="obj in domains">
        <div class = "row">
            <div class="col-md-3">
                <text-view-edit obj="obj" field="domain"></text-view-edit>
            </div>
            <div class="col-md-1">
                <check-box-view-edit obj = "obj" field="editable"></check-box-view-edit>
            </div>
            <div class="col-md-2">
                {{obj.terms.length}} Terms
                <i class = "fa fa-plane fa-2x success" ng-click = "showTerms(obj);" uib-tooltip="Update Domain in database"></i>

            </div>
            <div class  = "col-md-2">
                <label>Save to Database</label><br>
                <i class = "fa fa-floppy-o fa-2x success" ng-click = "updateCV(obj);" uib-tooltip="Update Domain in database"></i>
            </div>
</div>
            <div class={{obj.$$hashKey}}></div>
        </div>
    </div>
</div>
