<div>
<div class="row form-row" ng-show = "!values">
    <div class="col-md-6">
            <ng-form class="form" enctype="multipart/form-data">
                <div class="col-md-3">
                    <label for="upload">Load CV</label><br>
                    <file-field ng-model="uploadFile" ng-change="setPreview(uploadFile)" id = "upload" preview ="setPreview();"><i class="fa fa-folder-open fa-lg"></i> Browse</file-field>
                    <br>
                    {{uploadFile.name}}
                    <br>
                </div>
            </ng-form>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary" ng-click="loadCVFile(uploadFile);">Load</button>
        </div>
    </div>


    <div class="row form-row" ng-if = "values">
        <div class = "col-md-3">
            <text-input ng-model="cv.domainName" field="domainName" name="domainName" id="domainName"></text-input>
        </div>
        <div class = "col-md-3">
            <dropdown-select ng-model="cv.domain" field="domain" values = values name = "domain"></dropdown-select>
        </div>
        <div class = "col-md-1">
            <label for="upload">Dependency?</label><br>
            <input type="checkbox" ng-model="dependency">
        </div>
        <div class="col-md-3" ng-if="dependency==true">
            <multi-select ng-model="cv.dependencyField" field="dependencyField" tags = values name = "Dependency Field" max="666"></multi-select>
        </div>
    <div class = "col-md-2">
        <button class = "btn btn-primary" ng-click="makeCV();">Make CV</button>
    </div>
    </div>
    <hr>



<!--  <div class = "col-md-6">
      <div class ="row">
      <div class ="col-md-3">
          <label>Make domain</label>
      </div>
      <div class = "col-md-9">
         <label>Field</label>
      </div>
          </div>
      <div class ="row">


          <ul class="list-unstyled">
          <li ng-repeat = "field in cv.objKeys">

                  <input type="checkbox" ng-model="cv.value[getPos(field, cv.objKeys)]">
                  {{field}}
          </li>
      </ul>
      </div>
  </div>
 -->






    <!--<form class="form-horizontal" role="form" method="POST"
          enctype="multipart/form-data"
          action="@ix.ginas.controllers.routes.GinasLoad.loadJSON()">
        <div class="row form-row">
            <div class="col-md-6">
                <file-field ng-model="uploadFile"><i class="fa fa-folder-open fa-lg"></i> Browse</file-field>
                <br>
                {{uploadFile.name}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <h2>Pending future release</h2>
                <button type="submit" class="btn btn-default">Load</button>
            </div>
        </div>
    </form>-->
</div>
