<div class="row">
    <button class="btn btn-primary label-offset det">
        Add new CV category
    </button>
    <span><i class="fa fa-question-circle fa-lg"></i></span>

    <div class="col-md-12">
        <form class="form-horizontal" name="cvForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-3">
                    <text-input ng-model="cv.domain" field="domain" name="domain" id="domain" form="cvForm"
                                validate="true"></text-input>
                </div>
                <br>
                <a ng-click="create= true" aria-label="Create" tooltip="Create Domain"><i
                        class="fa fa-check fa-2x success"></i></a>

            </div>
            <div class="row form-row" ng-if="create">

                <div class="col-md-3">
                    <text-input ng-model="vt.value" field="value" name="value" id="value" form="cvForm"
                                validate="true"></text-input>
                </div>
                <div class="col-md-3">
                    <text-input ng-model="vt.display" field="display" name="display" id="display" form="cvForm"
                                validate="true"></text-input>
                </div>
                <div class="col-md-3">
                    <text-input ng-model="vt.description" field="description" name="description" id="description"
                                form="description" validate="true"></text-input>
                </div>
                <div class="col-md-3">
                    <text-input ng-model="vt.origin" field="origin" name="origin" id="origin" form="cvForm"
                                validate="true"></text-input>
                </div>
            </div>
            Coming Soon
            <submit-buttons submit="vt" form="cvForm" path="cvs"></submit-buttons>
        </form>


        <div ng-repeat="obj in cv.vt">
            <div class="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path="codes"></delete-button>
                </div>
                <div class="col-md-2 err-check">
                    <dropdown-view-edit obj="obj" field="codeSystem" cv="CODE_SYSTEM"></dropdown-view-edit>
                </div>
                <div class="col-md-2 err-check">
                    <dropdown-view-edit obj="obj" field="type" cv="CODE_TYPE"></dropdown-view-edit>
                </div>
                <div class="col-md-2 err-check">
                    <text-view-edit obj="obj" field="code"></text-view-edit>
                </div>
                <div class="col-md-3">
                    <form-selector referenceobj="obj" formname="codeForm" field="comments" label="Code Text"
                                   type="textbox"
                                   divid={{obj.$$hashKey}} mode="edit"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="obj" parent="substance" type="access" divid={{obj.$$hashKey}}
                                   mode="edit"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="obj" parent="substance" type="reference" divid={{obj.$$hashKey}}
                                   mode="edit"></form-selector>
                </div>
            </div>
            <div class={{obj.$$hashKey}}></div>
        </div>
    </div>
</div>
