text.active {
    font-weight: bold;
}

#svg_div {
    /*width: 600px;*/
    height: 500px;
}

/* stylize the sidebar instructions */
#clust_instruct_container {
    display: block;
    position: absolute;
    width: 200px;
    padding-right: 0px;
    margin-left: 10px;
}

/* ordering buttons */
#toggle_order {
    /*reduced width sidebar
    margin-left used to be 45*/
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.order_name {
    font-size: 11px;
}

/* container for gene search box */
#gene_search_container {
    margin-top: 10px;
    margin-left: 0px;
    display: none;
}

/* gene search box */
#gene_search_box {
    width: 120px;
}

/* gene search button */
#gene_search_button {
    margin-top: 4px;
}

/*reduce the padding on the buttons*/
.btn {
    padding-top: 2px;
    padding-bottom: 2px;
}