@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.AgentModification


@(mods: List[AgentModification])
<div class = "row">
    <div class="col-md-12 table-responsive">
        Agent Modifications
        <table class="table table-striped" id="agent-Table">
            <thead>
                <tr>
                    <th>Modification Process</th>
                    <th>Modification Role</th>
                    <th>Modification Type</th>
                    <th>Amount</th>
                    <th>Modification Agent</th>
                    <th>Approved ID</th>
                </tr>
                @for(m <- mods) {
                    <tr>
                        <td>
                        @if(m.agentModificationProcess != null) {
                            @m.agentModificationProcess
                        }
                        </td> <td>
                    @if(m.agentModificationRole != null) {
                        @m.agentModificationRole
                    }
                    </td> <td>
                    @if(m.agentModificationType != null) {
                        @m.agentModificationType
                    }
                    </td> <td>
                    @if(m.amount != null) {
                        <amount value="@GinasApp.getAsJson(m.amount)"></amount>
                    }
                    </td> <td>
                    @if(m.agentSubstance != null) {
                        @m.agentSubstance.refPname
                    }
                        <td>
                        @if(m.agentSubstance != null) {
                            <a href="@ix.ginas.controllers.routes.GinasApp.substance(m.agentSubstance.getLinkingID())">@m.agentSubstance.getLinkingID()</a>
                        }
                        </td>
                    </tr>
                }
            </thead>
        </table>
    </div>
</div>
