 @(sub:ix.ginas.models.v1.Substance)
 
 
	                        <div class="row small-spacer">
	                            <table class="table table-striped keyvalue">
	                                <tbody>
	                                    @if(sub.approved != null) {
	                                        <tr><td> Approved </td><td>@sub.approved</td></tr>
	                                        <tr><td> Approved By </td><td>@sub.approvedBy</td></tr>
	                                    }
	                                    <tr><td> Created </td><td>@sub.created</td></tr>
	                                    <tr><td> Created By </td><td>@sub.createdBy</td></tr>
	                                    <tr><td> Last Edited </td><td>@sub.lastEdited</td></tr>
	                                    <tr><td> Last Edited By </td><td>@sub.lastEditedBy</td></tr>
	                                    @if(sub.changeReason != null) {
	                                        <tr><td>Change Reason</td><td>@sub.changeReason</td></tr>
	                                    }
	                                </tbody>
	                            </table>
	                        </div>