
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.Code

@(codes: Collection[Code], id: String)

    <table class="table gsrs-datatable" id="codesTable">
        <thead>
            <tr>
                <th>Classification Tree</th>
                <th>Code System</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody>
        @for(c <- codes) {
          @if(c.isClassification()){
            <tr>
                <td>
					<table class="info-wrapper">
						<tr>
							<td style="width:100%;">
								<tree-view text = "@c.comments"></tree-view>
							</td>
							<td>
								@if(c.getReferences.size > 0) {
									<info-popup>
										<div class="info-popup-container">
											<div>
												<label>Source@if(c.getReferences.size > 1) {s} else {}:</label>
											</div>
											<referencesmanager 
											reftable 
											hide-header="true" 
											show='["cit"]' 
											substance ="'@id'" 
											sreferences = "@GinasApp.getAsJson(c.getReferences())" >
											</referencesmanager>
										</div>
									</info-popup>
								}
							</td>
						</tr>
                    </table>
                </td>
                <td id="no-word-break">
					@GinasApp.getCV.getDisplay("CODE_SYSTEM",{c.codeSystem})
				</td>
            
				@if(c.url){
					<td>
						<a href="@c.url" target="_blank" uib-tooltip="Click link">@c.code</a>
						<div class="audit-row" ng-if="audit==true">
						   <div class="audit-content">
						   Created by <code>@c.createdBy</code> on <code>@c.created</code> , Edited by <code>@c.lastEditedBy</code> on <code>@c.lastEdited</code>
						   </div>
						</div>
					</td>
				}else{
					<td>
						@c.code
					</td>
				}   
            </tr>
            }
        }
        </tbody>
    </table>
