
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.Code
@import ix.ginas.models.v1.Substance

@(codes: Collection[Code], substance: Substance = null)

<table class="table gsrs-datatable" id="codesTable">
	<thead>
		<tr>
			<th>Classification Tree</th>
			<th>Code System</th>
			<th>Code</th>
			<th>Access</th>
			<th class = "no-sort">References</th>
		</tr>
	</thead>
	<tbody>
		@for(c <- codes) {
			@if(c.isClassification()){
				<tr  id = "classifications-row-@c.uuid">
					<td>
						<table class="info-wrapper">
							<tr>
								<td style="width:100%;">
									<tree-view text = "@c.comments"></tree-view>
								</td>
								<td>
								@if(c.getReferences.size > 0) {
									<div style = "display:none">

										<div class="info-popup-container" id = "classifications-ref-@c.uuid">
											<div class="info-popup-container">
												<div>
													<label>Source@if(c.getReferences.size > 1) {s} else {}:</label>
												</div>
												<referencesmanager
												reftable
												hide-header="true"
												show='["cit"]'
												substance ="'@substance.uuid'"
												version ="'@substance.version'"
												sreferences = "@GinasApp.getAsJson(c.getReferences())" >
												</referencesmanager>
											</div>
										</div>
									</div>
								}
								</td>
							</tr>
						</table>
					</td>
					<td id="no-word-break">
					@GinasApp.getCV.getDisplay("CODE_SYSTEM",{c.codeSystem})
					</td>

					@if(c.url){
						<td>
							<a href="@c.url" target="_blank" uib-tooltip="Click link">@c.code</a>
							<div class="audit-row" ng-if="audit==true">
								<div class="audit-content">
									Created by <code>@c.createdBy</code> on <code>@c.created</code> , Edited by <code>@c.lastEditedBy</code> on <code>@c.lastEdited</code>
								</div>
							</div>
						</td>
					}else{
						<td>
						@c.code
						</td>
					}
					<td>
						<div class="table-responsive" style="text-align:center">
						@if(c.isPublic()){
							<i uib-tooltip = "Public name" class="fa fa-unlock fa-2x fa-1_1x success"></i>
						}else{
							<i uib-tooltip = "Not a public name" class="fa fa-lock fa-2x fa-1_1x warning"></i>
						}
						</div>
					</td>
					<td >
						<button onclick = "addRef('@c.uuid',this,'classifications');" class = "btn btn-primary reference-button" >view</button>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
