
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.Code

@(codes: List[Code], id: String)
<button class="btn btn-primary label-offset det">Codes&nbsp;<span class="badge"> @codes.length</span></button>
<div class="col-md-12">
    <table class="table table-striped" id="codesTable">
        <thead>
            <tr>
                <th>Code</th>
                <th>Code System</th>
                <th>Type</th>
                <th>Description</th>
                <th>References</th>
            </tr>
        </thead>
        @for(c <- codes) {
            <tr>
                @if(c.url){
                <td><a href="@c.url" target="_blank">@c.code</a></td>
                    }else{
                    <td>@c.code</td>
                    }
                <td>@c.codeSystem</td>
                <td>@GinasApp.getCV.getDisplay("CODE_TYPE",{c.`type`})</td>
                <td>
                    <tree-view text = "'@c.comments'"></tree-view>
                </td>
                @if(c.getReferences.size > 0){
                    <td>
                <referencesmanager indices substance ="'@id'" divid ="'@c.getUuid'" references = "@GinasApp.getAsJson(c.getReferences())"></referencesmanager>
            </td>
            </tr>
            <tr><td colspan = "5"> </td></tr>
            <tr><td class = "'@c.getUuid'" colspan = "5"><div ng-if="audit==true">Created by <code>@c.createdBy</code> on <code>@c.created</code> , Edited by <code>@c.lastEditedBy</code> on <code>@c.lastEdited</code> </div></td></tr>
        }else{
                <td>no refs</td>
            }
        }
    </table>
</div>
