@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.v1.SubstanceFactory
@import ix.ginas.models.v1.Component

@(components: List[Component])
<button class="btn btn-primary label-offset det" ng-init = "componentscollapse =true" ng-click = "componentscollapse = !componentscollapse">
    <i ng-show="componentscollapse" class="fa fa-caret-right"></i>
    <i ng-hide="componentscollapse" class="fa fa-caret-down"></i>
    Components&nbsp;<span class="badge"> @components.length</span></button>
<div class="col-md-12" uib-collapse = "componentscollapse">
@defining(GinasApp.getComponentsByType(components, "MAY_BE_PRESENT_ANY_OF")) { comp =>
    @if(comp.length > 0) {
        <div class="row">
            <h5>Any of these components may be present:</h5>
            @for(c <- comp) {
            	<div class="col-md-3">
                @subref(c.substance)
                </div>
            }
		</div>
	}
}
@defining(GinasApp.getComponentsByType(components, "MAY_BE_PRESENT_ONE_OF")) { comp =>
    @if(comp.length > 0) {
        <div class="row">
            <h5>One of these components may be present:</h5>
            @for(c <- comp) {
                <div class="col-md-3">
                @subref(c.substance)
                </div>
            }
        </div>
    }
}@defining(GinasApp.getComponentsByType(components, "MUST_BE_PRESENT")) { comp =>
    @if(comp.length > 0) {
        <div class="row">
            <h5>All of the following components <i>must</i> be present:</h5>
            @for(c <- comp) {
                <div class="col-md-3">
                @subref(c.substance)
                </div>
            }
        </div>
    }
}
</div>