@import ix.ginas.controllers.GinasApp

@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(sub: ix.ginas.models.v1.Substance)
			                	<div>
		                            <div class="row">
		                            		<div class="col-md-1">
		                            		</div>
		                            		<div class="col-md-1">
		                            			<h4>Version</h4>
		                            		</div>
		                            		<div class="col-md-3">
		                            			<h4>Version Comments</h4>
		                            		</div>
		                            		<div class="col-md-2">
		                            			<h4>Editor</h4>
		                            		</div>
		                            		<div class="col-md-3">
		                            			<h4>Change Date</h4>
		                            		</div>
		                            		<div class="col-md-1">
		                            		</div>
		                            </div>
		                            @for(edit<-sub.getEdits()){
		                            	<div class="row striped">
		                            		<div class="col-md-1">
		                            			<div ><a class="btn btn-primary pull-right reference-button" href="@ix.ginas.controllers.routes.GinasApp.substanceVersion(GinasApp.getId(sub), edit.version)" target="_self">View</a></div>

		                            		</div>
		                            		<div class="col-md-1">
		                            			@edit.version
		                            		</div>
		                            		<div class="col-md-3">
		                            			@edit.comments
		                            		</div>
		                            		<div class="col-md-2">
		                            			@edit.editor
		                            		</div>
		                            		<div class="col-md-3">
		                            			@edit.getCreatedDate()
		                            		</div>
		                            		<div class="col-md-1">

		                            			@dynamic(name = IxDynamicResourceHandler.IS_ADMIN, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
		                            				<div><button class="btn btn-warning pull-right reference-button" onclick="restoreVersion('@sub.uuid','@edit.version')">Restore</button></div>
		                            			}
		                            		</div>

		                            	</div>
		                            }
	                            </div>