@import ix.core.models.Structure
@import ix.ginas.models.v1.GinasChemicalStructure
@import ix.ginas.controllers.GinasApp

@(sub: ix.ginas.models.v1.ChemicalSubstance)

@for(m <- sub.moieties) {
	<div class ="row">
		<hr id="additional-details-separator">
		<div class="col-md-4">
			<rendered id= '@m.structure.getDisplayStructure().id' size ="300">
			</rendered>
		</div>
		<div class ="col-md-8">
			<div class = "row">
				<div class = "col-md-12">
					<div class="col-md-6">
						<div class="table-responsive">
							<table class="table kv-table" id="moiety-table">
								<tr>
									<td>
										<span>Molecular Formula</span>
									</td>
									<td class="monospace">
										@Html(m.structure.getHtmlFormula())
									</td>
								</tr>
								
								<tr>
									<td><span>Molecular Weight</span></td>
									<td class="monospace">@m.structure.mwt</td>
								</tr>
								
								<tr>
									<td>
										<span>Charge</span>
									</td>
									<td>
										<span class="badge">@m.structure.charge</span>
									</td>
								</tr>
								
								@if(m.getCountAmount != null) {
									<tr>
										<td><span>Count</span></td>
										<td class="url">
											<amount value="@GinasApp.getAsJson(m.getCountAmount)">
											</amount>
										</td>
									</tr>
								}	
							</table>
						</div>
					</div>
					<div class="col-md-6">
						<div class="table-responsive">
							<table class="table kv-table" id="moiety-table">
								<tr>
									<td>
										<span>Stereochemistry</span>
									</td>
									<td>
										<span class="badge">@m.structure.stereoChemistry</span>
									</td>
								</tr>
								<tr>
									<td>
										<span>Additional Stereochemistry</span>
									</td>
									<td>
										<span class="badge">@m.structure.atropisomerism</span>
									</td>
								</tr>
								
								<tr>
									<td>
										<span>Defined Stereocenters</span>
									</td>
									<td>
										<span class="badge">@m.structure.definedStereo / @m.structure.stereoCenters</span>
									</td>
								</tr>
								
								<tr>
									<td>
										<span>E/Z Centers</span>
									</td>
									<td>
										<span class="badge">@m.structure.ezCenters</span>
									</td>
								</tr>
								
								<tr>
									<td><span>Optical Activity</span></td>
									<td>
										<span class="badge">
										@if(sub.structure.opticalActivity != null) {
											@m.structure.opticalActivity.toValue()
										} else {
											Unspecified
										}
										</span>
									</td>
								</tr>
								
								@if(m.structure.stereoComments != null && m.structure.stereoComments != "") {
									<tr>
										<td><span>StereoComments</span></td>
										<td>@m.structure.stereoComments</td>
									</tr>
								}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
<hr id="additional-details-separator">