@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.Name
@import ix.ginas.models.v1.Substance

@(names: List[Name], substance: Substance = null)
@renderName(n: Name) = {
	<tr id = "names-row-@n.uuid">
		<td>
			@*<div style="width:100%;">*@
			<table class="info-wrapper">
				<tr>
					<td style="width:100%;">
						<span>@n.name</span>
					@* display name checkmark*@
					@if(n.isDisplayName()){
						<span title="Display Name" class="pref-check">
								<i class="fa fa-check" aria-hidden="true"></i>
							</span>
						}
					</td>
					<td>
						@* info-popup contents *@
					<div style = "display:none">
						@if(n.domains.size()>0 || n.nameJurisdiction.size()>0 || n.nameOrgs.size()>0){
						<div class="info-popup-container" id = "names-det-@n.uuid">
							<label>Details:</label>
							<table class="table moreDetails">
								<tr class = "relationship-subtable-tr">
									<th>Domain</th>
									<th>Jurisdiction</th>
									<th>Naming Organization</th>
								</tr>
								<td>
									@if(n.domains.size()>0){
										<div>
											@for(l <- n.domains) {
											@GinasApp.getCV.getDisplay("DOMAIN", l.term) &nbsp;
											}
										</div>
									}
								</td>
								<td>
									@if(n.nameJurisdiction.size()>0){
										<div>
											@for(l <- n.nameJurisdiction) {
											@GinasApp.getCV.getDisplay("NAME_JURISDICTION", l.term) &nbsp;
											}
										</div>
									}
								</td>
								<td>
									@if(n.nameOrgs.size()>0){
										<div>
											@for(org <- n.nameOrgs) {
											@GinasApp.getCV.getDisplay("NAME_ORG", org.nameOrg) &nbsp;
											}
										</div>
									}
								</td>
								</tr>
							</table>
						</div>
						}
					</div>


					@if(n.getReferences.size > 0){
							<div style = "display:none">

								<div class="info-popup-container" id = "names-ref-@n.uuid">
									@if(n.getLocators(substance).size()>0){
										<div class="locators">
											<div>
												<label>Locators:</label>
											</div>
											@for(l <- n.getLocators(substance)) {
												<span tooltip-append-to-body="true"
												uib-tooltip="@GinasApp.getCV.getDisplay("LOCATORS", l)"
												class="badge" >
												@l
												</span> &nbsp;
											}
										</div>
									}

									<div>
										<label>Source@if(n.getReferences.size>1){s}else{}:</label>
										@if(n.getReferences.size > 0){
											<referencesmanager reftable
											hide-header="true"
											show='["cit"]'
											substance ="'@substance.uuid'"
											version ="'@substance.version'"
											sreferences = "@GinasApp.getAsJson(n.getReferences())" >
											</referencesmanager>
										}
									</div>
								</div>
							</div>
						}
					</td>
				</tr>
			</table>
			@*</div>*@


		</td>

		<td id="one-line">
			@GinasApp.getCV.getDisplay("NAME_TYPE",{n.`type`})
		</td>

		<td >
		@if(n.languages.size()>0){
			<div class="table-responsive">
				<div>
				@for(l <- n.languages) {
					@GinasApp.getCV.getDisplay("LANGUAGE", l.term) &nbsp;
				}
				</div>
			</div>
		}
		</td>
	<td>
		<button onclick = "addDetails('@n.uuid',this,'names');" class = "btn btn-primary reference-button"
		@if(n.domains.size == 0 && n.nameJurisdiction.size() == 0 && n.nameOrgs.size() == 0){ disabled } >view</button>
	</td>
	<td>
		<button onclick = "addRef('@n.uuid',this,'names');" class = "btn btn-primary reference-button" @if(n.getReferences.size == 0){ disabled } >view</button>
	</td>
	</tr>
}

<table class="table gsrs-datatable" id="namesTable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Language</th>
		<th>Details</th>
			<th class = "no-sort">References</th>

		</tr>
	</thead>
	<tbody>
		@for(n <- names) {
			@renderName(n)
		}
	</tbody>
</table>

