
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.Note
@import ix.ginas.models.v1.Substance

@(notes: List[Note], substance: Substance = null)
@*
<button class="btn btn-primary label-offset det" ng-init = "notescollapse =true" ng-click = "notescollapse = !notescollapse">
<i ng-show="notescollapse" class="fa fa-caret-right"></i>
<i ng-hide="notescollapse" class="fa fa-caret-down"></i>
Notes&nbsp;<span class="badge"> @notes.length</span></button>
<div class="col-md-12 table-responsive" uib-collapse = "notescollapse">
*@
<table class="table" id="notesTable">
  <thead>
    <tr>
      <th>Note</th>
      <th>Access</th>
      <th>References</th>
    </tr>
  </thead>
  @for(n <- notes) {
    <tr id = "notes-row-@n.uuid">
      <td><pre class="fixedsize">@n.note</pre></td>
      <td>
        <div class="table-responsive" style="text-align:center">
        @if(n.isPublic()){
          <i uib-tooltip = "Public name" class="fa fa-unlock fa-2x fa-1_1x success"></i>
        }else{
          <i uib-tooltip = "Not a public name" class="fa fa-lock fa-2x fa-1_1x warning"></i>
        }
        </div>
      </td>
      @if(n.getReferences.size > 0){
        <td >
          <button onclick = "addRef('@n.uuid',this,'notes');" class = "btn btn-primary reference-button" >view</button>
        </td>
        <div style = "display:none">

          <div class="info-popup-container" id = "notes-ref-@n.uuid">
            <div>
              <label>Source@if(n.getReferences.size > 1) {s} else {}:</label>
            </div>
            <referencesmanager reftable hide-header="true"
            show='["cit"]'
            substance ="'@substance.uuid'"
            version ="'@substance.version'"
            sreferences = "@GinasApp.getAsJson(n.getReferences())" >
            </referencesmanager>
          </div>
        </div>
      </tr>
    <tr>
      <td class = "'@n.getUuid'" colspan = "5"></td>
      }else{
      <td>none</td>
    }
    </tr>
  }
</table>
@*
</div>
*@