
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.Note


@(notes: List[Note], id:String)
<button class="btn btn-primary label-offset det" ng-click = "notescollapse = !notescollapse">
  <i ng-show="notescollapse" class="fa fa-caret-right"></i>
  <i ng-hide="notescollapse" class="fa fa-caret-down"></i>
  Notes&nbsp;<span class="badge"> @notes.length</span></button>
<div class="col-md-12 table-responsive" uib-collapse = "notescollapse">
  <table class="table" id="notesTable">
    <thead>
      <tr>
        <th>Note</th>
        <th>References</th>
      </tr>
    </thead>
    @for(n <- notes) {
      <tr>
        <td><pre class="fixedsize">@n.note</pre></td>
        @if(n.getReferences.size > 0){
          <td>
          	<referencesmanager indices substance ="'@id'" divid ="'@n.getUuid'" references = "@GinasApp.getAsJson(n.getReferences())"></referencesmanager>
          </td>
          </tr>
      	  <tr>
      	  	<td class = "'@n.getUuid'" colspan = "5"></td>
    	}else{
          <td>none</td>
      	}
      </tr>
    }
  </table>
</div>
