@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.PhysicalModification


@(mods: List[PhysicalModification])
<div class = "row">
    <div class="col-md-12 table-responsive">
        Physical Modifications
        <table class="table table-striped" id="physical-Table">
            <thead>
                <tr>
                    <th>Modification Role</th>
                    <th>Parameter Name</th>
                    <th>Amount</th>
                    <th>Access</th>
                </tr>
            </thead>
            @for(m <- mods) {
                @for(pm <- m.parameters) {
                    <tr>
                        <td>
                        @if(m.physicalModificationRole != null) {
                            @m.physicalModificationRole
                        }
                        </td>
                        <td>
                        @if(pm.parameterName != null) {
                            @pm.parameterName
                        }
                        </td>
                        <td>
                        @if(pm.amount != null) {
                            <amount value="@GinasApp.getAsJson(pm.amount)"></amount>
                        }
                        </td>
                        <td>
                            <div style="text-align:center">
                            @if(m.isPublic()){
                                <i uib-tooltip = "Public name" class="fa fa-unlock fa-2x fa-1_1x success"></i>
                            }else{
                                <i uib-tooltip = "Not a public name" class="fa fa-lock fa-2x fa-1_1x warning"></i>
                            }
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

