@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.v1.SubstanceFactory
@import ix.ginas.models.v1.{Substance, Relationship, SubstanceReference}




@(sref: SubstanceReference)

<button class="btn btn-primary label-offset det" ng-click = "primarycollapse = !primarycollapse">
	<i ng-show="primarycollapse" class="fa fa-caret-right"></i>
	<i ng-hide="primarycollapse" class="fa fa-caret-down"></i>
	Primary Definition&nbsp;</button>
<div class="col-md-12 table-responsive" uib-collapse = "primarycollapse">
						@if(SubstanceFactory.getFullSubstance(sref) != null) {
                            <div class="col-md-3">
			                	@subref(sref)
			                </div>
                        }else{
                            <div class="col-md-3 text-center thumb-col">
                                <div class="panel panel-default">
                                    <div class = "panel-body">
                            			<i>Record not yet imported</i> <br />
                        			</div>
		                    		<div class = "panel-footer">
										@if(sref.refPname !=null) {
											@Html(sref.getHtmlName())
										}
		                    		</div>
                         		</div>
                            </div>
                    	}
</div>
