@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.Property

@(properties: List[Property], id: String)

<button class="btn btn-primary label-offset det" ng-click = "propertiescollapse = !propertiescollapse">
    <i ng-show="propertiescollapse" class="fa fa-caret-right"></i>
    <i ng-hide="propertiescollapse" class="fa fa-caret-down"></i>
    Properties&nbsp;<span class="badge"> @properties.length</span></button>
<div class="col-md-12 table-responsive" uib-collapse = "propertiescollapse">
    <table class="table table-striped" id="propertiesTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Property Type</th>
                <th>Amount</th>
                <th>Referenced Substance</th>
                <th>Defining</th>
                <th>Parameters</th>
                <th>References</th>
            </tr>
        </thead>
        @for(n <- properties) {
            <tr>
                <td class="url">@n.getName</td>
                <td>@GinasApp.getCV.getDisplay("PROPERTY_TYPE", n.getPropertyType)</td>
                <td><amount value="@GinasApp.getAsJson(n.getValue())"></amount></td>
                <td>@if(n.getReferencedSubstance()!=null){
                    @subref(n.getReferencedSubstance)
                }
                </td>
                @if(n.isDefining == true) {
                    <td>
                        <i class="fa fa-check fa-2x success"></i>
                    </td>
                } else {
                    <td></td>
                }
                @if(n.getParameters().size > 0) {
                <td>
                @for(pr <- n.getParameters()) {
                @pr.getName() <br>
                @pr.getType() <br>

                <amount value="@GinasApp.getAsJson(pr.getValue())"></amount>

                }
                </td>
                } else {
                <td></td>
                }
                @if(n.getReferences.size > 0) {
                    <td>
                        <referencesmanager ref-count substance ="'@id'" divid ="'@n.getUuid'" references = "@GinasApp.getAsJson(n.getReferences())"></referencesmanager>
                    </td>
                </tr>
            <tr><td class = "'@n.getUuid'" colspan = "7"></td>
        }else{
            <td>0</td>
            }
            </tr>
        }
    </table>
</div>
