@import ix.ginas.models.v1.Reference


@(references: List[Reference])
<table class="table gsrs-datatable" id="allReferencesTable">
    <thead>
        <tr>
            <th>Index</th>
            <th>Source Text / Citation</th>
            <th>Source Type</th>
            <th>Tags</th>
            <th>Date Accessed</th>
        </tr>
    </thead>
    @for((r,i) <- references.view.zipWithIndex) {
        <tr>
            <td>
            @{i+1}
            </td>
            <td>
            @if(r.url != null) {
                <a href="@r.url" target ="_blank">@r.citation</a>
            } else {
                @r.citation
            }
            </td>
            <td>
            @r.docType
            </td>
            <td>
            @for( tag <- r.tags){
                <span class="badge">@tag.term</span>
            }
            </td>
            <td>
                <span class="hidden">@r.getDocumentSortPrefix()</span>@r.documentDate
            </td>
        </tr>
    }

</table>


