@import ix.ginas.models.v1.Reference


@(references: List[Reference])

<button class="btn btn-primary label-offset det" ng-init="referencescollapse=true" ng-click = "referencescollapse = !referencescollapse">
    <i ng-show="referencescollapse" class="fa fa-caret-right"></i>
    <i ng-hide="referencescollapse" class="fa fa-caret-down"></i>
    References&nbsp;<span class="badge"> @references.length</span></button>
<div class="col-md-12 table-responsive" uib-collapse = "referencescollapse">
    <table class="table table-striped" id="allReferencesTable">
        <thead>
            <tr>
                <th>Source Text / Citation</th>
                <th>Source Type</th>
                <th>Date Accessed</th>

            </tr>
        </thead>
        @for(r <- references) {
            <tr>
                <td>
                @if(r.url != null) {
                    <a href="@r.url" target ="_blank">@r.citation</a>
                } else {
                    @r.citation
                }
                </td>
                <td>
                @r.docType
                </td>
                <td>
                @r.documentDate
                </td>
            </tr>
        }
    </table>
</div>

