@import play.api.Play.current
@import ix.core.models.Keyword
@import ix.ginas.models.v1.Reference
@import ix.ginas.controllers.v1.ReferenceFactory 
@import helper._ 

@(refs: Collection[Keyword], id : String, colspan : Integer)
@if(refs!=null && refs.size() >= 1){
<td>
   <button class="btn btn-primary" type="button" data-toggle="collapse"
      data-target="#@id-reference" aria-expanded="false"
      aria-controls="collapseExample" uib-tooltip="show references">@refs.size()</button>
</td>
</tr>
<tr class="collapse" id="@id-reference">
   <td colspan = "@colspan" class = "sub-table">
      <table class="table table-striped" id="referenceTable">
         <thead>
            <tr>
              	<th>Source Text / Citation</th>
                <th>Source Type</th>
                <th>Date Accessed</th>
                <th>Access</th>
            </tr>
         </thead>
         @for(ref <- refs){
         @defining(ReferenceFactory.getReference(ref.term)) { r =>
         <tr>
           <td class="trungcate">
	     @if(r.url != null) {
	     <a href="@r.url">@r.citation</a>
	     }else {
             @r.citation
	     }
            </td>
            <td>
               <a ng-href = "{{baseurl}}/substances?facet=Reference+Type/@r.docType" target="_self" uib-tooltip="Filter all substances by '@r.docType'">@r.docType</a>
            </td>
            <td>
               @r.documentDate
            </td>
            <td>
                <div style="text-align:center">
                @if(r.isPublic()){
                    <i uib-tooltip = "Public name" class="fa fa-unlock fa-2x fa-1_1x success"></i>
                }else{
                    <i uib-tooltip = "Not a public name" class="fa fa-lock fa-2x fa-1_1x warning"></i>
                }
                </div>
            </td>
         </tr>
         }
         }
      </table>
   </td>
</tr>
}else{
<td>
   <button class="btn btn-primary" type="button"  disabled="disabled" uib-tooltip="no references">0</button>
</td>
}
