@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.v1.SubstanceFactory
@import ix.ginas.models.v1.{ChemicalSubstance, Relationship}




@(relationships: List[Relationship], title: String, id:String, full:Boolean = true)

<button class="btn btn-primary label-offset det">
    @title&nbsp;<span class="badge"> @relationships.length</span></button>
<div class="col-md-12 table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Related Record</th>
                @*<th>Name</th>*@
                <th>Type</th>
                @if(full){
                <th>Comments</th>
                <th>Interaction Type</th>
                <th>Qualification</th>
                <th>Amount</th>
                <th>References</th>
                }
            </tr>
        </thead>

        @for(r <- relationships) {

            <tr>
                <td>
                @if(r.relatedSubstance != null && r.relatedSubstance.getLinkingID() != null) {
                    <a href="@ix.ginas.controllers.routes.GinasApp.substance(r.relatedSubstance.getLinkingID())" target="_self">
                @subref(r.relatedSubstance)
                    </a>
                    }else{
                    @subref(r.relatedSubstance)
                }
                </td>
                <td>@GinasApp.getCV.getDisplay("RELATIONSHIP_TYPE", r.`type`)</td>
                @if(full){
                <td>@r.comments</td>
                <td>
                @if(r.interactionType != null) {
                    @r.interactionType
                }
                </td>
                <td>
                @if(r.qualification != null) {
                    @r.qualification
                }
                </td>
                <td>
                @if(r.amount != null) {
                    <amount value="@GinasApp.getAsJson(r.amount)"></amount>
                }
                </td>
                @if(r.getReferences().size > 0){
                        <td>       
                            <referencesmanager indices substance ="'@id'" divid ="'@r.getUuid'" references = "@GinasApp.getAsJson(r.getReferences())"></referencesmanager>
                        </td>
                        </tr>
                        <tr><td class = "'@r.getUuid'" colspan = "8"></td></tr>
                }else{
                        <td>none</td>
                }
                }
            <tr ng-if="audit==true"><td colspan = "8">Created by <code>@r.createdBy</code> on <code>@r.created</code> , Edited by <code>@r.lastEditedBy</code> on <code>@r.lastEdited</code></td></tr>
        }

    </table>
        </div>
