@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.v1.SubstanceFactory
@import ix.ginas.models.v1.{ChemicalSubstance, Relationship}




@(relationships: List[Relationship], title: String, id:String, full:Boolean = true)



<div class=" table-responsive" uib-collapse = "@title.replace(' ', '.')" ng-controller = "GinasController">
    <table class="table ref-datatable" id = "relationships" >
        <thead>
            <tr>
                <th>Related Record</th>
                <th>Type</th>
                @if(full){
                <th>Details</th>
                <th>Access</th>
                <th>References</th>
                }
            </tr>
        </thead>

        @for(r <- relationships) {

            <tr class = "main-relationship-tr" >
                <td class = "relationship-related-record" >
                	@if(r.relatedSubstance != null && r.relatedSubstance.getLinkingID() != null) {
	                    @subref(r.relatedSubstance)
                    }else{
                    	@subref(r.relatedSubstance)
                	}
                </td>
                <td>@GinasApp.getCV.getDisplay("RELATIONSHIP_TYPE", r.`type`)</td>

                @if(full) {

                    <td class = "relationship-details" >

                        @defining("more"+(((5000*Math.random())).toInt+"")) { sug =>
                        @if((r.mediatorSubstance == null)&&(r.interactionType == null)&&(!r.hasComments())&&(r.qualification == null)&&(r.amount == null)){

                        <div id = "b@sug"><i>none</i>
                            <button class="btn btn-primary reference-button ng-binding" style = "visibility:hidden" type="button"  ng-click="@sug =! @sug">{{ @sug == true ? 'hide' : 'show' }}</button>
                        </div>

                        }else{
                        <div  ng-init="@sug = false" id = "b@sug">
                                <button class="btn btn-primary reference-button ng-binding" type="button" ng-click="@sug =! @sug">{{ @sug == true ? 'hide' : 'show' }}</button>
                            </div>

                        }



                    </td>
                    <td>
                        <div style="text-align:center">
                        @if(r.isPublic()){
                            <i uib-tooltip = "Public name" class="fa fa-unlock fa-2x fa-1_1x success"></i>
                        }else{
                            <i uib-tooltip = "Not a public name" class="fa fa-lock fa-2x fa-1_1x warning"></i>
                        }
                        </div>
                    </td>

                    <td>
                        @if(r.getReferences().size > 0){
                           <referencesmanager ref-count substance ="'@id'" divid ="'@r.getUuid()'" references = "@GinasApp.getAsJson(r.getReferences())"></referencesmanager>
                        }else{
                        <i>none</i>
                        }
                    </td>

            </tr>
    <tr class ="details_'@r.getUuid()'" ng-show = "@sug" ng-hide = "!@sug">
        <td colspan = '4' class = "ref-table-td">

                <table class="table moreDetails" id = "@sug">
                <tr class = "relationship-subtable-tr">
                    <th>Mediator Substance</th>
                    <th>Details</th>

                </tr>
                    <tr id = "a@sug">
                <td>
                    @if(r.mediatorSubstance != null){
                            <div class = "relationship-details">
                        @subref(r.mediatorSubstance)
                            </div>

                        }else{
                        none
                    }
                </td>
                    <td>

                    @if(r.interactionType != null) {
                    <div>
                        <div >
                            <label>Interaction Type</label>
                                </div>
                        <div>
                            <span class="key-value">@r.interactionType</span>
                                </div>
                            </div>
                        }

                    @if(r.hasComments()) {
                    <div>
                        <div>
                            <label>Comments:</label>
                                </div>
                        <div>
                            <span class="key-value">@r.comments</span>
                                </div>
                            </div>
                        }
                        @if(r.qualification != null) {
                    <div >
                        <div >
                                    <label>Qualification:</label>
                                </div>
                        <div >
                                    <span class="key-value">@r.qualification</span>
                                </div>
                            </div>
                        }
                        @if(r.amount != null) {
                    <div >
                        <div >
                                    <label>Amount:</label>
                                </div>
                        <div >
                            <amount class = "amt-card" value="@GinasApp.getAsJson(r.amount)"></amount>
                                </div>
                            </div>
                        }
                    </td>

                </tr>
            </table>
                    </td>
    </tr>
                }
    }else{
            </tr>
            }

            <tr class = "relationship-subtable-tr" ><td class ="'@r.getUuid()' ref-table-td" colspan = "8"></td></tr>

            <tr ng-if="audit==true"><td colspan = "8">Created by <code>@r.createdBy</code> on <code>@r.created</code> , Edited by <code>@r.lastEditedBy</code> on <code>@r.lastEdited</code></td></tr>
        }

    </table>

 </div>
