@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.v1.SubstanceFactory
@import ix.ginas.models.v1.SpecifiedSubstanceComponent
@(components: List[SpecifiedSubstanceComponent])

    @if(components.length > 0) {
    <table class="table table-striped" id="namesTable">
        <thead>
            <tr>
                <th>Substance</th>
                <th>Amount</th>
                <th>Access</th>
            </tr>
        </thead>
        @for(c <- components) {
            <tr>
             @if(SubstanceFactory.getFullSubstance(c.substance) != null) {
              <td> @subref(c.substance) </td>
                 @if(c.amount != null) {
                 <td><amount value="@GinasApp.getAsJson(c.amount)"></amount></td>
                 }
              <td>
                <div style="text-align:center">
                @if(c.isPublic()){
                  <i uib-tooltip = "Public name" class="fa fa-unlock fa-2x fa-1_1x success"></i>
                }else{
                  <i uib-tooltip = "Not a public name" class="fa fa-lock fa-2x fa-1_1x warning"></i>
                }
                </div>
              </td>
            } else {
                <i>Substance not yet imported</i> <br />
                @Html(c.substance.getHtmlName())
            }
            </tr>
        }
    </table>
}
