@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.StructuralModification
@import ix.ginas.controllers.v1.SubstanceFactory

@(mods: List[StructuralModification])
<div class = "row">
    <div class="col-md-12">
        Structural Modifications
        <table class="table table-striped" id="structural-Table">
            <thead>
                <tr>
                    <th>Modification Type</th>
                    <th>Location Site</th>
                    <th>Location Type</th>
                    <th>Residue Modified</th>
                    <th>Extent</th>
                    <th>Modification Name</th>
                    <th>Modification ID</th>
                    <th>Access</th>
                </tr>
            </thead>
            @for(m <- mods) {
                <tr>
                    <td>
                    @if(m.structuralModificationType != null) {
                        @m.structuralModificationType
                    }
                    </td> <td>
                @if(m.getSites() != null) {
                    @for(s <- m.getSites()) {
                        [@{
                        s.subunitIndex
                    }_@s.residueIndex]
                    }
                }
                </td>
                    <td>
                    @if(m.locationType != null) {
                        @m.locationType
                    }
                    </td>
                    <td>
                    @if(m.residueModified != null) {
                        @m.residueModified
                    }
                    </td>
                    <td>
                    @if(m.extent != null) {
                        @if(m.extentAmount != null) {
                            <br>
                            <b>Amount:</b>
                            <amount value="@GinasApp.getAsJson(m.extentAmount)"></amount>
                        }
                    }
                    </td>
                    <td>
                    @if(m.molecularFragment != null) {
                        @Html(m.molecularFragment.getHtmlName())
                    }
                    </td>

                    <td>
                    
                    @if(m.molecularFragment != null) {
                    	@defining(SubstanceFactory.getFullSubstance(m.molecularFragment)) { ref =>
	                    	@if(ref!=null){
	                        <a href="@ix.ginas.controllers.routes.GinasApp.substance(m.molecularFragment.getLinkingID())" target="_self">@m.molecularFragment.getLinkingID()</a>
	                        }else{
	                        <div>@m.molecularFragment.getLinkingID()</div>
	                        <div><em><small>(not in database)</small></em></div>
	                        
	                        }
                        }
                    }
                    </td>
                    <td>
                        <div style="text-align:center">
                        @if(m.isPublic()){
                            <i uib-tooltip = "Public name" class="fa fa-unlock fa-2x fa-1_1x success"></i>
                        }else{
                            <i uib-tooltip = "Not a public name" class="fa fa-lock fa-2x fa-1_1x warning"></i>
                        }
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
