@import ix.core.models.Structure
@import ix.core.models.Structure.NYU
@import ix.ginas.models.v1.GinasChemicalStructure
@import ix.ginas.controllers.GinasApp

@(sub: ix.ginas.models.v1.ChemicalSubstance)        

@structureImage(s: Structure, size: Integer, version: String) = {
<div ng-controller = "GinasController" >
	<div class = "magnify" ng-click = "openImgModal('@sub.getUuid', '@ix.ginas.controllers.routes.GinasApp.structure(s.getId(), "svg", 700, null, version)')">
		<img class="struc-thumb img-responsive structure-image-margins" alt="Structure of @sub.getName" title="Structure of @sub.getName (Click to view larger version)"
    ng-init="showStereo=false"
    ng-src='@ix.ginas.controllers.routes.GinasApp.structure(s.getId(), "svg", size, null, version)&stereo={{showStereo}}'>
</div>
	@if(sub.structure.stereoCenters!=0){
	<div class = "row">
		<div class="col-md-12 col-sm-12 col-xs-12 text-center stereo-button">
			<button class = "btn btn-primary reference-button " ng-click="showStereo=!showStereo" >
    <span ng-show="showStereo">Hide Stereo</span>
    <span ng-hide="showStereo">Show Stereo</span>
    </button>
		</div>
	</div>
	}
</div>
}

<div class="col-md-5 col-sm-5 col-xs-5">
	<div class="panel panel-default additional">
		<div class="panel-heading"> 
					<h3 class="panel-title flexbox">
						Details
					</h3>
		</div>
		
		<div class="table-responsive">
			<table class="table kv-table" id="moiety-table">
				<tr>
					<td>
						<span>Stereochemistry</span>
					</td>
					
					<td>
						@if(sub.structure.stereoChemistry == Structure.Stereo.ACHIRAL) {
							<span class="badge" id="badge-achiral">
								@sub.structure.stereoChemistry
							</span>
						}
						@if(sub.structure.stereoChemistry == Structure.Stereo.ABSOLUTE) {
							<span class="badge" id="badge-absolute">
								@sub.structure.stereoChemistry
							</span>
						}
						@if(sub.structure.stereoChemistry == Structure.Stereo.RACEMIC) {
							<span class="badge" id="badge-racemic">
								@sub.structure.stereoChemistry
							</span>
						}
						@if(sub.structure.stereoChemistry == Structure.Stereo.MIXED) {
							<span class="badge" id="badge-mixed">
								@sub.structure.stereoChemistry
							</span>
						}
						@if(sub.structure.stereoChemistry == Structure.Stereo.EPIMERIC) {
							<span class="badge" id="badge-epimeric">
								@sub.structure.stereoChemistry
							</span>
						}
						@if(sub.structure.stereoChemistry == Structure.Stereo.UNKNOWN) {
							<span class="badge" id="badge-unknown">
								@sub.structure.stereoChemistry
							</span>
						}
					</td>
				</tr>
				
				<tr>
					<td><span>Molecular Formula</span></td>
					<td class="monospace">@sub.structure.formula</td>
				</tr>
				
				<tr>
					<td><span>Molecular Weight</span></td>
					<td class="monospace">@sub.structure.mwt</td>
				</tr>
				
				<tr>
					<td><span>Optical Activity</span></td>
					<td><span class="badge">
					@if(sub.structure.opticalActivity != null) {
						@sub.structure.opticalActivity.toValue()
					} else {
						Unspecified
					}
					</span></td>
				</tr>
				
				 @if(sub.structure.atropisomerism != NYU.No && sub.structure.atropisomerism !=null) {
				<tr>
					<td><span>Additional Stereochemistry</span></td>
					<td><span class="badge">@sub.structure.atropisomerism</span></td>
				</tr>
				}
			   
				<tr>
					<td><span>Defined Stereocenters</span></td>
					<td><span class="badge">@sub.structure.definedStereo / @sub.structure.stereoCenters</span></td>
				</tr>
				
				<tr>
					<td><span>E/Z Centers</span></td>
					<td><span class="badge">@sub.structure.ezCenters</span></td>
				</tr>
				
				<tr>
					<td><span>Charge</span></td>
					<td><span class="badge">@sub.structure.charge</span></td>
				</tr>
				
				@if(sub.structure.stereoComments != null && !sub.structure.stereoComments.equals("")) {
					<tr>
						<td><span>Stereo Comments</span></td>
						<td>@sub.structure.stereoComments</td>
					</tr>
				}

			</table>

				@if(sub.structure.getReferences() != null && sub.structure.getReferences().size > 0) {
			<div class = "structure-toggle">
			<a href ng-click="showAuditInfo=!showAuditInfo"  ng-hide="sysNames.length == 0">
				<span ng-show="showAuditInfo">Hide Audit Info <i class="fa fa-caret-up" aria-hidden="true"></i></span>
				<span ng-hide="showAuditInfo">Show Audit Info <i class="fa fa-caret-down" aria-hidden="true"></i></span>
						</a>
			</div>

			<div ng-show="showAuditInfo">
				<table class = "table kv-table" id = "overview-audit-table">
					<tr>
						<td>Created by</td>
						<td>@sub.structure.createdBy</td>
						<td>on @sub.structure.created</td>
					</tr>
					<tr>
						<td>Edited by</td>
						<td>@sub.structure.lastEditedBy</td>
						<td>on @sub.structure.lastEdited</td>
					</tr>
			</table>
		</div>
			}
		</div>
	</div>

</div>

<div class="col-md-6 col-sm-6 col-xs-6" ">
		@structureImage(sub.structure, 400, sub.version)
		</div>

 <div class="col-md-1 col-sm-1 col-xs-1">
		<div class = "row">
			<ul class= "structure-tools list-unstyled">
				<li class = "padded"> 
					<modal-button type= "export" structureid ="'@sub.structure.id'" format="mol" format2="sdf" >
					</modal-button>
				</li>
				<li class = "padded"><a ng-href="@ix.ginas.controllers.routes.GinasApp.structuresearch(sub.structure.id.toString())" tooltip-placement="auto right" uib-tooltip="Structure Search" target="_self" aria-label="Structure Search">
					<span class="sr-only">Structure Search</span>
					<span class="fa fa-2x fa-search success"></span></a>
				</li>
			</ul>
		</div>
</div>

<div class = "col-md-12 col-sm-12 col-xs-12 " ng-controller = "GinasController">
	<div class = 'structure-toggle' ng-init="setSysNames('@sub.getUuid')" ng-hide="sysNames.length == 0">
			<a href ng-click="showSysNames=!showSysNames" >
				<span ng-show="showSysNames">Hide Systematic Names <i class="fa fa-caret-up" aria-hidden="true"></i></span>
				<span ng-hide="showSysNames">Show Systematic Names <i class="fa fa-caret-down" aria-hidden="true"></i></span>
			</a>
	</div>
	<div ng-show ="showSysNames" ng-hide = "!showSysNames" class = "padded">
		<h4>Systematic Names:</h4>
		<ul>
			<li ng-show="sysNames.length == 0"><i>None recorded</i></li>
			<li ng-repeat = "name in sysNames" ng-bind-html="name"></li>
		</ul>

	</div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12" id="">
	<div class = 'structure-toggle'>
	<a href ng-click="showSmilesInchi=!showSmilesInchi">
		<span ng-show="showSmilesInchi">Hide SMILES / InChI <i class="fa fa-caret-up" aria-hidden="true"></i></span>
		<span ng-hide="showSmilesInchi">Show SMILES / InChI <i class="fa fa-caret-down" aria-hidden="true"></i></span>
	</a>
	</div>
	<div  ng-show="showSmilesInchi" class = "padded">
	<div class="panel panel-default additional">
		<div class="panel-heading"> 
					<h3 class="panel-title">
						SMILES
					</h3>
		</div>
	
		<div class="panel-body additional-data">

				<div class="monospace" modal-scope-binding = "smiles">
				@sub.structure.smiles
			</div>
		</div>
	</div>
	
	@defining(sub.structure.getInChIKey()) { inchikey =>
		@defining(sub.structure.getInChI()) { inchi =>

			<div class="panel panel-default additional">
			
				@if(inchikey!=null || inchi!=null){
					<div class="panel-heading"> 
								<h3 class="panel-title">
									InChI
								</h3>
					</div>
				}

				@if(inchikey!=null){
					<div class="panel-body additional-data">
							<div class="monospace" modal-scope-binding = "inchikey">
									@inchikey
						</div>
					</div>
				}
				
				@if(inchi!=null){
					<div class="panel-body additional-data">
							<div class="monospace" modal-scope-binding = "inchi">
									@inchi
						</div>
					</div>
				}
					
			</div>
		}
	}
			
</div>   
</div>
