@import ix.ginas.controllers.v1.SubstanceFactory
@import ix.ginas.models.v1.{ChemicalSubstance, SubstanceReference}
@(sub: SubstanceReference)
    @defining(SubstanceFactory.getFullSubstance(sub)) { ref =>
        <div class="col-md-3 text-center thumb-col">
            		  @if(ref != null) {
            		  	@ref.approvalID
            		  }else{
            		    <i>Substance not yet imported</i> <br />
            		  }
                    @if(ref != null) {
						@if(ref.getClass.toString.equals("class ix.ginas.models.v1.ChemicalSubstance")){
	                            	<img class="struc-thumb img-responsive" alt="Structure of @ref.getName()" title="Structure of @ref.getName()"
	                                src='@ix.ginas.controllers.routes.GinasApp.structure(ref.asInstanceOf[ChemicalSubstance].structure.getId, "svg", 150)'>
	                            		
	                            }else{
	                             	@if(ref.getClass.toString.equals("class ix.ginas.models.v1.StructurallyDiverseSubstance")){
										<img src="@routes.Assets.at("ginas/images/structurally-diverse.svg")" alt="Structurally Diverse Substance" class = "img-responsive subrefThumb"/>
											}else{
	                                	@if(ref.getClass.toString.equals("class ix.ginas.models.v1.ProteinSubstance")){
											<img src="@routes.Assets.at("ginas/images/protein.svg")" alt="Protein" class = "img-responsive subrefThumb"/>
	                                	}else{
		                                	@if(ref.getClass.toString.equals("class ix.ginas.models.v1.MixtureSubstance")){
		                                		<div class = "col-md-3">
													<img src="@routes.Assets.at("ginas/images/mixture.svg")" alt="Register a Mixture Substance" class = "img-responsive subrefThumb"/>
									            </div>
		                                	}else{
		                                		@if(ref.getClass.toString.equals("class ix.ginas.models.v1.PolymerSubstance")){
													<img src="@routes.Assets.at("ginas/images/polymer.svg")" alt="Polymer" class = "img-responsive subrefThumb"/>
												}else{
			                                		@if(ref.substanceClass.toString().equals("concept")){
														<img src="@routes.Assets.at("ginas/images/concept.svg")" alt="Concept" class = "img-responsive subrefThumb"/>
			                                		}else{
			                                			
			                                		}
			                                	}	
		                                	}	
	                                	}
	                                } 
	                            }
	                           }else{
	                            	<i class="fa fa-question-circle fa-4x "></i>
	                            }

                	 @if(ref != null) {
	                	@*
	                	This is making the route via the substance reference, rather than the expanded substance.
	                	This has not been very well standardized so far. 
	                	
	                	*@
	                    <a href="@ix.ginas.controllers.routes.GinasApp.substance(sub.getLinkingID())" target="_self">@sub.refPname</a>
	                    
                    } else {
	                  
	                	@sub.refPname
	                }
                </div>
    }
