@import ix.ginas.controllers.v1.SubstanceFactory
@import ix.ginas.models.v1.{ChemicalSubstance, SubstanceReference}
@(sub: SubstanceReference)
    @defining(SubstanceFactory.getFullSubstance(sub)) { ref =>
        <div class="text-center thumb-col">
            		  @if(ref != null) {
            		  	<div><code><a href="@ix.ginas.controllers.routes.GinasApp.substance(sub.getLinkingID())" target="_self">@ref.approvalID</a></code></div>
            		  }else{
            		   <div><i><code>@sub.approvalID</code></i></div>
            		  }
                    @if(ref != null) {
						<div>
						@if(ref.getClass.toString.equals("class ix.ginas.models.v1.ChemicalSubstance")){

	                            	<img class="struc-thumb img-responsive subref" alt="Structure of @ref.getName()" title="Structure of @ref.getName()"
	                                src='@ix.ginas.controllers.routes.GinasApp.structure(ref.asInstanceOf[ChemicalSubstance].structure.getId, "svg", 150)'>
	                            		
	                            }else{
	                             	@if(ref.getClass.toString.equals("class ix.ginas.models.v1.StructurallyDiverseSubstance")){
										<img src="@routes.Assets.at("ginas/images/structurally-diverse.svg")" alt="Structurally Diverse Substance" class = "img-responsive subrefThumb"/>
											}else{
	                                	@if(ref.getClass.toString.equals("class ix.ginas.models.v1.ProteinSubstance")){
											<img src="@routes.Assets.at("ginas/images/protein.svg")" alt="Protein" class = "img-responsive subrefThumb"/>
	                                	}else{
		                                	@if(ref.getClass.toString.equals("class ix.ginas.models.v1.MixtureSubstance")){
		                                		<img src="@routes.Assets.at("ginas/images/mixture.svg")" alt="Mixture Substance" class = "img-responsive subrefThumb"/>
											}else{
		                                		@if(ref.getClass.toString.equals("class ix.ginas.models.v1.PolymerSubstance")){
													<img src="@routes.Assets.at("ginas/images/polymer.svg")" alt="Polymer" class = "img-responsive subrefThumb"/>
												}else{
			                                		@if(ref.substanceClass.toString().equals("concept")){
														<img src="@routes.Assets.at("ginas/images/concept.svg")" alt="Concept" class = "img-responsive subrefThumb"/>
			                                		}else{
														@if(ref.substanceClass.toString().equals("specifiedSubstanceG1")){
															<img src="@routes.Assets.at("ginas/images/g1ss.svg")" alt="G1SS" class = "img-responsive subrefThumb"/>
														}else{
															}


			                                		}
			                                	}	
		                                	}	
	                                	}
	                                } 
	                            }
						</div>
	                           }else{
	                            	
	                           }

                	 @if(ref != null) {
	                	@*
	                	This is making the route via the substance reference, rather than the expanded substance.
	                	This has not been very well standardized so far. 
	                	*@
	                	<div>
	                    <a href="@ix.ginas.controllers.routes.GinasApp.substance(sub.getLinkingID())" target="_self">@sub.refPname</a>
	                    </div>
                    } else {
	                	<div>
	                	<div>@sub.refPname</div>
	                	<div><em>(not present in database)</em></div>
	                	</div>
	                }
                </div>
    }
