@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.v1.SubstanceFactory
@import ix.ginas.models.v1.{Substance, Relationship}




@(sub: Substance)

        @for(sref <- sub.getChildConceptReferences()) {
						@if(SubstanceFactory.getFullSubstance(sref) != null) {
                            <div class="col-md-3">
			                	@subref(sref)
			                </div>
                        }else{
                            <div class="col-md-3 text-center thumb-col">
                                <div class="panel panel-default">
                                    <div class = "panel-body">
                            			<i>Concept not yet imported</i> <br />
                        			</div>
		                    		<div class = "panel-footer">
		                    			@Html(sref.getHtmlName())
		                    		</div>
                         		</div>
                            </div>
                    	}
        }
