@import ix.core.models.Structure
@import ix.ginas.models.v1.GinasChemicalStructure
@import ix.ginas.controllers.GinasApp

@(sub: ix.ginas.models.v1.ChemicalSubstance)


@structureImage(s: Structure, size: Integer) = {
    <img class="struc-thumb img-responsive" alt="Structure of @sub.getName" title="Structure of @sub.getName"
    src='@ix.ginas.controllers.routes.GinasApp.structure(s.getId(), "svg", size)'>
}

@substancedetails(sub) {
    <li role="presentation"><a href="#structureDetails" prevent-default="" ng-click="scrollTo('structureDetails')">
        Structure</a></li>
    @if(sub.moieties.size > 0) {
        <li role="presentation"><a href="#moieties" prevent-default="" ng-click="scrollTo('moieties')" >
            Moieties <span class="badge pull-right">@sub.moieties.size</span></a></li>
    }
} {
    <div></div>
} {
    <div class="row info" id="structureDetails">
        <h3>
            <span class="label label-primary label-offset" id = "struc-label">Structure</span>
        </h3>
        <div class="col-md-5">
            <div class = "row">
            @structureImage(sub.structure, 400)
            </div>
            <div class = "row">
                <div class = "col-md-6 col-md-offset-6">
                    <ul class= "list-inline pull-right list-unstyled">
                        <li class = "padded"> <export-button structureid ="'@sub.structure.id'" format="'sdf'" ></export-button></li>
                        <li class = "padded"><a ng-href="@ix.ginas.controllers.routes.GinasFactory.structuresearch()" uib-tooltip="search for structure" target="_self" ng-click="passStructure('@sub.structure.id')" class="btn btn-primary" aria-label="Structure Search">
                            <span class="sr-only">Structure Search</span>
                            <span class="fa fa-search chem-button"></span></a>
                        </li>
                        <li class = "padded">
                            <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(sub))" target="_self" uib-tooltip="edit substance" class="btn btn-primary" aria-label="Edit Substance">
                                <span class="sr-only">Edit Substance</span>
                                <span class="fa fa-pencil"></span></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="table-responsive">
                <table class="table table-striped moiety-Table">
                    <tr>
                        <td><strong>Stereochemistry</strong></td>
                        <td><span class="badge">@sub.structure.stereoChemistry</span></td>
                    </tr>
                    <tr>
                        <td><strong>Optical Activity</strong></td>
                        <td><span class="badge">
                        @if(sub.structure.opticalActivity != null) {
                            @sub.structure.opticalActivity.toValue()
                        } else {
                            Unspecified
                        }
                        </span></td>
                <tr>
                    <td><strong>Additional Stereochemistry</strong></td>
                    <td><span class="badge">@sub.structure.atropisomerism</span></td>
                </tr>
                    <tr>
                        <td><strong>Molecular Formula</strong></td>
                        <td>@sub.structure.formula</td>
                    </tr>
                    <tr>
                        <td><strong>Molecular Weight</strong></td>
                        <td>@sub.structure.mwt</td>
                    </tr>
                    <tr>
                        <td><strong>Defined Stereocenters</strong></td>
                        <td><span class="badge">@sub.structure.definedStereo / @sub.structure.stereoCenters</span></td>
                    </tr>
                    <td><strong>EZ Centers</strong></td>
                    <td><span class="badge">@sub.structure.ezCenters</span></td>
                    <tr>
                        <td><strong>Charge</strong></td>
                        <td><span class="badge">@sub.structure.charge</span></td>
                    </tr>
                    @if(sub.structure.stereoComments != null) {
                        <tr>
                            <td><strong>StereoComments</strong></td>
                            <td>@sub.structure.stereoComments</td>
                        </tr>
                    }
                    @if(sub.structure.getReferences() != null && sub.structure.getReferences().size > 0) {
                        <tr>
                            <td><strong>References</strong></td>
                            <td>
                                <referencesmanager indices substance ="'@sub.getUuid()'" divid ="'@sub.getUuid()'" references = "@GinasApp.getAsJson(sub.structure.getReferences())"></referencesmanager>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-12">
                <div class = "'@sub.getUuid()'"></div>
            </div>
        </div>
    </div>

    @if(sub.moieties.size > 0) {
        <div class="row info" id="moieties">
            <button class="btn btn-primary label-offset det">
                Moieties&nbsp;<span class="badge"> @sub.moieties.size</span></button>
            <div class="col-md-12">
            @for(m <- sub.moieties) {
                <div class ="row">
                    <hr>
                    <div class="col-md-4">
                        <rendered id= '@m.structure.id' size ="300"></rendered>
                    </div>
                    <div class ="col-md-8">
                        <div class = "row">
                            <div class = "col-md-12">
                                <div class="table-responsive">
                            <table class="table table-striped moiety-Table">
                                <tr>
                                    <td><strong>Molecular Formula</strong></td>
                                    <td>@m.structure.formula</td>
                                </tr>
                                @if(m.getCountAmount != null) {
                                    <tr>
                                        <td><strong>Count</strong></td>
                                        <td class="url"><amount value="@GinasApp.getAsJson(m.getCountAmount)"></amount></td>
                                    </tr>
                                </table>
                    </div>
                                </div>
                            </div>
                        <div class ="row">
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-striped moiety-Table">
                                <tr>
                                    <td><strong>Stereochemistry</strong></td>
                                    <td><span class="badge">@m.structure.stereoChemistry</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Optical Activity</strong></td>
                                    <td><span class="badge">
                                    @if(sub.structure.opticalActivity != null) {
                                        @m.structure.opticalActivity.toValue()
                                    } else {
                                        Unspecified
                                    }
                                    </span>
                                    </td>
                            <tr>
                                <td><strong>Additional Stereochemistry</strong></td>
                                <td><span class="badge">@m.structure.atropisomerism</span></td>
                            </tr>

                                }
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-striped moiety-Table">
                                <tr>
                                    <td><strong>Molecular Weight</strong></td>
                                    <td>@m.structure.mwt</td>
                                </tr>
                                <tr>
                                    <td><strong>Defined Stereocenters</strong></td>
                                    <td><span class="badge">@m.structure.definedStereo
                                        / @m.structure.stereoCenters</span>
                                    </td>
                                </tr>
                                <td><strong>EZ Centers</strong></td>
                                <td><span class="badge">@m.structure.ezCenters</span></td>
                                <tr>
                                    <td><strong>Charge</strong></td>
                                    <td><span class="badge">@m.structure.charge</span></td>
                                </tr>
                                @if(m.structure.stereoComments != null && m.structure.stereoComments != "") {
                                    <tr>
                                        <td><strong>StereoComments</strong></td>
                                        <td>@m.structure.stereoComments</td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                            </div>
                </div>
                    </div>
            }
            </div>
        </div>
    }
}