@(sub: ix.ginas.models.v1.MixtureSubstance)

@substancedetails(sub) {
    @if(sub.mixture.getParentSubstance!= null) {
        <li role="presentation"><a href="#parent" prevent-default="" ng-click="scrollTo('parent')" >
            Source Material Parent</a></li>
    }
    @if(sub.mixture.components.length > 0) {
        <li role="presentation"><a href="#components" prevent-default="" ng-click="scrollTo('components')" >
            Components <span class="badge pull-right">@sub.mixture.components.length</span></a></li>
    }
}{
    <div></div>
    } {
    @if(sub.mixture.getParentSubstance!= null){
    <div class="row info" id="parent">
        <button class="btn btn-primary label-offset det">
            Source Material Parent</button>
        <div class="col-md-12">
            <br>
        <div class="row">
                @properties.subref(sub.mixture.getParentSubstance)
        </div>
            </div>
        </div>
        }
    <div class="row info" id="components">
    @properties.components(sub.mixture.getMixture())
    </div>
}




