@import ix.ginas.controllers.GinasApp

@(sub: ix.ginas.models.v1.MixtureSubstance)

@substancedetails(sub) {

}{
    
    } {
    @if(sub.mixture.getReferences() != null && sub.mixture.getReferences().size() > 0) {
        <tr>
        <td>Definition References</td><td >
            <referencesmanager ref-count substance ="'@sub.getUuid()'" divid ="'@sub.getUuid()'" references = "@GinasApp.getAsJson(sub.mixture.getReferences())"></referencesmanager></td></tr>
        <tr>
        <td class ="'@sub.getUuid()'" colspan="2"></td>
        </tr>
    }
}{
	
}




