@import ix.ginas.controllers.GinasApp
@import be.objectify.deadbolt.java.views.html._
@import views.html._
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(sub: ix.ginas.models.v1.NucleicAcidSubstance)


<div class="row">
	<div class="col-md-7 col-xs-9" >
		<table class="table kv-table" id="moiety-table">
			<tr>
				<td>Substance Class</td>
				<td class="monospace flexbox">
					Nucleic Acid
				</td>
			</tr>
			
			@defining(sub.nucleicAcid.getNucleicAcidType()) { natype =>
			  @if(natype != null) {
				<tr>
					<td>Nucleic Acid Type</td>
					<td class="monospace">@GinasApp.getCV.getDisplay("NUCLEIC_ACID_TYPE", natype)</td>
				</tr>
			  }
			}
			@defining(sub.nucleicAcid.getNucleicAcidSubType()) { nastype =>
			    @if(nastype != null) {
					<tr>
						<td>Nucleic Acid Subtype</td>
						<td class="monospace">
							@for(st <- nastype) {
							  @GinasApp.getCV.getDisplay("NUCLEIC_ACID_SUB_TYPE", st)
							}
						</td>
					</tr>
			    }
			}
			@defining(sub.nucleicAcid.getSequenceOrigin()) { seqo =>
				@if(seqo != null) {
					<tr>
					  <td>Sequence Origin</td>
					  <td class="monospace">@GinasApp.getCV.getDisplay("NUCLEIC_ACID_SEQUENCE_ORIGIN", seqo)</td>
					</tr>
				}
			}
			@defining(sub.nucleicAcid.getSequenceType()) { seqt =>
				@if(seqt != null) {
					<tr>
					  <td>Sequence Type</td>
					  <td class="monospace">@GinasApp.getCV.getDisplay("SEQUENCE_TYPE", seqt)</td>
					</tr>
				}
			}
			
			@overview(sub)
		</table>
	</div>
	@overviewexport(sub)
</div>
