@import ix.core.models.Structure
@import ix.ginas.models.v1.NucleicAcidSubstance
@import ix.ginas.models.v1.NucleicAcid
@import ix.ginas.controllers.GinasApp

@(sub: ix.ginas.models.v1.NucleicAcidSubstance)

@substancedetails(sub) {
    <li role="presentation" class="active"><a href="#subunits">Subunits
        <span class= "badge pull-right">@sub.nucleicAcid.getSubunits().size()</span></a>
    </li>
    <li role="presentation" ><a href="#sugars">Sugars
        <span class= "badge pull-right">@sub.nucleicAcid.getSugars().size()</span></a>
    </li>
    <li role="presentation" ><a href="#linkages">Linkages
        <span class= "badge pull-right">@sub.nucleicAcid.getLinkages().size()</span></a>
    </li>
}{
    <div class ="col-md-4">
        <dl>
        @defining(sub.nucleicAcid.getNucleicAcidType()) { natype =>
            @if(natype != null) {
                <dt>Protein Type<dt>
                <dd>
                @GinasApp.getCV.getDisplay("NUCLEICACID_TYPE", natype)
                </dd>
            }
        }

            @defining(sub.nucleicAcid.getNucleicAcidSubType()) { nastype =>
                @if(nastype != null) {
                <dt>Protein Type<dt>
                <dd>
                    @for(st <- nastype) {
                        @GinasApp.getCV.getDisplay("NUCLEIC_ACID_SUB_TYPE", st)
                    }
                </dd>
            }
            }

                @defining(sub.nucleicAcid.getSequenceOrigin()) { seqo =>
                    @if(seqo != null) {
                        <dt>Sequence Origin</dt>
                        <dd>
                        @GinasApp.getCV.getDisplay("NUCLEIC_ACID_SEQUENCE_ORIGIN", seqo)
                        </dd>
                    }
                }

                    @defining(sub.nucleicAcid.getSequenceType()) { seqt =>
                        @if(seqt != null) {
                            <dt>Sequence Type</dt>
                            <dd>
                            @GinasApp.getCV.getDisplay("SEQUENCE_TYPE", seqt)
                            </dd>
                        }
                    }

        </dl>

    </div>
    } {
<div class="row info" id="subunits">
        <div class = "row">
            <div class="col-md-4">
                <button class="btn btn-primary label-offset det">
                    Subunits&nbsp;<span class="badge head"> @sub.nucleicAcid.getSubunits().size()</span></button>
            </div>
            <div class = "col-md-2 pull-right">
                <form class="form" name="numbers-select" id = "numbers-select">
                    <switch id="numbers" name="numbers" ng-model="numbers" on='<i class="fa fa-list-ol fa-2x"></i>' off='<i class="fa fa-bars fa-2x"></i>'></switch>
                </form>
            </div>
        </div>
        <div class = "col-md-12">
            @for(i <- 0 until sub.nucleicAcid.getSubunits.size()) {
                <subunit uuid="'@sub.uuid'" index ='@i' view='subunits' numbers="numbers"></subunit>
            }
         @*   <br/>
        @for(i <- 0 until sub.nucleicAcid.getSubunits().size()) {
            @for(s <- sub.nucleicAcid.getSubunits()) {
                @if(s.subunitIndex == i + 1) {
                    <div class="panel panel-default subunit-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Subunit @s.subunitIndex</h3>
                        </div>
                        <div class="panel-body">
                            <div class = "row">
                            @defining(s.sequence.toArray) { sequence =>
                                @defining(s.sequence.length) { length =>
                                    @for(j <- 0 until (length / 10)) {
                                        <div class = "col-md-2 aaBlock">
                                            <div class = "row">
                                                <div class = "col-md-12 text-right">
                                                    <span class = "count" ng-hide="numbers">@((j + 1) * 10)</span>
                                                </div>
                                            </div>
                                            <div class = "row">
                                                <div class = "col-md-12 string">
                                                @defining(s.sequence.subSequence((j * 10), ((j + 1) * 10))) { subArr =>
                                                    @for(k <- 0 until subArr.length) {
                                                        @defining(k + (j * 10) + 1) { index =>
                                                            <span class = "highlight @GinasApp.siteCheckNA(sub.nucleicAcid, s.subunitIndex, index)" tooltip="@s.subunitIndex-@index @subArr.charAt(k):@GinasApp.getNAName(subArr.charAt(k))">@subArr.charAt(k)</span>
                                                        }
                                                    }
                                                }
                                                </div>
                                            </div>
                                        </div>
                                    }

                                <div class = "col-md-2 aaBlock">
                                    <div class = "row">
                                        <div class = "col-md-12 text-right">
                                            <span class = "count" ng-hide="numbers">@length</span>
                                        </div>
                                    </div>
                                    <div class = "row">
                                        <div class = "col-md-12 string">
                                        @defining(s.sequence.subSequence((length - length % 10), (length))) { subArr =>
                                            @for(k <- 0 until subArr.length) {
                                                @defining(length - length % 10) { index =>
                                                    <span class = "highlight @GinasApp.siteCheckNA(sub.nucleicAcid, s.subunitIndex, (index + k + 1))" tooltip="@s.subunitIndex-@(index + k + 1) @subArr.charAt(k):@GinasApp.getNAName(subArr.charAt(k))">@subArr.charAt(k)</span>

                                                }
                                            }
                                        </div>
                                        }

                                </div>
                                </div>
                                </div>
                        </div>
                    </div>

                }
                }
                }

            }
        }*@
        </div>
    </div>
	@defining(sub.nucleicAcid.getSugars().length) { count =>
        @if(count > 0) {
            <div class="row info" id="sugars">
                <button class="btn btn-primary label-offset det">
                    Sugars&nbsp;<span class="badge head"> @count</span></button>
                <div class="col-md-12">
                    <table class="table table-striped" id="otherLinks-Table">
                        <thead>
                            <tr><th>Sugar</th>
                                <th>Site Range</th>
                                <th>Site Count</th>
                            </tr>
                        </thead>
                        @for(sugar <- sub.nucleicAcid.getSugars()) {
                            <tr>
                                <td>@GinasApp.getSugarName(sugar)</td>
                                <td>@sugar.getSitesShorthand()</td>
                                <td>@sugar.getSites().size() / @GinasApp.totalSites(sub)</td>                            </tr>
                        }

                    </table>
                </div>
            </div>
        }
    }
    @defining(sub.nucleicAcid.getLinkages().length) { count =>
        @if(count > 0) {
            <div class="row info" id="linkages">
                <button class="btn btn-primary label-offset det">
                    Linkages&nbsp;<span class="badge head"> @count</span></button>
                <div class="col-md-12">
                    <table class="table table-striped" id="otherLinks-Table">
                        <thead>
                            <tr><th>Linkage</th>
                                <th>Site Range</th>
                                <th>Site Count</th>
                            </tr>
                        </thead>
                        @for(linkage <- sub.nucleicAcid.getLinkages()) {
                            <tr>
                                <td>@GinasApp.getLinkageName(linkage)</td>
                                <td>@linkage.getSitesShorthand()</td>
                                <td>@linkage.getSites().size() / @GinasApp.totalSites(sub, false)</td>                            </tr>
                        }

                    </table>
                </div>
            </div>
        }
    }

}
