@import ix.ginas.controllers.GinasApp
@import be.objectify.deadbolt.java.views.html._
@import views.html._
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler
@import ix.ginas.models.v1.Substance

@(sub: Substance)
@* 
this template is for part of the record details card 
it is used by *name*overview.scala.html files, where *name* is chemical, mixture, etc.
it contains export button information
*@

	 
<div class = "col-md-3 col-xs-3 pull-right">
	<div class= "list-inline pull-right list-unstyled" id = "button-container" style="">

		<div class = "align-right" >
			<download-button uuid="@sub.getUuid" format=format id = "download-button">Download</download-button>
		</div>

		@dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
		<div class = "align-right" > <a href="@routes.Assets.at("gsrs2/index.html")#/substance/@sub.getUuid()/names"
			target="_blank"

			aria-label="Edit Substance">
			<span class="sr-only">Edit New Form</span>

			<i class="fa fa-pencil fa-2x" aria-hidden="true" id = "newform-button" uib-tooltip="New Form"></i>
			</a>
		</div>
		<div class = "align-right" >
				<a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(sub))" 
				target="_self" 

				aria-label="Edit Substance">
					<span class="sr-only">Edit Substance</span>
				<i class="fa fa-pencil fa-2x success" id = "edit-button" uib-tooltip="Edit Substance"></i>
				</a>
		</div>



		}


	</div>
</div>
                       