@import ix.ginas.controllers.GinasApp
@import be.objectify.deadbolt.java.views.html._
@import views.html._
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler
@import ix.ginas.models.v1.Substance
@import ix.ginas.controllers.v1.SubstanceFactory
@import ix.ginas.controllers.GinasSrsApp
@(sub: Substance)
@* 
this template is for part of the Record Details card 
it is used by *name*overview.scala.html files, where *name* is chemical, mixture, etc.
basically supplies a few <tr> tags with 'record details'
*@

@*
deprecated early version                    
<div class="col-md-7">
	<table class="table table-striped kv-table">
		<tbody>
*@



<tr>
	<td>Record UNII</td>
	<td>
		<div class= "monospace">@sub.getApprovalIDDisplay()</div>
	</td>
</tr>
@if(GinasSrsApp.getBdNum(sub).isPresent()){
		<tr>
			<td>BDNUM</td>
			<td>
				<div class="monospace">@GinasSrsApp.getBdNum(sub).get()</div>
			</td>
		</tr>
}


<tr>
	<td>Record Status</td>
	<td>
	  <code class="monospace-code">@sub.getDisplayStatus()</code>
	</td>
</tr>
<tr>
	<td>Record Version</td>
	<td>
		<code class="monospace-code"> 
			<select style="width: 30%;" 
			aria-label="version" 
			ng-init ="versionNumber = '@sub.version'" 
			ng-model = "versionNumber" 
			ng-model-options="{ getterSetter: true }" 
			ng-change = "redirectVersion(versionNumber)">
				<option ng-repeat="v in getRange(1, '@SubstanceFactory.getMaxVersionForSubstance(sub.uuid).orElse(1)')">{{v}}</option>
			</select>
		</code>
	</td>
</tr>
@if(sub.isDeprecated()) {
<tr>
	<td>Record Status</td>
	<td>
		<code class="alert-important text-uppercase">Record is Deprecated</code>
	</td>
</tr>
}

@substancedetailsoverview(sub)



@*
deprecated early version                    
		</tbody>
	</table>                               
</div>
*@ 

@*	
deprecated early version                     
<div class = "col-md-3 pull-right">
	<h5>Substance ID:</h5>
	@if(sub.isSubstanceVariant()) {
		<h3 class= "appid subconcept"> @sub.getApprovalIDDisplay()</h3>
	} else {
		<h3 class= "appid">@sub.getApprovalIDDisplay()</h3>
	}
	<div class = "pull-right">
		<ul class= "list-inline pull-right list-unstyled">
			@dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
				<li>
					<a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(sub))" 
					target="_self" 
					uib-tooltip="Edit Substance" 
					aria-label="Edit Substance">
						<span class="sr-only">Edit Substance</span>
						<span class="fa fa-pencil fa-2x success"></span>
					</a>
				</li>
			}
			<li> 
				<download-button uuid="@sub.getUuid" format=format>Download</download-button>
			</li>
		</ul>
	</div>
</div>
*@                    
@*   
deprecated early version                    
<div style="position:absolute;bottom:0px; width:60%">
		<div class = "row">
			<div class = "col-md-4">
			   <i>Show audit details:</i>
			</div>
			<div class = "col-md-2">
			   <input  type="checkbox" ng-model="audit" />
			</div>
		</div>
</div>
*@