@import ix.ginas.controllers.GinasApp
@import be.objectify.deadbolt.java.views.html._
@import views.html._
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler
@import ix.ginas.models.v1.Substance
@import ix.ginas.controllers.v1.SubstanceFactory
@(sub: Substance)
@* 
this template is for part of the Record Details card 
it is used by *name*overview.scala.html files, where *name* is chemical, mixture, etc.
basically supplies a few <tr> tags with 'record details'
*@



<tr>
	<td>Record @ix.ginas.utils.GinasUtils.getApprovalIdGenerator().getName()</td>
	<td>
		<div class= "monospace">@sub.getApprovalIDDisplay()</div>
	</td>
</tr>


<tr>
	<td>Record Status</td>
	<td>
	  <code class="monospace-code">@sub.getDisplayStatus()</code>
	</td>
</tr>
<tr>
	<td>Record Version</td>
	<td>
		<code class="monospace-code"> 
			<select style="width: 30%;" 
			aria-label="version" 
			ng-init ="versionNumber = '@sub.version'" 
			ng-model = "versionNumber" 
			ng-model-options="{ getterSetter: true }" 
			ng-change = "redirectVersion(versionNumber)">
				<option ng-repeat="v in getRange(1, '@SubstanceFactory.getMaxVersionForSubstance(sub.uuid).orElse(1)')">{{v}}</option>
			</select>
		</code>
	</td>
</tr>

@defining(sub.getMostRecentVersion()) { version =>
			@if(version != sub.version){
<tr>
<td colspan=2><code>This is an older version of the record</code>
@dynamic(name = IxDynamicResourceHandler.IS_ADMIN, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
	<div><button class="btn btn-warning " onclick="restoreVersion('@sub.uuid','@sub.version')">Restore this version</button></div>
}
</td>
</tr>
			}
		}


@if(sub.isDeprecated()) {
<tr>
	<td>Record Status</td>
	<td>
		<code class="alert-important text-uppercase">Record is Deprecated</code>
	</td>
</tr>
}

@substancedetailsoverview(sub)
