@import ix.ginas.controllers.GinasApp
@import be.objectify.deadbolt.java.views.html._
@import views.html._
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(sub: ix.ginas.models.v1.PolymerSubstance)

<div class="row">
	<div class="col-md-7  col-xs-9" >
		<table class="table kv-table" id="moiety-table">
			<tr>
				<td>Substance Class</td>
				<td class="monospace flexbox">
					Polymer
				</td>
			</tr>
			@overview(sub)
		</table>
	</div>
	@overviewexport(sub)
</div>