@import ix.ginas.controllers.GinasApp
@import be.objectify.deadbolt.java.views.html._
@import views.html._
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(sub: ix.ginas.models.v1.PolymerSubstance)

<div class="row">
	<div class="col-md-7  col-xs-9" >
		<table class="table kv-table" id="moiety-table">
			<tr>
				<td>Substance Class</td>
				<td class="monospace flexbox">
					Polymer
				</td>
			</tr>
			@overview(sub)
			@if(sub.polymer.getReferences() != null && sub.polymer.getReferences().size() > 0) {
			<tr>
				<td>
					<a href ng-click = "showAuditInfo=!showAuditInfo"   ng-show = "!showAuditInfo" ng-hide = "showAuditInfo"  >Show Definitional References <i class="fa fa-caret-down" aria-hidden="true"></i></a>
					<a ng-click = "showAuditInfo=!showAuditInfo"  ng-show = "showAuditInfo" ng-hide = "!showAuditInfo" >Hide Definitional References <i class="fa fa-caret-up" aria-hidden="true"></i></a>
				</td>
			</tr>
			}
		</table>
	</div>
	@overviewexport(sub)
</div>

<div ng-show="showAuditInfo">
	<label>References:</label>
	<referencesmanager reftable hide-header="true"
					   show='["cit"]'
					   substance ="'@sub.uuid'"
					   version ="'@sub.version'"
					   sreferences = "@GinasApp.getAsJson(sub.polymer.getReferences())" >
	</referencesmanager>
</div>