@import ix.core.models.Structure
@import ix.ginas.models.v1.GinasChemicalStructure
@import ix.ginas.models.v1.PolymerSubstance
@import ix.ginas.models.v1.Material
@import ix.ginas.models.v1.Unit
@import ix.ginas.models.v1.Polymer
@import ix.ginas.models.v1.ChemicalSubstance
@import ix.ginas.models.v1.SubstanceReference

@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.v1.SubstanceFactory


@(sub: ix.ginas.models.v1.PolymerSubstance)


@structureImage(s: Structure, size: Integer, showstereo: Boolean = false) = {
    <img class="struc-thumb img-responsive" alt="Display Structure of @sub.getName" title="Display Structure of @sub.getName"
    src='@ix.ginas.controllers.routes.GinasApp.structure(s.getId(), "svg", size)'>
    @if(showstereo){
     <table class="table">
        <thead>
            <tr>
                    <th>Stereochemistry</th>
                    <th>Optical Activity</th>
                    <th>Additional Stereochemistry</th>
            </tr>
        </thead>
    <tr>
    <td><span class="badge">@s.stereoChemistry</span></td>
            <td><span class="badge">
            @if(s.opticalActivity!=null){
                @s.opticalActivity.toValue()
            }else{
                @s.opticalActivity
            }
            </span></td>
            <td><span class="badge">@s.atropisomerism</span></td>
            </tr>
         @if(sub.polymer.getReferences() != null && sub.polymer.getReferences().size() > 0) {
             <tr><td>Definition References</td><td >
                 <referencesmanager ref-count substance ="'@sub.getUuid()'" divid ="'@sub.getUuid()'" references = "@GinasApp.getAsJson(sub.polymer.getReferences())"></referencesmanager></td></tr>
             <tr><td class ="'@sub.getUuid()'" colspan="2"></td></tr>
         }
            </table>
    }
    
}
@showMonomers(monomers: List[Material]) = {
 <div class="table-responsive">
    <table class="table ">
        <thead>
            <tr>
                <th>Material</th>
                <th>Material Name</th>
                <th>Amount</th>
                <th>Type</th>
            </tr>
        </thead>       
        
        @for(m <- monomers) {
            <tr>
                @substanceRefThumb(m.monomerSubstance)
                <td>
                @defining(m.monomerSubstance) { sub =>
                    @if(sub != null && sub.getLinkingID() != null) {
                    	@defining(SubstanceFactory.getFullSubstance(sub)) { ref =>
	                    	@if(ref!=null){
	                        	<a href="@ix.ginas.controllers.routes.GinasApp.substance(sub.getLinkingID())" target="_self">@sub.refPname</a>
	                        }else{
		                        <div>@sub.refPname</div>
		                        <div><em><small>(not in database)</small></em></div>
	                        }
                        }
                    }
                }
                </td>
                <td><amount value="@GinasApp.getAsJson(m.amount)"></amount></td>
                <td><span class="badge">@{m.`type`}</span></td>
            </tr>
        }    
    </table>
 </div>

}

@showSRUs(units: List[Unit]) = {
 <div class="table-responsive">
    <table class="table ">
        <thead>
            <tr>
                <th>SRU</th>
                <th>Label</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Connectivity</th>
            </tr>
        </thead>       
        
        @for(m <- units) {
            <tr>
                <td><span><rendered id= '@m.uuid' size ="300"></rendered></span></td>
                <td><span class="badge badge-primary">@m.label</td>
                <td>
                @if(m.amount!=null) {
                    @* <span class="badge badge-primary">

                    @{m.amount.`type`}</span>&nbsp;&nbsp;@Html(m.amount.toString())
                    *@
                    <amount value="@GinasApp.getAsJson(m.amount)"></amount>
                }
                
                </td>
                <td><span class="badge">@{m.`type`}</span></td>
                <td>
                    @if(m.getAttachmentMap().size() > 0) {
                        @m.getAttachmentMap().toString()
                    }
                </td>
            </tr>
        }    
    </table>
 </div>

}

@substanceRefThumb(subref : SubstanceReference) ={
                @if(SubstanceFactory.getFullSubstance(subref) != null) {
                    @defining(SubstanceFactory.getFullSubstance(subref)) { ref =>
                        <td>
                            @if(ref.getClass.toString.equals("class ix.ginas.models.v1.ChemicalSubstance")) {
                                <img class="struc-thumb img-responsive" alt="Structure of @ref.getName()" title="Structure of @ref.getName()"
                                src='@ix.ginas.controllers.routes.GinasApp.structure(ref.asInstanceOf[ChemicalSubstance].structure.getId, "svg", 150)'>
                            } else {
                                @if(ref.getClass.toString.equals("class ix.ginas.models.v1.StructurallyDiverseSubstance")) {

                                } else {
                                    @if(ref.getClass.toString.equals("class ix.ginas.models.v1.ProteinSubstance")) {
                                        <img src="@routes.Assets.at("ginas/images/proteinHolder.png")" class="img-responsive" id="" />
                                    } else {
                                        @if(ref.getClass.toString.equals("class ix.ginas.models.v1.MixtureSubstance")) {
                                            <div class = "col-md-3">
                                                <div class = "row">
                                                    <div class = "col-md-1 pour">
                                                        <i class="fa fa-flask fa-4x fa-rotate-90"></i>
                                                    </div>
                                                </div>
                                                <div class ="row">
                                                    <div class = "col-md-1 col-md-offset-1">
                                                        <i class="fa fa-flask fa-4x"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        } else {
                                            @if(ref.getClass.toString.equals("class ix.ginas.models.v1.PolymerSubstance")) {

                                            } else {
                                                @if(ref.substanceClass.equals("concept")) {
                                                    <i class="fa fa-cloud fa-4x "></i>
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        </td>
                    }
                } else {
                    <td><i>Substance not yet imported</i></td>

                }
}

@makeTable(s: GinasChemicalStructure, stype: String) = {
    <div class="table-responsive">
    <table class="table @stype-Table">
        <thead>
            <tr>
                @if(stype == "monomer") {
                    <th>Monomer Name</th>
                    <th>Moiety Count</th>
                    <th>Moiety Stereochemistry</th>
                    <th>Moiety Optical Activity</th>
                    <th>Moiety Additional Stereochemistry</th>
                }
                <th>Molecular Formula</th>
                <th>Molecular Weight</th>
                <th>Defined Stereocenters</th>
                <th>EZ Centers</th>
                <th>Charge</th>
                @if(stype != "moiety") {
                    <th>Reference</th>
                }
            </tr>
        </thead>
        
        @fillTable(s, stype)
    </table>
        </div>
}


@fillTable(s: GinasChemicalStructure, stype: String) = {
@if(stype == "structure") {
    <tr>
        <td>@s.formula</td>
        <td>@s.mwt</td>
        <td><span class="badge">@s.definedStereo / @s.stereoCenters</span></td>
        <td><span class="badge">@s.ezCenters</span></td>
        <td><span class="badge">@s.charge</span></td>
        @properties.referencetable(GinasApp.getStructureReferences(s), "hi", 6)
    </tr>
}
}
@substancedetails(sub){

    <li role="presentation"  class="active"><a href="#structureDetails" prevent-default="" ng-click="scrollTo('structureDetails')">Display Structure</a></li>
    <li role="presentation"  class="active"><a href="#monomers" prevent-default="" ng-click="scrollTo('monomers')">Monomers <span class="badge pull-right">@sub.polymer.monomers.size()</span></a></li>
    <li role="presentation"  class="active"><a href="#srus" prevent-default="" ng-click="scrollTo('srus')">Structural Repeat Units <span class="badge pull-right">@sub.polymer.structuralUnits.size()</span></a></li>
    }{
    <div></div>
} {
    <div class="row info" id="structureDetails">
        <button class="btn btn-primary label-offset det" ng-init = "polystrucscollapse =true" ng-click = "polystrucscollapse = !polystrucscollapse">
            <i ng-show="polystrucscollapse" class="fa fa-caret-right"></i>
            <i ng-hide="polystrucscollapse" class="fa fa-caret-down"></i>
            Display Structure&nbsp;</button>
        <div uib-collapse = "polystrucscollapse">
        <div class="col-md-5">
            <div class = "row">
            @structureImage(sub.polymer.displayStructure, 400,true)
            </div>
            <div class = "row">
                <div class = "col-md-6 col-md-offset-6">
                    <ul class= "list-inline pull-right list-unstyled" id = "exportSave">
                        <li  class = "padded"> <modal-button type= "export" structureid ="'@sub.polymer.getUuid'" format="mol" format2="sdf" ></modal-button>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">@makeTable(sub.polymer.displayStructure, "structure")</div>
            </div>
    </div>
    @if(sub.polymer.monomers!=null && sub.polymer.monomers.length > 0) {
        <div class="row info" id="monoxmers">
            <button class="btn btn-primary label-offset det" ng-init = "monomerscollapse =true" ng-click = "monomerscollapse = !monomerscollapse">
                <i ng-show="monomerscollapse" class="fa fa-caret-right"></i>
                <i ng-hide="monomerscollapse" class="fa fa-caret-down"></i>
                Monomers&nbsp;<span class="badge"> @sub.polymer.monomers.length</span></button>
            <div class="col-md-12" uib-collapse = "monomerscollapse">
                @showMonomers(sub.polymer.monomers)
            </div>
        </div>
    }
    @if(sub.polymer.structuralUnits.length > 0) {
        <div class="row info" id="srus">
            <button class="btn btn-primary label-offset det" ng-init = "sruscollapse =true" ng-click = "sruscollapse = !sruscollapse">
                <i ng-show="sruscollapse" class="fa fa-caret-right"></i>
                <i ng-hide="sruscollapse" class="fa fa-caret-down"></i>
                Structural Units&nbsp;<span class="badge"> @sub.polymer.structuralUnits.length</span></button>
            <div class="col-md-12" uib-collapse = "sruscollapse">
                
                @showSRUs(sub.polymer.structuralUnits)
                
            </div>
        </div>
    }

}

