@import ix.core.models.Structure
@import ix.ginas.models.v1.GinasChemicalStructure
@import ix.ginas.models.v1.PolymerSubstance
@import ix.ginas.models.v1.Material
@import ix.ginas.models.v1.Unit
@import ix.ginas.models.v1.Polymer
@import ix.ginas.models.v1.ChemicalSubstance
@import ix.ginas.models.v1.SubstanceReference

@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.v1.SubstanceFactory


@(sub: ix.ginas.models.v1.PolymerSubstance)


@substancedetails(sub){

    <li role="presentation"  class="active"><a href="#structureDetails" prevent-default="" ng-click="scrollTo('structureDetails')">Display Structure</a></li>
    <li role="presentation"  class="active"><a href="#monomers" prevent-default="" ng-click="scrollTo('monomers')">Monomers <span class="badge pull-right">@sub.polymer.monomers.size()</span></a></li>
    <li role="presentation"  class="active"><a href="#srus" prevent-default="" ng-click="scrollTo('srus')">Structural Repeat Units <span class="badge pull-right">@sub.polymer.structuralUnits.size()</span></a></li>
    }{
    <div></div>
} {

}{
	
}

