@import ix.core.models.Structure
@import ix.ginas.models.v1.ProteinSubstance
@import ix.ginas.models.v1.Protein
@import ix.ginas.models.v1.Glycosylation
@import ix.ginas.controllers.GinasApp

@(sub: ix.ginas.models.v1.ProteinSubstance)

<div class="row info" id="definition">
@structureImage(s: Structure, size: Integer) = {
    <img class="struc-thumb" alt="Structure of @sub.getName()"
    src='@ix.ginas.controllers.routes.GinasApp.structure(s.getId, "svg", size)'>
}

@substancedetails(sub) {
    <li role="presentation"><a href="#subunits">Subunits
        <span class= "badge pull-right">@sub.protein.getSubunits.length</span></a>
    </li>
    @defining(sub.protein.getDisulfideLinks().length) { count =>
        @if(count > 0 ){
            <li role="presentation"><a href="#disulfide">Disulfide Links
                <span class= "badge pull-right">@count</span></a>
            </li>
        }
    }
    @defining(sub.protein.otherLinks.length) { count =>
        @if(count > 0 ){
            <li role="presentation"><a href="#otherLinks">Other Links
                <span class= "badge pull-right">@count</span></a>
            </li>
        }
    }
    @defining(GinasApp.getCount(sub.protein.glycosylation)) { count =>
        @if(count > 0 ){
            <li role="presentation"><a href="#glycosylation">Glycosylation
                <span class= "badge pull-right">@count</span></a>
            </li>
        }
    }
} {

    <div class="col-md-7" >
        <br>
        <table class="table table-striped keyvalue">
            @if(sub.protein.proteinType != null) {
                <tr><td>Protein Type</td><td >@GinasApp.getCV.getDisplay("PROTEIN_TYPE", sub.protein.proteinType)</td></tr>
            }
            @if(sub.protein.proteinSubType != null) {
                <tr><td>Protein Sub Type</td><td >@GinasApp.getCV.getDisplay("PROTEIN_SUBTYPE", sub.protein.proteinSubType)</td></tr>
            }
            @if(sub.protein.sequenceOrigin != null) {
                <tr><td>Sequence Origin</td><td >@GinasApp.getCV.getDisplay("SEQUENCE_ORIGIN", sub.protein.sequenceOrigin)</td></tr>
            }
            @if(sub.protein.sequenceType != null) {
                <tr><td>Sequence Type</td><td >@GinasApp.getCV.getDisplay("SEQUENCE_TYPE", sub.protein.sequenceType)</td></tr>
            }
            @if(sub.protein.getReferences() != null && sub.protein.getReferences().size() > 0) {
                <tr><td>Definition References</td><td >
                    <referencesmanager ref-count substance ="'@sub.getUuid()'" divid ="'@sub.getUuid()'" references = "@GinasApp.getAsJson(sub.protein.getReferences())"></referencesmanager></td></tr>
                <tr><td class ="'@sub.getUuid()'" colspan="2"></td></tr>
            }
        </table>
    </div>
}{
    <div class="row info" id="subunits">
        <div class = "row">
            <div class="col-md-4">
                <button class="btn btn-primary label-offset det" ng-init="subunitscollapse=true" ng-click = "subunitscollapse = !subunitscollapse">
                    <i ng-show="subunitscollapse" class="fa fa-caret-right"></i>
                    <i ng-hide="subunitscollapse" class="fa fa-caret-down"></i>
                    Subunits&nbsp;<span class="badge head"> @sub.protein.getSubunits().size()</span></button>
            </div>
            <div class = "col-md-3 col-md-offset-5 text-right" id ="viewSwitch">
                    <switch id="numbers" name="numbers" ng-model="numbers" on='<i class="fa fa-list-ol fa-2x"></i>' off='<i class="fa fa-bars fa-2x"></i>'></switch>
            </div>
        </div>
        <div class = "col-md-12" uib-collapse = "subunitscollapse">
        @for(i <- 0 until sub.protein.subunits.size()) {
            <subunit uuid="'@sub.getUuid'" index ='@i' version='@sub.version' view='subunits' numbers="numbers" subclass="protein"></subunit>
        }
        </div>

    </div>

    @defining(sub.protein.getDisulfideLinks().length) { count =>
        @if(count > 0) {
            <div class="row info" id="disulfide">
                <button class="btn btn-primary label-offset det" ng-init="disulfidescollapse=true" ng-click = "disulfidescollapse = !disulfidescollapse">
                    <i ng-show="disulfidescollapse" class="fa fa-caret-right"></i>
                    <i ng-hide="disulfidescollapse" class="fa fa-caret-down"></i>
                    Disulfide Links&nbsp;<span class="badge head"> @count</span></button>
                <div class="col-md-12" uib-collapse="disulfidescollapse">
                    <table class="table table-striped" id="disulfide-Table">
                        <thead>
                            <tr>
                                <th>Residue Index</th>
                            </tr>
                        </thead>
                        @for(disLink <- sub.protein.getDisulfideLinks()) {
                            <tr>
                            @for(s <- disLink.getSites()) {

                                <td>@s.subunitIndex _ @s.residueIndex</td>
                                <td></td>
                            }
                            </tr>
                        }

                    </table>
                </div>
            </div>
        }
    }

    @defining(sub.protein.otherLinks.length) { count =>
        @if(count > 0) {
            <div class="row info" id="otherLinks">
                <button class="btn btn-primary label-offset det" ng-init = "othersscollapse=true" ng-click = "othersscollapse = !othersscollapse">
                    <i ng-show="othersscollapse" class="fa fa-caret-right"></i>
                    <i ng-hide="othersscollapse" class="fa fa-caret-down"></i>
                    Other Links&nbsp;<span class="badge head"> @count</span></button>
                <div class="col-md-12" uib-collapse="othersscollapse">
                    <table class="table table-striped" id="otherLinks-Table">
                        <thead>
                            <tr><th>Linkage Type</th>
                                <th>Residue Index</th>
                            </tr>
                        </thead>
                        @for(otherLink <- sub.protein.otherLinks) {
                            <tr>
                                <td>@otherLink.linkageType</td>
                            @for(s <- otherLink.getSites()) {

                                <td>@s.subunitIndex _ @s.residueIndex</td>
                                <td></td>
                            }
                            </tr>
                        }

                    </table>
                </div>
            </div>
        }
    }


   @defining(GinasApp.getCount(sub.protein.glycosylation)) { count =>
        @if(count > 0) {
            <div class="row info" id="glycosylation">
                <button class="btn btn-primary label-offset det" ng-init = "glycoscollapse =true" ng-click = "glycoscollapse = !glycoscollapse">
                    <i ng-show="glycoscollapse" class="fa fa-caret-right"></i>
                    <i ng-hide="glycoscollapse" class="fa fa-caret-down"></i>
                    Glycosylation&nbsp;<span class="badge head">@(GinasApp.getCount(sub.protein.glycosylation)) </span></button>
                <div class="col-md-12" uib-collapse="glycoscollapse">
                    @if(sub.protein.glycosylation.glycosylationType != null) {
                        Glycosylation Type: @sub.protein.glycosylation.glycosylationType
                    }
                    <table class="table table-striped" id="glycoC-Table">
                        <thead>
                            <tr>
                                <th>Glycosylation</th>
                                <th>Subunit Index</th>
                                <th>Residue Index</th>
                            </tr>
                        </thead>
                        @for(s <- sub.protein.glycosylation.getCGlycosylationSites()) {
                            <tr>
                                <td>C</td>
                                <td>@s.subunitIndex</td>
                                <td>@s.residueIndex</td>
                            </tr>
                        }
                        @for(s <- sub.protein.glycosylation.getNGlycosylationSites()) {
                            <tr>
                                <td>N</td>
                                <td>@s.subunitIndex</td>
                                <td>@s.residueIndex</td>
                            </tr>
                        }
                        @for(s <- sub.protein.glycosylation.getOGlycosylationSites()) {
                            <tr>
                                <td>O</td>
                                <td>@s.subunitIndex</td>
                                <td>@s.residueIndex</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
    }
}
</div>
