@import ix.ginas.controllers.GinasApp
@import be.objectify.deadbolt.java.views.html._
@import views.html._
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(sub: ix.ginas.models.v1.ProteinSubstance)

<div class="row">
	<div class="col-md-7" >
		<table class="table kv-table" id="moiety-table">
			<tr>
				<td>Substance Class</td>
				<td class="monospace flexbox">
					Protein
					<info-popup class="flexbox">
						<div class="info-popup-container">
							<div>
							@if(sub.protein.getReferences() != null && sub.protein.getReferences().size() > 0) {
								<referencesmanager reftable 
								hide-header="false"
								@* order can be changed in reference-table.html template *@
								show='["typ","tags","cit"]'
								substance ="'@sub.getUuid()'" 
								sreferences = "@GinasApp.getAsJson(sub.protein.getReferences())" >
								</referencesmanager>
							}
							@auditdetails(sub.protein)
							</div>
							
						</div>
					</info-popup>
				</td>
			</tr>
			
			@if(sub.protein.proteinType != null) {
				<tr>
					<td>Protein Type</td>
					<td class="monospace">@GinasApp.getCV.getDisplay("PROTEIN_TYPE", sub.protein.proteinType)</td>
				</tr>
			}
			@if(sub.protein.proteinSubType != null) {
				<tr>
					<td>Protein Sub Type</td>
					<td class="monospace">@GinasApp.getCV.getDisplay("PROTEIN_SUBTYPE", sub.protein.proteinSubType)</td>
				</tr>
			}
			@if(sub.protein.sequenceOrigin != null) {
				<tr>
					<td>Sequence Origin</td>
					<td class="monospace">@GinasApp.getCV.getDisplay("SEQUENCE_ORIGIN", sub.protein.sequenceOrigin)</td>
				</tr>
			}
			@if(sub.protein.sequenceType != null) {
				<tr>
					<td>Sequence Type</td>
					<td class="monospace">@GinasApp.getCV.getDisplay("SEQUENCE_TYPE", sub.protein.sequenceType)</td>
				</tr>
			}
			
			@overview(sub)
		</table>
	</div>
	@overviewexport(sub)
</div>

@*
 @overview(sub)
 <div class="row">
 <div class="col-md-7" >
	<table class="table table-striped kv-table">
		@if(sub.protein.proteinType != null) {
			<tr><td>Protein Type</td><td >@GinasApp.getCV.getDisplay("PROTEIN_TYPE", sub.protein.proteinType)</td></tr>
		}
		@if(sub.protein.proteinSubType != null) {
			<tr><td>Protein Sub Type</td><td >@GinasApp.getCV.getDisplay("PROTEIN_SUBTYPE", sub.protein.proteinSubType)</td></tr>
		}
		@if(sub.protein.sequenceOrigin != null) {
			<tr><td>Sequence Origin</td><td >@GinasApp.getCV.getDisplay("SEQUENCE_ORIGIN", sub.protein.sequenceOrigin)</td></tr>
		}
		@if(sub.protein.sequenceType != null) {
			<tr><td>Sequence Type</td><td >@GinasApp.getCV.getDisplay("SEQUENCE_TYPE", sub.protein.sequenceType)</td></tr>
		}
		@if(sub.protein.getReferences() != null && sub.protein.getReferences().size() > 0) {
			<tr><td>Definition References</td><td >
				<referencesmanager 
				ref-count substance ="'@sub.getUuid()'" 
				divid ="'@sub.getUuid()'" 
				references = "@GinasApp.getAsJson(sub.protein.getReferences())"></referencesmanager></td></tr>
			<tr><td class ="'@sub.getUuid()'" colspan="2"></td></tr>
		}
	</table>
	
	@auditdetails(sub.protein)
</div>
</div>
*@