@import ix.ginas.controllers.GinasApp
@import be.objectify.deadbolt.java.views.html._
@import views.html._
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(sub: ix.ginas.models.v1.ProteinSubstance)

<div class="row">
	<div class="col-md-7  col-xs-9" >
		<table class="table kv-table" id="moiety-table">
			<tr>
				<td>Substance Class</td>
				<td class="monospace flexbox">
					Protein
				</td>
			</tr>
			
			@if(sub.protein.proteinType != null) {
				<tr>
					<td>Protein Type</td>
					<td class="monospace">@GinasApp.getCV.getDisplay("PROTEIN_TYPE", sub.protein.proteinType)</td>
				</tr>
			}
			@if(sub.protein.proteinSubType != null) {
				<tr>
					<td>Protein Sub Type</td>
					<td class="monospace">
					@{sub.protein.getProteinSubtypes()
					             .map(st=>GinasApp.getCV.getDisplay("PROTEIN_SUBTYPE", st))
					             .mkString(" ")}

					</td>
				</tr>
			}
			@if(sub.protein.sequenceOrigin != null) {
				<tr>
					<td>Sequence Origin</td>
					<td class="monospace">@GinasApp.getCV.getDisplay("SEQUENCE_ORIGIN", sub.protein.sequenceOrigin)</td>
				</tr>
			}
			@if(sub.protein.sequenceType != null) {
				<tr>
					<td>Sequence Type</td>
					<td class="monospace">@GinasApp.getCV.getDisplay("SEQUENCE_TYPE", sub.protein.sequenceType)</td>
				</tr>
			}
			
			@overview(sub)
			@if(sub.protein.getReferences() != null && sub.protein.getReferences().size() > 0) {
			<tr>

				<td  >
					<a href ng-click = "showAuditInfo=!showAuditInfo"   ng-show = "!showAuditInfo" ng-hide = "showAuditInfo"  >Show Definitional References <i class="fa fa-caret-down" aria-hidden="true"></i></a>
					<a ng-click = "showAuditInfo=!showAuditInfo"  ng-show = "showAuditInfo" ng-hide = "!showAuditInfo" >Hide Definitional References <i class="fa fa-caret-up" aria-hidden="true"></i></a>
				</td>

			</tr>
			}
		</table>
	</div>
	@overviewexport(sub)
</div>

<div ng-show="showAuditInfo">
	<label>References:</label>
	<referencesmanager reftable hide-header="true"
					   show='["cit"]'
					   substance ="'@sub.uuid'"
					   version ="'@sub.version'"
					   sreferences = "@GinasApp.getAsJson(sub.protein.getReferences())" >
	</referencesmanager>
</div>