@import ix.ginas.controllers.GinasApp
@import be.objectify.deadbolt.java.views.html._
@import views.html._
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler
@import ix.ginas.utils.views.cards.DetailCard
@import ix.ginas.controllers.plugins.CardViewPlugin

@(sub: ix.ginas.models.v1.Substance)(breadcrumb: Html)(details: Html)(content: Html)(footer: Html)


@breadLink(size: Integer, anchor: String, title: String ) = {
@if(size>0){
<li role="presentation" >
    <a href="#@anchor" prevent-default="" ng-click="parent.scrollTo('@anchor')">
        @title
        <span class="badge pull-right">@size</span>
    </a>
</li>
}
}

@defining(CardViewPlugin.getInstance().getDetailCardsFor(sub)) {cards =>

@ix.ginas.views.html.ginas(sub.getName, "ix.ginas.models.v1.Substance") {
@ix.ginas.views.html.menu()
}{
<div class ="fixedpos">
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-3 col-md-3 hidden-xs hidden-sm sidebar">
					   <div ng-cloak class="fade-ng-cloak ng-cloak sidebar-inner">
							<div id="sidebar-menu-header">
								<div id="sidebar-substance-name">
									@sub.getName()
								</div>
							
    
							    <div id="sidebar-substance-unii">
							    	 @if(sub.isNonSubstanceConcept()) {
										@sub.getApprovalIDDisplay().trim									
					                } else {
										@sub.getApprovalIDDisplay()
					                }
								</div>
								
							</div>	

							<nav id="breadcrumb">
								<ul class="nav nav-pills nav-stacked" id="breadcrumb-list">								
									@for(card<-cards){
										@card.getBreadCrumb()                     
									}
									
								</ul>
							</nav>
					   </div>
        </div>
    </div>
</div>
	</div>

<div class = "row">
    <div class = "col-lg-9 col-md-9 col-sm-12 col-lg-offset-3 col-md-offset-3">
        @for(card<-cards){
        <div ng-cloak class="fade-ng-cloak ng-cloak">
            @card.getContent()
        </div>
        }


        @content
        <div class="bottom-padding">
        </div>


    </div>
</div>

}
}