@import ix.ginas.controllers.GinasApp
@import be.objectify.deadbolt.java.views.html._
@import views.html._

@(sub: ix.ginas.models.v1.Substance)(breadcrumb: Html)(details: Html)(content: Html)


@ix.ginas.views.html.ginas(sub.getName, "ix.ginas.models.v1.Substance") {
    @ix.ginas.views.html.menu()
} {

    <div class = "row">
        <div class = "col-md-3 hidden-xs hidden-sm sidebar">
            <h3 class="display-name"><em>@sub.getName()</em></h3>
           <nav id="breadcrumb">
                <ul class="nav nav-pills nav-stacked" id="breadcrumb-list">
                    <li role="presentation" class ="text-capitalize active"><a href="#details" prevent-default="" ng-click="scrollTo('details')">
                        {{_.startCase('@sub.substanceClass')}} Details</a></li>

                    @if(sub.getAlternativeDefinitionRelationships().size() > 0) {
                        <li role="presentation" ><a href="#altrelationships" prevent-default="" ng-click="scrollTo('altrelationships')">
                            Alternative Definitions <span class="badge pull-right">@sub.getAlternativeDefinitionRelationships().size()</span></a></li>
                    }

                    @breadcrumb
                    @defining(sub.getModificationCount()) { gcount =>
                        @if(gcount > 0) {
                            <li role="presentation"><a href="#modification" prevent-default="" ng-click="scrollTo('modification')">
                                Modifications
                                <span class= "badge pull-right">@gcount</span></a>
                            </li>
                        }
                    }
                    @if(sub.getAllNames().size() > 0) {
                        <li role="presentation" ><a href="#names" prevent-default="" ng-click="scrollTo('names')">
                            Names <span class="badge pull-right">@sub.names.size()</span></a></li>
                    }
                    @if(sub.codes.size() > 0) {
                        <li role="presentation"><a href="#codes" prevent-default="" ng-click="scrollTo('codes')">
                            Codes <span class="badge pull-right">@sub.codes.size()</span></a></li>
                    }
                    @if(sub.getActiveMoieties.size() > 0) {
                        <li role="presentation" ><a href="#activemoieties" prevent-default="" ng-click="scrollTo('activemoieties')" >
                            Active Moieties <span class="badge pull-right">@sub.getActiveMoieties.size()</span></a></li>
                    }
                    @if(sub.getMetabolites.size() > 0) {
                        <li role="presentation" ><a href="#metabolites" prevent-default="" ng-click="scrollTo('metabolites')" >
                            Metabolites <span class="badge pull-right">@sub.getMetabolites.size()</span></a></li>
                    }
                    @if(sub.getImpurities.size() > 0) {
                        <li role="presentation" ><a href="#impurities" prevent-default="" ng-click="scrollTo('impurities')">
                            Impurities <span class="badge pull-right">@sub.getImpurities.size()</span></a></li>
                    }
                    @if(sub.getFilteredRelationships.size() > 0) {
                        <li role="presentation" ><a href="#relationships" prevent-default="" ng-click="scrollTo('relationships')" id = "relation">
                            Relationships <span class="badge pull-right">@sub.getFilteredRelationships.size()</span></a></li>
                    }
                    @if(sub.properties.size() > 0) {
                        <li role="presentation"><a href="#properties" prevent-default="" ng-click="scrollTo('properties')">
                            Properties <span class="badge pull-right">@sub.properties.size()</span></a></li>
                    }
                    @if(sub.notes.size() > 0) {
                        <li role="presentation"><a href="#notes" prevent-default="" ng-click="scrollTo('notes')">
                            Notes <span class="badge pull-right">@sub.notes.size()</span></a></li>
                    }
                    <li role="presentation"><a href="#refs" prevent-default="" ng-click="scrollTo('refs')">
                        References <span class="badge pull-right">@sub.references.size()</span></a></li>
                    <li role="presentation"><a href="#audit" prevent-default="" ng-click="scrollTo('audit')">
                        Audit Information </a></li>
                </ul>
            </nav>
        </div>
        <div class = "col-md-9 col-sm-12 pull-right">
            <div class="row info" id="details">
                <button class="btn btn-primary label-offset det text-capitalize">
                    @sub.substanceClass Details</button>
                <div class ="col-md-12">
                    <div class = "row">
                        <div class="col-md-3">
                            <code class="text-uppercase">Record Status: @sub.getDisplayStatus()</code> <br>
                            <code class ="text-uppercase"> version:
                                <select aria-label="version" ng-init ="versionNumber = '@sub.version'" ng-model = "versionNumber" ng-model-options="{ getterSetter: true }" ng-change = "redirectVersion()">
                                    <option ng-repeat="v in getRange(1, '@sub.version');">{{v}}</option></select>
                            </code><br/>
                            <div>View audit details:  <input type="checkbox" ng-model="audit"></div>
                        </div>
                        <div class = "col-md-3 pull-right">
                            <h5>Substance ID:</h5>
                            @if(sub.isSubstanceVariant()) {
                                <h3 class= "appid subconcept"> @sub.getApprovalIDDisplay()</h3>
                            } else {
                                <h3 class= "appid">@sub.getApprovalIDDisplay()</h3>
                            }
                        </div>
                    </div>
                    <div class = "row">
                    @details
                    </div>
                </div>
            </div>

            @if(sub.getAlternativeDefinitionRelationships().size() > 0) {
                <div class="row info" id="altrelationships">
                @properties.relationships(sub.getAlternativeDefinitionRelationships(), "Alternative Definitions", sub.uuid.toString)
                </div>
            }

            @content

            @if(sub.hasModifications()) {

                <div class="row info" id="modification">
                    <button class="btn btn-primary label-offset det ">
                        Modifications&nbsp;<span class="badge head"> @sub.getModificationCount()</span></button>
                    <div class="col-md-12">
                        @if(sub.getModifications().agentModifications.size > 0) {
                            @properties.agentmodifications(sub.getModifications().agentModifications)
                        }
                        @if(sub.getModifications().physicalModifications.size > 0) {
                            @properties.physicalmodifications(sub.getModifications().physicalModifications)
                        }
                        @if(sub.getModifications().structuralModifications.size > 0) {
                            @properties.structuralmodifications(sub.getModifications().structuralModifications)
                        }
                    </div>
                </div>
            }
            @if(sub.getAllNames().size() > 0) {
                <div class="row info" id="names">
                @properties.names(sub.getAllNames(), sub)
                </div>
            }

            @if(sub.codes.size() > 0) {
                <div class="row info" id="codes">
                @properties.codes(sub.codes, sub.uuid.toString)
                </div>
            }
            @if(sub.hasChildConceptReferences()) {
                <div class="row info" id="variants">
                @properties.variantconcepts(sub)
                </div>
            }

            @if(sub.getActiveMoieties().size() > 0) {
                <div class="row info" id="activemoieties">
                @properties.relationships(sub.getActiveMoieties(), "Active Moieties", sub.uuid.toString)
                </div>
            }

            @if(sub.getMetabolites().size() > 0) {
                <div class="row info" id="metabolites">
                @properties.relationships(sub.getMetabolites(), "Metabolites", sub.uuid.toString)
                </div>
            }

            @if(sub.getImpurities().size() > 0) {
                <div class="row info" id="impurities">
                @properties.relationships(sub.getImpurities(), "Impurities", sub.uuid.toString)
                </div>
            }

            @if(sub.getFilteredRelationships().size() > 0) {
                <div class="row info" id="relationships">
                @properties.relationships(sub.getFilteredRelationships(), "Relationships", sub.uuid.toString)
                </div>
            }

            @if(sub.properties != null && sub.properties.size() > 0) {
                <div class="row info" id="properties">
                @properties.properties(sub.properties, sub.uuid.toString)
                </div>
            }
            @if(sub.notes != null && sub.notes.size() > 0) {
                <div class="row info" id="notes">
                @properties.notes(sub.getDisplayNotes(), sub.uuid.toString)
                </div>
            }

            <div class="row info" id="refs">
                <button class="btn btn-primary label-offset det">
                    References&nbsp;<span class="badge"> @sub.references.size()</span></button>
                <referencesmanager reftable substance ="'@sub.uuid'"></referencesmanager>
            </div>

            <div class="row info" id="audit">
                <button class="btn btn-primary label-offset det">
                Audit Information</button>
                    <table class="table table-striped keyvalue">
                    <tbody>
                        <tr><td> Approved </td><td>@sub.approved</td></tr>
                        <tr><td> Approved By </td><td>@sub.approvedBy</td></tr>
                        <tr><td> Created </td><td>@sub.created</td></tr>
                        <tr><td> Created By </td><td>@sub.createdBy</td></tr>
                        <tr><td> lastEdited </td><td>@sub.lastEdited</td></tr>
                        <tr><td> lastEdited By </td><td>@sub.lastEditedBy</td></tr>
                </tbody></table>
        </div>
</div></div>
}