@import ix.ginas.controllers.GinasApp;

<div class = "row info"  ng-show="getCysteineCount()>=2" >
    <button class="btn btn-primary label-offset det">
 Disulfide Links&nbsp;<span class="badge" ng-show="substance.protein.disulfidelinks.length>0">
                        {{substance.protein.disulfidelinks.length}}</span> </button>
    @* <a ng-show="!addingCodes" ng-click="toggleForm(codeForm)" aria-label="Add Codes"><i class = "fa fa-plus fa-2x success"></i></a>
    <a ng-show="addingCodes" ng-click="toggleForm(codeForm)" aria-label="Done"><i class = "fa fa-minus fa-2x danger"></i></a>*@
    
    <div class="col-md-12">
    
        <span>Number of unspecified Cysteine residues: {{getAllCysteinsWithoutLinkage().length}}</span>
        <div class = "row header-row">
            <div class = "col-md-2">
                <strong>Starting Subunit Index</strong>
            </div>
            <div class = "col-md-2">
                <strong>Starting Residue Index</strong>
            </div>
            <div class ="col-md-1">
                </div>
            <div class = "col-md-2">
                <strong>Ending Subunit Index</strong>
            </div>
            <div class = "col-md-2">
                <strong>Ending Residue Index</strong>
            </div>
        </div>

        <div class = "row" ng-repeat="obj in substance.protein.disulfideLinks">
            <hr>
            
            <site-selector ng-model="obj" display-type="pair" size="2" residue-regex="C"></site-selector>
            <div class="pull-right">
                    <button ng-click="removeItem(substance.protein.disulfideLinks, obj)">Remove</button>
            </div>
        </div>


        <form class="form-horizontal" name="disForm" id = "add-code" role="form" editable-form shown="true" novalidate>
            <div class="row form-row">
                <site-form ng-model="disulf" display-type="pair" size="2" residue-regex="C"></site-form>
            </div>
            <submit-buttons submit="disulf" form="disForm" path="protein.disulfideLinks"></submit-buttons>
        </form>
    </div>
</div>