@import ix.ginas.controllers.GinasApp;

<div class = "row info" >
    <button class="btn btn-primary label-offset det">
 Disulfide Links&nbsp;<span class="badge" ng-show="substance.codes.length>0">
                        {{substance.protein.disulfidelinks.length}}</span> </button>
    @* <a ng-show="!addingCodes" ng-click="toggleForm(codeForm)" aria-label="Add Codes"><i class = "fa fa-plus fa-2x success"></i></a>
    <a ng-show="addingCodes" ng-click="toggleForm(codeForm)" aria-label="Done"><i class = "fa fa-minus fa-2x danger"></i></a>*@
    <div class="col-md-12">
        <div class = "row header-row">
            <div class = "col-md-2">
                <strong>Starting Subunit Index</strong>
            </div>
            <div class = "col-md-2">
                <strong>Starting Residue Index</strong>
            </div>
            <div class ="col-md-1">
                </div>
            <div class = "col-md-2">
                <strong>Ending Subunit Index</strong>
            </div>
            <div class = "col-md-2">
                <strong>Ending Residue Index</strong>
            </div>
            <div class = "col-md-2 text-right">
                <strong>Reference ID</strong>
            </div>
        </div>

        <div class = "row" ng-repeat="obj in substance.protein.disulfideLinks">
            <hr>
            <div class = "col-md-2">
                <span href="#" editable-select="obj[0].subunitIndex" e-style="width: 100%" e-ng-options="n in range(substance.subunits.length)" blur="submit">{{obj[0].subunitIndex}}</span>
            </div>
            <div class = "col-md-2">
                <span href="#" editable-select="obj[0].residueIndex" e-style="width: 100%" e-ng-options="n in range(substance.subunits.length)" blur="submit">{{obj[0].residueIndex}}</span>
            </div>
            <div class ="col-md-1">
                <i class="fa fa-link fa-2x fa-rotate-90"></i>
            </div>
            <div class = "col-md-2">
                <span href="#" editable-select="obj[1].subunitIndex" e-style="width: 100%" e-ng-options="n in range(substance.subunits.length)" blur="submit">{{obj[1].subunitIndex}}</span>
            </div>
            <div class = "col-md-2">
                <span href="#" editable-select="obj[1].residueIndex" e-style="width: 100%" e-ng-options="n in range(substance.subunits.length)" blur="submit">{{obj[1].residueIndex}}</span>
            </div>
            @referenceview("disForm", "obj")
        </div>


        <form class="form-horizontal" name="disForm" id = "add-code" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-2 err-check" id="code-div" show-errors>
                    <select ng-model="site.subunitIndex" ng-selected="1" class="form-control" name = "year" id = "year">
                        <option ng-repeat="n in range(substance.subunits.length)">{{n}}</option>
                    </select>
                    <ng-messages for="disForm.code.$error" ng-if="disForm.code.$touched">
                        <ng-message when="required" class="help-block">Substance name is required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-2 err-check" id="code-div" show-errors>
                    <select ng-model="site.residueIndex" class="form-control" name = "year" id = "year">
                        <option ng-repeat="n in range(substance.subunits[site.subunitIndex-1].sequence.length)">{{n}}</option>
                    </select>
                    <ng-messages for="disForm.code.$error" ng-if="disForm.code.$touched">
                        <ng-message when="required" class="help-block">Substance name is required</ng-message>
                    </ng-messages>
                </div>
                <div class ="col-md-1 text-center">
                    <i class="fa fa-link fa-rotate-270 fa-2x"></i>
                </div>
                <div class="col-md-2 err-check" id="code-div" show-errors>
                    <select ng-model="site.subunitIndexEnd" class="form-control" name = "year" id = "year">
                        <option ng-repeat="n in range(substance.subunits.length)">{{n}}</option>
                    </select>
                    <ng-messages for="disForm.code.$error" ng-if="disForm.code.$touched">
                        <ng-message when="required" class="help-block">Substance name is required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-2 err-check" id="code-div" show-errors>
                    <select ng-model="site.residueIndexEnd" class="form-control" name = "year" id = "year">
                        <option ng-repeat="n in range(substance.subunits[site.subunitIndexEnd-1].sequence.length)">{{n}}</option>
                    </select>
                    <ng-messages for="disForm.code.$error" ng-if="disForm.code.$touched">
                        <ng-message when="required" class="help-block">Substance name is required</ng-message>
                    </ng-messages>
                </div>
                @referenceselectorform("disForm", "site")
            </div>
            @submitbuttons("site", "disForm", "disulfideLinks")
        </form>
    </div>
</div>