<div class = "row info" >
    <button class="btn btn-primary label-offset det">
                        Organism Details</button>
    <div class="col-md-12">
        <div class="row form-row">
            <div class="col-md-3 err-check">
                <text-view-edit obj = "substance.structurallyDiverse" field="organismFamily" label="Organism Family"></text-view-edit>
            </div>
            <div class="col-md-3 err-check">
                <text-view-edit obj = "substance.structurallyDiverse" field="organismGenus" label="Organism Genus"></text-view-edit>
            </div>
            <div class="col-md-3 err-check">
                <text-view-edit obj = "substance.structurallyDiverse" field="organismSpecies" label="Organism Species"></text-view-edit>
            </div>
            <div class="col-md-3 err-check">
                <text-view-edit obj = "substance.structurallyDiverse" field="organismAuthor" label="Organism Author"></text-view-edit>
            </div>
        </div>
        <p></p>
    </div>
</div>
