<div class = "row info" >
    <button class="btn btn-primary label-offset det">
                        Source Materials</button>
    <div class="col-md-12">
        <div class="row form-row">
                <div class="col-md-3 err-check">
                    <dropdown-view-edit obj = "substance.structurallyDiverse" field="sourceMaterialClass" cv = "SOURCE_MATERIAL_CLASS" label="Source Material Class"></dropdown-view-edit>
                </div>
                <div class="col-md-3 err-check">
                 <dropdown-view-edit obj = "substance.structurallyDiverse" field="sourceMaterialType" cv = "SOURCE_MATERIAL_TYPE" label="Source Material Type"></dropdown-view-edit>
                </div>
                <div class="col-md-3 err-check" ng-if="substance.structurallyDiverse.sourceMaterialClass.display=='ORGANISM'">
                <dropdown-view-edit obj = "substance.structurallyDiverse" field="sourceMaterialState" cv = "SOURCE_MATERIAL_STATE" label="Source Material State"></dropdown-view-edit>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj =substance.structurallyDiverse parent = "substance"  type = "reference"  divid="diverseSourceForm" ></form-selector>
                </div>
            </div>
        <p></p>
            <div class="diverseSourceForm"></div>
        </div>
    </div>
