<div class = "row info" >
    <button class="btn btn-primary label-offset det">
                        Source Materials</button>
    <div class="col-md-12">
        <div ng-if ="!equals({}, substance.structurallyDiverse)">
        <form class="form-horizontal" name="diverseSourceForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-3 err-check">
                    <dropdown-select ng-model="diverse.sourceMaterialClass" field="class" cv = "SOURCE_MATERIAL_CLASS" ></dropdown-select>
                </div>
                <div class="col-md-3 err-check">
                    <dropdown-select ng-model="diverse.sourceMaterialType" field="type" cv = "SOURCE_MATERIAL_TYPE" ></dropdown-select>
                </div>
                <div class="col-md-3 err-check" ng-if="diverse.sourceMaterialClass.display=='ORGANISM'">
                    <dropdown-select ng-model="diverse.sourceMaterialState" field="state" cv = "SOURCE_MATERIAL_STATE" ></dropdown-select>

                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="diverse" parent = "substance"  type = "reference" divid="diverseSourceForm"></form-selector>
                </div>
            </div>
            <div class="diverseSourceForm"></div>

            <submit-buttons submit="diverse" form="diverseSourceForm" path="structurallyDiverse" list = false></submit-buttons>

        </form>
        </div>
        <div ng-if ="equals({}, substance.structurallyDiverse)">
            <div class ="row">
                <hr>
                <div class="col-md-3 err-check">
                    <dropdown-view-edit obj = "substance.structurallyDiverse" field="sourceMaterialClass" cv = "SOURCE_MATERIAL_CLASS" ></dropdown-view-edit>
                </div>
                <div class="col-md-3 err-check">
                    <dropdown-view-edit obj = "substance.structurallyDiverse" field="sourceMaterialType" cv = "SOURCE_MATERIAL_TYPE" ></dropdown-view-edit>
                </div>
                <div class="col-md-3 err-check">
                    <dropdown-view-edit obj = "substance.structurallyDiverse" field="sourceMaterialState" cv = "SOURCE_MATERIAL_STATE" ></dropdown-view-edit>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj =substance.structurallyDiverse parent = "substance"  type = "reference"  divid="diverseSourceForm" mode="edit"></form-selector>
                </div>
            </div>
            <div class="diverseSourceForm"></div>
        </div>
    </div>
</div>
@*






<div class = "row info">
    <button class="btn btn-primary label-offset det">
                        Source Materials&nbsp;</button>
    <div class="col-md-12">

            <!-- Title bits -->

        <div class = "row header-row">
            <div class = "col-md-3">
                <strong>Class</strong>
            </div>
            <div class = "col-md-3">
                <strong>Type</strong>
            </div>
            <div class = "col-md-3" ng-if="substance.structurallyDiverse.sourceMaterialClass.display=='ORGANISM' || diverse.sourceMaterialClass.display=='ORGANISM'">
                <strong>State</strong>
            </div>
        </div>


        <div class = "row">
            <hr>
            <div class = "col-md-3">
                <span href="#" editable-select="substance.structurallyDiverse.sourceMaterialClass" e-style="width: 100%" e-ng-options="r.display for r in lookup.getList('SOURCE_MATERIAL_CLASS') track by r.display" blur="submit">{{substance.structurallyDiverse.sourceMaterialClass.display}}</span>
            </div>
            <div class = "col-md-3">
                <span href="#" editable-select="substance.structurallyDiverse.sourceMaterialType" e-style="width: 100%" e-ng-options="r.display for r in lookup.getList('SOURCE_MATERIAL_TYPE') track by r.display" blur="submit">{{substance.structurallyDiverse.sourceMaterialType.display}}</span>
            </div>
            <div class = "col-md-3">
                <span href="#" editable-select="substance.structurallyDiverse.sourceMaterialState" e-style="width: 100%" e-ng-options="r.display for r in lookup.getList('SOURCE_MATERIAL_STATE') track by r.display" blur="submit">{{substance.structurallyDiverse.sourceMaterialState.display}}</span>
            </div>
        </div>

        <form class="form-horizontal" name="diverseSourceForm" id = "add-ref" role="form" novalidate>
            <div class="row form-row" ng-show="!diverseSourceForm.$submitted">
                <div class="col-md-3 err-check" show-errors>
                    <select class="form-control" ng-model ="diverse.sourceMaterialClass" ng-options="r.display for r in lookup.getList('SOURCE_MATERIAL_CLASS') track by r.display" title="Source Class" id="source-class" name = "source-class" required></select>
                    <ng-messages for="diverseForm.sourceMaterialClass.$error" ng-if="diverseForm.sourceMaterialClass.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-3 err-check" show-errors>
                    <select class="form-control" title="Source Type" id="source-type" name = "source-type" ng-model = "diverse.sourceMaterialType" ng-options="r.display for r in lookup.getList('SOURCE_MATERIAL_TYPE') track by r.display" required>
                        </select>
                    <ng-messages for="diverseForm.sourceMaterialType.$error" ng-if="diverseForm.sourceMaterialType.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-3 err-check" ng-if="diverse.sourceMaterialClass.display=='ORGANISM'" show-errors>
                    <select class="form-control" title="Source State" id="source-state" name = "source-state" ng-model = "diverse.sourceMaterialState" ng-options="r.display for r in lookup.getList('SOURCE_MATERIAL_STATE') track by r.display" required>
                        </select>
                    <ng-messages for="diverseForm.sourceMaterialState.$error" ng-if="diverseForm.sourceMaterialState.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                <reference-selector ngModel='structurallyDiverse' references='substance.references'></reference-selector>
            </div>
            <submit-buttons submit="diverse" form="diverseSourceForm" path="structurallyDiverse" list=false></submit-buttons>
        </form>
    </div>
</div>
*@
