@import ix.ginas.controllers.GinasApp;

<div class = "row info" >
    <button class="btn btn-primary label-offset det">
 Glycosylation&nbsp;<span class="badge" ng-show="substance.protein.glycosylation.count>0">
                        {{substance.protein.glycosylation.count}}</span> </button>
    @* <a ng-show="!addingCodes" ng-click="toggleForm(codeForm)" aria-label="Add Codes"><i class = "fa fa-plus fa-2x success"></i></a>
    <a ng-show="addingCodes" ng-click="toggleForm(codeForm)" aria-label="Done"><i class = "fa fa-minus fa-2x danger"></i></a>*@
    <div class="col-md-12">
        <form class="form-horizontal" name="glyTypForm" id = "add-code" role="form" novalidate>
            <strong>Glycosylation Type</strong>
            <select class="form-control" title="Glycosylation Type" ng-model = "protein.glycosylation.glycosylationType" ng-options="r.display for r in lookup.getList('GLYCOSYLATION_TYPE') track by r.display" >
            </select>
        </form>
        <div class = "row header-row">
            <div class = "col-md-2">
                <strong>Link type</strong>
            </div>
            <div class = "col-md-10">
                <strong>Sites</strong>
            </div>
        </div>
        
        <div ng-repeat="glyc in substance.protein.glycosylation.glycosites">
            
                <hr>
                <div class = "col-md-2">
                    <span href="#" editable-select="glyc.linkType" e-ng-options="n in ['N', 'C', 'O']" blur="submit">{{glyc.linkType}}</span>
                </div>
                <div class="col-md-10 err-check">
                    <site-selector ng-model="glyc"></site-selector>
                </div>
            
        </div>

        <form class="form-horizontal" name="glyForm" id = "add-code" role="form" novalidate editable-form shown="true">
            <div class="row form-row">
                <div class="col-md-2 err-check" show-errors>
                    <select ng-model="glyc.linkType" class="form-control" >
                        <option ng-repeat="n in ['N', 'C', 'O']">{{n}}</option>
                    </select>
                </div>
                <div class="col-md-10 err-check" show-errors>
                    <input type="text" class="form-control" ng-model ="glyc._displaySites" title="Glycoslylation Sites" id="glycSites" name = "glycSites" na-sites={{glyc}} />
                    <small class="error" ng-show="glyForm.glycSites.$error.siteInvalid">{{sugarForm.glycSites.$errorMsg.naSites}}</small>
                </div>
            </div>
            <submit-buttons submit="glyc" form="glyForm" path="protein.glycosylation.glycosites"></submit-buttons>
        </form>
    </div>
</div>