@import ix.ginas.controllers.GinasApp;

<div class = "row info" >
    <button class="btn btn-primary label-offset det">
 Glycosylation&nbsp;<span class="badge" ng-show="substance.protein.glycosylation.count>0">
                        {{substance.protein.glycosylation.count}}</span> </button>
    @* <a ng-show="!addingCodes" ng-click="toggleForm(codeForm)" aria-label="Add Codes"><i class = "fa fa-plus fa-2x success"></i></a>
    <a ng-show="addingCodes" ng-click="toggleForm(codeForm)" aria-label="Done"><i class = "fa fa-minus fa-2x danger"></i></a>*@
    <div class="col-md-12">
        <div class = "row header-row">
            <div class = "col-md-2">
                <strong>Subunit Index</strong>
            </div>
            <div class = "col-md-2">
                <strong>Residue Index</strong>
            </div>
            <div class = "col-md-2">
                <strong>Link</strong>
            </div>
            <div class = "col-md-2">
                <strong>Glycosylation Type</strong>
            </div>
        </div>

        <div class = "row" ng-repeat="obj in substance.protein.glycosylation">
            <hr>
            <div class = "col-md-2">
                <span href="#" editable-select="obj[0].subunitIndex" e-style="width: 100%" e-ng-options="n in range(substance.subunits.length)" blur="submit">{{obj[0].subunitIndex}}</span>
            </div>
            <div class = "col-md-2">
                <span href="#" editable-select="obj[0].residueIndex" e-style="width: 100%" e-ng-options="n in range(substance.subunits.length)" blur="submit">{{obj[0].residueIndex}}</span>
            </div>
            <div class = "col-md-2">
                <span href="#" editable-select="obj[1].subunitIndex" e-style="width: 100%" e-ng-options="n in range(substance.subunits.length)" blur="submit">{{obj[1].subunitIndex}}</span>
            </div>
            <div class = "col-md-2">
                <span href="#" editable-select="obj[1].residueIndex" e-style="width: 100%" e-ng-options="n in range(substance.subunits.length)" blur="submit">{{obj[1].residueIndex}}</span>
            </div>
            @referenceview("glyForm", "obj")
        </div>


        <form class="form-horizontal" name="glyForm" id = "add-code" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-2 err-check" id="code-div" show-errors>
                    <select ng-model="glyc.subunitIndex" ng-selected="1" class="form-control" name = "year" id = "year">
                        <option ng-repeat="n in range(substance.subunits.length)">{{n}}</option>
                    </select>
                    <ng-messages for="glyForm.code.$error" ng-if="glyForm.code.$touched">
                        <ng-message when="required" class="help-block">Substance name is required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-2 err-check" id="code-div" show-errors>
                    <select ng-model="glyc.residueIndex" class="form-control" name = "year" id = "year">
                        <option ng-repeat="n in range(substance.subunits[glyc.subunitIndex-1].sequence.length)">{{n}}</option>
                    </select>
                    <ng-messages for="glyForm.code.$error" ng-if="glyForm.code.$touched">
                        <ng-message when="required" class="help-block">Substance name is required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-2 err-check" id="code-div" show-errors>
                    <select ng-model="glyc.link" class="form-control" name = "year" id = "year">
                        <option ng-repeat="n in ['N', 'C', 'O']">{{n}}</option>
                    </select>
                    <ng-messages for="glyForm.code.$error" ng-if="glyForm.code.$touched">
                        <ng-message when="required" class="help-block">Substance name is required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-2 err-check" show-errors>
                    <select class="form-control" title="Glycosylation Type" id="glycosylationType" name = "glycosylationType" ng-model = "protein.glycosylationType" ng-options="r.display for r in @GinasApp.getCV.getField("GLYCOSYLATION_TYPE") track by r.display" required>
                        </select>
                    <ng-messages for="glyForm.glycosylationType.$error" ng-if="glyForm.glycosylationType.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>            </div>
            @submitbuttons("glyc", "glyForm", "glycosylation")
        </form>
    </div>
</div>