@import ix.ginas.controllers.GinasApp;

<div class = "row info" >
    <button class="btn btn-primary label-offset det">
                      Mixture Components&nbsp;<span class="badge" ng-show="substance.mixture.components.length>0">
                        {{substance.mixture.components.length}}</span> </button>
    <div class="col-md-12">
        <div class ="row header-row">
            <div class="col-md-2"><strong>Component Substance</strong></div>
            <div class="col-md-2"><strong>Type</strong></div>
        </div>
        <div ng-repeat="component in substance.mixture.components">
            <div class="row">
                        <div ng-show="component._editType=='edit'" class="text-center editreminder">
                          Editing mixture component below.
                        </div>
                        <div  ng-hide="component._editType=='edit'">
                        <div class ="col-md-2">
                            <substance-chooser ng-model = "component.substance"></substance-chooser>
                        </div>
                       <div class = "col-md-6">
                           <span href="#" editable-select="component.type"  e-style="width: 100%" e-ng-options="r.display for r in lookup.getList('MIXTURE_TYPE') track by r.display" blur="submit">{{component.type.display}}</span>
                       </div>
                       </div>
                         <div class="pull-right">
                            <button  ng-hide="component._editType=='edit'" ng-click="setEditMixtureComponent(component)">Edit</button>
                            <button  ng-show="component._editType=='edit'" ng-click="validate('mcomponent', 'mixtureForm', 'mixture.components', true);">Update</button>
                            <button  ng-hide="component._editType=='edit'" ng-click="removeItem(substance.mixture.components, component)">Remove</button>
                         </div>
                       
            </div>
        </div>

        <form class="form-horizontal" name="mixtureForm" id = "add-component" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-2">
                    <substance-chooser ng-model = "mcomponent.substance"></substance-chooser>
                </div>
                <div class="col-md-6 err-check" show-errors>
                    <select class="form-control" title="Mixture Type" id="type" name = "type" ng-model = "mcomponent.type" ng-options="r.display for r in lookup.getList('MIXTURE_TYPE') track by r.display" required>
                        </select>
                    <ng-messages for="mixtureForm.type.$error" ng-if="mixtureForm.type.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
            </div>
            @submitbuttons("mcomponent", "mixtureForm", "mixture.components")
        </form>

    </div>
</div>