@import ix.ginas.controllers.GinasApp;

<div class = "row info">
    <button class="btn btn-primary label-offset det">
                      Moieties&nbsp;<span class="badge" ng-show="substance.moieties.length>0">
                        {{substance.moieties.length}}</span>  </button>
    @*<a ng-show="!addingStructure" ng-click="addStructure()" aria-label="Add Structure"><i class = "fa fa-plus fa-2x success"></i></a>*@
    @*<div ng-show="addingStructure">*@
    <div>
        <div class="col-md-12" id="structureSearcher">

            <div class ="row header-row">
                <div class="col-md-2 text-center"><strong>Moiety Structure</strong></div>
                <div class="col-md-1 text-center"><strong text-center>Moiety Count</strong></div>
                <div class="col-md-1 text-center"><strong>Stereo Chemistry</strong></div>
                <div class="col-md-1 text-center"><strong>Optical Activity</strong></div>
                <div class="col-md-1 text-center"><strong>Additional Stereochemistry</strong></div>
                <div class="col-md-2 text-center"><strong>Formula</strong></div>
                <div class="col-md-1 text-center"><strong>Molecular Weight</strong></div>
                <div class="col-md-1 text-center"><strong>Defined Stereocenters</strong></div>
                <div class="col-md-1 text-center"><strong>EZ Centers</strong></div>
                <div class="col-md-1 text-center"><strong>Charge</strong></div>
            </div>
            <div ng-repeat="moiety in substance.moieties">
                <div class="row text-center">
                    <div class="col-md-2"><rendered id="moiety.id"></rendered></div>
                    <div class="col-md-1"><span class="badge badge-primary">{{moiety.count}}</span></div>
@*

                    <span href="#" editable-select="moiety.stereochemistry"  e-style="width: 100%" e-ng-options="r.display for r in @GinasApp.getCV.getField("STEREOCHEMISTRY_TYPE") track by r.display" blur="submit">{{moiety.stereochemistry}}</span>
*@
                    <div class="col-md-1">
                            <span href="#" editable-select="moiety.stereochemistry" e-style="width: 100%" e-ng-options="r.display for r in @GinasApp.getCV.getField("STEREOCHEMISTRY_TYPE") track by r.display" blur="submit"><span class="badge">{{moiety.stereochemistry.display || moiety.stereochemistry}}</span>
                    </span></div>
                    <div class="col-md-1">
                        <span href="#" editable-select="moiety.opticalActivity" e-style="width: 100%" e-ng-options="r.display for r in @GinasApp.getCV.getField("OPTICAL_ACTIVITY") track by r.display" blur="submit">
                            <span class="badge">{{moiety.opticalActivity.display || moiety.opticalActivity || 'click to add' }}</span></div>
                    <div class="col-md-1">
                        <span href="#" editable-select="moiety.atropisomerism" e-style="width: 100%" e-ng-options="r.display for r in @GinasApp.getCV.getField("ATROPISOMERISM") track by r.display" blur="submit">
                            <span class="badge">{{moiety.atropisomerism.display || moiety.atropisomerism || "NO"}}</span></span></div>
                    <div class="col-md-2">{{moiety.formula}}</div>
                    <div class="col-md-1">{{moiety.mwt}}</div>
                    <div class="col-md-1"><span class="badge">{{moiety.definedStereo}} / {{moiety.stereoCenters}}</span></div>
                    <div class="col-md-1"><span class="badge">{{moiety.ezCenters}}</span></div>
                    <div class="col-md-1"><span class="badge">{{moiety.charge}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
