<div class = "row info">
    <button class="btn btn-primary label-offset det">
                        Names&nbsp;<span class="badge" ng-show="substance.unofficialNames.length>0">
                        {{substance.unofficialNames.length}}</span> </button>
    <div class="col-md-12">
        <form class="form-horizontal" name="nameForm" id = "add-name" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-4 err-check" id="name-div">
                    <text-input ng-model="obj.name" field="name" arr="substance.unofficialNames" required></text-input>
                </div>
                <div class="col-md-2">
                    <dropdown-select ng-model="obj.type" field="type" cv = "NAME_TYPE" arr="substance.unofficialNames"></dropdown-select>
                </div>
                <div class="col-md-2">
                    <multi-select ng-model="obj.languages" field="languages" cv = "LANGUAGE" arr="substance.unofficialNames"></multi-select>
                </div>
                <div class="col-md-1">
                    <check-box ng-model="obj.preferred" field="preferred" arr="substance.unofficialNames"></check-box>
                </div>
                <div class="col-md-1 pull-right">
                    <reference-selector ng-model = "obj.references" referenceobj= "obj" arr="substance.unofficialNames" parent = "substance" formname="nameForm"></reference-selector>
                </div>
            </div>
            <hr>
            <div class="nameForm"></div>
            <submit-buttons submit="obj" form="nameForm" path="unofficialNames"></submit-buttons>
        </form>
    </div>
</div>

