@import ix.ginas.controllers.GinasApp;
<div class = "row info" id = "protein-details">
    <button class="btn btn-primary label-offset det">
                        Details&nbsp;</button>
   <div class="col-md-12">
        <div class = "row header-row">
            <div class = "col-md-3">
                <strong>Sugar</strong>
            </div>
            <div class = "col-md-2">
                <strong>Sites</strong>
            </div>
        </div>

        <div class = "row" ng-repeat="obj in substance.nucleicAcid.sugars">
            <hr>
            <div class = "col-md-3">
                <span href="#" editable-select="obj.sugar" e-style="width: 100%" e-ng-options="r.display for r in @GinasApp.getCV.getField("NUCLEIC_ACID_SUGAR") track by r.display" blur="submit">{{obj.system.display}}</span>
            </div>
            <div class="col-md-2">
                <span href="#" editable-text="obj.sites" blur="submit">{{obj.sites}}</span>
            </div>
        </div>

            <!-- Adding bits -->

        <form class="form-horizontal" name="sugarForm" id = "add-code" role="form" novalidate>
            <div class="row form-row">
               
                <div class="col-md-2 err-check" show-errors>
                    <select class="form-control" title="Name Type" id="type" name = "type" ng-model = "obj.sugar" ng-options="r.display for r in @GinasApp.getCV.getField("NUCLEIC_ACID_SUGAR") track by r.display" required>
                        </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model ="obj.sites" title="Description" id="description" name = "description"/>
                </div>
            </div>
            @submitbuttons("obj", "sugarForm", "substance.nucleicAcid.sugars")
        </form>
    </div>
</div>


