@import ix.ginas.controllers.GinasApp;
<div class = "row info" id = "nucleicacid-linkage" ng-show="substance.nucleicAcid.subunits.length!==0" >
    <button class="btn btn-primary label-offset det">
                        Linkages&nbsp;</button>
   <div class="col-md-12">
        <span>Number of unspecified linkages: {{getAllSitesWithoutLinkage().length}}</span>
        <div class = "row header-row">
            <div class = "col-md-3">
                <strong>Linkage</strong>
            </div>
            <div class = "col-md-2">
                <strong>Sites</strong>
            </div>
            <div class = "col-md-2">
                <strong>Number of Sites</strong>
            </div>
        </div>

        <div class = "row" ng-repeat="obj in substance.nucleicAcid.linkages">
            <div class = "col-md-3">
                <span href="#" editable-select="obj.linkage" e-style="width: 100%" e-ng-options="r.display for r in lookup.getList('NUCLEIC_ACID_LINKAGE') track by r.display" blur="submit">{{obj.linkage.display}}</span>
            </div>
            <div class="col-md-2">
                <site-selector ng-model="obj"></site-selector>
            </div>
            <div class="col-md-2">
                <span href="#" blur="submit">{{obj.sites.length}} of {{getAllSites(true).length}}</span>
            </div>
            <div class="col-md-2">
                <button ng-click="removeItem(substance.nucleicAcid.linkages, obj)">Remove</button>
            </div>
            <hr>
        </div>

        <!-- Adding bits -->

        <form class="form-horizontal" name="linkageForm" id = "add-code" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-2 err-check" show-errors>
                    <select class="form-control" title="Name Type" id="type" name = "type" ng-model = "objl.linkage" ng-options="r.display for r in lookup.getList('NUCLEIC_ACID_LINKAGE') track by r.display" required>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model ="objl._displaySites" title="Linkage Sites" id="linkagesites" name = "linkagesites" na-sites={{objl}} />
                    <small class="error" ng-show="linkageForm.linkagesites.$error.siteInvalid">{{linkageForm.linkagesites.$errorMsg.naSites}}</small>
                </div>
                <div class="col-md-3">
                    <button ng-click="objl._displaySites = getAllLeftoverSitesDisplay(true)">Apply to all remaining sites</button>
                </div>
            </div>
            <submit-buttons submit="objl" form="linkageForm" path="nucleicAcid.linkages"></submit-buttons>
        </form>
    </div>
</div>


