@import ix.ginas.controllers.GinasApp;
<div class = "row info" ng-controller="OfficialNameController as NameCtrl">
    <button class="btn btn-primary label-offset det">
                       Official Names&nbsp;<span class="badge" ng-show="substance.officialNames.length>0">
                        {{substance.officialNames.length}}</span> </button>
    <a ng-show="!addingNames" ng-click="NameCtrl.addNames()" aria-label="Add Names"><i class = "fa fa-plus fa-2x success"></i></a>
    <a ng-show="addingNames" ng-click="NameCtrl.addNames()" aria-label="Done"><i class = "fa fa-minus fa-2x danger"></i></a>
    <div class="col-md-12">

            <!-- Title bits -->

        <div class = "row header-row">
            <div class = "col-md-3">
                <strong>Name</strong>
            </div>
            <div class = "col-md-1">
            <strong>Domain</strong></div>
            <div class = "col-md-2">
            <strong>Jurisdiction</strong></div>
            <div class = "col-md-1">
            <strong>Naming Org.</strong></div>
            <div class = "col-md-2">
                <strong>Language</strong>
            </div>
            <div class = "col-md-1">
                <strong>Preferred</strong>
            </div>
            <div class = "col-md-2">
                <strong>Reference ID</strong>
                {{name.references.length}}
            </div>
        </div>

            <!-- Display bits -->

        <div class = "row" ng-repeat="name in ginasCtrl.substance.officialNames">
            <div class = "col-md-3">
                                    {{name.name}}
            </div>
            <div class = "col-md-1"><span ng-repeat="n in name.domains">
            {{n.display}}</span></div>
            <div class = "col-md-2"><span ng-repeat="n in name.nameJurisdiction">
            {{n.display}}</span></div>
            <div class = "col-md-1"><span ng-repeat="n in name.nameOrgs">
            {{n.display}}</span></div>
            <div class = "col-md-2"><span ng-repeat="n in name.languages">
            {{n.display}}</span></div>
            <div class = "col-md-1 text-center">
                <i ng-show="name.preferred===true" class="fa fa-check fa-2x success"></i>
            </div>
            <div class = "col-md-2">
                    {{name.references.id}} {{name.references.citation}}
            </div>
            <div class = "col-md-1 pull-right">
                <a ng-show="!isEditing" ng-click="NameCtrl.setEditedName(name); NameCtrl.toggleEdit();" aria-label="Edit"><i class="fa fa-pencil-square-o fa-2x success"></i></a>
                <a ng-show="!isEditing" ng-click="NameCtrl.removeName(name)" aria-label="Remove"><i class="fa fa-times fa-2x danger"></i></a>
            </div>

        </div>

            <!-- Editing bits -->

        <div class="row form-row" ng-show="isEditing">
            <form class="form" name="editNameForm" id = "edit-nameForm" role="form" ng-submit="NameCtrl.validateName(editName); NameCtrl.addNames()" novalidate>
                <div class ="row">
                    <div class="col-md-4 err-check" id="name-div" show-errors>
                        <input type="text" class="form-control" ng-model ="editName.name" title="Name" id="name" name = "name" required duplicate/>
                        <ng-messages for="editNameForm.name.$error" ng-if="editNameForm.name.$touched">
                            <ng-message when="duplicate" class="help-block">Name already exists in Ginas</ng-message>
                            <ng-message when="required" class="help-block">Substance name is required</ng-message>
                        </ng-messages>
                    </div>
                    <div class="col-md-2 err-check" show-errors>
                        <select class="form-control" title="Name Type" id="type" name = "type" ng-model = "editName.type" ng-change="NameCtrl.typeCheck()" ng-options="r.display for r in @GinasApp.getCV.getField("NAME_TYPE") track by r.display" required>
	                        </select>
                        <ng-messages for="editNameForm.type.$error" ng-if="editNameForm.type.$touched">
                            <ng-message when="required" class="help-block">*required</ng-message>
                        </ng-messages>
                    </div>
                    <div class="col-md-2 err-check" show-errors>
                        <select class="form-control" title="Language" id="language" name="language" ng-model = "editName.languages" ng-options="r.display for r in @GinasApp.getCV.getField("LANGUAGE") track by r.display" required>
	                        </select>
                        <ng-messages for="editNameForm.language.$error" ng-if="editNameForm.language.$touched">
                            <ng-message when="required" class="help-block">*required</ng-message>
                        </ng-messages>
                    </div>
                    <div class="col-md-1">
                        <input type = "checkbox" ng-model = "editName.preferred" ng-change="NameCtrl.prefCheck()" placeholder="Preferred" title="Preferred" id="preferred"/>
                    </div>
                    @referenceselectorform("editNameForm","editName")
                    <div class="col-md-1 pull-right" ng-show="addingNames">
                        <a id ="name-submit" ng-click="NameCtrl.updateName(editName)" arial-label="Save">
                            <i class="fa fa-floppy-o fa-2x success"></i></a>
                        <a type="submit" ng-click="NameCtrl.toggleEdit();" aria-label="Cancel">
                            <i class="fa fa-ban fa-2x danger"></i></a>
                    </div>
                </div>
            </form>
        </div>

            <!-- secondary editing bits -->
        <div class="row form-row" ng-show="!isEditing && addingNames">
            <form class="form-horizontal" name="nameForm" id = "add-name" role="form"  novalidate>
                <div class="col-md-3 err-check" id="name-div" show-errors>
                    <input type="text" class="form-control" ng-model ="name.name" title="Name" id="name" name = "name" required duplicate/>
                    <ng-messages for="nameForm.name.$error" ng-if="nameForm.name.$touched">
                        <ng-message when="duplicate" class="help-block">Name already exists in Ginas</ng-message>
                        <ng-message when="required" class="help-block">Substance name is required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-1 err-check" show-errors>
                    <select multiple class="form-control" title="Domain" id="domain" name="domain" ng-model = "name.domains" ng-options="r.display for r in @GinasApp.getCV.getField("NAME_DOMAIN") track by r.display" required>
                        </select>
                    <ng-messages for="nameForm.domain.$error" ng-if="nameForm.domain.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-2 err-check" show-errors>
                    <select multiple class="form-control" title="Jurisdiction" id="jurisdiction" name="jurisdiction" ng-model = "name.nameJurisdiction" ng-options="r.display for r in @GinasApp.getCV.getField("JURISDICTION") track by r.display" required>
                        </select>
                    <ng-messages for="nameForm.jurisdiction.$error" ng-if="nameForm.jurisdiction.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-1 err-check" show-errors>
                    <select multiple class="form-control" title="Naming Organization" id="nameOrg" name="nameOrg" ng-model = "name.nameOrgs" ng-options="r.display for r in @GinasApp.getCV.getField("NAME_ORG") track by r.display" required>
                        </select>
                    <ng-messages for="nameForm.nameOrg.$error" ng-if="nameForm.nameOrg.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>

                <div class="col-md-2 err-check" show-errors>
                    <select multiple class="form-control" title="Language" id="language" name="language" ng-model = "name.languages" ng-options="r.display for r in @GinasApp.getCV.getField("LANGUAGE") track by r.display" required>
                        </select>
                    <ng-messages for="nameForm.language.$error" ng-if="nameForm.language.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-1">
                    <input type = "checkbox" ng-model = "name.preferred" ng-change="NameCtrl.prefCheck()" placeholder="Preferred" title="Preferred" id="preferred"/>
                </div>
                @referenceselectorform("editNameForm","editName")
                <div class="col-md-1 pull-right" ng-show="addingNames">
                    <a ng-click="NameCtrl.reset()" aria-label="Clear"><i class="fa fa-eraser fa-2x danger"></i></a>
                    <a ng-click="NameCtrl.validateName(name)" ><i class="fa fa-floppy-o fa-2x success"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>

