<div class = "row info" >
    <button class="btn btn-primary label-offset det">
                      Parents&nbsp;</button>
    <div class="col-md-12">
            <div class="row form-row">
                <div class="col-md-3">
                    <substance-chooser-selector ng-model ="substance.structurallyDiverse.parentSubstance" field ="parentSubstance" name ="parentSubstance" formname ="parentForm" label ="Parent Substance" type = "lite"></substance-chooser-selector>
                </div>
                <div class="col-md-3">
                    <substance-chooser-selector ng-model ="substance.structurallyDiverse.hybridSpeciesPaternalOrganism" field ="hybridSpeciesPaternalOrganism" name ="hybridSpeciesPaternalOrganism" formname ="parentForm"  label ="Hybrid Paternal Organism" type = "lite"></substance-chooser-selector>
                </div>
                <div class="col-md-3">
                    <substance-chooser-selector ng-model ="substance.structurallyDiverse.hybridSpeciesMaternalOrganism" field ="hybridSpeciesMaternalOrganism" name ="hybridSpeciesMaternalOrganism" formname ="parentForm" label ="Hybrid Maternal Organism" type = "lite"></substance-chooser-selector>
                </div>
            </div>
        <div class = "parentForm"></div>
    </div>
</div>