@import ix.ginas.controllers.GinasApp;
<div class = "row info" id = "protein-details">
    <button class="btn btn-primary label-offset det">
                        Physical Modifications&nbsp;<span class="badge" ng-show="substance.protein.modifications.physicalModifications.length>0">
                        {{substance.protein.modifications.physicalModifications.length}}</span> </button>
    <div class="col-md-12">

            <!-- Title bits -->

        <div class = "row header-row">
            <div class = "col-md-4">
                <strong>Modification Role</strong>
            </div>
            <div class = "col-md-4">
                <strong>Modification Parameters</strong>
            </div>
            <div class = "col-md-1">
                <strong>Parameter Amount</strong>
            </div>

        </div>
        <div class = "row">
            <hr>
            <div class = "col-md-4">
                <span href="#" editable-select="physicalModification.physicalModificationRole" e-style="width: 100%" e-ng-options="r.display for r in lookup.getList('PHYSICAL_MODIFICATION_ROLE') track by r.display" blur="submit">{{substance.protein.modifications.physicalModification.physicalModificationRole.display}}</span>
            </div>
            <div class = "col-md-2">
                <span href="#" editable-select="physicalModification.physicalModificationType" e-style="width: 100%" e-ng-options="r.display for r in lookup.getList('AGENT_MODIFICATION_TYPE') track by r.display" blur="submit">{{substance.protein.modifications.physicalModification.physicalModificationType.display}}</span>
            </div>
            <div class = "col-md-2">
        {{physicalModification.agentSubstance}}
            </div>
        </div>

        <form class="form-horizontal" name="physicalModForm" id = "add-ref" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-4 err-check" show-errors>
                    <select class="form-control" title="Agent Modification Role" id="physicalModificationRole" name = "physicalModificationRole" ng-model = "physicalModification.physicalModificationRole" ng-options="r.display for r in lookup.getList('PHYSICAL_MODIFICATION_ROLE') track by r.display" required>
                        </select>
                    <ng-messages for="physicalModForm.physicalModificationRole.$error" ng-if="physicalModForm.physicalModificationRole.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-2 err-check" show-errors>
                    <select class="form-control" title="Agent Modification Type Origin" id="physicalModificationType" name = "physicalModificationType" ng-model = "physicalModification.physicalModificationType" ng-options="r.display for r in lookup.getList('AGENT_MODIFICATION_TYPE') track by r.display" required>
                        </select>
                    <ng-messages for="physicalModForm.physicalModificationType.$error" ng-if="physicalModForm.physicalModificationType.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-2">
                    @*@selectors.substanceselectorform()*@
                <span ng-show="substance.subref"><rendered id = substance.subref.refuuid></rendered> </span>
                </div>
            </div>
            <submit-buttons submit="physicalModification" form="physicalModForm" path="physicalModifications"></submit-buttons>
        </form>
    </div>
</div>


