@import ix.ginas.controllers.GinasApp;

<div class = "row info" >
    <button class="btn btn-primary label-offset det">
                      Structural Units&nbsp;<span class="badge" ng-show="substance.polymer.structuralUnits.length>0">
                        {{substance.polymer.structuralUnits.length}}</span> </button>
    <div class="col-md-12">
        <div class ="row header-row">
            <div class="col-md-2"><strong>Structural Unit</strong></div>
            <div class="col-md-2"><strong>Unit Label</strong></div>
            <div class="col-md-2"><strong>Unit Type</strong></div>
            <div class="col-md-2"><strong>Unit Amount</strong></div>
            <div class="col-md-2"><strong>Unit Connectivity</strong></div>
        </div>
        <div ng-repeat="component in substance.polymer.structuralUnits">
            <div class="row">
                        <div ng-show="component._editType=='edit'" class="text-center editreminder">
                              Editing SRU below.
                        </div>
                        <div ng-hide="component._editType=='edit'" class="text-center">
                        <div class ="col-md-2">
                            <rendered id = component._structure.id></rendered>
                        </div>
                        <div class="col-md-2">
                           <span href="#" ng-model ="component.label" editable-text="component.label" >{{component.label}}</span>
                        </div>
                        <div class = "col-md-2">
                           <span href="#" editable-select="component.type"  e-style="width: 100%" e-ng-options="r.display for r in lookup.getList('POLYMER_SRU_TYPE') track by r.display" blur="submit">{{component.type.display}}</span>
                        </div>
                        <div class="col-md-2">
                            TO BE AMOUNT
                        </div>
                        <div class="col-md-2">
                            <span href="#" editable-text="component._displayConnectivity">{{component._displayConnectivity}}</span>
                        </div>
                        </div>
                        <div class="pull-right">
                            <button  ng-hide="component._editType=='edit'" ng-click="setEditSRU(component)">Edit</button>
                            <button  ng-show="component._editType=='edit'" ng-click="validate('srucomponent', 'sruForm', 'polymer.structuralUnits', true);">Update</button>
                            <button  ng-hide="component._editType=='edit'" ng-click="removeItem(substance.polymer.structuralUnits, component)">Remove</button>
                       </div>     
            </div>
        </div>
        <hr>

        <form class="form-horizontal" name="sruForm" id = "add-sru" role="form" novalidate>
                <div ng-show="srucomponent._editType=='edit'">
                    Editing Structural Unit
                </div>
                <div ng-hide="srucomponent._editType=='edit'">
                    Add new Structural Unit
                </div>
            <div class="row form-row">
                <div class="col-md-2">
                    <rendered id = srucomponent._structure.id></rendered>
                </div>
                <div class="col-md-6 err-check" show-errors>
                    <select class="form-control" title="SRU Type" id="type" name = "type" ng-model = "srucomponent.type" ng-options="r.display for r in lookup.getList('POLYMER_SRU_TYPE') track by r.display" required>
                        </select>
                    <ng-messages for="sruForm.type.$error" ng-if="sruForm.type.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model ="srucomponent.displayConnectivity" title="SRU Connectivity" id="connectivity" name = "connectivity" />
                </div>
                
            </div>
            <submit-buttons submit="srucomponent" form="sruForm" path="polymer.structuralUnits"></submit-buttons>
             
        </form>

    </div>
</div>