@import ix.ginas.controllers.GinasApp

<div class = "row info">
    <button class="btn btn-primary label-offset det">
Properties&nbsp;<span class="badge" ng-show="substance.properties.length>0">
{{substance.properties.length}}</span> </button>
    <a ng-show="!addingProperties" ng-click="addProperties()" aria-label="Add Properties"><i class = "fa fa-plus fa-2x success"></i></a>
    <a ng-show="addingProperties" ng-click="addProperties()" aria-label="Done"><i class = "fa fa-minus fa-2x danger"></i></a>
    <div class="col-md-12">
        <div class = "row header-row">
            <div class = "col-md-2">
                <strong>Property Type</strong>
            </div>
            <div class = "col-md-2">
                <strong>Property Name</strong>
            </div>

            <div class = "col-md-3">
                <strong>Property Value</strong>
            </div>
            <div class = "col-md-2">
                <strong>Parameters</strong>
            </div>
            <div class = "col-md-1">
                <strong>Defining</strong>
            </div>
            <div class = "col-md-2 text-right">
                <strong>Reference ID</strong>
            </div>
        </div>

            <!-- Display bits -->

        <div class = "row" ng-repeat="obj in substance.properties">

            <div class = "col-md-2">
                <span href="#" editable-select="obj.type" e-style="width: 100%" e-ng-options="r.display for r in @GinasApp.getCV.getField("NAME_TYPE") track by r.display" blur="submit">{{obj.type.display}}</span>
            </div>
            <div class="col-md-2">
                <span href="#" editable-text="obj.name" blur="submit">{{obj.name}}</span>
            </div>
            <div class="col-md-2">
                <span href="#" editable-text="obj.value" blur="submit">{{obj.value}}</span>
            </div>
            <div class="col-md-3">
                <span href="#" editable-text="obj.parameter" blur="submit">{{obj.parameter}}</span>
            </div>
            <div class = "col-md-1 text-center">
                <span href="#" editable-checkbox="name.preferred"><i class="fa fa-check fa-2x success" ng-show="name.preferred"></i> <i class="fa fa-times fa-2x warning" ng-show="!name.preferred"></i></span>

            </div>
            <div class = "col-md-2"><span ng-repeat="n in name.references">
                <span ng-show="!name.references || name.references.length==0" ng-click="toggle(propertyForm.references)" ><i class="fa fa-plus fa-2x success"></i></span>
                <span ng-show="!propertyForm.references.selected" ng-click="toggle(propertyForm.references)" >{{n.id}} {{n.citation}}</span>
            </span>
                <tags-input ng-show ="propertyForm.references.selected" ng-blur="toggle(propertyForm.references)" custom-class="form-control" title="References" placeholder="References" id="references" name="references" ng-model = "name.references" display-property="citation" key-property="id" addFromAutocompleteOnly="true" >
                    <auto-complete source="substance.references" min-length="1" debounce-delay="0" load-on-down-arrow="true"></auto-complete>
                </tags-input>
            </div>
        </div>
            <!-- Adding bits -->

        <form class="form-horizontal" name="propertyForm" id = "add-property" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-2 err-check" show-errors>
                    <select class="form-control" title="Property Type" id="type" name = "type" ng-model = "property.type" ng-options="r.display for r in @GinasApp.getCV.getField("PROPERTY_TYPE") track by r.display" >
                        </select>
                    <ng-messages for="propertyForm.type.$error" ng-if="propertyForm.type.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-2 err-check" id="property-div" show-errors>
                    <input type="text" class="form-control" ng-model ="property.name" title="Name" id="name" name = "name" />
                    <ng-messages for="propertyForm.name.$error" ng-if="propertyForm.name.$touched">
                        <ng-message when="required" class="help-block">Substance name is required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-3 err-check" id="property-div" show-errors>
                    <a ng-show="!property.value" data-toggle="modal" data-target="#addamount" role="button" aria-label="Add a value"><i class="fa fa-plus fa-2x success"></i></a>
@*                    <input type="text" class="form-control" ng-model ="property.value" title="Name" id="value" name = "value" />
                    <ng-messages for="propertyForm.value.$error" ng-if="propertyForm.value.$touched">
                        <ng-message when="required" class="help-block">Substance name is required</ng-message>
                    </ng-messages>*@
                </div>
                <div class="col-md-2 err-check" id="property-div" show-errors>
                    <input type="text" class="form-control" ng-model ="property.parameter" title="Name" id="parameter" name = "parameter" />
                    <ng-messages for="propertyForm.parameter.$error" ng-if="propertyForm.parameter.$touched">
                        <ng-message when="required" class="help-block">Substance name is required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-1">
                    <input type = "checkbox" ng-model = "property.defining" title="Defining" id="defining"/>
                </div>
                @referenceselectorform("propertyForm", "property")
            </div>
            @submitbuttons("property", "propertyForm", "properties")
        </form>
    </div>
</div>







