@(formName : String, propertyName : String)

@import ix.ginas.controllers.GinasApp

<!-- Modal -->
	<div class="col-md-2 err-check" show-errors>
	   <a ng-show="!ginasCtrl.substance.references" data-toggle="modal" data-target="#addref" role="button" aria-label="Add a reference"><i class="fa fa-plus fa-2x success"></i></a>
	   <p class="danger" ng-if="!ginasCtrl.substance.references && @(formName).reference.$error">*required</p>
	   <select class="form-control" title="Reference" id="reference" name = "reference" ng-hide="!ginasCtrl.substance.references" ng-init= "@(propertyName).references = ginasCtrl.substance.references[0]" ng-model = "@(propertyName).references" ng-options="ref.citation for ref in  ginasCtrl.substance.references" ></select>
	   <ng-messages for="@(formName).reference.$error" ng-if="@(formName).reference.$pristine">
	      <ng-message when="required" class="help-block">*required</ng-message>
	   </ng-messages>
	</div>