@(formName: String, propertyName: String)

<!-- Modal -->
<div class="col-md-1 err-check pull-right" show-errors>
    <a ng-show="!substance.references" data-toggle="modal" data-target="#addref" role="button" aria-label="Add a reference"><i class="fa fa-plus fa-2x success"></i></a>
    <p class="danger" ng-if="!substance.references && @(formName).reference.$error">*required</p>
    <tags-input custom-class="form-control" ng-hide="!substance.references"  ng-model = "@(propertyName).references" title="References" placeholder="References" id="references" name="references" min-length="1" display-property="id" key-property="uuid" add-from-autocomplete-only="true" >
        <auto-complete source="substance.references" min-length="1" debounce-delay="0" load-on-down-arrow="true"></auto-complete>
    </tags-input>
    <ng-messages for="@(formName).reference.$error" ng-if="@(formName).reference.$pristine">
        <ng-message when="required" class="help-block">*required</ng-message>
    </ng-messages>
</div>