@import ix.ginas.controllers.GinasApp

<div class ="row info" id = "references">
    <button class="btn btn-primary label-offset det">
                        References&nbsp;<span class="badge" ng-show="substance.references.length>0">
                        {{substance.references.length}}</span> </button>

        <div class="col-md-12">
            <div class = "row header-row">
                <div class = "col-md-1">
                    <strong>ID</strong>
                </div>
                <div class = "col-md-2">
                    <strong>Citation</strong>
                </div>
                <div class = "col-md-2">
                    <strong>Document Type</strong>
                </div>
                <div class = "col-md-2">
                    <strong>Date Accessed</strong>
                </div>
                <div class="col-md-2">
            <strong>Tags</strong>
            </div>
                <div class = "col-md-2">
                    <strong>URL</strong>
                </div>
            </div>

            <div class = "row" ng-repeat="obj in substance.references">
                <div class = "col-md-1">
                                    {{obj.id}}
                </div>
                <div class = "col-md-2">
                    <span href="#" editable-text="obj.citation" blur="submit">{{obj.citation}}</span>
                </div>
                <div class = "col-md-2"><span ng-repeat="n in obj.doctype">
                    <span ng-show="!selected" ng-click="info(scope, element)" > {{n.display}}</span></span>
                    <tags-input ng-show ="selected" ng-blur="info()" custom-class="form-control" ng-model="obj.doctype" title="Document Type" placeholder="Document Type" id="doctype" name="doctype" display-property="display" key-property="value" max-tags="1" add-from-autocomplete-only="true" required>
                        <auto-complete source="loadItems('DOCUMENT_TYPE', $query)" min-length="1" debounce-delay="0" load-on-down-arrow="true"></auto-complete>
                    </tags-input>
                </div>
                <div class = "col-md-2">
                                    {{obj.documentDate  | date:'MM-dd-yyyy' }}
                </div>
                <div class = "col-md-2"><span ng-repeat="n in obj.tags">
                    <span ng-show="!selected" ng-click="info(scope, element)" >{{n.text}}</span></span>
                    <tags-input ng-show ="selected" ng-blur="info()" custom-class="form-control" title="Tags"  placeholder="Tags" id="type" name="type" ng-model = "ref.tags" min-length="5">
                    </tags-input>
                </div>
                <div class = "col-md-2">
                    <span href="#" editable-text="obj.url" blur="submit">{{obj.url}}</span>
                </div>
            </div>

            <form class="form-horizontal" name="refForm" id = "add-ref" role="form" novalidate>
            <div class="row form-row" >

                    <div class = "col-md-1">
                        {{substance.references.length +1}}
                    </div>
                    <div class="col-md-2 err-check" id="ref-div" show-errors>
                        <input type="text" class="form-control" ng-model ="ref.citation" title="Citation" id="citation" name = "citation" required/>
                        <ng-messages for="refForm.citation.$error" ng-if="refForm.citation.$touched">
                            <ng-message when="duplicate" class="help-block">Reference already exists in Ginas</ng-message>
                            <ng-message when="required" class="help-block">*required</ng-message>
                        </ng-messages>
                    </div>
                    <div class="col-md-2 err-check" show-errors>
                        <tags-input custom-class="form-control" title="Document Type"  placeholder="Document Type" id="type" name="type" ng-model = "ref.doctype" display-property="display" key-property="value" addFromAutocompleteOnly="true" max-tags="1">
                            <auto-complete source="loadItems('DOCUMENT_TYPE', $query)" min-length="1" debounce-delay="0" load-on-down-arrow="true"></auto-complete>
                        </tags-input>
                        <ng-messages for="refForm.doctype.$error" ng-if="refForm.doctype.$touched">
                            <ng-message when="required" class="help-block">*required</ng-message>
                        </ng-messages>
                    </div>
                    <div class="col-md-3 err-check">
                        <div class="input-group">
                        <input type="text" class="form-control" datepicker-popup ng-model="ref.documentDate" is-open="status.opened" ng-required="true" /><button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                        </div>
                        @*<div class="dropdown">
                            <a class="dropdown-toggle" id="calendar"  role="button" data-toggle="dropdown" data-target="#" href="#">
                                <input type="text" class="form-control" name = "calendar" data-ng-model="ref.documentDate"><span class="input-group-addon" id ="calendar-icon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="ref.documentDate" data-datetimepicker-config="{ dropdownSelector: '#calendar', minView:'day' }"/>
                            </ul>
                        </div>*@
                        <ng-messages for="refForm.documentDate.$error" ng-if="refForm.documentDate.$dirty">
                            <ng-message when="required" class="help-block">*required</ng-message>
                        </ng-messages>
                    </div>
                <div class="col-md-2">
                    <tags-input custom-class="form-control" title="Tags"  placeholder="Tags" id="type" name="type" ng-model = "ref.tags" min-length="5">
                    </tags-input>
                </div>

                    <div class="col-md-2 err-check" id="ref-div" show-errors>
                        <input type="text" class="form-control" ng-model ="ref.url" title="URL" id="url" name = "url" />
                        <ng-messages for="refForm.url.$error" ng-if="refForm.url.$touched">
                            <ng-message when="required" class="help-block">*required</ng-message>
                        </ng-messages>
                    </div>
            </div>
                    @submitbuttons("ref","refForm", "references")

                </form>
            </div>
        </div>

