<div class = "row info" >
    <button class="btn btn-primary label-offset det">
                      Relationships&nbsp;<span class="badge" ng-show="substance.relationships.length>0">
                        {{substance.relationships.length}}</span> </button>
    <div class="col-md-12">
                <form class="form-horizontal" name="relationshipForm" role="form" novalidate>
                    <div class="row form-row">
                        <div class="col-md-2">
                            <substance-chooser-lite ng-model ="relationship.relatedSubstance" field ="relatedSubstance" name ="relatedSubstance" formname ="relationshipForm"></substance-chooser-lite>
                        </div>
                        <div class="col-md-2">
                            <dropdown-select ng-model="relationship.type" field="type" cv = "RELATIONSHIP_TYPE" ></dropdown-select>
                        </div>
                        <div class="col-md-2">
                            <text-input ng-model="relationship.comments" field="comments" ></text-input>
                        </div>
                        <div class="col-md-2">
                            <dropdown-select ng-model="relationship.interactionType" field="interactionType" cv = "INTERACTION_TYPE" ></dropdown-select>
                        </div>
                        <div class="col-md-2">
                            <dropdown-select ng-model="relationship.qualification" field="qualification" cv = "QUALIFICATION" ></dropdown-select>
                        </div>
                        <div class="col-md-1">
                            <form-selector ng-model = "relationship.amount" referenceobj= "relationship"  parent = "substance" formname="relationshipForm" type = "amount"></form-selector>
                        </div>
                        <div class="col-md-1 pull-right">
                            <form-selector ng-model = "relationship.references" obj ="relationship"  parent = "substance" formname="relationshipForm" type = "reference"></form-selector>
                        </div>
                    </div>
                    <div class="relationshipForm"></div>
                    <submit-buttons submit="relationship" form="relationshipForm" path="relationships"></submit-buttons>
                </form>

        <div ng-repeat="obj in substance.relationships" >
            <div class ="row">
            <hr>
            <div class="col-md-1">
                <delete-button delete="obj" path="relationships"></delete-button>
            </div>
            <div class="col-md-2">
                <substance-chooser-view-edit obj = "obj" field ="relatedSubstance"></substance-chooser-view-edit>
            </div>
            <div class="col-md-2">
                <dropdown-view-edit obj = "obj" field="type" cv = "RELATIONSHIP_TYPE" ></dropdown-view-edit>
            </div>
            <div class="col-md-2">
                <text-view-edit obj = "obj" field="comments" ></text-view-edit>
            </div>
            <div class="col-md-2">
                <dropdown-view-edit obj = "obj" field="interactionType" cv = "INTERACTION_TYPE" ></dropdown-view-edit>
            </div>
            <div class="col-md-1">
                <dropdown-view-edit obj = "obj" field="qualification" cv = "QUALIFICATION" ></dropdown-view-edit>
            </div>
            <div class="col-md-1">
                <form-selector-view obj = "obj" referenceobj= "relationship"  parent = "substance" formname="relationshipForm" type = "amount" divid={{obj.$$hashKey}}></form-selector-view>
            </div>
            <div class="col-md-1 pull-right">
                <form-selector-view obj = "obj"  parent = "substance" formname="relationshipForm" type = "reference" divid={{obj.$$hashKey}}></form-selector-view>
            </div>
        </div>
            <div class = {{obj.$$hashKey}}></div>
            </div>
            </div>
        </div>
