@import ix.ginas.controllers.GinasApp;

<div class = "row info" >
    <button class="btn btn-primary label-offset det">
                        Structural Modifications&nbsp;<span class="badge" ng-show="substance.protein.modifications.structuralModifications.length>0">
                        {{substance.protein.modifications.structuralModifications.length}}</span> </button>
    <div class="col-md-12">
        <div class = "row header-row">
            <div class = "col-md-2">
                <strong>Type</strong>
            </div>
            <div class = "col-md-2">
                <strong>Location Type</strong>
            </div>
            <div class = "col-md-2">
                <strong>Residue Modified</strong>
            </div>
            <div class = "col-md-1">
                <strong>Subunit Index</strong>
            </div>
            <div class = "col-md-1">
                <strong>Residue Index</strong>
            </div>
            <div class ="col-md-1">
                </div>
            <div class = "col-md-1">
                <strong>Ending Subunit Index</strong>
            </div>
            <div class = "col-md-1">
                <strong>Ending Residue Index</strong>
            </div>
            <div class ="col-md-2">
                <strong>Linkage Type</strong>
            </div>
        </div>

        <div class = "row" ng-repeat="obj in substance.protein.modifications.structuralModifications">
            <hr>
            <div class = "col-md-2">
                <span href="#" editable-select="obj.sites[0].subunitIndex" e-style="width: 100%" e-ng-options="n in range(substance.protein.subunits.length)" blur="submit">{{obj.sites[0].subunitIndex}}</span>
            </div>
            <div class = "col-md-2">
                <span href="#" editable-select="obj.sites[0].residueIndex" e-style="width: 100%" e-ng-options="n in range(substance.protein.subunits.length)" blur="submit">{{obj.sites[0].residueIndex}}</span>
            </div>
            <div class ="col-md-1">
                <i class="fa fa-link fa-2x fa-rotate-90"></i>
            </div>
            <div class = "col-md-2">
                <span href="#" editable-select="obj.sites[1].subunitIndex" e-style="width: 100%" e-ng-options="n in range(substance.protein.subunits.length)" blur="submit">{{obj.sites[1].subunitIndex}}</span>
            </div>
            <div class = "col-md-2">
                <span href="#" editable-select="obj.sites[1].residueIndex" e-style="width: 100%" e-ng-options="n in range(substance.protein.subunits.length)" blur="submit">{{obj.sites[1].residueIndex}}</span>
            </div>
            <div class = "col-md-2">
                <span href="#" editable-select="obj.linkageType" e-style="width: 100%" e-ng-options="r.display for r in @GinasApp.getCV.getField("OTHER_LINKAGE_TYPE") track by r.display" blur="submit">{{obj.linkageType.display}}</span>
            </div>
        </div>


        <form class="form-horizontal" name="strucModForm" id = "add-code" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-2 err-check" show-errors>
                    <select class="form-control" title="Structural Modification Type" id="structuralModificationType" name = "structuralModificationType" ng-model = "structuralModification.structuralModificationType" ng-options="r.display for r in @GinasApp.getCV.getField("STRUCTURAL_MODIFICATION_TYPE") track by r.display" required>
                        </select>
                    <ng-messages for="strucModForm.agentModificationRole.$error" ng-if="strucModForm.agentModificationRole.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-2 err-check" show-errors>
                    <select class="form-control" title="Location Type" id="locationType" name = "locationType" ng-model = "structuralModification.locationType" ng-options="r.display for r in @GinasApp.getCV.getField("STRUCTURAL_MODIFICATION_TYPE") track by r.display" required>
                        </select>
                    <ng-messages for="strucModForm.agentModificationRole.$error" ng-if="strucModForm.agentModificationRole.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                @selectors.siteselector("strucModForm", "substance.protein", 1)
                <div class="col-md-2 err-check" show-errors>
                    <select class="form-control" title="Extent" id="extent" name = "extent" ng-model = "structuralModification.extent" ng-options="r.display for r in @GinasApp.getCV.getField("EXTENT_TYPE") track by r.display">
                        </select>
                    <ng-messages for="strucModForm.linkageType.$error" ng-if="strucModForm.linkageType.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-2">
                <substance-chooser ng-model="structuralModification.molecularFragment"></substance-chooser>
                </div>
                @selectors.amountselectorform("structuralModification.extentAmount")
            </div>
            @amountform("structuralModification.extentAmount")
            @submitbuttons("structuralModification", "strucModForm", "protein.modifications.structuralModifications")
        </form>
    </div>
</div>