@import ix.ginas.controllers.GinasApp;

<div class = "row info" ng-controller="RelationshipController as RelationshipCtrl">
    <button class="btn btn-primary label-offset det">
                      Relationships&nbsp;<span class="badge" ng-show="ginasCtrl.substance.chemical.relationships.length>0">
                        {{ginasCtrl.substance.chemical.relationships.length}}</span> </button>
    <div>

        <div class="col-md-12">

            <div class ="row header-row">
                <div class="col-md-2"><strong>Name</strong></div>
                <div class="col-md-2"><strong>Type</strong></div>
                <div class="col-md-2"><strong>Comments</strong></div>
                <div class="col-md-2"><strong>Interaction Type</strong></div>
                <div class="col-md-2"><strong>Qualification</strong></div>
                <div class="col-md-1"><strong>Amount</strong></div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="row form-row" >
            <form class="form-horizontal" name="relationshipForm" id = "add-relationship" role="form" novalidate>
                <div ng-controller="TypeaheadController as TypeaheadCtrl">
                    <div class="col-md-2 err-check" id="name-div" show-errors>
                        <input type="text" class="form-control" ng-model ="relationship.name" @*ng-change="RelationshipCtrl.getSubstances(relationship.name)"*@
                        options="nameOptions" datasets="nameDataSource"  title="Name" id="name" name = "relationship-name" typeaheadz required/>

                        <ng-messages for="relationshipForm.name.$error" ng-if="relationshipForm.name.$touched">
                            <ng-message when="required" class="help-block">Substance name is required</ng-message>
                        </ng-messages>
                    </div>
                </div>

                <div class="col-md-2 err-check" show-errors>
                    <select class="form-control" title="Name Type" id="type" name = "type" ng-model = "relationship.type" ng-options="r.display for r in @GinasApp.getCV.getField("RELATIONSHIP_TYPE") track by r.display" required>
                        </select>
                    <ng-messages for="relationshipForm.type.$error" ng-if="relationshipForm.type.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-2 err-check" id="name-div" show-errors>
                    <input type="text" class="form-control" ng-model ="relationship.comments" title="Comments" id="comments" name = "comments"/>
                </div>

                <div class="col-md-2 err-check" show-errors>
                    <select class="form-control" title="Interaction Type" id="interactionType" name = "interactionType" ng-model = "relationship.interactionType" ng-options="r.display for r in @GinasApp.getCV.getField("INTERACTION_TYPE") track by r.display" required>
                        </select>
                    <ng-messages for="relationshipForm.interactionType.$error" ng-if="relationshipForm.interactionType.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>
                <div class="col-md-2 err-check" show-errors>
                    <select class="form-control" title="Qualification" id="qualification" name = "qualification" ng-model = "relationship.qualification" ng-options="r.display for r in @GinasApp.getCV.getField("QUALIFICATION") track by r.display" required>
                        </select>
                    <ng-messages for="relationshipForm.qualification.$error" ng-if="relationshipForm.qualification.$touched">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>

                <div class="col-md-1">Amount</div>
                <div class="col-md-2 err-check" show-errors>
                    <a ng-show="!ginasCtrl.substance.references" data-toggle="modal" data-target="#addref" role="button" aria-label="Add a reference"><i class="fa fa-plus fa-2x success"></i></a>
                    <p class="danger" ng-if="!ginasCtrl.substance.references && nameForm.reference.$error">*required</p>
                    <select class="form-control" title="Reference" id="reference" name = "reference" ng-hide="!ginasCtrl.substance.references" ng-model = "name.references" ng-options="ref.citation for ref in  ginasCtrl.substance.references" ng-init= "name.references = ginasCtrl.substance.references[0]"></select>
                    <ng-messages for="nameForm.reference.$error" ng-if="nameForm.reference.$pristine">
                        <ng-message when="required" class="help-block">*required</ng-message>
                    </ng-messages>
                </div>

            </form>

        </div>
        <div class ="row"><div class="col-md-3" ng-repeat="relationship in data">{{relationship.name}}</div></div>

    </div>
</div>
