
@(parent : String)

<div class="row info" id="subunits-form">
    <button class="btn btn-primary label-offset det">
                        Subunits&nbsp;<span class="badge" ng-show="substance.@{parent}.subunits.length>0">
                        {{substance.@{parent}.subunits.length}}</span> </button>
    <a aria-label="Add Subunits"><i class = "fa fa-plus fa-2x success"></i></a>
    <div class="col-md-12">

    <div class = "row"  ng-repeat="sunit in substance.@{parent}.subunits">
        <hr>

        <div class="col-md-12">
            Subunit {{sunit.subunitIndex}}
            <div class = "row">
              <div ng-show="sunit._editType=='edit'" class="text-center editreminder">
                  Editing subunit sequence below.
              </div>
              <div ng-hide="sunit._editType=='edit'" class = "col-xs-2" ng-repeat="su in sunit.display">

 @*               the amino acid directive in ginasApp.js has a getTemplate function. This can be used to modify the tooltip
                  the amino acid has a series of boolean properties for existence of links/modifications. The ng-Class function can be used to
                  retrieve a class name based on true or false properties, then highlighting can be applied.*@






            <span  ng-repeat ="aa in su">
                <amino-acid acid=aa></amino-acid>

            </span>
            </div>
        </div>
        <div class = "row" >
            <div class="col-md-12">
                 <div class="pull-right">
                    <button  ng-hide="sunit._editType=='edit'" ng-click="setEditSubunit(sunit)">Edit</button>
                    <button  ng-show="sunit._editType=='edit'" ng-click="validate(sunit, 'subunitForm', '@{parent}.subunits', true); setEditSubunit(null);">Update</button>
                    <button  ng-hide="sunit._editType=='edit'" ng-click="removeItem(substance.@{parent}.subunits, sunit)">Remove</button>
                 </div>
            </div>
        </div>

           @*
           Still working on having the sequences editable. The display is currently the sequence converted into an array of objects, so the whole thing cannot be editable.
           Should there be a string version undermeath? This could take up a lot of space.
           *@



@*        <div class="col-md-12">
            <span href="#" editable-textarea="su.sequence" blur="submit">{{su.sequence}}</span>
        </div>*@
</div>
</div>



    <form class="form-horizontal" name="subunitForm" id = "add-subunit" role="form" novalidate>

        <div class="row form-row">

            <div class = "col-md-12">
                <div ng-show="subunit.subunitIndex">
                    Editing subunit: {{subunit.subunitIndex}}
                </div>
                <div ng-hide="subunit.subunitIndex">
                    Add new subunit
                </div>
                <subunit ng-model="subunit.sequence" subindex={{substance.@{parent}.subunits.length}}></subunit>
            </div>
        </div>
        <div ng-hide=true>
            <input ng-model="subunit.index">
        </div>
        <div >
       @submitbuttons("subunit", "subunitForm", parent + ".subunits")

        </div>
    </form>
</div>
        </div>
