<div class="row info" id="subunits-form">
    <button class="btn btn-primary label-offset det">
                        Subunits&nbsp;<span class="badge" ng-show="substance.subunits.length>0">
                        {{substance.subunits.length}}</span> </button>
    <a aria-label="Add Subunits"><i class = "fa fa-plus fa-2x success"></i></a>
    <div class="col-md-12">

    <div class = "row"  ng-repeat="sunit in substance.subunits">
        <hr>
        Subunit {{sunit.index}}
        <div class="col-md-12">
            <div class = "row">
              <div class = "col-xs-2" ng-repeat="su in sunit.display">
        <span ng-repeat ="aa in su">
            <amino-acid acid=aa></amino-acid>
        </span>
            </div>
        </div>
@*        <div class="col-md-12">
            <span href="#" editable-textarea="su.sequence" blur="submit">{{su.sequence}}</span>
        </div>*@
</div>
</div>



    <form class="form-horizontal" name="subunitForm" id = "add-subunit" role="form" novalidate>
        <div class="row form-row">
            <div class = "col-md-12">
                <subunit ng-model="subunit.sequence" subindex={{substance.subunits.length}}></subunit>
            </div>
        </div>
        <div ng-hide=true>
            <input ng-model="subunit.index">
        </div>
        <div >
        @submitbuttons("subunit", "subunitForm", "subunits")
        </div>
    </form>
</div>
        </div>
