@import ix.core.models.{Role, UserProfile, Acl}
@import ix.core.controllers.AdminFactory
@import helper._

@(userForm: Form[UserProfile])

@ix.ginas.views.html.ginas("Add User", "null") {
    @ix.ginas.views.html.menu()
} {
    <form id="adduser" role="form" method="post" action="@ix.ginas.controllers.routes.GinasApp.addPrincipal()">

        <div class="body">
            <div class="form-group table" >
                <table id="" align="center">
                    <tr>
                        <td colspan="2">
                            <table>
                                <tr><td colspan="2" align="center"><h4>Add User</h4></td></tr>
                                <tr align="left">
                                    <td><label>User Name</label> </td>
                                    <td> <input class="form-input" type="text" name="username" ng-model="username" required/> </td>
                                </tr>
                                <tr><td colspan="2"><br/></td></tr>
                                <tr align="left">
                                    <td><label>Password*</label></td>
                                    <td>
                                    	<input class="form-input" type="password" name="password" ng-model="password" autocomplete="off"/>
                                    </td>
                                </tr>
                                <tr><td colspan="2"><br/></td></tr>
                                <tr align="left">
                                    <td><label>Email</label></td>
                                    <td><input class="form-input" type="email" name="email" ng-model="email" /></td>
                                </tr>

                                <tr><td colspan="2"><br/></td></tr>
                                <tr align="left">
                                    <td><label>Active</label></td>
                                    <td><input class="form-input" type="checkbox" name="active" ng-model="active" value="true"/></td>
                                </tr>

                                <tr><td colspan="2"><br/></td></tr>
                                <tr align="left">
                                    <td><label>Roles</label></td>
                                    <td id="roleGroup">
                                    @for(rs <- Role.options()) {
                                        <input class="form-input" type="checkbox" name="r-@rs.toString()" id="r-@rs.toString()" value="@rs.toString()"/>
                                        <span>@rs.toString()</span><br/>
                                    }
                                    </td>
                                </tr>

                                <tr><td colspan="2"><br/></td></tr>

                                <tr align="left">
                                    <td align="center"><label>Groups &nbsp;&nbsp;</label></td>
                                    <td id="permGroup">
                                        @for(gs <- AdminFactory.allGroups()) {
                                            <input class="form-input" type="checkbox" name="g-@gs.name" id="g-@gs.name" value="@gs.name"/>
                                            <span>@gs.name</span> <br/>
                                        }
                                        <div id="grpLable">Enter a Group Name</div>
                                        <div id="grpTxtBox"><input class="form-input" type="text" name="grpName" ng-model="grpName" id="grpName"></div>
                                    </td>
                                </tr>

                                <tr><td colspan="2"><br/></td></tr>
                                <tr class="actions">
                                    <td><input type="submit" value="Save" class="btn primary"> </td>
                                    <td><a href="@ix.ginas.controllers.routes.GinasApp.listGinasUsers()" class="btn" target="_self">Cancel</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                
            </div>



        </div>
    </form>
    
    <div>*Note: If no password is provided, one will be auto-generated. The password will not be discoverable, but can be explicitly changed by an admin.</div>
}




