@import ix.ginas.controllers.GinasApp

@ix.ginas.views.html.ginas("Admin Portal", "null", false, true) {
    @ix.ginas.views.html.menu()
} {
    <script src='@routes.Assets.at("javascripts/vakata-jstree-a6a0d0d/dist/jstree.js")'></script>
    <script>
            $(document).ready(function () {
                $('#jstree_demo_div').jstree({ 'core' : {
                    'data' :
                    function(node, cb){
                        var data = @Html(GinasApp.getLogFileListAsJson());

                        //add href
                        var i;
                        for(i=0; i< data.length; i++){
                            if(data[i].isDir){
                                data[i].icon = "fa fa-folder-o";
                                data[i].a_attr = {'href' :"" , 'target' : "_self"};
                             }else{

                                // is a file add an a_attr
                                data[i].icon = "fa fa-file-o";
                                data[i].a_attr = {'href' : "@ix.ginas.controllers.routes.GinasApp.downloadFile("$PLACEHOLDER$")".replace("%24PLACEHOLDER%24",data[i].id),  'target' : "_self"};

                            }

                        }
                        console.log(data);
                        cb.call(this, data);




                    }

                } });

                $('#jstree_demo_div').on("changed.jstree", function (e, data) {

                    var i, j;

                    var len = data.selected.length;

                    for(i = 0; i < len; i++) {

                        console.log(data.selected[i] + "  " + data.node);
                        if(!data.node.original.isDir){
                            document.location.href =  data.node.a_attr.href;
                        }
                    }



                });

                $('#jstree_demo_div').on("select_node.jstree", function (e, data) {


                    console.log(data);
                    if(data.node.original.isDir){
                        $(this).jstree('toggle_node', data.selected[0]);
                    }
                });



                $('#jstree_demo_div').on("open_node.jstree", function (e, data) {
                    console.log("opened " + data.node.id);
                    data.instance.set_icon(data.node, "fa fa-folder-open-o");
                });

                $('#jstree_demo_div').on("after_close.jstree", function (e, data) {
                    console.log("closed " + data.node.id);
                    data.instance.set_icon(data.node, "fa fa-folder-o");
                });
            });

    </script>
    <uib-tabset>
        <uib-tab>
            <uib-tab-heading>
                User Management <i class ="fa fa-users fa-2x"></i>
            </uib-tab-heading>
            @users()
        </uib-tab>
        <uib-tab select="">
            <uib-tab-heading>
                Data Management <i class ="fa fa-database fa-2x"></i>
            </uib-tab-heading>
            @load()
        </uib-tab>
        <uib-tab select="">
            <uib-tab-heading>
                CV Management <i class ="fa fa-briefcase fa-2x"></i>
            </uib-tab-heading>
            <cv-form></cv-form>
        </uib-tab>
        <uib-tab select="">
            <uib-tab-heading>
                Rebuild Index <i class ="fa fa-refresh fa-2x"></i>
            </uib-tab-heading>
            @rebuild()
        </uib-tab>
        
        <uib-tab select="">
            <uib-tab-heading>
                Scheduled Jobs <i class="fa fa-clock-o fa-2x"></i>
            </uib-tab-heading>
			<div ng-controller="ScheduledJobsController" ng-init="init()">
				<div ng-repeat="job in jobs" class="panel panel-default sub-list">
				    <div class="panel-body list-item">
				    	<div ng-controller="ScheduledJobController" ng-init="init(job, true)">
				    	<div class = "row">
            <div class = "col-md-3">
                <div class ="row">
                    <div class = "col-md-8 col-md-offset-1 text-center">
                          <div ng-if="state.running">
                                <i class="fa fa-cog fa-5x fa-spin"></i>
                                <div>Running task ... </div>
                                <button class="btn" ng-click="cancel()">
                                	(click to cancel)
                                </button>
                          </div>
                          <div ng-if="!state.running">
                          	<div ng-if="state.enabled">
                          		  <i class="fa fa-clock-o fa-5x"></i>
								  <div><div><strong>Next Run Time</strong></div>
								  <i>{{moment(state.nextRun)}}</i></div>
					         </div>
					         <div ng-if="!state.enabled">
					         	  <i class="fa fa-pause fa-5x"></i>
					         	  <div>
					         	  <div><strong><i>Schedule Disabled</i></strong></div>
					         	  <i><s>{{moment(state.nextRun)}}</s></i>
					         	  
					         	  </div>
					         </div>
					                                <button class="btn" ng-click="execute()">
					                                	(execute now)
					                                </button>
                          </div>
                          
                          
                    </div>
                </div>
            </div>
            <div class = "col-md-7">
            
            <div class="table-responsive">          
			  <table class="table">
			  <tr ng-if="state.description">
				  <td><strong>Description:</strong></td>
				  <td>{{state.description}}</td>
			  </tr>
			  <tr>
				  <td><strong>Enabled:</strong></td>
				  <td>{{state.enabled}}</td>
			  </tr>
			  
			  <tr ng-if="state.cronSchedule">
				  <td><strong>Cron Schedule:</strong></td>
				  <td>
				  	<div>
				  		<code>{{state.cronSchedule}}</code>
				  	</div>
				  	<div>
				  		<i>
					  	({{state.cronScheduleHuman}})
					  	</i>
				  	</div>
				  </td>
			  </tr>
			  <tr ng-if="state.numberOfRuns">
				  <td><strong>Number of times run:</strong></td>
				  <td>{{state.numberOfRuns}}</td>
			  </tr>
			  
			  <tr ng-if="state.lastDurationHuman">
				  <td><strong>Last Execution Duration</strong></td>
				  <td>{{state.lastDurationHuman}}</td>
			  </tr>
			  <tr ng-if="state.taskDetails">
				  <td><strong>Message</strong></td>
				  <td>{{state.taskDetails.message}}</td>
			  </tr>
			 
			  </table>
			</div>
                
            </div>
            <div class = "col-md-2">
                <div ng-if="state.lastStarted" class = "row">
                    <div class = "col-md-12">
                        Last started: <h6>{{moment(state.lastStarted)}}</h6>
                    </div>
                </div>
                <div ng-if="state.lastFinished" class = "row">
                    <div class = "col-md-12">
                        Last ended: <h6>{{moment(state.lastFinished)}}</h6>
                    </div>
                </div>
               
                <div ng-if="!state.enabled">
                                <button class="btn" ng-click="enable()">
                                	(click to enable task)
                                </button>
                </div>
                <div ng-if="state.enabled">
                                <button class="btn" ng-click="disable()">
                                	(click to disable task)
                                </button>
                </div>
            </div>
        </div>
					    </div>
				    </div>
				</div>
				<div ng-if="!jobs.length">
					<span>No scheduled tasks</span>
				</div>
			</div>
        </uib-tab>
        
        
        


        <uib-tab select="">
            <uib-tab-heading>
                All Files <i class="fa fa-download fa-2x"></i>
            </uib-tab-heading>
            <p>Click on the folder to open/close, Click on file to download</p>



                    <div id="jstree_demo_div">


                </div>

        </uib-tab>
    </uib-tabset>


}
