@import ix.ginas.controllers.GinasApp

@ix.ginas.views.html.ginas("Admin Portal", "null") {
    @ix.ginas.views.html.menu()
} {
    <uib-tabset>
        <uib-tab>
            <uib-tab-heading>
                User Management <i class ="fa fa-users fa-2x"></i>
            </uib-tab-heading>
            @users()
        </uib-tab>
        <uib-tab select="">
            <uib-tab-heading>
                Data Management <i class ="fa fa-database fa-2x"></i>
            </uib-tab-heading>
            @load()
        </uib-tab>
        <uib-tab select="">
            <uib-tab-heading>
                CV Management <i class ="fa fa-briefcase fa-2x"></i>
            </uib-tab-heading>
            <cv-form></cv-form>
        </uib-tab>
        <uib-tab select="">
            <uib-tab-heading>
                Rebuild Index <i class ="fa fa-refresh fa-2x"></i>
            </uib-tab-heading>
            @rebuild()
        </uib-tab>
        
        <uib-tab select="">
            <uib-tab-heading>
                Scheduled Jobs <i class="fa fa-clock-o fa-2x"></i>
            </uib-tab-heading>
			<div ng-controller="ScheduledJobsController" ng-init="init()">
				<div ng-repeat="job in jobs" class="panel panel-default sub-list">
				    <div class="panel-body list-item">
				    	<div ng-controller="ScheduledJobController" ng-init="init(job, true)">
				    	<div class = "row">
            <div class = "col-md-3">
                <div class ="row">
                    <div class = "col-md-8 col-md-offset-1 text-center">
                          <div ng-if="state.running">
                                <i class="fa fa-cog fa-5x fa-spin"></i>
                                <div>Running task ... </div>
                                <button class="btn" ng-click="cancel()">
                                	(click to cancel)
                                </button>
                          </div>
                          <div ng-if="!state.running">
                          	<div ng-if="state.enabled">
                          		  <i class="fa fa-clock-o fa-5x"></i>
								  <div><div><strong>Next Run Time</strong></div>
								  <i>{{moment(state.nextRun)}}</i></div>
					         </div>
					         <div ng-if="!state.enabled">
					         	  <i class="fa fa-pause fa-5x"></i>
					         	  <div>
					         	  <div><strong><i>Schedule Disabled</i></strong></div>
					         	  <i><s>{{moment(state.nextRun)}}</s></i>
					         	  
					         	  </div>
					         </div>
					                                <button class="btn" ng-click="execute()">
					                                	(execute now)
					                                </button>
                          </div>
                          
                          
                    </div>
                </div>
            </div>
            <div class = "col-md-7">
            
            <div class="table-responsive">          
			  <table class="table">
			  <tr ng-if="state.description">
				  <td><strong>Description:</strong></td>
				  <td>{{state.description}}</td>
			  </tr>
			  <tr>
				  <td><strong>Enabled:</strong></td>
				  <td>{{state.enabled}}</td>
			  </tr>
			  
			  <tr ng-if="state.cronSchedule">
				  <td><strong>Cron Schedule:</strong></td>
				  <td>
				  	<div>
				  		<code>{{state.cronSchedule}}</code>
				  	</div>
				  	<div>
				  		<i>
					  	({{state.cronScheduleHuman}})
					  	</i>
				  	</div>
				  </td>
			  </tr>
			  <tr ng-if="state.numberOfRuns">
				  <td><strong>Number of times run:</strong></td>
				  <td>{{state.numberOfRuns}}</td>
			  </tr>
			  
			  <tr ng-if="state.lastDurationHuman">
				  <td><strong>Last Execution Duration</strong></td>
				  <td>{{state.lastDurationHuman}}</td>
			  </tr>
			  <tr ng-if="state.taskDetails">
				  <td><strong>Message</strong></td>
				  <td>{{state.taskDetails.message}}</td>
			  </tr>
			 
			  </table>
			</div>
                
            </div>
            <div class = "col-md-2">
                <div ng-if="state.lastStarted" class = "row">
                    <div class = "col-md-12">
                        Last started: <h6>{{moment(state.lastStarted)}}</h6>
                    </div>
                </div>
                <div ng-if="state.lastFinished" class = "row">
                    <div class = "col-md-12">
                        Last ended: <h6>{{moment(state.lastFinished)}}</h6>
                    </div>
                </div>
               
                <div ng-if="!state.enabled">
                                <button class="btn" ng-click="enable()">
                                	(click to enable task)
                                </button>
                </div>
                <div ng-if="state.enabled">
                                <button class="btn" ng-click="disable()">
                                	(click to disable task)
                                </button>
                </div>
            </div>
        </div>
					    </div>
				    </div>
				</div>
				<div ng-if="!jobs.length">
					<span>No scheduled tasks</span>
				</div>
			</div>
        </uib-tab>
        
        
        
        <uib-tab select="">
            <uib-tab-heading>
                Log Files <i class="fa fa-download fa-2x"></i>
            </uib-tab-heading>
            <p>Click on the log file to download</p>

            <div class="row info">
                <div class="col-md-9">
                    <table class="table table-striped keyvalue">
                        <tr><th><strong>File Name</strong></th>
                            <th><strong>Last Updated Date</strong></th>
                        <th><strong>File Size (in bytes)</strong></th></tr>
                        @for(file <- GinasApp.ListLogFiles().keys) {
                            <tr>
                                <td><a href="@ix.ginas.controllers.routes.GinasApp.downloadFile(file.toString())" target="_self">@file</a></td>
                                @defining(GinasApp.ListLogFiles().get(file).toString().split("size")) { case Array(x1, x2) =>
                                    <td>@x1</td>
                                    <td>@x2</td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
}
