@import ix.core.models.Principal


@(user: ix.core.models.Principal)

@ix.ginas.views.html.ginas("User Portal", "null") {
    @ix.ginas.views.html.menu()
} {
    <uib-tabset>
        <uib-tab>
            <uib-tab-heading>
               <i class ="fa fa-users fa-2x"></i> User Info 
            </uib-tab-heading>
            <div class="row info">
                <div class="col-md-4">
                    @if(user.selfie != null){
                        <img src = '@user.selfie' class = "img-responsive">
                    }else{
                        <i class="fa fa-user-secret fa-15x"></i>
                    }

                </div>
                <div class = "col-md-8">
            <h6>Roles: @ix.ncats.controllers.auth.Authentication.getUser().getUserProfile().getRoles()</h6>
	           @user.username
	           @user.selfie
	           @user.email
                    </div>
           
	</div>
	
        </uib-tab>
        
         <uib-tab select="">
            <uib-tab-heading>
              <i class="fa fa-download fa-2x"></i>  My Downloads 
            </uib-tab-heading>
            <div class="row info">
            <div class = "col-md-12">
            <div style="padding:10px;text-align:center;">
           <a class = "btn btn-default center-text" href="@ix.ginas.controllers.routes.GinasApp.downloadsView(16,1)" target="_self"><i class="fa fa-download "></i>&nbsp;View My Downloads</a>
           </span>
           </div>
           </div>
        </uib-tab>
        
        <!-- 
        <uib-tab select="">
            <uib-tab-heading>
                Structure Preferences <i class="fa fa-cogs fa-2x"></i>
            </uib-tab-heading>
            <p>Coming Soon</p>
        </uib-tab>
        <uib-tab select="">
            <uib-tab-heading>
                My Edits <i class="fa fa-pencil-square-o fa-2x"></i>
            </uib-tab-heading>
            <p>Coming Soon</p>
        </uib-tab>
        <uib-tab select="">
            <uib-tab-heading>
                Messages <i class="fa fa-envelope fa-2x"></i>
            </uib-tab-heading>
            <p>Coming Soon</p>
        </uib-tab>
        -->
    </uib-tabset>
}
