@import play.api.Play.current
<div class="row info">
    <button class="btn btn-primary label-offset det">
       Rebuild Indexes&nbsp;</button>
    <span><i class="fa fa-question-circle fa-lg"></i></span>
    <div class="col-md-12">
        <div class="row form-row">
            <div class="col-md-12">
                <a href ="app/_updateIndex/_monitor" target="_self" class = "btn btn-danger">Press Me</a>
                @*<a href= "@ix.ncats.controllers.crud.routes.Administration.listPrincipals()" id ="admin-button" target="_self">User Management<i class ="fa fa-users fa-2x"></i></a>*@
            </div>
        </div>
    </div>
</div>
