<div class="row info">
    <button class="btn btn-primary label-offset det">
        User Management&nbsp;</button>
    <span><i class="fa fa-question-circle fa-lg"></i></span>
    <div class="col-md-12">
        <div class="row form-row">
            <div class="col-md-12">
                <a href= "@ix.ncats.controllers.crud.routes.Administration.listPrincipals()" id ="admin-button" target="_self">User Management<i class ="fa fa-users fa-2x"></i></a>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>

            </div>
        </div>
    </div>
</div>
