@import ix.core.search.TextIndexer._



@(facets: Array[Facet]){

 <script>
$(document).ready(function () {
	var chart =	$('#history-bar').highcharts({
			credits: {
				enabled: false
			},
			legend: {
				enabled: false
			},
			chart: {
				height: 300,
				renderTo: 'container',
				type: 'column',
				zoomType:'x'
			},
			title: {
				text: null
			},
			xAxis: {
				categories:     
					@facets(0).getLabelString()
				labels:{
					overflow: 'justify',
					rotation: 45,
					useHTML: true,
		            formatter: function() {
		              return '<div class="labelctrl">'+this.value+'</div>'}
				}
			},
			yAxis: {
				max: max,
				title: {
					text: 'Publication Count'
				}
			},
			
			series: [{
				name: 'Publications',
				data:
					@facets(0).getLabelCount()
			}]
		});
	});
</script>
}