@(count: Integer, message: String, pub: ix.core.models.Publication)
@import helper._ 

@main("Publications", "NCATS Publications") {

<div class="row">
		<div class="col-md-1">
		<a href="@ix.publications.controllers.routes.ReachApp.publications()"><span class="glyphicon glyphicon-home house"></span></a>
	</div>
	<div class="col-md-10">
		<h1>@pub.title</h1>
	</div>
</div>

<div class="row">
	@if(pub.mesh.size()!=0){
	<div class="col-md-2">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Keywords:</h3>
			</div>
			<!--END panel-heading-->
			<div class="panel-body"id ="detailKeywords">

				<ul class="keywords" style="text-align: left;">
					@for(a<-pub.mesh){
					<li>@a.heading.replaceAll("/","/ ")</li> }
				</ul>


			</div>
		</div>
	</div>
	<div class="col-md-10">
		}else{
		<div class="col-md-12">
			}
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Publication Details:</h3>
				</div>
				<!--END panel-heading-->
				<div class="panel-body">

					@if(pub.abstractText != null){
					<div class="row">
						<div class="col-md-2 category">Abstract:</div>
						<div class="col-md-10 data">@pub.abstractText</div>
					</div>
					<br /> 
					} 
					@if(pub.figures.size()!=0){
					<div class="row">
						<div class="col-md-2 category">Images:</div>
						<div class="col-md-10 data" id="pubImg">
							<a href="@ix.core.controllers.routes.RouteFactory.get("figures", pub.figures(0).id)?format=image"
								class="highslide" id="zoom" onclick="return hs.expand(this)">
								<img src="@ix.core.controllers.routes.RouteFactory.get("figures", pub.figures(0).id)?format=image"
								class="pub-img">
							</a>
						
						</div>
					
						<br/>
					}


				</div>
				<div class="row">
					<div class="col-md-2 category">Authors:</div>
					<div class="col-md-10 data" >
						
						@for(a <- pub.authors){ 
						@a.author.getName(); }
			
					</div>
				</div>
			<div class="row">
				<div class="col-md-2 category">External Links:</div>
				<div class="col-md-10 data">
				
				<ul class="pubs-info">
				 @if(pub.doi!= null){
					<li>
							Full Article Text: <a href="http://www.dx.doi.org/@pub.doi"><strong>@pub.doi </strong></a><span class = "glyphicon glyphicon-share-alt"></span>
					</li> }
						@if(pub.pmcid!= null){
					<li>
							Pubmed Central ID: <a
								href="http://www.ncbi.nlm.nih.gov/pmc/articles/@pub.pmcid"><strong>@pub.pmcid </strong></a><span class = "glyphicon glyphicon-share-alt"></span>
										</li> }
					<li>
						PubMed ID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/@pub.pmid"><strong>@pub.pmid </strong></a><span class = "glyphicon glyphicon-share-alt"></span>
						</li>
				</ul>
				</div>
				</div>
				</div>
			</div>
		</div>

	</div>
</div>

}
