@import ix.core.search.TextIndexer._
@import ix.publications.controllers.ReachApp
@import ix.utils.Util

@(facets: Array[Facet])

<script>
var index = 0;
var filterList = [];
  var filters = {};
</script>

@facet(f: Facet) = {
<div class="panel panel-primary">
  <div class="panel-heading"">
    <h3 class="panel-title">
      @f.getName().replaceAll("MeSH","Keyword").trim()
    </h3>
  </div>
  <div class="panel-body">
    <table class="table table-condensed" id = "@f.getName().trim()">
      @** move all selected filters upfront **@
      @for(i <- 0 until f.getValues().size()) {
        @if(ReachApp.hasFacet(f,i)) {
	<tr>
	  @defining(ReachApp.sha1(f,i)) { id =>
	     <td>
	       <input type="checkbox" checked="true"
		      onclick="filterToggle(this)" id="@id"/>
	     </td>
	     <script>
	        filters['@id'] = {
	        		id: '@id',
	           checked: @ReachApp.hasFacet(f,i),
               name: '@ReachApp.encode(f)',
	           value: '@ReachApp.encode(f,i)',
	           displayName: '@f.getValues().get(i).getLabel()',
	           count: @f.getValues().get(i).getCount()
	        };
	        filterList.push(filters['@id']);
	     </script>
         <td><label for = "@id">@f.getValues().get(i).getLabel()</label></td>
	 <td>
           <span class="badge">@f.getValues().get(i).getCount()</span>
	 </td>
        </tr>
        }
        }
      }
      @for(i <- 0 until Math.min(ReachApp.MAX_FACETS, f.getValues().size())) {
        @if(!ReachApp.hasFacet(f,i)) {
	<tr>
	  @defining(ReachApp.sha1(f,i)) { id =>
	     <td>
	       <input type="checkbox" onclick="filterToggle(this)" id="@id"/>
	     </td>
	     <script>
	        filters['@id'] = {
	        		id: '@id',
	           checked: @ReachApp.hasFacet(f,i),
               name: '@ReachApp.encode(f)',
	           value: '@ReachApp.encode(f,i)',
	           displayName: '@f.getValues().get(i).getLabel()',
	           count: @f.getValues().get(i).getCount()
	        };
	        filterList.push(filters['@id']);
			//console.log(filterList);
	        </script>
            <td><label for = "@id">@f.getValues().get(i).getLabel()</label></td>
	 <td>
           <span class="badge" style="float:right;">@f.getValues().get(i).getCount()</span>
	 </td>
        </tr>
        }
        }
      }
    </table>
  </div>
</div>
}

<div class="panel-group">
  @for(f <- facets) {
     @facet(f)
  }
</div>

<script>
function filterToggle (el) {
  filters[el.id].checked = el.checked;
  /*console.clear();*/
  var facet = "";
  for (var f in filters) {
   // console.log(f+': '+filters[f].checked);
    if (filters[f].checked) {
      if (facet.length > 0) {
         facet += '&';
      }
      facet += "facet="+filters[f].name + '/' + filters[f].value;
    }
  }
  console.log(el.id+' '+facet);
  var url = '@HtmlFormat.raw(ReachApp.url("facet","page"))';
  url += url.length == 0 ? '?' : '&';
  location.href = url+facet;
}
</script>
