<footer class="footer">

<div class="whitebox">
<div class="updated-section">
<div class="top pull-right">
  <a href="#top">&#x25B2; Back to top</a>
  </div><!--/.top-->
  </div> <!--updated-section-->
</div> <!-- whitebox container-->
<ul class = "list-inline" id="footer-links">
    <li><a href="/">NCATS Home</a></li>

    <li><a href="/sitemap">Site Map</a></li>

    <li><a href="/privacy">Privacy Notice</a></li>

    <li><a href="/comments">Comment Policy</a></li>

    <li><a href="/disclaimer">Disclaimer</a></li>

    <li><a href="/accessibility">Accessibility</a></li>

    <li><a href="/foia">FOIA</a></li>

    <li><a href="http://oig.hhs.gov">OIG<span class="ext"><span class="element-invisible"> (link is external)</span></span></a></li>
  </ul>
    <div class="region region-footer">
    <section id="block-block-11" class="block block-block clearfix">

      
  <p style="text-align: center;"> </p>
<p style="text-align: center;">If you have problems viewing PDF files, download the latest version of <a href="http://get.adobe.com/reader/" title="Visit to download Adobe Reader">Adobe Reader<span class="ext"><span class="element-invisible"> (link is external)</span></span></a></p>
<p style="text-align: center;">For <a href="http://edi.nih.gov/consulting/language-access-program/about" target="_blank" title="Read  the plan">language access<span class="ext"><span class="element-invisible"> (link is external)</span></span></a> assistance, contact the <a href="mailto:info@@ncats.nih.gov" title="E-mail Public Information Officer">NCATS Public Information Officer<span class="mailto"><span class="element-invisible"> (link is external)</span></span></a></p>
<p style="text-align: center;"><span style="font-size: small;">National Center for Advancing Translational Sciences (NCATS), 6701 Democracy Boulevard, Bethesda MD 20892-4874 • 301-435-0888</span></p>
</section>
  </div>
</footer>