@(title: String, kind: String)(content: Html)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>@title</title>
<link rel="stylesheet"
	href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
<link rel="stylesheet"
	href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
<link rel="stylesheet"
	href='@routes.WebJarAssets.at(WebJarAssets.locate("smoothness/jquery-ui.css"))'>
<link rel="stylesheet"
	href='@routes.WebJarAssets.at(WebJarAssets.locate("highslide.css"))'>
<link rel="stylesheet" href='@routes.Assets.at("ncats/css/footer.css")'>
<link rel="stylesheet" href='@routes.Assets.at("ncats/css/idg.css")'>
<link rel="stylesheet"
	href='@routes.Assets.at("publications/css/overwrite.css")'>
<link rel="stylesheet"
	href='@routes.Assets.at("publications/css/reach.css")'>
	<link rel="stylesheet"
	href='@routes.Assets.at("publications/css/mega.css")'>
<link rel="stylesheet"
	href='@routes.Assets.at("publications/css/fixes.css")'>
<!--[if lte IE 9]>
     <style>
     .count {
      margin-top:95%;
      margin-right:1%;
      }
      </style>
      <![endif]-->
<!--[if lte IE 9]>
<style type="text/css">
#ie6msg{border:3px solid #c33; margin:8px 0; background:#fcc; color:#000;}
#ie6msg h4{margin:8px; padding:0;}
#ie6msg p{margin:8px; padding:0;}
#ie6msg p a.getie7{font-weight:bold; color:#006;}
#ie6msg p a.ie6expl{font-weight:bold; color:#006;}
</style>
<div id="ie6msg">
<h4>Did you know that your browser is out of date, and potentially poses a security risk?</h4>
<p>To get the best possible experience using this website it is recommended that you upgrade your browser to a newer version. 
<p>You could also try some other popular browsers like <a class="ie6expl" href="http://mozilla.com">FireFox</a> or
 <a class="ie6expl" href="https://www.google.com/chrome/S">Chrome</a>.</p>
</div>
<![endif]-->
<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'
	type='text/javascript'></script>

<script src='@routes.Assets.at("publications/js/chartBuilder.js")'
	type='text/javascript'></script>


<script src="https://ncats.nih.gov/sites/all/themes/ncats-2014/js/megaMenu.js?nnmrnz"></script>
<script src="https://ncats.nih.gov/sites/all/themes/ncats-2014/js/functions.js?nnmrnz"></script>
<script src="https://ncats.nih.gov/sites/all/themes/ncats-2014/js/spectrum.js?nnmrnz"></script>

<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.js"))'></script>
<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("highcharts.js"))'
	type='text/javascript'></script>

<script type='text/javascript'
	src='@routes.Assets.at("javascripts/highlighter.js")'></script>
<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("highslide.js"))'
	type='text/javascript'></script>
<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("typeahead.bundle.min.js"))'></script>
<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("handlebars.min.js"))'></script>
<script
	src='@routes.WebJarAssets.at(WebJarAssets.locate("bloodhound.min.js"))'></script>
	<script src="https://ncats.nih.gov/sites/all/themes/ncats-2014/js/megaMenu.js?nnmrnz"></script>
	<noscript>
  	<link href="/sites/all/themes/ncats-2014/css/noscript.css" rel="stylesheet" type="text/css">
</noscript>
@typeahead()
<script type="text/javascript">
	hs.graphicsDir = '@routes.Assets.at("publications/images/")';
	hs.outlineType = null;
	hs.wrapperClassName = null;
	hs.showCredits = false;
</script>
</head>
<body>
	<div class="container-fluid" id="ncatsRibbon">
		<div class="row">
			<div class="col-md-10 col-md-offset-2">
				<img src="@routes.Assets.at("publications/images/nihribbon-hhs.png")" alt="Alt desc"> <a
					href="http://www.hhs.gov/" title="Go to the hhs.gov" class="ext">U.S.
					Department of Health &amp; Human Services</a> <img
					src="@routes.Assets.at("publications/images/nihribbon-divider.png")" class="nihDivider"
					alt="Alt desc"><img src="@routes.Assets.at("publications/images/nih-ribbon.png")" class="nihArrows"
					alt="Alt desc"> <a href="http://www.nih.gov/"
					title="Go to nih.gov" class="ext">National Institutes of Health</a>
				<img src="@routes.Assets.at("publications/images/nihribbon-divider.png")" class="nihDivider"
					alt="Alt desc">
			</div>
			<!--container-->
		</div>
	</div>
	<a id="skipnav"
		href="http://ncatswebdev.ncats.nih.gov/node/63#page-header">Skip
		Over Navigation Links</a>
	<div class="topLogo container" id="top"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<a class="logo navbar-btn pull-left"
					href="http://ncatswebdev.ncats.nih.gov/index.php" title="Home">
					<img src="@routes.Assets.at("publications/images/logo.png")" alt="Home">
				</a>
			</div>
			<div class="col-md-4 col-md-offset-4" id="searchRight">

				<form action="http://search2.google.cit.nih.gov/search"
					id="ncatssearch" method="get" name="ncatssearch">
					<fieldset>
						<legend class="hidden">Search the NIH Website</legend>
						<input name="site" value="NCATS" type="hidden"> <input
							name="client" value="NCATS_frontend" type="hidden"> <input
							name="proxystylesheet" value="NCATS_frontend" type="hidden">
						<input name="output" value="xml_no_dtd" type="hidden"> <input
							name="filter" value="0" type="hidden"> <input
							name="getfields" value="*" type="hidden"> <input
							name="proxyreload" value="1" type="hidden"> <label
							class="hidden" for="nihsearchbox">Search the NIH Website</label>

						<input id="nihsearchbox" maxlength="255" name="q" size="17"
							title="Enter search text" type="text"> <input
							type="submit" value="Search">
					</fieldset>
				</form>

				<ul class="list-inline" id="utilityLinks">
					<li><a href="http://ncatswebdev.ncats.nih.gov/node/63#">Sitemap</a></li>
					<li>|</li>
					<li><a href="http://ncatswebdev.ncats.nih.gov/node/63#">Contact</a></li>
				</ul>
			</div>
		</div>
		<!--middle-->
	</div>

@menu()

	@content
</body>
</html>
