@import ix.core.controllers.PublicationFactory
@import ix.core.models.Publication
@import ix.core.models.PubAuthor
@import ix.ncats.models.NIHAuthor
@import ix.core.search.TextIndexer.Facet
@import ix.publications.controllers.ReachApp
@import scala.collection.JavaConversions._


@(query: String, current: Int, rows: Int, total: Int, pages: Array[Int],
     facets: Array[Facet], pubs: List[Publication])
		
@scripts={    
<script>
var url = '@ReachApp.url("facet","page")';
console.log(url);
</script>
}

@authrow(a: PubAuthor)={
 <li class ="text-left pub-authors">
  @if(!a.isLast){
 	@if(a.author.isInstanceOf[NIHAuthor]){
 		<a href = "/staff/@a.author.id" class="nca" title="View '@a.author.forename @a.author.lastname's Publications">@a.author.forename @a.author.lastname,</a>
  	}else{
  		@a.author.forename @a.author.lastname,
  	}
  }else{
   	@if(a.author.isInstanceOf[NIHAuthor]){
 		<a href = "/staff/@a.author.id" class="nca" title="View '@a.author.forename @a.author.lastname's Publications">@a.author.forename @a.author.lastname</a>
 	}else{
		@a.author.forename @a.author.lastname	
	} 
  }		
  </li>
}

@tabrow(p: Publication) = {
<tr>
  <td>
  <ul class = "list-inline text-left">
  <li><a href="@ix.publications.controllers.routes.ReachApp.publication(p.id)" class="pub-title">@p.title</a></li>
  
   @for(a <- p.authors) {
            @authrow(a)
          }
          <br/>
           <br/>
  <li id = "journal"><b>@p.journal.isoAbbr</b> vol: @p.journal.volume, pg:@p.pages, @p.journal.year.</li>
        
          
            
     </ul>
     <ul class = "text-left links">
     @if(p.doi){
		<li>Journal Publication Link doi:<a href="http://www.dx.doi.org/@p.doi"> @p.doi</a></li>
	}
	@if(p.pmcid){
		<li >Pubmed Central ID:<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/@p.pmcid">@p.pmcid</a></li>
}
		<li >PubMed ID:<a href="http://www.ncbi.nlm.nih.gov/pubmed/@p.pmid">@p.pmid</a></li>

 </ul>
 @if(!p.figures.isEmpty()){
	<div><a href="@p.figures(0).getUrl()" class="highslide" id="zoom" onclick="return hs.expand(this)"><img src="@p.figures(0).getUrl()"  class="pub-img"/></a></div>
          }
          
         
        </td> 
</tr>
}

@main("Publications", scripts, "NCATS Publications") {

<div class="row" id="searching">

	<div class="col-md-6 col-md-offset-3">
		   <form class="main-search" role="search" method="GET"
				action="@ix.publications.controllers.routes.ReachApp.search(null)">
	      <div class="input-group">
		<input type="text" class="form-control typeahead" id="search"
		       title="Search" placeholder="Search..." name="q">
		<input type="hidden" name="kind" value="ix.core.models.Publication" />
		<span class="input-group-btn">
		  <button class="btn btn-default" id="search" type="search"
			  value="submit">
		    <span class="fa fa-search"></span>
		  </button>
		</span>
	      </div>
	    </form>
			
		</div>
	</div>



	<div class="row" id="pub-history">
		<div class="col-md-3 col-xs-4">

					<div id="accordion">
@filters(facets)
				</div>		
			</div>
			<!--END panel panel-primary-->




		<div class="col-md-9 col-xs-8">
		
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title" id="pubChartType">Publications by Year</h2>
				</div>
				<!--END panel-heading-->
				<div class="panel-body" id="pub-main">

						@bardropdown(facets)

					<div id="history-bar"></div>
					<div id="results">
<div class="row pagination-list">
					@pagination(current, rows, total, pages)
					</div>
							<table class="table table-striped">
		  @for(p <- pubs) {
             @tabrow(p)
          }
	</table>
	<div class="row pagination-list">
					@pagination(current, rows, total, pages)
					</div>
						</div>

					</div>
				</div>
				<!--END panel-body-->
			</div>
		</div>
		<!--END panel panel-primary-->
	}