@import ix.utils.Global
@import ix.publications.controllers.ReachApp

@(key: String)

@defining(ReachApp.getRSS(key,"ix.ncats.models.Project", 5)) { feed =>
@if(feed.length > 0) {
<div class="box">
    <h3>See related Projects</h3>
    <ul>
    @for(rss <- feed) {
      @if(rss.link.indexOf("/projects") > 0) {
      <li><a href="@rss.link">@rss.title</a></li>
      }
    }
    <li><a href="@{Global.getHost()+ ix.publications.controllers.routes.ReachApp.projects()}?facet=web-tag/@key">See More...</a></li>
    </ul>
</div>
}
}
@defining(ReachApp.getRSS(key,"ix.core.models.Publication", 5)) { feed =>
@if(feed.length > 0) {
<div class="box">
  <h3>See related Publications</h3>
  <ul>
    @for(rss <- feed) {
      @if(rss.link.indexOf("/publications") > 0) {
      <li><a href="@rss.link">@rss.title</a></li>
      }
    }
    <li><a href = "@{Global.getHost()+ix.publications.controllers.routes.ReachApp.publications()}?facet=web-tag/@key">See More...</a></li>
  </ul>
</div>
}
}
