

@main("Publications", "NCATS Publications") {
<div class = "row">
<div class = "col-md-6 col-md-offset-3">
<h1>Sample Pages</h1>
</div>
</div>
<div class = "row">
<div class ="col-md-4">
<h3>Programs</h3>
<ul>
<li><a href ="./ncgc">NGCG</a></li>
<li><a href ="./trnd">TRND</a></li>
<li><a href ="./xrna">XRNA</a></li>
 </ul>
</div>
<div class ="col-md-4">
<h3>News Stories</h3>
<ul>
<li><a href ="./holman">Collaboration Spotlight</a></li>
<li><a href ="./ebola">Repurposing Ebola Drugs</a></li>
<li><a href ="./gaucher">Disease Model - Gaucher</a></li>
</ul>
</div>
<div class ="col-md-4">
<h3>Projects</h3>
<ul>
<li><a href ="./projectexample">Bone Morphongenetic Protein Inhibitors to Treat Fibrodysplasia Ossificans Progressiva</a></li>
</ul>
</div>
</div>



	}
