<script>
$(document).ready(function () {
    var category = new Bloodhound({
        datumTokenizer: function(d) {
            return Bloodhound.tokenizers.whitespace(d.key);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          wildcard: 'QUERY',
          url: '@ix.core.controllers.routes.SearchFactory.suggestField("Category", "QUERY",10)'
        }
/*
remote: '/api/suggest/Target?q=%QUERY',
*/
    });
    var program = new Bloodhound({
        datumTokenizer: function(d) {
            return Bloodhound.tokenizers.whitespace(d.key);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          wildcard: 'QUERY',
          url: '@ix.core.controllers.routes.SearchFactory.suggestField("Program", "QUERY",10)'
        }
    });
    var author = new Bloodhound({
        datumTokenizer: function(d) {
            return Bloodhound.tokenizers.whitespace(d.key);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          wildcard: 'QUERY',
          url: '@ix.core.controllers.routes.SearchFactory.suggestField("Author", "QUERY",10)'
        }
    });
    var mesh = new Bloodhound({
        datumTokenizer: function(d) {
            return d.key.split(/\//);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            wildcard: 'QUERY',
            url:  '@ix.core.controllers.routes.SearchFactory.suggestField("MeSH", "QUERY",10)'
        }
    });
    
    category.initialize();
    program.initialize();
    author.initialize();
    mesh.initialize();
    
    $('.typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 2
    }, {
        name: 'Category',
        displayKey: 'key',
        source: category.ttAdapter(),
        templates: {
        	 header: '<h4 class = "header">Category</h4>'
        }       
    }, {
        name: 'Program',
        displayKey: 'key',
        source: program.ttAdapter(),
        templates: {
        	 header: '<h4 class = "header">Program</h4>'
        }
    }, {
        name: 'Author',
        displayKey: 'key',
        source: author.ttAdapter(),
        templates: {
            header: '<h4 class = "header">Author</h4>'
        }
    }, {
        name: 'MeSH',
        displayKey: 'key',
        source: mesh.ttAdapter(),
        templates: {
          header: '<h4 class = "header">MeSH</h4>'
        }
    });

    $('.typeahead').on("typeahead:selected", function (evt, val, d) {
        console.log('typeahead selected: '+val+' type: '+d);

        for (var f in val) {
            console.log(f+' '+val[f]);
        }
        if (d == 'MeSH') {
            /* this is mesh term, so don't quote */
        }
        else {
            $('.typeahead').typeahead('val', '"'+val.key+'"');
        }
    });
    
    $('.typeahead').on("typeahead:closed", function (evt) {
        console.log('typeahead closed!');
    });
});
</script>
