@import ix.idg.controllers.DiseaseFactory
@import ix.idg.models.Disease
@import ix.idg.controllers.IDGApp
@import ix.ncats.controllers.FacetDecorator
@import ix.idg.controllers.DiseaseOntologyRegistry

@(current: Int, rows: Int, total: Int, pages: Array[Int],
        facets: Array[FacetDecorator], diseases: List[Disease])

@getdoid(t: Disease) = {
    @* We only consider the first DOID, even if there are alternates *@
    @for(kw <- t.synonyms.filter(_.label == "DOID").take(1)) {
        <a href="http://disease-ontology.org/term/@kw.term">@kw.term.replace("DOID:", "")</a>
    }
}

@tabrow(t: Disease) = {
    <tr>
        <td>@getdoid(t)</td>
        <td><a href="@ix.idg.controllers.routes.IDGApp.disease(IDGApp.getId(t))">@t.name.capitalize</a></td>
        <td>@if(t.getDescription() != null){
            @t.getDescription().replace("_", " ")
        } else {}</td>
    </tr>
}

@ix.ncats.views.html.content("Diseases", "ix.idg.models.Disease",
    ix.idg.controllers.routes.IDGApp.diseases().url,
    current, rows, total, pages, facets){ @diseasemenu() }{
<ol class="breadcrumb">
  <li><a href="@ix.idg.controllers.routes.IDGApp.index()"><span class="fa fa-home"></span> Home</a></li>
  @defining(request().queryString.get("facet")) { facets =>
     @if(facets != null) {
      <li><a href="@ix.idg.controllers.routes.IDGApp.diseases()">Diseases</a></li>
       @for(f <- facets) {
         @if(f.startsWith(DiseaseOntologyRegistry.CLASS)) {
	     @for(a <- IDGApp.getDiseaseAncestry(f.substring(f.indexOf('/')+1))) {
	        <li><a href="@a.href">@a.term</a></li>
             }
	     <li class="active">@f.substring(f.indexOf('/')+1)</li>
	  }
       }
     } else {
       <li class="active">Diseases</li>
     }
  }
  
</ol>
    @inprogress("diseases")
}{
    <table class="table table-striped">
      <tr>
        <th>DOID</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      @for(t <- diseases) {
          @tabrow(t)
      }
    </table>
}(HtmlFormat.empty)
