@import ix.idg.controllers.IDGApp
@import ix.ncats.controllers.App
@import ix.core.search.TextIndexer
@import ix.core.search.TextIndexer._
@import ix.ncats.controllers.App.FacetDecorator
@import java.net.URLEncoder

@(accs: Array[String], ctx: String = null)

@ix.ncats.views.html.main("Harmonogram") {
@**
 @menu(null) {
        <ul class="nav navbar-nav navbar-left">
            <li role="presentation"><a href="@ix.idg.controllers.routes.IDGApp.diseases(null, 10, 1)">Diseases</a></li>
            <li role="presentation"><a href="@ix.idg.controllers.routes.IDGApp.targets(null, 20, 1)">Targets</a></li>
            <li role="presentation"><a href="@ix.idg.controllers.routes.IDGApp.ligands(null, 8, 1)">Ligands</a></li>
        </ul>
	}
**@
}{ } {
    <div id='clust_instruct_container'>

        <div id='viz_gmt_labels'></div>

            <!-- toggle clustergram order -->
        <div id='toggle_order' class="btn-group" data-toggle="buttons" >
            <label class="btn btn-primary active order_name">
                <input type="radio" name="options" id="clust_button" autocomplete="off" checked > Cluster
            </label>
            <label class="btn btn-primary order_name">
                <input type="radio" name="options" id="rank_button" autocomplete="off" > Rank
            </label>
            <label class="btn btn-primary order_name">
                <input type="radio" name="options" id="class_button" autocomplete="off" > Class
            </label>
        </div>

            <!-- input box for gene search -->
        <div id='gene_search_container' class='row'>
            <input id='gene_search_box' type="text" class="form-control" placeholder="Input Gene" aria-describedby="sizing-addon2">
            <div id='gene_search_button' class="btn-group" data-toggle="buttons" >
                <label id='submit_gene_button' class="btn btn-primary active">
                    <input type="radio" name="options" id="" autocomplete="off" checked > Search
                </label>
            </div>
        </div>
        <p>set column group size</p>
        <div id="slider_col"></div>
        <p>set row group size</p>
        <div id="slider_row"></div>

    </div>
    <!-- end clust instruct container -->

    <!-- svg_div - visualization will be put here -->
    <div id='svg_div' class='svg_div' ></div>
}

<head>
    <style type="text/css">

    </style>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/d3.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/underscore.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/underscore.string.js")'></script>
    <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.js"))'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/d3_clustergram.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/load_clustergram.js")'></script>
    <link type="text/css" rel="stylesheet" href='@routes.Assets.at("stylesheets/clustergram.css")' />
    <link type="text/css" rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("smoothness/jquery-ui.css"))' />
</head>

<script>
$ ( function ( ) {
$ ( '[data-toggle="popover"]' ).popover ( ) ;
$ ( '[data-toggle="tooltip"]' ).tooltip ( ) ;
} ) ;

$(document ).ready ( function ( ) {
load_clustergram ('@ix.idg.controllers.routes.HarmonogramApp.hgForTarget(accs.mkString(","), ctx)');
}) ;
</script>
