@import ix.core.models.Keyword
@import ix.core.models.Text
@import ix.core.models.Publication
@import ix.idg.models.Ligand
@import ix.idg.controllers.Commons._
@import ix.idg.controllers.ChemblRegistry._
@import ix.idg.controllers.IDGApp
@import ix.idg.controllers.IDGApp._
@import java.net.URLEncoder

@(ligand: Ligand, activities: List[LigandActivity], breadcrumb: List[Keyword])

@ix.ncats.views.html.main(ligand.getName()){
@ligandmenu()	 
}{
<ol class="breadcrumb">
  <li><a href="@ix.idg.controllers.routes.IDGApp.index()"><span class="fa fa-home"></span> Home</a></li>
    <li><a href="@ix.idg.controllers.routes.IDGApp.ligands()">Ligands</a></li>
    @for(kw <- breadcrumb) {
    <li><a href="@kw.href">@kw.term</a></li>
    }
    <li class="active">@ligand.getName()</li>
</ol>
}{
<div class="container-fluid">
  <div class="col-md-12">
    <div class="page-header">
    @defining(ligand.getProperty(LIGAND_SOURCE)) { source =>
      @if(source != null) {
      <h1><a href='@HtmlFormat.raw(source.asInstanceOf[Keyword].href)'>@ligand.getName</a> <i class="fa fa-external-link"></i></h1>
      } else {
      <h1>@ligand.getName()</h1>
      }
    }  
      @if(ligand.description != null) {
	<div class="panel panel-default">
	  <div class="panel-body">
	    <p>@ligand.description
	  </div>
	</div>
      }
    </div>
    <div class="row">
      <div class="col-md-4">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <center>
	      <img alt="Structure of @ligand.getName()"
		   src='@ix.ncats.controllers.routes.App.structure(IDGApp.getStructure(ligand).getId,"svg",200)'>
	    </center>
	    <button type="button" class="btn btn-default"
	            data-toggle="modal" data-target="#strucModal"
		    data-molurl='@ix.ncats.controllers.routes.App.structure(IDGApp.getStructure(ligand).getId,"mol")'
	            aria-label="Left Align" style="float:right;">
	       <span class="fa fa-external-link" aria-hidden="true"></span>
	    </button>
	  </div>
	</div>
	<div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Synonyms</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
	      @for(syn <- ligand.getSynonyms()) {
		    @syn.label match {
		      case ChEMBL_ID => {
		         <tr><td><a href="@syn.href">@syn.term</a></td></tr>
		      }
		      case WHO_ATC => {
		         @if(syn.term.length() == 7) {
			    <tr><td><a href="http://www.whocc.no/atc_ddd_index/?code=@syn.term">@syn.term</a></td></tr>
			 }
		      }
		      case _ => {
		        <tr>
		        @if(syn.href != null) {
			    @if(syn.href.startsWith("http")) {
			      <td><a href="@syn.href">@syn.term</a></td>
			    } else {
		              <td>@syn.term [@syn.href]</td>
			    }
			}
			</tr>
		      }
		   }
	      }
	    </table>
	  </div>
	</div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Target Relevance</h3>
          </div>
          <div class="panel-body">
	    <table class="tree table">
	      @for(act <- activities) {
	         <tr class="treegrid-@act.target.id">
		   <td><a onclick="showLoadModal()" href="@ix.idg.controllers.routes.IDGApp.target(IDGApp.getId(act.target))">@act.target.getName()</a></td>
		   <td><span class="label label-@act.target.idgTDL.label"
		          data-toggle="tooltip" data-html="true"
			  title="<p align='left'>@act.target.idgTDL.desc</p>">@act.target.idgTDL</span></td>
		 </tr>
		 @if(act.mechanism != null) {
		   <tr class="treegrid-parent-@act.target.id">
		      <td><em>@act.mechanism</em></td>
		      <td><span class="label label-default">Mechanism</span></td>
		   </tr>
		 }
		 @for(a <- act.activities) {
		   <tr class="treegrid-@a.id treegrid-parent-@act.target.id">
		     <td>@a.label</td>
		     <td>@a.numval @a.unit</td>
		   </tr>
		 }
	      }
	    </table>
	  </div>
         </div>
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Molecular Definitions</h3>
          </div>
          <div class="panel-body">
	    <table class="table table-striped">
	       @for(p <- ligand.getProperties()) {
	         @p.label match {
		   case ChEMBL_INCHI => {
		     <tr>
		       <td>InChI</td>
		       <td><code>@p.asInstanceOf[Text].text</code></td>
		     </tr>
		   }
		   case ChEMBL_INCHI_KEY => {
		     <tr>
		       <td>InChI Key</td>
		       <td><code>@p.asInstanceOf[Text].text</code></td>
		     </tr>
		   }
		   case ChEMBL_SMILES => {
		     <tr>
		       <td>Canonical SMILES</td>
		       <td><code>@p.asInstanceOf[Text].text</code></td>
		     </tr>
		   }
		   case _ => {
		   }
		 }
	       }
	    </table>
          </div>
        </div>
       </div>
      </div>
      @if(!ligand.getPublications.isEmpty()) {
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Publications</h3>
            </div>
            <div class="panel-body">
              <div class="panel-body">
                <table class="table table-striped">
                  <tr>
                    <th>PMID</th>
                    <th>Title</th>
                    <th>Topic</th>
                  </tr>
		  @for(pub <- ligand.getPublications()) {
		     <tr>
		        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/@pub.pmid">@pub.pmid</a></td>
                        <td>@pub.title</td>
			<td>
			  @for(m <- pub.mesh) {
			    <a @if(m.majorTopic) {
			      class="label label-warning"
			    } else {
			      class="label label-primary"
			    }
			    href='@{ix.idg.controllers.routes.IDGApp.ligands(null,8,1) + "?facet=MeSH/"}@URLEncoder.encode(m.heading,"utf8")'>@m.heading</a>
			  }
			</td>
		     </tr>
		  }
    	        </table>
	      </div>
	    </div>
	  </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
}

<div class="modal fade" tabindex="-1" role="dialog" id="loadmodal"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <center><img src='@routes.Assets.at("ncats/images/spinners/294.GIF")'></center>
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="popover"]').popover();
  $('[data-toggle="tooltip"]').tooltip();
});

$(document).ready(function () { 
  $('.tree').treegrid({
   expanderExpandedClass: 'fa fa-angle-down',
   expanderCollapsedClass: 'fa fa-angle-right',
   @if(activities.length > 3) {
     initialState: 'collapsed'
   } else {
     initialState: 'expanded'
   }
  });
});

function showLoadModal () {
  console.log('showing modal...');
  $('#loadmodal').modal({
      keyboard: false,
      show: true,
      backdrop: 'static'
    });
}

$(window).unload(function () {
    $('#loadmodal').modal('hide');    
});
			    
</script>
