@import ix.core.models.Text
@import ix.idg.controllers.LigandFactory
@import ix.idg.models.Ligand
@import ix.idg.controllers.IDGApp
@import ix.idg.controllers.TcrdRegistry
@import ix.idg.controllers.ChemblRegistry
@import ix.idg.controllers.Commons._
@import ix.ncats.controllers.App.FacetDecorator
@import java.net.URLEncoder

@(current: Int, rows: Int, total: Int, pages: Array[Int],
     facets: Array[FacetDecorator], ligands: List[Ligand], ctx: String)

@ix.ncats.views.html._content("Ligands", "ix.idg.models.Ligand",
ix.idg.controllers.routes.IDGApp.ligands().url,
current, rows, total, pages, facets){ @ligandmenu() }{
<ol class="breadcrumb">
  <li><a href="@ix.idg.controllers.routes.IDGApp.index()"><span class="fa fa-home"></span> Home</a></li>
  @defining(request().queryString.get("facet")) { facets =>
     @if(facets != null && facets.length == 1) {
      <li><a href="@ix.idg.controllers.routes.IDGApp.ligands()">Ligands</a></li>
      @for(f <- facets) {
         @if(f.startsWith(WHO_ATC)) {
            @for(a <- IDGApp.getATCAncestry(f)) {
	       <li><a href="@a.href">@a.term</a></li>
	    }
	    <li class="active">@IDGApp.getATC(f.substring(f.indexOf('/')+1)).term</li>
	 }
       }
     } else {
       <li class="active">Ligands</li>
     }
  }
</ol>
    @inprogress("ligands")
}{
<ul class="media-list">
  @for(lig <-ligands) {
    <li class="media">
      <div class="media-left media-top">
        @defining(IDGApp.getStructure(lig)) { struc =>
           @if(struc != null) {
             <a  href="#"
	         data-toggle="popover"
           	 data-animation="true"
           	 data-placement="top"
           	 data-trigger="click hover focus"
           	 data-title="@lig.getName()"
	   	 data-html="true"
           	 data-content="<img src='@ix.idg.controllers.routes.IDGApp.structure(struc.getId,"svg",150,ctx)'>">
         	 <img class="media-object" alt="Structure of @IDGApp.getId(lig)"
   	      	      src='@ix.idg.controllers.routes.IDGApp.structure(struc.getId,"svg",80,ctx)'></a>
           }
        }
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="@ix.idg.controllers.routes.IDGApp.ligand(IDGApp.getId(lig))">@lig.getName()</a></h4>
        @for(t <- IDGApp.getTDL(lig)) {
           <span class="label label-@t.label"
	      	    data-toggle="tooltip"
          	    data-html="true" title="<p align='left'>@t.desc</p>">@t.name</span>
        }
	@**for(m <- IDGApp.getMechanisms(lig)) {
	   <p>@m
	}**@
	@if(lig.description != null) {
	   <p>@lig.description
	}
	<p>
	@defining(IDGApp.getMajorTopics(lig)) { mesh =>
	    @for(i <- 0 until Math.min(3,mesh.size())) {
	      <a class="label label-default"
		 href='@{ix.idg.controllers.routes.IDGApp.ligands(null,8,1) + "?facet=MeSH/"}@URLEncoder.encode(mesh(i).heading,"utf8")'>@mesh(i).heading</a>
            }
    	    @if(mesh.size() > 3) {
       	       <a class="label label-default" href="@ix.idg.controllers.routes.IDGApp.ligand(IDGApp.getId(lig))">...</a>
      	    }
  	}
      </div>
    </li>
  }
</ul>
}(HtmlFormat.empty){
<div class="collapse in" id="carousel-highlight" aria-expanded="true">	
 <div class="ContentFlow" style="height:300px;">
   <div class="loadIndicator"><div class="indicator"></div></div>
   <div class="flow">
     @for(lig <- ligands) {
        @defining(IDGApp.getStructure(lig)) { struc =>
           @if(struc != null) {
              <div class="item">
                <img class="content" src='@ix.idg.controllers.routes.IDGApp.structure(struc.getId,"svg",250,ctx)' alt='@lig.getName'/>
	        <div class="caption"><h3><a href='@ix.idg.controllers.routes.IDGApp.ligand(IDGApp.getId(lig))'>@lig.getName</a></h3></div>
	      </div>
	   }
        }
     }
   </div>
   <div class="globalCaption"></div>
 </div>
</div>
}

<head>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/contentflow.js")'></script>
</head>

<script>
$(function () {
  $('[data-toggle="popover"]').popover();
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
