@(title: Html)

<div class="modal fade" id="modal-radar" tabindex="-1"
role="dialog" aria-labelledby="modalLabelRadar" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabelRadar">
                    @title
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <form>
                            <div class="form-group">
                                <label for="select-agg">Aggregation Type</label>
                                <select id="select-agg">
                                    <option value="radar-attr_type">Attribute Type</option>
                                    <option value="radar-attr_group">Attribute Group</option>
                                    <option value="radar-data_type">Data Type</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="select-overlay">Overlay Data from</label>
                                <select id="select-overlay">
                                    <option value="none">None</option>
                                    <option value="all">All targets</option>
                                    <option value="tdark">TDark</option>
                                    <option value="tchem">TChem</option>
                                    <option value="tbio">TBio</option>
                                    <option value="tclin">TClin</option>
                                </select>
                            </div>
                        </form>
                        <label for="radar-ds-container">Data Sources</label>
                        <div id="radar-ds-container">

                        </div>
                    </div>
                    <div class="col-md-9">
                        <div id="modal-radardiv" target=""
                        style="display: inline;"
                        class="embed-responsive embed-responsive-4by3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>