
@import ix.idg.models.Target
@import ix.idg.models.Ligand
@import ix.idg.models.Disease
@import ix.core.models.Value
@import ix.core.models.Keyword
@import ix.core.models.VInt
@import ix.core.models.Publication
@import ix.idg.controllers.IDGApp
@import ix.idg.controllers.IDGApp._
@import ix.idg.controllers.Commons._
@import ix.idg.controllers.TcrdRegistry
@import ix.idg.controllers.UniprotRegistry
@import ix.utils.Util
@import java.net.URLEncoder

@(target: Target, diseases: List[DiseaseRelevance], breadcrumb: List[Keyword])

@keyword(kw: Keyword, max: Int = 40) = {
  @if(max > 0 && kw.term.length() > max) {
    <a id="keyword" class="label label-primary"
       data-toggle="popover"
       data-html="true"
       data-trigger="hover"
       data-placement="top"
       title="@kw.label"
       data-content="<p align='left'>@kw.term</p>"
       href='@{ix.idg.controllers.routes.IDGApp.targets()+"?facet="+URLEncoder.encode(kw.label,"utf8")+"/"}@URLEncoder.encode(kw.term, "utf8")'>@{kw.term.substring(0, max)}...</a>&nbsp;
  } else {
    <a id="keyword" class="label label-primary"
       href='@{ix.idg.controllers.routes.IDGApp.targets()+"?facet="+URLEncoder.encode(kw.label,"utf8")+"/"}@URLEncoder.encode(kw.term, "utf8")'>@kw.term</a>
  }
}

@property(name: String, dir: Int = 0) = {
 @defining(IDGApp.getProperties(target, name, dir)) { props =>
    @if(!props.isEmpty()) {
       @if(props.length > 10) {
       <div class="modal fade" id="@Util.sha1(name).substring(0,5)"
          tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	  aria-hidden="true">
	  <div class="modal-dialog">
	     <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close"
		  	data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">@name for @target.getName</h4>
		</div>
      		<div class="modal-body">
		    @for(p <- props) {
		        @p match {
	          	   case kw: Keyword => {
			       @keyword(kw, 0)
			   }
			   case _ => {
		  	   }
	       		}
	    	     }
		</div>
             </div>
          </div>	  
       </div>
       <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">@name (@props.length)</h3>
          </div>
	  <div class="panel-body">
	    @for(p <- props.subList(0,10)) {
	       @p match {
	          case kw: Keyword => {
		    @keyword(kw)
		  }
		  case _ => {
		  }
	       }
	    }
   	    <a class="label label-danger"
	        data-toggle="modal"
		data-target="#@Util.sha1(name).substring(0,5)"
		href="#">See all...</a>
	  </div>
       </div>
       } else {
       <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">@name (@props.length)</h3>
          </div>
	  <div class="panel-body">
	    @for(p <- props) {
	       @p match {
	          case kw: Keyword => {
		    @keyword(kw)
		  }
		  case _ => {
		  }
	       }
	    }
	  </div>
       </div>
       }
     }
  }
}

@label(x: Value, title: String, label: String) = {
  @if(x.getValue().toString().length() > 50) {
       <a class="label label-@label"
           href="#@Util.sha1(x.getValue().toString()).substring(0,6)"
           tabindex="0"
           data-toggle="popover"
           data-animation="true"
           data-placement="top"
           data-trigger="click hover focus"
           data-title="@title"
           data-content="@x.getValue()">@x.getValue().toString().substring(0, 50)...</a></span>
  } else {
      <span class="label label-@label">@x.getValue()</span>
  }
}


@diseasedblink(d: Disease, x: Any) = {
<a href="http://diseases.jensenlab.org/Entity?order=textmining,knowledge,experiments&textmining=10&knowledge=10&experiments=10&type1=-26&type2=9606&id1=@IDGApp.getId(d)">@x</a>
}

@diseaserow(dr: DiseaseRelevance) = {
   @if(dr.zscore != null) {
     <tr class="treegrid-@dr.disease.id">
       <td><a href="@ix.idg.controllers.routes.IDGApp.disease(IDGApp.getId(dr.disease))">@dr.disease.name</a></td>
       <td>@diseasedblink(dr.disease,dr.zscore)</td>
       <td>@diseasedblink(dr.disease,dr.conf)</td>
       @if(dr.tinxScore != null) {
       <td>@{"%1$.3f".format(dr.tinxScore)}</td>
       } else {
       <td></td>
       }
     </tr>

     @for(i <- 0 until dr.lineage.size()) {
       @defining(dr.lineage(i)) { x =>	    
         <tr class="treegrid-@x.disease.id treegrid-parent-@dr.disease.id">
            <td><a href="@ix.idg.controllers.routes.IDGApp.disease(IDGApp.getId(x.disease))">@x.disease.name</a></td>
            <td>@diseasedblink(x.disease,x.zscore)</td>
            <td>@diseasedblink(x.disease,x.conf)</td>
	    @if(x.tinxScore != null) {
	    <td>@{"%1$.3f".format(x.tinxScore)}</td>
	    } else {
	    <td></td>
	    }
         </tr>
       }
     }
   }
}
      
@ix.ncats.views.html.main(target.name){
@menu(target.getClass().getName()){
<ul class="nav navbar-nav navbar-left">
  <li role="presentation"><a href="@ix.idg.controllers.routes.IDGApp.diseases(null,10,1)">Diseases</a></li>
  <li role="presentation" class="active"><a href="#">Targets</a></li>
  <li role="presentation"><a href="@ix.idg.controllers.routes.IDGApp.ligands(null,8,1)">Ligands</a></li>
</ul>
}
}{
<ol class="breadcrumb">
  <li><a href="@ix.idg.controllers.routes.IDGApp.index()"><span class="fa fa-home"></span> Home</a></li>
    <li><a href="@ix.idg.controllers.routes.IDGApp.targets()">Targets</a></li>
    @for(kw <- breadcrumb) {
    <li><a href="@kw.href">@kw.term</a></li>
    }
    <li class="active">@target.name</li>
</ol>
}{
<div class="container-fluid">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        <table>
        <tr>
         <td>
           <span class="label label-@target.idgTDL.label"
		 data-toggle="tooltip" data-html="true" data-placement="right"
		 title="<p align='left'>@target.idgTDL.desc</p>">@target.idgTDL</span>
         </td>
         <td style="padding:5px;"></td>
         <td>@target.name</td>
        </tr>
        </table>
      </h1>
      @if(target.description != null) {
	<div class="panel panel-default">
	  <div class="panel-body">
	    <p>@target.description
	  </div>
	</div>
      }
      @defining(target.getProperty("NCBI Gene Summary")) { summary =>
        @if(summary != null) {
          <div class="panel panel-default">
	    <div class="panel-body">
	      <p>@summary.getValue
	    </div>
	  </div>
        }
      }
    </div>
    <div class="row">
      <!--
        -- Synonyms
        -->
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Synonyms</h3>
          </div>
          <div class="panel-body">
            <table class="table">
              <tr>
                <td>Accession</td>
                <td>
                  @for(kw <- target.synonyms) {
                     @if("UniProt Accession".equals(kw.label)) {
                        <a href="@kw.href">@kw.term</a>
                     }
                  }
                </td>
              </tr>
              <tr>
                <td>Fullname</td>
                <td>
                  @for(kw <- target.synonyms) {
                     @if("UniProt Fullname".equals(kw.label)) {
                        @kw.term<br>
                     }
                  }
                </td>
              </tr>
              <tr>
                <td>Shortname</td>
                <td>
                  @for(kw <- target.synonyms) {
                     @if("UniProt Shortname".equals(kw.label)) {
                             @kw.term<br>
                     }
                  }
                </td>
              </tr>
            </table>
          </div>
        </div>
      <!--
        -- Genes
        -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Gene</h3>
          </div>
          <div class="panel-body">
            @for(kw <- target.synonyms) {
                @if("UniProt Gene".equals(kw.label)) {
                    <a href="http://www.genenames.org/cgi-bin/gene_symbol_report?match=@kw.term">@kw.term</a>
                }
            }
          </div>
        </div>
	@defining(IDGApp.getLigands(target)) { ligands =>
	      @if(!ligands.isEmpty()) {
	         <div class="panel panel-default">
		    <div class="panel-heading">
		       <h3 class="panel-title">Ligands</h3>
		    </div>
		    <div class="panel-body">
		       <table>
		       @for(lig <- ligands) {
		       <tr>
		         <td>
		          <a tabindex="-1"
			    data-toggle="popover"
			    data-animation="true"
                            data-placement="top"
           		    data-trigger="click hover focus"
           		    data-title="@lig.getName()"
	   		    data-html="true"
           		    data-content="<img src='@ix.ncats.controllers.routes.App.structure(IDGApp.getStructure(lig).id,"svg",150)'>">
			   <img alt="Structure of @IDGApp.getId(lig)"
			       src='@ix.ncats.controllers.routes.App.structure(IDGApp.getStructure(lig).id,"svg",80)'></a>
		        </td>
		       <td class="valign-center">
		          <a class="label label-primary" href='@ix.idg.controllers.routes.IDGApp.ligand(IDGApp.getId(lig))'>@lig.getName()</a>
		       </td>
		      </tr>
                      }
		      </table>
	           </div>
   	        </div>
             }
	 }
	 @defining(IDGApp.getProperties(target, "Count", 1)) { props =>
	    @if(!props.isEmpty()) {
               <div class="panel panel-default">
		 <div class="panel-body">
		   <table class="table table-striped">
		   @for(p <- props) {
		      <tr>
		        @p match {
			  case iv: VInt => {
			     <td>
			     @iv.label match {
			        case "Ab Count" => {
				  <span data-toggle="tooltip"
				     data-html="true"
				     title="<p align='left'>Antibody count from antibodypedia.com</p>">Antibody</span>
				}
				case "MAb Count" => {
				  <span data-toggle="tooltip"
				     data-html="true"
				     title="<p align='left'>Monoclonal Antibody count from antibodypedia.com</p>">Monoclonal Antibody</span>
				}
				case "PubMed Count" => {
   				  <span data-toggle="tooltip"
				     data-html="true"
				     title="<p align='left'>Number of PubMed references for target and all its aliases</p>">PubMed</span>
				}
				case "TM Count" => {
   				  <span data-toggle="tooltip"
				     data-html="true"
				     title="<p align='left'>Number of transmembrane helices according to Survey of the Human Transmembrane Proteome (https://modbase.compbio.ucsf.edu/projects/membrane/). At least 2 are required to be in their list.</p>">Transmembrane</span>
				}
				case _ => {
				}
			     }
			     </td>
			     <td>@iv.intval</td>
			  }
			  case _ => {
			  }
			}
		      </tr>
		   }
	           </table>
		 </div>
	       </div>
	    }
	 }
      </div>
      <div class="col-md-4">      
	@property(IDG_TISSUE)
	@property(GO_FUNCTION)	
	@property(GO_COMPONENT)
	@property(GO_PROCESS)
      </div>
      <div class="col-md-4">
        @property(PANTHER_PROTEIN_CLASS, -1)
        @property(ChEMBL_PROTEIN_CLASS, -1)
	@property(IMPC_TERM)
	@property("Pathway", 1)
        @property(UNIPROT_KEYWORD)
       </div>
    </div> <!-- row -->
    <!--
      -- Disease Relevance
      -->
    @if(!diseases.isEmpty()) {
    <div class="row">
      <div class="col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">UniProt Disease Relevance</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                  <tr>
                    <th>Disease</th>
                    <th>OMIM</th>
                    <th>Comment</th>
                  </tr>
                  @for(dr <- diseases) {
                    @if(dr.comment != null) {
                    <tr>
                      <td><a href="@ix.idg.controllers.routes.IDGApp.disease(IDGApp.getId(dr.disease))">@dr.disease.name</a></td>
                      @if(dr.omim != null) {
                      <td><a href="@dr.omim.href">@dr.omim.term</a></td>
                      } else {
                      <td></td>
                      }
                      <td>@dr.comment"  "</td>
                    </tr>
                    }
                  }
                </table>
            </div>
         </div>
      </div>
      <div class="col-md-6">   
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">IDG Disease Relevance (@diseases.size())</h3>
          </div>
          <div class="panel-body">
            <table class="tree table">
              <tr>
                <th>Disease</th>
                <th>Z-score <i class="fa fa-info-circle"
		data-toggle="tooltip" data-placement="top" data-html="true"
                title="<p align='left'>A normalized version of the co-occurence (of the disease and this target) score, described in <a href='http://www.sciencedirect.com/science/article/pii/S1046202314003831'>Franklid et al, Methods, 2015, 83-89</a></p>"></i></th>
                <th>Confidence <i class="fa fa-info-circle"
		data-toggle="tooltip" data-placement="top" data-html="true"
                title="<p align='left'>Half the Z-score, described in <a href='http://www.sciencedirect.com/science/article/pii/S1046202314003831'>Franklid et al, Methods, 2015, 83-89</a></p>"></i></th>
	        <th>Importance <i class="fa fa-info-circle"
		data-toggle="tooltip" data-placement="top" data-html="true"
                title="<p align='left'>A score characterizing the importance of the target, based on occurences in the published literature.</p>"></i></th>
              </tr>
	      @defining(request().getQueryString("view")) { view =>
	        @view match {
	          case "full" => {
                    @for(dr <- diseases) {
		      @diseaserow(dr)
	            }
		  }
  		  case _ => {
		    @for(i <- 0 until Math.min(10, diseases.size())) {
		       @diseaserow(diseases(i))
		    }
		    @if(diseases.size() > 10) {
		      <tr>
		        <td><a href="@request().uri?view=full">More...</a></td>
		        <td></td>
		        <td></td>
			<td></td>
		      </tr>
		    }
		  }
 	        }
	      }
            </table>
          </div>
         </div>
       </div>
      </div>
     }
    
    <!--
      -- MeSH
      -->
    @defining(IDGApp.getMesh(target)) { mesh =>
       @if(!mesh.isEmpty()) {
         <div class="modal fade" id="mesh" tabindex="-1"
       	    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	  <div class="modal-dialog modal-lg">
	     <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close"
		  	data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Medical Subject Headings for @target.getName</h4>
		</div>
      		<div class="modal-body">
	          @for(m <- mesh) {
		    <a @if(m.majorTopic) {
		      class="label label-warning"
		    } else {
		      class="label label-primary"
		    }
		    onclick="showLoadModal()"
		    href='@{ix.idg.controllers.routes.IDGApp.targets()+"?facet=MeSH/"}@URLEncoder.encode(m.heading,"utf8")'>@m.heading</a>
		  }
		</div>
             </div>
          </div>
	 </div>
         <div class="row">
	   <div class="col-md-12">
             <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">MeSH (@mesh.size)</h3>
                </div>
	        <div class="panel-body">
		@if(mesh.size > 20) {
	          @for(m <- mesh.subList(0, 20)) {
		    <a @if(m.majorTopic) {
		      class="label label-warning"
		    } else {
		      class="label label-primary"
		    }
		    onclick="showLoadModal()"
		    href='@{ix.idg.controllers.routes.IDGApp.targets()+"?facet=MeSH/"}@URLEncoder.encode(m.heading,"utf8")'>@m.heading</a>
		  }
		  <a class="label label-danger"
	             data-toggle="modal"
		     data-target="#mesh" href="#">See all...</a>
		} else {
	          @for(m <- mesh) {
		    <a @if(m.majorTopic) {
		      class="label label-warning"
		    } else {
		      class="label label-primary"
		    }
		    onclick="showLoadModal()"
		    href='@{ix.idg.controllers.routes.IDGApp.targets()+"?facet=MeSH/"}@URLEncoder.encode(m.heading,"utf8")'>@m.heading</a>
		  }
		}
	        </div>
 	     </div>
           </div>
         </div>
       }
    }
    <!-- 
      -- Publications
      -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Publications</h3>
          </div>
          <div class="panel-body">
            <div class="panel-body">
              <table class="table table-striped">
                <tr>
                  <th>PMID</th>
                  <th>Title</th>
                  <th>Relevance</th>
                </tr>
                  @for(xref <- target.links) {
                     @if(xref.kind.equals("ix.core.models.Publication")) {
                       @defining(xref.deRef().asInstanceOf[Publication]) { pub =>
                       <tr>
                        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/@pub.pmid">@pub.pmid</a></td>
                        <td>@pub.title</td>
                        <td>
                          @for(p <- xref.properties) {
                            @p.label match {
                               case "/uniprot/entry/reference/scope" => {
                                 @label(p, "SCOPE", "default")
                               }
                               case UNIPROT_TISSUE => {
			          @keyword(p.asInstanceOf[Keyword])
                               }
                               case IDG_GENERIF => {
                                  @**label(p, "GeneRIF", "warning")**@
				  @if(xref.properties.length > 1) {
				    <p>
				  }
				  <div class="alert alert-success">@p.getValue().toString()</div>
                               }
			       case GWAS_TRAIT => {
			          @keyword(p.asInstanceOf[Keyword])
			       }
                               case _ => {
                               }
                            }
                          }
                        </td>
                       </tr>
                      }
                    }
                  }
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}

<div class="modal fade" tabindex="-1" role="dialog" id="loadmodal"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <center><img src='@routes.Assets.at("ncats/images/spinners/294.GIF")'></center>
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="popover"]').popover();
  $('[data-toggle="tooltip"]').tooltip();
});

$(document).ready(function () {
  $('.tree').treegrid({
   expanderExpandedClass: 'fa fa-angle-down',
   expanderCollapsedClass: 'fa fa-angle-right',
   initialState: 'collapsed'
  });
  $('#keyword').on('click touchstart', function () {
     showLoadModal();
  });
});

function showLoadModal () {
  $('#loadmodal').modal({
      keyboard: false,
      show: true,
      backdrop: 'static'
    });
}

$(window).unload(function () {
    $('#loadmodal').modal('hide');    
});
</script>
