
@import ix.idg.models.Target
@import ix.idg.models.Ligand
@import ix.idg.models.Disease
@import ix.core.models.Value
@import ix.core.models.Keyword
@import ix.core.models.Text
@import ix.core.models.VInt
@import ix.core.models.Publication
@import ix.idg.controllers.IDGApp
@import ix.idg.controllers.IDGApp._
@import ix.idg.controllers.Commons._
@import ix.idg.controllers.TcrdRegistry
@import ix.idg.controllers.UniprotRegistry
@import ix.utils.Util
@import java.net.URLEncoder

@(target: Target, diseases: List[DiseaseRelevance], breadcrumb: List[Keyword])

@facet(label: String, value: String, href: String = null, max: Int = 40) = {
  @if(max > 0 && value.length > max) {
    <a id="keyword" class="label label-primary"
       data-toggle="popover"
       data-html="true"
       data-trigger="hover"
       data-placement="top"
       title="@label"
       data-content="<p align='left'>@value</p>"
       onclick="showLoadModal()"
       href='@{ix.idg.controllers.routes.IDGApp.targets()+"?facet="+URLEncoder.encode(label,"utf8")+"/"}@URLEncoder.encode(value, "utf8")'>@{value.substring(0, max)}...</a>&nbsp;
  } else {
    <a id="keyword" class="label label-primary" onclick="showLoadModal()"
       href='@{ix.idg.controllers.routes.IDGApp.targets()+"?facet="+URLEncoder.encode(label,"utf8")+"/"}@URLEncoder.encode(value, "utf8")'>@value</a>
  }
  @if(href != null) {
     <a href="@href"><i class="fa fa-external-link"></i></a>
  }
}

@keyword(kw: Keyword, max: Int = 40) = {
  @facet(kw.label, kw.term, kw.href, max)
}

@disease = {
  @if(diseases.length > 0) {
    @if(diseases.length > 10) {
       <div class="modal fade" id="disease-modal"
          tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	  aria-hidden="true">
	  <div class="modal-dialog">
	     <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close"
		  	data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Diseases annotated for <em>@target.getName</em></h4>
		</div>
      		<div class="modal-body">
		@for(d <- diseases) {
	          @if(d.comment != null) {
	            @*facet(UNIPROT_DISEASE, d.disease.name)*@
		    <span class="label label-default">@d.disease.name</span>
	          } else {
	            @facet(IDG_DISEASE, d.disease.name)
	          }
	        }
		</div>
             </div>
          </div>	  
       </div>
       <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Disease (@diseases.length)</h3>
          </div>
	  <div class="panel-body">
	    @for(d <- diseases.slice(0,10)) {
               @if(d.comment != null) {
	            @*facet(UNIPROT_DISEASE, d.disease.name)*@
		    <span class="label label-default">@d.disease.name</span>
	       } else {
	            @facet(IDG_DISEASE, d.disease.name)
	       }
	    }
   	    <a class="label label-danger"
	        data-toggle="modal"
		data-target="#disease-modal"
		href="#">See all...</a>
	  </div>
      </div>
    } else {
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Disease (@diseases.length)</h3>
        </div>
        <div class="panel-body">
	    @for(d <- diseases) {
	       @if(d.comment != null) {
	         @*facet(UNIPROT_DISEASE, d.disease.name)*@
		 <span class="label label-default">@d.disease.name</span>
	       } else {
	         @facet(IDG_DISEASE, d.disease.name)
	       }
	    }
        </div>
      </div>
    }
  }
}

@property(name: String, href: String = null, dir: Int = 0) = {
 @defining(IDGApp.getProperties(target, name, dir)) { props =>
    @if(!props.isEmpty()) {
       @if(props.length > 10) {
       <div class="modal fade" id="@Util.sha1(name).substring(0,5)"
          tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	  aria-hidden="true">
	  <div class="modal-dialog">
	     <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close"
		  	data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">@name for @target.getName</h4>
		</div>
      		<div class="modal-body">
		    @for(p <- props) {
		        @p match {
	          	   case kw: Keyword => {
			       @keyword(kw, 0)
			   }
			   case _ => {
		  	   }
	       		}
	    	     }
		</div>
             </div>
          </div>	  
       </div>
       <div class="panel panel-default">
          <div class="panel-heading">
	    @if(href != null) {
	      <h3 class="panel-title"><a href="@href">@name <i class="fa fa-external-link"></i></a> (@props.length)</h3>
	    } else {
              <h3 class="panel-title">@name (@props.length)</h3>
	    }
          </div>
	  <div class="panel-body">
	    @for(p <- props.subList(0,10)) {
	       @p match {
	          case kw: Keyword => {
		    @keyword(kw)
		  }
		  case _ => {
		  }
	       }
	    }
   	    <a class="label label-danger"
	        data-toggle="modal"
		data-target="#@Util.sha1(name).substring(0,5)"
		href="#">See all...</a>
	  </div>
       </div>
       } else {
       <div class="panel panel-default">
          <div class="panel-heading">
	    @if(href != null) {
	      <h3 class="panel-title"><a href="@href">@name <i class="fa fa-external-link"></i></a> (@props.length)</h3>
	    } else {
              <h3 class="panel-title">@name (@props.length)</h3>
	    }
          </div>
	  <div class="panel-body">
	    @for(p <- props) {
	       @p match {
	          case kw: Keyword => {
		    @keyword(kw)
		  }
		  case _ => {
		  }
	       }
	    }
	  </div>
       </div>
       }
     }
  }
}

@label(x: Value, title: String, label: String) = {
  @if(x.getValue().toString().length() > 50) {
       <a class="label label-@label"
           href="#@Util.sha1(x.getValue().toString()).substring(0,6)"
           tabindex="0"
           data-toggle="popover"
           data-animation="true"
           data-placement="top"
           data-trigger="click hover focus"
           data-title="@title"
           data-content="@x.getValue()">@x.getValue().toString().substring(0, 50)...</a></span>
  } else {
      <span class="label label-@label">@x.getValue()</span>
  }
}


@diseasedblink(d: Disease, x: Any) = {
<a href="http://diseases.jensenlab.org/Entity?order=textmining,knowledge,experiments&textmining=10&knowledge=10&experiments=10&type1=-26&type2=9606&id1=@IDGApp.getId(d)">@x</a>
}

@diseaserow(dr: DiseaseRelevance) = {
   @if(dr.zscore != null) {
     <tr @*class="treegrid-@dr.disease.id"*@>
       <td><a class="label label-primary" href="@{ix.idg.controllers.routes.IDGApp.targets()+"?facet="+URLEncoder.encode(IDG_DISEASE,"utf8")+"/"+URLEncoder.encode(dr.disease.name, "utf8")}">@dr.disease.name</a></td>
       <td>@diseasedblink(dr.disease,dr.zscore)</td>
       <td>@diseasedblink(dr.disease,dr.conf)</td>
       @if(dr.tinxScore != null) {
       <td>@{"%1$.3f".format(dr.tinxScore)}</td>
       } else {
       <td></td>
       }
     </tr>

     @for(i <- 0 until dr.lineage.size()) {
       @defining(dr.lineage(i)) { x =>	    
         <tr class="treegrid-@x.disease.id treegrid-parent-@dr.disease.id">
            <td><a href="@ix.idg.controllers.routes.IDGApp.disease(IDGApp.getId(x.disease))">@x.disease.name</a></td>
            <td>@diseasedblink(x.disease,x.zscore)</td>
            <td>@diseasedblink(x.disease,x.conf)</td>
	    @if(x.tinxScore != null) {
	    <td>@{"%1$.3f".format(x.tinxScore)}</td>
	    } else {
	    <td></td>
	    }
         </tr>
       }
     }
   }
}

@expression(name: String, skull: String) = {
   <div class="row">
      <div class="col-md-6">
         @defining(IDGApp.getProperties(target, name, 0)){ props =>
	 <div class="panel-body">
	    @for(p <- props) {
	       @p match {
	           case kw: Keyword => {
		      @keyword(kw)
		   }
		   case _ => {
		   }
	       	}
	    }
	 </div>
	 }
      </div>
      <div class="col-md-6">
         <img class="img-responsive" height="200" src='@ix.idg.controllers.routes.ExpressionApp.homunculus(IDGApp.getId(target), skull)' />
      </div>
  </div>
}

@ix.ncats.views.html.main(target.name){
@targetmenu()
}{
<ol class="breadcrumb">
  <li><a href="@ix.idg.controllers.routes.IDGApp.index()"><span class="fa fa-home"></span> Home</a></li>
    <li><a href="@ix.idg.controllers.routes.IDGApp.targets()">Targets</a></li>
    @for(kw <- breadcrumb) {
    <li><a href="@kw.href">@kw.term</a></li>
    }
    <li class="active">@target.name</li>
</ol>
}{
<div class="container-fluid">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        <table>
        <tr>
         <td>
           <span class="label label-@target.idgTDL.label"
		 data-toggle="tooltip" data-html="true" data-placement="right"
		 title="<p align='left'>@target.idgTDL.desc</p>">@target.idgTDL</span>
         </td>
         <td style="padding:5px;"></td>
         <td>@target.name</td>
        </tr>
        </table>
      </h1>
      @if(target.description != null) {
	<div class="panel panel-default">
	  <div class="panel-body">
	    <p>@target.description
	  </div>
	</div>
      }
      @defining(target.getProperty("NCBI Gene Summary")) { summary =>
        @if(summary != null) {
          <div class="panel panel-default">
	    <div class="panel-body">
	      <p>@summary.getValue
	    </div>
	  </div>
        }
      }
    </div>
    <div class="row">
      <!--
        -- Synonyms
        -->
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Synonym <i class="fa fa-external-link"></i> </h3>
          </div>
          <div class="panel-body">
            <table class="table">
              <tr>
                <td>Accession</td>
                <td>
                  @for(kw <- target.synonyms) {
                     @if("UniProt Accession".equals(kw.label)) {
                        <a href="@kw.href">@kw.term</a>
                     }
                  }
                </td>
              </tr>
	      @**
              <tr>
                <td>Fullname</td>
                <td>
                  @for(kw <- target.synonyms) {
                     @if("UniProt Fullname".equals(kw.label)) {
                        @kw.term<br>
                     }
                  }
                </td>
              </tr>
	      **@
              <tr>
                <td>Symbols</td>
                <td>
                  @for(kw <- target.synonyms) {
                     @if("UniProt Shortname".equals(kw.label)) {
                             @kw.term<br>
                     }
                  }
                </td>
              </tr>
            </table>
          </div>
        </div>
      <!--
        -- Genes
        -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Gene <i class="fa fa-external-link"></i></h3>
          </div>
          <div class="panel-body">
            @for(kw <- target.synonyms) {
                @if("UniProt Gene".equals(kw.label)) {
                    <a href="http://www.genenames.org/cgi-bin/gene_symbol_report?match=@kw.term">@kw.term</a>
                }
            }
          </div>
        </div>
	@defining(IDGApp.getLigands(target)) { ligands =>
	      @if(!ligands.isEmpty()) {
	         <div class="panel panel-default">
		    <div class="panel-heading">
		       <h3 class="panel-title">Ligand</h3>
		    </div>
		    <div class="panel-body">
		       <table>
		       @for(lig <- ligands) {
		       <tr>
		         <td>
		          <a tabindex="-1"
			    data-toggle="popover"
			    data-animation="true"
                            data-placement="top"
           		    data-trigger="click hover focus"
           		    data-title="@lig.getName()"
	   		    data-html="true"
           		    data-content="<img src='@ix.ncats.controllers.routes.App.structure(IDGApp.getStructure(lig).getId,"svg",150,null)'>">
			   <img alt="Structure of @IDGApp.getId(lig)"
			       src='@ix.ncats.controllers.routes.App.structure(IDGApp.getStructure(lig).getId,"svg",80,null)'></a>
		        </td>
		       <td class="valign-center">
		          <a class="label label-primary" href='@ix.idg.controllers.routes.IDGApp.ligand(IDGApp.getId(lig))'>@lig.getName()</a>
		       </td>
		      </tr>
                      }
		      </table>
	           </div>
   	        </div>
             }
	 }
	 @defining(IDGApp.getProperties(target, "Count", 1)) { props =>
	    @if(!props.isEmpty()) {
               <div class="panel panel-default">
		 <div class="panel-body">
		   <table class="table table-striped">
		   @for(p <- props) {
		      <tr>
		        @p match {
			  case iv: VInt => {
			     <td>
			     @iv.label match {
			        case "Ab Count" => {
				  <span data-toggle="tooltip"
				     data-html="true"
				     title="<p align='left'>Antibody count from antibodypedia.com</p>"><a href="http://antibodypedia.com">Antibody</a></span>
				}
				case "MAb Count" => {
				  <span data-toggle="tooltip"
				     data-html="true"
				     title="<p align='left'>Monoclonal Antibody count from antibodypedia.com</p>"><a href="http://antibodypedia.com">Monoclonal Antibody</a></span>
				}
				case "PubMed Count" => {
   				  <span data-toggle="tooltip"
				     data-html="true"
				     title="<p align='left'>Number of PubMed references for target and all its aliases</p>">PubMed</span>
				}
				case "TM Count" => {
   				  <span data-toggle="tooltip"
				     data-html="true"
				     title="<p align='left'>Number of transmembrane helices according to Survey of the Human Transmembrane Proteome (https://modbase.compbio.ucsf.edu/projects/membrane/). At least 2 are required to be in their list.</p>">Transmembrane</span>
				}
				case _ => {
				}
			     }
			     </td>
			     <td>@iv.intval</td>
			  }
			  case _ => {
			  }
			}
		      </tr>
		   }
		   <tr>
		     <td>
				 <span data-toggle="tooltip"
				 data-html="true"
				 title="<p align='left'>Number of NIH funded grant applications for 2010-2014 based on text mining of application titles and abstracts, due to nature of text mining results might be inaccurateGrant Count</p>"></span>
					 </td>
		     <td>@target.grantCount</td>
		   </tr>
	           <tr>
		     <td><span data-toggle="tooltip"
			 data-html="true"
			 title="<p align='left'>Number of NIH funded R01 grants for 2010-2014 based on text mining of application titles and abstracts, due to nature of text mining results might be inaccurate</p>">R01 Count</span></td>
		     <td>@target.r01Count</td>
		   </tr>
		   <tr>
		     <td><span data-toggle="tooltip"
			 data-html="true"
			 title="<p align='left'>NIH funding (2010-2014) based on text mining of grant application titles and abstracts, due to nature of text mining results might be inaccurate</p>">Funding ($)</span></td>
		     <td>@{"%.2f".format(target.grantTotalCost)}</td>
		   </tr>
	           </table>
		 </div>
	       </div>
	    }
	 }
      </div>
      <div class="col-md-4">
        @**
        @defining(target.getProperty(IDG_TISSUE_REF)) { ref =>
	   @ref match {
	     case kw: Keyword => {
	       @property(IDG_TISSUE, kw.href)
	     }
	     case _ => {
	       @property(IDG_TISSUE)
	     }
	   }
	}
	@disease
	**@
	@property(GO_FUNCTION)	
	@property(GO_COMPONENT)
	@property(GO_PROCESS)
@**	@if(target.patentCount != null && target.patentCount > 0) { **@
          <div class="panel panel-default">
	    <div class="panel-heading">
	      <h3 class="panel-title">Patent (@target.patentCount)</h3>
	    </div>
	    <div class="panel-body">
	      <div class="row">
	        <div class="col-md-2"></div>
		<div class="col-md-8">
		   <div id="patent-line-plot" style="height:180px;"></div>
		</div>
		<div class="col-md-2"></div>
	      </div>
			<div>
				<span class="inlinesparkline"></span>
			</div>
	    </div>

	  </div>
@**	} **@
       
      </div>
      <div class="col-md-4">
        @property(PANTHER_PROTEIN_CLASS, null, -1)
        @property(ChEMBL_PROTEIN_CLASS, null, -1)
	@property(IMPC_TERM)
	@property("Pathway", null, 1)
        @property(UNIPROT_KEYWORD)
        <div class="panel panel-default">
	    <div class="panel-heading">
	      <h3 class="panel-title">Data Types</h3>
	    </div>
	    <div class="panel-body">
	      <div class="row">
	        <div class="col-md-2"></div>
		<div class="col-md-8">
		   <div id="attr-type-radar"></div>
		</div>
		<div class="col-md-2"></div>
	      </div>
	      <button type="button" class="btn btn-default"
	              data-toggle="modal" data-target="#attr-type-radar-modal"
	              aria-label="Left Align" style="float:right;">
	          <span class="fa fa-external-link" aria-hidden="true"></span>
	      </button>
	    </div>
	</div>
       </div>
    </div> <!-- row -->
    <!--
      -- Disease Relevance
      -->
    @if(!diseases.isEmpty()) {
    <div class="row">
      <div class="col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">TINX Plot</h3>
            </div>
            <div class="panel-body">
                <div id="tinx-plot"></div>
            </div>
         </div>
      </div>
      <div class="col-md-6">   
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span data-toggle="tooltip"
			data-html="true"
			title="<p align='left'>Disease-gene associations mined from Medline Franklid et al, Methods, 2015, 83-89</p>">Disease Relevance (@diseases.size())</h3>
          </div>
          <div class="panel-body">
               <table class="tree table">
                          <tr>
                              <th>Disease</th>
                              <th>Z-score <i class="fa fa-info-circle"
                              data-toggle="tooltip" data-placement="top" data-html="true"
                              title="<p align='left'>A normalized version of the co-occurence (of the disease and this target) score, described in <a href='http://www.sciencedirect.com/science/article/pii/S1046202314003831'>Franklid et al, Methods, 2015, 83-89</a></p>"></i></th>
                              <th>Confidence <i class="fa fa-info-circle"
                              data-toggle="tooltip" data-placement="top" data-html="true"
                              title="<p align='left'>Half the Z-score, described in <a href='http://www.sciencedirect.com/science/article/pii/S1046202314003831'>Franklid et al, Methods, 2015, 83-89</a></p>"></i></th>
                              <th>Importance <i class="fa fa-info-circle"
                              data-toggle="tooltip" data-placement="top" data-html="true"
                              title="<p align='left'>A score characterizing the importance of the target, based on occurences in the published literature.</p>"></i></th>
                          </tr>
                          @defining(request().getQueryString("view")) { view =>
                              @view match {
                                  case "full" => {
                                      @for(dr <- diseases) {
                                          @diseaserow(dr)
                                      }
                                  }
                                  case _ => {
                                      @for(i <- 0 until Math.min(10, diseases.size())) {
                                          @diseaserow(diseases(i))
                                      }
                                      @if(diseases.size() > 10) {
                                          <tr>
                                              <td><a href="@request().uri?view=full">More...</a></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                          </tr>
                                      }
                                  }
                              }
                          }
               </table>
          </div>  @* panel-body *@
         </div>
       </div>
      </div>
     }

    <!--
      -- Expression
      -->
    <div class="row">
      <div class="col-md-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Expression</h3>
            </div>
	    <div class="panel-body">
	       <div class="row">
	         <div class="col-md-4">
		    <div class="panel panel-default">
	    		 <div class="panel-body">
	      		 <div class="row">
	        	      <div class="col-md-2"></div>
			      <div class="col-md-8">
		   	      	   <div id="tissue-specificity-radar"></div>
			      </div>
			      <div class="col-md-2"></div>
	      		 </div>
	    	    	 <div class="panel-footer"><span data-toggle="tooltip"
					 data-html="true"
					 title="<p align='left'>Target tissue specificity, ranges from 0 (non-specific) - 1 specific to one tissue, calculated according to Yanai et al, Bioinformatics 2005, 650-659</p>">
	      		      Tissue Specificity Index</span>
	    		 </div>
	            </div>
		 </div>
		 
		 </div>
		 <div class="col-md-8">
	              <ul class="nav nav-tabs">
		        <li role="presentation" class="active"><a href="#idg-tab" aria-controls="idg" data-toggle="tab">IDG</a></li>
		        <li role="presentation"><a href="#gtex-tab" role="tab" aria-controls="gtex" data-toggle="tab">
					<span data-toggle="tooltip"
					data-html="true"
					title="<p align='left'>Tissue expression data from The Genotype-Tissue Expression (GTEx) project</p>">GTEx</span></a></li>
		        <li role="presentation"><a href="#hpm-tab" role="tab" data-toggle="tab">
					<span data-toggle="tooltip"
					data-html="true"
					title="<p align='left'>Tissue expression data from The Human Proteome Map (HPM)</p>">HPM</span></a></li>
		        <li role="presentation"><a href="#hpa-tab" role="tab" data-toggle="tab">
					<span data-toggle="tooltip"
					data-html="true"
					title="<p align='left'>Tissue expression data from The Human Protein Atlas</p>">HPA</span></a></li>
		      </ul>
		   <div class="tab-content">
		      <div role="tabpanel" class="tab-pane active" id="idg-tab">
		        @expression(IDG_TISSUE, "idg")
		      </div>
		      <div role="tabpanel" class="tab-pane" id="gtex-tab">
		        @expression(GTEx_TISSUE, "gtex")
		      </div>
		      <div role="tabpanel" class="tab-pane" id="hpm-tab">
		        @expression(HPM_TISSUE, "hpm")
		      </div>
		      <div role="tabpanel" class="tab-pane" id="hpa-tab">
		        @expression(HPA_RNA_TISSUE, "hpa")
		      </div>
		   </div>
		 </div>
	       </div>
	    </div>
	  </div> <!-- panel-body -->
       </div> <!-- col-md-12 -->
    </div> <!-- row -->
      
    <!--
      -- MeSH
      -->
    @defining(IDGApp.getMesh(target)) { mesh =>
       @if(!mesh.isEmpty()) {
         <div class="modal fade" id="mesh" tabindex="-1"
       	    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	  <div class="modal-dialog modal-lg">
	     <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close"
		  	data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Medical Subject Headings for <em>@target.getName</em></h4>
		</div>
      		<div class="modal-body">
	          @for(m <- mesh) {
		    <a @if(m.majorTopic) {
		      class="label label-warning"
		    } else {
		      class="label label-primary"
		    }
		    id="keyword"
		    href='@{ix.idg.controllers.routes.IDGApp.targets()+"?facet=MeSH/"}@URLEncoder.encode(m.heading,"utf8")'>@m.heading</a>
		    @if(m.majorTopic) {
		        <a href='http://www.ncbi.nlm.nih.gov/pubmed?term="@m.heading"[MAJR]'><i class="fa fa-external-link"></i></a>
	            } else {
		        <a href='http://www.ncbi.nlm.nih.gov/pubmed?term="@m.heading"[MeSH Terms]'><i class="fa fa-external-link"></i></a>
		    }
		  }
		</div>
             </div>
          </div>
	 </div>
         <div class="row">
	   <div class="col-md-12">
             <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">MeSH (@mesh.size)</h3>
                </div>
	        <div class="panel-body">
		@if(mesh.size > 20) {
	          @for(m <- mesh.subList(0, 20)) {
		    <a @if(m.majorTopic) {
		      class="label label-warning"
		    } else {
		      class="label label-primary"
		    }
		    id="keyword"
		    onclick="showLoadModal()"   
		    href='@{ix.idg.controllers.routes.IDGApp.targets()+"?facet=MeSH/"}@URLEncoder.encode(m.heading,"utf8")'>@m.heading</a>
    		    @if(m.majorTopic) {
		        <a href='http://www.ncbi.nlm.nih.gov/pubmed?term="@m.heading"[MAJR]'><i class="fa fa-external-link"></i></a>
	            } else {
		        <a href='http://www.ncbi.nlm.nih.gov/pubmed?term="@m.heading"[MeSH Terms]'><i class="fa fa-external-link"></i></a>
		    }
		  }
		  <a class="label label-danger"
	             data-toggle="modal"
		     data-target="#mesh" href="#">See all...</a>
		} else {
	          @for(m <- mesh) {
		    <a @if(m.majorTopic) {
		      class="label label-warning"
		    } else {
		      class="label label-primary"
		    }
		    id="keyword"
		    onclick="showLoadModal()"
		    href='@{ix.idg.controllers.routes.IDGApp.targets()+"?facet=MeSH/"}@URLEncoder.encode(m.heading,"utf8")'>@m.heading</a>
		  }
		}
	        </div>
 	     </div>
           </div>
         </div>
       }
    }
    <!-- 
      -- Publications
      -->
   @if(!target.getPublications.isEmpty()) {
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Publication (@target.publications.size)</h3>
          </div>
          <div class="panel-body">
            <div class="panel-body">
              <table class="table table-striped">
                <tr>
                  <th>PMID <i class="fa fa-external-link"></i></th>
                  <th>Title</th>
                  <th>Relevance</th>
                </tr>
                  @for(xref <- target.links) {
                     @if(xref.kind.equals("ix.core.models.Publication")) {
                       @defining(xref.deRef().asInstanceOf[Publication]) { pub =>
                       <tr>
                        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/@pub.pmid">@pub.pmid</a></td>
                        <td>@pub.title</td>
                        <td>
                          @for(p <- xref.properties) {
                            @p.label match {
                               case "/uniprot/entry/reference/scope" => {
                                 @label(p, "SCOPE", "default")
                               }
                               case UNIPROT_TISSUE => {
			          @keyword(p.asInstanceOf[Keyword])
                               }
                               case IDG_GENERIF => {
                                  @**label(p, "GeneRIF", "warning")**@
				  @if(xref.properties.length > 1) {
				    <p>
				  }
				  <div class="alert alert-success">@p.getValue().toString()</div>
                               }
			       case GWAS_TRAIT => {
			          @keyword(p.asInstanceOf[Keyword])
			       }
                               case _ => {
                               }
                            }
                          }
                        </td>
                       </tr>
                      }
                    }
                  }
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }

  @defining(IDGApp.getGeneRIFs(target)) { generifs =>
    @if(!generifs.isEmpty) {
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span data-toggle="tooltip"
			data-html="true"
			title="<p align='left'>Number of GeneRIFs annotations from NCBI Gene</p>">Gene RIF (@generifs.size)</span></h3>
          </div>
          <div class="panel-body">
            <div class="panel-body">
              <table class="table table-striped">
                <tr>
                  <th>PMID <i class="fa fa-external-link"></i></th>
                  <th>Text</th>
                </tr>
		@for(x <- generifs) {
		   <tr>
		     <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/@x.pmid">@x.pmid</a></td>
		     <td>@x.text</td>
		   </tr>
		}
  	      </table>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    }
    }
    <!--
      -- sequence
      -->
    @defining(IDGApp.getSequence(target)) { seq =>
       @if(seq != null) {
         <div class="row">
      	    <div class="col-md-12">
            	 <div class="panel panel-default">
             	      <div class="panel-heading">
                      	   <h3 class="panel-title">Sequence</h3>
             	      </div>
	     	      <div class="panel-body">
	                <pre class="pre-scrollable">@seq</pre>
		      </div>
	         </div>
            </div>
         </div>
       }
    }

    @defining(IDGApp.getPMIDs(target)) { pmids =>
       @if(!pmids.isEmpty) {
         <div class="row">
	   <div class="col-md-12">
              <div class="panel panel-default">
                 <div class="panel-heading">
            	    <h3 class="panel-title">Publication <i class="fa fa-external-link"></i> (@pmids.size)</h3>
		 </div>
                 <div class="panel-body">
                    <div class="panel-body">
		      @for(p <- pmids) {
		        <a href="http://www.ncbi.nlm.nih.gov/pubmed/@p">@p</a>&nbsp;
		      }
		    </div>
		 </div>
	      </div>
	   </div>
	 </div>
       }
    }
    </div>
</div>
}

<div class="modal fade" tabindex="-1" role="dialog" id="loadmodal"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <center><img src='@routes.Assets.at("ncats/images/spinners/294.GIF")'></center>
    </div>
  </div>
</div>

<div class="modal fade" id="attr-type-radar-modal" tabindex="-1"
     role="dialog" aria-labelledby="modalLabelRadar" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabelRadar"></h4>
            </div>
            <div class="modal-body">
	      <div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
		  <div id="modal-radardiv"
		       style="display: inline;"
		       class="embed-responsive embed-responsive-4by3">
		  </div>
		</div>
		<div class="col-md-2"></div>
	      </div>
            </div>
        </div>
    </div>
</div>

<head>
    <style type="text/css">
    .axis path,
    .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    }

    .axis text {
    font-family: sans-serif;
    font-size: 11px;
    }

    .point:hover {
    opacity: 0.5;
    }

    .tick text {
    visibility:inherit;
    }

    </style>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/d3.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/tinx.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/d3-tip.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/radar-chart.js")'></script>
	<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.sparkline.js")'></script>
    <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("raphael-min.js"))'></script>        
    <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("morris.min.js"))'></script>    
    <link type="text/css" rel="stylesheet" href='@routes.Assets.at("stylesheets/d3-tip.css")' />
    <link type="text/css" rel="stylesheet" href='@routes.Assets.at("stylesheets/radar-chart.css")' />
    <link type="text/css" rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("morris.css"))' />     
</head>

<script>
$(function () {
  $('[data-toggle="popover"]').popover();
  $('[data-toggle="tooltip"]').tooltip();
});

$(document).ready(function () {

  $('.tree').treegrid({
     expanderExpandedClass: 'fa fa-angle-down',
     expanderCollapsedClass: 'fa fa-angle-right',
     initialState: 'collapsed'
  });

  $('#keyword').on('click touchstart', function () {
     showLoadModal();
  });

  $.ajax({
     url: '@ix.idg.controllers.routes.IDGApp.targetTissue(IDGApp.getId(target))',
     dataType:"json",
     success:function(data) {
          var chart = RadarChart.chart();
          chart.config({
                    w:150, h:250,
		    axisText:true, levels:0, circles:true
          });
          var svg = d3.select("#tissue-specificity-radar").append('svg' )
	             .attr("width", 150)
          	     .attr("height", 250)
                .append('g') //.attr("transform","rotate(45)")
		.classed('focus', 1).datum(data).call(chart);
      }
  });

  $.ajax({
     url: '@ix.idg.controllers.routes.HarmonogramApp.hgForTarget(null,null,null,"radar-attr_type")&q=@IDGApp.getId(target)',
     dataType:"json",
     success:function(data) {
        var chart = RadarChart.chart();
        chart.config({
            w:150, h:150,
                    axisText:false, levels:0, circles:false
        });
        var svg = d3.select("#attr-type-radar").append('svg' )
           .attr("width", 150)
           .attr("height", 150)
           .append('g').classed('focus', 1).datum(data).call(chart);
     }
  });

  $.ajax({
      url: '@ix.idg.controllers.routes.HarmonogramApp.hgForTarget(null,null,null,"radar-attr_type")&q=@IDGApp.getId(target)',
      dataType:"json",
      success:function(data) {
          var chart = RadarChart.chart();
          chart.config({
              w:600, h:600,
              axisText:true, levels:0, circles:true
          });
          var svg = d3.select("#modal-radardiv").append('svg' )
                  .attr("width", 600 )
                    .attr("height", 600)
                    .append('g').classed('focus', 1).datum(data).call(chart);
          $("#modalLabelRadar" ).html
	     ('<h4><span class="label label-@target.idgTDL.label">@target.idgTDL</span> @target.getName</h4>');
      }
   });

   new Morris.Line({
      element: 'patent-line-plot',
      data: @HtmlFormat.raw(IDGApp.getPatents(target).toString),
      xkey: 'year',
      ykeys: ['count'],
      labels: ['Count']
   });

    var myvalues = @IDGApp.getPatentInfo(target).values();
    var myXvalues = @IDGApp.getPatentInfo(target).keySet();//[[1994,4],[1991,2],[2003,7],[2006,1],[2007,2],[2009,5],[2010,3],[2012,9],[2013,2],[2015,1]];
  $('.inlinesparkline').sparkline(myvalues,
  {
  	fillColor:"#ffffff",
  	width:'150px',
  	height:'50px',
  	lineColor:'#000000',
  	highlightSpotColor:"#f08000",
  	highlightLineColor:"#ffffff",
  	spotRadius: 2,
  	highlightColor: "#f08000",
  	tooltipPrefix: 'Count: '
  });

   tinx_target_plot("#tinx-plot", "@IDGApp.getId(target)");
});

function showLoadModal () {
  $('#loadmodal').modal({
      keyboard: false,
      show: true,
      backdrop: 'static'
    });
}

$(window).unload(function () {
    $('#loadmodal').modal('hide');    
});
</script>
