@import ix.idg.models.Target
@import ix.idg.controllers.IDGApp
@import ix.idg.controllers.Commons._
@import ix.ncats.controllers.App.FacetDecorator

@(current: Int, rows: Int, total: Int, pages: Array[Int],
facets: Array[FacetDecorator], targets: List[Target], ctx: String )


@tabrow(t: Target) = {
    <tr id="row-@IDGApp.getId(t)">
        <td><a id='load' onclick="showLoadModal()" 
	   href="@ix.idg.controllers.routes.IDGApp.target(IDGApp.getId(t))">@t.name</a></td>

        <td><span class="label label-@t.idgTDL.label" data-toggle="tooltip" data-html="true" title="<p align='left'>@t.idgTDL.desc</p>">@t.idgTDL.name</span></td>
        <td>@t.idgFamily</td>
        <td>@IDGApp.format(t.novelty)</td>
        <td>@t.pubmedCount</td>
        <td>@t.grantCount</td>
        <td>@t.patentCount</td>
        <td>@t.antibodyCount</td>
        <td><div style="display: inline; white-space:nowrap"
		 id="radar-@IDGApp.getId(t)" class="radar-div"></div></td>
    </tr>
    @if(ctx != null) {
       @defining(IDGApp.getSeqAlignment(ctx, t)) { aln =>
         @if(aln != null) {
         <tr class="success">
	    <td colspan="9">
	      <pre>@{"identity = %.3f".format(aln.alignments(0).iden)}
@aln.alignments(0).alignment
</pre>
	    </td>
	 </tr>
	 }
       }
    }
}

@ix.ncats.views.html._content("Targets", "ix.idg.models.Target",
    ix.idg.controllers.routes.IDGApp.targets().url,
    current, rows, total, pages, facets) {
    @targetmenu()
} {
    <ol class="breadcrumb">
        <li><a href="@ix.idg.controllers.routes.IDGApp.index()"><span class="fa fa-home"></span> Home</a></li>
        @defining(request().queryString.get("facet")) { facets =>
            @if(facets != null) {
                <li><a href="@ix.idg.controllers.routes.IDGApp.targets()">Targets</a></li>
                @for(f <- facets) {
                    @if(f.startsWith(DTO_PROTEIN_CLASS)) {
                        @for(a <- IDGApp.getProteinAncestry(f)) {
                            <li><a href="@a.href">@a.term</a></li>
                        }
                        <li class="active">@f.substring(f.indexOf('/') + 1)</li>
		    }
		    @if(f.startsWith(PANTHER_PROTEIN_CLASS)) {
                        @for(a <- IDGApp.getAncestry(f, PANTHER_PROTEIN_ANCESTRY)) {
                            <li><a href="@a.href">@a.term</a></li>
                        }
                        <li class="active">@f.substring(f.indexOf('/') + 1)</li>
		    }
		    @if(f.startsWith(ChEMBL_PROTEIN_CLASS)) {
                        @for(a <- IDGApp.getAncestry(f, ChEMBL_PROTEIN_ANCESTRY)) {
                            <li><a href="@a.href">@a.term</a></li>
                        }
                        <li class="active">@f.substring(f.indexOf('/') + 1)</li>
		    }
                }
            } else {
                <li class="active">Targets</li>
            }
        }
    </ol>
} {

    <table id="target-table" class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Development Level</th>
            <th>Target Family</th>
	    @HtmlFormat.raw(IDGApp.getTargetTableHeader("Novelty", "novelty"))
	    @HtmlFormat.raw(IDGApp.getTargetTableHeader("PubMed Count", "pubmedCount"))
	    @HtmlFormat.raw(IDGApp.getTargetTableHeader("Grant Count", "grantCount"))
	    @HtmlFormat.raw(IDGApp.getTargetTableHeader("Patent Count", "patentCount"))
	    @HtmlFormat.raw(IDGApp.getTargetTableHeader("Antibody Count", "antibodyCount"))
	    @*HtmlFormat.raw(IDGApp.getTargetTableHeader("Monoclonal Antibody Count", "monoclonalCount"))*@
            <th>Data Types</th>
        </tr>
        @for(t <- targets) {
            @tabrow(t)
        }
    </table>
} {  @* viz *@
    <div class="dropdown pull-right">
      <button type="button" class="btn btn-default dropdown-toggle @if(request.getQueryString("q") == null && request.getQueryString("facet") == null) { disabled }" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-navicon"></i>
      </button>
      <ul class="dropdown-menu pull-left">
        <li><a  href="#hgramModal" data-toggle="modal" ><i class="fa fa-cubes"></i>&nbsp;Harmonogram</a></li>
        <li><a href="#" data-toggle="modal"><i class="fa fa-sitemap"></i>&nbsp;Kinase networks</a></li>
      </ul>
    </div>
} {
 @targetcarousel(ctx)
}

<div class="modal fade" tabindex="-1" role="dialog" id="loadmodal"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <center><img src='@routes.Assets.at("ncats/images/spinners/294.GIF")'></center>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-radar" tabindex="-1"
     role="dialog" aria-labelledby="modalLabelRadar" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabelRadar"></h4>
            </div>
            <div class="modal-body">
	      <div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
		  <div id="modal-radardiv"
		       style="display: inline;"
		       class="embed-responsive embed-responsive-4by3">
		  </div>
		</div>
		<div class="col-md-2"></div>
	      </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hgramModal" tabindex="-1"
     role="dialog" aria-labelledby="hgramModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
		data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="hgramModalLabel">Harmonogram</h4>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-4by3">
	  <div id='clust_instruct_container'>
            <div id='viz_gmt_labels'></div>

            <!-- toggle clustergram order -->
            <div id='toggle_order' class="btn-group" data-toggle="buttons" >
              <label class="btn btn-primary active order_name">
                <input type="radio" name="options" id="clust_button" autocomplete="off" checked > Cluster
              </label>
              <label class="btn btn-primary order_name">
                <input type="radio" name="options" id="rank_button" autocomplete="off" > Rank
              </label>
              <label class="btn btn-primary order_name">
                <input type="radio" name="options" id="class_button" autocomplete="off" > Class
              </label>
            </div>
	    
            <!-- input box for gene search -->
            <div id='gene_search_container' class='row'>
              <input id='gene_search_box' type="text" class="form-control" placeholder="Input Gene" aria-describedby="sizing-addon2">
              <div id='gene_search_button' class="btn-group" data-toggle="buttons" >
                <label id='submit_gene_button' class="btn btn-primary active">
                  <input type="radio" name="options" id="" autocomplete="off" checked > Search
                </label>
              </div>
            </div>
            <p>set column group size</p>
            <div id="slider_col"></div>
            <p>set row group size</p>
            <div id="slider_row"></div>
	    
	  </div>
	  <!-- end clust instruct container -->
	  
	  <!-- svg_div - visualization will be put here -->
	  <div id='svg_div' class='svg_div' ></div>
	</div>
      </div>
    </div>
  </div>
</div>

<head>
    <style type="text/css">
    </style>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/d3.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/underscore.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/underscore.string.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/d3_clustergram.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/load_clustergram.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/sunburst.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/d3.layout.cloud.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/kinome.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/radar-chart.js")'></script>
    <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("raphael-min.js"))'></script>    
    <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("morris.min.js"))'></script>
    <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("fabric.min.js"))'></script>        
    <link type="text/css" rel="stylesheet" href='@routes.Assets.at("stylesheets/clustergram.css")' />
    <link type="text/css" rel="stylesheet" href='@routes.Assets.at("stylesheets/radar-chart.css")' />
    <link type="text/css" rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("morris.css"))' /> 
</head>

<script>
$(function() {
   $('[data-toggle="popover"]').popover();
   $('[data-toggle="tooltip"]').tooltip ();
});

$(document).ready(function () {
   $('#loadmodal').on('shown.bs.modal', function (e) {
      console.log('loadmodal is shown...');
   });
   $('#hgramModal').on('shown.bs.modal', function (e) {
      console.log('hgram modal is shown...');
      load_clustergram ('@ix.idg.controllers.routes.HarmonogramApp.hgForTarget(null, ctx, null)');
   });

   $('#modal-radar').on('hidden.bs.modal', function (e) {
       d3.select("#modal-radardiv").select('svg').remove();
   });

    // iterate over all .radar-XXX elements and draw the radar chart
    // currently we pull chart data dynamically, but really should be
    // generated at compile time
    $('div[id*="radar-"' ).each(function() {
        var klass = $(this ).attr("id");
        var acc = klass.split("-")[1];
        $.ajax({
            url: '@ix.idg.controllers.routes.HarmonogramApp.hgForTarget(null,null,null,"radar-attr_type")'+'&q='+acc,
            dataType:"json",
            success:function(data) {
                var chart = RadarChart.chart();
                chart.config({
                    w:75, h:75,
                    axisText:false, levels:0, circles:false
                });
                var svg = d3.select("#"+klass).append('svg' )
                .attr("width", 75 )
                .attr("height", 75)
                .append('g').classed('focus', 1).datum(data).call(chart);
            }
        });
    });

    $("#target-table" ).on("click", ".radar-div", function() {
        var target = $(this ).attr("id" ).split("-")[1];
        $.ajax({
            url: '@ix.idg.controllers.routes.HarmonogramApp.hgForTarget(null,null,null,"radar-attr_type")'+'&q='+target,
            dataType:"json",
            success:function(data) {
                var chart = RadarChart.chart();
                chart.config({
                    w:600, h:600,
                    axisText:true, levels:0, circles:true
                });
                var svg = d3.select("#modal-radardiv").append('svg' )
                    .attr("width", 600 )
                    .attr("height", 600)
                    .append('g').classed('focus', 1).datum(data).call(chart);
                $("#modalLabelRadar" ).text("Data type summary for "+target);
                $("#modal-radar" ).modal("show");
            }
        });
    });

});

function showLoadModal () {
  console.log('showing modal...');
  $('#loadmodal').modal({
      keyboard: false,
      show: true,
      backdrop: 'static'
    });
}

$(window).unload(function () {
    $('#loadmodal').modal('hide');
    $('#hgramModal').modal('hide');
});
</script>
