
@import ix.ncats.controllers.App
@import ix.ncats.controllers.App.FacetDecorator
@import ix.idg.controllers.IDGApp
@import ix.idg.controllers.IDGApp._
@import ix.idg.controllers.Commons._
@import ix.core.search.TextIndexer._
@import ix.utils.Util

@(q: String, uri: String, facets: Array[Array[FacetDecorator]])

@facet(f: FacetDecorator) = {
<div class="col-md-4">
  <div class="panel panel-default" id="@Util.sha1(App.encode(f.facet))">
    <div class="panel-heading">
      <h3 class="panel-title">@f.name</h3>
    </div>
    <div class="panel-body">
     <table class="table table-condensed">
      @** first show all selected facets **@
      @for(i <- 0 until f.max) {
        @if(f.selection(i)) {
	<tr>
	  @defining(App.sha1(f.facet,i)) { id =>
	     <td>
	       <input type="checkbox"  onclick="facetToggle(this)"
		      checked="true"
	       	      label="Toggle @f.facet.getLabel(i)"
		      id="@id"/>
	     </td>
	     <script>
	        filters['@id'] = {
	           checked: true,
                   name: '@App.encode(f.facet)',
	           value: '@App.encode(f.facet, i)',
		   facet: '@Util.sha1(App.encode(f.facet))'
	        };
	     </script>
          }
          @if(f.raw) {
            <td>@HtmlFormat.raw(f.label(i))</td>
          } else {
            <td class = "text-capitalize">@f.label(i)</td>
          }
	 <td>
           @if(f.raw) {
              <span class="badge" style="float:right;">@HtmlFormat.raw(f.value(i))</span>
           } else {
              <span class="badge" style="float:right;">@f.value(i)</span>
           }
	 </td>
        </tr>
        }
      }
      @for(i <- 0 until Math.min(10, f.max)) {
        @if(!f.selection(i)) {
	<tr>
	  @defining(App.sha1(f.facet,i)) { id =>
	     <td>
	       <input type="checkbox" onclick="facetToggle(this)"
	       	      label="Toggle @f.facet.getLabel(i)"
		      id="@id"/>
	     </td>
	     <script>
	        filters['@id'] = {
	           checked: @f.selection(i),
                   name: '@App.encode(f.facet)',
	           value: '@App.encode(f.facet, i)',
		   facet: '@Util.sha1(App.encode(f.facet))'
	        };
	     </script>
          }
          @if(f.raw) {
            <td>@HtmlFormat.raw(f.label(i))</td>
          } else {
            <td class = "text-capitalize">@f.label(i)</td>
          }
	 <td>
           @if(f.raw) {
              <span class="badge" style="float:right;">@HtmlFormat.raw(f.value(i))</span>
           } else {
              <span class="badge" style="float:right;">@f.value(i)</span>
           }
	 </td>
        </tr>
	}
      }
     </table>
    </div>
  </div>
</div>
}

@ix.ncats.views.html.main("Target Facets"){
@targetmenu(null)
}(HtmlFormat.empty){
<script>
  var filters = {};
</script>

<div class="container-fluid">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Target Facets
	<div class="pull-right">
	  <a href="@ix.idg.controllers.routes.IDGApp.targets()"
	     class="btn btn-default btn-lg">Clear</a>
	  <button type="button" class="btn btn-primary btn-lg"
	  	  onclick="applyFilters(this)">Apply</button>
	</div>
      </h1>
    </div>
    @for(i <- 0 until facets.length) {
    <div class="row">
      @for(f <- facets(i)) {
	@if(f != null) {
           @facet(f)
	}
      }
    </div>
    }
  </div>
</div>
}

<script>
function facetToggle (el) {
  filters[el.id].checked = el.checked;
  var id = filters[el.id].facet;
  var count = 0;
  for (var f in filters) {
     if (filters[f].checked && filters[f].facet == id) {
        ++count;
     }
  }
  if (count > 0) {
     $('#'+id).removeClass('panel-default');
     $('#'+id).addClass('panel-success');
  }
  else {
     $('#'+id).removeClass('panel-success');
     $('#'+id).addClass('panel-default');
  }
  /*
  console.log(filters[el.id].name+'/'+filters[el.id].value
		+': '+el.checked +' div='+id+' '+count);
  */
}

$(function() {
   $('[data-toggle="popover"]').popover();
   $('[data-toggle="tooltip"]').tooltip();
});

function applyFilters (el) {
  console.log('Applying filters...');
  var facet = '';
  for (var f in filters) {
     if (filters[f].checked) {
        if (facet.length > 0) {
	   facet += '&';
	}
	facet += 'facet='+filters[f].name+'/'+filters[f].value;
     }
  }
  
  var url = '@ix.idg.controllers.routes.IDGApp.targets(q)';
  @if(uri != null && uri.length > 0) {
     url += url.indexOf('?') < 0 ? '?' : '&';
     url += '@HtmlFormat.raw(uri)';
  }
  if (facet.length > 0) {
     url += url.indexOf('?') < 0 ? '?' : '&';
     url += facet;
  }
  //console.log('url: '+url);
  location.href = url;
}

$(document).ready(function() {
  var counts = [];
  for (var f in filters) {
     if (filters[f].checked) {
        counts[filters[f].facet] = 1;
     }
  }

  for (var id in counts) {
    //console.log('counts['+id+'] = '+counts[id]);
    if (counts[id]) {
       $('#'+id).removeClass('panel-default');
       $('#'+id).addClass('panel-success');
    }
  }
});
</script>
