@import ix.tox21.models.QCSample
@import ix.tox21.models.Sample
@import ix.tox21.controllers.Tox21App
@import ix.ncats.controllers.App.FacetDecorator
@import ix.utils.Util;

@(current: Int, rows: Int, total: Int, pages: Array[Int],
     facets: Array[FacetDecorator], samples: List[QCSample])

@label(x: Sample) = {
     @if(x.getName().length() > 30) {
       <a  href="#@Util.sha1(x.getName()).substring(0,6)"
           tabindex="0"
           data-toggle="popover"
           data-animation="true"
           data-placement="bottom"
           data-trigger="click hover focus"
           data-title="@x.getName() (@x.getSynonym(Sample.S_NCGC).term)"
	   data-html="true"
           data-content="<img src='@ix.tox21.controllers.routes.Tox21App.render(x.id)'>">@x.getName().substring(0, 30)...</a>
     } else {
       <a  href="#@Util.sha1(x.getName()).substring(0,6)"
           tabindex="0"
           data-toggle="popover"
           data-animation="true"
           data-placement="bottom"
           data-trigger="click hover focus"
           data-title="@x.getName() (@x.getSynonym(Sample.S_NCGC).term)"
	   data-html="true"
           data-content="<img src='@ix.tox21.controllers.routes.Tox21App.render(x.id)'>">@x.getName()</a>
     }
}

@tabrow(s: QCSample) = {
  @defining(s.sample.getSynonym(Sample.S_TOX21).term) { toxid => 
<tr>
  <td><a href="@ix.tox21.controllers.routes.Tox21App.sample(toxid)">@toxid</a></td>
  <td>@label(s.sample)</td>

  @s.grade match {
     case null => {
        <td></td>
	}
     case QCSample.Grade.ND => {
            <td><span class="label label-default">@{s.grade}</span>&nbsp;@HtmlFormat.raw(s.grade.desc.replaceAll("\n", "<br>"))</td>
     }
     case _ => {
           <td><span class="label label-@{s.grade.label}">@s.grade</span>&nbsp;<a href="https://tripod.nih.gov/tox21/QC/@toxid">@HtmlFormat.raw(s.grade.desc.replaceAll("\n", "<br>"))</a></td>
       }
    }
</tr>
  }
}

@ix.ncats.views.html.content("Tox21 Samples", "ix.tox21.models.QCSample",
ix.tox21.controllers.routes.Tox21App.samples().url,
current, rows, total, pages, facets){
  @ix.ncats.views.html.header{
   <a class="navbar-brand" href="@ix.tox21.controllers.routes.Tox21App.index"
      style="padding: 0px 5px; margin-left: 0px;">
     <img height="50" alt="Tox21 Logo"
	  src='@routes.Assets.at("ncats/images/Tox21_logo_128.png")'/>
   </a>
  }{
   <ul class="nav navbar-nav navbar-right">
     <form class="navbar-form navbar-right" role="search" method="GET"
           action="@ix.tox21.controllers.routes.Tox21App.search">
       <div class="form-group">
         <input type="text" id="search-header-field" name="q"
		class="typeahead form-control" placeholder="Search..."/>
       </div>
       <button type="submit" class="btn btn-default">
         <span class="fa fa-search" aria-hidden="true"></span>
       </button>
     </form>
   </ul> 
  }
}{
<ol class="breadcrumb">
  <li><a href="@ix.tox21.controllers.routes.Tox21App.index"><span class="fa fa-home"></span> Home</a></li>
  <li class="active">Tox21 Samples</li>
</ol>
}{
<table class="table table-striped">
  <tr>
    <th>Tox21 ID</th>
    <th>Name</th>
    <th>QC Grade [T0]</th>
  </tr>
  @for(s <- samples) {
     @tabrow(s)
   }
</table>
}

@**
** Specify all fields that you want to support autocomplete;
** Look at /api/v1/suggest/@fields
** for a list of fields that can be specified!
**@
@ix.ncats.views.html.typeahead(Array("Sample", "Tox21", "NCGC","CASRN","SID"))

<script>
$(function () {
  $('[data-toggle="popover"]').popover();
  $('[data-toggle="tooltip"]').tooltip();
});

$(document).ready(function () { 
  $('.tree').treegrid({
   expanderExpandedClass: 'fa fa-angle-down',
   expanderCollapsedClass: 'fa fa-angle-right',
   initialState: 'collapsed'
  });
});
</script>
