.nav-collapse a{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
}
.tb-megamenu .nav > li > a:focus,
.tb-megamenu .nav > li > a:hover, .tb-megamenu .nav li.dropdown.open > .dropdown-toggle{
  background-color: #fff;  
 color: #497c8f !important; 
   /*color: yellow !important; */
  text-decoration: none;
  text-shadow: none;
  outline: none;
} 
.tb-megamenu-item.level-1.mega.ncatsNav.dropdown.open a.dropdown-toggle
{
	color: #497c8f;
}
 .tb-megamenu-item.level-1.mega.ncatsNav.dropdown.animating a.dropdown-toggle {
	/*color: red !important;*/
}

/**commented out**/

.tb-megamenu .btn-navbar {
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	   box-shadow: none;
}

.tb-megamenu .dropdown-submenu > a:after, .tb-megamenu-item.level-2.mega > a {
	 border-left-color: #000 !important;
	 margin-right:-10px;
	}

.tb-megamenu .dropdown-submenu:hover > a:after {
  border-left-color: #105ba8 !important;
}
.dropdown-submenu > a{
	color: #000 !important;
/*	font-weight:bold !important;*/
  	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.tb-megamenu .dropdown-submenu:hover > a
{
  color:#105ba8 !important;
  	font-family: "Trebuchet MS", Helvetica, sans-serif;
 /* 	font-weight:bold;*/
}
.tb-megamenu .nav-collapse .nav > li.active > a:hover,
.tb-megamenu .nav-collapse .nav > li.active > a:focus {
  background-color: #265668;
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover
{
	background-color: #2d5e70;
}


.tb-megamenu .nav:first-child li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav:first-child li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav:first-child > li.dropdown.open.active > a:hover
{
	border-radius: 12px 0 0 0;
}

.tb-megamenu-item.level-3.mega > a{
	color: #2d5e70 !important;
/*	font-weight:bold !important;*/
  	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.tb-megamenu-row.row-fluid{	
	border-top: none;
}

.ncatsNav-third{
	border-radius: 0 10px 10px 0 !important;
}

.ncatsNav-sub{
	border-radius: 0 0 0 10px !important;
}



/**edits to tb mega menu styling**/
.tb-megamenu.tb-megamenu-main-menu .collapse, .navbar-collapse.collapse {display:block;
visibility: visible;}
.navbar-header{
	display: none;
}
.tb-megamenu-item.level-1.mega > a{
	border: none;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .tb-megamenu .nav > li > a:focus,
.tb-megamenu .nav > li > a:hover, .tb-megamenu .nav a.animating {
	background-color: #fff !important;
margin: -5px -5px -5px -5px;
	color: #a09fa0 !important;
	border-top: solid #a09fa0 5px !important;
	border-left: solid #a09fa0 5px !important;
	border-right: solid #a09fa0 5px !important;
	border-radius: 12px 12px 0 0;
	z-index: 5;
}

.tb-megamenu-item.level-2.mega > a, .tb-megamenu-item.level-2.mega, .tb-megamenu-item.level-3.mega > a{
	border: none !important;
	margin:0;
	padding:0;

}
.tb-megamenu .dropdown-menu{
	border: solid #a09fa0 5px;
	margin-left:-5px;
	z-index: 1;
	box-shadow: none;
	position:absolute;
}
.tb-megamenu-item {
	z-index: 5;
	position: relative;
	top:1;
}

.level-2 .tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child{
	margin-top: -15px;
	margin-left: 15px;
	width:140%;
}
.tb-megamenu .nav > li {
	width: 20%;
}
.tb-megamenu-submenu.ncatsNav-sub.dropdown-menu.mega-dropdown-menu.nav-child, .tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child{
	width:104%;
}

.ncatsNav-sub:hover{
/*border-right:solid 5px #fff;*/
}
.ncatsNav-third{
	border-left: none !important;
/*	margin-left:-1px !important;*/
	margin-left:0px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
.ncatsNav-third{
	border-left: none !important;
	margin-left:0px !important;
}
} /*chrome only*/
.tb-megamenu-item.level-3.mega > a {
	padding-left: 15px !important;
}

#navbar .container {
    padding-left: 0;
    padding-right: 0;
}
.navbar-collapse.collapse {
    padding-left: 0;
    padding-right: 0;
}
.nomob{
	display: block;
}

.tb-megamenu-submenu.ncatsNav-third.dropdown-menu.mega-dropdown-menu.nav-child {
    margin-left: 10px;
}

@media (max-width: 989px) {
	/*
.tb-megamenu .nav-collapse .nav > li > .dropdown-menu:before, .tb-megamenu .nav-collapse .nav > li > .dropdown-menu:after, .tb-megamenu .always-show .mega > .mega-dropdown-menu, .tb-megamenu .always-show .dropdown-menu{
		display:none !important; /*hides subnav on mobile view by default*/
	/*}
.tb-megamenu-submenu.ncatsNav-sub.dropdown-menu.mega-dropdown-menu.nav-child.openSub {
    display: block !important;
}*/
/*.block-block img{
	display: none !important;
}*/
/*
.tb-megamenu-subnav{
	display:none;
}*/
.dropdown-toggle:after{
	content: "\f078";
	font-family: FontAwesome;
	color: #98ABB4;
	float:right;
}
.active .dropdown-toggle:after{
	content:"\f068";
	font-family: FontAwesome;
	color: #98ABB4;
	float:right;
}
.tb-megamenu .nav > li{
	width: 100%;

background: #497c8e; /* Old browsers */
background: -moz-linear-gradient(top,  #497c8e 0%, #2b5b6d 42%, #2b5b6d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#497c8e), color-stop(42%,#2b5b6d), color-stop(100%,#2b5b6d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #497c8e 0%,#2b5b6d 42%,#2b5b6d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #497c8e 0%,#2b5b6d 42%,#2b5b6d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #497c8e 0%,#2b5b6d 42%,#2b5b6d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #497c8e 0%,#2b5b6d 42%,#2b5b6d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#497c8e', endColorstr='#2b5b6d',GradientType=0 );
}
.tb-megamenu .nav .active>li, .tb-megamenu .nav > li > a:focus,
.tb-megamenu .nav > li > a:hover, .tb-megamenu .nav li.dropdown.open > .dropdown-toggle, .tb-megamenu .nav > li:hover, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .tb-megamenu .nav > li > a:focus,
.tb-megamenu .nav > li > a:hover, .tb-megamenu .nav a.animating{
	background-color: #305668 !important;
	border-radius: 0px !important;
	border-width: 0px !important;
	width:100%;
	margin:0;
	color: #fff !important;
}
.tb-megamenu-submenu.ncatsNav-sub.dropdown-menu.mega-dropdown-menu.nav-child{
	width:100%;
}


.tb-megamenu .always-show .mega > .mega-dropdown-menu.mobClose, .tb-megamenu .always-show .dropdown-menu.mobClose
{
	display: none !important;
}

.icon-reorder:before {
  content: "\f0c9\f0c9";
  color: #fff;
  font-size:22px;
}
.btn.btn-navbar.tb-megamenu-button:before{
	content: 'Menu ';
	font-family: 'Trebuchet MS';
  font-size:17px;
}

body {
	/*float:left;  Avoids the scrolling of left and right in body*/
	overflow-x:hidden;
}

.btn.btn-navbar.tb-megamenu-button{
	 border: medium none;
    float: right;
    width: 17%;
    border: none;
    background: none;
    margin-top:7px;
}


.tb-megamenu .nav:first-child li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav:first-child li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav:first-child > li.dropdown.open.active > a:hover
{
	border-radius: 0;
}

.tb-megamenu .nav-collapse .nav > li > a, .tb-megamenu .nav-collapse .dropdown-menu a{
	border-bottom-width: 0px;
	border-top-width:0px;
}

.tb-megamenu-item.level-2.mega{
	background-image: url('../images/white2grey.jpg');
background-size: 100% auto;
background-repeat:repeat-y;
}

.tb-megamenu-item.level-2.mega.dropdown-submenu, .open > .tb-megamenu-item.level-2.mega > a{
background: none;
color: #000;
}
.tb-megamenu-item.level-2.mega:hover, .tb-megamenu-item.level-2.mega.dropdown-submenu:hover, .tb-megamenu-submenu.ncatsNav-sub.dropdown-menu.mega-dropdown-menu.nav-child.openSub:hover,.tb-megamenu-item.level-2.mega.open, .tb-megamenu-item.level-2.mega.dropdown-submenu.open, .tb-megamenu-submenu.ncatsNav-sub.dropdown-menu.mega-dropdown-menu.nav-child.openSub.open, .dropdown-submenu.active{
color: #296DB2;
	background-color: none;
}


.tb-megamenu-submenu.ncatsNav-sub.dropdown-menu.mega-dropdown-menu.nav-child.openSub{
	display:block;
	background-image: url('../images/white2grey.jpg');
background-size: 100% auto;
background-repeat:repeat-y;
}

.tb-megamenu-column-inner.mega-inner.clearfix {
    padding: 0 !important;
}
.ncatsNav-sub{
	border-radius: 0 !important;
}

.dropdown-submenu > a{
	font-weight: normal !important;
}

.dropdown-submenu a.dropdown-toggle:after{
content:"\f078";
	font-family: FontAwesome;
	color: #98ABB4;
	float:right;	
	border: none;
}
 .dropdown-submenu.open a.dropdown-toggle:after, .dropdown-submenu.active a.dropdown-toggle:after{
	content:"\f068";
	font-family: FontAwesome;
}
.dropdown-submenu a.dropdown-toggle, .open.dropdown-submenu a.dropdown-toggle{
	width:93%;
	height:40px;
}

.nomob{
	display: none;
}

.tb-megamenu-item.level-2.mega a{
	color: #000;
}

.tb-megamenu-item.level-2.mega a:hover{
	color: #296DB2;
	background-color: none;
}

.tb-megamenu-item.level-2.mega:hover, .tb-megamenu-item.level-2.mega >a:hover, .tb-megamenu-item.level-2.mega.open, tb-megamenu-item.level-2.mega.open > a, .tb-megamenu-item.level-2.mega.animating, .tb-megamenu-item.level-2.mega.open > a, .tb-megamenu-item.level-2.mega.active > a{
	background:transparent !important;
	color: #4a7d8f !important;
}


.tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover, .tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover{
	background-color: transparent; !important;
	background-image: none !important;
}

.level-2.active .tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child{
	display:block;
}
.tb-megamenu-item.level-3.mega{
	background-color: #fff;
	border-bottom: 3px solid #ccc;
	padding: 3px 0;
}
.tb-megamenu-item.level-3.mega > a:hover, .tb-megamenu-item.level-3.mega.open > a, .tb-megamenu-item.level-3.mega.animating > a, .tb-megamenu-item.level-3.mega, .tb-megamenu-item.level-3.mega.open, .tb-megamenu-item.level-3.mega.animating{
	background-color: #fff !important;
	background-image: none;
	color:#2d5e70 !important;
}

.tb-megamenu-item.level-3.mega.open, .tb-megamenu-item.level-3.mega.animating{
	padding-left:0 !important;
	margin-left:0 !important;
	padding-right:0 !important;
}
#tb-megamenu-column-2{
	/*display: none; the image column!*/
}

}
@media (max-width: 768px) {
#navbar .leaf{
	width:100%;
}
	}
@media (max-width: 480px) {
	 .btn.btn-navbar.tb-megamenu-button {
    width: 40%;
}

}
@media (max-width: 380px) {
	 .btn.btn-navbar.tb-megamenu-button {
    width: 50%;
}

}

.tb-megamenu-item  .dropdown-submenu .secondNav
{
width: 124%;}

.tb-megamenu-subnav.mega-nav.level-2{
background-color: orange !important;}

.tb-megamenu-item  .dropdown-submenu:nth-child(1) .secondNav{
background-color: green !important;}

.tb-megamenu-item  .dropdown-submenu:nth-child(2) .secondNav{
background-color: yellow !important;}
.tb-megamenu-item  .dropdown-submenu:nth-child(3) .secondNav{
background-color: orange !important;}
.tb-megamenu-item  .dropdown-submenu:nth-child(4) .secondNav{
background-color: purple !important;}
.tb-megamenu-item  .dropdown-submenu:nth-child(5) .secondNav{
background-color: blue !important;}
.tb-megamenu-item  .dropdown-submenu:nth-child(6) .secondNav{
background-color: white !important;}
.tb-megamenu-item  .dropdown-submenu:nth-child(7) .secondNav{
background-color: black !important;}
/*
.tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child {
    width: 120%;
}*/