.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#footer {
    bottom: 0;
    clear: both;
    width: 100%;
    font: 0.9em/1em Trebuchet MS, Arial, Helvetica, sans-serif;
    color: #6e6e6e;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    background-color: #e8e7e3;
    padding-right:20px;
    padding-left:20px;
}

#footer h2 {
 	position: absolute;
 	left: -9000px;
 	width: 1px;
 	height: 1px;
 	overflow: hidden;
}
#footer p.address {
	padding-top: 8px;
	line-height:120%;
}
#footer ul {
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	padding-bottom: 1.3em;
	margin: 0;
}
#footer li {
	display: inline;
	padding: 0;
	margin: 0;
	background: none;
}
#footer li a {
	padding-left: 0.4em;
	padding-right: 0.8em;
	margin: 1px;
	border-right: 1px solid #c1c1c1;
	line-height:120%
}
#footer li.last a {
	border-right: none;
}

.NCATS-logo a img {
	margin-top: 24px;
	margin-left: 12px;
}

.NCATS-logo {
	margin-bottom:24px;
}