#
# override CSS
#

.breadcrumb > li + li:before {
    content: "&raquo;";
    color: #aaa;
}

.tt-dropdown-menu {
    background-color: rgba(255, 255, 255, .9);
    overflow-y: auto;
}

.twitter-typeahead {
}

.table tbody>tr>td.valign-center {
    vertical-align: middle;
}
