@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>User Admin</title>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <section id="main">
            <div class="container">
            @content
            </div>
        </section>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))' type='text/javascript'></script>
    </body>
</html>
