<div>            
            <div class="modal-header">
                <a type="button" class="close"  ng-click="close()" uib-tooltip ="Close" aria-label="Close"><i class ="fa fa-times danger"></i></a>
                <h4 class="modal-title" id="myModalLabelExport">Enter Filename</h4>
            </div>
            
            <div ng-if="exportData.cached">
            	<span>An export was prepared with this criteria <i>{{moment(exportData.cached.started)}}</i>. You can retrieve this export, or start a new one by entering a filename below.
            		<a href="myDownloads/{{exportData.cached.id}}" target="_self">View old version</a>
            	</span>
            </div>
            <div class="modal-body">
                <div class = "row">   
                <div class="col-md-12 warn">
                	<input  type="text" class="form-control" ng-model="exportFname">
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  ng-click="mclose(exportFname)">Ok</button>
                    <button type="button" class="btn btn-primary"  ng-click="close()">Cancel</button>
                </div>
            </div>
        </div>

