<div>
            <div class="modal-header">
                <a type="button" class="close"  ng-click="close()" uib-tooltip ="Close" aria-label="Close"><i class ="fa fa-times danger"></i></a>
                <h4 class="modal-title" id="myModalLabelExport">Export</h4>
            </div>
            <div class="modal-body">
                <div class = "row">   
                <div class="col-md-12 warn" ng-repeat="warn in warnings">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
                        </button>
                        <span><h4 class="warntype">{{warn.type}}</h4><span class="message">{{warn.message}}</span></span>
                    </div>
                </div>
                    <uib-tabset>
                        <uib-tab heading="Molfile">
                            <textarea class="col-md-12 exportArea" id="exportMol">{{exportData}}</textarea>
                        </uib-tab>
                        <uib-tab heading="Smiles">
                            <textarea class="col-md-12 exportArea">{{exportSmiles}}</textarea>
                        </uib-tab>
                    </uib-tabset>
                </div>
                <div class="modal-footer">
                    <download-button data=exportData format ="mol">Download Molfile</download-button>
                    <button type="button" class="btn btn-primary"  ng-click="close()">Close</button>
                </div>
            </div>
        </div>

