<div>
    <div class="modal-header">
        <a type="button" class="close"  ng-click="close()" uib-tooltip ="Close" aria-label="Close"><i class ="fa fa-times danger"></i></a>
        <h4 class="modal-title" id="myModalLabelExport">Import </h4>
    </div>
    <div class="modal-body">
        <div class = "row">
                <div class="form-group">
                    <div class = "row">
                        <ng-form class="form" enctype="multipart/form-data">
                            <div class="col-md-3">
                                <label for="upload">Load a molfile</label><br>
                                <file-field ng-model="uploadFile" ng-change="setPreview(uploadFile)" id = "upload" preview ="setPreview();"><i class="fa fa-folder-open fa-lg"></i> Browse</file-field>
                                <br>
                                {{uploadFile.name}}
                                <br>
                            </div>
                        </ng-form>
                    </div>
                    <div class = "row">
                        <div class="col-md-12">
                            <label for="description-det">Enter molfile or smiles:</label>
                            <textarea spellcheck="false" class="form-control" rows="10" ng-model="molfile" ng-trim="false" ></textarea>
                        </div>
<!--
                        <input style="display:none" ng-model="structure._setWatch" ng-change="resolveMol(molfile)" />
-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="molfile=null; close();">Close</button>
                    <button  type="button" class="btn btn-primary" ng-click="resolveMol(molfile);" >Import</button>
                </div>
        </div>
    </div>
</div>

