<div>
    <div class="modal-header">
        <a type="button" class="close"  ng-click="close()" uib-tooltip ="Close" aria-label="Close"><i class ="fa fa-times danger"></i></a>
        <h4 class="modal-title" id="myModalLabelExport">Import </h4>
    </div>
    <div class="modal-body">
        <div class = "row">
            <form class="form" role="import" method="GET"
                  action="">
                <div class="form-group">
                    <div class = "row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputFile">Load File</label>
                                <input type="button" value="Choose File" onclick="window.FileContentsGrabber.set('mol-sequence');">
                                <p class="help-block">or</p>
                            </div>
                        </div>
                    </div>
                    <div class = "row">
                        <div class="col-md-12">
                            <label for="description-det">Enter molfile or smiles:</label>
                            <textarea spellcheck="false" class="form-control" rows="10" ng-model="molfile" ng-trim="false" ></textarea>
                        </div>
<!--
                        <input style="display:none" ng-model="structure._setWatch" ng-change="resolveMol(molfile)" />
-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="molfile=null; close();">Close</button>
                    <button  type="button" class="btn btn-primary" ng-click="resolveMol(molfile);" >Import</button>
                </div>
            </form>
        </div>
    </div>
</div>

