<div>
    <div class="modal-header">
        <div class="row">
            <form-header type="nameOrgs" parent="parent"></form-header>
            <a type="button" class="close" ng-click="close()" uib-tooltip="Close" aria-label="Close"><i
                    class="fa fa-times danger"></i></a>
        </div>
    </div>
    <div class="modal-body">
        <name-org-form referenceobj=obj parent=referenceobj ng-cloak></name-org-form>
        <br>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="close()">Save&Close</button>
    </div>
</div>

