<div class="row info">
    <uib-tabset  active="active">
        <uib-tab heading="Add a reference" index ="1">
            <div class="col-md-12">
                <form class="form-horizontal" name="refForm" id="addRefForm" role="form" novalidate>
                    <div class="row form-row">
                        <div class="col-md-1">
                            <reference-apply ng-model="reference.apply" obj=obj referenceobj=reference parent=parent
                                             type="view"></reference-apply>
                        </div>
                        <div class="col-md-2">
                            <dropdown-select ng-model="reference.docType" field="docType" label="Source Type"
                                             cv="DOCUMENT_TYPE"></dropdown-select>
                        </div>
                        <div class="col-md-2">
                            <text-input ng-model="reference.sourceClass" field="sourceClass" ng-class="disabled" disabled></text-input>
                        </div>
                        <div class="col-md-2">
                            <text-input ng-model="reference.id" field="id"></text-input>
                        </div>
                        <div class="col-md-2">
                            <check-box ng-model="reference.publicDomain" field="publicDomain"
                                       label="Public Domain"></check-box>
                        </div>
                        <div class="col-md-2">
                            <ng-form class="form" enctype="multipart/form-data" ng-submit="submitFile()">
                                <label for="upload">Upload a Document</label><br>
                                <file-field ng-show="!reference.uploadedFile && !reference.$$uploadFile" ng-model="reference.$$uploadFile"
                                            id="upload"><i class="fa fa-folder-open fa-lg"></i> Browse
                                </file-field>
                                <br>
                                {{reference.$$uploadFile.name}}
                                <br>
                                <button ng-hide="reference.uploadedFile || !reference.$$uploadFile" class="btn btn-default"
                                        ng-click="submitFile();"><i class="fa fa-upload"></i></button>
                                <button ng-show="reference.uploadedFile" class="btn btn-success" disabled><i
                                        class="fa fa-check"></i></button>
                            </ng-form>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class ="col-md-1"></div>
                        <div class="col-md-3 url">
                            <text-input ng-model="reference.citation" ng-change="print()" field="citation"></text-input>
                        </div>

                        <div class="col-md-2">
                            <multi-select ng-model="reference.tags" field="tags"
                                          cv="DOCUMENT_COLLECTION"></multi-select>
                        </div>
                        <div class="col-md-2">
                            <text-input ng-model="reference.url" field="url"></text-input>
                        </div>
                                               <div class="col-md-1 pull-right">
                            <form-selector referenceobj="reference" parent="parent" divid="refForm"
                                           type="access"></form-selector>
                        </div>
                    </div>
                    <div class="refForm"></div>
                    <hr>
                    <div class="row">
                        <div class="col-md-1 pull-right">
                            <a ng-click="reset()" aria-label="Clear" uib-tooltip="Clear"><i
                                    class="fa fa-eraser fa-2x danger"></i></a>
                            <a ng-click="validate()" uib-tooltip="Add"><i class="fa fa-floppy-o fa-2x success"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </uib-tab>
        <uib-tab heading="Apply a reference ({{parent.references.length}})">
            <div class="col-md-12">
                <div ng-repeat="obj in parent.references">
                    <div class="row">
                        <hr>
                        <div class="col-md-1">
                            <reference-apply obj=obj referenceobj=referenceobj parent=parent
                                             type="edit"></reference-apply>
                        </div>
                        <div class="col-md-2">
                            <dropdown-view-edit obj="obj" field="docType" label="Source Type"
                                             cv="DOCUMENT_TYPE"></dropdown-view-edit>
                        </div>
                        <div class="col-md-2">
                            <text-view-edit obj="obj" field="sourceClass" disabled></text-view-edit>
                        </div>
                        <div class="col-md-2">
                            <text-view-edit obj="obj" field="id"></text-view-edit>
                        </div>
                        <div class="col-md-1">
                            <check-box-view-edit obj="obj" field="publicDomain"
                                                 label="Public Domain"></check-box-view-edit>
                        </div>
                        <div class="col-md-1">
                            <label for="upload">Document</label><br>
                            <a ng-href={{obj.uploadedFile}} target ="_blank" ng-if="obj.uploadedFile">
                                <i class="fa fa-file-text fa-stack-2x success"></i>
                            </a>
                            <file-field ng-show="!obj.uploadedFile && !obj.$$uploadFile" ng-model="obj.$$uploadFile"
                                        id="upload"><i class="fa fa-folder-open fa-lg"></i> Browse
                            </file-field>
                            <br>
                            {{obj.$$uploadFile.name}}
                            <br>
                            <button ng-hide="obj.uploadedFile || !obj.$$uploadFile" class="btn btn-default"
                                    ng-click="submitFile(obj);"><i class="fa fa-upload"></i></button>

                        </div>
                        <div class="col-md-1 pull-right">
                            <form-selector referenceobj="obj" parent="parent" formname="refForm" type="access"
                                           divid={{reference.$$hashKey}}></form-selector>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class ="col-md-1"></div>
                    <div class="col-md-2 url">
                        <text-view-edit obj="obj" field="citation"></text-view-edit>
                    </div>
                    <div class="col-md-2">
                        <multi-view-edit obj="obj" field="tags" cv="DOCUMENT_COLLECTION"></multi-view-edit>
                    </div>
                    <div class="col-md-2 url">
                        <text-view-edit obj="obj" field="url"></text-view-edit>
                    </div>
                    </div>
                    <div class={{obj.$$hashKey}}></div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
