<div>
    <div class="modal-header">
        <div class="row">
            <form-header type="references" parent="parent"></form-header>
            <a type="button" class="close"  ng-click="close()" uib-tooltip ="Close" aria-label="Close"><i class ="fa fa-times danger"></i></a>
        </div>
    </div>
    <div class="modal-body">
        <reference-modal-form referenceobj=referenceobj parent=parent></reference-modal-form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="close()">Close</button>
        </div>
    </div>
</div>

