<div>
    <div class="modal-header">
        <div class="row">
            <form-header type="sites" parent="parent"></form-header>
            <a type="button" class="close" ng-click="close()" uib-tooltip="Close" aria-label="Close"><i
                    class="fa fa-times danger"></i></a>
        </div>
    </div>
    <div class="modal-body">
        <site-string-form referenceobj=referenceobj field=field formtype = formtype parent=parent apply=true ng-cloak></site-string-form>
        <br>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</div>

