<div>
            <div class="modal-header">
                <a type="button" class="close"  ng-click="close()" uib-tooltip ="Close" aria-label="Close"><i class ="fa fa-times danger"></i></a>
                <h4 class="modal-title" id="myModalLabelExport">Success</h4>
            </div>
            <div class="modal-body">
                <loading ng-show = "submitting"></loading>
                <div class = "row">   
                <div class="col-md-12 warn">
                    <p>Submitted!</p>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="addDifferentSubstance()" target ="_self">Add a different substance type</button>
                    <button type="button" class="btn btn-success" ng-click="viewSubstance()">View <span ng-if="getSubstanceClass() !== 'concept'">Substance</span><span ng-if="getSubstanceClass() === 'concept'">Concept</span></button>
                </div>
            </div>
        </div>

