<div>
            <div class="modal-header">
                <a type="button" class="close"  ng-click="close()" uib-tooltip ="Close" aria-label="Close"><i class ="fa fa-times danger"></i></a>
                <h4 class="modal-title" id="myModalLabelExport">Submit Substance</h4>
            </div>
            <div class="modal-body">
                <loading ng-show = "validating"></loading>

                <div ng-if="errorsArray.length>0">
                <h4 >Errors must be dismissed before final submission</h4>
                <button type="button" class="btn btn-danger"  ng-click="dismissAll()">Dismiss All</button>
                </div>
                <div class = "row" ng-repeat="err in errorsArray">
                    <div class="col-md-12">
                        <div class="alert alert-{{::err.class}} alert-dismissible" role="alert">
                            <button ng-click="dismiss(err)" type="button" class="close" aria-label="Close"> 
                            	<span aria-hidden="true">&times;</span>
                            </button>
                    <span><h4>{{::err.messageType}}</h4>
                        <span>{{::err.message}}</span>
                        <div ng-repeat="link in err.links">
                            <a target = "_blank" href="{{::link.href}}">{{::link.text}}</a>
                        </div>
                    </span>
                            <div class ="row">
                                <div class ="col-md-2 pull-right">
                                <button ng-click="dismiss(err)" type="button" class="btn btn-{{::err.class}}" aria-label="Close">
                                    <span aria-hidden="true">Dismiss</span>
                                </button>
                                    </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class = "row" ng-if="!validating">
                    <div class = "col-md-12">
                        <p>Are you sure you'd like to submit this substance?</p>
                    </div>
                </div>
            </div>
    <div class="modal-footer">
        <button type="button" ng-if="errorsArray.length>3" class="btn btn-danger"  ng-click="dismissAll()" style="float: left">Dismiss All</button>

                    <button type="button" class="btn btn-danger"  ng-click="close()">Go Back</button>
                    <span ng-show="canSubmit">
                    	<button type="button" class="btn btn-success" ng-click="submitSubstance()" id="submitConfirm">Submit</button>
                    </span>
                    <span ng-hide="canSubmit">
                    	<button type="button" class="btn btn-success" disabled>Submit</button>
                    </span>
                </div>
        </div>

