<div>
            <div class="modal-header">
                <a type="button" class="close"  ng-click="close()" uib-tooltip ="Close" aria-label="Close"><i class ="fa fa-times danger"></i></a>
                <h4 class="modal-title" id="myModalLabelExport">Warning</h4>
            </div>
            <div class="modal-body">
                <div class = "row">   
                <div class="col-md-12 warn">
                    <p>GSRS can currently only support sequences less than 10000 characters in length</p>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  ng-click="close()">Ok</button>
                </div>
            </div>
        </div>

