<div>
    <div class="modal-header">
        <a type="button" class="close"  ng-click="close()" uib-tooltip ="Close" aria-label="Close"><i class ="fa fa-times danger"></i></a>
        <h4 class="modal-title" id="myModalLabelExport">Success</h4>
    </div>
    <div class="modal-body">
        <div class = "row">
            <div class="col-md-12">
                <p>Update was performed.</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success"  a href = "/register" target ="_self">Add a different substance type</button>
            <button type="button" class="btn btn-success"  ng-click="close()">Add Another {{substanceClass}}</button>
            <button type="button" class="btn btn-success"  ng-click="viewSubstance()">View Substance</button>
        </div>
    </div>
</div>

