@(form: String, parent: String, size: Integer)

<div class="col-md-@{size} err-check" id="code-div" show-errors>
  <select ng-model="site.subunitIndex" ng-selected="1" class="form-control" name = "year" id = "year">
    <option ng-repeat="n in range(@{parent}.subunits.length)">{{n}}</option>
  </select>
  <ng-messages for="@{form}.code.$error" ng-if="@{form}.code.$touched">
    <ng-message when="required" class="help-block">Substance name is required</ng-message>
  </ng-messages>
</div>
<div class="col-md-@{size} err-check" id="code-div" show-errors>
  <select ng-model="site.residueIndex" class="form-control" name = "year" id = "year">
    <option ng-repeat="n in range(@{parent}.subunits[site.subunitIndex-1].sequence.length)">{{n}}</option>
  </select>
  <ng-messages for="@{form}.code.$error" ng-if="@{form}.code.$touched">
    <ng-message when="required" class="help-block">Substance name is required</ng-message>
  </ng-messages>
</div>
<div class ="col-md-1 text-center">
  <i class="fa fa-link fa-rotate-270 fa-2x"></i>
</div>
<div class="col-md-@{size} err-check" id="code-div" show-errors>
  <select ng-model="site.subunitIndexEnd" class="form-control" name = "year" id = "year">
    <option ng-repeat="n in range(@{parent}.subunits.length)">{{n}}</option>
  </select>
  <ng-messages for="@{form}.code.$error" ng-if="@{form}.code.$touched">
    <ng-message when="required" class="help-block">Substance name is required</ng-message>
  </ng-messages>
</div>
<div class="col-md-@{size} err-check" id="code-div" show-errors>
  <select ng-model="site.residueIndexEnd" class="form-control" name = "year" id = "year">
    <option ng-repeat="n in range(@{parent}.subunits[site.subunitIndexEnd-1].sequence.length)">{{n}}</option>
  </select>
  <ng-messages for="@{form}.code.$error" ng-if="@{form}.code.$touched">
    <ng-message when="required" class="help-block">Substance name is required</ng-message>
  </ng-messages>
</div>