

<div ng-controller="SubstanceSelectorController">
    <script type="text/ng-template" id="substanceSelector.html">
        <div class="modal-header">
            <h3 class="modal-title">Select substance</h3>
        </div>
        <div class="modal-body">
           <div class="input-group">
                            <input type="text"
                            ng-model ="term"
                            ng-change ="test()"
                            class="form-control typeahead" id="search"
                            title="Search" placeholder="Search ..." name="q">
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="search"
                                ng-click="search()"
                                >
                                    <span class="fa fa-search"></span>
                                </button>
                            </span>
            </div>
            <div class="btn-toolbar" role="toolbar">
             <div class="btn-group" role="group">
             	<h3><span class="label label-default">{{ results.total }}</span></h3>
             	</div>
             	<div class="btn-group" role="group">
		        <ul class="pagination">
		            <li>
		              <a href='#' aria-label="Previous"
		              ng-click="prevPage()"
		              >
		                <span aria-hidden="true" class="fa fa-angle-double-left"></span>
		              </a>
		            </li>
		            <li>
		              <a href='#' aria-label="Next"
		              ng-click="nextPage()"
		              >
		                <span aria-hidden="true" class="fa fa-angle-double-right"></span>
		              </a>
		            </li>
		        </ul>
		      </div>
		      </div>
            <div class= "panel-body">
        		<div class = "row hidden-xs" id ="grid">








        		<div class = "col-md-3 thumb-col" ng-repeat="item in results.content">
				    <div class="panel panel-default">
				        <div class="panel-heading">
				            <p class="text-right" data-toggle="tooltip" title="Approval ID">
				                <a href="#" ng-click="$event.preventDefault(); selected.item = item" >
				                    <code>{{item.approvalIDDisplay}}</code>
				                </a>
				             </p>
				        </div>
				        <div class="panel-body struc-img">
				               <img class = "struc-thumb img-responsive" alt="Structure of {{item.name}}"
                					src='/ginas/app/structure/{{item.structure.id}}.svg'>
				            <div class = "row stereo">
				                <div class = "col-md-10">

				                </div>

				            </div>
				        </div>
				        <div class = "panel-footer nameDiv" data-toggle="tooltip" title="{{item.name}}">
				           {{item.name}}
				        </div>
				        <a href="#" ng-click="select(item)" >
				           Select
				        </a>
				    </div>
				</div>







       			</div>
        	</div>

            Selected: <b><code>{{selected.item.approvalIDDisplay}}</code> {{ selected.item.name }}</b>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <span ng-show="substance.subref"><rendered id = substance.subref.refuuid></rendered> </span>
    <a ng-hide="substance.subref" role="button" aria-label="Select a Substance"  ng-click="open('substanceSelector')"><i class="fa fa-plus fa-2x success"></i></a>
    @*<button aria-label="Select a substance" type="button" class="btn btn-default" ng-click="open('substanceSelector')"><span aria-hidden="true" class="fa fa-plus-square"></span></button>*@
</div>



