<div>
   <label for={{name}}-{{type}} class="text-capitalize">References</label>
    <a ng-show="referenceobj.references.length>0" ng-click="toggle()" role="button" uib-tooltip ="{{referenceobj.references.length}} reference(s)"><span class="badge">{{referenceobj.references.length}}</span></a>
    <div class="text-center">
    <a ng-hide="referenceobj.references.length>0" ng-click="toggle()" role="button" aria-label="Add a reference" uib-tooltip="Add a reference" id="{{name}}-{{type}}"><i
            class="fa fa-plus fa-2x success" ng-show="stage"></i>
        <i class="fa fa-times fa-2x danger" ng-show="!stage"></i></a>
    </div>
</div>
