<div>
    <div class="panel-body">
        <loading ng-show="searching"></loading>
        <div ng-hide="searching" class="row hidden-xs grid">
            <div class="col-md-3" ng-repeat="item in results.content">
                <a ng-click="createSubref(item)">
                    <div>
                        <rendered id={{item.uuid}}></rendered>
                        <br><code>{{item._name}}</code>
                    </div>
                </a>
            </div>
        </div>
    </div>

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <h3><span class="label label-default">{{ results.total }}</span></h3>
            </div>
            <div class="btn-group" role="group" ng-if="results.total>4">
                <ul class="pagination">
                    <li>
                        <a href='#' aria-label="Previous"
                           ng-click="prevPage()">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href='#' aria-label="Next"
                           ng-click="nextPage()">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</div>