<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" name="accessForm" id="addAccessForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-4">
                    <gsrs-input type = "multi"
                                ng-model= referenceobj.access
                                field="access"
                                cv="ACCESS_GROUP">
                    </gsrs-input>
                </div>
            </div>
        </form>
    </div>
    <hr>
</div>
