<div class="row info">
    <div class="row">
        <form-header type="agentModifications" path="modifications.agentModifications" parent="parent"
                     iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <br>
        <button class="btn btn-primary"  ng-if = "!iscollapsed && parent.modifications.agentModifications.length > 2" ng-click="addNew(agentModForm, 'modifications.agentModifications'); scrollTo('agent-bottom')"><i
                class="fa fa-plus"></i> Add
            a<span
                    ng-if="parent.modifications.agentModifications.length>0">nother</span> modification
        </button>
        <form class="form-horizontal" name="agentModForm" id="addAgentModForm" role="form" novalidate>
            <div ng-repeat="(index, obj) in parent.modifications.agentModifications">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj"
                                               path="modifications.agentModifications"></delete-button>
                            </div>
                            <div class="col-md-2">
                                <gsrs-input type="dropdown"
                                            ng-model="obj.agentModificationType"
                                            field="agentModificationType"
                                            cv="AGENT_MODIFICATION_TYPE"
                                            label="Modification Type">
                                </gsrs-input>
                            </div>
                            <div class="col-md-2">
                                <gsrs-input type="dropdown"
                                            ng-model="obj.agentModificationProcess"
                                            field="agentModificationProcess"
                                            cv="AGENT_MODIFICATION_PROCESS" label="Modification Process">
                                </gsrs-input>
                            </div>
                            <div class="col-md-2">
                                <gsrs-input type="dropdown"
                                            ng-model="obj.agentModificationRole"
                                            field="agentModificationRole"
                                            cv="ROLE"
                                            label="Modification Role">
                                </gsrs-input>
                            </div>
                            <div class="col-md-2">
                                <substance-chooser-selector referenceobj="obj"
                                                            field="agentSubstance"
                                                            name="agentSubstance"
                                                            formname="agentModForm"
                                                            label="Agent Substance"
                                                            type="search">
                                </substance-chooser-selector>
                            </div>
                            <div class="col-md-2">
                                <modal-form-button type="amount"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                            <div class="col-md-1">
                                <gsrs-input type="text"
                                            ng-model="obj.group"
                                            field="group">
                                </gsrs-input>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div ng-if="obj.created">
                                    <label>Created:</label> {{::obj.created | date: 'medium'}}
                                </div>
                                <div ng-if="obj.createdBy">
                                    <label>Created By:</label> {{::obj.createdBy}}
                                </div>
                                <div ng-if="obj.lastEdited">
                                    <label>Last Edited:</label> {{::obj.lastEdited | date: 'medium'}}
                                </div>
                                <div ng-if="obj.lastEditedBy">
                                    <label>Last Edited By:</label> {{::obj.lastEditedBy}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </ng-form>
            </div>
            <div class = "agentModForm" id = "agent-bottom"></div>
        </form>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(agentModForm, 'modifications.agentModifications')"><i
                class="fa fa-plus"></i> Add
            a<span
                    ng-if="parent.modifications.agentModifications.length>0">nother</span> modification
        </button>
    </div>
</div>