<div class="row info">
    <div class="row">
        <form-header type="agentModifications" path ="modifications.agentModifications" parent="parent" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse ="iscollapsed">
        <form class="form-horizontal" name="agentModForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-2">
                    <dropdown-select ng-model="agentMod.agentModificationType" field="agentModificationType"
                                     cv="AGENT_MODIFICATION_TYPE" label="Modification Type"></dropdown-select>
                </div>
                <div class="col-md-2">
                    <dropdown-select ng-model="agentMod.agentModificationProcess" field="agentModificationProcess"
                                     cv="AGENT_MODIFICATION_PROCESS" label="Modification Process"></dropdown-select>
                </div>
                <div class="col-md-2">
                    <dropdown-select ng-model="agentMod.agentModificationRole" field="agentModificationRole"
                                     cv="ROLE" label="Modification Role"></dropdown-select>
                </div>
                <div class="col-md-2">
                    <substance-chooser-selector referenceobj ="agentMod" field ="agentSubstance" name ="agentSubstance" formname ="agentModForm" label ="Agent Substance" type = "search"></substance-chooser-selector>
                </div>
                                <div class="col-md-1">
                    <form-selector referenceobj="agentMod" parent="parent" divid="agentModForm"
                                   type="amount"></form-selector>
                </div>
            </div>
            <div class="agentModForm"></div>
            <submit-buttons submit="agentMod" form="agentModForm" path="modifications.agentModifications"></submit-buttons>
        </form>


        <div ng-repeat="obj in parent.modifications.agentModifications">
            <div class="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path="modifications.agentModifications"></delete-button>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj="obj" field="agentModificationType"
                                        cv="AGENT_MODIFICATION_TYPE"
                                        label="Modification Type"></dropdown-view-edit>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj="obj" field="agentModificationProcess"
                                        cv="AGENT_MODIFICATION_PROCESS"
                                        label="Modification Process"></dropdown-view-edit>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj="obj" field="agentModificationRole"
                                        cv="ROLE"
                                        label="Modification Role"></dropdown-view-edit>
                </div>
                <div class="col-md-2">
                    <substance-chooser-selector referenceobj ="obj" field ="agentSubstance" name ="agentSubstance" formname ={{obj.$$hashKey}} label ="Agent Substance" type = "search"></substance-chooser-selector>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj="obj.extentAmount" parent="parent" type="amount" divid={{obj.$$hashKey}}
                                   mode="edit"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="obj" parent="parent" type="access" divid={{obj.$$hashKey}}></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="obj" parent="parent" type="reference" divid={{obj.$$hashKey}}></form-selector>
                </div>
            </div>
            <div class={{obj.$$hashKey}}></div>
        </div>
    </div>
</div>
