<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" name="amountForm" id="addAmountForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-2">
                <gsrs-input type="dropdown"
                            ng-model="referenceobj.type"
                            field="type"
                            cv="AMOUNT_TYPE"
                            required="true">
                </gsrs-input>
                </div>
                <div class="col-md-1">
                    <gsrs-input type="text"
                                ng-model="referenceobj.average"
                                field="average">
                    </gsrs-input>
                </div>
                <div class="col-md-1">
                    <gsrs-input type="text"
                                ng-model="referenceobj.low"
                                field="low">
                    </gsrs-input>
                </div>
                <div class="col-md-1">
                    <gsrs-input type="text"
                                ng-model="referenceobj.high"
                                field="high">
                    </gsrs-input>
                </div>
                <div class="col-md-1">
                    <gsrs-input type="text"
                                ng-model="referenceobj.lowLimit"
                                field="lowLimit">
                    </gsrs-input>
                </div>
                <div class="col-md-1">
                    <gsrs-input type="text"
                                ng-model="referenceobj.highLimit"
                                field="highLimit">
                    </gsrs-input>
                </div>
                <div class="col-md-2">
                    <!--filter = "referenceobj.type"-->
                    <gsrs-input type="dropdown"
                            ng-model="referenceobj.units"
                            field="units"
                            cv="AMOUNT_UNIT"
                            >
                     </gsrs-input>
                    </div>
                <div class="col-md-2">
                    <gsrs-input type="text"
                                ng-model="referenceobj.nonNumericValue"
                                field="nonNumericValue">
                    </gsrs-input>
                </div>
            </div>
        </form>
    </div>
</div>