<div class="row info">
    <div class="row">
        <form-header type="codes" parent="parent" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="codeForm" role="form" id="addCodeForm" novalidate>
            <div ng-repeat="(index,obj) in parent.codes">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="codes"></delete-button>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.codeSystem"
                                                    field="codeSystem"
                                                    cv="CODE_SYSTEM"
                                                    label="Code System"
                                                    required="true"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-3" ng-if="obj.codeSystem">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.$$systemCategory"
                                                    field="$$systemCategory"
                                                    cv="CODE_SYSTEM_TYPE"
                                                    filter="obj.codeSystem"
                                                    label="Code System Type"
                                                    class="disabled"
                                                    uib-tooltip="not editable"
                                                    disabled>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-3">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.type"
                                                    field="type"
                                                    cv="CODE_TYPE"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-3">
                                        <gsrs-input type="text"
                                                    ng-model="obj.code"
                                                    field="code"
                                                    formname=form
                                                    formatter="obj.codeSystem"
                                                    validator="parse(model)"
                                                    required="true">
                                        </gsrs-input>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <gsrs-input type="text"
                                                    ng-model="obj.url"
                                                    field="url"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <gsrs-input type="text-box"
                                                    ng-model="obj.comments"
                                                    field="comments"
                                                    rows=2
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 pull-right">
                                <modal-form-button type="access"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>

                            <div class="col-md-1 pull-right">
                                <modal-form-button type="reference"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                        </div>
                        <div class=code-{{index}}></div>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(codeForm, 'codes')"><i class="fa fa-plus"></i> Add a<span
                ng-if="parent.codes.length>0">nother</span> code
        </button>
    </div>
</div>
