<div class="row info">
    <div class="row">
        <form-header type="codes" parent="parent" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="codeForm" role="form" id="addCodeForm" novalidate>
            <div class="row form-row">
                <div class="col-md-2">
                    <dropdown-select ng-model="code.codeSystem" field="codeSystem" label="Code System"
                                     cv="CODE_SYSTEM"></dropdown-select>
                </div>
                <div class="col-md-2">
                    <dropdown-select ng-model="code.type" field="type" cv="CODE_TYPE"></dropdown-select>
                </div>
                <div class="col-md-2">
                    <text-input ng-model="code.code" field="code"></text-input>
                </div>
                <div class="col-md-2">
                    <text-input ng-model="code.url" field="url"></text-input>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="code" parent="parent" divid="codeForm"
                                   type="access"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <reference-modal-button referenceobj= "code" parent = "parent"></reference-modal-button>
                </div>
                </div>
            <div class="row form-row">
                <div class="col-md-2">
                    <form-selector referenceobj="code" divid="codeForm" field="comments" label="Code Text"
                                   type="textbox"></form-selector>
                </div>
            </div>
            <div class="codeForm"></div>
            <submit-buttons submit="code" form="codeForm" path="codes"></submit-buttons>
        </form>

        <div ng-repeat="obj in parent.codes track by $index">
            <div class="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path="codes"></delete-button>
                </div>
                <div class="col-md-2 err-check">
                    <dropdown-view-edit obj="obj" field="codeSystem" cv="CODE_SYSTEM" label="Code System"></dropdown-view-edit>
                </div>
                <div class="col-md-2 err-check">
                    <dropdown-view-edit obj="obj" field="type" cv="CODE_TYPE"></dropdown-view-edit>
                </div>
                <div class="col-md-2 err-check">
                    <text-view-edit obj="obj" field="code"></text-view-edit>
                </div>
                <div class="col-md-2 url">
                    <text-view-edit obj="obj" field="url"></text-view-edit>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="obj" parent="parent" type="access" divid={{obj.$$hashKey}}></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <reference-modal-button referenceobj= "obj" parent = "parent" edit = "true"></reference-modal-button>

                </div>
                </div>
            <div class = "row">
                <div class="col-md-6 col-md-offset-1">
                    <form-selector referenceobj="obj" formname="codeForm" field="comments" label="Code Text"
                                   type="textbox" divid={{obj.$$hashKey}} mode="edit"></form-selector>
                </div>
            </div>
            <div class={{obj.$$hashKey}}></div>
        </div>
    </div>
</div>
