<div class="row info">
    <div class="row">
        <form-header type="codes" parent="parent" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="codeForm" role="form" id="addCodeForm" novalidate>
            <div ng-repeat="(index,obj) in parent.codes">
                <ng-form name="form">
                    <div class = "form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="codes"></delete-button>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
<!--                                    <div class="col-md-3">
                                        <dropdown-selecto field="codeSystem" cv="CODE_SYSTEM" ng-model="obj.codeSystem"
                                                          label="Code System" required="true"
                                                          formname=form></dropdown-selecto>
                                    </div>
                                    <div class="col-md-3">
                                        <dropdown-selecto ng-model="obj.$$systemCategory" field="$$systemCategory"
                                                          cv="CODE_SYSTEM_TYPE" filter="obj.codeSystem"
                                                          label="Code System Type" class="disabled"></dropdown-selecto>
                                    </div>
                                    <div class="col-md-3">
                                        <dropdown-selecto ng-model="obj.type" field="type" cv="CODE_TYPE"
                                                          formname=form></dropdown-selecto>
                                    </div>-->
                                    <div class="col-md-3">
                                        <gsrs-input type = "text" ng-model="obj.code" field="code" formname=form filter="obj.codeSystem"
                                                        validator="parse(model)"></gsrs-input>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <gsrs-input type = "text" ng-model="obj.url" field="url" required="true" formname=form></gsrs-input>
                                    </div>
                                </div>
                                <br>
                                <!--   <div class="row">
                                       <div class="col-md-12">
                                           <gsrs-input type ="text-box" ng-model="obj.comments" field="comments"
                                                               rows=2 formname=form required="true"></gsrs-input>
                                       </div>
                                   </div>
                               </div>

                               <div class="col-md-1 pull-right">
                                   <form-selector referenceobj="obj" parent="parent" type="access"
                                                  divid=code-{{index}}></form-selector>
                               </div>

                               <div class="col-md-1 pull-right">
                                   <reference-modal-button referenceobj="obj" parent="parent"
                                                           edit="true"></reference-modal-button>

                               </div>-->
                        </div>
                            </div>
                        <div class=code-{{index}}></div>
{{form}}
                    </div>
                </ng-form>
                <hr>
            </div>

        </form>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addAnother(codeForm)">Add a<span
                ng-if="parent.codes.length>0">nother</span> code
        </button>

        <!-- <form class="form-horizontal" name="codeForm" role="form" id="addCodeForm" novalidate>
             <div class="row form-row">
                 <div class="col-md-2">
                     <dropdown-select ng-model="code.codeSystem" field="codeSystem" label="Code System"
                                      cv="CODE_SYSTEM"></dropdown-select>
                 </div>
                 <div class="col-md-2">
                     <dropdown-select ng-model="code.$$systemCategory" field="$$systemCategory" label="Code System Type"
                                      cv="CODE_SYSTEM_TYPE" filter = "code.codeSystem" class="disabled"></dropdown-select>
                 </div>
                 <div class="col-md-2">
                     <dropdown-select ng-model="code.type" field="type" cv="CODE_TYPE"></dropdown-select>
                 </div>
                 <div class="col-md-2">
                     <text-input ng-model="code.code" name = "code" field="code" form = "codeForm" filter = "code.codeSystem" validator="parse(model)"></text-input>
 &lt;!&ndash;                    		<div ng-repeat="err in errors">
                                 ?form
             <span class={{err.class}}>{{err.text}}</span>
         </div>&ndash;&gt;
                     <ng-messages for="codeForm.code.$error" ng-if="codeForm.code.$touched">
                         <ng-message when="invalid" class="help-block"></ng-message>
                         <ng-message when="required" class="help-block">code is required</ng-message>
                     </ng-messages>
                 </div>
                 <div class="col-md-2">
                     <text-input ng-model="code.url" field="url"></text-input>
                 </div>
                 <div class="col-md-1 pull-right">
                     <form-selector referenceobj="code" parent="parent" divid="codeForm"
                                    type="access"></form-selector>
                 </div>
                 <div class="col-md-1 pull-right">
                     <reference-modal-button referenceobj= "code" parent = "parent"></reference-modal-button>
                 </div>
                 </div>
             <div class="row form-row">
                 <div class="col-md-2">
                     <form-selector referenceobj="code" divid="codeForm" field="comments" label="Code Text"
                                    type="textbox"></form-selector>
                 </div>
             </div>
             <div class="codeForm"></div>
             <submit-buttons submit="code" form="codeForm" path="codes"></submit-buttons>
         </form>
 -->

    </div>
</div>
