<div class="row info">
    <div class="row">
        <form-header type="Concept Upgrade" path="" parent="parent"></form-header>
    </div>
    <h2><i class = "fa fa-exclamation-circle"></i>Reloads Page</h2>
    <div class="col-md-12">
        <div class="row form-row">
            <form>
                <div class ="col-md-2">
                    <a ng-click = "changeClass('chemical');" ng-href = "app/substance/{{editid}}/edit">
                    <!--<input type="radio" ng-model="parent.substanceClass" value="chemical"  ng-click = "changeClass()" href =>-->
                    <img ng-src = "app/assets/ginas/images/chemical.svg" alt = "Chemical">Chemical
                        </a>
                </div>
                <div class ="col-md-2">
                    <a ng-click = "changeClass('protein');" ng-href = "app/substance/{{editid}}/edit">
                    <img ng-src = "app/assets/ginas/images/protein.svg" alt ="protein">Protein
                        </a>
                </div>
                <div class ="col-md-2">
                    <a ng-click = "changeClass('structurallyDiverse');" ng-href = "app/substance/{{editid}}/edit">
                    <img ng-src = "app/assets/ginas/images/structurally-diverse.svg" alt = "structurally diverse">Structurally Diverse
                        </a>
                </div>
                <div class ="col-md-2">
                    <a ng-click = "changeClass('polymer');" ng-href = "app/substance/{{editid}}/edit">
                    <img ng-src = "app/assets/ginas/images/polymer.svg" alt = "polymer">Polymer
                        </a>
                </div>
                <div class ="col-md-2">
                    <a ng-click = "changeClass('nucleicAcid');" ng-href = "app/substance/{{editid}}/edit">
                    <img ng-src = "app/assets/ginas/images/nucleic-acid.svg" alt = "nucleic acid">Nucelic Acid
                        </a>
                </div>
                <div class ="col-md-2">
                    <a ng-click = "changeClass('mixture');" ng-href = "app/substance/{{editid}}/edit">
                    <img ng-src = "app/assets/ginas/images/mixture.svg" alt = "mixture">Mixture
                        </a>
                </div>
                <div class ="col-md-2">
                    <a ng-click = "changeClass('specifiedSubstanceG1');" ng-href = "app/substance/{{editid}}/edit">
                    <img ng-src = "app/assets/ginas/images/concept.svg" alt ="Group 1 Specified Substance">Group 1 Specified Substance
                        </a>
                </div>




                <!--<div class="col-md-2">-->
                    <!--<dropdown-view-edit obj = "parent" field="substanceClass" cv = "SUBSTANCE_CLASS" label="Substance Class"></dropdown-view-edit>-->
<!--</div>-->



            </form>
        </div>
    </div>
</div>
