<div class="row info">
    <div class="row">
        <form-header type="Concept Upgrade" path="" parent="parent" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
    
    <h2><i class = "fa fa-exclamation-circle"></i>Reloads Page</h2>
        <div class="row form-row">
            <form>
                <div class ="col-md-2">
                    <a ng-click = "changeClass('chemical');" ng-href = "app/substance/{{editid}}/edit">
                    <img ng-src = "app/assets/ginas/images/chemical.svg" alt = "Chemical" style="height: 100%; width: 100%;">Chemical
                        </a>
                </div>
                <div class ="col-md-2">
                    <a ng-click = "changeClass('protein');" ng-href = "app/substance/{{editid}}/edit">
                    <img ng-src = "app/assets/ginas/images/protein.svg" alt ="protein">Protein
                        </a>
                </div>
                <div class ="col-md-2">
                    <a ng-click = "changeClass('structurallyDiverse');" ng-href = "app/substance/{{editid}}/edit">
                    <img ng-src = "app/assets/ginas/images/structurally-diverse.svg" alt = "structurally diverse">Structurally Diverse
                        </a>
                </div>
                <div class ="col-md-2">
                    <a ng-click = "changeClass('polymer');" ng-href = "app/substance/{{editid}}/edit">
                    <img ng-src = "app/assets/ginas/images/polymer.svg" alt = "polymer">Polymer
                        </a>
                </div>
                <div class ="col-md-2">
                    <a ng-click = "changeClass('nucleicAcid');" ng-href = "app/substance/{{editid}}/edit">
                    <img ng-src = "app/assets/ginas/images/nucleic-acid.svg" alt = "nucleic acid">Nucleic Acid
                        </a>
                </div>
                <div class ="col-md-2">
                    <a ng-click = "changeClass('mixture');" ng-href = "app/substance/{{editid}}/edit">
                    <img ng-src = "app/assets/ginas/images/mixture.svg" alt = "mixture">Mixture
                        </a>
                </div>
                <div class ="col-md-2">
                    <a ng-click = "changeClass('specifiedSubstanceG1');" ng-href = "app/substance/{{editid}}/edit">
                    <img ng-src = "app/assets/ginas/images/g1ss.svg" alt ="Group 1 Specified Substance">Group 1 Specified Substance
                        </a>
                </div>
            </form>
        </div>
    </div>
</div>
