<div class="row info">
    <div class="row">
        <form-header type="Definition" parent="parent" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="definitionForm" role="form" id="addDefinitionForm" novalidate>
            <ng-form name="form">
                <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <gsrs-input type="text"
                                                ng-model="substance.specifiedSubstanceDetails.definition.definitionDesc"
                                                field="Definition"
                                                required="false"
                                                formname=form>
                                    </gsrs-input>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 pull-right">
                            <!-- <modal-form-button type="access"
                                               referenceobj="substance.specifiedSubstanceDetails.definition"
                                               parent="parent">
                            </modal-form-button> -->
                            <access-management obj-to-manage-access="substance.specifiedSubstanceDetails.definition">
                                </access-management>
                        </div>
                        <div class="col-md-1 pull-right">
                            <modal-form-button type="reference"
                                               referenceobj="substance.specifiedSubstanceDetails.definition"
                                               parent="substance"
                                               required = true
                                               formname=form>
                            </modal-form-button>
                        </div>
                    </div>

                </div>
            </ng-form>
        </form>
    </div>
</div>