<div class="row info">
    <div class="row">
        <form-header type="disulfideLinks" path ="protein.disulfideLinks" parent="parent" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <span>Number of unspecified Cysteine residues: {{getAllCysteinesWithoutLinkage()}}</span>

        <form class="form-horizontal" name="disulfideLinksForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-1">
                    <form-selector referenceobj="disulfideLink" parent="parent" field="protein"
                                   divid="disulfideLinksForm"
                                   type="site" residueregex='C' formtype="pair"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="disulfideLink" parent="parent" divid="disulfideLinksForm"
                                   type="access"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="disulfideLink" parent="parent" divid="disulfideLinksForm"
                                   type="reference"></form-selector>
                </div>
            </div>
            <div class="disulfideLinksForm"></div>
            <div class="row">
                <div class="col-md-1 pull-right">
                    <a ng-click="reset()" aria-label="Clear" tooltip="Clear"><i
                            class="fa fa-eraser fa-2x danger"></i></a>
                    <a ng-click="validate()" tooltip="Add"><i class="fa fa-floppy-o fa-2x success"></i></a>
                </div>
            </div>
        </form>


        <div ng-repeat="obj in parent.protein.disulfideLinks">
            <div class="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path="protein.disulfideLinks"></delete-button>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj="obj" parent=parent type="site" divid={{obj.$$hashKey}}
                                   mode="edit" formtype="pair"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="obj" parent="parent" type="access" divid={{obj.$$hashKey}}
                                   mode="edit"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="obj" parent="parent" type="reference" divid={{obj.$$hashKey}}
                                   mode="edit"></form-selector>
                </div>
            </div>
            <div class={{obj.$$hashKey}}></div>
        </div>
    </div>
</div>


