<div class="row info">
    <div class="row">
        <form-header type="disulfideLinks" path ="protein.disulfideLinks" parent="parent" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <span><strong>Select exactly two sites for each link</strong></span><br>
        <span>Number of unspecified Cysteine residues: {{cysteines.length}}</span>
        <form class="form-horizontal" name="disulfideLinksForm" id="addDisulfideLinksForm" role="form" novalidate>
            <div ng-repeat="(index,obj) in parent.protein.disulfideLinks">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="protein.disulfideLinks"></delete-button>
                            </div>
                            <div class = "col-md-2">
                                <gsrs-input type="multi"
                                            ng-model="obj.sites"
                                            field="sites"
                                            values = cysteines
                                            change-function="clean(model)"
                                            max = 2
                                            enforce = true
                                            required="true"
                                            formname=form
                                            tag-remove="remove(model)">
                                </gsrs-input>
                            </div>
                                </div>

                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div ng-if="obj.created">
                                    <label>Created:</label> {{::obj.created | date: 'medium'}}
                                </div>
                                <div ng-if="obj.createdBy">
                                    <label>Created By:</label> {{::obj.createdBy}}
                                </div>
                                <div ng-if="obj.lastEdited">
                                    <label>Last Edited:</label> {{::obj.lastEdited | date: 'medium'}}
                                </div>
                                <div ng-if="obj.lastEditedBy">
                                    <label>Last Edited By:</label> {{::obj.lastEditedBy}}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-form>
                <hr>
            </div>
        </form>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addLink(disulfideLinksForm, 'protein.disulfideLinks')"><i
                class="fa fa-plus"></i> Add a<span
                ng-if="parent.protein.disulfideLinks.length>0">nother</span> link
        </button>
    </div>
</div>
