<div class = "row info">
    <div class="row">
        <form-header type="Details" parent="parent" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="diverseDetailsForm" id="addDiverseDetailsForm" role="form" novalidate>
        <div class="row form-row">
            <div class="col-md-3">
                <dropdown-view-edit obj = "parent.structurallyDiverse" field="infraSpecificType" cv = "INFRA_SPECIFIC_TYPE" label="Infra Specific Type"></dropdown-view-edit>
            </div>
            <div class="col-md-3">
                <text-view-edit obj = "parent.structurallyDiverse" field="infraSpecificName" label="Infra Specific Name"></text-view-edit>
            </div>
        </div>
        <p></p>
    </form>
    </div>
</div>
