<div class = "row info">
    <button class="btn btn-primary label-offset det">
                        Details</button>
    <span><i class="fa fa-question-circle fa-lg"></i></span>
    <div class="col-md-12">
        <div class="row form-row">
            <div class="col-md-2 err-check">
                <dropdown-view-edit obj = "substance.structurallyDiverse" field="infraSpecificType" cv = "INFRA_SPECIFIC_TYPE" label="Infra Specific Type"></dropdown-view-edit>
            </div>
            <div class="col-md-3 err-check">
                <text-view-edit obj = "substance.structurallyDiverse" field="infraSpecificName" label="Infra Specific Name"></text-view-edit>
            </div>
            <div class="col-md-2 err-check">
                <dropdown-view-edit obj = "substance.structurallyDiverse" field="developmentalStage" cv = "DEVELOPMENTAL_STAGE" label="Developmental Stage"></dropdown-view-edit>
            </div>
        </div>
        <p></p>
    </div>
</div>
