<div class="row info">
    <div class="row">
        <form-header type="sourceMaterial" parent="parent" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="diverseSourceForm" id="addDiverseSourceForm" role="form"
              novalidate>
            <div class="row form-row">
                <div class="col-md-3">
                    <gsrs-input type="dropdown"
                                ng-model="parent.structurallyDiverse.sourceMaterialClass"
                                field="sourceMaterialClass"
                                cv="SOURCE_MATERIAL_CLASS"
                                label="Source Material Class">
                    </gsrs-input>
                </div>
                <div class="col-md-3" ng-if="parent.structurallyDiverse.sourceMaterialClass.display=='ORGANISM'">
                    <gsrs-input type="dropdown"
                                ng-model="parent.structurallyDiverse.sourceMaterialType"
                                field="sourceMaterialType"
                                required="true"
                                cv="SOURCE_MATERIAL_TYPE"
                                label="Source Material Type">
                    </gsrs-input>
                </div>
                <div class="col-md-3" ng-if="parent.structurallyDiverse.sourceMaterialClass.display=='ORGANISM'">
                    <gsrs-input type="dropdown"
                                ng-model="parent.structurallyDiverse.sourceMaterialState"
                                field="sourceMaterialState"
                                cv="SOURCE_MATERIAL_STATE"
                                label="Source Material State"
                                formname=diverseSourceForm>
                    </gsrs-input>
                </div>
            </div>
        </form>
    </div>
</div>
