<div class="row info">
    <button class="btn btn-primary label-offset det">
        Source Type
    </button>
    <span><i class="fa fa-question-circle fa-lg"></i></span>

    <div class="col-md-12">
        <div class="row form-row">
            <form>
                <div  ng-class="parent.diverseType == 'whole' ? 'col-md-2' : 'col-md-2'">
                    <input type="radio" ng-model="parent.diverseType" value="whole"  ng-click = "checkType()">
                    <i ng-class="parent.diverseType == 'whole' ? 'fa fa-star fa-2x whole' : 'fa fa-star fa-2x' " ></i><br>Whole
                </div>
                <div  ng-class="parent.diverseType == 'part' ? 'col-md-2' : 'col-md-2'">
                    <input type="radio" ng-model="parent.diverseType" value="part" ng-class="part" ng-click = "checkType()">
                    <i ng-class="parent.diverseType == 'part' ? 'fa fa-star-half-o fa-2x part' : 'fa fa-star-half-o fa-2x'"></i><br>Part/Fraction
                </div>
            </form>
        </div>
    </div>
</div>
