<div class="row info">
    <div class="row">
        <form-header type="organismDetails" parent="parent" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="diverseOrganismForm" id="addDiverseOrganismForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-3">
                    <gsrs-input type="text"
                                ng-model="parent.structurallyDiverse.organismFamily"
                                field="organismFamily"
                                label="Organism Family"
                                required="true">
                    </gsrs-input>
                </div>
                <div class="col-md-3">
                    <gsrs-input type="text"
                                ng-model="parent.structurallyDiverse.organismGenus"
                                field="organismGenus"
                                label="Organism Genus">
                    </gsrs-input>
                </div>
                <div class="col-md-3">
                    <gsrs-input type="text"
                                ng-model="parent.structurallyDiverse.organismSpecies"
                                label="Organism Species"
                                field="organismSpecies">
                    </gsrs-input>
                </div>
                <div class="col-md-3">
                    <gsrs-input type="text"
                                ng-model="parent.structurallyDiverse.organismAuthor"
                                field="organismAuthor"
                                label="Organism Author">
                    </gsrs-input>
                </div>
                <div class="col-md-3" ng-if="parent.structurallyDiverse.sourceMaterialClass.value =='ORGANISM'">
                    <gsrs-input type="dropdown"
                                ng-model="parent.structurallyDiverse.developmentalStage"
                                field="developmentalStage"
                                cv="DEVELOPMENTAL_STAGE"
                                label="Developmental Stage">
                    </gsrs-input>
                </div>
            </div>
            
            <div class="row form-row">
                <div class="col-md-3">
                    <gsrs-input type="dropdown"
                                ng-model="parent.structurallyDiverse.infraSpecificType"
                                field="infraSpecificType"
                                cv="INFRA_SPECIFIC_TYPE"
                                label="Infraspecific Type">
                    </gsrs-input>
                </div>
                <div class="col-md-3">
                    <gsrs-input type="text"
                                ng-model="parent.structurallyDiverse.infraSpecificName"
                                field="infraSpecificName"
                                label="Infraspecific Name">
                    </gsrs-input>
                </div>
                
            </div>
            <p></p>
        </form>
    </div>
</div>
