<div class="row info">
    <div class="row">
        <form-header type="glycosylation" parent="parent" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="glycosylationForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-3">
                    <dropdown-view-edit obj="parent.protein.glycosylation" field="glycosylationType"
                                        cv="GLYCOSYLATION_TYPE"
                                        label="Glycosylation Type"></dropdown-view-edit>
                </div>

                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="parent.protein.glycosylation" parent="parent" type="access"
                                   divid="glycosylationForm"
                                   mode="edit"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="parent.protein.glycosylation" parent="parent" type="reference"
                                   divid="glycosylationForm"
                                   mode="edit"></form-selector>
                </div>
            </div>
            </form>

            <div class="row form-row">
                <div ng-repeat="obj in arrays">
                    <div class="col-md-2">
                        <form-selector referenceobj="obj" parent=parent type="site" divid="glycosylationForm"
                                       mode="edit"></form-selector>
                    </div>
                </div>
            </div>
            <br>

            <div class="glycosylationForm"></div>
    </div>
</div>