<div class="row info">
    <div class="col-md-12">
        <form class="form-horizontal" name="headerForm" id="addHeaderForm" role="form" novalidate>
            <div class="row form-row">
                <h1><span>{{::formType}}</span> <code>{{::name}}</code></h1>
            </div>
            <div class="row form-row">
                <div class="col-md-3">
                    <gsrs-input type="dropdown"
                                ng-model="parent.definitionType"
                                field="definitionType"
                                label="Definition Type"
                                cv="DEFINITION_TYPE"
                                ng-blur="$parent.clear();"
                                formname=form>
                    </gsrs-input>
                </div>
                <div class="col-md-4" ng-if="parent.definitionType.display=='Alternative'">
                    <substance-chooser-selector referenceobj="parent" field="$$relatedSubstance" name="relatedSubstance"
                                                formname="headerForm" label="Primary Substance" type="search"
                                                definition="true"></substance-chooser-selector>
                </div>
                <div class="col-md-2">
                    <gsrs-input type="dropdown"
                                ng-model="parent.definitionLevel"
                                field="definitionLevel"
                                label="Definition Level"
                                cv="DEFINITION_LEVEL"
                                ng-blur="$parent.clear()"
                                formname=form>
                    </gsrs-input>
                </div>
                <div class="col-md-1 pull-right">
                    <modal-form-button type="access"
                                       referenceobj="parent"
                                       parent="parent">
                    </modal-form-button>
                </div>
                <div class="col-md-2 pull-right text-center" ng-if="parent.substanceClass!='concept'">
                    <modal-form-button type="reference"
                                       label="Definition Reference"
                                       parent="parent">
                    </modal-form-button>
                </div>
            </div>
            <div>Deprecated: <input type="checkbox" ng-model="parent.deprecated"> </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <span ng-if="parent.createdBy">
                  <label>Created By:</label> {{::parent.createdBy}}
                </span>
                <span ng-if="parent.created">
                  <label>On:</label> {{::parent.created | date: 'medium'}}
                </span>
                <span ng-if="parent.lastEditedBy">
                  <label> - Last Edited By:</label> {{::parent.lastEditedBy}}
                </span>
                <span ng-if="parent.lastEdited">
                  <label>On:</label> {{::parent.lastEdited | date: 'medium'}}
                </span>
              </div>
            </div>
            <div class="headerForm"></div>
        </form>
    </div>
</div>
