<div class="row info">
    <div class="col-md-12">
        <form class="form-horizontal" name="headerForm" role="form" novalidate>
            <div class="row form-row">
                <h1> {{formType}} <code> {{name}}</code></h1>
</div>
            <div class="row form-row">

            <div class="col-md-1 pull-right">
                    <form-selector referenceobj="parent" parent="parent" divid="headerForm"
                                   type="access"></form-selector>
                </div>
<!--                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="parent" parent="parent" divid="headerForm"
                                   type="reference"></form-selector>
                </div>-->
                </div>
            <div class="headerForm"></div>
        </form>
    </div>
</div>
