<div class="row info">
    <div class="row">
        <form-header type="Impurities" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="impuritiesForm" role="form" id="addImpOrganicForm" novalidate>

                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="assay"></delete-button>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-4">
                                        <gsrs-input type="text"
                                                    ng-model="obj.impuritySubstance"
                                                    field="Substance Name"
                                                    required="false"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-4">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.identifyCharType"
                                                    field="Identifying Characteristic Type"
                                                    cv=""
                                                    max="1"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-4">
                                        <gsrs-input type="text"
                                                    ng-model="obj.charValue"
                                                    field="Characteristic Value"
                                                    required="false"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1 pull-right">
                                <modal-form-button type="access"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                            <div class="col-md-1 pull-right">
                                <modal-form-button type="reference"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                        </div>

                        <!-- Second Row -->
                        <div class="row">
                            <div class="col-md-1 text-center">
                                &nbsp;
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-4">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.impurityType"
                                                    field="Impurity Type"
                                                    cv=""
                                                    max="1"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-4">
                                        <gsrs-input type="text"
                                                    ng-model="obj.nonNumericValue"
                                                    field="Non-Numeric Value"
                                                    required="false"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-4">
                                        <gsrs-input type="text"
                                                    ng-model="obj.identifyingDescription"
                                                    field="Identifying Description"
                                                    required="false"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Third Row -->
                        <div class="row">
                            <div class="col-md-1 text-center">
                                &nbsp;
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6">
                                        <gsrs-input type="text"
                                                    ng-model="obj.descriptionText"
                                                    field="Description Text"
                                                    required="false"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-6">
                                        <gsrs-input type="text"
                                                    ng-model="obj.source"
                                                    field="Source"
                                                    required="false"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Fourth Row -->
                        <div class="row">
                            <div class="col-md-1 text-center">
                                &nbsp;
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-4">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.acceptanceCriteriaType"
                                                    field="Acceptance Criteria Type"
                                                    cv=""
                                                    max="1"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-4">
                                        <gsrs-input type="text"
                                                    ng-model="obj.acceptanceCriteria"
                                                    field="Acceptance Criteria"
                                                    required="false"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-4">
                                        <gsrs-input type="text"
                                                    ng-model="obj.acceptanceCriteriaValues"
                                                    field="Acceptance Criteria Values"
                                                    required="false"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- Fourth row -->


                    </div>
                    <hr>
                </ng-form>

        </form>
    </div>
</div>