<div class="row info">
    <div class="row">
        <form-header type="components" path="mixture.components" parent="parent"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="componentForm" role="form" id="addComponentForm" novalidate>
            <div ng-repeat="(index,obj) in parent.mixture.components">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="mixture.components"></delete-button>
                            </div>
                            <div class="col-md-3">
                                <substance-chooser-selector referenceobj="obj"
                                                            field="substance"
                                                            name="substance"
                                                            formname="componentForm"
                                                            label="Component Substance"
                                                            type="search">
                                </substance-chooser-selector>
                            </div>
                            <div class="col-md-3">
                                <gsrs-input type="dropdown"
                                            ng-model="obj.type"
                                            field="type"
                                            cv="MIXTURE_TYPE"
                                            required = "true"
                                            formname=form>
                                </gsrs-input>
                            </div>
                        </div>
                    </div>
                    <hr>
                </ng-form>
            </div>
            <div class = "componentForm"></div>
        </form>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(componentForm, 'mixture.components')"><i
                class="fa fa-plus"></i> Add a<span
                ng-if="parent.components.length>0">nother</span> component
        </button>
    </div>
</div>
