<div class = "row info" >
    <div class="row">
        <form-header type="components" path= "mixture.components" parent="parent"></form-header>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" name="componentForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-3">
                    <substance-chooser-selector ng-model ="component.substance" field ="substance" name ="substance" formname ="componentForm" label ="Component Substance" type = "search"></substance-chooser-selector>
                </div>
                <div class="col-md-3">
                    <dropdown-select ng-model="component.type" field="type" cv = "MIXTURE_TYPE" ></dropdown-select>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="component" parent = "parent" divid="componentForm" type = "access"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="component" parent = "parent" divid="componentForm" type = "reference"></form-selector>
                </div>
            </div>
            <div class="componentForm"></div>
            <submit-buttons submit="component" form="componentForm" path="mixture.components"></submit-buttons>
        </form>

        <div ng-repeat="obj in parent.mixture.components" >
            <div class ="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path="relationships"></delete-button>
                </div>
                <div class="col-md-2">
                    <substance-chooser-view-edit obj = "obj" field ="substance"></substance-chooser-view-edit>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj = "obj" field="type" cv = "MIXTURE_TYPE" ></dropdown-view-edit>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="obj" parent = "parent" formname="componentForm" type = "access" divid={{obj.$$hashKey}} mode="edit"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="obj" parent = "parent" formname="componentForm" type = "reference" divid={{obj.$$hashKey}} mode="edit"></form-selector>
                </div>
            </div>
            <div class = {{obj.$$hashKey}}></div>
        </div>
    </div>
</div>
