<div class = "row info">
    <div class="row">
        <form-header type="moieties" name="moietyForm" id ="addMoietyForm" parent="parent"></form-header>
    </div>
        <div class="col-md-12">
            <div ng-repeat="(index, obj) in parent.moieties track by $index">
                <div class ="row">
                    <hr>
                    <div class="col-md-2">
                        <label>Moiety Structure</label>
                        <rendered id= {{obj.id}}></rendered>
                    </div>
                    <div class = "col-md-10">
                        <div class ="row">
                    <div class="col-md-1">
<!--
                        <label for="count">Count</label>
-->
<!--
                        <form-selector referenceobj=obj field="countAmount" label = "Count Amount" divid="{{obj.$$hashKey}}" type="amount"></form-selector>
-->
                        <span class="badge badge-primary" id = "count">{{obj.countAmount.average || obj.count}}</span>
                    </div>
                            <div class="col-md-3 text-center">
                                <text-view-edit obj = "obj" field = "formula" id = "formula"></text-view-edit>
                            </div>
                    <div class="col-md-2">
                        <dropdown-view-edit obj= "obj" field = "stereochemistry" label="Stereochemistry" cv = "STEREOCHEMISTRY_TYPE"></dropdown-view-edit>
                    </div>
                    <div class="col-md-2">

                        <dropdown-view-edit obj= "obj" field = "opticalActivity" label ="Optical Activity" cv = "OPTICAL_ACTIVITY"></dropdown-view-edit>
                    </div>
                    <div class="col-md-3">
                        <dropdown-view-edit obj= "obj" field = "atropisomerism" label="Additional Stereochemistry" cv = "ATROPISOMERISM"></dropdown-view-edit>
                    </div>
                    </div>
                        <br>
                        <div class = "row">
                    <div class="col-md-2">
                        <label for="mwt">Molecular Weight</label>
                        <span id ="mwt">{{obj.mwt}}</span></div>
                    <div class="col-md-2">
                        <label for="stereo">Defined Stereocenters</label>
                        <span id = "stereo" class="badge">{{obj.definedStereo}} / {{obj.stereoCenters}}</span></div>
                    <div class="col-md-2">
                        <label for="ez">EZ Centers</label><br>
                        <span id ="ez" class="badge">{{obj.ezCenters}}</span></div>
                    <div class="col-md-2">
                        <label for="charge">Moiety Charge</label><br>
                        <span id ="charge" class="badge">{{obj.charge}}</span>
                    </div>
                            <div class="col-md-2">
                                <form-selector referenceobj= "obj" formname="moietyForm" field ="stereoComments" label="Stereo Comments" parent = parent type = "textbox" divid=moiety-{{index}} mode="edit" id = "comments"></form-selector>
                            </div>
                            </div>
                        </div>
                </div>
                <div class = moiety-{{index}}></div>
            </div>
        </div>

</div>