<div class="row info">
    <div class="row">
        <form-header type="moieties" parent="parent" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="moietyForm" role="form" id="addMoietyForm" novalidate>
            <div ng-repeat="(index,obj) in parent.moieties">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Moiety Structure</label>
                                <rendered id="{{obj.id}}"></rendered>
                                <br>
                                <modal-form-button type="amount"
                                                   field="countAmount"
                                                   referenceobj = "obj"
                                                   label ="Count Amount"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-3">
                                        <gsrs-input type="text"
                                                    ng-model="obj.formula"
                                                    field="formula"
                                                    required="true"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-2">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.stereochemistry"
                                                    field="stereochemistry"
                                                    cv="STEREOCHEMISTRY_TYPE"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-2">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.opticalActivity"
                                                    field="opticalActivity"
                                                    label="Optical Activity"
                                                    cv="OPTICAL_ACTIVITY"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-3">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.atropisomerism"
                                                    field="atropisomerism"
                                                    cv="ATROPISOMERISM"
                                                    label="Additional Stereochemistry"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="mwt">Molecular Weight</label><br>
                                        <span id="mwt">{{obj.mwt}}</span></div>
                                    <div class="col-md-2">
                                        <label for="stereo">Defined Stereocenters</label>
                                        <span id="stereo"
                                              class="badge">{{obj.definedStereo}} / {{obj.stereoCenters}}</span>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="ez">EZ Centers</label><br>
                                        <span id="ez" class="badge">{{obj.ezCenters}}</span></div>
                                    <div class="col-md-2">
                                        <label for="charge">Moiety Charge</label><br>
                                        <span id="charge" class="badge"><span ng-if="obj.charge>0">+</span>{{obj.charge}}</span>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <gsrs-input type="text-box"
                                                    ng-model="obj.stereoComments"
                                                    field="stereoComments"
                                                    label="Stereo Comments"
                                                    rows=2
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
    </div>
</div>