<div class = "row info">
    <div class="row">
        <form-header type="names" parent="parent" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <ng-form name="nameForm" id = "add-name" novalidate isolate-form>
            <div class="row form-row">
                <div class="col-md-4" >
                     <text-input ng-model="name.name" field="name" name ="name" id ="name" form="nameForm" validate="true"></text-input>
                    <ng-messages for="nameForm.name.$error" ng-if="nameForm.name.$touched">
                        <ng-message when="duplicate" class="help-block">Name already exists in Ginas</ng-message>
                        <ng-message when="required" class="help-block">parent name is required</ng-message>
                    </ng-messages>
                    </div>

                <div class="col-md-2 ">
                    <dropdown-select ng-model="name.type" field="type" cv = "NAME_TYPE" name = "type"></dropdown-select>
                </div>
                <div class="col-md-2">
                    <multi-select ng-model="name.languages" field="languages" cv = "LANGUAGE"></multi-select>
                </div>
                <div class="col-md-1">
                    <check-box ng-model="name.display" field="displayName" label="Display"></check-box>
                </div>
                <div class="col-md-1">
                    <check-box ng-model="name.preferred" field="preferred" ></check-box>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj= "name" parent = "parent" divid="nameForm" type = "access"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj= "name" parent = "parent" divid="nameForm" type = "reference" required></form-selector>
                </div>
            </div>
            <div class="row form-row">
                <div class = "col-md-2">
                    <resolve-button name="name.name" parent = "parent" divid="nameForm"></resolve-button>
                </div>
                <div ng-if="name.type.value=='of'">
                <div class="col-md-2">
                </div>
                <div class="col-md-2 err-check">
                    <multi-select ng-model="name.domains" field="domains" cv = "NAME_DOMAIN" ></multi-select>
                </div>
                <div class="col-md-2 err-check">
                    <multi-select ng-model="name.nameOrgs" field="nameOrgs" cv = "NAME_ORG"></multi-select>
                </div>
                <div class="col-md-2 err-check">
                    <multi-select ng-model="name.nameJurisdiction" field="nameJurisdiction" cv = "JURISDICTION" ></multi-select>
                </div>
                </div>
            </div>
            <div class="nameForm"></div>
            <submit-buttons submit="name" form="nameForm" path="names"></submit-buttons>
        </ng-form>


        <div ng-repeat="obj in parent.names">
            <div class ="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path="names"></delete-button>
                </div>
                <div class="col-md-3">
                    <text-view-edit obj = "obj" field = "name"></text-view-edit>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj= "obj" field = "type" cv = "NAME_TYPE"></dropdown-view-edit>
                </div>
                <div class="col-md-2">
                    <multi-view-edit obj= "obj" field = "languages" cv = "LANGUAGE"></multi-view-edit>
                </div>
                <div class="col-md-1">
                    <check-box-view-edit obj = "obj" field="displayName" label="Display"></check-box-view-edit>
                </div>
                <div class="col-md-1">
                    <check-box-view-edit obj = "obj" field="preferred" ></check-box-view-edit>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="obj" parent = "parent" type = "access" divid={{obj.$$hashKey}} mode="edit"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="obj" parent = "parent" type = "reference" divid={{obj.$$hashKey}} mode="edit"></form-selector>
                </div>
                </div>
                <div class="row form-row">
                    <div ng-show="obj.type.value=='of'">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-2 err-check">
                            <multi-view-edit obj= "obj" field = "domains" cv = "NAME_DOMAIN"></multi-view-edit>
                        </div>
                        <div class="col-md-2 err-check">
                            <multi-view-edit obj= "obj" field = "nameOrgs" cv = "NAME_ORG" label = "Name Org"></multi-view-edit>
                        </div>
                        <div class="col-md-2 err-check">
                            <multi-view-edit obj= "obj" field = "nameJurisdiction" cv = "JURISDICTION" label ="Jurisdiction"></multi-view-edit>
                        </div>
                    </div>
                </div>
            <div class = {{obj.$$hashKey}}></div>
        </div>
    </div>
</div>

