<div class="row">
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="nameOrgForm" role="form" id="addNameOrgForm" novalidate>
            <div ng-repeat="(index,obj) in parent.nameOrgs">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="nameOrgs"></delete-button>
                            </div>
                            <div class="col-md-2">
                                <gsrs-input type="dropdown"
                                            ng-model="obj.nameOrg"
                                            field="nameOrg"
                                            cv="NAME_ORG"
                                            required="true"
                                            label="Naming Organization"
                                            formname=form>
                                </gsrs-input>
                            </div>
                            <div class="col-md-1">
                                <check-box ng-model="obj.deprecated" field="deprecated"></check-box>
                            </div>
                            <div class="col-md-2" ng-if="obj.deprecated">
                                <date-picker ng-model="obj.deprecatedDate" field="deprecatedDate"></date-picker>
                            </div>
                        </div>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(nameOrgForm, 'nameOrgs')"><i class="fa fa-plus"></i> Add a<span
                ng-if="parent.nameOrgs.length>0">nother</span> naming org
        </button>
    </div>
</div>
