<div class="row info">
    <div class="row">
        <form-header class="col-md-2" type="names" parent="parent" iscollapsed="iscollapsed"></form-header>
        <button class="btn btn-primary pull-left" ng-click="addNew(nameForm, 'names', null, true); iscollapsed=false" style="margin-top: 18px;">
            <i class="fa fa-plus"></i> Add name</button>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">

        <form class="form-horizontal" name="nameForm" role="form" id="addNameForm" novalidate>
            <div ng-repeat="(index,obj) in parent.names">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="names"></delete-button>
                            </div>
                <div class="col-md-8">
                    <div class="row">
                <div class="col-md-9">
                            <gsrs-input type="text"
                                    ng-model="obj.name"
                                    field="name"
                                    required="true"
                                    formname=form>
                            </gsrs-input>
                        </div>
                            <div class="col-md-3">
                                <gsrs-input type="dropdown"
                                            ng-model="obj.type"
                                            field="type"
                                            cv="NAME_TYPE"
                                        required="true"
                                        formname=form>
                            </gsrs-input>
                            </div>
                            <button class="btn btn-default" ng-click="duplicateCheck(obj.name)" ng-if="parent.substanceClass=='chemical'">Resolve Name</button>


                        </div>
                    <br>

                    <div class="row" ng-if="obj.$details">
                        <div class="col-md-3">
                            <gsrs-input type = "multi"
                                        ng-model= obj.languages
                                        field="languages"
                                        formname=form
                                        cv="LANGUAGE">
                            </gsrs-input>
                        </div>
                        <div class="col-md-1">
                            <check-box ng-model="obj.displayName" field="displayName" label="Display"></check-box>
                        </div>
                        <div class="col-md-1">
                            <check-box ng-model="obj.preferred" field="preferred" ></check-box>
                        </div>
                        <div ng-if="obj.type.value=='of'">
                            <div class="col-md-3">
                                <gsrs-input type = "multi"
                                            ng-model= obj.domains
                                            field="domains"
                                            required="true"
                                            cv="NAME_DOMAIN">
                                </gsrs-input>
                            </div>
                            <div class="col-md-2">
                                <modal-form-button type="nameorg"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                            <div class="col-md-3">
                                <gsrs-input type = "multi"
                                            ng-model= obj.nameJurisdiction
                                            field="nameJurisdiction"
                                            label = "Name Jurisdiction"
                                            cv="JURISDICTION">
                                </gsrs-input>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <span ng-if="obj.createdBy">
                                    <label>Created By:</label> {{::obj.createdBy}}
                                </span>
                                <span ng-if="obj.created">
                                    <label>On:</label> {{::obj.created | date: 'medium'}}
                                </span>

                                <span ng-if="obj.lastEditedBy">
                                    <label> - Last Edited By:</label> {{::obj.lastEditedBy}}
                                </span>
                                <span ng-if="obj.lastEdited">
                                    <label>On:</label> {{::obj.lastEdited | date: 'medium'}}
                                </span>

                            </div>
                        </div>
                    </div>
                </div>

                        <div class="col-md-1">
                            <modal-form-button type="reference"
                                               referenceobj="obj"
                                               parent="parent"
                                               required = true
                                               formname=form>
                            </modal-form-button>


                        </div>
                            <div class="col-md-1">
                                <modal-form-button type="access"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                            <div class="col-md-1">
                                    <button ng-click="obj.$details=!obj.$details">{{obj.$details?"Hide Details":"Show Details"}}</button>
                            </div>



                        </div>
                        <spinner name="nameSpinner"><loading></loading><br/></spinner>
                        <spinner name="drawSpinner"><loading></loading><br/>drawing</spinner>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
        <div class="nameForm" id = "name-bottom"></div>
        <button class="btn btn-primary" ng-if = "!iscollapsed" ng-click="addNew(nameForm, 'names')" ng-hide="parent.names.length<=3"><i class="fa fa-plus"></i> Add a<span
                ng-if="parent.names.length>0">nother</span> name
        </button>
    </div>
</div>
