<div class="row info">
    <div class="row">
        <form-header type="names" parent="parent" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="nameForm" role="form" id="addNameForm" novalidate>
            <div ng-repeat="(index,obj) in parent.names">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="names"></delete-button>
                            </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-7">
<!--                        <gsrs-input type="text"
                                    ng-model="obj.name"
                                    field="name"
                                    required="true"
                                    validator="duplicateCheck(model)"
                                    formname=form>
                        </gsrs-input>  -->
                            <gsrs-input type="text"
                                        ng-model="obj.name"
                                        field="name"
                                        required="true"
                                        formname=form>
                            </gsrs-input>
                            <br>
                            <button class="btn btn-default" ng-click="duplicateCheck(obj.name)" ng-if="parent.substanceClass=='chemical'">Resolve Name</button>
                        </div>
                        <div class="col-md-3">
                            <gsrs-input type = "multi"
                                        ng-model= obj.languages
                                        field="languages"
                                        formname=form
                                        cv="LANGUAGE">
                            </gsrs-input>
                        </div>
                        <div class="col-md-1">
                            <check-box ng-model="obj.displayName" field="displayName" label="Display"></check-box>
                        </div>
                        <div class="col-md-1">
                            <check-box ng-model="obj.preferred" field="preferred" ></check-box>
                        </div>
                        </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <gsrs-input type="dropdown"
                                        ng-model="obj.type"
                                        field="type"
                                        cv="NAME_TYPE"
                                        required="true"
                                        formname=form>
                            </gsrs-input>
                        </div>
                        <div ng-if="obj.type.value=='of'">
                            <div class="col-md-3">
                                <gsrs-input type = "multi"
                                            ng-model= obj.domains
                                            field="domains"
                                            required="true"
                                            cv="NAME_DOMAIN">
                                </gsrs-input>
                            </div>
                            <div class="col-md-2">
                                <modal-form-button type="nameorg"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                            <div class="col-md-3">
                                <gsrs-input type = "multi"
                                            ng-model= obj.nameJurisdiction
                                            field="nameJurisdiction"
                                            label = "Name Jurisdiction"
                                            cv="JURISDICTION">
                                </gsrs-input>
                            </div>
                        </div>

                    </div>
                </div>
                            <div class="col-md-1 pull-right">
                                <modal-form-button type="access"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                            <div class="col-md-1 pull-right">
                                <modal-form-button type="reference"
                                                   referenceobj="obj"
                                                   parent="parent"
                                                   required = true
                                                   formname=form>
                                </modal-form-button>
                            </div>
                            </div>
                        <spinner name="nameSpinner"><loading></loading><br/></spinner>
                        <spinner name="drawSpinner"><loading></loading><br/>drawing</spinner>
                        <div class = "row">

                        </div>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
        <div class="nameForm"></div>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(nameForm, 'names')"><i class="fa fa-plus"></i> Add a<span
                ng-if="parent.names.length>0">nother</span> name
        </button>
    </div>
</div>
