<div class="row info">
    <div class="row">
        <form-header type="notes" parent="parent" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="noteForm" role="form" id="addNoteForm" novalidate>
            <div ng-repeat="(index,obj) in parent.notes">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="notes"></delete-button>
                            </div>
                            <div class="col-md-9">
                                <gsrs-input type="text-box"
                                            ng-model="obj.note"
                                            field="note"
                                            formname=form
                                            required="true"
                                            rows = 7 >
                                </gsrs-input>
                            </div>
                            <div class="col-md-1 pull-right">
                                <modal-form-button type="access"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>

                            <div class="col-md-1 pull-right">
                                <modal-form-button type="reference"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                        </div>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(noteForm, 'notes')"><i class="fa fa-plus"></i> Add a<span
                ng-if="parent.notes.length>0">nother</span> note
        </button>
    </div>
</div>
