<div class="row info">
    <div class="row">
        <form-header type="notes" parent="parent" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <br>
        <button class="btn btn-primary" ng-if="!iscollapsed && parent.notes.length > 2" ng-click="addNew(noteForm, 'notes'); scrollTo('note-bottom')"><i class="fa fa-plus"></i> Add a<span
                ng-if="parent.notes.length>0">nother</span> note
        </button>
        <form class="form-horizontal" name="noteForm" role="form" id="addNoteForm" novalidate>
            <div ng-repeat="(index,obj) in parent.notes">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="notes"></delete-button>
                            </div>
                            <div class="col-md-9">
                                <gsrs-input type="text-box"
                                            ng-model="obj.note"
                                            field="note"
                                            formname=form
                                            required="true"
                                            rows = 7 >
                                </gsrs-input>
                            </div>
                            <div class="col-md-1 pull-right">
                                <access-management obj-to-manage-access="obj">
                                </access-management>
                            </div>

                            <div class="col-md-1 pull-right">
                                <modal-form-button type="reference"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <span ng-if="obj.createdBy">
                                    <label>Created By:</label> {{::obj.createdBy}}
                                </span>
                                <span ng-if="obj.created">
                                    <label>On:</label> {{::obj.created | date: 'medium'}}
                                </span>

                                <span ng-if="obj.lastEditedBy">
                                    <label> - Last Edited By:</label> {{::obj.lastEditedBy}}
                                </span>
                                <span ng-if="obj.lastEdited">
                                    <label>On:</label> {{::obj.lastEdited | date: 'medium'}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
        <div id ="note-bottom"></div>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(noteForm, 'notes')"><i class="fa fa-plus"></i> Add a<span
                ng-if="parent.notes.length>0">nother</span> note
        </button>
    </div>
</div>
