<div class = "row info">
    <div class="row">
        <form-header type="nucleicAcidClassification" parent="parent"></form-header>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" name="nucleicAcidClassificationForm" id="addNucleicAcidClassificationForm" role="form" novalidate>
        <div class="row form-row">
                <div class="col-md-2 err-check">
                    <dropdown-view-edit obj = "parent.nucleicAcid" field="nucleicAcidType" cv = "NUCLEIC_ACID_TYPE" label="Nucleic Acid Type"></dropdown-view-edit>
                </div>
                <div class="col-md-2 err-check">
                    <dropdown-view-edit obj = "parent.nucleicAcid" field="nucleicAcidSubType" cv = "NUCLEIC_ACID_SUBTYPE" label="Nucleic Acid Subtype"></dropdown-view-edit>
                </div>
                <div class="col-md-2 err-check">
                    <dropdown-view-edit obj = "parent.nucleicAcid" field="sequenceOrigin" cv = "NUCLEIC_ACID_SEQUENCE_ORIGIN" label="Sequence Origin"></dropdown-view-edit>
                </div>
                <div class="col-md-2 err-check">
                    <dropdown-view-edit obj = "parent.nucleicAcid" field="sequenceType" cv = "SEQUENCE_TYPE" label="Sequence Type"></dropdown-view-edit>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="parent.nucleicAcid" parent = "parent" divid="naDetailsForm" type = "access"></form-selector>
                </div>
            </div>
            <div class="naDetailsForm"></div>
            </form>
        </div>
    </div>

