<div class="row info">
    <div class="row">
        <form-header type="sugars" path="nucleicAcid.sugars" parent="parent"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="sugarForm" role="form" id="addSugarForm" novalidate>
            <span>Number of unspecified sugars: {{noSugars()}}</span>
            <div ng-repeat="(index,obj) in parent.nucleicAcid.sugars">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="nucleicAcid.sugars"></delete-button>
                            </div>
                            <div class="col-md-3">
                                <gsrs-input type="dropdown"
                                            ng-model="obj.sugar"
                                            field="sugar"
                                            cv="NUCLEIC_ACID_SUGAR">
                                </gsrs-input>
                            </div>

                            <div class="col-md-1">
                                <modal-form-button type="sites"
                                                   referenceobj="obj"
                                                   field="sites"
                                                   parent="parent"
                                                   formtype="site">
                                                  
                                </modal-form-button>
                                <small class="error" ng-show="sugarForm.sugarsites.$error.siteInvalid">
                                    {{sugarForm.sugarsites.$errorMsg.naSites}}
                                </small>
                            </div>
                            <div class="col-md-3">
                                <label for="apply">Apply to Remaining Sites</label>
                                <br>
                                <a ng-click="applyAll(obj);" name="apply" aria-label="Apply to all remaining sites"
                                   uib-tooltip="Apply to all remaining sites"><i class="fa fa-clone fa-2x success"></i></a>
                            </div>
                            <div class="col-md-2">
                                <label for="num">Number of Sites</label>
                                <div id="num">{{obj.sites.length}} of {{getAllSites()}}</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(sugarForm, 'nucleicAcid.sugars')"><i class="fa fa-plus"></i> Add a<span
                ng-if="parent.nucleicAcid.sugars.length>0">nother</span> sugar
        </button>
    </div>
</div>
