<div class = "row info">
    <div class="row">
        <form-header type="linkages" path = "nucleicAcid.linkages" parent="parent"></form-header>
    </div>
    <div class="col-md-12">
        <ng-form class="form-horizontal" name="linkageForm" novalidate>
            <span>Number of unspecified linkages: {{noLinkages}}</span>
            <div class="row form-row">
                <div class="col-md-2">
                    <dropdown-select ng-model="linkage.linkage" field="linkage"
                                     cv="NUCLEIC_ACID_LINKAGE"></dropdown-select>
                </div>
                                <div class="col-md-1">
                    <form-selector referenceobj= linkage parent="parent" field ="sites" divid="linkageForm"
                                   type="site"></form-selector>
                                    <small class="error" ng-show="linkageForm.linkagesites.$error.siteInvalid">{{linkageForm.linkagesites.$errorMsg.naSites}}</small>
                </div>
                <div class="col-md-3">
                    <label for= "apply">Apply to Remaining Sites</label>
                    <br>
                    <a ng-click="applyAll();" name= "apply" aria-label="Apply to all remaining sites" tooltip="Apply to all remaining sites"><i class="fa fa-clone fa-2x success"></i></a>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="linkage" parent="parent" divid="linkageForm"
                                   type="access"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="linkage" parent="parent" divid="linkageForm"
                                   type="reference"></form-selector>
                </div>
            </div>
            <div class="linkageForm"></div>
            <submit-buttons submit="linkage" form="linkageForm" path="linkages"></submit-buttons>
        </ng-form>


        <div ng-repeat="obj in parent.nucleicAcid.linkages">
            <div class="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path="nucleicAcid.linkages"></delete-button>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj="obj" field="linkage"
                                        cv="NUCLEIC_ACID_LINKAGE"
                                        label="linkage"></dropdown-view-edit>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj="obj" parent="parent" field = "sites" type="site" divid={{obj.$$hashKey}}
                                   mode="edit"></form-selector>
                </div>
                <div class="col-md-2">
                    <label for= "num">Number of Sites</label>
                    <div id = "num">{{obj.sites.length}} of {{getAllSites()}}</div>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="obj" parent="parent" type="access" divid={{obj.$$hashKey}}
                                   mode="edit"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="obj" parent="parent" type="reference" divid={{obj.$$hashKey}}
                                   mode="edit"></form-selector>
                </div>
            </div>
            <div class={{obj.$$hashKey}}></div>
        </div>
    </div>
</div>
