<div class = "row info">
    <button class="btn btn-primary label-offset det">
                       Official Names&nbsp;<span class="badge" ng-show="substance.officialNames.length>0">
                        {{substance.officialNames.length}}</span> </button>

    <div class="col-md-12">
        <form class="form-horizontal" name="officialNameForm" id = "add-name" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-2 err-check">
                    <text-input ng-model="officialname.name" field="name" required></text-input>
                </div>
                <div class="col-md-1 err-check">
                    <multi-select ng-model="officialname.domains" field="domains" cv = "NAME_DOMAIN" ></multi-select>
                </div>
                <div class="col-md-1 err-check">
                    <multi-select ng-model="officialname.nameOrgs" field="nameOrgs" cv = "NAME_ORG"></multi-select>
                </div>
                <div class="col-md-2 err-check">
                    <multi-select ng-model="officialname.jurisdiction" field="nameJurisdiction" cv = "JURISDICTION" ></multi-select>
                </div>
                <div class="col-md-2 err-check">
                    <multi-select ng-model="officialname.languages" field="languages" cv = "LANGUAGE"></multi-select>
                </div>
                <div class="col-md-1">
                    <check-box ng-model="officialname.display" field="display" ></check-box>
                </div>
                <div class="col-md-1">
                    <check-box ng-model="officialname.preferred" field="preferred" ></check-box>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="officialname" parent = "substance" divid="officialNameForm" type = "access"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="officialname" parent = "substance" divid="officialNameForm" type = "reference"></form-selector>
                </div>
            </div>
            <div class="officialNameForm"></div>
            <submit-buttons submit="officialname" form="officialNameForm" path="officialNames"></submit-buttons>
        </form>

        <div ng-repeat="obj in substance.officialNames">
            <div class="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path="officialNames"></delete-button>
                </div>
                <div class="col-md-2">
                    <text-view-edit obj = "obj" field="name" required></text-view-edit>
                </div>
                <div class="col-md-1">
                    <multi-view-edit obj = "obj" field="domains" cv = "NAME_DOMAIN" ></multi-view-edit>
                </div>
                <div class="col-md-1">
                    <multi-view-edit obj = "obj" field="nameOrgs" cv = "NAME_ORG" ></multi-view-edit>
                </div>
                <div class="col-md-1">
                    <multi-view-edit obj = "obj" field="nameJurisdiction" cv = "JURISDICTION" ></multi-view-edit>
                </div>
                <div class="col-md-2">
                    <multi-view-edit obj = "obj" field="languages" cv = "LANGUAGE" ></multi-view-edit>
                </div>
                <div class="col-md-1">
                    <check-box-view-edit obj = "obj" field="display" ></check-box-view-edit>
                </div>
                <div class="col-md-1">
                    <check-box-view-edit obj = "obj" field="preferred" ></check-box-view-edit>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="obj" parent = "substance" type = "access" divid={{obj.$$hashKey}} mode="edit"></form-selector>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj ="obj" parent = "substance" type = "reference" divid={{obj.$$hashKey}} mode="edit"></form-selector>
                </div>
            </div>
            <div class = {{obj.$$hashKey}}></div>
        </div>
    </div>
</div>