<div class="row info">
    <div class="row">
        <form-header type="otherLinks" parent="parent" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="otherLinksForm" id="addOtherLinksForm" role="form" novalidate>
            <div ng-repeat="(index,obj) in parent.protein.otherLinks">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="protein.otherLinks"></delete-button>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.linkageType"
                                                    field="linkageType"
                                                    cv="OTHER_LINKAGE_TYPE"
                                                    label="Linkage Type"
                                                    required="true"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-3">
                                        <modal-form-button type="sites"
                                                           referenceobj="obj"
                                                           parent="parent"
                                                           field="sites"
                                                           formtype="site">
                                        </modal-form-button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div ng-if="obj.created">
                                    <label>Created:</label> {{::obj.created | date: 'medium'}}
                                </div>
                                <div ng-if="obj.createdBy">
                                    <label>Created By:</label> {{::obj.createdBy}}
                                </div>
                                <div ng-if="obj.lastEdited">
                                    <label>Last Edited:</label> {{::obj.lastEdited | date: 'medium'}}
                                </div>
                                <div ng-if="obj.lastEditedBy">
                                    <label>Last Edited By:</label> {{::obj.lastEditedBy}}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-form>
                <hr>
            </div>
        </form>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(otherLinksForm, 'protein.otherLinks')"><i
                class="fa fa-plus"></i> Add a<span
                ng-if="parent.protein.otherLinks.length>0">nother</span> link
        </button>
    </div>
</div>
