<div class="row">
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="parameterForm" id="addParameterForm" role="form" novalidate>
            <div ng-repeat="(index,obj) in parent.parameters">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="parameters"></delete-button>
                            </div>
                            <div class="col-md-4">
                                <gsrs-input type="text"
                                            ng-model=obj.name
                                            field="name">
                                </gsrs-input>
                            </div>
                            <div class="col-md-3">
                                <gsrs-input type="dropdown"
                                            ng-model=obj.type
                                            field="type"
                                            cv="PROPERTY_TYPE">
                                </gsrs-input>
                            </div>
                            <div class="col-md-3">
                                <modal-form-button type="amount"
                                                   referenceobj="obj"
                                                   field="value"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                        </div>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
        <button class="btn btn-primary" ng-click="addNew(parameterForm, 'parameters')"><i class="fa fa-plus"></i> Add
            a<span
                    ng-if="parent.parameters.length>0">nother</span> parameter
        </button>
    </div>
</div>