<div class = "row info">
    <button class="btn btn-primary label-offset det">
                        Parts&nbsp;<span class="badge" ng-show="substance.structurallyDiverse.part.length>0">
                        {{substance.structurallyDiverse.part.length}}</span> </button>
    <span><i class="fa fa-question-circle fa-lg"></i></span>

    <div class="col-md-12">
            <div class="row form-row">
                <div class="col-md-3">
                    <dropdown-view-edit obj="substance.structurallyDiverse" field="partLocation" cv = "PART_LOCATION" label =" Part Location"></dropdown-view-edit>
                </div>
                <div class="col-md-4">
                    <multi-view-edit obj="substance.structurallyDiverse" field="part" cv = "PART" label = "Part"></multi-view-edit>
                </div>
            </div>
        <p></p>
    </div>
</div>
