<div class="row info">
    <div class="row">
        <form-header type="physicalModifications" path="modifications.physicalModifications" parent="parent"
                     iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="physicalModForm" id="addPhysicalModForm" role="form" novalidate>
            <div ng-repeat="(index, obj) in parent.modifications.physicalModifications">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="modifications.physicalModifications"></delete-button>
                            </div>
                            <div class="col-md-3">
                                <gsrs-input type="dropdown"
                                            ng-model="obj.physicalModificationRole"
                                            field="physicalModificationRole"
                                            cv="PHYSICAL_MODIFICATION_ROLE"
                                            label="Modification Role">
                                </gsrs-input>
                            </div>
                            <div class="col-md-2">
                                <modal-form-button type="parameter"
                                                   param="physical"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                            <div class="col-md-1">
                                <gsrs-input type="text"
                                            ng-model="obj.group"
                                            field="group">
                                </gsrs-input>
                            </div>
                        </div>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(physicalModForm, 'modifications.physicalModifications')"><i
                class="fa fa-plus"></i> Add
            a<span
                    ng-if="parent.modifications.physicalModifications.length>0">nother</span> modification
        </button>
    </div>
</div>