<div class="row">
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="physicalParameterForm" id="addPhysicalParameterForm" role="form" novalidate>
            <div ng-repeat="(index,obj) in parent.parameters">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <h1>{{param}}</h1>
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="parameters"></delete-button>
                            </div>
                            <div class="col-md-4">
                                <gsrs-input type="text"
                                            ng-model=obj.parameterName
                                            field="parameterName"
                                            label="Parameter Name">
                                </gsrs-input>
                            </div>
                            <div class="col-md-3">
                                <modal-form-button type="amount"
                                                   referenceobj="obj"
                                                   field="amount"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                        </div>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
        <button class="btn btn-primary" ng-click="addNew(physicalParameterForm, 'parameters')"><i class="fa fa-plus"></i> Add
            a<span
                    ng-if="parent.parameters.length>0">nother</span> parameter
        </button>
    </div>
</div>