<div class = "row info">
    <div class="row">
        <form-header type="physicalModifications" path ="modifications.physicalModification" parent="parent" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="physicalModForm" id="addPhysicalModForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-3">
                    <dropdown-select ng-model="physicalModification" field="physicalModificationRole" label="Modification Role" cv = "PHYSICAL_MODIFICATION_ROLE" ></dropdown-select>
                </div>
                <div class="col-md-2">
                    <form-selector referenceobj= "physicalModification" divid="physicalModForm" field = "physicalParameter" type = "physicalParameter"></form-selector>
                </div>
            </div>
            <div class="physicalModForm"></div>
            <submit-buttons submit="physicalModification" form="physicalModForm" path="modifications.physicalModifications"></submit-buttons>
        </form>

        <div ng-repeat="obj in parent.modifications.physicalModifications">
            <div class ="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path = "modifications.physicalModifications"></delete-button>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj = "obj" field="type" cv = "PHYSICAL_MODIFICATION_ROLE" ></dropdown-view-edit>
                </div>
                <div class="col-md-2">
                    <form-selector referenceobj= "obj" formname="physicalModForm" type = "physicalParameter" divid={{obj.$$hashKey}} field = "physicalParameter" mode="edit"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="obj" parent = "parent" formname="physicalModForm" type = "access" divid={{obj.$$hashKey}}"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="obj" parent = "parent" formname="physicalModForm" type = "reference" divid={{obj.$$hashKey}}></form-selector>
                </div>
            </div>
            <div class = {{obj.$$hashKey}}></div>
        </div>
    </div>
</div>
