<div class = "row info" >
    <div class="row">
        <form-header type="polymerClassification" parent="parent" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="polymerClassificationForm" id="addPolymerClassificationForm" role="form" novalidate>
        <div class="row form-row">
            <div class="col-md-2">
                <gsrs-input type="dropdown"
                            ng-model = "parent.polymer.classification.polymerClass"
                            field="polymerClass"
                            cv = "POLYMER_CLASS"
                            label="Polymer Class">
                </gsrs-input>
            </div>
            <div class="col-md-2">
                <gsrs-input type="multi"
                            ng-model = "parent.polymer.classification.polymerSubclass"
                            field="polymerSubclass"
                            cv = "POLYMER_SUBCLASS"
                            label="Polymer Subclass">
                    </gsrs-input>
            </div>
            <div class="col-md-2">
                <gsrs-input type="dropdown"
                            ng-model = "parent.polymer.classification.polymerGeometry"
                            field="polymerGeometry"
                            cv = "POLYMER_GEOMETRY"
                            label="Polymer Geometry">
                </gsrs-input>
            </div>
            <div class="col-md-2">
                <gsrs-input type="dropdown"
                            ng-model = "parent.polymer.classification.sourceType"
                            field="sourceType"
                            cv = "POLYMER_SOURCE_TYPE"
                            label="Polymer Source Type">
                </gsrs-input>
            </div>
            <div class="col-md-2">
                <substance-chooser-selector 
                        referenceobj ="parent.polymer.classification" 
                        field ="parentSubstance" 
                        name ="parentSubstance" 
                        formname ="polymerClassificationForm" 
                        label ="Parent Substance" 
                        type = "search">
                </substance-chooser-selector>
            </div>
            <div class="col-md-1 pull-right">
                <modal-form-button type="access"
                                   referenceobj="parent.polymer"
                                   parent="parent">
                </modal-form-button>
            </div>
        </div>
            </form>
    </div>
</div>
