<div class = "row info" >
    <div class="row">
        <form-header type="polymerClassification" parent="parent" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="polymerClassificationForm" id="addPolymerClassificationForm" role="form" novalidate>
        <div class="row form-row">
            <div class="col-md-2">
                <dropdown-view-edit obj = "parent.polymer.classification" field="polymerClass" cv = "POLYMER_CLASS" label="Polymer Class"></dropdown-view-edit>
            </div>
            <div class="col-md-2">
                <multi-view-edit obj = "parent.polymer.classification" field="polymerSubclass" cv = "POLYMER_SUBCLASS" label="Polymer Subclass"></multi-view-edit>
            </div>
            <div class="col-md-2">
                <dropdown-view-edit obj = "parent.polymer.classification" field="polymerGeometry" cv = "POLYMER_GEOMETRY" label="Polymer Geometry"></dropdown-view-edit>
            </div>
            <div class="col-md-2">
                <dropdown-view-edit obj = "parent.polymer.classification" field="sourceType" cv = "POLYMER_SOURCE_TYPE" label="Polymer Source Type"></dropdown-view-edit>
            </div>
            <div class="col-md-2">
                <substance-chooser-selector referenceobj ="parent.polymer.classification" field ="parentSubstance" name ="parentSubstance" formname ="polymerClassificationForm" label ="Parent Substance" type = "search"></substance-chooser-selector>
            </div>
            <div class="col-md-1 pull-right">
                <form-selector referenceobj ="parent.polymer" parent = "parent" divid="polymerClassificationForm" type = "access"></form-selector>
            </div>
            <div class="col-md-1 pull-right">
                <reference-modal-button referenceobj= "parent.polymer" parent = "parent"></reference-modal-button>
            </div>
        </div>
        <div class="polymerClassificationForm"></div>
            </form>
    </div>
</div>
