<div class = "row info" >
    <div class="row">
        <form-header type="structuralUnits" parent="parent" path = "polymer.monomers" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="sruForm" id="addSruForm" role="form" novalidate>
        <div ng-repeat="obj in parent.polymer.structuralUnits">
            <div class ="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path="structuralUnits"></delete-button>
                </div>
                <div class="col-md-2">
                    <rendered id = {{obj._structure.id}}></rendered>
                </div>
                <div class="col-md-2">
                        <text-view-edit obj="obj" field="label"></text-view-edit>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj = "obj" field="type" cv = "POLYMER_SRU_TYPE" label = "SRU Type"></dropdown-view-edit>
                </div>

                <div class="col-md-1">
                    <form-selector referenceobj= "obj" formname="unitForm" type = "amount" divid={{obj.$$hashKey}}></form-selector>
                </div>
                <div class="col-md-2">
                    <text-box-view-edit obj="obj" label="Connectivity" field="_displayConnectivity"></text-box-view-edit>
                </div>

            </div>
            <div class = {{obj.$$hashKey}}></div>
        </div>
            </form>
</div>
    </div>
