<div class="row info">
    <div class="row">
        <form-header type="monomersAndStartingMaterials" parent="parent" path = "polymer.monomers" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="monomerForm" id="addMonomerForm" role="form" novalidate>
            <div ng-repeat="(index,obj) in parent.polymer.monomers">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="polymer.monomers"></delete-button>
                            </div>
                            <div class="col-md-3">
                                <substance-chooser-selector referenceobj="obj"
                                                            field ="monomerSubstance"
                                                            name ="monomerSubstance"
                                                            formname ="monomerForm"
                                                            label ="Monomer Substance"
                                                            type="search">
                                </substance-chooser-selector>
                            </div>
                            <div class="col-md-3">
                                <gsrs-input type="dropdown"
                                            ng-model="obj.type"
                                            field="type"
                                            cv="MONOMER_TYPE"
                                            formname=form>
                                </gsrs-input>
                            </div>
                            <div class="col-md-3 text-center">
                                <modal-form-button type="amount"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                        </div>
                        <div class="monomerForm"></div>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(monomerForm, 'polymer.monomers')"><i
                class="fa fa-plus"></i> Add a<span
                ng-if="parent.monomers.length>0">nother</span> monomer
        </button>
    </div>
</div>
