<div class = "row info" >
    <div class="row">
        <h2>Monomers and Starting materials</h2>
        <form-header type="monomers" parent="parent" path = "polymer.monomers" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="monomerForm" id="addMonomerForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-3">
                    <substance-chooser-selector referenceobj ="component" field ="monomerSubstance" name ="monomerSubstance" formname ="monomerForm" label ="Monomer Substance" type = "search"></substance-chooser-selector>
                </div>
                <div class="col-md-3">
                    <dropdown-select ng-model="component.type" field="type" cv = "MONOMER_TYPE" ></dropdown-select>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj= "component" parent = "parent" divid="monomerForm" type = "amount"></form-selector>
                </div>
            </div>
            <div class="monomerForm"></div>
            <submit-buttons submit="component" form="monomerForm" path="polymer.monomers"></submit-buttons>
        </form>

        <div ng-repeat="obj in parent.polymer.monomers" >
            <div class ="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path="monomers"></delete-button>
                </div>
                <div class="col-md-3">
                    <substance-chooser-selector referenceobj ="obj" field ="monomerSubstance" name ="monomerSubstance" formname ={{obj.$$hashKey}} label ="Monomer Substance" type = "search"></substance-chooser-selector>
                </div>
                <div class="col-md-3">
                    <dropdown-view-edit obj = "obj" field="type" cv = "RELATIONSHIP_TYPE" ></dropdown-view-edit>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj= "obj" formname="monomerForm" type = "amount" divid={{obj.$$hashKey}}></form-selector>
                </div>
            </div>
            <div class = "{{obj.$$hashKey}}"></div>
        </div>
    </div>
</div>
