<div class="row info bordergraylight">

    <div class="row form-row2">
        <div class="col-md-4">
            <gsrs-input type="dropdown" ng-model="product.productType" field="Product Type" label="Product Type" cv="PROD_PRODUCT_TYPE" formname=formProd></gsrs-input>
        </div>
        <div class="col-md-4">
            <gsrs-input type="dropdown" ng-model="product.status" field="Status" label="Status" cv="PROD_STATUS" formname=formProd></gsrs-input>
        </div>
        <div class="col-md-4">
            <gsrs-input type="dropdown"  ng-model="product.publicDomain" field="Public Domain" label="Public Domain" cv="PUBLIC_DOMAIN" formname=formProd></gsrs-input>
        </div>
    </div>

    <div class="row form-row2">
        <div class="col-md-4">
            <gsrs-input type="text" ng-model="product.source" field="source" label="source" formname=formProd></gsrs-input>
        </div>

        <div class="col-md-4">
            <gsrs-input type="dropdown" ng-model="product.sourceType" field="SourceType" label="Source Type" cv="PROD_SOURCE_TYPE" formname=formProd></gsrs-input>
        </div>
        <div class="col-md-4">
            <gsrs-input type="dropdown"  ng-model="product.unitPresentation" field="unitPresentation" label="Unit of Presentation" cv="PROD_UNIT_PRESENTATION" formname=formProd></gsrs-input>
        </div>
    </div>

    <div class="row form-row2">
        <div class="col-md-4">
            <gsrs-input type="dropdown"  ng-model="product.routeAdmin" field="routeAdmin" label="Route of Administration" cv="PROD_ROUTE_OF_ADMIN" formname=formProd></gsrs-input>
        </div>
        <div class="col-md-4">
            <gsrs-input type="dropdown" ng-model="product.appType" field="appType" label="Application Type" cv="APPLICATION_TYPE" formname=formProd></gsrs-input>
        </div>
        <div class="col-md-4">
            <gsrs-input type="text" ng-model="product.appNumber" field="appNumber" label="Application Number" formname=formProd></gsrs-input>
        </div>
    </div>

</div>
