<div class = "row info">
    <div class="row">
        <form-header type="properties" parent="parent" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="propertyForm" id="addPropertyForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-3">
                    <dropdown-select ng-model="property.name" field="name" cv = "PROPERTY_NAME"></dropdown-select>
                </div>
                <div class="col-md-2">
                    <dropdown-select ng-model="property.propertyType" field="propertyType" label ="Property Type" cv = "PROPERTY_TYPE" filter= "property.name"></dropdown-select>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj= "property" divid="propertyForm" field="value" type = "amount" filter= "property.type"></form-selector>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj= "property" divid="propertyForm" type = "parameter"></form-selector>
                </div>
                <div class="col-md-2" ng-if="property.name && property.name.value=='ISOTOPE'">
                    <substance-chooser-selector referenceobj="property" field="referencedSubstance"
                                                name="referencedSubstance" formname="propertyForm"
                                                label="Referenced Substance" type="search"></substance-chooser-selector>
                </div>
                <div class="col-md-1">
                    <check-box ng-model="property.defining" field="defining" ></check-box>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="property" parent = "parent" divid="propertyForm" type = "access"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <reference-modal-button referenceobj= "property" parent = "parent"></reference-modal-button>
                </div>
            </div>
            <div class="propertyForm"></div>
            <submit-buttons submit="property" form="propertyForm" path="properties"></submit-buttons>
        </form>

        <div ng-repeat="(index, obj) in parent.properties track by $index">
            <div class ="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path = "properties"></delete-button>
                </div>
                <div class="col-md-2 url">
                    <text-view-edit obj = "obj.name" field="display" cv = "PROPERTY_NAME" max="1"></text-view-edit>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj = "obj" field="propertyType" cv = "PROPERTY_TYPE"></dropdown-view-edit>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj= "obj" formname="propertyForm" field="value" type = "amount" divid=property-{{index}}></form-selector>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj= "obj" formname="propertyForm" type = "parameter" divid=property-{{index}} mode="edit"></form-selector>
                </div>
                <div class="col-md-2">
                    <substance-chooser-selector referenceobj="obj" field="referencedSubstance" name ="referencedSubstance" formname =property-{{index}} label="Referenced Substance" type ="search"></substance-chooser-selector>
                </div>
                <div class="col-md-1">
                    <check-box-view-edit obj = "obj" field="defining"></check-box-view-edit>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="obj" parent = "parent" formname="propertyForm" type = "access" divid=property-{{index}}></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <reference-modal-button referenceobj= "name" parent = "parent" edit ="true"></reference-modal-button>
                </div>
            </div>
            <div class = property-{{index}}></div>
        </div>
    </div>
</div>
