<div class="row info">
    <div class="row">
        <form-header type="properties" parent="parent" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <br>
        <button class="btn btn-primary"  ng-if=" !iscollapsed && parent.properties.length>2" ng-click="addNew(propertyForm, 'properties'); scrollTo('property-bottom')"><i class="fa fa-plus"></i> Add
            a<span
                    ng-if="parent.properties.length>0">nother</span> property
        </button>
        <form class="form-horizontal" name="propertyForm" role="form" id="addPropertyForm" novalidate>
            <div ng-repeat="(index,obj) in  parent.properties">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="properties"></delete-button>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.name"
                                                    field="name"
                                                    cv="PROPERTY_NAME"
                                                    max="1"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-2">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.propertyType"
                                                    field="propertyType"
                                                    cv="PROPERTY_TYPE"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-3">
                                        <modal-form-button type="amount"
                                                           field="value"
                                                           referenceobj="obj"
                                                           parent="parent">
                                        </modal-form-button>
                                    </div>
                                    <div class="col-md-3">
                                        <substance-chooser-selector referenceobj="obj"
                                                                    field="referencedSubstance"
                                                                    name="referencedSubstance"
                                                                    formname=property-{{index}}
                                                                    label="Referenced Substance"
                                                                    type="search">
                                        </substance-chooser-selector>
                                    </div>
                                    <div class="col-md-1">
                                        <check-box-view-edit
                                                obj="obj"
                                                field="defining">
                                        </check-box-view-edit>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12 pull-left">
                                        <modal-form-button type="parameter"
                                                           referenceobj="obj"
                                                           parent="parent">
                                        </modal-form-button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-1 pull-right">
                                <modal-form-button type="access"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                            <div class="col-md-1 pull-right">
                                <modal-form-button type="reference"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <span ng-if="obj.createdBy">
                                    <label>Created By:</label> {{::obj.createdBy}}
                                </span>
                                <span ng-if="obj.created">
                                    <label>On:</label> {{::obj.created | date: 'medium'}}
                                </span>

                                <span ng-if="obj.lastEditedBy">
                                    <label> - Last Edited By:</label> {{::obj.lastEditedBy}}
                                </span>
                                <span ng-if="obj.lastEdited">
                                    <label>On:</label> {{::obj.lastEdited | date: 'medium'}}
                                </span>
                            </div>
                        </div>
                        <div class=property-{{index}}></div>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
        <div id = "property-bottom"></div>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(propertyForm, 'properties')"><i class="fa fa-plus"></i> Add
            a<span
                    ng-if="parent.properties.length>0">nother</span> property
        </button>
    </div>
</div>