<div class="row info">
    <div class="row">
        <form-header type="proteinDetails" parent="parent" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="detailsForm" id="addDetailsForm" id="add-name" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-3">
                    <gsrs-input type="dropdown"
                                ng-model="parent.protein.proteinType"
                                field="proteinType"
                                cv="PROTEIN_TYPE"
                                label="Protein Type">
                    </gsrs-input>
                </div>
                <div class="col-md-3">
                    <gsrs-input type="dropdown"
                                ng-model="parent.protein.proteinSubType"
                                field="proteinSubType"
                                cv="PROTEIN_SUBTYPE"
                                label="Protein Subtype">
                    </gsrs-input>
                </div>
                <div class="col-md-2">
                    <gsrs-input type="dropdown"
                                ng-model="parent.protein.sequenceOrigin"
                                field="sequenceOrigin"
                                cv="SEQUENCE_ORIGIN"
                                label="Sequence Origin">
                    </gsrs-input>
                </div>
                <div class="col-md-2">
                    <gsrs-input type="dropdown"
                                ng-model="parent.protein.sequenceType"
                                field="sequenceType"
                                cv="SEQUENCE_TYPE"
                                label="Sequence Type">
                    </gsrs-input>
                </div>
                <div class="col-md-1 pull-right">
                    <access-management obj-to-manage-access="parent.protein">
                    </access-management>
                </div>

            </div>
            <div class="detailsForm"></div>
        </form>
    </div>
</div>
