<div class="row info">
    <div class="row">
        <form-header type="references" parent="parent" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="refOnlyForm" id="addRefOnlyForm" role="form" novalidate>
            <div class="row form-row">

                <div class="col-md-2 url">
                    <text-input ng-model="ref.citation" field="citation"></text-input>
                </div>
                <div class="col-md-2">
                    <dropdown-select ng-model="ref.docType" field="docType" label ="Source Type" cv="DOCUMENT_TYPE"></dropdown-select>
                </div>
<!--                <div class="col-md-2">
                    <date-picker ng-model="ref.documentDate" field="documentDate"></date-picker>
                </div>-->
                <div class="col-md-2">
                    <multi-select ng-model="ref.tags" field="tags" cv="DOCUMENT_COLLECTION"></multi-select>
                </div>
                <div class="col-md-2">
                    <text-input ng-model="ref.url" field="url"></text-input>
                </div>
                <div class="col-md-2">
                    <check-box ng-model="ref.publicDomain" field="publicDomain" label="Public Domain"></check-box>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="ref" parent="parent" divid="refOnlyForm" type="access"></form-selector>
                </div>
            </div>
            <div class ="row form-row">
                <ng-form class="form" enctype="multipart/form-data" ng-submit="submitFile()">
                <div class="col-md-6">
                    <label id="upload-label">Upload a Document</label><br>
                    <file-field ng-show="!ref.uploadedFile && !$$uploadFile" ng-model="$$uploadFile" id = "upload"><i class="fa fa-folder-open fa-lg"></i> Browse</file-field>
                    <br>
                    {{$$uploadFile.name}}
                    <br>
                    <button ng-hide ="ref.uploadedFile || !$$uploadFile" class ="btn btn-default" ng-click ="submitFile();" aria-labelledby="upload-label"><span class="sr-only">Upload File</span><i class="fa fa-upload"></i></button>
                    <button ng-show ="ref.uploadedFile" class ="btn btn-success" disabled aria-labelledby="upload-label"><span class="sr-only">File Uploaded</span>
                        <i class="fa fa-check"></i></button>
                </div>
                    </ng-form>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-1 pull-right">
                    <a ng-click="reset()" aria-label="Clear"><i class="fa fa-eraser fa-2x danger"></i></a>
                    <a ng-click="validate()"><i class="fa fa-floppy-o fa-2x success"></i></a>
                </div>
            </div>
            <div class="refOnlyForm"></div>

        </form>

        <div ng-repeat="(index, reference) in parent.references track by $index">
            <div class="row">
            <hr>
            <div class="col-md-1">
                <a ng-click="deleteObj(parent, reference); deleteReference(reference);"><i class="fa fa-times fa-2x danger"></i></a>
            </div>
            <div class="col-md-2 url">
                <text-view-edit obj="reference" field="citation"></text-view-edit>
            </div>
            <div class="col-md-2">
                <dropdown-view-edit obj="reference" field="docType" cv="DOCUMENT_TYPE" label="Source Type"></dropdown-view-edit>
            </div>
<!--            <div class="col-md-1">
                <date-picker-view-edit obj="reference" field="documentDate" label ="Date Accessed"></date-picker-view-edit>
            </div>-->
            <div class="col-md-2">
                <multi-view-edit obj="reference" field="tags" cv="DOCUMENT_COLLECTION"></multi-view-edit>
            </div>
            <div class="col-md-2 url">
                <text-view-edit obj="reference" field="url"></text-view-edit>
            </div>
            <div class="col-md-1">
                <check-box-view-edit ng-model="reference.publicDomain" field="publicDomain" label="Public Domain"></check-box-view-edit>
            </div>
            <div  class="col-md-1">
                <label for="uploader">Document</label><br>
                <a ng-href = {{reference.uploadedFile}} target = "_blank" ng-if="reference.uploadedFile">
                    <i class ="fa fa-file-text fa-stack-2x success"></i>
                </a>
                <i class="fa fa-upload fa-2x success"  ng-show="!reference.uploadedFile" ng-click = "uploadDoc=!uploadDoc" id="uploader" ></i>
            </div>
            <div class="col-md-1 pull-right">
                <form-selector referenceobj="reference" parent="parent" formname="refOnlyForm" type="access"
                               divid=reference-only-{{index}}></form-selector>
            </div>
        </div>
        <div class ="row form-row" >
            <div class="col-md-6"  ng-hide ="!uploadDoc">
                <label for="upload">Upload a Document</label><br>
                <file-field ng-show="!reference.uploadedFile && !reference.$$uploadFile" ng-model="reference.$$uploadFile" id = "upload"><i class="fa fa-folder-open fa-lg"></i> Browse</file-field>
                <br>
                {{reference.$$uploadFile.name}}
                <br>
                <button ng-hide ="reference.uploadedFile || !reference.$$uploadFile" class ="btn btn-default" ng-click ="submitFile(reference);"><i class="fa fa-upload"></i></button>
            </div>
        </div>
        <div class=reference-only-{{index}}></div>
    </div>
</div>
    </div>