<div class="row info" id="references">
    <div class="row">
        <form-header type="references" parent="parent"></form-header>
        <close-button></close-button>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" name="refForm" id="add-name" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-1">
                    <reference-apply ng-model="ref.apply" obj=obj referenceobj=reference parent=parent
                                     type="view"></reference-apply>
                </div>

                <div class="col-md-2 url">
                    <text-input ng-model="ref.citation" field="citation"></text-input>
                </div>
<!--                <div class="col-md-2">
                    <dropdown-select ng-model="ref.docType" field="docType" label="Document Type"
                                     cv="DOCUMENT_TYPE"></dropdown-select>
                </div>-->
                <div class="col-md-2">
                    <date-picker ng-model="ref.documentDate" field="documentDate"></date-picker>
                </div>
                <div class="col-md-2">
                    <multi-select ng-model="ref.tags" field="tags" cv="DOCUMENT_COLLECTION"></multi-select>
                </div>
                <div class="col-md-2">
                    <text-input ng-model="ref.url" field="url"></text-input>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="ref" parent="parent" divid="refForm" type="access"></form-selector>
                </div>
            </div>
            <div class ="row form-row">
                <ng-form class="form" enctype="multipart/form-data" ng-submit="submitFile()">
                    <div class="col-md-6">
                        <label for="upload">Upload a Document</label><br>
                        <file-field ng-show="!ref.uploadedFile && !uploadFile" ng-model="uploadFile" id = "upload"><i class="fa fa-folder-open fa-lg"></i> Browse</file-field>
                        <br>
                        {{uploadFile.name}}
                        <br>
                        <button ng-hide ="ref.uploadedFile || !uploadFile" class ="btn btn-default" ng-click ="submitFile();"><i class="fa fa-upload"></i></button>
                        <button ng-show ="ref.uploadedFile" class ="btn btn-success" disabled><i class="fa fa-check"></i></button>
                    </div>
                </ng-form>
            </div>
            <div class="refForm"></div>
            <div class="row">
                <div class="col-md-1 pull-right">
                    <a ng-click="reset()" aria-label="Clear" uib-tooltip="Clear"><i
                            class="fa fa-eraser fa-2x danger"></i></a>
                    <a ng-click="validate()" uib-tooltip="Add"><i class="fa fa-floppy-o fa-2x success"></i></a>
                </div>
            </div>
        </form>
        <div ng-repeat="reference in parent.references">
            <div class="row">
                <hr>
                <div class="col-md-1">
                    <reference-apply obj=reference referenceobj=referenceobj parent=parent
                                     type="edit"></reference-apply>
                </div>
                <div class="col-md-2 url">
                    <text-view-edit obj="reference" field="citation"></text-view-edit>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj="reference" field="docType" cv="DOCUMENT_TYPE" label="Document Type"></dropdown-view-edit>
                </div>
<!--                <div class="col-md-1">
                    <date-picker-view-edit obj="reference" field="documentDate" label ="Date Accessed"></date-picker-view-edit>
                </div>-->
                <div class="col-md-2">
                    <multi-view-edit obj="reference" field="tags" cv="DOCUMENT_COLLECTION"></multi-view-edit>
                </div>
                <div class="col-md-2 url">
                    <text-view-edit obj="reference" field="url"></text-view-edit>
                </div>
                <div ng-if="reference.uploadedFile" class="col-md-1">
                    <a ng-href = {{reference.uploadedFile}}><i class ="fa fa-file-text fa-2x success"></i></a>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="reference" parent="substance" formname="refForm" type="access"
                                   divid={{reference.$$hashKey}} mode="edit"></form-selector>
                </div>
            </div>
            <div class={{reference.$$hashKey}}></div>
        </div>
    </div>
</div>