<div class="row info">
    <div class="row">
        <form-header class="col-md-2" type="references" parent="parent" iscollapsed="iscollapsed"></form-header>
        <button class="btn btn-primary pull-left" ng-click="addNewRef(refOnlyForm, 'references', true); iscollapsed=false" style="margin-top: 18px;">
            <i class="fa fa-plus"></i> Add reference</button>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="refOnlyForm" role="form" id="addRefOnlyForm" novalidate>
            <div ng-repeat="(index, obj) in parent.references">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <reference-apply ng-if ="applyRefs" ng-model="obj.$$apply" obj=obj referenceobj=referenceobj parent=parent update ="obj.$$update"></reference-apply>
                                <delete-button ng-if ="!applyRefs" path="references"></delete-button>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-3">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.docType"
                                                    field="docType"
                                                    cv="DOCUMENT_TYPE"
                                                    label="Source Type"
                                                    required="true"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-5">
                                        <gsrs-input type="text-box"
                                                    ng-model="obj.citation"
                                                    field="citation"
                                                    label="Source Text / Citation"
                                                    required="true"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <modal-form-button type="access"
                                                           referenceobj="obj"
                                                           parent="parent">
                                        </modal-form-button>
                                    </div>
                                    <div class="col-md-2">
                                        <button ng-click="obj.$details=!obj.$details">{{obj.$details?"Hide Details":"Show Details"}}</button>
                                    </div>

                                </div>
                                <div class="row" ng-if="obj.$details">
                                    <br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <gsrs-input type="dropdown"
                                                        ng-model="obj.$$systemCategory"
                                                        field="$$systemCategory"
                                                        cv="DOCUMENT_SYSTEM_TYPE"
                                                        filter="obj.docType"
                                                        label="Source Class"
                                                        class="disabled"
                                                        uib-tooltip="not editable"
                                                        disabled>
                                            </gsrs-input>
                                        </div>
                                        <div class="col-md-4">
                                            <gsrs-input type="text"
                                                        ng-model="obj.url"
                                                        field="url"
                                                        formname=form>
                                            </gsrs-input>
                                        </div>
                                        <div class="col-md-2">
                                            <gsrs-input type="text"
                                                        ng-model="obj.id"
                                                        field="id"
                                                        label="Source Id"
                                                        formname=form>
                                            </gsrs-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br>
                                        <div class="col-md-3">
                                            <ng-form class="form" enctype="multipart/form-data" ng-submit="submitFile()">
                                                <label id="upload">Upload a Document</label><br>
                                                <a ng-href={{obj.uploadedFile}} target ="_blank" ng-if="obj.uploadedFile">
                                                    <i class="fa fa-file-text fa-stack-2x success"></i>
                                                </a>
                                                <file-field ng-show="!obj.uploadedFile && !obj.$$uploadFile"
                                                            ng-change="submitFile(obj)" ng-model="obj.$$uploadFile"
                                                            id="upload"><i class="fa fa-folder-open fa-lg"></i> Browse
                                                </file-field>
                                                <br>
                                                {{obj.uploadedFile.name}}
                                                <br>
                                            </ng-form>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <check-box ng-model="obj.publicDomain" field="publicDomain"
                                                       label="Public Domain"></check-box>
                                        </div>
                                        <div class="col-md-4">
                                            <gsrs-input type="multi"
                                                        ng-model=obj.tags
                                                        field="tags"
                                                        cv="DOCUMENT_COLLECTION">
                                            </gsrs-input>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <br>
                                        <div class="col-md-12">
                                        <span ng-if="obj.createdBy">
                                            <label>Created By:</label> {{::obj.createdBy}}
                                        </span>
                                                    <span ng-if="obj.created">
                                            <label>On:</label> {{::obj.created | date: 'medium'}}
                                        </span>

                                                    <span ng-if="obj.lastEditedBy">
                                            <label> - Last Edited By:</label> {{::obj.lastEditedBy}}
                                        </span>
                                                    <span ng-if="obj.lastEdited">
                                            <label>On:</label> {{::obj.lastEdited | date: 'medium'}}
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=reference-{{index}}></div>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
        <button class="btn btn-primary" ng-click="addNewRef(refOnlyForm, 'references')" ng-hide="parent.references.length <= 3"><i class="fa fa-plus"></i> Add
            a<span
                    ng-if="parent.references.length>0">nother</span> reference
        </button>
    </div>
</div>

