<div class="row info">
    <div class="row">
        <form-header type="relationships" parent="parent" iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="relationshipForm" role="form" id="addRelationshipForm" novalidate>
            <div ng-repeat="(index,obj) in parent.relationships">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="relationships"></delete-button>
                            </div>
                            <div class="col-md-2">
                                <substance-chooser-selector referenceobj="obj" field="relatedSubstance"
                                                            name="relatedSubstance" formname="relationshipForm"
                                                            label="Related Substance"
                                                            type="search">
                                </substance-chooser-selector>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.type"
                                                    field="type"
                                                    cv="RELATIONSHIP_TYPE"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-6">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.interactionType"
                                                    field="interactionType"
                                                    cv="INTERACTION_TYPE"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6">
                                        <gsrs-input type="dropdown"
                                                    ng-model="obj.qualification"
                                                    field="qualification"
                                                    cv="QUALIFICATION"
                                                    formname=form>
                                        </gsrs-input>
                                    </div>
                                    <div class="col-md-6">
                                        <modal-form-button type="amount"
                                                           referenceobj="obj"
                                                           parent="parent">
                                        </modal-form-button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <substance-chooser-selector referenceobj="relationship" field="mediatorSubstance"
                                                            name="mediatorSubstance" formname="relationshipForm"
                                                            label="Mediator Substance"
                                                            type="search">
                                </substance-chooser-selector>
                            </div>
                            <div class="col-md-1 pull-right">
                                <modal-form-button type="access"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                            <div class="col-md-1 pull-right">
                                <modal-form-button type="reference"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                        </div>
                        <div class="relationshipForm"></div>
                    </div>
                    <hr>
                </ng-form>
            </div>
        </form>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(relationshipForm, 'relationships')"><i class="fa fa-plus"></i> Add a<span
                ng-if="parent.relationships.length>0">nother</span> relationship
        </button>
    </div>
</div>