<div class = "row info" >
    <div class="row">
        <form-header type="relationships" parent="parent" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="relationshipForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-2">
                    <substance-chooser-selector referenceobj ="relationship" field ="relatedSubstance" name ="relatedSubstance" formname ="relationshipForm" label ="Related Substance" type = "search"></substance-chooser-selector>
                </div>
                <div class="col-md-3">
                    <dropdown-select ng-model="relationship.type" field="type" cv = "RELATIONSHIP_TYPE" ></dropdown-select>
                </div>
                <div class="col-md-2">
                    <dropdown-select ng-model="relationship.interactionType" field="interactionType" cv = "INTERACTION_TYPE" label = "Interaction"></dropdown-select>
                </div>
                <div class="col-md-2">
                    <substance-chooser-selector referenceobj ="relationship" field ="mediatorSubstance" name ="mediatorSubstance" formname ="relationshipForm" label ="Mediator Substance" type = "search"></substance-chooser-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="relationship" parent = "parent" divid="relationshipForm" type = "access"></form-selector>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj ="relationship" parent = "parent" divid="relationshipForm" type = "reference"></form-selector>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-md-2 col-md-offset-2">
                    <dropdown-select ng-model="relationship.qualification" field="qualification" cv = "QUALIFICATION" ></dropdown-select>
                </div>
                <div class="col-md-2">
                    <form-selector referenceobj= "relationship" divid="relationshipForm" field="comments" label="comments" type = "textbox"></form-selector>
                </div>
                <div class="col-md-2">
                    <form-selector referenceobj= "relationship" parent = "parent" divid="relationshipForm" type = "amount"></form-selector>
                </div>
            </div>
            <div class="relationshipForm"></div>
            <submit-buttons submit="relationship" form="relationshipForm" path="relationships"></submit-buttons>
        </form>

        <div ng-repeat="obj in parent.relationships" >
            <div class ="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path="relationships"></delete-button>
                </div>
                <div class="col-md-2">
                    <substance-chooser-selector referenceobj ="obj" field ="relatedSubstance" name ="relatedSubstance" formname = {{obj.$$hashKey}} label ="Related Substance" type = "search"></substance-chooser-selector>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj = "obj" field="type" cv = "RELATIONSHIP_TYPE" ></dropdown-view-edit>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj = "obj" field="interactionType" cv = "INTERACTION_TYPE" label = "Interaction Type"></dropdown-view-edit>
                </div>
                <div class="col-md-2">
                    <substance-chooser-view-edit obj = "obj" field ="mediatorSubstance" label = "Mediator Substance"></substance-chooser-view-edit>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="obj" parent = "parent" formname="relationshipForm" type = "access" divid={{obj.$$hashKey}}></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="obj" parent = "parent" formname="relationshipForm" type = "reference" divid={{obj.$$hashKey}}></form-selector>
                </div>
            </div>
            <div class ="row">
                <div class ="col-md-1"></div>
                <div class="col-md-2">
                    <dropdown-view-edit obj = "obj" field="qualification" cv = "QUALIFICATION" ></dropdown-view-edit>
                </div>
                <div class="col-md-2">
                    <form-selector referenceobj= "obj" formname="relationshipForm" label ="comments" type = "textbox" divid={{obj.$$hashKey}} mode="edit"></form-selector>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj= "obj" formname="relationshipForm" label ="amount" type = "amount" divid={{obj.$$hashKey}}></form-selector>
                </div>
            </div>
            <div class = {{obj.$$hashKey}}></div>
        </div>
    </div>
</div>
