<div class="row info">
    <button class="btn btn-primary label-offset det">
        Sites&nbsp;</button>
    <span><i class="fa fa-question-circle fa-lg"></i></span>

    <a ng-click="$parent.toggleStage();" class="pull-right">
        <i class="fa fa-times fa-2x danger"></i></a>

    <div class="col-md-12">
        <form class="form-horizontal" name="siteForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-2">
                    <label for="subunitIndex" class="text-capitalize">Residue Index</label>
                    <select ng-model="referenceobj.sites[0].subunitIndex" ng-change="redraw()" class="form-control"
                            id="subunitIndex" ng-options="r for r in getSubunitRange()">
                        <option class="text-capitalize" value='' disabled selected>Subunit Index</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="residueIndex" class="text-capitalize">Residue Index</label>
                    <select ng-model="referenceobj.sites[0].residueIndex" ng-change="redraw()" class="form-control"
                            id="residueIndex"
                            ng-options="r for r in validResidues(referenceobj.sites[0].subunitIndex)">
                        <option class="text-capitalize" value='' disabled selected>Residue Index</option>
                    </select>
                </div>
                <div class="col-md-1 text-center">
                    <i class="fa fa-link fa-rotate-270 fa-2x"></i>
                </div>
                <div class="col-md-2">
                    <label for="endSubunitIndex" class="text-capitalize">Residue Index</label>
                    <select ng-model="referenceobj.sites[1].subunitIndex" ng-change="redraw()" class="form-control"
                            id="endSubunitIndex" ng-options="r for r in getSubunitRange()">
                        <option class="text-capitalize" value='' disabled selected>Subunit Index</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="endResidueIndex" class="text-capitalize">Residue Index</label>
                    <select ng-model="referenceobj.sites[1].residueIndex" ng-change="redraw()" class="form-control"
                            id="endResidueIndex"
                            ng-options="r for r in validResidues(referenceobj.sites[1].subunitIndex)">
                        <option class="text-capitalize" value='' disabled selected>Residue Index</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>


