<div class="row info">
    <div class="row">
        <form-header type="sites" parent="substance"></form-header>
        <close-button></close-button>
    </div>

    <div class="col-md-12">
        <label for="{{field}}" class="text-capitalize">{{referenceobj.field || 'Sites'}}</label>
        <textarea type="text" class="form-control" ng-blur="makeSiteList()" ng-change="makeSiteList()"
                  ng-model="referenceobj.$$displayString" name="{{field}}" title="{{field}}"
                  id="{{field}}" placeholder="{{field}}"></textarea>
        <!--
        <text-box ng-model= referenceobj.display ng-change = "print()" field= "display"></text-box>
-->
    </div>
</div>
