<div class="row info">
    <div class="row">
        <form-header type="sites" parent="parent"></form-header>
        <close-button></close-button>
    </div>

    <div class="col-md-12">
        <form class="form-horizontal" name="siteStringForm" id="addSiteStringForm" role="form" novalidate>
        <label for="{{field}}" class="text-capitalize">{{referenceobj.field || 'Sites'}}</label>
        <textarea type="text" class="form-control" ng-blur="makeSiteList()" ng-change="makeSiteList()"
                  ng-model="referenceobj[field].$$displayString" name="{{field}}" title="{{field}}"
                  id="{{field}}" placeholder="{{field}}"></textarea>
            </form>
    </div>
</div>
