<div class = "row info" >
    <div class="row">
        <form-header type="constituents" path= "specifiedSubstance.constituents" parent="parent"></form-header>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" name="constituentForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-3">
                    <substance-chooser-selector ng-model ="component.substance" field ="substance" name ="substance" formname ="constituentForm" label ="Constituent Substance" type = "search"></substance-chooser-selector>
                </div>
                <div class="col-md-3">
                    <dropdown-select ng-model="component.type" field="type" cv = "MIXTURE_TYPE" ></dropdown-select>
                </div>
                <div class="col-md-3">
                    <dropdown-select ng-model="component.role" field="role" cv = "CONSTITUENT_ROLE"></dropdown-select>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj= "component" divid="constituentForm" type = "amount"></form-selector>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj ="component" parent = "parent" divid="constituentForm" type = "reference"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="component" parent = "parent" divid="constituentForm" type = "access"></form-selector>
                </div>
            </div>
            <div class="constituentForm"></div>
            <submit-buttons submit="component" form="constituentForm" path="specifiedSubstanceG1.constituents"></submit-buttons>
        </form>

        <div ng-repeat="obj in parent.specifiedSubstance.constituents track by $index" >
            <div class ="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path="relationships"></delete-button>
                </div>
                <div class="col-md-2">
                    <substance-chooser-view-edit obj = "obj" field ="substance"></substance-chooser-view-edit>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj = "obj" field="type" cv = "MIXTURE_TYPE" ></dropdown-view-edit>
                </div>
                <div class="col-md-2">
                    <text-view-edit obj = "obj" field="role"></text-view-edit>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj= "obj" formname="constituentForm" type = "amount" divid={{obj.$$hashKey}} mode="edit"></form-selector>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj ="obj" parent = "parent" formname="constituentForm" type = "reference" divid={{obj.$$hashKey}} mode="edit"></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj ="obj" parent = "parent" formname="constituentForm" type = "access" divid={{obj.$$hashKey}} mode="edit"></form-selector>
                </div>
            </div>
            <div class = {{obj.$$hashKey}}></div>
        </div>
    </div>
</div>
