<div class="row info">
    <div class="row">
        <form-header type="constituents" path="specifiedSubstance.constituents" parent="parent"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="constituentForm" role="form" id="addConstituentForm" novalidate>
            <div ng-repeat="(index,obj) in parent.specifiedSubstance.constituents">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj" path="specifiedSubstance.constituents"></delete-button>
                            </div>
                            <div class="col-md-3">
                                <substance-chooser-selector referenceobj="obj"
                                                            field="substance"
                                                            name="substance"
                                                            formname="constituentForm"
                                                            label="Constituent"
                                                            type="search">
                                </substance-chooser-selector>
                            </div>
                            <div class="col-md-3">
                                <gsrs-input type="dropdown"
                                            ng-model="obj.role"
                                            field="role"
                                            cv="CONSTITUENT_ROLE"
                                            formname=form>
                                </gsrs-input>
                            </div>
                            <div class="col-md-1">
                                <modal-form-button type="amount"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                            <div class="col-md-1 pull-right">
                                <modal-form-button type="access"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                            <div class="col-md-1 pull-right">
                                <modal-form-button type="reference"
                                                   referenceobj="obj"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                        </div>
                    </div>
                    <hr>
                </ng-form>
            </div>
            <div class = "constituentForm"></div>
        </form>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(constituentForm, 'specifiedSubstance.constituents')"><i
                class="fa fa-plus"></i> Add a<span
                ng-if="parent.constituents.length>0">nother</span> constituent
        </button>
    </div>
</div>