<div class="row info" id ="modification">
    <div class="row">
        <form-header type="structuralModifications" path="modifications.structuralModifications" parent="parent" iscollapsed = "iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="strucModForm" id="addStrucModForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-2">
                    <dropdown-select ng-model="mod.structuralModificationType" field="structuralModificationType"
                                     cv="STRUCTURAL_MODIFICATION_TYPE" label="Modification Type"></dropdown-select>
                </div>
                <div class="col-md-2">
                    <substance-chooser-selector referenceobj="mod" field="molecularFragment"
                                                name="molecularFragment" formname="strucModForm"
                                                label="Molecular Fragment" type="search"></substance-chooser-selector>
                </div>
                <div class="col-md-2">
                    <dropdown-select ng-model="mod.locationType" field="locationType" cv="LOCATION_TYPE"
                                     label="Location Type"></dropdown-select>
                </div>
                <div class ="col-md-2" ng-if="mod.locationType && mod.locationType.value=='RESIDUE_SPECIFIC'">
                <text-input ng-model="mod.residueModified" field="residueModified" name ="residueModified" label="Residue Modified" form="strucModForm"></text-input>
                    </div>
                <div class="col-md-1" ng-if="mod.locationType && mod.locationType.value!='RESIDUE_SPECIFIC'">
                    <form-selector referenceobj="mod" parent="parent" field = "sites" divid="strucModForm"
                                   type="site"></form-selector>
                    <!--<input type="text" class="form-control" ng-model="structuralModification._displaySites"
                           title="Modification Sites" id="modsites" name="modsites"
                           na-sites={{structuralModification}}/>-->
                    <small class="error" ng-show="strucModForm.modsites.$error.siteInvalid">
                        {{strucModForm.modsites.$errorMsg.naSites}}
                    </small>
                </div>
                <div class="col-md-2">
                    <dropdown-select ng-model="mod.extent" field="extent" cv="EXTENT_TYPE"
                                     label="Extent"></dropdown-select>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj="mod" parent="parent" field="extentAmount" divid="strucModForm"
                                   type="amount"></form-selector>
                </div>
            </div>
            <div class="strucModForm"></div>
            <submit-buttons submit="mod" form="strucModForm" path="modifications.structuralModifications"></submit-buttons>
        </form>


        <div ng-repeat="obj in parent.modifications.structuralModifications" ng-class="getClass(obj)">
            <div class="row">
                <hr>
                <div class="col-md-1">
                    <delete-button delete="obj" path="modifications.structuralModifications"></delete-button>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj="obj" field="structuralModificationType"
                                        cv="STRUCTURAL_MODIFICATION_TYPE"
                                        label="Modification Type"></dropdown-view-edit>
                </div>
                <div class="col-md-2">
                    <substance-chooser-selector referenceobj="obj" field="molecularFragment" name ="molecularFragment" formname ={{obj.$$hashKey}} label="Molecular Fragment" type ="search"></substance-chooser-selector>
                </div>
                <div class="col-md-2">
                    <dropdown-view-edit obj="obj" field="locationType" cv="LOCATION_TYPE"
                                        label="Location Type"></dropdown-view-edit>
                </div>
                <div class="col-md-2" ng-if="obj.locationType && obj.locationType.value=='RESIDUE_SPECIFIC'">
                    <text-view-edit obj = "obj" field = "residueModified"></text-view-edit>
                </div>
                <div class="col-md-1" ng-if="obj.locationType && obj.locationType.value!='RESIDUE_SPECIFIC'">
                        <form-selector referenceobj="obj" parent="parent" field="sites" type="site" divid={{obj.$$hashKey}}></form-selector>
                    </div>
                <div class="col-md-1">
                    <dropdown-view-edit obj="obj" field="extent" cv="EXTENT_TYPE"
                                        label="Extent"></dropdown-view-edit>
                </div>
                <div class="col-md-1">
                    <form-selector referenceobj="obj" parent="parent" field="extentAmount" type="amount" divid={{obj.$$hashKey}}></form-selector>
                </div>
                <div class="col-md-1 pull-right">
                    <form-selector referenceobj="obj" parent="parent" type="access" divid={{obj.$$hashKey}}></form-selector>
                </div>
            </div>
            <div class={{obj.$$hashKey}}></div>
        </div>
    </div>
</div>