<div class="row info">
    <div class="row">
        <form-header type="{{type}}" path ="{{}}" parent="parent"></form-header>
    </div>
    <div class="col-md-12" id="structureSearcher" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="structureForm" role="form" id="addStructureForm" novalidate>
            <div class="row">
                <div class = "col-md-12" id="jsdraw">
                    <sketcher parent =parent ng-model=parent.structure.molfile></sketcher>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pull-right">
                    <button ng-show="parent.substanceClass=='chemical'"  class="btn btn-primary" aria-label="Check for duplicate chemical structures" ng-click="checkDuplicateChemicalSubstance(substance)">Check for duplicates</button>
                    <modal-button class= "pull-right padded" type= "export" structureid = parent.structure.id format="sdf" ></modal-button>
                    <modal-button class= "pull-right padded" type= "import"></modal-button>
                </div>
            </div>

            <div class = "row" ng-repeat="err in structureErrorsArray track by $index">
                <div class="col-md-12">
                    <div class="alert alert-{{err.class}} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            <span style="font-family:monospace"><h4>{{::err.messageType}}</h4>
                                <span>{{::err.message}}</span>
                                <div ng-repeat="link in err.links">
                                    <a target = "_blank" href="{{link.href}}">{{::link.text}}</a>
                                </div>
                            </span>
                    </div>
                </div>
            </div>

            <div ng-show="parent.substanceClass =='chemical'">
                <div class ="row">
                    <div class="col-md-3">
                        <gsrs-input type="text"
                                    ng-model="parent.structure.formula"
                                    field="formula"
                                    required="true"
                                    label="Molecular Formula"
                                    formname=form>
                        </gsrs-input>
                    </div>
                    <div class="col-md-2">
                        <gsrs-input type="dropdown"
                                    ng-model="parent.structure.stereochemistry"
                                    field="stereochemistry"
                                    cv="STEREOCHEMISTRY_TYPE"
                                    formname=form>
                        </gsrs-input>
                    </div>
                    <div class="col-md-2">
                        <gsrs-input type="dropdown"
                                    ng-model="parent.structure.opticalActivity"
                                    field="opticalActivity"
                                    label="Optical Activity"
                                    cv="OPTICAL_ACTIVITY"
                                    formname=form>
                        </gsrs-input>
                    </div>
                    <div class="col-md-3">
                        <gsrs-input type="dropdown"
                                    ng-model="parent.structure.atropisomerism"
                                    field="atropisomerism"
                                    cv="ATROPISOMERISM"
                                    label="Additional Stereochemistry"
                                    formname=form>
                        </gsrs-input>
                    </div>
                </div>
                <br>

                <div class = "row">
                    <div class="col-md-3">
                        <label for="mwt">Molecular Weight</label><br>
                        <span id ="mwt">{{parent.structure.mwt}}</span></div>
                    <div class="col-md-2">
                        <label for="stereo">Defined Stereocenters</label>
                        <span id = "stereo" class="badge">{{parent.structure.definedStereo}} / {{parent.structure.stereoCenters}}</span></div>
                    <div class="col-md-2">
                        <label for="ez">EZ Centers</label><br>
                        <span id ="ez" class="badge">{{parent.structure.ezCenters}}</span></div>
                    <div class="col-md-2">
                        <label for="charge">Structure Charge</label><br>
                        <span id="charge" class="badge"><span ng-if="parent.structure.charge>0">+</span>{{parent.structure.charge}}</span>
                    </div>

                    <div class="col-md-1 pull-right">
                        <modal-form-button type="access"
                                           referenceobj="parent.structure"
                                           parent="parent">
                        </modal-form-button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <gsrs-input type="text-box"
                                    ng-model="parent.structure.stereoComments"
                                    field="stereoComments"
                                    label="Stereo Comments"
                                    rows=2
                                    formname=form>
                        </gsrs-input>
                    </div>
                </div>
            </div>
        </form>
            </div>
    </div>




















