<div class="row info">
    <div class="row">
        <form-header type="structuralModifications" path="modifications.structuralModifications" parent="parent"
                     iscollapsed="iscollapsed"></form-header>
    </div>
    <div class="col-md-12" uib-collapse="iscollapsed">
        <form class="form-horizontal" name="structuralModForm" id="addStructuralModForm" role="form" novalidate>
            <div ng-repeat="(index, obj) in parent.modifications.structuralModifications">
                <ng-form name="form">
                    <div class="form-div" ng-class="{'bg-warning' : form.$invalid && form.$flagged}">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <delete-button delete="obj"
                                               path="modifications.structuralModifications"></delete-button>
                            </div>
                            <div class="col-md-2">
                                <gsrs-input type="dropdown"
                                            ng-model="obj.structuralModificationType"
                                            field="structuralModificationType"
                                            cv="STRUCTURAL_MODIFICATION_TYPE"
                                            label="Modification Type">
                                </gsrs-input>
                            </div>
                            <div class="col-md-2">
                                <substance-chooser-selector referenceobj="obj"
                                                            field="molecularFragment"
                                                            name="molecularFragment"
                                                            formname="structuralModForm"
                                                            label="Fragment"
                                                            type="search">
                                </substance-chooser-selector>
                            </div>
                            <div class="col-md-2">
                                <gsrs-input type="dropdown"
                                            ng-model="obj.locationType"
                                            field="locationType"
                                            cv="LOCATION_TYPE"
                                            label="Location Type">
                                </gsrs-input>
                            </div>
                            <div class="col-md-2" ng-if="(obj.structuralModificationType.display=='Amino Acid Replacement'||obj.structuralModificationType.display=='NUCLEOSIDE SUBSTITUTION') && obj.locationType.value=='RESIDUE_SPECIFIC'">
                                <gsrs-input type="multi"
                                            ng-model="obj.$$residueModified"
                                            field="$$residueModified"
                                            label="Residue Modified"
                                            filter="obj.structuralModificationType"
                                            filter-function="getCV(obj.structuralModificationType.value)">
                                </gsrs-input>
                            </div>
                            <div class="col-md-1"
                                 ng-if="(parent.substanceClass!='structurallyDiverse' && obj.locationType.value!='RESIDUE_SPECIFIC')">
                                <modal-form-button type="sites"
                                                   referenceobj="obj"
                                                   field="sites"
                                                   parent="parent"
                                                   formtype="site">
                                </modal-form-button>
                                <small class="error" ng-show="strucModForm.modsites.$error.siteInvalid">
                                    {{strucModForm.modsites.$errorMsg.naSites}}
                                </small>
                            </div>
                            <div class="col-md-2">
                                <gsrs-input type="dropdown"
                                            ng-model="obj.extent"
                                            field="extent"
                                            cv="EXTENT_TYPE">
                                </gsrs-input>
                            </div>
                            <div class="col-md-2"
                            	ng-if="obj.extent.value=='PARTIAL'"
                            	>
                                <modal-form-button type="amount"
                                                   referenceobj="obj"
                                                   label="Extent Amount"
                                                   field="extentAmount"
                                                   parent="parent">
                                </modal-form-button>
                            </div>
                            <div class="col-md-1">
                                <gsrs-input type="text"
                                            ng-model="obj.modificationGroup"
                                            label="Group"
                                            field="modificationGroup">
                                </gsrs-input>
                            </div>
                            </div>
                        </div>

                    <br>
                    <div class="row">
                        <div class="col-md-12">
                                <span ng-if="obj.createdBy">
                                    <label>Created By:</label> {{::obj.createdBy}}
                                </span>
                            <span ng-if="obj.created">
                                    <label>On:</label> {{::obj.created | date: 'medium'}}
                                </span>

                            <span ng-if="obj.lastEditedBy">
                                    <label> - Last Edited By:</label> {{::obj.lastEditedBy}}
                                </span>
                            <span ng-if="obj.lastEdited">
                                    <label>On:</label> {{::obj.lastEdited | date: 'medium'}}
                                </span>
                        </div>
                    </div>
                    <div class={{index}}-strucModForm""></div>
                            <hr>
                </ng-form>
            </div>
            <div class = "structuralModForm"></div>
        </form>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="addNew(structuralModForm, 'modifications.structuralModifications')"><i
                class="fa fa-plus"></i> Add
            a<span
                    ng-if="parent.modifications.structuralModifications.length>0">nother</span> modification
        </button>
    </div>
</div>