<div>
    <div class="row grid">
        <div class="col-md-3 text-center" ng-repeat="item in data">
            <a ng-click="select(item)">
                    <rendered smiles = {{item.value.smiles}}></rendered>
                    <br><code>{{item.source}}</code>
            </a>
        </div>

            <!--<div class="col-md-3" ng-repeat="item in data">
                <div class="panel panel-default" ng-click="select(item)">
                    <div class="panel-heading">
                        <p class="text-right" data-toggle="tooltip" title="Approval ID">
                            <a href="#" ng-click="$event.preventDefault(); selected.item = item">
                                <code>{{item.source}}</code>
                            </a>
                        </p>
                    </div>
                    <div class="panel-body struc-img">
                        <rendered smiles = {{item.value.smiles}}></rendered>
                        <div class="row stereo">
                            <div class="col-md-10">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer nameDiv" data-toggle="tooltip" title="{{item.name}}">
                        Click structure to select
                    </div>
                </div>
            </div>-->
        </div>
    </div>
