<div class="row info">
    <div class="row">
        <form-header type="subunits" path={{substanceClass}}.subunits parent= parent
                     iscollapsed="iscollapsed"></form-header>
    </div>
    <div uib-collapse="iscollapsed">
        <div ng-repeat="obj in parent[substanceClass].subunits">
            <div class="col-md-12">
                <subunit obj=obj parent=parent></subunit>
            </div>
            <div class={{obj.$$hashKey}}></div>
        </div>
        <div class="col-md-12">
            <form class="form-horizontal" name="subunitForm" id="add-name" role="form" novalidate>
                <div class="row form-row">
                    <div class="col-md-12">
                        <text-box ng-model="subunit.sequence" field="sequence" required></text-box>
                    </div>
                </div>
                <submit-buttons submit="subunit" form="subunitForm" path="subunits"></submit-buttons>
            </form>
        </div>
    </div>
</div>