<div>
    <label for={{type}} class="text-capitalize">Amount</label>
        <a ng-show="referenceobj.amount" ng-click="toggleStage();" role="button"><amount value = "referenceobj.amount"></amount></a>
    <div class="text-center">
        <a ng-hide="referenceobj.amount" ng-click="toggleStage()" role="button" aria-label="Add an amount" tooltip="Add an amount" id="{{type}}"><i
                class="fa fa-plus fa-2x success" ng-show="stage"></i>
            <i class="fa fa-minus fa-2x danger" ng-show="!stage"></i></a>
    </div>
</div>