<div class = "row info">
    <button class="btn btn-primary label-offset det">
        Amount&nbsp;</button>
    <a ng-click="$parent.toggleStage();" class="pull-right">
        <i class="fa fa-times fa-2x danger"></i></a>
    <div class="col-md-12">
        <form class="form-horizontal" name="amountForm" role="form" novalidate>
            <div class="row form-row">
                <div class="col-md-2">
                    <dropdown-select ng-model="amount.type" field="type" cv = "AMOUNT_TYPE" arr="substance.amount"></dropdown-select>
                </div>
                <div class="col-md-1">
                    <text-input ng-model="amount.average" field="average" arr="substance.amount"></text-input>
                </div>
                <div class="col-md-1">
                    <text-input ng-model="amount.low" field="low" arr="substance.amount"></text-input>
                </div>
                <div class="col-md-1">
                    <text-input ng-model="amount.high" field="high" arr="substance.amount"></text-input>
                </div>
                <div class="col-md-1">
                    <text-input ng-model="amount.lowLimit" field="lowLimit" arr="substance.amount"></text-input>
                </div>
                <div class="col-md-1">
                    <text-input ng-model="amount.highLimit" field="highLimit" arr="substance.amount"></text-input>
                </div>
                <div class="col-md-2">
                    <dropdown-select ng-model="amount.units" field="units" cv = "AMOUNT_UNIT" arr="substance.amount"></dropdown-select>
                </div>
                <div class="col-md-2">
                    <text-input ng-model="amount.nonNumericValue" field="nonNumericValue" arr="substance.amount"></text-input>
                </div>
            </div>
            <a ng-click="amount=null; reset();" aria-label="Clear"><i class="fa fa-eraser fa-2x danger"></i></a>
            <a ng-click="validate()" ><i class="fa fa-check fa-2x success"></i></a>

<!--
            <a ng-show="$parent.edit" ng-click="update(); $parent.toggleStage();" ><i class="fa fa-plus fa-2x success"></i></a>
-->

        </form>
        </div>
    </div>
