<div>
<div ng-show="modelAmount._addAmount">
<div class ="row">
    <button class="btn btn-primary label-offset det">
       Amount&nbsp;</button>
</div>

        <!-- Title bits -->
    <div class = "row header-row">
        <div class = "col-md-2">
            <strong>Type</strong>
        </div>
        <div class = "col-md-1">
            <strong>Average</strong>
        </div>
        <div class = "col-md-1">
            <strong>Low</strong>
        </div>
        <div class = "col-md-1">
            <strong>High</strong>
        </div>
         <div class = "col-md-1">
            <strong>Low Limit</strong>
        </div>
        <div class = "col-md-1">
            <strong>High  Limit</strong>
        </div>
        <div class = "col-md-2">
            <strong>Units</strong>
        </div>
        <div class = "col-md-2">
            <strong>Non Numeric Value</strong>
        </div>

    </div>
        <!-- Adding bits -->

        <div class="row form-row">
            <div class="col-md-2 err-check" show-errors>
                <select class="form-control" title="Amount Type" id="type" name = "type" ng-model = "modelAmount.type" ng-options="r.display for r in lookup.getList('AMOUNT_TYPE') track by r.display" >
                </select>
            </div>
            <div class="col-md-1 err-check" id="name-div" show-errors>
                <input type="number" class="form-control" ng-model ="modelAmount.average" title="Average" id="average" name = "average"/>
            </div>
            <div class="col-md-1 err-check" show-errors>
                <input type="number" class="form-control" ng-model ="modelAmount.low" title="Low" id="low" name = "low"/>
            </div>
            <div class="col-md-1 err-check" show-errors>
                <input type="number" class="form-control" ng-model ="modelAmount.high" title="High" id="high" name = "high"/>
            </div>
            <div class="col-md-1 err-check" show-errors>
                <input type="number" class="form-control" ng-model ="modelAmount.lowLimit" title="Low Limit" id="lowLimit" name = "lowLimit"/>

            </div>
            <div class="col-md-1 err-check" show-errors>
                <input type="number" class="form-control" ng-model ="modelAmount.highLimit" title="High Limit" id="highLimit" name = "highLimit"/>
            </div>
            <div class="col-md-2 err-check" show-errors>
                <select class="form-control" title="Amount Units" id="unit" name = "unit" ng-model = "modelAmount.units" ng-options="r.display for r in lookup.getList('AMOUNT_UNIT') track by r.display" >
                </select>
            </div>
            <div class="col-md-1 err-check" show-errors>
                <input type="text" class="form-control" ng-model ="modelAmount.nonNumericValue" title="Non-numeric Value" id="nonNumeric" name = "nonNumeric"/>
            </div>
            <a ng-click="modelAmount=null; reset();" aria-label="Clear"><i class="fa fa-eraser fa-2x danger"></i></a>
            <a ng-click="modelAmount._addAmount=false;" ><i class="fa fa-check fa-2x success"></i></a>
        </div>
</div>
</div>