<div>
    <label for="{{field}}" class="text-capitalize">{{field}}</label>
    <br/>

    <div ng-repeat="obj in arr">
        <span href="#" ng-hide="obj[field]._editing" ng-click="editing(obj[field]);" class="badge">{{obj[field].display}}</span>
        <select ng-show="obj[field]._editing" class="form-control" ng-model=obj[field] ng-change="update(obj);"
                ng-options="r.display for r in values track by r.display" title="{{field}}" name="{{field}}"></select>
        <hr>
    </div>
    <div>
        <select class="form-control" title="{{field}}" name="{{field}}" id="{{field}}" ng-model=object
                ng-blur="editing(object[field]);" ng-options="r.display for r in values track by r.display">
        </select>
    </div>
</div>