<div>
            <div class="modal-header">
                <a type="button" class="close"  ng-click="close()" uib-tooltip ="Close" aria-label="Close"><i class ="fa fa-times danger"></i></a>
                <h4 class="modal-title" id="myModalLabelExport">Export</h4>
            </div>
            <div class="modal-body">
                <div class = "row">   
                <div class="col-md-12 warn" ng-repeat="warn in warnings">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
                        </button>
                        <span><h4 class="warntype">{{warn.type}}</h4><span class="message">{{warn.message}}</span></span>
                    </div>
                </div>       
                    <textarea class="col-md-12" id = "inputExport">{{exportData}}</textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  ng-click="close()">Close</button>
                </div>
            </div>
        </div>

