<div class="modal fade" id="structureimport" tabindex="-1" role="dialog" aria-labelledby="myModalLabelimport" aria-hidden="true">
<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button" class="close" data-dismiss="modal" uib-tooltip ="Close" aria-label="Close"><i class ="fa fa-times danger"></i></a>
                <h4 class="modal-title" id="myModalLabelExport">Export</h4>
            </div>
            <div class="modal-body">
                <div class = "row">   
                <div class="col-md-12 warn" ng-repeat="warn in warnings">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
                        </button>
                        <span><h4 class="warntype">{{warn.type}}</h4><span class="message">{{warn.message}}</span></span>
                    </div>
                </div>       
                    <textarea class="col-md-12" id = "inputExport">{{export}}</textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>




            <div class="modal-body mol-data-import">
                <form class="form" role="import" method="GET"
                      action="" id = "filereader">
                    <div class="form-group">
                        <div class = "row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputFile">Load File</label>
                                    <input type="button" value="Choose File" onclick="window.FileContentsGrabber.set('mol-sequence');" id="exampleInputFile">
                                    <p class="help-block">or</p>
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class="col-md-12">
                                <label for="description-det">Enter molfile or smiles:</label>
                                <textarea spellcheck="false" class="form-control" rows="10" ng-model="structure.molfile" ng-trim="false" id="mol-sequence"></textarea>
                            </div>
                            <input style="display:none" ng-model="structure._setWatch" ng-change="resolveMol(structure)" id="mol-sequence-monitor"></input>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="structure.molfile=null;" data-dismiss="modal">Close</button>
                        <button id="close-import-button" type="button" class="btn btn-primary" ng-click="resolveMol(structure)" data-dismiss="modal">Import</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>