<div>
    <label for="{{field}}" class="text-capitalize">{{field}}</label>

    <div ng-repeat="obj in arr">
            <span ng-repeat="tag in obj[field]">
            <a href="#" ng-hide=" obj[field]._editing" ng-click="editing( obj[field]);"
               class="badge">{{tag.display}}</a>
        </span>
        <tags-input ng-show="obj[field]._editing" custom-class="form-control" title="{{field}}" placeholder="{{field}}"
                    name="{{field}}"
                    ng-model=obj[field] ng-blur="update(obj[field]);" display-property="display" key-property="value"
                    addFromAutocompleteOnly="true">
            <auto-complete source="loadItems(cv, $query)" min-length="2" debounce-delay="0"
                           load-on-down-arrow="true"></auto-complete>
        </tags-input>
        <hr>
    </div>
    <tags-input custom-class="form-control" title="{{field}}" placeholder="{{field}}" id="{{field}}" name="{{field}}"
                ng-model="object" ng-blur="editing(object);" display-property="display" key-property="value"
                addFromAutocompleteOnly="true">
        <auto-complete source="loadItems(cv, $query)" min-length="2" debounce-delay="0"
                       load-on-down-arrow="true"></auto-complete>
    </tags-input>

    <!--        <ng-messages for="form.field.$error" ng-if="form.field.$touched">
                <ng-message when="required" class="help-block">*required</ng-message>
            </ng-messages>-->
</div>
