    <table class="table table-striped" id="referenceTable">
        <thead>
        <tr>
            <th>Index</th>
           	<th>Source Text / Citation</th>
            <th>Source Type</th>
            <th>Tags</th>
            <th>Document</th>
            <th>Date Accessed</th>
        </tr>
        </thead>
        <tr ng-repeat="r in references" ng-class="getClass(r.$$index)">
            <td>{{r.$$index}}</td>
            <td class ="url">
                <citation citation=r></citation>
            </td>
            <td><a ng-href="{{baseurl}}/substances?facet=Reference+Type/{{r.docType}}" target="_self"
                   uib-tooltip="Filter all substances by {{r.docType}}">{{r.docType}}</a></td>
            <td><span ng-repeat="tag in r.tags" class="badge">{{tag}}</span></td>
            <td>
                <div ng-if="r.uploadedFile">
                    <a ng-href={{r.uploadedFile}} target="_blank"><i class="fa fa-file-text fa-2x success"></i></a>
                </div>
            </td>
            <td>{{r.documentDate | date: 'mediumDate' || r.dateCreated | date: 'mediumDate'}}</td>
        </tr>
    </table>
