<div class="row info" id="references">
    <button class="btn btn-primary label-offset det">
        References&nbsp;<span class="badge" ng-show="parent.references.length>0">
                        {{parent.references.length}}</span></button>
    <div class="col-md-12">
        <form class="form-horizontal" name="refForm" id="add-name" role="form" novalidate>
            <div class="row form-row">

                <div class="col-md-2">
                    <text-input ng-model="ref.citation" field="citation"></text-input>
                </div>
                <div class="col-md-2">
                    <dropdown-select ng-model="ref.docType" field="docType" cv="DOCUMENT_TYPE"></dropdown-select>
                </div>
                <div class="col-md-2">
                    <date-picker ng-model="ref.documentDate" field="documentDate"></date-picker>
                </div>
                <div class="col-md-2">
                    <multi-select ng-model="ref.tags" field="tags" cv="DOCUMENT_COLLECTION"></multi-select>
                </div>
                <div class="col-md-2">
                    <text-input ng-model="ref.url" field="url"></text-input>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-1 pull-right">
                    <a ng-click="reset()" aria-label="Clear"><i class="fa fa-eraser fa-2x danger"></i></a>
                    <a ng-click="validate()"><i class="fa fa-floppy-o fa-2x success"></i></a>
                </div>
            </div>
        </form>

        <div class="row" ng-repeat="reference in parent.references">
            <hr>
            <div class="col-md-1">
                <a ng-click="deleteObj(reference, 'references')"><i class="fa fa-times fa-2x danger"></i></a>
            </div>
            <div class="col-md-2">
                <text-view-edit obj="reference" field="citation"></text-view-edit>
            </div>
            <div class="col-md-2">
                <dropdown-view-edit obj="reference" field="doctype" cv="DOCUMENT_TYPE"></dropdown-view-edit>
            </div>
            <div class="col-md-2">
                <date-picker-view-edit obj="reference" field="documentDate"></date-picker-view-edit>
            </div>
            <div class="col-md-2">
                <multi-view-edit obj="reference" field="tags" cv="DOCUMENT_COLLECTION"></multi-view-edit>
            </div>
            <div class="col-md-2">
                <text-view-edit obj="reference" field="url"></text-view-edit>
            </div>

        </div>
        <hr>
    </div>
</div>