
                <div class="modal-header">
                    <button type="button" class="close" ng-click="closeReferences()"
                    aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabelimport">Add a Reference</h4>
                </div>
                <div class="modal-body">
                    <reference-form></reference-form>
                </div>
                <div class = "modal-footer">
                    <button type="button" class="btn btn-default" ng-click="closeReferences()"
                    aria-label="Close">
                        <span aria-hidden="true">Close</span>
                    </button>
                </div>