<div>
   <label for={{type}} class="text-capitalize">References</label>
    <a ng-show="referenceobj.references" ng-click="toggleStage();" role="button"><span class="badge">{{referenceobj.references.length}}</span></a>
    <div class="text-center">
    <a ng-hide="referenceobj.references" ng-click="toggleStage()" role="button" aria-label="Add a reference" id="{{type}}"><i
            class="fa fa-plus fa-2x success" ng-show="stage"></i>
        <i class="fa fa-minus fa-2x danger" ng-show="!stage"></i></a>
    </div>
</div>
