<div class ="text-center">
    <label for={{type}} class="text-capitalize">Sites</label>
<br>
    <a ng-show="referenceobj" ng-click="toggleStage();" role="button"><site-view referenceobj ="referenceobj"></site-view></a>

    <div class="text-center">
        <a ng-hide="referenceobj" ng-click="toggleStage()" role="button" aria-label="Add Sites" tooltip="Add Sites" id="{{type}}"><i
                class="fa fa-plus fa-2x success" ng-show="stage"></i>
            <i class="fa fa-minus fa-2x danger" ng-show="!stage"></i></a>
    </div>
</div>