<div>
    <label id="{{field}}-label" class="text-capitalize">{{label || field}}</label>
<a ng-click="referenceobj[field]=null">
    <div ng-if=referenceobj[field]>
        <substance-view subref= referenceobj[field]></substance-view>
    </div>
</a>
    <div class="input-group" ng-show="!referenceobj[field]"  id="{{field}}">
        <input type="text" class="form-control" ng-model= q  id="struc-search"  placeholder="Search ..." name="search" aria-labelledby="{{field}}-label">
          <span class="input-group-btn">
        <button class ="btn btn-default" ng-click ="toggleStage()" uib-tooltip="search for substance" aria-label="Search"><span class="sr-only">Search ginas</span>
            <i class="fa fa-search"></i></button>
              </span>
        </div>
    </div>

<!--<div class="lock-size" layout="row" layout-align="center center">
    <md-fab-speed-dial md-direction="down" ng-class="demo.selectedMode">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
                <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
            </md-button>
        </md-fab-trigger>-->
<!--
        <md-fab-actions>
            <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                <md-icon md-svg-src="img/icons/twitter.svg" aria-label="Twitter"></md-icon>
            </md-button>
            <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                <md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
            </md-button>
            <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                <md-icon md-svg-src="img/icons/hangout.svg" aria-label="Google Hangout"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>-->

</div>