<div>
<substance-view subref="subref" ng-show="subref" ng-click="subref=null"></substance-view>
<div ng-show="!subref">
<tags-input custom-class="form-control" ng-focus="focus()" ng-model= "diverse" title="Substance Selector" placeholder="Substance Name" id="substance" name="substance" display-property="name" key-property="approvalID" add-from-autocomplete-only="true" on-tag-adding='createSubref($tag, d)' template = "tag-template" required>
    <auto-complete source="loadSubstances($query)" min-length="1" debounce-delay="0" load-on-down-arrow="true" template="autocomplete-template"></auto-complete>
</tags-input>
</div>

<!--<ng-messages for="officialNameForm.domains.$error" ng-if="officialNameForm.domains.$touched">
    <ng-message when="required" class="help-block">*required</ng-message>
</ng-messages>-->

    <script type="text/ng-template" id="autocomplete-template">
        <div class="autocomplete-template">
            <div class="row text-center">
                <rendered id="data.uuid"></rendered>
            </div>
            <div class="row text-center">
                <span><code>{{data.name}}</code></span>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="tag-template">
        <div>
        </div>
    </script>

</div>