<div>
    <div class="row">
        <div class="col-md-3 err-check" id="reference-name" >
            <input type="text" class="form-control" ng-model="officialName.name" title="Name" id="name" name="name"
                   />
            <ng-messages for="officialNameForm.name.$error" ng-if="officialNameForm.name.$touched">
                <ng-message when="duplicate" class="help-block">Name already exists in Ginas</ng-message>
                <ng-message when="required" class="help-block">Substance name is required</ng-message>
            </ng-messages>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <form ng-submit="search()">
                    <input type="text"
                           ng-model="term"
                           ng-change="test()"
                           class="form-control typeahead" id="search"
                           title="Search" placeholder="Search ..." name="q">
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="search"
                                        ng-click="search()"
                                        >
                                    <span class="fa fa-search"></span>
                                </button>
                            </span>
                </form>
            </div>
        </div>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <h3><span class="label label-default">{{ results.total }}</span></h3>
            </div>
            <div class="btn-group" role="group">
                <ul class="pagination">
                    <li>
                        <a href='#' aria-label="Previous"
                           ng-click="prevPage()"
                                >
                            <span aria-hidden="true" class="fa fa-angle-double-left"></span>
                        </a>
                    </li>
                    <li>
                        <a href='#' aria-label="Next"
                           ng-click="nextPage()"
                                >
                            <span aria-hidden="true" class="fa fa-angle-double-right"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row hidden-xs" id="grid">
            <div class="col-md-3 thumb-col" ng-repeat="item in results.content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="text-right" data-toggle="tooltip" title="Approval ID">
                            <a href="#" ng-click="$event.preventDefault(); selected.item = item">
                                <code>{{item.approvalIDDisplay}}</code>
                            </a>
                        </p>
                    </div>
                    <div class="panel-body struc-img">
                        <rendered id=item.structure.id></rendered>
                        <div class="row stereo">
                            <div class="col-md-10">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer nameDiv" data-toggle="tooltip" title="{{item.name}}">
                        {{item.name}}
                    </div>
                    <a href="#" ng-click="select(item)">
                        Select
                    </a>
                </div>
            </div>
        </div>
    </div>
    Selected: <b><code>{{selected.item.approvalIDDisplay}}</code> {{ selected.item.name }}</b>
</div>
