<div>
    <label for="{{field}}" class="text-capitalize">{{label || field}}</label>
<a ng-click="subref=null">
    <div ng-if="subref">
        <substance-view  subref= subref></substance-view>
    </div>
</a>
    <div ng-show="!subref" name="{{field}}" id="{{field}}">
        <div ng-if = "type==='search'">
        <a ng-click ="toggle()" uib-tooltip="search for substance" aria-label="Search"><span class="sr-only">Search GSRS</span>
            <i class="fa fa-search fa-2x" aria-label="Search"></i></a>
        </div>
        <substance-typeahead subref = "subref"></substance-typeahead>
        </div>
</div>
