<div>
    <label id="{{field}}-label" class="text-capitalize">{{label || field}}</label>
<a ng-click="referenceobj[field]=null">
    <div ng-if=referenceobj[field]>
        <substance-view subref= referenceobj[field]></substance-view>
    </div>
</a>
    <div class="input-group" ng-show="!referenceobj[field]"  id="{{field}}">
        <input type="text" class="form-control" ng-model= q  id="struc-search"  placeholder="Search ..." name="search" aria-labelledby="{{field}}-label">
          <span class="input-group-btn">
        <button class ="btn btn-default" ng-click ="toggleStage()" uib-tooltip="search for substance" aria-label="Search"><span class="sr-only">Search ginas</span>
            <i class="fa fa-search"></i></button>
              </span>
        </div>
    </div>
</div>