<div>
    <div class="row form-row">
        <div class="col-md-6">
            <strong>
                Subunit {{obj.subunitIndex}}
            </strong>
            <div ng-if="view !== 'subunits'">
            <delete-button delete="obj" parent=parent path="{{parent.substanceClass}}.subunits"
                           uib-tooltip="Delete sequence"></delete-button>
            <a ng-click="cleanSequence()" uib-tooltip="Clean sequence"><i class="fa fa-magic fa-2x success"></i></a>
            <a ng-click="toggleEdit()" uib-tooltip="Edit sequence"><i class="fa fa-pencil fa-2x"></i></a>
        </div>
            </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-12" ng-show="edit">
            <textarea ng-show="edit" type="text" class="form-control" rows='5' ng-model=obj.sequence
                      ng-blur="parseSubunit(); edit=!edit" aria-label="Edit Subunit"></textarea>
        </div>
     <!--   <div ng-hide="edit" class="col-lg-12" ng-repeat="chunk in obj.$$subunitDisplay">
            {{chunk}}-->
        <div ng-hide="edit" class="col-lg-2 col-md-3 col-sm-3" ng-repeat="chunk in obj.$$subunitDisplay">
            <span class = "pull-right count" ng-hide=numbers>{{($index+1)*10}}</span><br>
            <span ng-repeat="aa in chunk">
                <amino-acid acid= aa></amino-acid>
            </span>
        </div>
    </div>
</div>