@import net.sf.ehcache.Statistics
@import ix.core.plugins.IxCache
@import ix.ncats.controllers.App
@import play.Play

@(allstats: List[Statistics])

@main("InXight Cache Statistics"){
@header{
<a class="brand" href="https://ncats.nih.gov">
   <img height="50"
 src='@routes.Assets.at("ncats/images/NIH_NCATS_Master_Logo.png")' alt="NCATS logo"/>
</a>
}{
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar"
         data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        </div>
      </div>
    </div>
}}(HtmlFormat.empty){
	@cachestatscontent(allstats)
}
