@import ix.ncats.controllers.App
@import ix.ncats.controllers.App.FacetDecorator

@(title: String, kind: String,
  resetAction: String, current: Int, rows: Int, total: Int,
  pages: Array[Int], facets: Array[FacetDecorator])(header: Html)(breadcrumb: Html)(content: Html)(viz: Html)

@main(title){ @header }{ @breadcrumb }{
<div class="container-fluid">
  <div class="row">
    @if(total > 0 && facets.length > 0) {
    <div class="col-md-3">
      <p></p>
      @if(viz.body.nonEmpty) {
        <div role="tabpanel">
	  <ul class="nav nav-pills" role="tablist" id="content-tab">
	    <li role="presentation" class="active">
	       <a href="#filter" aria-controls="filter"
	          role="tab" data-toggle="tab">Filters</a></li>
            <li role="presentation">
	       <a href="#viz" aria-controls="viz"
	          role="tab" data-toggle="tab">Visualizations</a>
	    </li>
	  </ul>
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="filter">
	       <p></p>
               @filters(facets)
	    </div>
	    <div role="tabpanel" class="tab-pane" id="viz">
               @viz
	    </div>
	  </div>
	</div>
      } else {
         @filters(facets)
      }
    </div>
    <div class="col-md-9">
      } else {
      <div class="col-md-12">
      }
      @defining(App.getUnspecifiedFacets(facets)) { unspecf =>
         @if(request().getQueryString("q") != null || !unspecf.isEmpty()) {
	  <div
	    @if(total > 0) {
	      class="alert alert-success alert-dismissible"
	    } else {
	      class="alert alert-danger alert-dismissible"
	    }
	  role="alert">
	<button type="button" class="close" data-dismiss="alert"
		onclick="dismissQuery()"
		aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
	@request().getQueryString("type") match {
  	    case "Substructure" => {
	      <span><h4>Substructure Query:&nbsp; <a  href="#"
           tabindex="-1"
           data-toggle="popover"
           data-animation="true"
           data-placement="bottom"
           data-trigger="click hover focus"
           data-title=""
	   data-html="true"
           data-content="<img src='@ix.ncats.controllers.routes.App.render(request().getQueryString("q"),150)'>"><code>@request().getQueryString("q")</code></a></h4></span><div id="searching"></div>
	    }
	     case "Similarity" => {
	      <span><h4>Similarity Query:&nbsp; <a  href="#"
           tabindex="-1"
           data-toggle="popover"
           data-animation="true"
           data-placement="bottom"
           data-trigger="click hover focus"
           data-title=""
	   data-html="true"
           data-content="<img src='@ix.ncats.controllers.routes.App.render(request().getQueryString("q"),150)'>"><code>@request().getQueryString("q")</code></a> &ge; @request().getQueryString("cutoff")</h4></span><div id="searching"></div>
	    }
            case _ => {
	      @if(request().getQueryString("q") != null) {
   	         <span><h4>Query:&nbsp;<code>@request().getQueryString("q")</code></h4></span>
	      } else {
	         @for(f <- unspecf) {
	              <span><h4>@f.substring(0,f.indexOf('/')):&nbsp;<code>@f.substring(f.indexOf('/')+1)</code></h4></span>
	         }
	      }
	    }
          }
        </div>
        }
      }
      @pagination(current, rows, total, pages){
          <h3>
          @if(request.uri.contains("?")) {
              <a class="btn btn-default" href="@HtmlFormat.raw(request.uri)&action=download" role="button">
                  <i class="fa fa-download fa-lg "></i></a>
          } else {
              <a class="btn btn-default disabled" href="@HtmlFormat.raw(request.uri)?action=download" role="button">
                  <i class="fa fa-download fa-lg "></i></a>
          }
          </h3>
      }

      <div class="panel panel-default">
	  @content
      </div>
	@if(pages.length > 1) {
	  @pagination(current, rows, total, pages)(HtmlFormat.empty)
	}
      </div>
   </div>
</div>
<div class="modal" id="loading">
   <div class="modal-dialog">
     <div class="modal-content">
         <div class="modal-body">
   	    <div id="loading-progress"></div>
	 </div>
     </div>
   </div>
</div>
}

<script>
function dismissQuery () {
    location.assign('@resetAction');
}

$(document).ready(function () {
    
    @defining(App.checkStatus()) { status =>
      @if(status != null) {
         $('#searching')
		.html('<i class="fa fa-spinner fa-spin"></i> searching...');

         var delay = 0;
         var checkStatus;
	 var timer;

         $('#loading').on('hidden.bs.modal', function (e) {
	     console.log('closing load dialog');
 	     window.clearInterval(timer);
	     location.reload(true);
         });

	 
	 checkStatus = function () {
	     if (delay == 0) {
	        console.log('Starting timer...');
		window.clearInterval(timer);
		delay = 2000;
	        timer = window.setInterval(checkStatus, delay);
	     }

	     var url = '@status'+'@App.queryString("cutoff")';
	     console.log(url);
      	     $.get(url, function(data) {
	         if (data.status == 'Done' || data.status == 'Failed') {
		    window.clearInterval(timer);
                    $('#searching').html('');
       	            $('#loading-progress').html('');
                    if(data.count >= @total) {
                        //location.reload(true);
	                $('#loading').modal('hide');
		    }
		 } else {
	            //console.log('status '+data.count);
		    $('#searching').html('<i class="fa fa-spinner fa-spin"></i> searching... '+data.count+' matches');
		     if (@Math.min(current*rows,total) > data.count) {
  	                $('#loading').modal('show');
		     }
		     if (data.total) {
	  	        var pct = Math.floor(100.0*data.count / data.total+0.5);
		        $('#loading-progress').html('<p align="right">('+data.count+'/'+data.total+')</p><div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+pct+'" aria-valuemin="0" aria-valuemax="100" style="width: '+pct+'%;">'+pct+'%</div></div>');
		     }		     
		 }
	     }).error(function () {
	         window.clearInterval(timer);
	     });
         };

	 timer = window.setInterval(checkStatus, delay);
      }
   }
});
</script>
