@import ix.core.search.TextIndexer._
@import ix.ncats.controllers.App
@import ix.ncats.controllers.App.FacetDecorator
@import ix.utils.Util

@(facets: Array[FacetDecorator])

<script>
  var filters = {};
</script>

@facet(f: FacetDecorator) = {
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    @if(f.raw) {
      @HtmlFormat.raw(f.name())
    } else {
      @f.name()
    }
    </h3>
  </div>
  <div class="panel-body">
    <table class="table table-condensed">
      @** move all selected filters upfront **@
      @for(i <- 0 until f.size()) {
        @if(App.hasFacet(f.facet,i)) {
	<tr>
	  @defining(App.sha1(f.facet,i)) { id =>
	     <td>
	       <input type="checkbox" checked="true"
		      onclick="filterToggle(this)" 
		      label="Toggle @f.facet.getLabel(i)"
		      id="@id"/>
	     </td>
	     <script>
	        filters['@id'] = {
	           checked: @App.hasFacet(f.facet,i),
                   name: '@App.encode(f.facet)',
	           value: '@App.encode(f.facet, i)'
	        };
	     </script>
          }
	 @if(f.raw) {
            <td class = "text-capitalize">@HtmlFormat.raw(f.label(i))</td>
         } else {
            <td class = "text-capitalize">@f.label(i)</td>
         }
	 <td>
           @if(f.raw) {
             <span class="badge" style="float:right;">@HtmlFormat.raw(f.value(i))</span>
           } else {
             <span class="badge" style="float:right;">@f.value(i)</span>
           }
	 </td>
        </tr>
        }
      }
      @for(i <- 0 until Math.min(f.max, f.size())) {
        @if(!App.hasFacet(f.facet,i)) {
	<tr>
	  @defining(App.sha1(f.facet,i)) { id =>
	     <td>
	       <input type="checkbox" onclick="filterToggle(this)" 
	       	      label = "Toggle @f.facet.getLabel(i)"
		      id="@id"/>
	     </td>
	     <script>
	        filters['@id'] = {
	           checked: @App.hasFacet(f.facet, i),
                   name: '@App.encode(f.facet)',
	           value: '@App.encode(f.facet, i)'
	        };
	     </script>
          }
          @if(f.raw) {
            <td class = "text-capitalize">@HtmlFormat.raw(f.label(i))</td>
          } else {
            <td class = "text-capitalize">@f.label(i)</td>
          }
	 <td>
           @if(f.raw) {
              <span class="badge" style="float:right;">@HtmlFormat.raw(f.value(i))</span>
           } else {
              <span class="badge" style="float:right;">@f.value(i)</span>
           }
	 </td>
        </tr>
        }
      }
    </table>
  </div>
</div>
}

<div class="panel-group">
  @for(f <- facets) {
    @if(!f.hidden) {
      @facet(f)
    }
  }
</div>

<script>
function filterToggle (el) {
  filters[el.id].checked = el.checked;
  /*console.clear();*/
  var facet = "";
  for (var f in filters) {
    console.log(f+': '+filters[f].checked);
    if (filters[f].checked) {
      if (facet.length > 0) {
         facet += '&';
      }
      facet += "facet="+filters[f].name + '/' + filters[f].value;
    }
  }
  console.log(el.id+' '+facet);
  var url = '@HtmlFormat.raw(App.url(facets, "page"))';
  if (facet.length > 0) {
    url += url.indexOf('?') < 0 ? '?' : '&';
    url += facet;
  }
  console.log('>> '+url);
  location.href = url;
}
</script>
