<div id="footer">
    <div class="container">
        <ul>
            <li><a href="http://www.ncats.nih.gov" target="_blank">NCATS Home</a></li>
            <li><a href="http://www.nih.gov/about/privacy.htm" target="_blank">Privacy Notice</a></li>
            <li><a href="http://ncats.nih.gov/comments" target="_blank">Comment Policy</a></li>
            <li><a href="http://www.nih.gov/about/disclaim.htm" target="_blank">Disclaimer</a></li>
            <li><a href="http://ncats.nih.gov/accessibility" target="_blank">Accessibility</a></li>
            <li class="last"><a href="http://ncats.nih.gov/foia" target="_blank">FOIA</a></li>
            <li class="last"><a href="http://oig.hhs.gov/" target="_blank">OIG</a></li>
        </ul>
        <p>If you have problems viewing PDF files, download the latest version of <a href="http://get.adobe.com/reader/">Adobe Reader</a></p>
        <p class="address">National Center for Advancing Translational Sciences (NCATS), 6701 Democracy Boulevard, Bethesda MD 20892-4874 • 301-435-0888</p>
    </div>
</div>
