@import ix.ncats.controllers.App

@(fields: Array[String])
<script>
$(document).ready(function () {
   var sources = [];
   
   @for(f <- fields) {
     @defining(App.hashvar(5,f)) { xx =>     
       var @xx = new Bloodhound({
          datumTokenizer: function(d) {
              return Bloodhound.tokenizers.whitespace(d.key);
          },
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: {
            wildcard: 'QUERY',
            url: '@ix.core.controllers.search.routes.SearchFactory.suggestField(f, "QUERY",10)'
          }
       });

       @(xx).initialize();
       sources[sources.length] = {
         name: '@f',
         displayKey: 'key',
         source: @{xx}.ttAdapter(),
         templates: {
           header: '<h4><span class="label label-warning">@f.replaceAll("[_]+", " ")</span></h4>'
         }
       };
      }
    }
    
    $('.typeahead').typeahead({
         hint: true,
         highlight: true,
         minLength: 2
       }, sources);
       
    $('.typeahead').on("typeahead:selected", function (evt, val, d) {
        if (d == 'MeSH') {
        
        }else {
            $('.typeahead').typeahead('val', '"'+val.key+'"');
            $('.typeahead').trigger("input");
        }
    });
    
    $('.typeahead').on("typeahead:closed", function (evt) {
        
    });
});
</script>
