@ix.ginas.views.html.ginas("Test submission", "null") {
    @ix.ginas.views.html.menu()
} {
    <h3></h3>
} {

    <div class="container">
        <div class="row">
            <div class = "col-md-8 col-md-offset-2">
                <h1 class="cover-heading">Test Submission</h1>
                <form class="form-horizontal" role="form" method="POST"
                action="@ix.ginas.controllers.routes.GinasLoad.submitSubstance()">
                   <div class="form-group">
                        <label for="mappings"
                        class="col-sm-3 control-label">Mappings</label>
                        <div class="col-sm-9">
                            <textarea
                            class="form-control"
                            name="substance"
                            id="substance">
                            </textarea>
                        </div>
                    <div class="form-group">
                        <div type="submit" class="col-sm-offset-10 col-sm-2">
                           <button class="btn btn-sm btn-primary">
                            Submit
                           </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
}
