@import ix.qhts.models.Assay
@import ix.tox21.controllers.Tox21App
@import ix.ncats.controllers.FacetDecorator
@import ix.utils.Util;

@(current: Int, rows: Int, total: Int, pages: Array[Int],
     facets: Array[FacetDecorator], assays: List[Assay])

@ix.ncats.views.html.main("Tox21 Assays"){
@menu()
}{
<ol class="breadcrumb">
  <li><a href="@ix.tox21.controllers.routes.Tox21App.index"><span class="fa fa-home"></span> Home</a></li>
  <li class="active">Tox21 Assays</li>
</ol>
}{
<div class="container-fluid">
  <div class="jumbotron">
    <h1>Coming soon!</h1>
  </div>
</div>
}
