@import ix.qhts.models.Sample
@import ix.tox21.models.QCSample
@import ix.tox21.controllers.Tox21App
@import ix.ncats.controllers.App.FacetDecorator
@import ix.utils.Util;

@(current: Int, rows: Int, total: Int, pages: Array[Int],
 facets: Array[FacetDecorator], samples: List[QCSample], ctx: String)

@grade(t: Int, g: QCSample.Grade, toxid: String) = {
  @g match {
     case null => {
        <td></td>
	}
     case QCSample.Grade.ND => {
        <td class="valign-center"><span class="label label-default">@g</span>&nbsp;@HtmlFormat.raw(g.desc.replaceAll("\n", "<br>"))</td>
     }
     case _ => {
        <td class="valign-center"><span class="label label-@{g.label}">@g</span>&nbsp;
        @if(Tox21App.hasSpectra(toxid, t)) {
           <a href="@ix.tox21.controllers.routes.Tox21App.getSpectra(toxid, t)">@HtmlFormat.raw(g.desc)</a>
	} else {
	   @HtmlFormat.raw(g.desc)
	}
	</td>
     }
  }
}

@label(x: QCSample) = {
     @if(x.getName().length() > 30) {
       <a  href="#"
           tabindex="-1"
           data-toggle="popover"
           data-animation="true"
           data-placement="bottom"
           data-trigger="click hover focus"
           data-title="@x.getName() (@x.getSynonym(Sample.S_NCGC).term)"
	   data-html="true"
           data-content="<img src='@ix.ncats.controllers.routes.App.structure(x.structure.getId,"svg",150)'>">@x.getName().substring(0, 30)...</a>
     } else {
       <a  href="#"
           tabindex="-1"
           data-toggle="popover"
           data-animation="true"
           data-placement="bottom"
           data-trigger="click hover focus"
           data-title="@x.getName() (@x.getSynonym(Sample.S_NCGC).term)"
	   data-html="true"
           data-content="<img src='@ix.ncats.controllers.routes.App.structure(x.structure.getId,"svg",150)'>">@x.getName()</a>
       }
}

@tabrow(s: QCSample) = {
  @defining(s.getSynonym(Sample.S_TOX21).term) { toxid => 
<tr>
  <td>
      @if(s.structure != null) {
           <a  tabindex="-1"
           data-toggle="popover"
           data-animation="true"
           data-placement="top"
           data-trigger="click hover focus"
           data-title="@s.getName() (@s.getSynonym(Sample.S_NCGC).term)"
	   data-html="true"
           data-content="<img src='@ix.tox21.controllers.routes.Tox21App.render(toxid,ctx,200)'>">
         <img alt="Structure of @s.getName()"
   	      src='@ix.tox21.controllers.routes.Tox21App.render(toxid,ctx,80)'></a>
       }
  </td>
    
  <td class="valign-center">
    <a href="@ix.tox21.controllers.routes.Tox21App.sample(toxid)">@toxid</a>
  </td>
  <td class="valign-center">@if(s.getName().length() > 30) {
    @s.getName().substring(0,25)...
    } else {
    @s.getName()
    }
  </td>

  @grade(0, s.gradeT0, toxid)
  @grade(4, s.gradeT4, toxid)
</tr>
  }
}

@ix.ncats.views.html.content("Tox21 Samples", "ix.tox21.models.QCSample",
ix.tox21.controllers.routes.Tox21App.samples().url,
current, rows, total, pages, facets){ @menu() }{
<ol class="breadcrumb">
  <li><a href="@ix.tox21.controllers.routes.Tox21App.index"><span class="fa fa-home"></span> Home</a></li>
  <li class="active">Tox21 Samples</li>
</ol>
}{
<table class="table table-striped">
  <tr>
    <th>Structure</th>
    <th>Tox21 ID</th>
    <th>Name</th>
    <th>QC Grade T0</th>
    <th>QC Grade T4</th>    
  </tr>
  @for(s <- samples) {
     @tabrow(s)
   }
</table>
} {

}

<script>
$(function () {
  $('[data-toggle="popover"]').popover();
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
