
@import ix.qhts.models.Sample
@import ix.tox21.models.QCSample

@(qc: QCSample)

@ix.ncats.views.html.main(qc.getName()){
@menu()
}{
<ol class="breadcrumb">
  <li><a href="@ix.tox21.controllers.routes.Tox21App.index"><span class="fa fa-home"></span> Home</a></li>
    <li><a href="@ix.tox21.controllers.routes.Tox21App.samples()">Tox21 Samples</a></li>
    <li class="active">@qc.getSynonym(Sample.S_TOX21).term</li>
</ol>
}{
<div class="container-fluid">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        <table>
        <tr>
         <td>
           <span class="label label-@qc.grade.label">@qc.grade</span>
         </td>
         <td style="padding:5px;"></td>
         <td>@qc.getName()</td>
        </tr>
        </table>
      </h1>
    </div>
    <div class="row">
      <div class="col-md-4">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <center>
	      @if(qc.grade == QCSample.Grade.ND) {
	      <div class="alert alert-@qc.grade.label">
		@HtmlFormat.raw(qc.grade.desc)
	      </div>
	      } else {
  	      <a href="https://tripod.nih.gov/tox21/QC/@qc.getSynonym(Sample.S_TOX21).term">@HtmlFormat.raw(qc.grade.desc.replaceAll("\n","<p>"))</a>
	      }
	      <div id="loading"></div>
	    </center>
	    @if(qc.structure != null) {
  	      <button type="button" class="btn btn-default"
	            data-toggle="modal" data-target="#strucModal"
		    data-molurl='@ix.ncats.controllers.routes.App.structure(qc.structure.getId,"mol")'
	            aria-label="Left Align" style="float:right;">
	       <span class="fa fa-external-link" aria-hidden="true"></span>
	      </button>
	    }
	  </div>
	</div>
      </div>
      <div class="col-md-4">
	<div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Identifiers</h3>
          </div>
          <div class="panel-body">
            <table class="table">
              <tr><td>Tox21</td><td>@qc.getSynonym(Sample.S_TOX21).term</td></tr>
              <tr><td>NCATS</td><td>@qc.getSynonym(Sample.S_NCGC).term</td></tr>
	      <tr><td>CAS</td><td>@qc.getSynonym(Sample.S_CASRN).term</td></tr>
	      @**
	      @if(qc.getSynonym(Sample.S_InChIKey) != null) {
  	         <tr><td>InChI Key</td><td>@qc.getSynonym(Sample.S_InChIKey).term</td></tr>
              } else {
	         <tr><td>InChI Key</td><td></td></tr>
	      }
	      **@
	      <tr><td>PubChem</td><td><a href="https://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=@qc.getSynonym(Sample.S_SID).term"</td>@qc.getSynonym(Sample.S_SID).term</a></tr>
	    </table>
	  </div>
	</div>
      </div>
<div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Properties</h3>
          </div>
          <div class="panel-body">
	    Coming soon...
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">In vitro Summary</h3>
          </div>
          <div class="panel-body">
	    Coming soon...
          </div>
        </div>

       </div>
      </div>
    </div>
  </div>
</div>
}


<script>
$(document).ready(function () {
    $('#loading').html('<h3>loading... <i class="fa fa-spinner fa-spin"></i></h3>');
    
    // run ajax request
    $.ajax({
        type: "GET",
        dataType: "html",
        contentType: "image/svg+xml",
	@if(qc.structure != null) {
           url: '@ix.ncats.controllers.routes.App.structure(qc.structure.getId,"svg",300)',
        }
        success: function (d) {
            // replace div's content with returned data
            $('#loading').html(d);
        },
        error: function (xhr, status) {
            $('#loading').html('<div class="alert alert-warning" role="alert"><i class="fa fa-exclamation-triangle"></i> Unable to load structure</div>');
        }
    });
});
</script>
