<div class="row text-center">
<div class="col-md-2"><rendered id="moiety.id"></rendered></div>
<div class="col-md-1"><span class="badge badge-primary">{{moiety.count}}</span></div>
<div class="col-md-1"><span class="badge">{{moiety.stereochemistry}}</span></div>
<div class="col-md-1"><span class="badge">{{moiety.opticalActivity}}</span></div>
<div class="col-md-1"><span class="badge">{{moiety.atropisomerism||"no"}}</span></div>
<div class="col-md-2">{{moiety.formula}}</div>
<div class="col-md-1">{{moiety.mwt}}</div>
<div class="col-md-1"><span class="badge">{{moiety.definedStereo}} / {{moiety.stereoCenters}}</span></div>
<div class="col-md-1"><span class="badge">{{moiety.ezCenters}}</span></div>
<div class="col-md-1"><span class="badge">{{moiety.charge}}</span></div>
</div>
    <hr/>