<div class="row">
<div class="col-md-2"><rendered r="m.id"></rendered></div>
<div class="col-md-1 text-centered"><span class="badge badge-primary">{{m.count}}</span></div>
<div class="col-md-1"><span class="badge">{{m.stereochemistry}}</span></div>
<div class="col-md-1"><span class="badge">{{m.opticalActivity}}</span></div>
<div class="col-md-1"><span class="badge">{{m.atropisomerism||"no"}}</span></div>
<div class="col-md-1">{{m.formula}}</div>
<div class="col-md-1">{{m.mwt}}</div>
<div class="col-md-1"><span class="badge">{{m.definedStereo}} / {{m.stereoCenters}}</span></div>
<div class="col-md-1"><span class="badge">{{m.ezCenters}}</span></div>
<div class="col-md-1"><span class="badge">{{m.charge}}</span></div>
</div>
    <hr/>