<div class="modal fade export" id="export-mol" tabindex="-1" role="dialog" aria-labelledby="myModalLabelExport" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelExport">Export</h4>
            </div>
            <div class="modal-body">
                <div class = "row">
 					<textarea class="col-md-12" id = "inputExport">

 					</textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button"  class="btn btn-primary" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
