<div class="modal-header">
    <h3 class="modal-title">Substance Selector</h3>
</div>
<div class="modal-body">
    <tags-input custom-class="form-control" ng-model="relationship.subref" title="Relationship Type"
                placeholder="Relationship Type" id="type" name="type" display-property="key" key-property="key"
                add-from-autocomplete-only="true" on-tag-added="retrieveSubstance($tag)" on-tag-removed="clear()">
        <auto-complete source="fetch($query)" min-length="3" debounce-delay="0"
                       load-on-down-arrow="true"></auto-complete>
    </tags-input>
<!--    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <h3><span class="label label-default">{{ results.total }}</span></h3>
        </div>
        <div class="btn-group" role="group">
            <ul class="pagination">
                <li>
                    <a href='#' aria-label="Previous"
                       ng-click="prevPage()"
                            >
                        <span aria-hidden="true" class="fa fa-angle-double-left"></span>
                    </a>
                </li>
                <li>
                    <a href='#' aria-label="Next"
                       ng-click="nextPage()"
                            >
                        <span aria-hidden="true" class="fa fa-angle-double-right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>-->
    <div class="panel-body">
        <div class="row hidden-xs" id="grid">
            <div class="col-md-3 thumb-col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="text-right" data-toggle="tooltip" title="Approval ID">
                            <a href="#" ng-click="$event.preventDefault(); selected.item = item">
                                <code>{{relationship.subref.approvalID}}</code>
                            </a>
                        </p>
                    </div>
                    <div class="panel-body struc-img">
                        <rendered id="relationship.subref.refuuid"></rendered>
                        <div class="row stereo">
                            <div class="col-md-10">

                            </div>

                        </div>
                    </div>
                    <div class="panel-footer nameDiv" data-toggle="tooltip" title="{{item.name}}">
                        {{relationship.subref.refPname}}
                    </div>
<!--                    <a href="#" ng-click="select(item)">
                        Select
                    </a>-->
                </div>
            </div>


        </div>
<!--

        Selected: <b><code>{{selected.item.approvalIDDisplay}}</code> {{ selected.item.name }}</b>-->

    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

