@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.ChemicalSubstance
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(chem: ChemicalSubstance, ctx: String = null)


@commonlist(chem) {
				<div class="badge-wrapper">
				@if(chem.structure.stereoChemistry == Structure.Stereo.ACHIRAL) {
                    <span class="label label-primary label-offset list-view-badge">@chem.structure.stereoChemistry</span>
                }
                @if(chem.structure.stereoChemistry == Structure.Stereo.ABSOLUTE) {
                    <span class="label label-success label-offset list-view-badge">@chem.structure.stereoChemistry</span>
                }
                @if(chem.structure.stereoChemistry == Structure.Stereo.RACEMIC) {
                    <span class="label label-info label-offset list-view-badge">@chem.structure.stereoChemistry</span>
                }
                @if(chem.structure.stereoChemistry == Structure.Stereo.MIXED) {
                    <span class="label label-default label-offset list-view-badge">@chem.structure.stereoChemistry</span>
                }
                @if(chem.structure.stereoChemistry == Structure.Stereo.EPIMERIC) {
                    <span class="label label-warning label-offset list-view-badge">@chem.structure.stereoChemistry</span>
                }
                @if(chem.structure.stereoChemistry == Structure.Stereo.UNKNOWN) {
                    <span class="label label-danger label-offset list-view-badge">@chem.structure.stereoChemistry</span>
                }
                </div>

                <div class = "magnify" ng-click = "showLarge('@chem.structure.id', '@chem.uuid', '@ctx');">
                    <rendered id = '@chem.structure.id' ctx='@ctx' title="click to enlarge" ></rendered>
                </div>
                <div>
                @defining(GinasApp.getChemSimilarity(ctx, chem)) { sim =>
                    @if(sim != null) {
                        <br>
                        <em>Similarity</em> <code>
                        @{
                            "%.3f".format(sim)
                        }
                        </code>
                    } else {

                    }
                }
                </div>
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <ul class= "list-inline list-unstyled tools">
                            <li>
                                <modal-button type= "export" structureid ="'@chem.uuid'" format="sdf" ></modal-button>
                            </li>
                            <li>
                                <a ng-href="@ix.ginas.controllers.routes.GinasApp.structuresearch(chem.structure.id.toString())" target="_self" uib-tooltip="Structure Search" aria-label="Structure Search"><span class="sr-only">
                                    Search for Structure</span><span class="fa fa-search fa-2x success"></span></a>
                            </li>
                            @dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                                <li>
                                    <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(chem))" uib-tooltip="Edit" target="_self" aria-label="Edit Chemical Substance"><span class="sr-only">
                                        Edit Chemical</span><span class="fa fa-pencil fa-2x success"></span></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
}{
                <div class = "row">
                    <div class = "col-md-4">
                        <h5><strong>Formula:</strong></h5>
                    </div>
                    <div class = "col-md-8">
                        <h5>@chem.structure.formula</h5>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-4">
                        <h5><strong>Mol Weight:</strong></h5>
                    </div>
                    <div class = "col-md-8">
                        <h5>@{"%.2f".format(chem.structure.mwt)}</h5>
                    </div>
                </div>
}{
        <div class="@chem.uuid" ng-click="showLarge('@chem.structure.id', '@chem.uuid')"></div>
}