

@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.ChemicalSubstance
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(chem: ChemicalSubstance, ctx: String = null)


@commonlist(chem) {
<div class="badge-wrapper">
    @if(chem.structure.stereoChemistry == Structure.Stereo.ACHIRAL) {
    <span class="label label-primary label-offset list-view-badge">@chem.structure.stereoChemistry</span>
    }
    @if(chem.structure.stereoChemistry == Structure.Stereo.ABSOLUTE) {
    <span class="label label-success label-offset list-view-badge">@chem.structure.stereoChemistry</span>
    }
    @if(chem.structure.stereoChemistry == Structure.Stereo.RACEMIC) {
    <span class="label label-info label-offset list-view-badge">@chem.structure.stereoChemistry</span>
    }
    @if(chem.structure.stereoChemistry == Structure.Stereo.MIXED) {
    <span class="label label-default label-offset list-view-badge">@chem.structure.stereoChemistry</span>
    }
    @if(chem.structure.stereoChemistry == Structure.Stereo.EPIMERIC) {
    <span class="label label-warning label-offset list-view-badge">@chem.structure.stereoChemistry</span>
    }
    @if(chem.structure.stereoChemistry == Structure.Stereo.UNKNOWN) {
    <span class="label label-danger label-offset list-view-badge">@chem.structure.stereoChemistry</span>
    }
</div>
<div ng-controller = "GinasController" >
    <div ng-init = "inchi = '@chem.structure.getInChI()'" style = "display:hidden"></div>
    <div class = "magnify" ng-click = "openImgModal('@chem.uuid', '@ix.ginas.controllers.routes.GinasApp.structure(chem.structure.id.toString(), "svg", 700, ctx)')" >
                    <rendered id = '@chem.structure.id' ctx='@ctx' title="click to enlarge" ></rendered>
                </div>
</div>
                <div>
                @defining(GinasApp.getChemSimilarity(ctx, chem)) { sim =>
                    @if(sim != null) {
                        <br>
                        <em>Similarity</em> <code>
                        @{
                            "%.3f".format(sim)
                        }
                        </code>
                    } else {

                    }
                }
                </div>
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <ul class= "list-inline list-unstyled tools">
            <li class = "col-md-1"></li>
            <li class = "col-md-3">
                                <modal-button type= "export" structureid ="'@chem.uuid'" format="mol"  format2="sdf" ></modal-button>
                            </li>
            <li class = "col-md-3">
                                <a ng-href="@ix.ginas.controllers.routes.GinasApp.structuresearch(chem.structure.id.toString())" target="_self" uib-tooltip="Structure Search" aria-label="Structure Search"><span class="sr-only">
                                    Search for Structure</span><span class="fa fa-search fa-2x success"></span></a>
                            </li>

            @dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
            <div class = "row">
                <div class = "col-md-12 text-center">
                    <ul class= "list-inline list-unstyled tools tools-bottom">
                                <li class = "col-md-3">
                <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(chem))" uib-tooltip="Edit" target="_self" aria-label="Edit Chemical Substance"><span class="sr-only">
                                        Edit Chemical</span><span class="fa fa-pencil fa-2x success"></span></a>
            </li>
            <li class = "col-md-3"> <a href="@ix.ginas.controllers.routes.GinasApp.index()/beta/substances/@chem.getUuid()/edit" target="_blank" uib-tooltip="New Form" aria-label="Edit Chemical Substance">
                                    <span class="sr-only">Edit New Form</span>
                                    <i class="fa fa-pencil-square fa-2x" aria-hidden="true" ></i></a></li>
            <li class = "col-md-3">
                <a href="@ix.ginas.controllers.routes.GinasApp.wizard("chemical")&importUUID=@chem.uuid&importType=definition" target="_self" uib-tooltip="Copy&nbsp;Definition&nbsp;to&nbsp;New&nbsp;Substance" aria-label="Register Copy"><span class="sr-only"> Register Copy </span>
                    <span class="fa fa-clipboard fa-2x success"></span>
                </a>
            </li>
            <li class = "col-md-3">
                <a href="@ix.ginas.controllers.routes.GinasApp.wizard("chemical")&importUUID=@chem.uuid&importType=full" target="_self" uib-tooltip="Copy&nbsp;All&nbsp;to&nbsp;New&nbsp;Substance" aria-label="Register Copy"><span class="sr-only"> Register Copy </span>
                <span class="fa fa-clipboard fa-2x"></span>
                </a>
            </li>
                    </ul>
                </div>
            </div>
            }
        </ul>
    </div>
</div>
}{
<div class = "row">
    <div class = "col-md-4">
        <h5><strong>Formula:</strong></h5>
    </div>
    <div class = "col-md-8">
        <h5>@Html(chem.structure.htmlFormula())</h5>
    </div>
</div>
<div class = "row">
    <div class = "col-md-4">
        <h5><strong>Mol Weight:</strong></h5>
    </div>
    <div class = "col-md-8">
        <h5>@{"%.2f".format(chem.structure.mwt)}</h5>
    </div>
</div>
}{
      <!--  <div ng-if="showLarge" ng-click="showLarge!=showLarge">
            <rendered size="500" id = '@chem.structure.id' ctx='@ctx' title="click to enlarge" ></rendered>
        </div>-->
}
