@import ix.ginas.models.v1.{Substance}
@import ix.ginas.controllers.GinasApp
@(sub: Substance)
	@if(sub.approved != null) {
    <div class = "row">
        <div class = "col-md-12">
            <strong>Date validated: </strong><div><span ngCloak uib-tooltip="@sub.approved" class="list-detail-value">{{moment(@sub.approved.getTime())}}</span></div>
        </div>
    </div>
    }
    <div class = "row">
        <div class = "col-md-12">
            <strong>Created: </strong><div><span ngCloak tooltip-placement="auto top" uib-tooltip="@sub.getCreated()" class="list-detail-value">{{moment(@sub.getCreated().getTime())}}</span></div>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-12">
            <strong>Last modified: </strong><div><span ngCloak uib-tooltip="@sub.getLastEdited" class="list-detail-value">{{moment(@sub.getLastEdited.getTime())}}</span></div>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-12">
            <strong>Status: </strong><div><span class="list-detail-value">@sub.getDisplayStatus()</span></div>
        </div>
    </div>
     <div class = "row">
        <div class = "col-md-12">
    		<strong>Version: </strong><div><span class="list-detail-value">@sub.version</span></div>
         </div>
    </div>
    @if(sub.hasTagString("KEW")) {
        <div class = "row">
            <div class = "col-md-12">
                <span><img class="img-responsive kew" id="" alt ="Kew approved" uib-tooltip = "Substance has been validated by Kew Gardens" src="@routes.Assets.at("ginas/images/kew.png")" /></span>
            </div>
        </div>
    }
