@import ix.ginas.models.v1.{Substance}
@import ix.ginas.controllers.GinasApp
@(sub: Substance)


    <div class = "row">
        <div class = "col-md-12">
        @if(sub.approved == null) {
            <h6>Not Approved</h6>
        } else {
            <strong>Date approved: </strong><h6>{{@GinasApp.getDateTime(sub.approved) | date: 'mediumDate'}}</h6>
        }
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-12">
            <strong>Last modified: </strong><h6>{{moment(@sub.getLastEdited.getTime())}}</h6>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-12">
            <code>@sub.getDisplayStatus() version: @sub.version</code>
        </div>
    </div>
    @if(sub.hasTagString("KEW")) {
        <div class = "row">
            <div class = "col-md-12">
                <span><img class="img-responsive kew" id="" alt ="Kew approved" uib-tooltip = "Substance has been validated by Kew Gardens" src="@routes.Assets.at("ginas/images/kew.png")" /></span>
            </div>
        </div>
    }
