@import ix.ginas.controllers.GinasApp
@import ix.ginas.controllers.v1.SubstanceFactory
@import ix.ginas.models.v1.{Substance}
@(sub: Substance)
				@if(sub.isAlternativeDefinition()) {
                @defining(sub.getPrimaryDefinitionReference) { ref =>
                <div class = "row">
                    <div class = "col-md-6">
                        <strong>Primary Definition: </strong>
                    </div>
                    <div class = "col-md-6">
                    	<a href="@ix.ginas.controllers.routes.GinasApp.substance(ref.getLinkingID())" target="_blank">@Html(ref.getHtmlName())</a>
                    </div>
                </div>
                
                }
            	}
            	 @if(sub.getAlternativeDefinitionRelationships().size() > 0) {
                <div class = "row">
                    <div class = "col-md-6">
                        <strong>Alternative Definitions: </strong>
                    </div>
                    <div class = "col-md-6">
                    <span class = "badge">@sub.getAlternativeDefinitionRelationships().size()</span>
                    </div>
                </div>
            	}
    			@if(sub.hasNames()){
                <div class = "row">
                    <div class = "col-lg-2 col-md-3">
                        <h5><strong>Names:</strong></h5>
                    </div>
                    <div class = "col-lg-10 break-text col-md-9">
                    	@for(n <- ix.ginas.controllers.GinasApp.limitList(sub.names,5)){
                            <span title="@n.getName()" class="nowrap-list">@Html(n.getHtmlName())
                           @if(n.preferred || n.displayName){
                                <i class="fa fa-check success" uib-tooltip = "preferred term"></i></span>
                            }else{
                                </span>
                    	}

                        }

                    </div>
                </div>
                }
                @if(sub.hasCodes()){
                <div class = "row">
                    <div class = "col-lg-2 col-md-3">
                        <h5><strong>Codes:</strong></h5>
                    </div>
                    <div class = "col-lg-10 col-md-9">
                    
                    	
                    	@for(clist <- ix.ginas.controllers.GinasApp.getOrderedGroupedCodes(sub,4)){
                    		<h5><span>@clist.get(0).getCodeSystem():</span>
                    		@for(c <- clist){
                    		@if(c.getUrl()!=null){
                    		<a href="@c.getUrl()" target="_blank">
                    			<span title="@c.getDisplayCode()"><em>@c.getCode()</em> <i class="fa fa-external-link-square" aria-hidden="true"></i></span>
                    		</a>	
                    		}else{
                    			<span><em>@c.getCode()</em></span>
                    		}
                    		}
                    		</h5>
                    	}
                    </div>
                </div>
                }

            	@if(!sub.isAlternativeDefinition() && sub.hasRelationships()){
            	<div class = "row">
                    <div class = "col-md-4">
                        <h5><strong>Relationships:</strong></h5>
                    </div>
                    <div class = "col-md-8">
                        <span class = "badge">@sub.relationships.size()</span>
                    </div>
                </div>
                }


