@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.Substance
@import ix.ginas.controllers.v1.SubstanceHierarchyFinder;
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler
@import ix.core.util.ConfigHelper
@import play.api.Play.current
@(sub: Substance)(contentThumb: Html)(contentDetails: Html)(contentFooter: Html)

<div ng-controller="ListViewController" class="panel panel-default sub-list">
    @commonlistheader(sub)
    <div class= "panel-body list-item">
        <div class = "row">
            <div class = "col-md-3 text-center">
                @contentThumb
            </div>
            <div class = "col-md-6">
            	@commonlistdetails(sub)
            	@contentDetails
            </div>
            <div class = "col-md-3">
                @dynamic(name = IxDynamicResourceHandler.IS_ADMIN, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                    @commonliststatus(sub)
                }
            </div>
        </div>
        
        @defining(((5000*Math.random())).toInt+"") { sug =>
        
        @if(ConfigHelper.getBoolean("ix.ginas.list.hierarchy.enabled",false)){
        <div class = "row">
            <div class = "col-md-3">
                <span><strong>Substance Hierarchy</strong></span>
            </div>
            <div class = "col-md-9">
                <div id = "loading_@sub.uuid" class = "hierarchy-loading"> <img src = "@play.api.Play.configuration.getString("application.context").getOrElse("")/assets/javascripts/vakata-jstree-a6a0d0d/dist/themes/default/throbber.gif" /> Loading...</div>
            </div>
        </div>
            <div class = "row">
            <div class = "col-md-12">

        <div id="tree_@sub.uuid@sug"></div>
            </div>
        </div>

        }
        
        @contentFooter
        @additionalListDetails(sub)
        
        @if(ConfigHelper.getBoolean("ix.ginas.list.hierarchy.enabled",false)){
        <script>
        
        $(document).ready(function () {
        	var dat1= @Html(SubstanceHierarchyFinder.makeRawJsonTree(sub));	
        	
        	
        	var elmID1='tree_@sub.uuid@sug';
        	var elmID="#" + elmID1;
            var lastID = "";
            var lastProp = "";
            var parentRemap = [];
            //assign relationship and prune self referential relationships
            for(var i=(dat1.length-1);i>=0;i--){
                var subref=dat1[i].value.value;
                dat1[i].relationship = "";
                if((subref.refuuid == lastID) && (lastProp.includes("HAS ACTIVE MOIETY"))){
                    parentRemap.push([dat1[i+1].id,dat1[i].id]);
                    dat1.splice(i+1,1);
                    dat1[i].relationship += "{ACTIVE MOIETY}";
                }
                if(dat1[i].value.type.includes("HAS ACTIVE MOIETY")){
                    dat1[i].relationship += "{ACTIVE FORM}";
                }else if(dat1[i].value.type.includes("IS SALT/SOLVATE OF")){
                    dat1[i].relationship += "{SALT/SOLVATE}";
                }else if(dat1[i].value.type.includes("IS SUBCONCEPT OF")){
                    dat1[i].relationship += "{SUBCONCEPT}";
                }else if(dat1[i].value.type.includes("IS G1SS CONSTITUENT OF")){
                    dat1[i].relationship += "{G1SS}";
                }


                dat1[i].refuuid = dat1[i].value.value.refuuid;
                lastID = dat1[i].refuuid;
                lastProp = dat1[i].value.type;
            }
            //further remove self referential relationships with both salt and moiety relationship.
            dat1.sort(function(a, b) {
                var textA = a.refuuid.toUpperCase();
                var textB = b.refuuid.toUpperCase();
                if(textA == textB){
                    return (a.parent < b.parent) ? -1 : (a.parent > b.parent) ? 1 : 0;
                }else{
                    return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
                }
            });

            //delete duplicates entries with both active moiety and salt/ solvate relationships.
            for(var i=(dat1.length-1);i>=0;i--) {
                if(i != dat1.length-1){
                    if((dat1[i].value.value.refuuid == dat1[i+1].value.value.refuuid)){
                        if((dat1[i].parent == dat1[i+1].parent)){
                            if(dat1[i].value.type.includes("HAS ACTIVE MOIETY") && dat1[i+1].value.type.includes("IS SALT/SOLVATE OF")){
                                parentRemap.push([dat1[i].id,dat1[i+1].id]);
                                dat1.splice(i,1);
                            }else if(dat1[i+1].value.type.includes("HAS ACTIVE MOIETY") && dat1[i].value.type.includes("IS SALT/SOLVATE OF")){
                                parentRemap.push([dat1[i+1].id,dat1[i].id]);
                                dat1.splice(i+1,1);
                            }
                        }
                    }
                }
            }
            dat1.sort(function(a, b) {
                return a.id - b.id;
            });
        	var domID = function(i){
             	return "D" +i + elmID1  + dat1[i].value.value.refuuid;
             };
             
             
            $(elmID).jstree({ 'core' : {
            	"animation" : 0,
                "check_callback" : true,
                    expand_selected_onload : false,
                    "state": { "opened" : false },
                'data' :
                function(node, cb){
            	    //format displayed text and wrap in unique element for tree insertion
                    for(var i=dat1.length -1;i>=0;i--){
                   
                       // Use parentRemap to change records where parent equals deleted record
                        for(var k = 0; k < parentRemap.length; k++ ){
                            if(dat1[i].parent == parentRemap[k][0]){
                                dat1[i].parent = parentRemap[k][1];
                            }
                        }
                        var subref=dat1[i].value.value;
                        var raw = "";
                        var aID = "";
                        if(subref.hasOwnProperty("approvalID")){
                            aID= ""+subref.approvalID+"";
                        }else{
                            var matches = dat1[i].text.match(/\[(.*?)\]/);
                            if(matches.length > 0){
                                aID = matches[0].slice(1, -1);
                            }else{
                                aID = "PENDING RECORD";
                            }
                        }
                        raw  += subref.refPname;
                        if(i === 0){
                            dat1[i].state={selected:true};
                        }
                    	if(subref.refuuid==="@sub.uuid.toString()"){
                            raw = "<b>" + raw + "</b>";
                    	}
                        raw = "<span class = 'jstree-left' > <a href = '@play.api.Play.configuration.getString("application.context").getOrElse("")/substance/"+subref.linkingID+"' class = 'substance-detail-link'>"+raw+"</a></span>";
                        raw += "<span  class = 'jstree-right'  ><span class = 'hierarchy-id'>"+aID+"</span><br/> <i>"+dat1[i].relationship+"</i></span>";
                        dat1[i].text="<span id='" +domID(i) + "' class = 'tree-content-overflow'>" + raw +"</span>";
                        dat1[i].display = raw;
                    }
                    cb.call(this, dat1);
                   
                }

            },
            "plugins" : [
                "wholerow"
              ]
            
            }).on('activate_node.jstree', function() {
                $('.hierarchy-loading').css("display", "none");
            })
                .on('loaded.jstree', function() {
                    //loop through records which are visible when collapsed and apply styles and substanceline infobox
                for(var i=0;i<dat1.length;i++) {
                    if(dat1[i].parent == "#"){
                        if (dat1[i].relationship != "") {
                            $("#" + domID(i)).parent("a").prev("i").prev(".jstree-wholerow").addClass("double-row");
                        }
                        if ((i == 1) || (i % 2 != 0)) {
                            $("#" + domID(i)).parent("a").prev("i").prev(".jstree-wholerow").addClass("wholerow-alt");
                        }
                        var subref=dat1[i].value.value;
                        var div="<substance-line substanceuuid=\"" + subref.refuuid + "\"></substance-line>";
                        $target=$("#" + domID(i));
                        if($target.hasOwnProperty("0")){
                            angular.element($target).injector().invoke(function($compile) {
                                var $scope = angular.element($target).scope();
                                $target.html(dat1[i].display);
                                $target.prepend($compile(div)($scope));
                                $scope.$apply();
                            });
                        }
                    }
                    $('#tree_@sub.uuid@sug .jstree-icon').addClass('toggle_@sub.uuid@sug');
                }

                //trigger loading icon before tree click event bubbles
                   $(".toggle_@sub.uuid@sug").mousedown(function(e) {
                       switch (e.which) {
                           case 1:
                               $('#loading_@sub.uuid').css("display", "block");
                       }

                    });
                $(elmID).jstree('close_all');
                //prevent default jstree click behavior
                $(".substance-detail-link").click(function(e) {
                    e.stopPropagation();
                });
                $("info-popup").click(function(e) {
                    e.stopPropagation();
                });
                //re-generate info-popup with substance summary box after the table is collapsed and re-opened / rendered.
            }).on('after_close.jstree', function (e, data) {
                $('#loading_@sub.uuid').css("display", "none");
                //turn on/off overflow when there isn't enough room for substanceLine tooltip
                if($('#tree_@sub.uuid@sug').height() >= 500){
                    $('#tree_@sub.uuid@sug').addClass('jstree-overflow');
                }else{
                    $('#tree_@sub.uuid@sug').removeClass('jstree-overflow');
                }
            }).
            on('after_open.jstree', function (e, data) {

            	for(var i=0;i<dat1.length;i++){
                    if(dat1[i].relationship != ""){
                        $("#"+domID(i)).parent("a").prev("i").prev(".jstree-wholerow").addClass("double-row");
                    }
                    if((i == 1) || (i%2 != 0)){
                        $("#"+domID(i)).parent("a").prev("i").prev(".jstree-wholerow").addClass("wholerow-alt");
                    }
            		 var subref=dat1[i].value.value;
            		 var div="<substance-line substanceuuid=\"" + subref.refuuid + "\"></substance-line>";
                     $target=$("#" + domID(i));
                    if($target.hasOwnProperty("0")){
                     angular.element($target).injector().invoke(function($compile) {
                         var $scope = angular.element($target).scope();
                            $target.html(dat1[i].display);
                         $target.prepend($compile(div)($scope));
                         $scope.$apply();
                       });
                    }
            	}
            	$("info-popup").click(function(e) {
             	   e.stopPropagation();
             	});
                $(".substance-detail-link").click(function(e) {
                   e.stopPropagation();
                });
                    $('#tree_@sub.uuid@sug .jstree-icon').addClass('toggle_@sub.uuid@sug');
                    $('.hierarchy-loading').css("display", "none");
                    $(".toggle_@sub.uuid@sug").mousedown(function(e) {
                        $('#loading_@sub.uuid').css("display", "block");

            });

                    if($('#tree_@sub.uuid@sug').height() >= 500){
                        $('#tree_@sub.uuid@sug').addClass('jstree-overflow');
                    }else{
                        $('#tree_@sub.uuid@sug').removeClass('jstree-overflow');
                    }

            }
            );

        });
        </script>
        }
	   }
    </div>
</div>
