@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.Substance
@import ix.ginas.controllers.v1.SubstanceHierarchyFinder;
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler
@import ix.core.util.ConfigHelper
@(sub: Substance)(contentThumb: Html)(contentDetails: Html)(contentFooter: Html)

<div ng-controller="ListViewController" class="panel panel-default sub-list">
    @commonlistheader(sub)
    <div class= "panel-body list-item">
        <div class = "row">
            <div class = "col-md-3 text-center">
                @contentThumb
            </div>
            <div class = "col-md-6">
            	@commonlistdetails(sub)
            	@contentDetails
            </div>
            <div class = "col-md-3">
                @dynamic(name = IxDynamicResourceHandler.IS_ADMIN, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                    @commonliststatus(sub)
                }
            </div>
        </div>
        
        @if(ConfigHelper.getBoolean("ix.ginas.list.hierarchy.enabled",false)){
        <div id="tree_@sub.uuid"></div>
        }
        
        @contentFooter
        @additionalListDetails(sub)
        
        @if(ConfigHelper.getBoolean("ix.ginas.list.hierarchy.enabled",false)){
        <script>
        
        $(document).ready(function () {
        	var dat1= @Html(SubstanceHierarchyFinder.makeRawJsonTree(sub));	
        	
        	
        	var elmID1='tree_@sub.uuid';
        	var elmID="#" + elmID1;
        	var domID = function(i){
             	return "D" +i + elmID1  + dat1[i].value.value.refuuid;
             };
            $(elmID).jstree({ 'core' : {
            	"animation" : 0,
                "check_callback" : true,
                "themes" : { "stripes" : true },
                'data' :
                function(node, cb){
                    var data = dat1;
                   
                    for(var i=0;i<data.length;i++){

               		 	var subref=data[i].value.value;
                    	data[i].text="<span id='" +domID(i) + "' >" + data[i].text + "</span>";
                    	if(subref.refuuid==="@sub.uuid.toString()"){
                    		data[i].state={selected:true};
                    		data[i].text="<b>" + data[i].text + "</b>";
                    	}
                    }
                    cb.call(this, data);
                    
                    
                   
                }

            },
            "plugins" : [
                "wholerow"
              ]
            
            }).on('loaded.jstree', function() {
            	$(elmID).jstree('open_all');
            	for(var i=0;i<dat1.length;i++){
            		//This should become its own directive
            		 var subref=dat1[i].value.value;
            		 var divO="<info-popup><div style='text-align: center;' class='stop-prop'>" + 
            		           "<substance-preview substance-views=\"['Preferred Term','img','Approval ID (UNII)','iconButtons']\"" + 
		                   	   "     substanceuuid='" + subref.refuuid +  "'>" +
		                   	   "</substance-preview>" + 
            		             "</div></info-popup>";
            		 var div="<substance-line substanceuuid=\"" + subref.refuuid + "\"></substance-line>";
                     $target=$("#" + domID(i));
                     angular.element($target).injector().invoke(function($compile) {
                         var $scope = angular.element($target).scope();
                         $target.html("");
                         $target.prepend($compile(div)($scope));
                         // Finally, refresh the watch expressions in the new element
                         $scope.$apply();
                       });
                     
            	}
            	$("info-popup").click(function(e) {
             	   e.stopPropagation();
             	});
            	
            });
            
        });
        </script>
	   }
    </div>
</div>
