@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.Substance
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler
@(sub: Substance)


@commonlist(sub) {
    <div class="badge-wrapper">
        <span class="label label-primary label-offset list-view-badge">CONCEPT</span>
    </div>
				<img alt="Concept" class = "struc-thumb img-responsive" src="@routes.Assets.at("ginas/images/concept.svg")"/>

                @dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                    <div class = "row">
                        <div class = "col-md-12 text-center">
                            <ul class= "list-inline list-unstyled tools">
                                <li>
                                    <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(sub))" uib-tooltip="Edit" target="_self" aria-label="Edit Concept"><span class="sr-only">
                                        Edit Concept</span><span class="fa fa-pencil fa-2x success"></span></a>
                                </li>
                                <li> <a href="@routes.Assets.at("gsrs2/index.html")#/substance/@sub.getUuid()/names" target="_blank" uib-tooltip="Edit New Form" aria-label="Edit Concept">
                                    <span class="sr-only">Edit New Form</span>
                                    <i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                }
} {
              
} {
	
}
