@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.MixtureSubstance

@import ix.ginas.models.v1.StructurallyDiverse
@import ix.ginas.models.v1.StructurallyDiverseSubstance
@(sub: StructurallyDiverseSubstance)

<div class="panel panel-default sub-list">
    <div class="panel-heading sub-title">
        <div class = "row">
            <div class = "col-md-10">
                       <span><h3> <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" uib-tooltip="view record details" target="_self">@sub.getName()</a></h3></span>
            </div>
            <div class = "col-md-2 prot-approvID">
                <h4 class= "text-right"><a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" uib-tooltip="view record details" target="_self"><code>@sub.approvalID</code></a></h4>
            </div>
        </div>
    </div>
    <div class= "panel-body list-item">
        <div class = "row">
            <div class = "col-md-3 text-center">
                <div class = "row">
                    <img ng-click="toggle()" class="struc-thumb img-responsive" id="" alt ="structurally diverse" src="@routes.Assets.at("ginas/images/structurally-diverse.svg")" />
                    </div>
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <ul class= "list-inline list-unstyled tools">
                            <li>
                                <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(sub))" uib-tooltip="Edit" target="_self" aria-label="Edit Structurally Diverse Substance">
                                    <span class="sr-only">Edit Structurally Diverse</span>
                                    <span class="fa fa-pencil fa-2x success"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            <div class = "col-md-7">
            @if(sub.names.size()>0) {
                <div class = "row">
                    <div class = "col-md-3">
                        <h5><strong>Other Names:</strong></h5>
                    </div>
                    <div class = "col-md-9">
                        <h5>@ix.ginas.controllers.GinasApp.namesList(sub.names)</h5>
                    </div>
                </div>
            }
                @if(sub.codes.size()>0){
                <div class = "row">
                    <div class = "col-md-3">
                        <h5><strong>Codes:</strong></h5>
                    </div>
                    <div class = "col-md-9">
                        <h5>@ix.ginas.controllers.GinasApp.codesList(sub.codes)</h5>
                    </div>
                </div>
                }
                <div class = "row">
                    <div class = "col-md-3">
                        <h5><strong>Relationships:</strong></h5>
                    </div>
                    <div class = "col-md-9">
                        <span class = "badge">@sub.relationships.size()</span>
                    </div>
                </div>
                @if(sub.getAlternativeDefinitionRelationships().size() > 0) {
                    <div class = "row">
                        <div class = "col-md-2">
                            <h5><strong>Alternative Definitions:</strong></h5>
                        </div>
                        <div class = "col-md-10">
                            <h5>sub.getAlternativeDefinitionRelationships().size()</h5>
                        </div>
                    </div>
                }
            </div>

                @if(sub.structurallyDiverse.part.size() > 0){
                    <div class = "row">
                        <div class = "col-md-3">
                            <h5><strong>Part:</strong></h5>
                        </div>
                        <div class = "col-md-1">
                            <span class = "label label-primary label-rounded">@sub.structurallyDiverse.getDisplayParts()</span>
                        </div>
                    </div>
                }
            </div>
            <div class = "col-md-2">

                <div class = "row">
                    <div class = "col-md-12">
                        @if(sub.approved==null){
                            <h6>Not Approved</h6>
                        }else{
                           <strong>Date approved:</strong> <h6>{{@GinasApp.getDateTime(sub.approved) | date: 'mediumDate'}}</h6>
                        }
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                        <strong>Last modified:</strong><h6>{{moment(@sub.getLastEdited.getTime())}}</h6>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                        <code>@sub.getDisplayStatus()  version: @sub.version</code>
                    </div>
                </div>
                @if(sub.hasTagString("KEW")) {
                	<div class = "row">
	                    <div class = "col-md-12">
	                        <span><img class="img-responsive kew" id="" alt ="Kew approved" uib-tooltip = "Substance has been validated by Kew Gardens" src="@routes.Assets.at("ginas/images/kew.png")" /></span>
	                    </div>
	                </div>
                }
            </div>
        </div>
    </div>
</div>
