@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.MixtureSubstance
@import ix.ginas.models.v1.StructurallyDiverse
@import ix.ginas.models.v1.StructurallyDiverseSubstance
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(sub: StructurallyDiverseSubstance)

@commonlist(sub) {
    <div class="badge-wrapper">
        <span class="label label-primary label-offset list-view-badge">STRUCTURALLY DIVERSE</span>
    </div>
				<img ng-click="toggle()" class="struc-thumb img-responsive" id="" alt ="structurally diverse" src="@routes.Assets.at("ginas/images/structurally-diverse.svg")" />
                @dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                    <div class = "row">
                        <div class = "col-md-12 text-center">
                            <ul class= "list-inline list-unstyled tools">
                                <li>
                                    <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(sub))" uib-tooltip="Edit" target="_self" aria-label="Edit Structurally Diverse Substance"><span class="sr-only">
                                        Edit Structurally Diverse</span><span class="fa fa-pencil fa-2x success"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
}{
               @if(sub.structurallyDiverse.part.size() > 0){
                    <div class = "row">
                        <div class = "col-md-3">
                            <h5><strong>Part:</strong></h5>
                        </div>
                        <div class = "col-md-1">
                            <span class = "label label-primary label-rounded">@sub.structurallyDiverse.getDisplayParts()</span>
                        </div>
                    </div>
               }
} {
}
