@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.MixtureSubstance

@import ix.ginas.models.v1.StructurallyDiverse
@import ix.ginas.models.v1.StructurallyDiverseSubstance
@(sub: StructurallyDiverseSubstance)

<div class="panel panel-default sub-list">
    <div class="panel-heading sub-title">
        <div class = "row">
            <div class = "col-md-10">
                <h3> <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" target="_self">@sub.getName()</a></h3>
            </div>
            <div class = "col-md-2 prot-approvID">
                <h4 class= "text-right"><a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(sub))" target="_self"><code>@sub.approvalID</code></a></h4>
            </div>
        </div>
    </div>
    <div class= "panel-body list-item">
        <div class = "row">
            <div class = "col-md-3 text-center">
                <div class = "row">
                    <img ng-click="toggle()" src="@routes.Assets.at("ginas/images/structurally-diverse.svg")" class="struc-thumb img-responsive" id="" />
                    </div>
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <ul class= "list-inline list-unstyled tools">
                            <li>
                                <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(sub))" uib-tooltip="Edit" target="_self" aria-label="Edit Structurally Diverse Substance"> <span class="fa fa-pencil fa-2x success"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            <div class = "col-md-7">
            @if(sub.names.size()>0) {
                <div class = "row">
                    <div class = "col-md-3">
                        <h5>Other Names:</h5>
                    </div>
                    <div class = "col-md-9">
                        <h5>@ix.ginas.controllers.GinasApp.namesList(sub.names)</h5>
                    </div>
                </div>
            }
                @if(sub.codes.size()>0){
                <div class = "row">
                    <div class = "col-md-3">
                        <h5>Codes:</h5>
                    </div>
                    <div class = "col-md-9">git st
                        <h5>@ix.ginas.controllers.GinasApp.codesList(sub.codes)</h5>
                    </div>
                </div>
                }
                @if(sub.structurallyDiverse.part.size() > 0){
                    <div class = "row">
                        <div class = "col-md-3">
                            <h5>Part:</h5>
                        </div>
                        <div class = "col-md-1">
                            <span class = "label label-primary label-rounded">@sub.structurallyDiverse.getDisplayParts()</span>
                        </div>
                    </div>
                }
            </div>
            <div class = "col-md-2">

                <div class = "row">
                    <div class = "col-md-12">
                        Date approved: <h6>{{@GinasApp.getDateTime(sub.approved) | date: 'mediumDate' || 'Not Approved'}}</h6>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                        Last modified: <h6>{{moment(@sub.lastEdited.getTime())}}</h6>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                        <code>@sub.getDisplayStatus()  version: @sub.version</code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
