@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.MixtureSubstance
@import ix.ginas.models.v1.SpecifiedSubstanceGroup1Substance
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(sub: SpecifiedSubstanceGroup1Substance)
@commonlist(sub) {
    <div class="badge-wrapper">
        <span class="label label-primary label-offset list-view-badge">G1 SPECIFIED SUBSTANCE</span>
    </div>
				<img ng-click="toggle()" class="struc-thumb img-responsive" id="" alt="Group 1 Specified Substance" src="@routes.Assets.at("ginas/images/chemical.svg")"  />
                @dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                    <div class = "row">
                        <div class = "col-md-12 text-center">
                            <ul class= "list-inline list-unstyled tools">
                                <li>
                                    <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(sub))" uib-tooltip="Edit" target="_self" aria-label="Edit Mixture">
                                        <span class="sr-only">Edit Mixture</span>
                                        <span class="fa fa-pencil fa-2x success"></span></a>
                                </li>
                                <li> <a href="@routes.Assets.at("gsrs2/index.html")#/substance/@sub.getUuid()/names" target="_blank" uib-tooltip="Edit New Form" aria-label="Edit Mixture">
                                    <span class="sr-only">Edit New Form</span>
                                    <i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                }
}{
               <div class = "row">
                    <div class = "col-md-3">
                        <h5><strong>Components:</strong></h5>
                    </div>
                    <div class = "col-md-1">
                    <span class = "label label-primary label-rounded">@sub.specifiedSubstance.size()</span>
                    </div>
                </div>
} {
}