@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.MixtureSubstance

@(sub: MixtureSubstance)

<div class="panel panel-default sub-list">
    @commonlistheader(sub)
    <div class= "panel-body list-item">
        <div class = "row">
            <div class = "col-md-3">
                <img ng-click="toggle()" class="struc-thumb img-responsive" id="" alt="mixture" src="@routes.Assets.at("ginas/images/mixture.svg")"  />
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <ul class= "list-inline list-unstyled tools">
                            <li>
                                <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(sub))" uib-tooltip="Edit" target="_self" aria-label="Edit Mixture"><span class="sr-only">
                                    Edit Mixture</span><span class="fa fa-pencil fa-2x success"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class = "col-md-7">
           		@commonlistdetails(sub)
                <div class = "row">
                    <div class = "col-md-3">
                        <h5><strong>Components:</strong></h5>
                    </div>
                    <div class = "col-md-1">
                    <span class = "label label-primary label-rounded">@sub.mixture.size()</span>
                    </div>
                </div>
               
            </div>

            <div class = "col-md-2">
            @commonliststatus(sub)
            </div>
        </div>
    </div>
</div>
