@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.MixtureSubstance
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(sub: MixtureSubstance)

@commonlist(sub) {
    <div class="badge-wrapper">
        <span class="label label-primary label-offset list-view-badge">MIXTURE</span>
    </div>
				<img ng-click="toggle()" class="struc-thumb img-responsive" id="" alt="mixture" src="@routes.Assets.at("ginas/images/mixture.svg")"  />
                @dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                    <div class = "row">
                        <div class = "col-md-12 text-center">
                            <ul class= "list-inline list-unstyled tools">
                                <li class = "col-md-3">
                                    <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(sub))" uib-tooltip="Edit" target="_self" aria-label="Edit Mixture"><span class="sr-only">
                                        Edit Mixture</span><span class="fa fa-pencil fa-2x success"></span></a>
            </li>
                                <li class = "col-md-3"> <a href="@ix.ginas.controllers.routes.GinasApp.index()/beta/substances/@sub.getUuid()/edit" target="_blank" uib-tooltip="New Form" aria-label="Edit Mixture">
                                    <span class="sr-only">Edit New Form</span>
                                    <i class="fa fa-pencil-square fa-2x" aria-hidden="true" ></i></a></li>

                                <li class = "col-md-3">
                                 <a href="@ix.ginas.controllers.routes.GinasApp.wizard("mixture")&importUUID=@sub.uuid&importType=definition" target="_self" uib-tooltip="Copy&nbsp;Definition&nbsp;to&nbsp;New&nbsp;Substance" aria-label="Register Copy"><span class="sr-only"> Register Copy </span>
                    				<span class="fa fa-clipboard fa-2x success"></span>
                				 </a>
                                </li>
                                <li class = "col-md-3">
                                    <a href="@ix.ginas.controllers.routes.GinasApp.wizard("mixture")&importUUID=@sub.uuid&importType=full" target="_self" uib-tooltip="Copy&nbsp;All&nbsp;to&nbsp;New&nbsp;Substance" aria-label="Register Copy"><span class="sr-only"> Register Copy </span>
                                    <span class="fa fa-clipboard fa-2x"></span>
                                    </a>
                                </li>
        </ul>
    </div>
</div>
}
}{
<div class = "row">
    <div class = "col-md-3">
        <h5><strong>Components:</strong></h5>
    </div>
    <div class = "col-md-1">
        <span class = "label label-primary label-rounded">@sub.mixture.size()</span>
    </div>
</div>
} {
}
