@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.NucleicAcidSubstance
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(nuc: NucleicAcidSubstance, ctx: String = null)

@commonlist(nuc) {
    <div class="badge-wrapper">
        <span class="label label-primary label-offset list-view-badge">NUCLEIC ACID</span>
    </div>
				<img ng-click="toggle()" class="struc-thumb img-responsive" id="" alt="nucleic acid" src="@routes.Assets.at("ginas/images/nucleic-acid.svg")"  />
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <ul class= "list-inline list-unstyled tools">
                            <li>
                                <modal-button type= "export" structureid ="'@nuc.getUuid'" format="fas" ></modal-button>
                            </li>
                            <li>
                                <a href="@ix.ginas.controllers.routes.GinasApp.sequence(nuc.nucleicAcid.getSubunits().get(0).sequence)" target="_self" uib-tooltip="Sequence Search" aria-label="Structure Search">
                                    <span class="sr-only">Sequence Search</span>
                                    <i class="fa fa-search fa-2x success"></i></a>
                            </li>
                            @dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                                <li>
                                    <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(nuc))" uib-tooltip="Edit" target="_self" aria-label="Edit Nucleic Acid">
                                        <span class="sr-only">Edit Nucleic Acid</span>
                                        <span class="fa fa-pencil fa-2x success"></span></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
} {
               <div class = "row">
                    <div class = "col-md-3">
                        <h5><strong>Subunits:</strong></h5>
                    </div>
                    <div class = "col-md-9">
                        <span class = "badge">@nuc.nucleicAcid.getSubunits().size()</span>
                    </div>
                </div>
} {
}