@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.NucleicAcidSubstance
@(nuc: NucleicAcidSubstance, ctx: String = null)

<div class="panel panel-default nuc-list" >
    <div class="panel-heading nuc-title">
        <div class = "row">
            <div class = "col-md-10">
                <h3> <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(nuc))" target="_self">@nuc.getName()</a></h3>
            </div>
            <div class = "col-md-2 nuc-approvID">
                <h4 class= "text-right"><a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(nuc))" target="_self">
                    <code>@nuc.approvalID</code></a>
                </h4>
            </div>
        </div>
    </div>
    <div class= "panel-body list-item">
        <div class = "row">
            <div class = "col-md-3 text-center">
                <img ng-click="toggle()" src="@routes.Assets.at("ginas/images/nucleic-acid.svg")" class="struc-thumb img-responsive" id="" />
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <ul class= "list-inline list-unstyled tools">
                            <li>
                                <modal-button type= "export" structureid ="'@nuc.uuid'" format="fas" ></modal-button>
                            </li>
                            <li>
                                <a href="@ix.ginas.controllers.routes.GinasFactory.sequence(nuc.nucleicAcid.getSubunits().get(0).sequence)" target="_self" uib-tooltip="Sequence Search" aria-label="Structure Search"> <i class="fa fa-search fa-2x success"></i></a>
                            </li>
                            <li>
                                <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(nuc))" uib-tooltip="Edit" target="_self" aria-label="Edit Nucleic Acid"> <span class="fa fa-pencil fa-2x success"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class = "col-md-6">

                <div class = "row">
                    <div class = "col-md-2">
                        <h5>Other Names:</h5>
                    </div>
                    <div class = "col-md-10">
                        <h5>@ix.ginas.controllers.GinasApp.namesList(nuc.names)</h5>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-2">
                        <h5>Codes:</h5>
                    </div>
                    <div class = "col-md-10">
                        <h5>@ix.ginas.controllers.GinasApp.codesList(nuc.codes)</h5>
                    </div>
                </div>
            </div>

            <div class = "col-md-2">
                <div class = "row">
                    <div class = "col-md-12">
@*
                        Subunits: <span class = "badge">@nuc.nucleicAcid.subunits.length</span>
*@
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                        @if(nuc.approved==null){
                            <h6>Not Approved</h6>
                        }else{
                            Date approved: <h6>{{@GinasApp.getDateTime(nuc.approved) | date: 'mediumDate'}}</h6>
                        }
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                        Last modified: <h6>{{moment(@nuc.lastEdited.getTime())}}</h6>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                        <code>@nuc.getDisplayStatus()  version: @nuc.version</code>
                    </div>
                </div>
            </div>
        </div>
@*	@if(ctx != null) {
        <div ng-show="bigview" class = "revealable row">
            <div ng-show="initialized">
              <div class = "col-md-12">
		  @for(subunit <- nuc.nucleicAcid.subunits) {
		      @defining(GinasApp.getSeqAlignment(ctx,subunit.uuid.toString)){ r =>
  		         @if(r != null) {
			 <br>
			 <em>Subunit @subunit.subunitIndex</em> <code>@subunit.uuid</code>
			     <pre ng-click="toggle()" class = "struc-thumb img-responsive">
@{"identity = %.3f".format(r.alignments(0).iden)}
@r.alignments(0).alignment
</pre>
		      	  }
		      }
		  }
              </div>
            </div>
        </div>
	}*@
    </div>
</div>
