

@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.NucleicAcidSubstance
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(nuc: NucleicAcidSubstance, ctx: String = null)

@commonlist(nuc) {
    <div class="badge-wrapper">
        <span class="label label-primary label-offset list-view-badge">NUCLEIC ACID</span>
    </div>
				<img ng-click="toggle()" class="struc-thumb img-responsive" id="" aria-label = "toggle nucleic acid" alt="nucleic acid" src="@routes.Assets.at("ginas/images/nucleic-acid.svg")"  />
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <ul class= "list-inline list-unstyled tools">
                            <li class = "col-md-2">
                                <modal-button type= "export" structureid ="'@nuc.getUuid'" format="fas" ></modal-button>
                            </li>
                            <li class = "col-md-2">
                            
                                <span ng-click="subunitsearch=!subunitsearch" uib-tooltip="Sequence Search" aria-label="Structure Search">
                                    <span class="sr-only">Sequence Search</span>
                                    <i class="fa fa-search fa-2x success"></i>
                                </span>
                            </li>
                            @dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                                <li class = "col-md-2">
                                    <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(nuc))" uib-tooltip="Edit" target="_self" aria-label="Edit Nucleic Acid">
                                        <span class="sr-only">Edit Nucleic Acid</span>
                                        <span class="fa fa-pencil fa-2x success"></span></a>
                                </li>
                                <li class = "col-md-2"> <a href="@ix.ginas.controllers.routes.GinasApp.index()/beta/substances/@nuc.getUuid()/edit" target="_blank" uib-tooltip="New Form" aria-label="Edit Nucleic Acid">
                                    <span class="sr-only">Edit New Form</span>
                                    <i class="fa fa-pencil-square fa-2x" aria-hidden="true" ></i></a></li>

                            <li class = "col-md-2">
                              		<a href="@ix.ginas.controllers.routes.GinasApp.wizard("nucleicAcid")&importUUID=@nuc.uuid&importType=definition" target="_self" uib-tooltip="Copy&nbsp;Definition&nbsp;to&nbsp;New&nbsp;Substance" aria-label="Register Copy"><span class="sr-only"> Register Copy </span>
                                        <span class="fa fa-clipboard fa-2x success"></span>
                                    </a>
                            </li>
                            <li class = "col-md-2">
                                <a href="@ix.ginas.controllers.routes.GinasApp.wizard("nucleicAcid")&importUUID=@nuc.uuid&importType=full" target="_self" uib-tooltip="Copy&nbsp;All&nbsp;to&nbsp;New&nbsp;Substance" aria-label="Register Copy"><span class="sr-only"> Register Copy </span>
                                <span class="fa fa-clipboard fa-2x"></span>
                                </a>
                            </li>
                            }
                        </ul>
                        
                            <div class="subunit-list" ng-show="subunitsearch">
                        		@for(subunit <- nuc.nucleicAcid.getSubunits()) {
                        			<div>
		                               	<a href="@ix.ginas.controllers.routes.GinasApp.sequence(subunit.uuid.toString(), "nucleicAcid")" target="_self" uib-tooltip="Sequence Subunit @subunit.subunitIndex Search" aria-label="Structure Subunit @subunit.subunitIndex Search">
	                                    	<span>Subunit <code>@subunit.subunitIndex</code> (@{if(subunit.sequence==null) 0 else subunit.sequence.length}) Similarity Search</span>
	                                	</a>
                                	</div>
                                }
                            </div>
                    </div>
                </div>
} {
<div class = "row">
    <div class = "col-md-3">
        <h5><strong>Subunits:</strong></h5>
    </div>
    <div class = "col-md-9">
        <span class = "badge">@nuc.nucleicAcid.getSubunits().size()</span>
    </div>
</div>
} {
	@if(ctx != null) {
        <div class = "row">
              <div class = "col-md-12">
		  @for(subunit <- nuc.nucleicAcid.subunits) {
		      @defining(GinasApp.getSeqAlignment(ctx, nuc, subunit.uuid.toString)){ r =>
  		         @if(r != null) {
			        <br>
			        <em>Subunit @subunit.subunitIndex</em> <code>@subunit.uuid</code>
		            <pre ng-click="toggle()" class = "struc-thumb img-responsive sequence-alignment">
@{"identity = %.3f".format(r.alignments(0).global)}
@{"local    = %.3f".format(r.alignments(0).iden)}
@{"sub      = %.3f".format(r.alignments(0).sub)}
@{"matched  = " + r.alignments(0).score}
@r.alignments(0).alignment
                    </pre>


        }
}
        }
    </div>
</div>
}
}
