

@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.PolymerSubstance
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(chem: PolymerSubstance, ctx: String = null)

@commonlist(chem) {
				<div class="badge-wrapper">
					<span class="label label-primary label-offset list-view-badge pull-left">POLYMER</span>
				</div>
                <div class = "magnify" ng-click = "showLarge('@chem.polymer.displayStructure.id', '@chem.uuid');">
	                <rendered id = '@chem.polymer.displayStructure.id'>
	                </rendered>
                </div>
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <ul class= "list-inline list-unstyled tools">
                            <li>
                                <modal-button type= "export" structureid ="'@chem.uuid'" format="mol" format2="sdf" ></modal-button>
                            </li>
                            @dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                                <li>
                                    <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(chem))" uib-tooltip="Edit" target="_self" aria-label="Edit Polymer">
                                        <span class="sr-only">Edit Polymer</span>
                                        <span class="fa fa-pencil fa-2x success"></span></a>
                                </li>
                                <li> <a href="@routes.Assets.at("gsrs2/index.html")#/substance/@chem.uuid/names" target="_blank" uib-tooltip="New Form" aria-label="Edit Polymer">
                                    <span class="sr-only">Edit New Form</span>
                                    <i class="fa fa-pencil-square fa-2x" aria-hidden="true" ></i></a></li>
                            }
                        </ul>
                    </div>
                </div>
} {

} {
	<div class="@chem.uuid" ng-click="showLarge('', '@chem.uuid')"></div>
}

