

@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.PolymerSubstance
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(chem: PolymerSubstance, ctx: String = null)

@commonlist(chem) {
				<div class="badge-wrapper">
					<span class="label label-primary label-offset list-view-badge pull-left">POLYMER</span>
				</div>
                <div class = "magnify" ng-click = "showLarge=!showLarge">
                    <rendered id = '@chem.polymer.displayStructure.id' ctx='@ctx' title="click to enlarge">
	                </rendered>
                </div>
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <ul class= "list-inline list-unstyled tools">
                            <li class = "col-md-3">
                                <modal-button type= "export" structureid ="'@chem.uuid'" format="mol" format2="sdf" ></modal-button>
                            </li>
                            @dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                                <li class = "col-md-3">
                                    <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(chem))" uib-tooltip="Edit" target="_self" aria-label="Edit Polymer">
                                        <span class="sr-only">Edit Polymer</span>
                                        <span class="fa fa-pencil fa-2x success"></span></a>
                                </li>
                                <li class = "col-md-3"> <a href="@ix.ginas.controllers.routes.GinasApp.index()/beta/substances/@chem.uuid/edit" target="_blank" uib-tooltip="New Form" aria-label="Edit Polymer">
                                    <span class="sr-only">Edit New Form</span>
                                    <i class="fa fa-pencil-square fa-2x" aria-hidden="true" ></i></a></li>

                            <li class = "col-md-3">
                            	<a href="@ix.ginas.controllers.routes.GinasApp.wizard("polymer")&importUUID=@chem.uuid&importType=definition" target="_self" uib-tooltip="Copy&nbsp;Definition&nbsp;to&nbsp;New&nbsp;Substance" aria-label="Register Copy"><span class="sr-only"> Register Copy </span>
                                        <span class="fa fa-clipboard fa-2x success"></span>
                                    </a>
                            </li>
                            <li class = "col-md-3">
                                <a href="@ix.ginas.controllers.routes.GinasApp.wizard("polymer")&importUUID=@chem.uuid&importType=full" target="_self" uib-tooltip="Copy&nbsp;All&nbsp;to&nbsp;New&nbsp;Substance" aria-label="Register Copy"><span class="sr-only"> Register Copy </span>
                                <span class="fa fa-clipboard fa-2x"></span>
                                </a>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
} {

} {
	 <div ng-if="showLarge" ng-click="showLarge!=showLarge">
            <rendered size="500" id = '@chem.polymer.displayStructure.id' ctx='@ctx' title="click to enlarge" ></rendered>
        </div>
}

