@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.PolymerSubstance



@(chem: PolymerSubstance, ctx: String = null)


<div class="panel panel-default prot-list">
    <div class="panel-heading prot-title">
    	
        <div class = "row">
            <div class = "col-md-10">
                <h3> <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(chem))" uib-tooltip="view record details" target="_self">@chem.getName()</a></h3>
            </div>
            <div class = "col-md-2 prot-approvID">
                <h4 class= "text-right"><a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(chem))" uib-tooltip="view record details" target="_self"><code>@chem.approvalID</code></a></h4>
            </div>
        </div>
    </div>

    <div class= "panel-body list-item">
    	

        <div class = "row">
        	
            <div class = "col-md-3 text-center">
                <span class="label label-primary label-offset list-view-badge pull-left">POLYMER</span>
                <div class = "magnify" ng-click = "showLarge('@chem.polymer.displayStructure.id', '@chem.approvalID');">
	                <rendered id = '@chem.polymer.displayStructure.id'>
	                </rendered>
                </div>
                <div class = "row">
                    <div class = "col-md-12 text-center">
                        <ul class= "list-inline list-unstyled tools">
                            <li>
                                <modal-button type= "export" structureid ="'@chem.uuid'" format="sdf" ></modal-button>
                            </li>
                            <li>
                                <a ng-href="@ix.ginas.controllers.routes.GinasFactory.structuresearch()" target="_self" ng-click= "passStructure('@chem.polymer.displayStructure.id')" uib-tooltip="Structure Search" aria-label="Structure Search">
                                    <span class="sr-only">Edit Polymer</span>
                                    <span class="fa fa-search fa-2x success"></span></a>
                            </li>
                            <li>
                                <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(chem))" uib-tooltip="Edit" target="_self" aria-label="Edit Polymer">
                                    <span class="sr-only">Edit Polymer</span>
                                    <span class="fa fa-pencil fa-2x success"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class = "col-md-6">
                <div class = "row">
                    <div class = "col-md-2">
                        <h5><strong>Other Names:</strong></h5>
                    </div>
                    <div class = "col-md-10 break-text">
                        <h5>@ix.ginas.controllers.GinasApp.namesList(chem.names)</h5>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-2">
                        <h5><strong>Codes:</strong></h5>
                    </div>
                    <div class = "col-md-10">
                        <h5>@ix.ginas.controllers.GinasApp.codesList(chem.codes)</h5>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-3">
                        <h5><strong>Relationships:</strong></h5>
                    </div>
                    <div class = "col-md-9">
                        <span class = "badge">@chem.relationships.size()</span>
                    </div>
                </div>
                @if(chem.getAlternativeDefinitionRelationships().size() > 0) {
                    <div class = "row">
                        <div class = "col-md-2">
                            <h5><strong>Alternative Definitions:</strong></h5>
                        </div>
                        <div class = "col-md-10">
                            <h5>chem.getAlternativeDefinitionRelationships().size()</h5>
                        </div>
                    </div>
                }
            </div>


            <div class = "col-md-2">
                <div class = "row">
                    <div class = "col-md-12">
                        @if(chem.approved==null){
                            <h6>Not Approved</h6>
                        }else{
                            <strong>Date approved:</strong> <h6>{{@GinasApp.getDateTime(chem.approved) | date: 'mediumDate'}}</h6>
                        }
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                        <strong>Last modified: </strong><h6>{{moment(@chem.getLastEdited.getTime())}}</h6>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                <code>@chem.getDisplayStatus()  version: @chem.version</code>
                </div>
                    </div>
            </div>
            
        </div>
        
        <div class="@chem.approvalID" ng-click="showLarge('', '@chem.approvalID')"></div>

    </div>
    
</div><!--END panel panel-primary-->

