@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.ProteinSubstance
@import ix.ginas.models.v1.Protein
@import ix.ginas.models.v1.Glycosylation

@import ix.ginas.models.v1.ProteinSubstance
@(prot: ProteinSubstance, ctx: String = null)

<div class="panel panel-default prot-list" >
    <div class="panel-heading prot-title">
        <div class = "row">
            <div class = "col-md-10">
                <h3> <a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(prot))" uib-tooltip="view record details" target="_self">@prot.getName()</a></h3>
            </div>
            <div class = "col-md-2 prot-approvID">
                <h4 class= "text-right"><a href="@ix.ginas.controllers.routes.GinasApp.substance(GinasApp.getId(prot))" uib-tooltip="view record details" target="_self">
                    <code>@prot.approvalID</code></a>
                </h4>
            </div>
        </div>
    </div>
    <div class= "panel-body list-item">
        <div class = "row">
            <div class = "col-md-3 text-center">
                <img alt ="Protein" aria-label="Protein" class="struc-thumb img-responsive" id="" ng-click="toggle()" ng-src="@routes.Assets.at("ginas/images/protein.svg")"/>
                <div class = "row">
                    <div class = "col-md-12">
                        <ul class= "list-inline list-unstyled tools">
                            <li>
                                <modal-button type= "export" structureid ="'@prot.uuid'" format="fas" ></modal-button>
                            </li>
                            <li>
                            
                                <span ng-click="subunitsearch=!subunitsearch" uib-tooltip="Sequence Search" aria-label="Structure Search">
                                    <span class="sr-only">Sequence Search</span>
                                    <i class="fa fa-search fa-2x success"></i>
                                </span>
                            </li>
                            <li>
                                <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(prot))"  target="_self" uib-tooltip="Edit" aria-label="Edit Protein Substance">
                                    <span class="sr-only">Edit Protein</span>
                                    <i class="fa fa-pencil fa-2x success"></i></a>
                            </li>
                        </ul>
                        <div ng-show="subunitsearch">
                        		@for(subunit <- prot.protein.getSubunits()) {
                        			<div>
		                               	<a href="@ix.ginas.controllers.routes.GinasFactory.sequence(subunit.uuid.toString())" target="_self" uib-tooltip="Sequence Subunit @subunit.subunitIndex Search" aria-label="Structure Subunit @subunit.subunitIndex Search">
	                                    	<span>Subunit <code>@subunit.subunitIndex</code> (@subunit.sequence.length) Similarity Search</span>
	                                	</a>
                                	</div>
                                }
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6">

                <div class = "row">
                    <div class = "col-md-2">
                        <h5>Other Names:</h5>
                    </div>
                    <div class = "col-md-10">
                        <h5>@ix.ginas.controllers.GinasApp.namesList(prot.names)</h5>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-2">
                        <h5>Codes:</h5>
                    </div>
                    <div class = "col-md-10">
                        <h5>@ix.ginas.controllers.GinasApp.codesList(prot.codes)</h5>
                    </div>
                </div>
            </div>

            <div class = "col-md-2">
                <div class = "row">
                    <div class = "col-md-12">
                        Subunits: <span class = "badge">@prot.protein.subunits.length</span>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                        @if(prot.approved==null){
                            <h6>Not Approved</h6>
                        }else{
                            Date approved: <h6>{{@GinasApp.getDateTime(prot.approved) | date: 'mediumDate'}}</h6>
                        }
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                        Last modified: <h6>{{moment(@prot.lastEdited.getTime())}}</h6>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                        <code>@prot.getDisplayStatus()  version: @prot.version</code>
                    </div>
                </div>
            </div>
        </div>
	@if(ctx != null) {
        <div class = "row">
              <div class = "col-md-12">
		  @for(subunit <- prot.protein.subunits) {
		      @defining(GinasApp.getSeqAlignment(ctx,subunit.uuid.toString)){ r =>
  		         @if(r != null) {
			 <br>
			 <em>Subunit @subunit.subunitIndex</em> <code>@subunit.uuid</code>
			     <pre ng-click="toggle()" class = "struc-thumb img-responsive">
@{"identity = %.3f".format(r.alignments(0).iden)}
@r.alignments(0).alignment
</pre>
		      	  }
		      }
		  }
              </div>
            </div>
	}
    </div>
</div>
