@import ix.core.models.Structure
@import ix.ginas.controllers.GinasApp
@import ix.ginas.models.v1.ProteinSubstance
@import ix.ginas.models.v1.Protein
@import ix.ginas.models.v1.Glycosylation
@import be.objectify.deadbolt.java.views.html._
@import ix.ncats.controllers.security.IxDynamicResourceHandler

@(prot: ProteinSubstance, ctx: String = null)

@commonlist(prot) {
    <div class="badge-wrapper">
        <span class="label label-primary label-offset list-view-badge">PROTEIN</span>
    </div>
				<img alt ="Protein" aria-label="Protein" class="struc-thumb img-responsive" id="" ng-click="toggle()" ng-src="@routes.Assets.at("ginas/images/protein.svg")"/>
                <div class = "row">
                    <div class = "col-md-12">
                        <ul class= "list-inline list-unstyled tools">
                            <li class = "col-md-3">
                                <modal-button type= "export" structureid ="'@prot.uuid'" format="fas" ></modal-button>
                            </li>
                            <li class = "col-md-3">
                            
                                <span ng-click="subunitsearch=!subunitsearch" uib-tooltip="Sequence Search" aria-label="Structure Search">
                                    <span class="sr-only">Sequence Search</span>
                                    <i class="fa fa-search fa-2x success"></i>
                                </span>
                            </li>
                            @dynamic(name = IxDynamicResourceHandler.CAN_UPDATE, handler = new ix.ncats.controllers.security.IxDeadboltHandler()) {
                                <li class = "col-md-3">
                                    <a href="@ix.ginas.controllers.routes.GinasFactory.edit(GinasApp.getId(prot))" target="_self" uib-tooltip="Edit" aria-label="Edit Protein Substance">
                                        <span class="sr-only">Edit Protein</span>
                                        <i class="fa fa-pencil fa-2x success"></i></a>
                                </li>

                                <li class = "col-md-3"> <a href="@routes.Assets.at("gsrs2/index.html")#/substance/@prot.getUuid()/names" target="_blank" uib-tooltip="Edit New Form" aria-label="Edit Protein Substance">
                                    <span class="sr-only">Edit New Form</span>
                                    <i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i></a></li>
                            }
                        </ul>
                        
                        <div ng-show="subunitsearch">
                        		@for(subunit <- prot.protein.getSubunits()) {
                        			<div>
		                               	<a href="@ix.ginas.controllers.routes.GinasApp.sequence(subunit.uuid.toString())" target="_self" uib-tooltip="Sequence Subunit @subunit.subunitIndex Search" aria-label="Structure Subunit @subunit.subunitIndex Search">
	                                    	<span>Subunit <code>@subunit.subunitIndex</code> (@subunit.sequence.length) Similarity Search</span>
	                                	</a>
                                	</div>
                                }
                        </div>
                    </div>
                </div>
} {
               <div class = "row">
                    <div class = "col-md-3">
                        <h5><strong>Subunits:</strong></h5>
                    </div>
                    <div class = "col-md-9">
                        <span class = "badge">@prot.protein.getSubunits().size()</span>
                    </div>
                </div>
} {
	@if(ctx != null) {
        <div class = "row">
              <div class = "col-md-12">
		  @for(subunit <- prot.protein.subunits) {
		      @defining(GinasApp.getSeqAlignment(ctx, prot, subunit.uuid.toString)){ r =>
  		         @if(r != null) {
			        <br>
			        <em>Subunit @subunit.subunitIndex</em> <code>@subunit.uuid</code>
		            <pre ng-click="toggle()" class = "struc-thumb img-responsive">
@{"identity = %.3f".format(r.alignments(0).global)}
@{"local    = %.3f".format(r.alignments(0).iden)}
@{"sub      = %.3f".format(r.alignments(0).sub)}
@{"matched  = " + r.alignments(0).score}
@r.alignments(0).alignment
@{"Target Sites:" + GinasApp.siteShorthand(subunit.subunitIndex,r.alignments(0).targetSites())}
                    </pre>
                    
		      	  
		      	  }
		      }
		  }
              </div>
            </div>
	}
}
