@CHARSET "UTF-8";

body {
    position: relative;
    background-color: #F8F8F8;
    /*padding-top: 75px;*/
}

body, html {
    min-height: 100%;
    height: 100%;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.container-fluid {
    background-color: white;
}

.panel-body {
    padding-top: 0px;
}

.panel-group{
    margin-bottom: 20px;
}

.panel-footer.nameDiv {
    min-height: 90px;
}

#left-menu{
    padding-top: .7%;
    height: 50px;
}

#right-menu{
    padding-top: .4%;
}

.list-detail-value{
	margin-left:20px;
}

.top-bar {
    width: 100%;
    position: relative;
}

.top-bar-content {
    position: absolute;
    left: 315px;
    right: 0;
    bottom: 0;
}

.top-bar-content-line {
    height: 40px;
    position: relative;
}

.top-bar-content-line .auth-data {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 0 5px 10px;
    overflow: hidden;
}

.top-bar-content-line .search-actions {
    position: absolute;
    right: 0;
    display: inline-block;
    vertical-align: top;
    padding-top: 11px;
}

.logo-container {
    width: 315px;
    padding: 0 15px 0 0;
    float: left;
}

.logo-container img {
    width: 300px;
    height: auto;
    vertical-align: middle;
}

#logo{
    height: 80px;
}

#search-bar {
    padding-top: 4px;
    width: 100%;
}

#content {
    padding-top: 0px;
}


nav#breadcrumb {
    padding-bottom: 10rem;
}

.info {
    margin-bottom: 10px;
    background: #ffffff;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-tabs {
    border-bottom: none;
}

.label-offset {
    margin-left: -16px;
    border-radius: 0 .25em .25em 0;
}

.det {
    margin-left: -8px;
    font-size: 18px;
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.det:hover {
    background-color: #337ab7;
    cursor: hand;
}

#struc-label {
    margin-left: -8px;
}

.list-view-badge {
    font-size: 16px;
    margin-left: -20px
}

.det {
    font-size: 18px;
}

#version {
    padding-top: 40px;
    text-align: left;
}

#icons {
    padding-top: 100px;
    text-align: center;
}

div.box:hover .on {
    display: block;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

}

div.box:hover .off {
    display: none;

}

div.box .on {
    display: none;

}


.grid {
    margin-top: 15px;
}

.list-item {
    background-color: white;
    border: 1px solid #e8e8e8;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*PAGINATION CSS */
.pagination > li > a, .pagination > li > a:hover {
    color: #1f355c;
}

.pagination > .active > a, .pagination > .active > a:hover {
    background-color: #1f355c;
    border-color: #1f355c;
}

nav#main-pagination {
    margin-top: -15px;
    margin-bottom: -20px;
}

nav#main-pagination {
    margin-top: -15px;
    margin-bottom: -20px;
}

.pagination-list {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -3%;
    margin-bottom: -1%;
}

/*END PAGINATION CSS */
/*/!* TYPEAHEAD CSS *!/
.twitter-typeahead {
    width: 100% !important;
    height: 20px !important;
}

.tt-dropdown-menu {
    width: 120%;
    top: 220% !important;
    background-color: rgba(255, 255, 255, .9);
}

.tt-suggestion {
    padding-top: 4%;
    padding-bottom: 1%;
    padding-left: 4%;
}

.header {
    padding-top: 4%;
    padding-left: 2%;
    background-color: rgba(31, 53, 92, .9);
    color: white;
    padding-bottom: 4%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.tt-suggestion:hover {
    background-color: rgba(31, 53, 92, .2);
}

#chartSelect-button {
    width: 51% !important;
}

.tt-cursor {
    background-color: rgba(31, 53, 92, .2);
}
*/
  .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  #searchtop .custom-popup-wrapper {
    width: 100% !important;
  }

  .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .custom-popup-wrapper .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

.uib-typeahead-match>a{
    white-space: normal !important;
  }

.custom-popup-wrapper.type-ahead-wrapper>div {
    /*
    // This was previously useful for making sure that the full size of the screen was taken
    // up by the type-ahead suggestions. But doesn't work now.
    margin-right: -48px;
    */
}

/* END TYPEAHEAD CSS *!/*/









.thumb-col {
    padding-left: 5px;
    padding-right: 5px;
}

.struc-thumb {
    /* 	border: 1px solid #f8f8f8; */
    border-radius: 4px;
    background-color: #ffffff;
    display: block;
    margin: auto;
    margin-top: 5px;
    font-family: monospace;
}

.subref{
    min-width: 150px;
}

#local-menu {
    position: absolute;
    top: 23%;
    z-index: 3;
    background: #FFF;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.modal {
    top: 17%;
}

.tools{
    margin-top: 10%;
    margin-bottom: 2%;
}

.tools>li{
    padding-left:5%;
    padding-right:5%;
}

.tools-bottom{
    margin-top: 5%;
    margin-bottom: 2%;
}

.row.stereo {
    position: relative;
    top: -180px;
    font-size: 18px;
}

/*adjust thumb 'type' label when bootstrap col == md*/
@media screen and (min-width:992px) and (max-width:1200px) {
    .row.stereo {
        top: -144px;

    }
}

.sub-table {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.zoom {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
    z-index: 3;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    overflow: visible;
    font-size: 10px;
}

.normal {
    z-index: 4;
    -webkit-transform: scale(.55);
    -moz-transform: scale(.55);
    -o-transform: scale(.55);
    transform: scale(.55);
    overflow: visible;
}

#strucExport {
    margin-right: 15px;
}

#strucExportChem {
    margin-right: -20px;
    z-index: 6;
    overflow: visible;
    font-size: 18px;
    position: relative;
    margin-top: -1px;
}

#exportSave {
    display: flex;
}

.exportArea {
    font-family: "Lucida Console", Monaco, monospace;
    word-wrap: initial;
    background-color: #f8f8f8;
    white-space: pre;
    font-size: 9pt;
}

#exportMol {
    height: 300px;
}

.monodata {
    font-family: monospace;
    width: 100%;
    height: 500px;
    word-wrap: initial;
    white-space: pre;
    font-size: 9pt;
}

#strucThumbSearch {
    z-index: 9;
}

.thumbs {
    font-size: 18px;
    position: relative;
    margin-top: -1px;
}

.approveID {
    font-family: "Lucida Console", Monaco, monospace;
}

.nameDiv {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

#draw-box {
    width: 113%;
}

samp {
    font-family: "Lucida Console", Monaco, monospace;
}

.prot-list {
    margin-bottom: 0px;
}

.prot-title {
    padding-top: 0px;
}

.prot-approvID {
    margin-top: 15px;
}

.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.bar-holder {
    padding-right: 35px;

}

.bars {
    font-size: 21px;
}

#draw-box {
    width: 113%;
}

samp {
    font-family: "Lucida Console", Monaco, monospace;
}

.highlight {
    padding-left: 3px;
    padding-right: 3px;
    margin-left: -10px;
}

.highlight:hover {
    background-color: yellow;
    font-weight: bold;
    cursor: default;
    color: black;
}

.col-md-12.string {
    line-height: 1;
    font-size: 15px;
    font-family: "Lucida Console", Monaco, monospace;

}

div.col-md-9> #subunits > div.col-md-12 > subunit> div > div > div > span.pull-right.count.ng-binding{
    font-size: 10px;
    margin-right: 7%;
}

span.count {
    font-size: 10px;
    margin-right: 22%;
}

.label-rounded {
    border-radius: 1em;
}

.tooltip {
    letter-spacing: 0px;
}
.tooltip[placement="top"] {
    min-width: 150px; /*stops tooltips from displaying too low*/
}
.prot-list {
    margin-bottom: 0px;
}

.prot-title {
    padding-top: 0px;
}

.prot-approvID {
    margin-top: 15px;
}

i#numbers-off {
    position: absolute;
    left: 30px;
    display: none;
}

/*TOGGLE SWITCH*/
div#viewSwitch, div#formSwitch {
    left: -6%;
}

span#enabled {
    left: -20%;
}

.toggleSwitch {
    background-color: #337ab7;
    border: 1px solid #337ab7;
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    overflow: visible;
    width: 50px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    top: 25px;
    z-index: 99;
}

.toggleSwitch small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    width: 25px;
    height: 25px;
    position: absolute;
    top: -2px;
    left: -1px;
    transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
}

.toggleSwitch.checked small {
    left: 27px;

}

.toggleSwitch .off {
    display: block;
    position: absolute;
    right: -72%;
    top: -5%;
    z-index: 0;
    color: #333333;
}

.toggleSwitch .on {
    display: block;
    z-index: 0;
    position: absolute;
    top: 0%;
    left: -80%;
    color: #333333;
}

.toggleSwitch.checked .off {
    display: block;
}

.toggleSwitch.checked .on {
    display: block;
}

i#grid-view-off {
    position: absolute;
    left: 30px;
    display: none;
}

/*TOGGLE */
.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.bar-holder {
    padding-right: 35px;

}

.bars {
    font-size: 21px;
}

.pour {
    top: 20px;
    left: -14px;
}

.keyvalue tr td:first-child {
    font-weight: bold
}

.subconcept {
    font-style: italic;
    color: black;
}

/*REGISTRATION PANELS*/
.success {
    color: #5cb85c;
}

.success:hover {
    color: #398439;
}

.whole {
    color: #5cb85c;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    font-size: 5em;

}

.whole:hover {
    color: #398439;
}

.danger {
    color: #d9534f;
}

.danger:hover {
    color: #ac2925;
}

.warning {
    color: #f0ad4e;
}

.warning:hover {
    color: #ec971f;
}

.part {
    color: #f0ad4e;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    font-size: 5em;
}

.part:hover {
    color: #ec971f;
}

.form-group .help-block, .form-group .help-block-duplicate {
    display: none;
}

.form-group.has-error .help-block, .form-group .help-block-duplicate {
    display: block;
}

.header-row {
    text-align: left;
    border-top: 0;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.form-row {
    padding-top: 30px;
}

.full-width {
    max-width: 100% !important;
}

.disabled {
    opacity: .6;
    pointer-events: none;
}

span#calendar-icon {
    background: white;
}

div#structureSearcher {
    padding-top: 20px;
    padding-bottom: 15px;
}

div#jsdraw {
    padding-bottom: 20px;
}

.padded {
    padding-left: 15px;
    padding-right: 5px;
}

#mol-sequence {
    font-family: monospace;
    font-size: 8pt;
}

a {
    cursor: pointer;
}

h2.display-name {
    padding-right: 25px;
    margin-top: 5px;
}
h3.display-name {
    word-wrap: break-word;
}

.holder {
    min-height: 20px;
}

.progress-text {
    white-space: nowrap;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.field-values div {
}

.field-values code {
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.field-values .tooltip-inner {
    max-width: 500px !important;
}

.revealable.row.ng-hide {
    height: 0;
}

.revealable.row {
    transition: .2s linear all;
    height: 400px;
    overflow: hidden;
    display: block !important;
    background: rgb(240, 240, 240) none repeat scroll 0% 0%;
}

.list-item .struc-thumb {
    cursor: pointer;
}

.spacer {
    clear: both;
}

.break-text {
    overflow-wrap: break-word;
}

/*
input#search {
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s ;
    transition: width 0.3s;
    width: 200px;
    background-color: #ffffff !important;

    !*
    margin-right: -1px;
    *!
}*/

/*input#search:focus {
    width: 400px;
}*/

/*#searchtop {
    position: absolute;
    top: 0px;
    right: 0px;

}

div#searchbarmobile {
    height: 300px;
}*/

.appid {
    margin-top: -10px;
}

sketcher svg > text {
    display: none

}

div.col-md-9> div#subunits > div> subunit > div > div> div> span> amino-acid>a.aminoAcid{
        font-family: "Lucida Console", Monaco, monospace;
        padding-left: 1px;
        padding-right: 1px;
        margin-left: -3px;
    }



.aminoAcid {
    font-family: "Lucida Console", Monaco, monospace;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -3px;
}



.plain {
   color: black;
    opacity: 1;
}

 .plain a{
   color: black;
    opacity: 1;
}

.modification{
    background: #a6c435;
    color: black;
}

.modification:hover{
    background: #b6d937;
    color: black;
}

.glycosylation{
    background: #912780;
    color: white
}

.glycosylation:hover{
    background: #a0298d;
    color: white
}

.otherLinks{
    background: #CD9937;
    color: black
}

.otherLinks:hover{
    background: #e3a83a;
    color: black
}

.disulfide{
    background: #2f4d89;
    color: white
}

.disulfide:hover{
    background: #325497;
    color: white
}

.site {
    background: #00A89C;
    color: white;
}

.site:hover {
    background: #04bbad;
    color: white;
}

.invalidAA {
    color: red;
    font-family: "Lucida Console", Monaco, monospace;

}

.tooltip.invalidTool .tooltip-inner {
    color: black;
    background-color: red;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.tooltip.invalidTool .tooltip-arrow {
    display: none;
}

.editreminder {
    background: #dff0d8;
}

.noleftpadding {
    padding-left: 0 !important;
    margin: 0 !important;
}

.norightpadding {
    padding-right: 0 !important;
    margin: 0 !important;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 60px;
    height: 60px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube1 {
    background-color: rgba(161, 200, 227, 0.50);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube2 {
    background-color: rgba(161, 200, 227, 0.75);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    background-color: rgba(15, 41, 77, 0.75);
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    background-color: #ffffff;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube2:before {
    background-color: #A1C8E3;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    background-color:  #0F294D;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    background-color: black;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

.magnify {
    cursor: zoom-in;
}

.mol-data-import {
    padding: 40px;
}

.url{
    word-break: break-word;
word-wrap: break-word;
}

ins {
    color: #3c763d;
    background-color: #dff0d8;
}

del{
    color: #a94442;
    background-color: #f2dede;
}
.amt{
    white-space: pre;
}


/*classes for reference card tables to adjust styling for nested detail and reference tables*/
.amt-card  .amt{
    word-break:break-word;
    white-space:normal;
}

.relationship-details {
    max-width: 350px;
    word-wrap: break-word;
}

.relationship-related-record {
    max-width: 350px;
    word-break: break-word;
}

.moreDetails {
    border-top:0px solid white;
    padding-left:7px;
    padding-right:7px;
    margin-bottom:10px;
}

.moreDetails th{
    border-top: 0px solid white !important;
}

.main-relationship-tr{
    border-top: 2px solid lightgrey !important;
}

.ref-table-td{
    border-top:0px solid white !important;
}

.relationship-subtable-tr{
    border-bottom: 1px solid #ddd !important;
    border-top-width:0px;
}



.diff{
    white-space: normal;
}

.ng-isolate-scope.auto.white.fade.tooltip.in {
    z-index: 10000;
}

.tooltip.white .tooltip-inner {
    background-color: white;
    color:black;
    font-weight: bold;
    border: 1px solid #DDD;
}

/* This may be there for a good reason,
    but was causing issues on zoomed in structures
img.tooltip-img.ng-scope {
    margin-left: -7%;
}
*/

ul.tree-list {
    list-style-type: none;
    padding-left: 20px;
}

@media (min-width: 992px) {
    .modal-xl {
        width: 1200px;
    }
}

.fa-15x {
    font-size: 15em;
    padding: 10%;
}

#lockmessage{
	background:  #d9534f;
    width: 		100%;
    position: fixed;
    top:  0px;
    left: 0px;
    z-index: 1999998;
    color: white;
    padding:5px;
}

.json-formatter-row .string {
    white-space: inherit;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.smallcaps{
    font-variant: small-caps;
}

a#resolverButton {
    margin-top: 25px;
}

.kew {
    max-height: 30px;
    margin-top: 10%;
}

pre.fixedsize{
	max-height: 200px;
    white-space: pre-wrap;
    word-break: break-word;
}

.row.ng-scope.reftable {
    margin-right: 0px;
}

.subunitButtons {
    padding-left: 2%;
    padding-right: 2%;
}

.subrefThumb{
    min-width: 150px;
    max-width: 40%;
    margin: auto;
 }

.form-div{
    padding-top: 1%;
    padding-bottom: 1%;
}

amino-acid.selected-acid a {
    background: #00faff !important;
}
.subunit-chunk{
	min-width: 165px;
}
h4.title-name{
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
    margin-top: 20px;
}

.help-info{
    margin-left: 15px;
    padding-top:15px;
}

.navbar-btn{
    padding: 6px 12px !important;
    margin-left: 15px;
    margin-top: 15px;
}
.list-group-item.row {
    border: none;
    padding-bottom: 0;
    padding-top: 0;
    margin-top:5px;
}

.list-group-item.row label{
	overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0px;
    font-weight: normal;
}

.list-group-item.row .badge {
    margin-right: -15px;
}

/*the grid framework adds negative margins here
  so we compensate with a little padding


 8/2018 added more padding, assuming container shrunk*/
.record-container{
	padding:0px;
	padding-left:4px;
	padding-right:4px;
}
.record-container.panel-body{
	padding:0px;
    padding-top:10px;
	padding-left:4px;
	padding-right:4px;
}

.small-spacer {
    margin-top: 10px;
}

.row.striped {
    border-top: 1px solid #DADADA;
}

.name-details{
	font-size: 8pt;
	background-color: rgb(249, 249, 249);
}

.name-table.table > tbody > tr > td{
	border-top:none;
}
.pref-name, .display-name {
    font-style: italic;
    font-weight: normal;
}
.row-spacer{
	border-bottom:1px solid #ddd;
}

.locators label{
	font-size:small;
    font-style: italic;
}
.name-type{
	font-size: small;
	font-weight: bold;
}
.name-form{
	font-weight:bold;
}
span.nowrap-list {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.query-term {
    color: #000;
    background: #e7e7e7;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
.minor-option{
	font-weight:normal !important;
	font-size:85%;
}

.no-margin{
    margin-bottom:0;
}
.center-text{
    text-align: center;
}
.fieldfacet .dropdown-menu {
    width: 250px;
    left: 50%;
    margin-left: -125px;
}

.field-facet-group{
	margin-left:10px;
}

.inline{
	display:inline-block;
}
.field-facet-label{
	margin-right:10px;
}
.placeholder-content{
	background-color: #F8F8F8; 
}

.list-detail-value{
	float:right;
}

.tooltip{
	margin-top:-15px !important;
}
.badge-wrapper{
	text-align:left;
}
.sequence-edit{
    font-family: monospace;
}
.align-right{
    float: right;
}
/*.loading {
    position: absolute;
    padding: 100px;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    text-align: center;
    width: 100%;
    height: 101%;
    opacity: 0.95;
}*/

.loading {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top:50%;
    left: 50%;
    align: center;
    z-index: 1000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.invisible{
	visibility: hidden;
}
.type-ahead-wrapper li a {
    overflow-x:hidden;
    white-space:nowrap !important;
    text-overflow:ellipsis;
}







.b-loader,
.b-loader:before,
.b-loader:after {
  background: #a4c7e2;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 1em;
}
.b-loader {
  color: #000000;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.b-loader:before,
.b-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.b-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.b-loader:after {
  left: 1.5em;
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 1em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 3em;
  }
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 1em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 3em;
  }
}



@keyframes spinner {
  to {transform: rotate(360deg);}
}



.spinner-loader:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  margin-top: -10px;
  border-radius: 50%;
  border-top: 2px solid #07d;
  border-color: #07d;
  border-right: 2px solid transparent;
  animation: spinner 1.2s linear infinite;
}

.spinner-loader{
	position: relative;
    display: inline-block;
    margin-top: 12px;
    margin-right: 12px;
    left:0px;
    top:0px;
}
.spinner-loader-container{
	display: inline;
}

.facet-loading-bar{
	width: 100%;
    padding-left: 10px;
    height:15px;
    animation: fadein1 1s;
}

@keyframes fadein1 {
    0%   { height: 0px; opacity:0;}
    70%  { height: 0px; opacity:0;}
    100%  { height: 15px; opacity:1;}
}




[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.fade-ng-cloak {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.fade-ng-cloak[ng-cloak] {
  display: block !important;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.fade-ng-cloak.ng-hide,
.fade-ng-cloak.ng-cloak,
.fade-ng-cloak.ng-binding {
    opacity: 0;
    transition: opacity 800ms ease-in-out;
}
}

.fade-ng-cloak.ng-binding {
    opacity: 1;
}

.panel-title {
    outline: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 35px;
}

.grid-toggle .toggleSwitch{
	top:0;
}
.gsrs-datatable td .hidden {
    display:none;
}
/*for admin pannel tabs*/
.admin-tabs .nav-tabs>li>a{
	padding-left: 3px;
    padding-right: 3px;
}

.docked-actions {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0 auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

@media(min-width: 768px){
    .docked-actions{
        width: 768px;
        padding-left: 9px;
        padding-right: 9px;
    }
}

@media(min-width: 992px){
    .docked-actions{
        width: 992px;
        padding-left: 11px;
        padding-right: 11px;
    }
}

@media(min-width: 1200px){
    .docked-actions{
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.loader-horizontal, .loader-horizontal-modal {
    height: 4px;
    width: 100%;

    overflow: hidden;
    background-color: #ddd;
    top: 0px;
    z-index: 9999999;
  }
  .loader-horizontal:before, .loader-horizontal-modal:before {
    display: block;
  position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
}

  @keyframes loading {
      from {left: -200px; width: 30%;}
      50% {width: 30%;}
      70% {width: 70%;}
      80% { left: 50%;}
      95% {left: 120%;}
      to {left: 100%;}
  }

  .loader-horizontal {
    position: fixed;
  }

  .loader-horizontal-modal {
    position: absolute;
    left: 0;
  }

  .active-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .8);
    z-index: 100002;
    animation-name: expand;
    animation-duration: .35s;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .active-search .main-search {
      padding-right: 43px;
  }

  .active-search #search-bar {
    padding-left: 7px;
  }

  .search-close {
      display: none;
  }

  .search-close {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 100003;
    opacity: 0;
  }

  .search-help, .search-guide {
    display: none;
}

  .active-search .search-help, .active-search .search-guide {
      display: block;
      padding: 10px 30px;
      text-align: left;
      background-color: white;
  }

  .active-search .search-close {
      opacity: 1;
      display: block;
      animation-name: fade-in;
      animation-delay: 350ms;
      animation-duration: 200ms;
  }

  .active-search .null-zone {
    position: fixed;
    top: 80px;
    bottom: 0;
    width: 100%;
  }

  .deactivate-search {
    overflow: hidden;
    position: fixed;
    padding: 0;
    top: 0;
    background: white;
    z-index: 100002;
    animation-name: retract;
    animation-duration: .35s;
    background-color: white;
  }

  .deactivate-search .search-help, .deactivate-search .search-guide {
    /* animation-name: height-decrease;
    animation-duration: .35s; */
    background-color: white;
}

.deactivate-search .search-close {
    animation-name: fade-out;
    animation-duration: .35s;
}

.search-help-toggle,  .search-guide-toggle, .search-toggle-container{
    display: none;
}

.active-search .search-help-toggle, .active-search .search-guide-toggle {
    display: inline;
}

.active-search .search-toggle-container {
    margin-top: -4px;
    display: block;
    background-color: white;
    padding: 10px 0;
}

.search-help .heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.search-help .description {
    margin-bottom: 20px;
}

.search-help .example {
    padding-left: 20px;
    margin-top: 10px;
}

.search-help.ng-hide, .hg-hide .search-guide {
    height: 0;
    /* animation-name: height-decrease;
    animation-duration: .30s; */
}

.search-help:not(.ng-hide), .search-guide {
    height: auto;
    /* animation-name: height-increase;
    animation-duration: .30s; */
}

  .active-search ul:not(.uib-datepicker-popup):not(.dropdown-menu),
  .active-search ul:not(.uib-datepicker-popup):not(.dropdown-menu) li,
  .active-search ul:not(.uib-datepicker-popup):not(.dropdown-menu) li form,
  .active-search ul:not(.uib-datepicker-popup):not(.dropdown-menu) li #search-bar {
    width: 100%;
    -webkit-transition: all .35s; /* Safari */
    transition: all .35s;
    background-color: white;
    padding-right: 12px;
  }

  .active-search ul:not(.uib-datepicker-popup .dropdown-menu) {
    padding: 10px 20px;
  }

  .active-search .form-inline .input-group .input-group-btn {
      width: 65px;
  }

  .active-search ul:not(.uib-datepicker-popup):not(.dropdown-menu) > li > a {
      display: inline-block;
  }

  .active-search ul:not(.uib-datepicker-popup):not(.dropdown-menu) > li > a:focus, .active-search ul:not(.uib-datepicker-popup):not(.dropdown-menu) > li > a:hover {
      background-color: white;
  }

  .spaced-line {
      margin-top: 7px;
      margin-bottom: 7px;
  }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes height-increase {
    from {height: 0;}
    to {height: auto;}
}

/* Standard syntax */
@keyframes height-increase {
    from {height: 0;}
    to {height: auto;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes height-decrease {
    from {height: auto; opacity: 1;}
    to {height: 0; opacity: 0;}
}

/* Standard syntax */
@keyframes height-decrease {
    from {height: auto; opacity: 1;}
    to {height: 0; opacity: 0;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* Standard syntax */
@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

  .gutter-fix[id = "list"]{
      margin-left:-5px;
      margin-right:-5px;
  }

    .gutter-fix[id = "grid"]{
        margin-left:-10px;
        margin-right:-10px;
    }
.relpos{
       position: relative;
}

.search-error{
	color:red;
}

.null-zone{
	width: 100%;
    height: 100%;
    cursor: inherit;
}

/*changes for audit and references sub-tables */
#overview-audit-table td{
    border:none;
}


.no-sort {
    pointer-events: none!important;
    cursor: default!important;
}

.no-sort::after {
    display: none!important;
}

.reference-button{
    display: block;
    margin: auto;
    padding-top:1px;
    padding-bottom:1px
}



.fa-1_1x{
    font-size:110% !important;
}

#moiety-table{
    margin-bottom:5px;
}
#addCVTermForm{
    word-break:break-word;
}

/*styles for the buttons in the overview card. If these are approved, switch to classes and apply to all buttons*/
#button-container {
    width:270px;
    position:absolute;
    top:-70px;
    padding-top:20px;
    right:-50px;
    padding-right:40px;
    margin-top:2px;
}

#button-container>div{
    margin-right:15px;
}

@media(max-width: 768px) {
    #button-container {
        top:-50px;
        padding-top:50px;
        z-index: 9999;
    }
    .external-links {
        float:right;
        padding-top:50px;
    }

}

.external-links {
    padding-top:10px;
    float:right;
}

.download-button {
    padding: 4px;
    font-size: 22px;
    padding-bottom: 1px;
    padding-top:5px;
    border-color:#337ab7;
}

#edit-button {
    font-size:32px;
    margin-top:-2px;
}


#newform-button {
    background-color:#337ab7;
    border-color:#337ab7;
    height:30px;
    width:30px;
    border-radius:4px;
    padding-top: 2px;
    padding-left: 1px;
    color:white;
    display: inline-block;
    margin-bottom: 0;
    font-size: 26px;
    text-align: center;
    vertical-align: middle;
}

#newform-button:hover {
    background-color:#2f5f8e;
}

.align-left{
    float:left;
}

/*prevent lock icon from being included in browse title hiddden overflow*/
.title-name-lock{
    width: 20px;
    float: left;
}
.title-name-container{
    max-width: 92%;
    max-width: calc(100% - 21px);
    float: left;

}

/*allow hidden overflow to hierarchy tree and re-create original styling for 2 line rows*/
.jstree-container-ul{
    max-width:100%;
}

.tree-content-overflow{
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
substance-line{
    float:left;
    padding-right:5px;
}
.jstree-anchor{
    width:100%;
    max-width:95%;
    height:auto !important;
    line-height:20px !important;
}
.jstree-themeicon.jstree-themicon-custom{
    width:0px; !important
display:none;
}

.jstree-default.jstree-wholerow{
    height:auto;
}

.jstree-overflow{
    max-height:500px;
    overflow:auto;
}
.jstree-themeicon-custom{
    display: none !important;
    width:0px !important;
}
.jstree-right{
    width:200px;
    max-width:26%;
    float:right;
    text-align:right;
    overflow: hidden;
    text-overflow: ellipsis;
}
.jstree-left{
    width:70%;
    float:left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jstree-wholerow:hover{
    background-color:#e7f4f9 !important;
}
.jstree-wholerow.double-row{
    height:45px !important;
}
.wholerow-alt{
    background-color:#f2f2f2;
}
.hierarchy-id{
    font-family: monospace;
    color:#a61d3f;
    font-size:11pt;
}
.jstree-anchor{
    cursor: default;
}
/*Classes for detail page modal enlarged structure image*/
.modal-image-body{
    height:100%;
    padding:0px;
}
.image-window{
    top:0;
}
.modal-image-names{
    padding:15px;
    padding-top:0px;
    display:inline-block;
    margin-top:-10px;
    width:100%;
    max-width:700px;
}

@media(min-width: 722px){
    .modal-image {
        min-width: 700px;
    }
}
.hierarchy-loading{
    display:none;
    padding-left:15px;
}

.structure-image-margins{
    margin-top:-9%;
    margin-bottom:-2%;
}

.structure-toggle{
    padding:8px;
	margin-bottom:15px;
}

.full-nav > li{
    width:33%;
    text-align:center;
    margin-bottom:20px;
}

.inline-block {
    display: inline-block;
}

.auto-width {
    width: auto;
}

#searchtop.search-top {
    position: absolute;
    right: 100px;
    left: 0;
    top: 0;
    padding-right: 5px;
}

#searchtop .form-inline .input-group .input-group-btn {
    width: 40px
}

.subunit-list{
	clear:both;
}

.stereo-button{
	margin-top: 9%;
    position: absolute;
    z-index:9;
}

.clip-canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height:0px;
    width:0px;
    max-width:800px;
}
.canvas-display{
    height:auto !important;
    width: auto !important;
    border:1px solid lightgrey;
}
.dragover {
    outline: 5px dashed blue;
}
.modal-tab{
    font-size:17px;
    padding: 10px 25px !important;
}

.admin-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

#menu{
    margin-bottom:15px;
}

/*New menu bar - copied from srs.css*/
#mymenubar {
    background-image: linear-gradient(to top, #dceaf1 , white);
    border-top:1px solid #1d84b7;
    border-bottom: 1px solid #1d84b7;
    /*color:#FFFFFF;*/
    color:#1d84b7;
}

#mymenubar ul li a {
    color:#1d84b7;
    font-size:12px;
    font-weight:bold;
    padding-top:15px;
}

#mymenubar > .pull-left li a{
    padding-top: 18px;
    padding-bottom: 19px;
}
#mymenubar > .pull-left .active>a {
    background-color: #1d84b7;
    color: white !important;
}
.admin-functions > a {
    display: block;
    width: 100%;
    padding: 3px 6px 3px 6px;
    clear: both;
    color: rgb(33, 37, 41);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.admin-functions > a:hover{
    background-color:lightblue;
    text-underline-style: none;
}
.clean-structure {
    margin-top:5px;
    margin-bottom: -10px;
    padding-right:5px;
    float:right;
}
#rawJson {
    width:100%;
    height:800px;
}

#beta-button {
    padding-left: 20px;
    font-size: 13px !important;
    color: #4b84fc !important;
}